<div class="modal setup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{'Setup.Modules.DeleteModule' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="confirmation-modal clearfix">
                    <i class="fa fa-2x fa-exclamation-circle"></i>
                    <h3>{{'Setup.Modules.AttentionPlease' | translate}}</h3>
                    <p>{{'Setup.Modules.AllRecordsDelete' | translate}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-w-lg btn-danger" ladda="deleting" ng-click="delete()"><i class="fa fa-exclamation-circle pull-left"></i> {{'Common.Confirm' | translate}}</button>
                <button type="button" class="btn btn-custom" ng-click="$hide()">{{'Common.Cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>