<div class="sub-menu">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#/app/setup/modules">{{'Setup.Nav.Tabs.Modules' | translate}}</a></li>
    </ul>
</div>
<div class="panel panel-default setup-panel">
    <div class="panel-body">
        <div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <div class="modules-setup" ng-show="!loading">
            <div class="subpanel">
                <h5 class="subpanel-heading ">{{'Setup.Modules.ModuleProfileSettings' | translate}} ({{module['label_' +
                    language + '_plural']}})</h5>
                <div class="subpanel-body">
                    <div class="text-right">
                        <a href class="btn btn-custom btn-sm btn-w-xlg" ng-click="showFormModal()"><i
                                class="fa fa-plus pull-left"></i> {{'Setup.Modules.NewProfileSetting' | translate}}</a>
                    </div>
                    <div class="empty-message" ng-if="profileSettings.length < 1" ng-show="!loading">
                        {{'Setup.Modules.NoProfileSettings' | translate}}
                    </div>
                    <table class="table" ng-show="profileSettings.length > 0 ">
                        <thead>
                            <tr>
                                <th>{{'Setup.Modules.ModuleProfileSettingProfiles' | translate}}</th>
                                <th>{{'Setup.UserCustomShares.CreatedDate' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="profileSetting in profileSettings | filter:{hidden:'!true'} | orderBy:'created_at'">
                                <td>{{profileSetting.profileName}}</td>
                                <td>{{profileSetting.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-xs btn-custom"
                                            ng-click="showFormModal(profileSetting)">{{'Common.Edit' | translate}}
                                    </button>
                                    <button type="button" class="btn btn-xs btn-custom" confirm-click
                                            action="delete(profileSetting)" placement="left"
                                            confirm-message="{{'Common.AreYouSure' | translate}}"
                                            confirm-yes="{{'Common.Yes' | translate}}"
                                            confirm-no="{{'Common.No' | translate}}">{{'Common.Remove' | translate}}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <a href="#app/setup/modules" class="btn btn-sm btn-custom"><i class="fa fa-chevron-left"></i>
                    {{'Common.Back' | translate}}</a>
            </div>
        </div>
    </div>
</div>