<div class="panel panel-default setup-panel">
    <div class="panel-heading clearfix">
        <h4 class="pull-left">
            <span class="module-label">{{module['label_' + language + '_plural']}}</span>
            <span class="action-buttons">
                <a href ng-click="showEditModal(false)" class="action-icon" title="{{'Common.Edit' | translate}}"><i class="flaticon-pencil124"></i></a>
            </span>
        </h4>
        <div class="pull-right">
            <a ng-href="{{!redirect ? '#app/setup/modules' : '#/app/crm/moduleForm/' + module.name}}" class="btn btn-sm btn-custom" ng-disabled="saving">{{'Common.Cancel' | translate}}</a>
            <button type="button" class="btn btn-sm btn-primary" ng-class="{'btn-w-sm':!redirect, 'btn-w-xxlg':(redirect && language === 'tr'), 'btn-w-xlg':(redirect && language === 'en')}" ladda="saving" ng-click="isModuleSaving = true; saveModule()" ng-disabled="saving"><i class="fa fa-check pull-left"></i> {{!redirect ? ('Common.Save' | translate) : ('Setup.Modules.SaveFormChanges' | translate)}}</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="module-form-setup">
            <div class="form-horizontal form-custom">
                <div class="draggable-form" ng-controller="ModuleLayoutController">
                    <div class="row-container">
                        <div class="subpanel" ng-class="{'subpanel-draggable':handleHover}" ng-init="handleHover=false" ng-repeat="row in moduleLayout.rows | filter:{deleted:'!true'}">
                            <h5 class="subpanel-heading clearfix">
                                <span class="row-handle" ng-mouseenter="handleHover = true"
                                      ng-mouseleave="handleHover = false"><i class="fa fa-arrows row-handle"></i> {{ !row.section.custom_label ?  row.section['label_' + language] : row.section.custom_label }}</span>
                                <span class="action-buttons pull-right">
                                <a href ng-click="showSectionModal(row.section)" class="action-icon" title="{{'Common.Edit' | translate}}"><i class="flaticon-pencil124"></i></a>
                                <i class="action-icon flaticon-bin9" ng-if="!row.hasPrimaryField && !row.hasSystemRequiredField" confirm-click action="deleteSection(row.section.name)" placement="left" confirm-message="{{'Common.AreYouSure' | translate}}" confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}" title="{{'Common.Delete' | translate}}"></i>
                                <i class="action-icon-disabled flaticon-bin9" ng-if="row.hasPrimaryField || row.hasSystemRequiredField" data-placement="left" data-title="{{row.hasPrimaryField ? ('Setup.Modules.PrimarySectionCannotDelete' | translate) : ('Setup.Modules.SystemSectionCannotDelete' | translate)}}" bs-tooltip></i>
                            </span>
                            </h5>
                            <div class="subpanel-body clearfix">
                                <div ng-class="{'col-sm-6': row.section.column_count === 2, 'col-sm-12': row.section.column_count === 1}" ng-repeat="column in row.columns">
                                    <div class="cell-container">
                                        <div class="form-group" ng-repeat="cell in column.cells | filter:{deleted:'!true'}">
                                            <label
                                                    ng-if="!cell.field.custom_label"
                                                    class="control-label cell-handle"
                                                    ng-class="{'col-sm-5':row.section.column_count === 2, 'col-sm-2':row.section.column_count === 1, 'required-field':cell.field.validation.required,'pull-right':cell.field.position==='right'}">
                                                <i class="fa fa-arrows pull-left cell-handle"></i>
                                                <span ng-show="!cell.field.custom_label && cell.field.show_label " class="cell-handle"
                                                      style="padding-left: 10px;"><span
                                                        ng-if="cell.field.validation.required">*</span> {{cell.field['label_' + language]}}:</span>
                                                <input type="checkbox" class="cell-handle" ng-show="cell.field.data_type=='checkbox' && cell.field.custom_label">
                                            </label>

                                            <div ng-class="{'col-sm-5': row.section.column_count === 2, 'col-sm-8': row.section.column_count === 1, 'checkbox': cell.field.data_type === 'checkbox','col-sm-12':cell.field.position==='left'}">

                                                <input
                                                        type="text"
                                                        name="{{cell.field.name}}"
                                                        class="form-control ng-animate-disabled"
                                                        placeholder="{{cell.field.dataType['label_' + language]}}"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-model="record[cell.field.name]"
                                                        ng-change="setDependency(cell.field);"
                                                        ng-disabled="cell.field.systemReadonly"
                                                        ng-minlength="cell.field.validation.min_length || 0"
                                                        maxlength="{{cell.field.validation.max_length || 400}}"
                                                        ng-if="cell.field.data_type === 'text_single'" />

                                                <textarea
                                                        name="{{cell.field.name}}"
                                                        class="form-control ng-animate-disabled"
                                                        placeholder="{{cell.field.dataType['label_' + language]}}"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-model="record[cell.field.name]"
                                                        ng-change="setDependency(cell.field);"
                                                        ng-disabled="cell.field.systemReadonly"
                                                        ng-minlength="cell.field.validation.min_length || 0"
                                                        maxlength="{{cell.field.validation.max_length || 500}}"
                                                        auto-grow
                                                        ng-if="cell.field.data_type === 'text_multi'">
                                                </textarea>

                                                <input
                                                        type="text"
                                                        name="{{cell.field.name}}"
                                                        class="form-control ng-animate-disabled"
                                                        placeholder="{{cell.field.dataType['label_' + language]}}"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-model="record[cell.field.name]"
                                                        ng-change="setDependency(cell.field); calculate(cell.field);"
                                                        ng-disabled="cell.field.systemReadonly"
                                                        ng-trim="false"
                                                        ng-minlength="cell.field.validation.min_length || 0"
                                                        maxlength="{{cell.field.validation.max_length || 18}}"
                                                        min="cell.field.validation.min"
                                                        max="cell.field.validation.max"
                                                        numeric
                                                        ng-if="cell.field.data_type === 'number'" />

                                                <input
                                                        type="text"
                                                        name="{{cell.field.name}}"
                                                        class="form-control ng-animate-disabled"
                                                        placeholder="{{cell.field.dataType['label_' + language]}}"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-model="record[cell.field.name]"
                                                        ng-disabled="true"
                                                        ng-if="cell.field.data_type === 'number_auto'" />

                                                <input
                                                        type="text"
                                                        name="{{cell.field.name}}"
                                                        class="form-control ng-animate-disabled"
                                                        placeholder="{{cell.field.dataType['label_' + language]}}"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-model="record[cell.field.name]"
                                                        ng-change="setDependency(cell.field); calculate(cell.field);"
                                                        ng-disabled="cell.field.systemReadonly"
                                                        maxlength="{{cell.field.validation.max_length || 19}}"
                                                        min="cell.field.validation.min"
                                                        max="cell.field.validation.max"
                                                        places="cell.field.decimal_places || 2"
                                                        rounding="cell.field.rounding"
                                                        number-decimal
                                                        ng-if="cell.field.data_type === 'number_decimal'" />

                                                <input
                                                        type="text"
                                                        name="{{cell.field.name}}"
                                                        class="form-control ng-animate-disabled"
                                                        placeholder="{{cell.field.dataType['label_' + language]}}"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-model="record[cell.field.name]"
                                                        ng-change="setDependency(cell.field); calculate(cell.field);"
                                                        ng-disabled="cell.field.systemReadonly"
                                                        maxlength="{{cell.field.validation.max_length || 21}}"
                                                        min="cell.field.validation.min"
                                                        max="cell.field.validation.max"
                                                        places="cell.field.decimal_places || 2"
                                                        rounding="cell.field.rounding"
                                                        currency-symbol="cell.field.currency_symbol"
                                                        number-currency
                                                        ng-if="cell.field.data_type === 'currency'" />

                                                <input
                                                        type="email"
                                                        name="{{cell.field.name}}"
                                                        class="form-control ng-animate-disabled"
                                                        placeholder="{{cell.field.dataType['label_' + language]}}"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-model="record[cell.field.name]"
                                                        ng-change="setDependency(cell.field);"
                                                        ng-disabled="cell.field.systemReadonly"
                                                        ng-minlength="cell.field.validation.min_length || 0"
                                                        maxlength="{{cell.field.validation.max_length || 100}}"
                                                        ng-if="cell.field.data_type === 'email'" />

                                                <input
                                                        type="text"
                                                        name="{{cell.field.name}}"
                                                        class="form-control ng-animate-disabled"
                                                        placeholder="{{cell.field.dataType['label_' + language]}}"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-model="record[cell.field.name]"
                                                        ng-change="setDependency(cell.field);"
                                                        ng-disabled="cell.field.systemReadonly"
                                                        data-autoclose="1"
                                                        data-date-type="iso"
                                                        data-min-date="{{(cell.field.validation.min ? (cell.field.validation.min === 'today' ? currentDayMin : cell.field.validation.min) : undefined)}}"
                                                        data-max-date="{{(cell.field.validation.max ? (cell.field.validation.max === 'today' ? currentDayMax : cell.field.validation.max) : undefined)}}"
                                                        data-icon-left="fa fa-chevron-left"
                                                        data-icon-right="fa fa-chevron-right"
                                                        bs-datepicker
                                                        ng-if="cell.field.data_type === 'date'">

                                                <div class="clearfix" ng-if="cell.field.data_type === 'date_time'">
                                                    <input
                                                            type="text"
                                                            name="{{cell.field.name}}"
                                                            class="form-control ng-animate-disabled pull-left datetime-date"
                                                            tabindex="{{cell.field.order}}"
                                                            ng-model="record[cell.field.name]"
                                                            ng-change="setDependency(cell.field);"
                                                            ng-disabled="cell.field.systemReadonly"
                                                            placeholder="{{'Common.Date' | translate}}"
                                                            data-autoclose="1"
                                                            data-date-type="iso"
                                                            data-min-date="{{(cell.field.validation.min ? (cell.field.validation.min === 'today' ? currentDayMin : cell.field.validation.min) : undefined)}}"
                                                            data-max-date="{{(cell.field.validation.max ? (cell.field.validation.max === 'today' ? currentDayMax : cell.field.validation.max) : undefined)}}"
                                                            data-icon-left="fa fa-chevron-left"
                                                            data-icon-right="fa fa-chevron-right"
                                                            bs-datepicker>
                                                    <input
                                                            type="text"
                                                            class="form-control datetime-time"
                                                            tabindex="{{cell.field.order}}"
                                                            ng-model="record[cell.field.name]"
                                                            ng-change="setDependency(cell.field);"
                                                            ng-disabled="cell.field.systemReadonly"
                                                            placeholder="{{'Common.Time' | translate}}"
                                                            data-autoclose="1"
                                                            data-time-type="iso"
                                                            data-icon-up="fa fa-chevron-up"
                                                            data-icon-down="fa fa-chevron-down"
                                                            data-length="1"
                                                            data-minute-step="10"
                                                            data-arrow-behavior="picker"
                                                            bs-timepicker>
                                                </div>

                                                <input
                                                        type="text"
                                                        name="{{cell.field.name}}"
                                                        class="form-control"
                                                        placeholder="{{cell.field.dataType['label_' + language]}}"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-model="record[cell.field.name]"
                                                        ng-change="setDependency(cell.field);"
                                                        ng-disabled="cell.field.systemReadonly"
                                                        data-autoclose="1"
                                                        data-time-type="iso"
                                                        data-icon-up="fa fa-chevron-up"
                                                        data-icon-down="fa fa-chevron-down"
                                                        data-length="1"
                                                        data-minute-step="10"
                                                        data-arrow-behavior="picker"
                                                        placeholder="{{'Common.Time' | translate}}"
                                                        bs-timepicker
                                                        ng-if="cell.field.data_type === 'time'">
                                                <span
                                                        style="padding: 0px;  margin-bottom: 10px;"
                                                        class="ng-animate-disabled radio-btn-custom-label"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-model="field.custom_label"
                                                        ng-class="{'col-sm-12':cell.field.custom_label && cell.field.position==='left'}"
                                                        ng-if="(cell.field.data_type === 'picklist' || cell.field.data_type === 'rating') && cell.field.custom_label">{{cell.field.custom_label}}</span>
                                                <select
                                                        name="{{cell.field.name}}"
                                                        class="form-control ng-animate-disabled"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-model="record[cell.field.name]"
                                                        ng-change="setDependency(cell.field);"
                                                        ng-disabled="cell.field.systemReadonly"
                                                        ng-options="o as o['label_' + language] for o in picklistsModule[cell.field.picklist_id] | filter:{inactive:'!true'} track by o.id"
                                                        ng-if="cell.field.data_type === 'picklist' && ( cell.field.view_type ==='dropdown' || cell.field.view_type ==='' || cell.field.view_type===undefined)">
                                                    <option value="">{{cell.field.dataType['label_' + language]}}</option>
                                                </select>
                                                <div ng-repeat="radio in picklistsModule[cell.field.picklist_id] | filter:{inactive:'!true'}"
                                                     ng-if="cell.field.data_type === 'picklist' &&  cell.field.view_type ==='radio'">
                                                    <input
                                                            id="{{cell.field.name+radio.id}}"
                                                            tabindex="{{cell.field.order}}"
                                                            ng-disabled="cell.field.validation.readonly"
                                                            ng-required="{{cell.field.validation.required}}"
                                                            name="{{cell.field.name}}"
                                                            type="radio"
                                                            ng-model="record[cell.field.name]"
                                                            ng-change="setDependency(cell.field);"
                                                            ng-value="radio">
                                                    <label for="{{cell.field.name+radio.id}}"
                                                           style="font-size: 16px;font-weight: 300 !important;">
                                                        {{radio.label[language]}}</label>
                                                </div>
                                                <button
                                                        type="button"
                                                        name="{{cell.field.name}}"
                                                        class="btn btn-default multiselect"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-model="record[cell.field.name]"
                                                        ng-change="setDependency(cell.field);"
                                                        ng-disabled="cell.field.systemReadonly"
                                                        data-icon-checkmark="fa fa-check"
                                                        data-placeholder="{{cell.field.dataType['label_' + language]}}"
                                                        data-html="1"
                                                        data-multiple="1"
                                                        data-max-length="2"
                                                        data-max-length-html="{{'Common.Multiselected' | translate}}"
                                                        bs-options="o as o['label_' + language] for o in picklistsModule[cell.field.picklist_id] | filter:{inactive:'!true'} track by o.id"
                                                        bs-select
                                                        ng-if="cell.field.data_type === 'multiselect' || cell.field.data_type === 'tag'">
                                                </button>

                                                <input type="checkbox"
                                                       name="{{cell.field.name}}"
                                                       class="ng-animate-disabled"
                                                       tabindex="{{cell.field.order}}"
                                                       ng-model="record[cell.field.name]"
                                                       ng-change="setDependency(cell.field);"
                                                       ng-disabled="cell.field.systemReadonly"
                                                       ng-if="cell.field.data_type === 'checkbox' && !cell.field.custom_label">

                                                <span class="ng-animate-disabled"
                                                      tabindex="{{cell.field.order}}"
                                                      ng-model="record[cell.field.name]"
                                                      ng-if="cell.field.data_type === 'checkbox' && cell.field.custom_label">{{cell.field.custom_label}}</span>

                                                <input
                                                        type="text"
                                                        name="{{cell.field.name}}"
                                                        class="form-control ng-animate-disabled"
                                                        placeholder="{{cell.field.dataType['label_' + language]}}"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-value="record[cell.field.combination.field_1] && record[cell.field.combination.field_2] ? record[cell.field.combination.field_1] + ' ' + record[cell.field.combination.field_2] : null"
                                                        ng-disabled="true"
                                                        ng-if="cell.field.data_type === 'combination'" />
                                                <input
                                                        type="file"
                                                        name="{{cell.field.name}}"
                                                        class="form-control ng-animate-disabled"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-disabled="true"
                                                        ng-if="cell.field.data_type === 'document'" />
                                                <input
                                                        type="file"
                                                        name="{{cell.field.name}}"
                                                        class="form-control ng-animate-disabled"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-disabled="true"
                                                        ng-if="cell.field.data_type === 'image'" />

                                                <input
                                                        type="text"
                                                        name="{{cell.field.name}}"
                                                        class="form-control ng-animate-disabled"
                                                        placeholder="{{cell.field.dataType['label_' + language]}}"
                                                        tabindex="{{cell.field.order}}"
                                                        ng-model="record[cell.field.name]"
                                                        ng-minlength="cell.field.validation.min_length || 0"
                                                        maxlength="{{cell.field.validation.max_length || 400}}"
                                                        ng-if="cell.field.data_type === 'url'" />
                                                <span ng-if="cell.field.data_type === 'url'"
                                                      class="fa fa-chain input-with-icon"></span>
                                                <input-stars
                                                        ng-if="cell.field.data_type === 'rating'"
                                                        max="{{cell.field.validation.min_length}}"
                                                        allow-half
                                                        icon-base="fa fa-fw"
                                                        icon-empty="fa-star-o"
                                                        icon-half="fa-star-half-o"
                                                        icon-full="fa-star"
                                                        icon-hover-full="fa-star"
                                                        ng-model="record[cell.field.name]"
                                                ></input-stars>
                                                <div class="inner-addon right-addon"
                                                     ng-if="cell.field.data_type === 'location'">
                                                    <i class="glyphicon glyphicon-map-marker"></i>
                                                    <input type="text" class="form-control" />
                                                </div>

                                                <angucomplete-alt input-name="{{cell.field.name}}"
                                                                  input-class="form-control ng-animate-disabled"
                                                                  placeholder="{{cell.field.dataType['label_' + language]}}"
                                                                  match-class="highlight-angucomplete"
                                                                  field-tabindex="{{cell.field.order}}"
                                                                  pause="200"
                                                                  selected-object="record[cell.field.name]"
                                                                  initial-value="record[cell.field.name]"
                                                                  disable-input="cell.field.systemReadonly"
                                                                  remote-api-handler="lookup"
                                                                  search-fields="name"
                                                                  title-field="primary_value"
                                                                  minlength="2"
                                                                  template-url="views/common/angucomplete.html"
                                                                  focus-in="setCurrentLookupField(cell.field)"
                                                                  text-searching="{{'Common.Searching' | translate}}"
                                                                  text-no-results="{{'Common.NoResults' | translate}}"
                                                                  use-original-object="true"
                                                                  ng-if="cell.field.data_type === 'lookup'" />


                                            </div>
                                            <span class="action-buttons col-sm-2">
                                        <a href ng-click="showFieldModal(row, column, cell.field)" class="action-icon" title="{{'Common.Edit' | translate}}"><i class="flaticon-pencil124"></i></a>
                                        <i class="action-icon flaticon-bin9" ng-if="!cell.field.primary && !cell.field.systemRequired" confirm-click action="deleteField(cell.field.name)" placement="left" confirm-message="{{'Common.AreYouSure' | translate}}" confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}" title="{{'Common.Delete' | translate}}"></i>
                                        <i class="action-icon-disabled flaticon-bin9" ng-if="cell.field.primary || cell.field.systemRequired" data-placement="left" data-title="{{cell.field.primary ? ('Setup.Modules.PrimaryFieldCannotDelete' | translate) : ('Setup.Modules.SystemFieldCannotDelete' | translate)}}" bs-tooltip></i>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="new-field">
                                        <a href class="btn btn-sm btn-default" ng-click="showFieldModal(row, column)">{{'Setup.Modules.NewField' | translate}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-section">
                    <a href class="btn btn-sm btn-default" ng-click="showSectionModal()">{{'Setup.Modules.NewSection' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>