<md-dialog flex="45" tabindex="-1" role="dialog" ng-controller="locationFormModalController"><!--aria-label="{{'' | translate}}"-->
        <md-toolbar>
            <div class="md-toolbar-tools">
                <!--<h2>-->
                    <!--{{'..' | translate}}-->
                <!--</h2>-->
                <span flex></span>
                <md-button class="md-icon-button" ng-disabled="submittingModal" ng-click="close()"><i
                        class="fas fa-times"></i></md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="whitebox">
                    <location style="width:100%;height:500px;display: block;" ng-model="location"></location>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="btn btn-primary" ng-disabled="submittingModal" ng-click="setCoordinat(); close();">
                <i class="fas fa-map-marker-alt"></i> {{ 'Module.LocationChoose' | translate }}
            </md-button>
            <span flex></span>
        </md-dialog-actions>
</md-dialog>

