<div class="setup-title">
    <h2>Profile</h2>
</div>
<div class="tab-content">
    <form name="passwordForm" ng-submit="changePassword(passwordModel)" class="form-horizontal" novalidate>
        <div class="form-group" ng-class="{'has-error': passwordForm.$submitted && passwordForm.current.$invalid}">
            <label class="col-sm-3 control-label">{{'Setup.Settings.CurrentPassword' | translate}}</label>
            <div class="col-sm-9">
                <input type="password" name="current" class="form-control" maxlength="20" ng-minlength="6" required ng-model="passwordModel.current" ng-change="passwordForm.current.$setValidity('wrongPassword', true);" />
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': passwordForm.$submitted && passwordForm.password.$invalid}">
            <label class="col-sm-3 control-label">{{'Setup.Settings.Password' | translate}}</label>
            <div class="col-sm-9">
                <input type="password" name="password" class="form-control" maxlength="20" ng-minlength="6" compare-to="passwordModel.confirm" required ng-model="passwordModel.password" />
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': passwordForm.$submitted && passwordForm.confirm.$invalid}">
            <label class="col-sm-3 control-label">{{'Setup.Settings.PasswordAgain' | translate}}</label>
            <div class="col-sm-9">
                <input type="password" name="confirm" class="form-control" maxlength="20" required ng-model="passwordModel.confirm" />
            </div>
        </div>

        <div class="form-group am-fade-and-slide-top" ng-show="passwordForm.$submitted && passwordForm.$invalid">
            <div class="col-sm-offset-3 col-sm-8">
                <div class="callout callout-danger">
                    <p ng-if="passwordForm.$error.required">{{'Setup.Settings.ErrorEmpty' | translate}}</p>
                    <p ng-if="passwordForm.$error.compareTo">{{'Setup.Settings.PasswordNotMatch' | translate}}</p>
                    <p ng-if="passwordForm.$error.minlength">{{'Setup.Settings.PasswordMinimum' | translate}}</p>
                    <p ng-if="passwordForm.$error.wrongPassword">{{'Setup.Settings.PasswordWrong' | translate}}</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary btn-w-lg" ladda="passwordUpdating"><i class="fa fa-check-circle pull-left"></i> {{'Common.Change' | translate}}</button>
            </div>
        </div>
    </form>
</div>


