<div class="setup-title">
    <h2>Modules</h2>
    <div>
        <ul class="list-unstyled list-inline">
            <li></li>
            <li>
                <button class="btn add-button" ui-sref="studio.app.moduledesigner"><i class="fas fa-plus"></i> Add New
                    Modules
                </button>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <table class="table">
        <thead>
        <tr>
            <th class="text-center" width="50">Icon</th>
            <th>{{'Setup.Modules.Name' | translate}}</th>
            <th>{{'Setup.Modules.Type' | translate}}</th>
            <th>{{'Setup.Modules.DisplayOnMenu' | translate}}</th>
            <th>{{'Setup.Modules.Sharing' | translate}}</th>
            <th width="50"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="module in modules| filter:{name:'!users'} | orderBy:['-system_type','order']" ui-sref="studio.app.moduledesigner({id:module.id})">
            <td class="text-center"><i
                    class="{{module.menu_icon}}"></i></td>
            <td>
                <span>
                    {{module['label_' + language + '_plural']}}
                </span>
                <span ng-if="user.isDemo && module.created_by_id!=user.ID">
                        {{module['label_' + language + '_plural']}}
                    </span>
            </td>
            <td>{{'Setup.Modules.Type-' + module.system_type
                | translate}}
            </td>
            <td>{{module.display ? ('Common.Yes' |
                translate) : ('Common.No' | translate)}}
            </td>
            <td>{{module.sharing === 'private' ?
                ('Setup.Modules.SharingPrivate' | translate) :
                ('Setup.Modules.SharingPublic' | translate)}}
            </td>
            <td class="text-center">
                <div class="action-buttons-block">
                    <button ng-click="$event.stopPropagation();" type="button" class="action-buttons-delete" data-trigger="hover" data-type="info"
                            data-title="Delete" bs-tooltip data-placement="top"
                            placement="bottom-right" data-animation="am-flip-x" bs-dropdown aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
                <div class="action-buttons-block">
                    <button ng-click="$event.stopPropagation();" type="button" class="action-buttons-edit" data-trigger="hover" data-type="info"
                            data-title="Edit" bs-tooltip data-placement="top"
                            placement="bottom-right" data-animation="am-flip-x" bs-dropdownaria-haspopup="true"
                            aria-expanded="false">
                        <i class="fas fa-pen"></i>
                    </button>
                </div>
                <div class="action-buttons-block">
                    <button ng-click="$event.stopPropagation();" type="button" data-toggle="dropdown"
                            class="btn btn-xs btn-default list-action-button"
                            placement="bottom-right"
                            data-animation="am-flip-x"
                            bs-dropdown
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ui-sref="studio.app.moduledesigner({id:module.id})">
                                {{'Common.Edit' | translate}}
                            </a>
                        </li>
                        <li>
                            <a href="#" confirm-click action="delete(relation)" placement="left"
                               confirm-message="{{'Common.AreYouSure' | translate}}"
                               confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}">
                                {{'Common.Remove' | translate}}
                            </a>
                        </li>

                        <li>
                            <a href="#app/{{$root.currentPath.split('/')[2]}}/relations">
                                {{'Setup.Modules.ModuleRelations' | translate}}
                            </a>
                        </li>
                        <li>
                            <a href="#app/{{$root.currentPath.split('/')[2]}}/dependencies">
                                {{'Setup.Modules.FieldsDependencies' | translate}}
                            </a>
                        </li>
                        <li>
                            <a href="#app/{{$root.currentPath.split('/')[2]}}/dependencies">
                                {{'Setup.Modules.ActionButtons' | translate}}
                            </a>
                        </li>
                        <li>
                            <a ng-click="$event.stopPropagation();" href="/#/org/{{orgId}}/app/{{appId}}/moduleprofilesettings/{{module.name}}">
                                Modüle Profil Ayarları
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="table-pagination">
        <div>
            <nav aria-label="Page navigation">
                <div paging
                     text-first="&laquo;"
                     ul-class="pagination"
                     active-class="active"
                     page="requestModel.offset"
                     page-size="requestModel.limit"
                     total="pageTotal"
                     scroll-top="true"
                     hide-if-empty="true"
                     show-prev-next="true"
                     show-first-last="true"
                     text-next-class="fas fa-chevron-right"
                     text-prev-class="fas fa-chevron-left"
                     text-first-class="fas fa-step-backward"
                     text-last-class="fas fa-step-forward"
                     paging-action="changePage(page)">
                </div>
            </nav>
        </div>
        <div>
            1 - 10 of 86 items
        </div>
        <div>
            <span class="pagination-span">Items per page  </span>
            <select ng-model="requestModel.limit" class="items-per-page-select" ng-change="changeOffset()">
                <option ng-selected="true" value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
        </div>
    </div>
</div>
