<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">
    <form name="profileForm" class="form-horizontal form-custom" ng-submit="save(profileForm);" autocomplete="off" novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">Modül Profil Ayarları</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <!-- Burası Modalın kaydet vazgeç buttonların bulunduğu yer  -->
                        <li>
                            <button type="button" class="btn add-button btn-radius btn-gray " ng-disabled="saving" ng-click="profileSettingsFormModal.hide();">
                                <i class="fas fa-times margin-right-10"></i>{{'Common.Cancel' | translate}}
                            </button>
                        </li>
                        <li>
                            <button type="submit" class="btn add-button btn-radius btn-blue " style="margin-left: 5px" ladda="saving">
                                <i class="fas fa-save margin-right-10"></i>{{'Common.Save' | translate}}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-contanier">
                    <div id="field-form-body" class="modal-body">
                        <div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
                        <div class="panel">
                            <div class="form-group"
                                 ng-class="{'has-error': newCollaboratorForm.$submitted && newCollaboratorForm.name.$invalid}">
                                <label class="col-sm-4 required-field">{{'Setup.Modules.ModuleProfileSettingProfiles' | translate}}:</label>
                                <tags-input name="profiles"
                                            tabindex="999"
                                            class="form-control"
                                            ng-model="currentProfileSetting.profiles"
                                            display-property="name"
                                            key-property="id"
                                            placeholder="{{'Common.MultiselectPlaceholder' | translate}}"
                                            replace-spaces-with-dashes="false"
                                            add-from-autocomplete-only="true"
                                            min-length="1"
                                            ng-required="true">
                                    <auto-complete source="multiselect()"
                                                   min-length="0"
                                                   load-on-focus="true"
                                                   load-on-empty="true"
                                                   max-results-to-show="9999"></auto-complete>
                                </tags-input>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error': newCollaboratorForm.$submitted && newCollaboratorForm.surname.$invalid}">
                                <label class="col-sm-4 required-field">{{'Setup.Modules.ModulePluralName' | translate}}</label>
                                <input type="text"
                                       name="labelPlural"
                                       class="form-control ng-animate-disabled col-sm-8"
                                       required
                                       maxlength="50"
                                       focus="currentLabelState"
                                       ng-model="currentProfileSetting.pluralName">
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error': newCollaboratorForm.$submitted && newCollaboratorForm.surname.$invalid}">
                                <label class="col-sm-4 required-field">{{'Setup.Modules.ModuleSingularName' | translate}}</label>
                                <input type="text"
                                       name="labelSingular"
                                       class="form-control ng-animate-disabled col-sm-8"
                                       required
                                       maxlength="50"
                                       ng-model="currentProfileSetting.singularName">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4">{{'Common.Icon' | translate}}:</label>
                                <ui-select ng-model="currentProfileSetting.menu_icon" ng-disabled="ctrl.disabled">
                                    <ui-select-match placeholder="Please search an icon">
                                        <div>
                                            <span ng-if="$select.selected.value" class="{{$select.selected.value}}"> {{ $select.selected.value }}</span>
                                            <span ng-if="!$select.selected.value" class="{{$select.selected}}"> {{ $select.selected }}</span>
                                        </div>
                                    </ui-select-match>
                                    <ui-select-choices repeat="icon in icons | filter:{ label:$select.search }">
                                        <div ng-bind-html="icon.label"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">{{'Setup.Modules.DisplayOnMenu' | translate}}:</label>
                                <div class="col-sm-12">
                                    <label class="radio-inline newinput">
                                        <input type="radio" name="templateStatus" ng-value="true" ng-model="currentProfileSetting.display" />
                                        {{'Common.Yes' | translate}}<span></span>
                                    </label>
                                    <label class="radio-inline newinput">
                                        <input type="radio" name="templateStatus" ng-value="false" ng-model="currentProfileSetting.display" />
                                        {{'Common.No' | translate}}<span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
