<div class="row">
    <div class="col-sm-9" style="border: none ;">
        <div class="page-content module-designer">
            <ul dnd-list="module"
                dnd-allowed-types="['container']"
                dnd-external-sources="true"
                dnd-dragover="dragoverCallback(index, external, type, callback)"
                dnd-drop="dropCallback(index, item, external, type)"
                class="module-designer-area">

                <li ng-repeat="container in module"
                    dnd-draggable="container"
                    dnd-type="'container'"
                    dnd-effect-allowed="copyMove"
                    dnd-moved="module.splice($index, 1)"
                    dnd-callback="module.length"
                    class="module-section">
                    <div class="section-header">
                        <h4>{{container.name }}</h4>
                    </div>

                    <div class="container-element box box-blue">

                        <ul dnd-list="container.fields"
                            dnd-allowed-types="['item']"
                            dnd-horizontal-list="true"
                            dnd-external-sources="true"
                            dnd-effect-allowed="{{container.effectAllowed}}"
                            dnd-dragover="dragoverCallback(index, external, type)"
                            dnd-drop="dropCallback(index, item, external, type)"
                            dnd-inserted="logListEvent('inserted at', index, external, type)"
                            class="section-container">
                            <li ng-repeat="item in container.fields"
                                dnd-draggable="item"
                                dnd-type="'item'"
                                dnd-effect-allowed="all"
                                dnd-dragstart="logEvent('Started to drag an item')"
                                dnd-moved="container.fields.splice($index, 1)"
                                dnd-dragend="logEvent('Drag operation ended. Drop effect: ' + dropEffect)">
                                {{item.label}}
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="col-sm-3 template-field">
        <div class="template-field-box text-center" ng-repeat="item in templatesFields" dnd-draggable="item"
             dnd-effect-allowed="copy"
             dnd-copied="item.id = item.id + 1" dnd-type="item.type">
            <div class="template-field-icon">
                <span ng-class="item.icon" class="k-icon"></span>
            </div>
            <div class="template-field-text">
                <h4 style="font-size: 15px">{{item.label}}</h4>
            </div>
        </div>
        <!--<button type="button" class="btn btn-default btn-lg" disabled="disabled"></button>-->
    </div>
</div>


