<div class="row">
    <div class="col-sm-9" style="border: none ;">
        <div class="page-content">
            <ul dnd-list="module"
                dnd-allowed-types="['container']"
                dnd-external-sources="true"
                dnd-dragover="dragoverCallback(index, external, type, callback)"
                dnd-drop="dropCallback(index, item, external, type)">
                <li ng-repeat="container in module"
                    dnd-draggable="container"
                    dnd-type="'container'"
                    dnd-effect-allowed="copyMove"
                    dnd-moved="module.splice($index, 1)"
                    dnd-callback="module.length">
                    <div class="container-element box box-blue">
                        <h3>{{container.name }}</h3>
                        <ul dnd-list="container.fields"
                            dnd-allowed-types="['item']"
                            dnd-horizontal-list="true"
                            dnd-external-sources="true"
                            dnd-effect-allowed="{{container.effectAllowed}}"
                            dnd-dragover="dragoverCallback(index, external, type)"
                            dnd-drop="dropCallback(index, item, external, type)"
                            dnd-inserted="logListEvent('inserted at', index, external, type)"
                            class="itemlist">
                            <li ng-repeat="item in container.fields"
                                dnd-draggable="item"
                                dnd-type="'item'"
                                dnd-effect-allowed="{{item.effectAllowed}}"
                                dnd-dragstart="logEvent('Started to drag an item')"
                                dnd-moved="container.fields.splice($index, 1)"
                                dnd-dragend="logEvent('Drag operation ended. Drop effect: ' + dropEffect)">
                                {{item.label}}
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="col-sm-2" style="border: none ;">
    <ul>
        <li ng-repeat="item in templatesFields" dnd-draggable="item" dnd-effect-allowed="copy"
            dnd-copied="item.id = item.id + 1" dnd-type="item.type">
            <button type="button" class="btn btn-default btn-lg" disabled="disabled">{{item.label}}</button>
        </li>
    </ul>
</div>

{{ model[0]}}
