<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">
    <form name="sectionForm" class="form-horizontal form-custom"
          ng-submit="saveSection(sectionForm); showAdvancedOptionsSection = false;" autocomplete="off" novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">{{'Setup.Modules.EditSection' | translate}}</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button type="button" ng-click="cancelSection(); showAdvancedOptionsSection = false;"
                                    class="btn add-button btn-radius btn-gray"><i class="fas fa-times"></i>{{'Common.Cancel'
                                | translate}}
                            </button>
                        </li>
                        <li>
                            <button type="submit" class="btn add-button btn-radius btn-blue"><i class="fas fa-save"></i>{{'Common.Save'
                                | translate}}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog">
            <div class="section">
                <div class="form-group"
                     ng-class="{'has-error': sectionForm.$submitted && sectionForm.label.$invalid}">
                    <label class="col-sm-4 required-field">* {{'Setup.Modules.SectionName' | translate}}:</label>
                    <input type="text"
                           name="label"
                           class="form-control ng-animate-disabled col-sm-8"
                           required
                           maxlength="50"
                           focus="true"
                           ng-model="currentSection['label_' + language]">
                </div>
                <div class="form-group">
                    <label class="col-sm-4">{{'Setup.Modules.ColumnCount' | translate}}:</label>
                    <select
                            name="dataType"
                            class="form-control ng-animate-disabled col-sm-8"
                            ng-model="currentSection.column_count"
                            ng-change="changeSectionColumn(currentSection)"
                            ng-options="o for o in [1,2]">
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">{{'Setup.Modules.CustomLabel' | translate}}: </label>
                    <input type="text"
                           name="customLabel"
                           maxlength="1000"
                           class="form-control ng-animate-disabled col-sm-8"
                           ng-model="currentSection.custom_label"/>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">{{'Setup.Modules.Display' | translate}}: </label>
                    <div class="col-sm-8">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="currentSection.display_form">
                            {{'Setup.Modules.DisplayForm' | translate}}
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="currentSection.display_detail">
                            {{'Setup.Modules.DisplayDetail' | translate}}
                        </label>
                    </div>

                </div>

            </div>
            <div class="section">
                <h4> Profile Permission </h4>

                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="advanced-options" style="margin-bottom: 20px;">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>{{'Setup.Modules.Profile' | translate}}</th>
                                    <th class="text-center">{{'Setup.Modules.PermissionFull' | translate}}</th>
                                    <th class="text-center">{{'Setup.Modules.PermissionReadOnly' | translate}}
                                    </th>
                                    <th class="text-center">{{'Setup.Modules.PermissionNone' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="permission in appProfiles | orderBy:'profile_id' ">
                                    <td>{{ permission.name }}</td>
                                    <td class="text-center user-not-select"><input type="radio"
                                                                                   ng-model="permission.type"
                                                                                   value="full"/></td>
                                    <td class="text-center user-not-select"><input type="radio"
                                                                                   ng-model="permission.type"
                                                                                   value="read_only"
                                                                                   ng-disabled="permission.profile_is_admin"
                                                                                   title="{{permission.profile_is_admin ? ('Setup.Modules.PermissionDisabledInfo1' | translate) : (('Setup.Modules.PermissionDisabledInfo2' | translate))}}"/>
                                    </td>
                                    <td class="text-center user-not-select">
                                        <input type="radio"
                                               ng-model="permission.type"
                                               value="none"
                                               ng-disabled="permission.profile_is_admin"
                                               title="{{permission.profile_is_admin ? ('Setup.Modules.PermissionDisabledInfo1' | translate) : (('Setup.Modules.PermissionDisabledInfo2' | translate) )}}"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group" ng-show="sectionForm.$submitted && sectionForm.$invalid">
                <div class="col-sm-12">
                    <div class="callout callout-danger">
                        <p ng-if="sectionForm.$error.required">{{'Setup.Modules.RequiredError' |
                            translate}}:</p>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>