<div class="document-form" ng-show="show">
    <div ng-show="uploader.isHTML5">
        <div nv-file-drop uploader="uploader">
            <div nv-file-over uploader="uploader" over-class="drop-box-over" class="drop-box">
                <span class="file-input btn btn-primary btn-sm btn-file">
                {{'Documents.ChooseFiles' | translate}} <input type="file" multiple nv-file-select uploader="uploader">
                </span>
                {{'Documents.Drop' | translate}}
                <button type="button" class="btn btn-xs pull-right close-button" ng-hide="hideCloseButton" ng-click="show = false">
                    <span class="fa fa-times"></span>
                </button>
            </div>
        </div>
    </div>
    <table class="table" ng-show="uploader.getNotUploadedItems().length">
        <thead>
            <tr>
                <th width="50%">{{'Documents.FileName' | translate}}</th>
                <th ng-show="uploader.isHTML5">{{'Documents.Size' | translate}}</th>
                <th ng-show="uploader.isHTML5">{{'Documents.Progress' | translate}}</th>
                <th>{{'Documents.Result' | translate}}</th>
                <th>{{'Documents.Actions' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in uploader.queue">
                <td><strong>{{ item.file.name }}</strong></td>
                <td ng-show="uploader.isHTML5" nowrap>{{item.file.size | size}}</td>
                <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;" ng-show="uploader.getNotUploadedItems().length">
                        <div class="progress-bar" ng-style="{'width': item.progress + '%'}"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="fa fa-check-circle icon-success"></i></span>
                    <span ng-show="item.isCancel"><i class="fa fa-ban icon-cancel"></i></span>
                    <span ng-show="item.isError"><i class="fa fa-exclamation-circle icon-error"></i></span>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" ng-hide="hideUploadButton">
                        <span class="fa fa-upload"></span> {{'Documents.Upload' | translate}}
                    </button>
                    <button type="button" class="btn btn-custom btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading" ng-hide="hideUploadButton">
                        <span class="fa fa-ban"></span> {{'Documents.Cancel' | translate}}
                    </button>
                    <button type="button" class="btn btn-custom btn-xs" ng-click="item.remove()">
                        <span class="fa fa-trash-o"></span> {{'Documents.Clear' | translate}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="uploader.getNotUploadedItems().length">
        <div>
            {{'Documents.Progress' | translate}}:
            <div class="progress" style="" ng-show="uploader.getNotUploadedItems().length">
                <div class="progress-bar" ng-style="{'width': uploader.progress + '%'}"></div>
            </div>
        </div>
        <div ng-if="!$parent.moduleForm">
            <button type="button" class="btn btn-primary btn-sm" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> {{'Documents.UploadAll' | translate}}
            </button>
            <button type="button" class="btn btn-custom btn-sm" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <span class="fa fa-ban"></span> {{'Documents.CancelAll' | translate}}
            </button>
            <button type="button" class="btn btn-custom btn-sm" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <span class="fa fa-trash-o"></span> {{'Documents.ClearAll' | translate}}
            </button>
        </div>
    </div>
</div>