<md-dialog flex="33" aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Mango (Fruit)</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"><i class="fas fa-times"></i></md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="alert alert-danger shadow-sm" role="alert">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto"><span class="warn-icon"><i class="fas fa-question"></i></span></div>
                                <div class="col-12 col-sm text-center text-sm-left"><div class="paddingua10">Satış ekibi ve yöneticiler ihtiyaç duydukları bilgilere ve raporlara pano üzerinden hızlı ve kolayca  erişebilirler:</div></div>
                                <div class="col-auto"><button class="btn btn-outline-light" type="button">How to use Dashboard ?</button> </div>
                            </div>
                        </div>
                        <div class="col-auto"><button type="button" class="warn-close"><i class="fas fa-times"></i></button></div>
                    </div>
                </div>
                <div class="alert alert-warning shadow-sm" role="alert">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto"><span class="warn-icon"><i class="fas fa-question"></i></span></div>
                                <div class="col-12 col-sm text-center text-sm-left"><div class="paddingua10">Satış ekibi ve yöneticiler ihtiyaç duydukları bilgilere ve raporlara pano üzerinden hızlı ve kolayca  erişebilirler:</div></div>
                                <div class="col-auto"><button class="btn btn-outline-light" type="button">How to use Dashboard ?</button> </div>
                            </div>
                        </div>
                        <div class="col-auto"><button type="button" class="warn-close"><i class="fas fa-times"></i></button></div>
                    </div>
                </div>
                <div class="alert alert-info shadow-sm" role="alert">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto"><span class="warn-icon"><i class="fas fa-question"></i></span></div>
                                <div class="col-12 col-sm text-center text-sm-left"><div class="paddingua10">Satış ekibi ve yöneticiler ihtiyaç duydukları bilgilere ve raporlara pano üzerinden hızlı ve kolayca  erişebilirler:</div></div>
                                <div class="col-auto"><button class="btn btn-outline-light" type="button">How to use Dashboard ?</button> </div>
                            </div>
                        </div>
                        <div class="col-auto"><button type="button" class="warn-close"><i class="fas fa-times"></i></button></div>
                    </div>
                </div>
                <div class="alert alert-primary shadow-sm" role="alert">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto"><span class="warn-icon"><i class="fas fa-question"></i></span></div>
                                <div class="col-12 col-sm text-center text-sm-left"><div class="paddingua10">Satış ekibi ve yöneticiler ihtiyaç duydukları bilgilere ve raporlara pano üzerinden hızlı ve kolayca  erişebilirler:</div></div>
                                <div class="col-auto"><button class="btn btn-outline-light" type="button">How to use Dashboard ?</button> </div>
                            </div>
                        </div>
                        <div class="col-auto"><button type="button" class="warn-close"><i class="fas fa-times"></i></button></div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="btn btn-primary" type="submit" md-autofocus><i class="fas fa-save"></i>
                {{'Common.Save' | translate}}
            </md-button>
            <span flex></span>
        </md-dialog-actions>
    </form>
</md-dialog>