<md-dialog flex="50" aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar class="with-subheader">
            <div class="md-toolbar-tools">
                <h2>Mango (Fruit)</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"><i class="fas fa-times"></i></md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-subheader class="own-tab">
                <md-tabs md-dynamic-height md-swipe-content>
                    <md-tab>
                        <md-tab-label id="tab1" aria-controls="Tab 1">
                            <div class="tab-container">
                                <span>1 - All List</span>
                            </div>
                        </md-tab-label>
                    </md-tab>
                    <md-tab>
                        <md-tab-label id="tab2" aria-controls="Tab2">
                            <div class="tab-container">
                                <span>2 - All Leads List</span>
                            </div>
                        </md-tab-label>
                    </md-tab>
                    
                </md-tabs>
            </md-subheader>
            <div class="md-dialog-content">
                <div class="alert alert-danger shadow-sm" role="alert">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto"><span class="warn-icon"><i class="fas fa-question"></i></span></div>
                                <div class="col-12 col-sm text-center text-sm-left"><div class="paddingua10">Satış ekibi ve yöneticiler ihtiyaç duydukları bilgilere ve raporlara pano üzerinden hızlı ve kolayca  erişebilirler:</div></div>
                                <div class="col-auto"><button class="btn btn-outline-light" type="button">How to use Dashboard ?</button> </div>
                            </div>
                        </div>
                        <div class="col-auto"><button type="button" class="warn-close"><i class="fas fa-times"></i></button></div>
                    </div>
                </div>
                <div class="alert alert-warning shadow-sm" role="alert">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto"><span class="warn-icon"><i class="fas fa-question"></i></span></div>
                                <div class="col-12 col-sm text-center text-sm-left"><div class="paddingua10">Satış ekibi ve yöneticiler ihtiyaç duydukları bilgilere ve raporlara pano üzerinden hızlı ve kolayca  erişebilirler:</div></div>
                                <div class="col-auto"><button class="btn btn-outline-light" type="button">How to use Dashboard ?</button> </div>
                            </div>
                        </div>
                        <div class="col-auto"><button type="button" class="warn-close"><i class="fas fa-times"></i></button></div>
                    </div>
                </div>
                <div class="alert alert-info shadow-sm" role="alert">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto"><span class="warn-icon"><i class="fas fa-question"></i></span></div>
                                <div class="col-12 col-sm text-center text-sm-left"><div class="paddingua10">Satış ekibi ve yöneticiler ihtiyaç duydukları bilgilere ve raporlara pano üzerinden hızlı ve kolayca  erişebilirler:</div></div>
                                <div class="col-auto"><button class="btn btn-outline-light" type="button">How to use Dashboard ?</button> </div>
                            </div>
                        </div>
                        <div class="col-auto"><button type="button" class="warn-close"><i class="fas fa-times"></i></button></div>
                    </div>
                </div>
                <div class="alert alert-primary shadow-sm" role="alert">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto"><span class="warn-icon"><i class="fas fa-question"></i></span></div>
                                <div class="col-12 col-sm text-center text-sm-left"><div class="paddingua10">Satış ekibi ve yöneticiler ihtiyaç duydukları bilgilere ve raporlara pano üzerinden hızlı ve kolayca  erişebilirler:</div></div>
                                <div class="col-auto"><button class="btn btn-outline-light" type="button">How to use Dashboard ?</button> </div>
                            </div>
                        </div>
                        <div class="col-auto"><button type="button" class="warn-close"><i class="fas fa-times"></i></button></div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="btn btn-primary" type="submit" md-autofocus>
                {{'Common.Next' | translate}}<i class="fas fa-angle-right"></i>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>