<md-sidenav layout-fill class="md-sidenav-right" md-component-id="sideModal" md-whiteframe="4">
    <div layout="column"   style="height: 100%; overflow-y: hidden;" ng-cloak>
        <md-toolbar md-scroll-shrink ng-if="true">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Close"><i class="fas fa-angle-left"></i></md-button>
                <h3 flex md-truncate>Mango (Fruit)</h3>
                <md-button class="btn btn-primary"><i class="fas fa-save"></i> <span>Save</span></md-button>
            </div>
        </md-toolbar>
        <md-content flex>
            <div class="container-fluid paddingua20">
                <div class="row">
                    <div class="col-sm-6"><div class="alert alert-primary" role="alert">This is a primary alert—check it out! </div></div>
                    <div class="col-sm-6"><div class="alert alert-secondary" role="alert">This is a secondary alert—check it out! </div></div>
                    <div class="col-sm-6"><div class="alert alert-success" role="alert">This is a success alert—check it out! </div></div>
                    <div class="col-sm-6"><div class="alert alert-danger" role="alert">This is a danger alert—check it out! </div></div>
                    <div class="col-sm-6"><div class="alert alert-warning" role="alert">This is a warning alert—check it out! </div></div>
                    <div class="col-sm-6"><div class="alert alert-info" role="alert">This is a info alert—check it out! </div></div>
                    <div class="col-sm-6"><div class="alert alert-light" role="alert">This is a light alert—check it out! </div></div>
                    <div class="col-sm-6"><div class="alert alert-dark" role="alert">This is a dark alert—check it out! </div></div>
                </div>
                <div class="alert alert-danger shadow-sm" role="alert">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto"><span class="warn-icon"><i class="fas fa-question"></i></span></div>
                                <div class="col-12 col-sm text-center text-sm-left"><div class="paddingua10">Satış ekibi ve yöneticiler ihtiyaç duydukları bilgilere ve raporlara pano üzerinden hızlı ve kolayca  erişebilirler:</div></div>
                                <div class="col-auto"><button class="btn btn-outline-light" type="button">How to use Dashboard ?</button> </div>
                            </div>
                        </div>
                        <div class="col-auto"><button type="button" class="warn-close"><i class="fas fa-times"></i></button></div>
                    </div>
                </div>
                <div class="alert alert-warning shadow-sm" role="alert">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto"><span class="warn-icon"><i class="fas fa-question"></i></span></div>
                                <div class="col-12 col-sm text-center text-sm-left"><div class="paddingua10">Satış ekibi ve yöneticiler ihtiyaç duydukları bilgilere ve raporlara pano üzerinden hızlı ve kolayca  erişebilirler:</div></div>
                                <div class="col-auto"><button class="btn btn-outline-light" type="button">How to use Dashboard ?</button> </div>
                            </div>
                        </div>
                        <div class="col-auto"><button type="button" class="warn-close"><i class="fas fa-times"></i></button></div>
                    </div>
                </div>
                <div class="alert alert-info shadow-sm" role="alert">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto"><span class="warn-icon"><i class="fas fa-question"></i></span></div>
                                <div class="col-12 col-sm text-center text-sm-left"><div class="paddingua10">Satış ekibi ve yöneticiler ihtiyaç duydukları bilgilere ve raporlara pano üzerinden hızlı ve kolayca  erişebilirler:</div></div>
                                <div class="col-auto"><button class="btn btn-outline-light" type="button">How to use Dashboard ?</button> </div>
                            </div>
                        </div>
                        <div class="col-auto"><button type="button" class="warn-close"><i class="fas fa-times"></i></button></div>
                    </div>
                </div>
                <div class="alert alert-primary shadow-sm" role="alert">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto"><span class="warn-icon"><i class="fas fa-question"></i></span></div>
                                <div class="col-12 col-sm text-center text-sm-left"><div class="paddingua10">Satış ekibi ve yöneticiler ihtiyaç duydukları bilgilere ve raporlara pano üzerinden hızlı ve kolayca  erişebilirler:</div></div>
                                <div class="col-auto"><button class="btn btn-outline-light" type="button">How to use Dashboard ?</button> </div>
                            </div>
                        </div>
                        <div class="col-auto"><button type="button" class="warn-close"><i class="fas fa-times"></i></button></div>
                    </div>
                </div>
                <div style="min-height: 2000px;"></div>
            </div>
        </md-content>
    </div>
</md-sidenav>