<div class="row trial-box" ng-if="day >= 0 && day <= 15 && user.id === user.tenantId && !isPaid && !preview">
    <div class="col-sm-4 trial-box-left">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="showPromotionModal('promotion')">{{
                    'Trial.PromotionRequest' | translate }}
                </button>
            </div>
            <div class="btn-group" role="group">
                <a href="https://www.youtube.com/channel/UClGV9dPtU1XC2VTn2Kb414A" target="_blank"
                   class="btn btn-default">{{ 'Trial.LearnByWatching' | translate }}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 trial-box-buy">
        <button ng-click="showPromotionModal('buy')" type="button" class="btn btn-default">{{ 'Trial.Buy' | translate
            }}
        </button>
    </div>
    <div class="col-sm-5 trial-box-text text-right">
        <span>{{ trailMessage }} </span>
    </div>
</div>
