

.form-control {
    border-width: 1px;
    @include box-shadow(none);


}

.form-control:focus {
    border-color: $skin;
    @include box-shadow(none);
}

.form-group {
    .col-sm-10 {
        position: relative;
        .icon {
            position: absolute;
            right: 25px;
            top: 10px;
        }
    }

}

input.input-primary {
    border-color: $skin;
    &:focus {
        border-color: $skin;
    } 
}
input.input-info {
    border-color: $brand-info;
    &:focus {
        border-color: $brand-info;
    }
}
input.input-success {
    border-color: $brand-success;
    &:focus {
        border-color: $brand-success;
    }
}
input.input-warning {
    border-color: $brand-warning;
    &:focus {
        border-color: $brand-warning;
    }
}
input.input-danger {
    border-color: $brand-danger;
    &:focus {
        border-color: $brand-danger;
    }
}

 
.inner-addon {
  position: relative;
  i {
      position: absolute;
      padding: 8px;
      height: 30px;
      width: 30px;
      cursor: pointer;
     
    }
}
 
.left-addon{
    i  { 
        left:  0px;
         top: 0px;
    }
    input  {
         padding-left:  30px; 
    }
} 
.right-addon{
    i { 
        right: 0px;
        top: 0px;
    }
    input  {
         padding-right: 30px;
    }
} 
