<div class="page">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h4 class="pull-left">{{'Convert.Quote.Title' | translate}}</h4>
        </div>
        <div class="panel-body">
            <div class="subpanel">
                <div class="subpanel-body">
                    <div ng-show="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
                    <div ng-show="!loading">
                        <div class="row">
                            <form name="orderForm" class="form-horizontal form-custom" ng-disabled="convertDisable" ng-submit="convert()" novalidate autocomplete="off">
                                <div class="col-md-6" id="checked">
                                    <table class="table" style="border: none;">
                                        <tr>
                                            <th style="border: none;width: 125px;">{{salesOrderModule['label_' + language + '_singular']}} {{stageField['label_' + language]}} :</th>
                                            <td style="border: none;">
                                                <select id="stage"
                                                        name="stage"
                                                        class="form-control"
                                                        style="max-width: 200px;margin-left: 27px;"
                                                        tabindex="4"
                                                        ng-model="order_stage"
                                                        ng-options="s.label[language] as s.label[language] for s in stageList | filter:{inactive:false} "
                                                        ng-disabled="converted">
                                                    <option value="">{{'Common.Select' | translate}}</option>
                                                </select>
                                            </td>
                                        </tr>

                                    </table>
                                    <div style="
                                                padding-left: 10px;
                                                padding-top: 5px;
                                                color: #666;
                                                font-style: italic;
                                            ">{{'Convert.Quote.ConvertDescription' | translate}}
                                    </div>
                                    <div class="row clearfix" style="margin-left: 10px; padding: 20px 0">
                                        <button type="submit" style="margin-left: 151px" ng-disabled="!order_stage" tabindex="5" ng-disabled="converted" class="btn btn-primary btn-w-lg" ladda="converting">
                                            {{'Common.Convert' | translate}} <i class="fa fa-check-circle pull-left"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>