<div class="form-group" ng-if="field.data_type === 'text_single' && field.data_type != 'number_auto' && !field.combination && (!field.editable ? field.show_label : true) && !field.show_lock && !field.hidden">

    <input type="text"
           name="{{field.name +'_'+ module.id}}"
           id="{{field.name +'_'+ module.id}}"
           class="k-textbox"
           tabindex="{{field.order}}"
           required="{{field.validation.required}}"
           placeholder="{{field.placeholder}}"
           ng-model="bulkUpdate.value"
           ng-readonly="field.validation.readonly || (id && !field.editable)"
           minlength="{{field.validation.min_length || 0}}"
           maxlength="{{field.validation.max_length || 50}}"
           pattern="{{field.validation.pattern || '[^=]*'}}"
           data-range-field="{{field.name +'_'+ module.id}}"
           k-mask="{{field.mask}}" />
    <span class="k-invalid-msg" data-for="{{field.name}}"></span>
</div>

<div class="form-group" ng-if="field.data_type === 'text_multi' && !field.multiline_type_use_html && !field.hidden">

    <textarea name="{{field.name}}"
              id="{{field.name}}"
              class="k-textbox"
              style="{{'overflow-x: hidden;' + field.style.input}}"
              tabindex="{{field.order}}"
              placeholder="{{field.placeholder}}"
              ng-model="bulkUpdate.value"
              required="{{field.validation.required}}"
              minlength="{{field.validation.min_length || 0}}"
              maxlength="{{field.validation.max_length || 500}}"
              ng-readonly="field.validation.readonly || (id && !field.editable)"
              pattern="{{field.validation.pattern}}"
              auto-grow></textarea>
    <span class="k-invalid-msg" data-for="{{field.name}}"></span>
</div>

<div class="form-group" ng-if="field.data_type === 'text_multi'  && field.multiline_type_use_html && !field.hidden">

    <textarea class="k-textbox"
              ng-model="bulkUpdate.value"
              ui-tinymce-multi="tinymceOptions"
              required="{{field.validation.required}}"></textarea>

</div>

<div class="form-group" ng-if="field.data_type === 'number' && !field.show_lock && !field.hidden">

    <input kendo-numeric-text-box
           name="{{field.name +'_'+ module.id}}"
           id="{{field.name +'_'+ module.id}}"
           tabindex="{{field.order}}"
           ng-placeholder="{{field.placeholder}}"
           k-options="{{'numberOptions'+field.id}}"
           min="{{field.validation.min}}"
           max="{{field.validation.max}}"
           maxlength="{{field.validation.max_length || 16}}"
           minlength="{{field.validation.min_length || 0}}"
           k-ng-model="bulkUpdate.value"
           data-range-field="{{field.name +'_'+ module.id}}"
           k-on-change="fieldValueChange(field); calculate(field);"
           ng-readonly="field.validation.readonly || (id && !field.editable)"
           ng-required="field.validation.required" />
    <span class="k-invalid-msg" data-for="{{field.name}}"></span>
</div>

<div class="form-group" ng-if="field.data_type === 'number_decimal' && !field.show_lock && !field.hidden">

    <input kendo-numeric-text-box
           name="{{field.name}}"
           id="{{field.name}}"
           tabindex="{{field.order}}"
           ng-placeholder="{{field.placeholder}}"
           min="{{field.validation.min}}"
           max="{{field.validation.max}}"
           maxlength="{{field.validation.max_length || 16}}"
           minlength="{{field.validation.min_length || 0}}"
           k-ng-model="bulkUpdate.value"
           k-on-change="fieldValueChange(field); calculate(field);"
           ng-required="field.validation.required"
           ng-readonly="field.validation.readonly || (id && !field.editable)" />
    <span class="k-invalid-msg" data-for="{{field.name}}"></span>
</div>

<div class="form-group" ng-if="field.data_type === 'currency' && !field.show_lock && !field.hidden">
    <input kendo-numeric-text-box
           name="{{field.name}}"
           id="{{field.name}}"
           tabindex="{{field.order}}"
           ng-placeholder="{{field.placeholder}}"
           min="{{field.validation.min}}"
           max="{{field.validation.max}}"
           maxlength="{{field.validation.max_length || 16}}"
           minlength="{{field.validation.min_length || 0}}"
           k-options="{{'currencyOptions'+ field.id}}"
           k-ng-model="bulkUpdate.value"
           k-on-change="fieldValueChange(field); calculate(field);"
           ng-required="field.validation.required"
           ng-readonly="field.validation.readonly || (id && !field.editable)" />
    <span class="k-invalid-msg" data-for="{{field.name}}"></span>
</div>

<div class="form-group"
     ng-if="field.data_type === 'email' && !field.show_lock && !field.hidden">

    <input type="email"
           name="{{field.name}}"
           id="{{field.name}}"
           class="k-textbox"
           placeholder="e.g. myname@example.net"
           tabindex="{{field.order}}"
           ng-model="bulkUpdate.value"
           required="{{field.validation.required}}"
           ng-readonly="field.validation.readonly || (id && !field.editable)"
           minlength="{{field.validation.min_length || 0}}"
           maxlength="{{field.validation.max_length || 100}}" />
    <span class="k-invalid-msg" data-for="{{field.name}}"></span>
</div>

<div class="form-group"
     ng-if="field.data_type === 'date' && !field.hidden">

    <input kendo-date-picker="{{'date'+field.id}}"
           name="{{field.name}}"
           id="{{field.name}}"
           class="width100"
           tabindex="{{field.order}}"
           k-ng-model="bulkUpdate.value"
           ng-model="bulkUpdate.valueStr"
           required="{{field.validation.required}}"
           ng-click="openCalendar(field)"
           placeholder="{{'Common.Date' | translate}}" />
</div>

<div class="form-group"
     ng-if="field.data_type === 'date_time' && !field.hidden && (id || (!id && (field.name !== 'created_at' && field.name !== 'updated_at')))">

    <input kendo-date-time-picker="{{'date_time'+field.id}}"
           name="{{field.name}}"
           id="{{field.name}}"
           class="width100"
           tabindex="{{field.order}}"
           k-ng-model="bulkUpdate.value"
           ng-model="bulkUpdate.valueStr"
           ng-click="openCalendar(field)"
           required="{{field.validation.required}}"
           ng-disabled="field.name === 'created_at' ||field.name === 'updated_at'"
           placeholder="{{'Common.DateTime' | translate}}" />
</div>

<div class="form-group"
     ng-if="field.data_type === 'time' && !field.hidden">

    <input kendo-time-picker="{{'time'+field.id}}"
           name="{{field.name}}"
           id="{{field.name}}"
           class="width100"
           tabindex="{{field.order}}"
           k-ng-model="bulkUpdate.value"
           ng-model="bulkUpdate.valueStr"
           ng-readonly="field.validation.readonly || (id && !field.editable)"
           ng-click="openCalendar(field)"
           required="{{field.validation.required}}"
           placeholder="{{'Common.Time' | translate}}" />
</div>

<div class="form-group"
     ng-if="(field.data_type === 'picklist' || field.data_type === 'rating') && field.custom_label && !field.hidden">
    <div tabindex="{{cell.field.order}}"
         ng-model="field.custom_label">
        {{field.custom_label}}
    </div>
</div>

<div class="form-group"
     ng-if="field.data_type === 'picklist' && ( field.view_type === 'dropdown' || field.view_type === 'radio' || field.view_type === '' || field.view_type === undefined) && !field.hidden">

    <select id="{{field.name}}"
            name="{{field.name}}"
            kendo-drop-down-list
            required="{{field.validation.required}}"
            tabindex="{{field.order}}"
            k-data-source="field.picklist"
            k-data-text-field="'languages.{{globalization.Label}}.label'"
            k-data-value-field="'id'"
            k-ng-model="bulkUpdate.value"
            ng-disabled="field.validation.readonly || (id && !field.editable)">
    </select>

</div>
<div class="form-group"
     ng-if="field.data_type === 'droplist' && ( field.view_type === 'dropdown' || field.view_type === 'radio' || field.view_type === '' || field.view_type === undefined) && !field.hidden">

    <select id="{{field.name}}"
            name="{{field.name}}"
            kendo-drop-down-list
            required="{{field.validation.required}}"
            tabindex="{{field.order}}"
            k-data-source="field.droplist"
            k-data-text-field="'label'"
            k-data-value-field="'name'"
            k-ng-model="bulkUpdate.value"
            ng-disabled="field.validation.readonly || (id && !field.editable)">
    </select>

</div>

<div class="form-group accept"
     ng-if="field.data_type === 'checkbox' && !field.custom_label && !field.hidden && (preview ? true : field.name === 'is_sample'? false : true )">
    <input type="checkbox"
           id="{{field.name}}"
           name="{{field.name}}"
           class="k-checkbox"
           ng-disabled="field.validation.readonly || (id && !field.editable)"
           ng-model="bulkUpdate.value"
           tabindex="{{field.order}}">
    <label ng-show="!field.custom_label && field.show_label"
           class="k-checkbox-label" for="{{field.name}}"><span>{{ field.languages[globalization.Label]['label'] }}</span></label>
</div>

<div class="form-group"
     ng-if="field.data_type === 'checkbox' && field.custom_label && !field.hidden">
    <span class="ng-animate-disabled"
          tabindex="{{cell.field.order}}"
          id="{{field.name}}"
          ng-model="field.custom_label">{{field.custom_label}}</span>
</div>

<div class="form-group"
     ng-if="field.data_type === 'text_single' && field.combination && !field.show_lock && !field.hidden && id">

    <input type="text"
           id="{{field.name}}"
           class="k-textbox"
           name="{{field.name}}"
           style="{{field.style.input}}"
           tabindex="{{field.order}}"
           ng-value="record[field.name]"
           ng-readonly="true" />
</div>

<div class="form-group" ng-if="(field.data_type === 'multiselect' || field.data_type === 'multiselect_droplist')  && !field.hidden">

    <select id="{{field.name}}"
            name="{{field.name}}"
            kendo-multi-select
            k-options="field.options"
            k-ng-model="bulkUpdate.value"
            required="{{field.validation.required}}">
    </select>
</div>

<div class="form-group rating-fields"
     ng-if="field.data_type === 'rating' && !field.hidden">
    <input kendo-rating="{{'rating_'+field.id}}"
           class="form-control"
           id="{{field.name}}"
           name="{{field.name}}"
           k-precision="'half'"
           k-label="false"
           k-max="getRatingCount('{{field.name}}')"
           k-ng-model="bulkUpdate.value" />
</div>

<div class="form-group"
     ng-if="field.data_type === 'url'  && !field.show_lock && !field.hidden">

    <input class="k-textbox" type="text"
           name="{{field.name}}"
           id="{{field.name}}"
           style="{{field.style.input}}"
           tabindex="{{field.order}}"
           placeholder="{{field.placeholder}}"
           ng-model="bulkUpdate.value"
           required="{{field.validation.required}}"
           ng-readonly="field.validation.readonly || (id && !field.editable)"
           minlength="{{field.validation.min_length || 0}}"
           maxlength="{{field.validation.max_length || 400}}"
           pattern="{{field.validation.pattern}}" />
</div>

<div class="form-group" ng-if="field.data_type === 'lookup' && !field.hidden && (id || (!id && (field.name !== 'created_by' && field.name !== 'updated_by')))">

    <select kendo-drop-down-list
            id="{{field.name}}"
            name="{{field.name}}"
            k-options="{{'lookupOptions'+field.id}}"
            ng-model="bulkUpdate.value"
            k-filter="'{{field.lookup_search_type ? field.lookup_search_type : 'startswith' }}'"
            required="{{field.validation.required}}"
            ng-disabled="field.name === 'created_by' ||field.name === 'updated_by'">
    </select>
</div>
<div class="form-group" ng-if="field.data_type === 'text_single' && !field.editable && !field.show_label  && !field.show_lock && !field.hidden">
    <input type="text"
           id="{{field.name}}"
           class="k-textbox"
           name="{{field.name}}"
           placeholder="{{field.placeholder}}"
           ng-readonly="field.validation.readonly || (id && !field.editable)"
           required="{{field.validation.required}}"
           style="{{field.style.input}}"
           tabindex="{{field.order}}"
           ng-model="bulkUpdate.value" />
</div>


<div class="form-group" ng-if="field.data_type === 'picklist' &&  field.view_type ==='radio' && !field.hidden">

    <div class="custom-control custom-radio custom-control-inline"
         ng-repeat="radio in picklistsModule[field.picklist_id] | filter:{inactive:'!true', hidden:'!true'}">
        <input id="{{field.name+radio.id}}"
               class="k-radio"
               tabindex="{{field.order}}"
               ng-disabled="field.validation.readonly || (id && !field.editable)"
               required="{{field.validation.required}}"
               name="{{field.name}}"
               type="radio"
               ng-model="bulkUpdate.value"
               ng-value="radio">
        <label class="k-radio-label" for="{{field.name+radio.id}}">
            {{radio.languages[globalization.Label]['label']}}
        </label>
    </div>
</div>

<div class="form-group" ng-if="field.data_type === 'picklist' &&  field.view_type ==='checkbox' && !field.hidden">

    <div ng-class="{'drop-down-checkbox':field.view_type ==='checkbox'}"
         class="custom-control custom-checkbox custom-control-inline"
         ng-repeat="checkbox in picklistsModule[field.picklist_id] | filter:{inactive:'!true', hidden:'!true'}">
        <input id="{{field.name+checkbox.id}}"
               class="k-checkbox"
               tabindex="{{field.order}}"
               ng-disabled="field.validation.readonly || (id && !field.editable)"
               required="{{field.validation.required}}"
               name="{{field.name}}"
               type="radio"
               ng-model="bulkUpdate.value"
               ng-value="checkbox">
        <label class="k-checkbox-label" for="{{field.name+checkbox.id}}">
            {{checkbox.languages[globalization.Label]['label']}}
        </label>
    </div>
</div>

<div class="form-group" ng-if="field.data_type === 'tag' && !field.hidden" ng-mouseover="setId(field, false)">
    <select kendo-multi-select
            id="{{field.name}}"
            name="{{field.name}}"
            k-options="field.tag"
            k-ng-model="bulkUpdate.value"
            required="{{field.validation.required}}"></select>
</div>
