<div class="setup-title">
    <h2>{{component.name}}</h2>
    <button class="btn add-button" ng-click="edit()"><i class="fas fa-cog"></i> Settings</button>
</div>



<div ng-if="!loading" class="tab-content" style="padding: 20px;">
    <div class="setup-title">
        <h2>Clone this repository</h2>
        <small>Need help cloning? Visit <a href="http://git-scm.com/book/en/Git-Basics-Getting-a-Git-Repository" target="_blank" rel="nofollow">Help</a>.</small>
    </div>
    <div class="markdown" style="padding-bottom: 20px;">
        <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;border-radius: 5;">
            <code>
{{giteaUrl}}/{{organization.name}}/test1.git</code>
        </pre>
    </div>
    <div class="setup-title">
        <h2>Creating a new repository on the command line</h2>
    </div>
    <div class="markdown" style="padding-bottom: 20px;">
        <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;border-radius: 5;">
            <code>
git init
git add README.md
git commit -m "first commit"
git remote add origin <span class="clone-url">{{giteaUrl}}/{{organization.name}}/{{component.name}}.git</span>
git push -u origin master</code>
        </pre>
    </div>
    <div class="setup-title">
        <h2>Pushing an existing repository from the command line</h2>
    </div>
    <div class="markdown" style="padding-bottom: 20px;">
        <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;border-radius: 5;">
            <code>
git remote add origin <span class="clone-url">{{giteaUrl}}/{{organization.name}}/{{component.name}}.git</span>
git push -u origin master</code>
        </pre>
    </div>
</div>