<div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
<div ng-if="!loading" class="tab-content">
    <div class="col-sm-12" style="border: none ;">
        <div class="setup-liste-header row">
            <div class="col-sm-6">
                <div class="setup-title">
                    <h2>{{component.name}} <i class="fas fa-edit" style="padding-left:10px;cursor: pointer;" ng-click="edit()"></i></h2>
                    <div>
                        <ul class="list-unstyled list-inline">
                            <li></li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="ui grid">
                <div class="sixteen wide column content">
                    <h4 class="ui top attached header" style="background-color: #f0f0f0;font-weight: bold;padding-bottom: 5px;padding: 10px;border: 1px solid #d4d4d5 !important;margin-bottom: 0px;border-bottom-color: transparent !important;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                        Quick Guide
                    </h4>
                    <div class="ui attached guide table segment" style="border: 1px solid #d4d4d5;padding-left: 10px;">
                        <div class="item">
                            <h3>Clone this repository
                                <small>Need help cloning? Visit <a href="http://git-scm.com/book/en/Git-Basics-Getting-a-Git-Repository" target="_blank" rel="nofollow">Help</a>.</small>
                            </h3>
                            <div class="ui action small input" style="font-size: 17px;color: #4890bc;background: #f7f7f7 !important;padding: 18px;">
                                {{giteaUrl}}/primeapps/test1.git
                            </div>
                        </div>
                        <div class="ui divider"></div>
                        <div class="item">
                            <h3>Creating a new repository on the command line</h3>
                            <div class="markdown">
								<pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;border-radius: 0;">
                                    <code>
git init
git add README.md
git commit -m "first commit"
git remote add origin <span class="clone-url">{{giteaUrl}}/{{organization.name}}/{{component.name}}.git</span>
git push -u origin master</code>
                                </pre>
                            </div>
                        </div>
                        <div class="ui divider"></div>
                        <div class="item" style="padding-bottom: 15px;">
                            <h3>Pushing an existing repository from the command line</h3>
                            <div class="markdown">
								<pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;border-radius: 0;">
                                    <code>
git remote add origin <span class="clone-url">{{giteaUrl}}/{{organization.name}}/{{component.name}}.git</span>
git push -u origin master</code>
                                </pre>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>