<ng-include src="'view/common/appsFirstScreen.html'" ng-if="apps.length<1 && !loading"></ng-include>

<div class="page-container">
    <div class="row">
        <div class="col-sm-10">
            <div class="search-input">
                <div class="search-input-icon">
                    <i class="fas fa-search"></i>
                </div>
                <input ng-model="appSearch" ng-change="appFilter(appSearch, appStatus)"
                       class="form-control form-control-lg form-control-borderless app-search-input" type="search"
                       placeholder="Search for a project">

            </div>

        </div>
        <div class="col-sm-2 search-select">
            <i class="fas fa-angle-down"></i>
            <select ng-change="appFilter('', appStatus)" class="select-status" ng-model="appStatus">
                <option value="">All Apps</option>
                <option value="1">Draft</option>
                <option value="2">Published</option>
                <option value="3">Unpublished</option>
            </select>
        </div>

    </div>
    <div class="row" style="margin-top: 50px">
        <!--<div  class="page-loading"><i class="fas fa-spinner fa-pulse"></i></div>-->

        <div class="col-sm-12">
            <h4 class="h4-title blue-color font-bold">All Apps</h4>
        </div>

        <div class="col-sm-6 col-md-3 app-layout-box" ng-show="loading">
            <div class="app-box">
                <div class="animated-background" style="height: 100%;width: 100%;margin: 0;"></div>

            </div>
            <div class="app-info">
                <div class="animated-background" style="height: 100%;width: 100%;"></div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 app-layout-box" ng-repeat="app in apps"
             ui-sref="studio.app.overview({appId:app.id, orgId:app.organization_id})" ng-show="!loading">
            <div class="app-box">
                <div class="oval">
                    <span data-trigger="hover" data-type="success"
                          data-title="{{app.status.charAt(0).toUpperCase() + app.status.slice(1)}}" bs-tooltip
                          class="oval-{{app.status === 'publish' ? 'green' : app.status === 'draft' ? 'orange' : 'gray' }}"></span>
                </div>
                <div class="image">
                    <img ng-src="{{app.logo}}"/>
                </div>
            </div>
            <div class="app-info">
                <h3>{{app.label}}</h3>
                <h4>{{app.description}} </h4>
            </div>
        </div>

    </div>
</div>
