<div class="modal setup-modal modal-900" tabindex="-1" role="dialog">
    <form name="viewForm" class="form-horizontal form-custom" ng-submit="save(viewForm)" autocomplete="off" novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">{{'Setup.Modules.TitleFilters' | translate}}</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button type="button" ng-disabled="saving" ng-click="addNewFiltersModal.hide(); $parent.$parent.wizardStep = 0; wizardStep = 0;" class="btn add-button btn-radius btn-gray"><i class="fas fa-times"></i>{{'Common.Cancel' | translate}}</button>
                        </li>
                        <li ng-if="wizardStep > 0">
                            <button type="button" ng-disabled="saving" class="btn btn-radius btn-blue ng-binding" ng-click="validate(viewForm, false); "><i class="fas fa-angle-left"></i>{{'Common.Previous' | translate}}</button>
                        </li>
                        <li ng-if=" isNew && wizardStep < 3">
                            <button type="button" ng-disabled="saving" class="btn btn-radius btn-blue ng-binding" ng-click="validate(viewForm, true);">
                                {{'Common.Next' | translate}}<i class="fas fa-angle-right"></i>
                            </button>
                        </li>
                        <li ng-if="wizardStep > 2 || !isNew">
                            <button type="submit" ladda="saving" class="btn add-button btn-radius btn-blue"><i class="fas fa-save"></i>{{'Common.Save' | translate}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog scroll-style-4">
            <div class="modal-content">
                <div class="modal-contanier">
                    <div class="modal-body view-form">

                        <div class="megalist">
                            <div class="modal-menu">
                                <ul class="list-unstyled">
                                    <li><a ng-class="{'active': wizardStep==0}" ng-click="validate(viewForm) ? $parent.$parent.wizardStep = 0 : false">{{'View.ViewInformation' | translate}}</a></li>
                                    <li ng-class="{'disabled': loadingModal}"><a ng-class="{'active': wizardStep==1}" ng-click="!loadingModal ? validate(viewForm) ? $parent.$parent.wizardStep = 1 : false : return;">{{'View.ChooseFields' | translate}}</a></li>
                                    <li ng-class="{'disabled': loadingModal}"><a ng-class="{'active': wizardStep==2}" ng-click="!loadingModal ? validate(viewForm) ? $parent.$parent.wizardStep = 2 : false : return;">{{'View.Filter' | translate}}</a></li>
                                    <li ng-class="{'disabled': loadingModal}"><a ng-class="{'active': wizardStep==3}" ng-click="!loadingModal ? validate(viewForm) ? $parent.$parent.wizardStep = 3 : false : return;">{{'View.ShareInformation' | translate}}</a></li>
                                </ul>
                            </div>
                            <div ng-if="loadingModal"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
                            <div class="section" id="section1" ng-show="wizardStep == 0 && !loadingModal">
                                <h4>{{'View.ViewInformation' | translate}}</h4>
                                <div class="panel">
                                    <div class="form-group" ng-class="{'has-error': viewForm.$submitted && viewForm.module.$invalid}">
                                        <label class="control-label col-sm-12">{{'Setup.Modules.Name' | translate}} <span class="required-label">({{'Common.Required' | translate }})</span></label>
                                        <select name="module"
                                                class="form-control ng-animate-disabled col-sm-12"
                                                required
                                                ng-model="module"
                                                ng-change="selectedModuleChanged(module)"
                                                ng-disabled="view.edit===true"
                                                ng-options="o as o['label_' + language + '_plural'] for o in modules | orderNotZero | orderBy:'order' track by o.name">
                                            <option value="">{{'Common.Select' | translate}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': viewForm.$submitted && viewForm.label.$invalid}">
                                        <label for="label" class="control-label col-sm-12">{{'View.ViewName' | translate}} <span class="required-label">({{'Common.Required' | translate }})</span></label>
                                        <input type="text" id="label" name="label" class="form-control" required ng-model="view.label"/>
                                    </div>
                                    <div class="form-group" ng-show="viewForm.$submitted && (viewForm.label.$error.required || viewForm.module.$error.required )">
                                        <div class="callout callout-danger">
                                            <p ng-if="viewForm.label.$error.required && viewForm.module.$error.required">{{'Module.RequiredError' | translate}}</p>
                                            <p ng-if="viewForm.label.$error.required && !viewForm.module.$error.required">Label is required</p>
                                            <p ng-if="viewForm.module.$error.required && !viewForm.label.$error.required">Module is required</p>
                                        </div>
                                    </div>
                                    <!--<div class="form-group text-right">-->
                                    <!--<button type="button" class="btn btn-radius btn-blue ng-binding" ng-click="validate(viewForm, wizardStep, true)">-->
                                    <!--{{'Common.Next' | translate}}<i class="fas fa-angle-right"></i>-->
                                    <!--</button>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="section" id="section2" ng-show="wizardStep == 1">
                                <h4>{{'View.ChooseFields' | translate}}</h4>
                                <div class="panel">
                                    <!--<div ng-if="loadingFilter" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>-->
                                    <!--<div ng-show="!loadingFilter">-->
                                    <div class="fields-header">
                                        <span class="title-left">{{'View.AvailableFields' | translate}}</span>
                                        <span class="title-right">{{'View.SelectedFields' | translate}}</span>
                                    </div>
                                    <div class="fields clearfix">
                                        <div id="availableFields" class="container-left scroll-style-4">
                                            <div ng-repeat="field in fields.availableFields | filter:{multiline_type:'!large'}"
                                                 ng-class="{'dragable':!field.seperator, 'seperator':field.seperator, 'seperator-main':field.name === 'seperator-main'}">
                                                {{field.label}} <i class="fa fa-arrows" ng-if="!field.seperator"></i></div>
                                        </div>
                                        <div class="container-middle">
                                            <i class="fas fa-exchange-alt"></i>
                                        </div>
                                        <div id="selectedFields" style="{{background_color}}" class="container-right scroll-style-4">
                                            <div ng-repeat="field in fields.selectedFields" class="dragable">{{field.label + ' ' + field.labelExt}} <i class="fa fa-arrows"></i></div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group text-right">-->
                                    <!--<button type="button" class="btn btn-radius btn-blue" ng-click="validate(viewForm, wizardStep, false);"><i class="fas fa-angle-left"></i>{{'Common.Previous' | translate}}</button>-->
                                    <!--<button type="button" class="btn btn-radius btn-blue" ng-click="validate(viewForm, wizardStep, true);">-->
                                    <!--{{'Common.Next' | translate}}<i class="fas fa-angle-right"></i>-->
                                    <!--</button>-->
                                    <!--</div>-->
                                </div>
                                <div class="form-group" ng-show="viewForm.$submitted && viewForm.$invalid && fields.selectedFields.length === 0">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <div class="callout callout-danger">
                                            <p ng-if="viewForm.$error.field">{{'View.FieldError' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section" id="section3" ng-show="wizardStep == 2">
                                <h4>{{'View.Filter' | translate}}</h4>
                                <div class="panel table-responsive">
                                    <table class="filter-table">
                                        <thead>
                                        <tr>
                                            <th style="padding-left: 5px;">{{'View.No' | translate}}</th>
                                            <th>{{'View.Field' | translate}}</th>
                                            <th>{{'View.Operator' | translate}}</th>
                                            <th>{{'View.Value' | translate}}</th>
                                        </tr>
                                        </thead>
                                        <div ng-if="loadingModal"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
                                        <tbody ng-if="!loadingModal">
                                        <tr ng-repeat="filter in view.filterList">
                                            <td>
                                                <span class="filter-no">{{filter.no}}.</span>
                                            </td>
                                            <td>
                                                <div class="form-group bottom0">
                                                    <select id="field"
                                                            name="field"
                                                            class="form-control ng-animate-disabled"
                                                            ng-options="o as o['label_' + language] for o in module.fields | filter:{deleted:'!true'} | orderBy:'order' track by o.name"
                                                            ng-change="filter.value = null; filter.operator = null; filter.disabled = false;"
                                                            ng-model="filter.field">
                                                        <option value="">{{'Common.Select' | translate}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group bottom0">
                                                    <select id="operator"
                                                            name="operator"
                                                            class="form-control ng-animate-disabled"
                                                            ng-options="o as o.label[language] for o in filter.field.operators | orderBy:'order' track by o.order"
                                                            ng-change="operatorChanged(filter.field, $index)"
                                                            ng-model="filter.operator"
                                                            ng-if="!filter.field.lookupModulePrimaryField">
                                                        <option value="">{{'Common.Select' | translate}}</option>
                                                    </select>
                                                    <select
                                                            class="form-control ng-animate-disabled"
                                                            ng-options="o as o.label[language] for o in filter.field.lookupModulePrimaryField.operators | orderBy:'order' track by o.order"
                                                            ng-change="operatorChanged(filter.field, $index)"
                                                            ng-model="filter.operator"
                                                            ng-if="filter.field.lookupModulePrimaryField">
                                                        <option value="">{{'Common.Select' | translate}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group bottom0">
                                                    <input type="text"
                                                           class="form-control ng-animate-disabled"
                                                           ng-model="filter.value"
                                                           ng-disabled="filter.disabled"
                                                           maxlength="100"
                                                           ng-if="!filter.field.lookupModulePrimaryField ? (filter.field.data_type === 'text_single' || filter.field.data_type === 'text_multi' || filter.field.data_type === 'email' || filter.field.data_type === undefined) : (filter.field.lookupModulePrimaryField.data_type === 'text_single' || filter.field.lookupModulePrimaryField.data_type === 'text_multi' || filter.field.lookupModulePrimaryField.data_type === 'email' || filter.field.lookupModulePrimaryField.data_type === undefined)"/>

                                                    <input type="text"
                                                           class="form-control ng-animate-disabled"
                                                           ng-model="filter.value"
                                                           ng-disabled="filter.disabled"
                                                           maxlength="50"
                                                           numeric
                                                           ng-if="!filter.field.lookupModulePrimaryField ? (filter.field.data_type === 'number' || filter.field.data_type === 'number_auto') : (filter.field.lookupModulePrimaryField.data_type === 'number' || filter.field.lookupModulePrimaryField.data_type === 'number_auto')"/>

                                                    <input type="text"
                                                           class="form-control ng-animate-disabled"
                                                           ng-model="filter.value"
                                                           ng-disabled="filter.disabled"
                                                           maxlength="19"
                                                           places="filter.field.decimal_places || 2"
                                                           number-decimal
                                                           ng-if="!filter.field.lookupModulePrimaryField ? filter.field.data_type === 'number_decimal' : filter.field.lookupModulePrimaryField.data_type === 'number_decimal'"/>

                                                    <input type="text"
                                                           class="form-control ng-animate-disabled"
                                                           ng-model="filter.value"
                                                           ng-disabled="filter.disabled"
                                                           maxlength="50"
                                                           places="filter.field.decimal_places || 2"
                                                           currency-symbol="filter.field.currency_symbol"
                                                           number-currency
                                                           ng-if="!filter.field.lookupModulePrimaryField ? filter.field.data_type === 'currency' : filter.field.lookupModulePrimaryField.data_type === 'currency'"/>

                                                    <input type="text"
                                                           class="form-control ng-animate-disabled"
                                                           ng-model="filter.value"
                                                           ng-disabled="filter.disabled"
                                                           data-autoclose="1"
                                                           data-date-type="iso"
                                                           data-min-date="{{(filter.field.validation.min ? (filter.field.validation.min === 'today' ? currentDayMin : filter.field.validation.min) : undefined)}}"
                                                           data-max-date="{{(filter.field.validation.max ? (filter.field.validation.max === 'today' ? currentDayMax : filter.field.validation.max) : undefined)}}"
                                                           data-icon-left="fa fa-chevron-left"
                                                           data-icon-right="fa fa-chevron-right"
                                                           data-placement="bottom-right"
                                                           bs-datepicker
                                                           ng-if="!filter.field.lookupModulePrimaryField ? filter.field.data_type === 'date' : filter.field.lookupModulePrimaryField.data_type === 'date'">

                                                    <div class="clearfix datetime-pick" ng-if="!filter.field.lookupModulePrimaryField ? filter.field.data_type === 'date_time' : filter.field.lookupModulePrimaryField.data_type === 'date_time'">
                                                        <input type="text"
                                                               class="form-control ng-animate-disabled date-pick"
                                                               ng-model="filter.value"
                                                               ng-change="dateTimeChanged(filter.field)"
                                                               ng-disabled="filter.disabled"
                                                               placeholder="{{'Common.Date' | translate}}"
                                                               data-autoclose="1"
                                                               data-date-type="iso"
                                                               data-min-date="{{(filter.field.validation.min ? (filter.field.validation.min === 'today' ? currentDayMin : filter.field.validation.min) : undefined)}}"
                                                               data-max-date="{{(filter.field.validation.max ? (filter.field.validation.max === 'today' ? currentDayMax : filter.field.validation.max) : undefined)}}"
                                                               data-icon-left="fa fa-chevron-left"
                                                               data-icon-right="fa fa-chevron-right"
                                                               data-placement="bottom-right"
                                                               bs-datepicker>
                                                        <input type="text"
                                                               class="form-control ng-animate-disabled time-pick"
                                                               ng-model="filter.value"
                                                               ng-disabled="!filter.value"
                                                               placeholder="{{'Common.Time' | translate}}"
                                                               data-autoclose="1"
                                                               data-time-type="iso"
                                                               data-icon-up="fa fa-chevron-up"
                                                               data-icon-down="fa fa-chevron-down"
                                                               data-length="1"
                                                               data-minute-step="10"
                                                               data-arrow-behavior="picker"
                                                               data-placement="bottom-right"
                                                               bs-timepicker>
                                                    </div>

                                                    <input type="text"
                                                           class="form-control ng-animate-disabled"
                                                           ng-model="filter.value"
                                                           ng-disabled="filter.disabled"
                                                           placeholder="{{'Common.Time' | translate}}"
                                                           data-autoclose="1"
                                                           data-time-type="iso"
                                                           data-icon-up="fa fa-chevron-up"
                                                           data-icon-down="fa fa-chevron-down"
                                                           data-length="1"
                                                           data-minute-step="10"
                                                           data-arrow-behavior="picker"
                                                           data-placement="bottom-right"
                                                           bs-timepicker
                                                           ng-if="!filter.field.lookupModulePrimaryField ? filter.field.data_type === 'time' : filter.field.lookupModulePrimaryField.data_type === 'time'">

                                                    <select class="form-control ng-animate-disabled"
                                                            ng-model="filter.value"
                                                            ng-disabled="filter.disabled"
                                                            ng-options="o as o.label[language] for o in modulePicklists[!filter.field.lookupModulePrimaryField ? filter.field.picklist_id : filter.field.lookupModulePrimaryField.picklist_id] track by o.id"
                                                            ng-if="!filter.field.lookupModulePrimaryField ? filter.field.data_type === 'picklist' : filter.field.lookupModulePrimaryField.data_type === 'picklist'">
                                                        <option value="">{{'Common.Select' | translate}}</option>
                                                    </select>


                                                    <tags-input class="ng-animate-disabled"
                                                                ng-model="filter.value"
                                                                display-property="labelStr"
                                                                key-property="id"
                                                                placeholder="{{'Common.MultiselectPlaceholder' | translate}}"
                                                                replace-spaces-with-dashes="false"
                                                                add-from-autocomplete-only="true"
                                                                ng-if="!filter.field.lookupModulePrimaryField ? filter.field.data_type === 'multiselect' : filter.field.lookupModulePrimaryField.data_type === 'multiselect'">
                                                        <auto-complete source="multiselect($query, filter.field)"
                                                                       min-length="0"
                                                                       load-on-focus="true"
                                                                       load-on-empty="true"
                                                                       max-results-to-show="9999"></auto-complete>
                                                    </tags-input>

                                                    <tags-input class="ng-animate-disabled"
                                                                ng-model="filter.value"
                                                                display-property="full_name"
                                                                key-property="id"
                                                                max-tags="1"
                                                                placeholder="{{'Common.Search' | translate}}"
                                                                replace-spaces-with-dashes="false"
                                                                add-from-autocomplete-only="true"
                                                                ng-if="!filter.field.lookupModulePrimaryField ? (filter.field.data_type === 'lookup' && filter.field.lookup_type === 'users') : (filter.field.lookupModulePrimaryField.data_type === 'lookup' && filter.field.lookupModulePrimaryField.lookup_type === 'users')">
                                                        <auto-complete source="lookupUser($query, 'logged_in_user')"
                                                                       min-length="0"
                                                                       load-on-focus="true"
                                                                       load-on-empty="true"
                                                                       max-results-to-show="9999"></auto-complete>
                                                    </tags-input>

                                                    <input-stars
                                                            ng-if="filter.field.data_type === 'rating'"
                                                            max="{{filter.field.validation.min_length}}"
                                                            allow-half
                                                            icon-base="fa fa-fw"
                                                            icon-empty="fa-star-o"
                                                            icon-half="fa-star-half-o"
                                                            icon-full="fa-star"
                                                            icon-hover-full="fa-star"
                                                            ng-model="filter.value"></input-stars>

                                                    <input type="text"
                                                           class="form-control ng-animate-disabled"
                                                           ng-model="filter.value"
                                                           ng-disabled="filter.disabled"
                                                           maxlength="100"
                                                           ng-if="!filter.field.lookupModulePrimaryField ? (filter.field.data_type === 'lookup' && filter.field.lookup_type != 'users') : (filter.field.lookupModulePrimaryField.data_type === 'lookup' && filter.lookupModulePrimaryField.field.lookup_type != 'users')"/>

                                                    <select
                                                            class="form-control ng-animate-disabled"
                                                            ng-model="filter.value"
                                                            ng-options="o as o.label[language] for o in modulePicklists['yes_no'] track by o.id"
                                                            ng-if="!filter.field.lookupModulePrimaryField ? filter.field.data_type === 'checkbox' : filter.field.lookupModulePrimaryField.data_type === 'checkbox'">
                                                        <option value="">{{'Common.Select' | translate}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group " ng-class="{'has-error': viewForm.$submitted && viewForm.filterLogic.$invalid}">
                                    <label for="filterLogic" class="control-label col-sm-12">{{'View.FilterLogic' | translate}}</label>
                                    <input type="text" id="filterLogic" name="filterLogic" class="form-control col-sm-12" maxlength="40" ng-change="viewForm.filterLogic.$setValidity('filterLogic', true)" ng-model="view.filter_logic" />
                                    <span class="filter-logic-example" ng-bind-html="'View.FilterLogicExample' | translate"></span>
                                </div>
                                <!--<div class="form-group text-right">-->
                                <!--<button type="button" class="btn btn-radius btn-blue ng-binding" ng-click="validate(viewForm, wizardStep, false);"><i class="fas fa-angle-left"></i>{{'Common.Previous' | translate}}</button>-->
                                <!--<button type="button" class="btn btn-radius btn-blue ng-binding" ng-click="validate(viewForm, wizardStep, true);">-->
                                <!--{{'Common.Next' | translate}}<i class="fas fa-angle-right"></i>-->
                                <!--</button>-->
                                <!--</div>-->
                            </div>
                            <div class="section" id="section4" ng-show="wizardStep == 3">
                                <h4>{{'View.ShareInformation' | translate}}</h4>
                                <div class="panel">
                                    <div class="sharing">
                                        <label class="newinput">
                                            <input type="radio" ng-model="view.sharing_type" value="me">
                                            {{'View.ShareMe' | translate}}<span></span>
                                        </label><br/>
                                        <label class="newinput"> <!--ng-if="user.profile.HasAdminRights">-->
                                            <input type="radio" ng-model="view.sharing_type" value="everybody">
                                            {{'View.ShareEveryone' | translate}}<span></span>
                                        </label><br/>
                                        <!--</label><br ng-if="user.profile.HasAdminRights" />-->
                                        <!--<label class="newinput">-->
                                            <!--<input type="radio" ng-model="view.sharing_type" value="custom">-->
                                            <!--{{'View.ShareCustom' | translate}}<span></span>-->
                                        <!--</label>-->
                                    </div>
                                    <!--<div class="shared-users" ng-if="view.sharing_type === 'custom'">-->
                                        <!--<span class="shared-users-label">{{'View.SharedUsers' | translate}}</span>-->
                                        <!--<tags-input name="shares"-->
                                                    <!--class="shared-users-input"-->
                                                    <!--ng-model="view.shares"-->
                                                    <!--display-property="full_name"-->
                                                    <!--key-property="id"-->
                                                    <!--placeholder="{{'Common.MultiselectPlaceholder' | translate}}"-->
                                                    <!--replace-spaces-with-dashes="false"-->
                                                    <!--add-from-autocomplete-only="true">-->
                                            <!--<auto-complete source="lookupUser($query)"-->
                                                           <!--min-length="0"-->
                                                           <!--load-on-focus="true"-->
                                                           <!--load-on-empty="true"-->
                                                           <!--max-results-to-show="9999"></auto-complete>-->

                                        <!--</tags-input>-->
                                    <!--</div>-->
                                    <!--<div class="form-group text-right">-->
                                    <!--<button type="button" class="btn btn-radius btn-blue ng-binding" ng-click="validate(viewForm, wizardStep, false);"><i class="fas fa-angle-left"></i>{{'Common.Previous' | translate}}</button>-->
                                    <!--<button type="submit" ladda="saving" ng-if="wizardStep>2" class="btn add-button btn-radius btn-blue"><i class="fas fa-save"></i>{{'Common.Save' | translate}}</button>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>