<div class="page-container">
    <div class="row">
        <div class="col-sm-3">
            <h4 class="h4-title blue-color font-bold">Settings</h4>
        </div>
        <div class="col-sm-1 pull-right">
            <button type="submit" ng-click="save();" class="btn btn-radius btn-blue btn-logout" style="" ladda="saving">
                <i class="fas fa-sync margin-right-10"></i>Save
            </button>
        </div>
        <div class="col-sm-1 pull-right">
            <button type="submit" ng-click="save();" class="btn btn-radius btn-red btn-logout" style="" ladda="saving">
                <i class="fas fa-sync margin-right-10"></i>Delete
            </button>
        </div>
        <div class="tab-content" style="padding: 50px;margin-top: 50px">
            <form name="appDetails" class="form-horizontal form-custom" autocomplete="off" novalidate>
                <div class="row" style="display: flex;align-items: center;">
                    <div class="col-sm-3" style="border-right: solid 2px #dfdfdf;">
                        <div style="margin: auto;text-align: center;">
                            <div class="file-uploader" style="background: none;">
                                <div nv-file-drop="" nv-file-over="" uploader="uploader" options="{url: '/foo'}"
                                     over-class="uploader-over" nv-file-select class="uploader-area drop-zone"
                                     style="float: right;">
                                    <div class="">
                                        <i class="{{orgModel.icon}}"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group icon-search-list">
                            <ui-select ng-model="orgModel.icon" ng-disabled="ctrl.disabled" ng-change="changeIcon();">
                                <ui-select-match placeholder="Please search an orgModel.icon">
                                    <div>
                                        <span ng-if="$select.selected.value" class="{{$select.selected.value}}"> {{ $select.selected.value }}</span>
                                        <span ng-if="!$select.selected.value" class="{{$select.selected}}"> {{ $select.selected }}</span>
                                    </div>
                                </ui-select-match>

                                <ui-select-choices repeat="icon in icons | filter:{ label:$select.search }">
                                    <div ng-bind-html="icon.label"></div>
                                </ui-select-choices>

                            </ui-select>
                        </div>
                        <div style="text-align: center;padding-top: 37px;">
                            <label>Image must not exceed</label>
                            <label>512 px and 1 MB</label>
                        </div>
                        <div style="text-align: center;padding-top: 10px;">
                            <button class="btn btn-radius btn-red btn-logout"><i class="fas fa-trash"></i>Delete Logo</button>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-4 required-field" style="padding-bottom: 10px;">Organitation Name</label>
                            <input type="text"
                                   name="description"
                                   style="margin-bottom: 20px;"
                                   class="form-control ng-animate-disabled col-sm-8"
                                   required
                                   maxlength="50"
                                   ng-model="orgModel.label">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
