<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">
    <form name="editForm" class="form-horizontal form-custom" ng-submit="saveSettings(editForm);" autocomplete="off"
          novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">{{'Setup.Modules.ModuleSettings' | translate}}</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button ng-disabled="saving" ng-click="cancelModule()" type="button"
                                    class="btn add-button btn-radius btn-gray"><i class="fas fa-times"></i>{{'Common.Cancel'
                                | translate}}
                            </button>
                        </li>
                        <li>
                            <button type="submit" ladda="saving" class="btn add-button btn-radius btn-blue"><i
                                    class="fas fa-save"></i>{{'Common.Save' | translate}}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog scroll-style-4">
            <div class="section">
                <div class="form-group" ng-class="{'has-error': editForm.$submitted && editForm.labelPlural.$invalid}">
                    <label class="col-sm-4 required-field">  {{'Setup.Modules.PluralName' | translate}}
                        <span class="required-label">(required)</span>
                    </label>
                    <input type="text"
                           name="labelPlural"
                           class="form-control ng-animate-disabled col-sm-8"
                           required
                           maxlength="50"
                           focus="currentLabelState"
                           ng-model="module['label_' + language + '_plural']">
                </div>
                <div class="form-group"
                     ng-class="{'has-error': editForm.$submitted && editForm.labelSingular.$invalid}">
                    <label class="col-sm-4 required-field">  {{'Setup.Modules.SingularName' | translate}} <span class="required-label">(required)</span></label>
                    <input type="text"
                           name="labelSingular"
                           class="form-control ng-animate-disabled col-sm-8"
                           required
                           maxlength="50"
                           ng-model="module['label_' + language + '_singular']">
                </div>
                <div class="form-group icon-search-list">
                    <label class="col-sm-4">{{'Common.Icon' | translate}}:</label>

                    <ui-select ng-model="module.menu_icon" ng-disabled="ctrl.disabled">
                        <ui-select-match placeholder="Select an icon">
                            <div>
                                <span ng-if="$select.selected.value" class="{{$select.selected.value}}"> {{ $select.selected.value }}</span>
                                <span ng-if="!$select.selected.value" class="{{$select.selected}}"> {{ $select.selected }}</span>
                            </div>
                        </ui-select-match>

                        <ui-select-choices repeat="icon in icons | filter:{ label:$select.search }">
                            <div ng-bind-html="icon.label"></div>
                        </ui-select-choices>
                    </ui-select>


                </div>
                <div class="form-group">
                    <label class="col-sm-4">{{'Setup.Modules.DisplayOnMenu' | translate}}: </label>
                    <div class="col-sm-8" style="padding-left: 0;">
                        <label class="radio-inline newinput">
                            <input type="radio" ng-model="module.display" ng-value="true"> {{'Common.Yes' | translate}}
                            <span></span>
                        </label>
                        <label class="radio-inline newinput">
                            <input type="radio" ng-model="module.display" ng-value="false"> {{'Common.No' | translate}}
                            <span></span>
                        </label>
                    </div>
                </div>

            </div>
            <div class="section">
                <div class="form-group">
                    <label class="col-sm-4">{{'Setup.Modules.Sharing' | translate}}: </label>
                    <div class="col-sm-8" style="padding-left: 0;">
                        <label class="radio-inline newinput">
                            <input type="radio" ng-model="module.sharing" value="private">
                            {{'Setup.Modules.SharingPrivate' | translate}}
                            <span></span>
                        </label>
                        <label class="radio-inline newinput">
                            <input type="radio" ng-model="module.sharing" value="public">
                            {{'Setup.Modules.SharingPublic' | translate}}
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">
                        <i data-trigger="hover"
                           data-type="info"
                           data-title="{{!hasCalendarDateFields() ? ('Setup.Modules.CalendarDateTypeMessage' | translate) : ''}}"
                           bs-tooltip
                           data-placement="right"
                           class="extra-info fas fa-question-circle"></i>

                        {{'Setup.Modules.DisplayOnCalendar' | translate}}:
                    </label>
                    <div class="col-sm-8" style="padding-left: 0;">
                        <label class="radio-inline newinput" ng-class="!hasCalendarDateFields()  ? 'disabled':'' "
                               title="{{!hasCalendarDateFields() ? ('Setup.Modules.CalendarDateTypeMessage' | translate) : ''}}">
                            <input type="radio" ng-model="module.display_calendar" ng-value="true"
                                   ng-disabled="!hasCalendarDateFields()"> {{'Common.Yes' | translate}}
                            <span></span>

                        </label>
                        <label class="radio-inline newinput" ng-class="module.name === 'activities' ? 'disabled':''">
                            <input type="radio" ng-model="module.display_calendar" ng-value="false"
                                   ng-disabled="module.name === 'activities'"> {{'Common.No' | translate}}
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-if="module.display_calendar">
                    <label class="col-sm-4">{{'Setup.Modules.CalendarColor' | translate}}: </label>
                    <div class="col-sm-8" style="padding-left: 0;">
                        <ul class="color-picker-simple">
                            <li ng-repeat="color in calendarColors"
                                ng-class="{selected: (module.calendar_color_dark === color.dark)}"
                                ng-click="module.calendar_color_dark = color.dark"
                                ng-style="{'background-color': color.dark}"></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">{{'Common.DetailViewType' | translate }}: </label>
                    <div class="col-sm-8" style="padding-left: 0;">
                        <label class="radio-inline newinput">
                            <input type="radio" ng-model="module.detail_view_type" value="tab">
                            {{'Common.TabbedView' | translate }}
                            <span></span>
                        </label>
                        <label class="radio-inline newinput">
                            <input type="radio" ng-model="module.detail_view_type" value="flat"> {{'Common.FlatView'
                            | translate }}
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="section" ng-show="editForm.$submitted && editForm.$invalid">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="callout callout-danger">
                            <p ng-if="editForm.$error.required">{{'Setup.Modules.RequiredError' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>