<div class="setup-title">
    <h2>Modules</h2>
    <div>
        <ul class="list-unstyled list-inline">
            <li>
                <button class="btn add-button" ui-sref="studio.app.moduleDesigner"><i class="fas fa-plus"></i>Add New Module</button>
            </li>
        </ul>
    </div>
</div>

<div class="tab-content table-responsive">
    <table class="table" ng-show="loading">
        <thead>
            <tr>
                <th class="text-center" width="50">Icon</th>
                <th>{{'Setup.Modules.Name' | translate}}</th>
                <th>{{'Setup.Modules.Type' | translate}}</th>
                <th>{{'Setup.Modules.DisplayOnMenu' | translate}}</th>
                <th>{{'Setup.Modules.Sharing' | translate}}</th>
                <th width="50"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <tr ng-repeat="item in placeholderArray">
                <td class="text-center">
                    <div>
                        <div class="animated-background"></div>
                    </div>

                </td>
                <td>
                    <div class="animated-background"></div>
                </td>
                <td>
                    <div class="animated-background"></div>
                </td>
                <td>
                    <div class="animated-background"></div>
                </td>
                <td>
                    <div class="animated-background"></div>
                </td>
                <td class="text-center">
                    <div class="animated-background"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table" ng-show="!loading">
        <thead>
            <tr>
                <th class="text-center" width="50">Icon</th>
                <th>{{'Setup.Modules.Name' | translate}}</th>
                <th>{{'Setup.Modules.Type' | translate}}</th>
                <th>{{'Setup.Modules.DisplayOnMenu' | translate}}</th>
                <th>{{'Setup.Modules.Sharing' | translate}}</th>
                <th width="50"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="module in modules| filter:{name:'!users'} | orderBy:['-system_type','order']"
                ui-sref="studio.app.moduleDesigner({id:module.id})">
                <td class="text-center"><i
                        class="{{module.menu_icon}}"></i></td>
                <td>
                <span>
                    {{module['label_' + language + '_plural']}}
                </span>
                    <span ng-if="user.isDemo && module.created_by_id!=user.ID">
                        {{module['label_' + language + '_plural']}}
                    </span>
                </td>
                <td>{{'Setup.Modules.Type-' + module.system_type
                    | translate}}
                </td>
                <td>{{module.display ? ('Common.Yes' |
                    translate) : ('Common.No' | translate)}}
                </td>
                <td>{{module.sharing === 'private' ?
                    ('Setup.Modules.SharingPrivate' | translate) :
                    ('Setup.Modules.SharingPublic' | translate)}}
                </td>
                <td class="text-center">
                    <!--<div class="action-buttons-block">-->
                    <!--<button ng-click="$event.stopPropagation(); delete(module)" type="button"-->
                    <!--class="action-buttons-delete">-->
                    <!--<i class="fas fa-trash"></i>-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--<div class="action-buttons-block">-->
                    <!--<button ng-click="$event.stopPropagation();" type="button" class="action-buttons-edit"-->
                    <!--data-trigger="hover" data-type="info"-->
                    <!--data-title="Edit" bs-tooltip data-placement="top"-->
                    <!--placement="bottom-right" data-animation="am-flip-x" bs-dropdownaria-haspopup="true"-->
                    <!--aria-expanded="false">-->
                    <!--<i class="fas fa-pen"></i>-->
                    <!--</button>-->
                    <!--</div>-->
                    <div class="action-buttons-block">
                        <button ng-click="$event.stopPropagation();" type="button" data-toggle="dropdown"
                                class="btn btn-xs btn-default list-action-button"
                                placement="bottom-right"
                                data-animation="am-flip-x"
                                bs-dropdown
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="$event.stopPropagation(); delete(module,$event)">
                                    {{'Common.Remove' | translate}}
                                </a>
                            </li>
                            <li>
                                <a ng-click="$event.stopPropagation();"
                                   href="/#/org/{{orgId}}/app/{{appId}}/relations?id={{module.id}}">
                                    {{'Setup.Modules.ModuleRelations' | translate}}
                                </a>
                            </li>
                            <li>
                                <a ng-click="$event.stopPropagation();"
                                   href="/#/org/{{orgId}}/app/{{appId}}/dependencies?id={{module.id}}">

                                    Field Dependency
                                </a>
                            </li>
                            <li>
                                <a ng-click="$event.stopPropagation();"
                                   href="/#/org/{{orgId}}/app/{{appId}}/visualization/views?id={{module.id}}">
                                    {{'Setup.Modules.TitleFilters' | translate}}
                                </a>
                            </li>
                            <li>
                                <a ng-click="$event.stopPropagation();"
                                   href="/#/org/{{orgId}}/app/{{appId}}/actionButtons?id={{module.id}}">
                                    {{'Setup.Modules.ActionButtons' | translate}}
                                </a>
                            </li>
                            <li>
                                <a ng-click="$event.stopPropagation();"
                                   href="/#/org/{{orgId}}/app/{{appId}}/moduleprofilesettings/{{module.name}}">
                                    Profile Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-pagination">
        <div>
            <nav aria-label="Page navigation">
                <div paging
                     text-first="&laquo;"
                     ul-class="pagination"
                     active-class="active"
                     page="page"
                     page-size="requestModel.limit"
                     total="pageTotal"
                     scroll-top="true"
                     hide-if-empty="true"
                     show-prev-next="true"
                     show-first-last="true"
                     text-next-class="fas fa-chevron-right"
                     text-prev-class="fas fa-chevron-left"
                     text-first-class="fas fa-step-backward"
                     text-last-class="fas fa-step-forward"
                     paging-action="changePage(page)">
                </div>
            </nav>
        </div>
        <div class="total">Total {{pageTotal}}</div>
        <div>
            <span class="pagination-span">Items per page  </span>
            <select ng-model="requestModel.limit" class="items-per-page-select" ng-change="changeOffset()">
                <option ng-selected="true" value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
        </div>
    </div>
</div>
