<div class="page" ng-show="user.profile.LeadConvert">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h4 class="pull-left">{{'Convert.Title' | translate:{type:module['label_' + language + '_singular']} }}</h4>
        </div>
        <div class="panel-body">
            <div class="subpanel">
                <div class="subpanel-body">
                    <div ng-show="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
                    <div ng-show="!loading" id="ConvertAccountPanel">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table" style="border: none;">
                                    <tr ng-show="accountModule.display">
                                        <th style="border-color: #f7f7f7 !important;border: none; width: 130px">{{accountModule['label_' + language + '_singular']}}:</th>
                                        <td style=" border: none;">
                                            <span ng-hide="converted">{{lead.company ? lead.company : lead[leadModulePrimaryField.name]}}</span>
                                            <a href="#/app/crm/module/calisanlar?id={{ converted.account_id }}" ng-show="converted" id="ConvertAccountLink">{{lead.company ? lead.company : lead[leadModulePrimaryField.name]}}<i class="fa fa-caret-right" style="margin-left: 5px;"></i></a>
                                        </td>
                                    </tr>
                                </table>

                                <table class="table" style="border: none;" ng-if="personalConvertShow !='Pasif'">
                                    <tr ng-show="accountModule.display && !converted ">
                                        <th style="border: none; width: 285px">{{'Convert.DeleteConverted' | translate:{type:module['label_' + language + '_singular']} }}</th>
                                        <td style=" border: none;">
                                            <input type="checkbox" ng-model="deleted" class="cell-handle">
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-w-lg" ng-click="convert()" id="ConvertSubmit" ladda="converting" ng-disabled="convertDisable">
                                    {{'Common.Convert' | translate}} <i class="fa fa-check-circle pull-left"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>