<div class="modal setup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="editForm" ng-submit="delete(transferRoleId)" class="form-horizontal" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">{{'Setup.Roles.RoleDelete' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="control-label" style="margin-bottom: 10px; font-weight: 600;">{{'Setup.Roles.RoleDeleteLabel' | translate}}:</label>
                            <select
                                    class="form-control"
                                    name="transferRoleId"
                                    ng-model="transferRoleId"
                                    required
                                    ng-options="o.id as o['label_'+language] for o in transferRoles"
                                    ng-init="transferRoleId = transferRoles[0].id">
                                <option value="" ng-if="false"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-primary btn-w-lg"
                            ladda="roleDeleting">
                        <i class="fa fa-exclamation-circle pull-left"></i> {{'Setup.Roles.TransferAndDelete' | translate}}
                    </button>
                    <button type="button" class="btn btn-custom" ng-click="$hide()" ng-disabled="roleDeleting"> {{'Common.Cancel' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>