<md-button class="account-link d-flex" aria-label="{{'Layout.SettingsTooltip' | translate}}">
        <span>
            <img ng-if="user.picture" ng-src="{{userPicture}}" class="img-circle" />
            <i ng-if="!user.picture" class="fas fa-user"></i>
        </span>
    <span class="md-truncate">{{user.first_name}} {{user.last_name}}<small class="md-truncate">{{user.email}}</small> </span>
</md-button>
<div class="d-inline-flex padding0">
    <md-button class="md-button btn btn-warning filter-button md-icon-button d-sm-block d-md-none " ng-click="notificationShowModal()" aria-label="{{'Setup.Nav.Notifications' | translate}}" >
        <i class="fas fa-bell"></i>
        <span ng-if="unReadNotificationCount > 0" class="filter-badge">{{unReadNotificationCount}}</span>
    </md-button>
    <md-button class="md-icon-button btn btn-danger" ng-click="logout()" aria-label="{{'Layout.LogoutTooltip' | translate}}">
        <i class="fas fa-sign-out-alt"></i>
    </md-button>
</div>
