<md-toolbar md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="closeSide('sideModal')" aria-label="Close"><i class="fas fa-angle-left"></i></md-button>
        <h3 md-truncate>{{helpTemplatesSide.name}}</h3>
        <md-button class="md-icon-button dockside" ng-class="isDocked ? 'active': ''" ng-class="isDocked ? 'active': ''" ng-click="sideModaldock()" aria-label="Close"><i class="fas fa-thumbtack"></i></md-button>
    </div>
</md-toolbar>
<md-content flex>
    <div class="container-fluid paddingua20">
        <div ng-bind-html="helpTemplateSideModal" ng-show="!noneHelpTemplate"></div> 
    </div>
</md-content>


