<div class="setup-title">
    <!--<h2>Overview</h2>-->
</div>

<ui-select ng-model="selectedUser" class="bigwhiteselect"
           on-select="selectItemForApp($select.selected)">
    <ui-select-match allow-clear="true" placeholder="Add collaborators and teams">
        {{$select.selected.full_name}}
    </ui-select-match>
    <ui-select-choices repeat="item in collaboratorsAndTeamsArr | filter:{full_name: $select.search} | orderBy:'full_name'">
        <i class="fa fa-user" ng-if="item.type == 'user'"></i><i class="fas fa-users" ng-if="item.type == 'team'"></i><span style="margin-left:15px" ng-bind-html="item.full_name | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>
<div class="tab-content" style="margin-top: 30px;">
    <div class="table-responsive" ng-show="loadingMembers">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in placeholderArray">
                    <td>
                        <div class="animated-background"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive" style="margin-bottom:65px" ng-show="!loadingMembers">
        <div ng-show="appCollaborators.length < 1" style="padding:10px"><p>No member available.</p></div>
        <table class="table table-hover" ng-show="appCollaborators.length > 0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="appCol in appCollaborators">
                    <td>
                        {{appCol.name}}
                    </td>
                    <td>
                        <select name="profile"
                                class="form-control ng-animate-disabled"
                                ng-model="appCol.profile"
                                ng-change="changeRole(appCol)"
                                ng-options="o.value as o.name for o in colProfiles">
                        </select>
                    </td>
                    <td class="text-right">
                        <div class="action-buttons-block">
                            <button ng-click="$event.stopPropagation(); delete(appCol.id)" type="button" class="action-buttons-delete">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
