<div class="setup-title">
    <h2>Components</h2>
    <div>
        <ul class="list-unstyled list-inline">
            <li>
                <a class="btn add-button" ui-sref="studio.app.componentEnvironmentSettings">
                    <i class="fas fa-cog"></i>Environment Settings
                </a>
            </li>
            <li>
                <button class="btn add-button" ng-click="openModal()">
                    <i class="fas fa-plus"></i> New Component
                </button>
            </li>
        </ul>
    </div>
</div>
  
<div class="tab-content">
    <kendo-grid class="grid-theme grid-theme-center table-responsive" k-scope-field="grid" id="kendo-grid" k-options="mainGridOptions">
    </kendo-grid>
</div>