<div ng-if="!loading" class="function tab-content">
    <div class="col-sm-12" style="border: none ;">
        <div class="setup-liste-header row">
            <div class="col-sm-12">
                <div class="setup-title">
                    <h2>
                        {{component.label}}
                        <span style="color: black;font-size: 13px;font-style: italic;font-weight: 600;">
                            ( {{component.name}} )
                        </span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="tab-content" style="padding: 20px;position: relative;">
            <div class="bs-docs-section">
                <div class="bs-example" append-source>
                    <div bs-active-pane="$parent.$parent.$parent.$parent.tabManage.activeTab" bs-tabs>
                        <div data-title="Overview" name="overview" bs-pane>
                            <div ng-if="!loading" class="tab-content" style="padding: 20px;">
                                <div class="setup-title" style="justify-content: normal;">
                                    <p style="float: left;padding: 5px;background: #0d6faa;border-radius: 9px;color: white;font-size: 15px;padding-left: 10px;padding-right: 10px;margin-right: 5px;">1</p>
                                    <h2 style="padding-bottom: 10px;">Clone</h2>
                                </div>
                                <div class="markdown" style="padding-bottom: 20px;">
                                    <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;border-radius: 5;">
                                    <code>
git clone {{giteaUrl.slice(0, giteaUrl.indexOf('//')) + '//' + organization.name}}@{{giteaUrl.slice(giteaUrl.indexOf('//') + 2)}}/{{organization.name}}/{{app.name}}.git
Enter your account password</code>
        </pre>
                                </div>
                                <div class="setup-title" style="justify-content: normal;">
                                    <p style="float: left;padding: 5px;background: #0d6faa;border-radius: 9px;color: white;font-size: 15px;padding-left: 10px;padding-right: 10px;margin-right: 5px;">2</p>
                                    <h2 style="padding-bottom: 10px;">Develop</h2>
                                </div>
                                <div class="markdown" style="padding-bottom: 20px;">
                                    <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;border-radius: 5;">
                                    <code>
Open project folder in IDE ( We recomended Visual Studio Code )
Add some files and make some changes in {{component.name}} folder</code>
        </pre>
                                </div>
                                <div class="setup-title" style="justify-content: normal;">
                                    <p style="float: left;padding: 5px;background: #0d6faa;border-radius: 9px;color: white;font-size: 15px;padding-left: 10px;padding-right: 10px;margin-right: 5px;">3</p>
                                    <h2 style="padding-bottom: 10px;">Push</h2>
                                </div>
                                <div class="markdown" style="padding-bottom: 20px;">
                                    <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;border-radius: 5;">
                                    <code>
git add .
git commit -m "your commit message"
git push</code>
        </pre>
                                </div>
                            </div>
                        </div>
                        <div data-title="Deployments" name="deployment" bs-pane>

                            <div class="tab-content">
                                <div class="grid-theme grid-theme-center table-responsive" kendo-grid="grid" id="kendo-grid" k-options="mainGridOptions">
                                </div>
                            </div>

                            <div class="ng-scope" style="position: absolute;top: 20px;right: 10px;display: inline-flex;" ng-if="$parent.$parent.$parent.tabManage.activeTab === 'deployment'">
                                <i class="fas fa-refresh ng-scope pull-right" ng-class="loadingDeployments ? 'fa-spin' : ''" style="font-size: 15px;cursor: pointer;padding: 7px;color: #0d6faa;" ng-click="changePage(1)"></i>

                                <button class="btn btn-radius btn-blue col-sm-12" style="margin-right: 10px;" ng-click="runDeployment()">
                                    <i class="fas fa-plus"></i> Create Deployment
                                </button>
                            </div>
                        </div>

                        <div data-title="Settings" name="settings" bs-pane>
                            <form ng-if="!modalLoading" name="functionFormValidation" style="margin-top: 20px;" class="form-horizontal form-custom" ng-submit="save(functionFormValidation);" autocomplete="off"
                                  novalidate>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group"
                                             style="position: relative;"
                                             ng-class="{'has-error': functionFormValidation.$submitted && functionFormValidation.label.$invalid}">
                                            <label class="col-sm-4 required-field">Label <span class="required-label">({{'Common.Required' | translate }})</span></label>
                                            <input type="text"
                                                   name="label"
                                                   class="form-control ng-animate-disabled col-sm-6"
                                                   required
                                                   maxlength="300"
                                                   focus="true"
                                                   ng-model="component.label" />
                                        </div>
                                        <div class="form-group"
                                             ng-class="{'has-error': functionFormValidation.$submitted && functionFormValidation.module_id.$invalid}">
                                            <label class="col-sm-4 required-field">Module <span class="required-label">({{'Common.Required' | translate }})</span></label>
                                            <select name="module_id"
                                                    class="form-control ng-animate-disabled col-sm-8"
                                                    required
                                                    ng-disabled="true"
                                                    ng-model="component.module_id"
                                                    ng-options="o.id as o['label_' + language + '_singular'] for o in modules">
                                                <option value="">Select Module</option>
                                            </select>
                                        </div>
                                        <div class="form-group"
                                             ng-class="{'has-error': functionFormValidation.$submitted && functionFormValidation.url.$invalid}">
                                            <label class="col-sm-12 required-field">Url </label>
                                            <div class="col-sm-6" style="padding-left: 0px !important;padding-right: 0px !important;">
                                                <input type="text"
                                                       name="url"
                                                       class="form-control ng-animate-disabled col-sm-6"
                                                       required
                                                       ng-disabled="true"
                                                       maxlength="300"
                                                       ng-model="$parent.$parent.$parent.$parent.$parent.content.url" />
                                            </div>
                                            <div class="col-sm-6" style="padding-left: 0px !important;padding-right: 0px !important;">
                                                <input type="text"
                                                       name="url_parameters"
                                                       class="form-control ng-animate-disabled col-sm-6"
                                                       maxlength="300"
                                                       placeholder="id&name"
                                                       ng-model="$parent.$parent.$parent.$parent.$parent.content.url_parameters" />
                                            </div>
                                        </div>
                                        <div class="form-group"
                                             ng-class="{'has-error': functionFormValidation.$submitted && functionFormValidation.template.$invalid}">
                                            <label class="col-sm-12 required-field">Template</label>
                                            <div class="col-sm-11" style="padding-left: 0px !important;">
                                                <i ng-if="!$parent.$parent.$parent.$parent.$parent.content.templateUrl" class="fas fa-refresh ng-scope pull-right" ng-class="filesLoading ? 'fa-spin' : ''" style="z-index:999;position: absolute;right: 30px;top: 5px;font-size: 15px;cursor: pointer;padding: 7px;color: #0d6faa;" ng-click="getFileList()"></i>
                                                <select name="module_id"
                                                        class="form-control ng-animate-disabled col-sm-8"
                                                        ng-show="!$parent.$parent.$parent.$parent.$parent.content.templateUrl"
                                                        ng-model="$parent.$parent.$parent.$parent.$parent.component.content.app.templateFile"
                                                        ng-options="o.value as o.value for o in files | filter:isTemplateFile()">
                                                    <option value="">Select File</option>
                                                </select>
                                                <input type="text"
                                                       name="template"
                                                       class="form-control ng-animate-disabled col-sm-6"
                                                       ng-show="$parent.$parent.$parent.$parent.$parent.content.templateUrl"
                                                       maxlength="300"
                                                       focus="true"
                                                       ng-model="$parent.$parent.$parent.$parent.$parent.component.content.app.templateFile" />
                                            </div>
                                            <label class="checkbox-inline newinput col-sm-1" style="padding-right: 0px !important;margin-top: 10px;">
                                                <input type="checkbox" ng-model="$parent.$parent.$parent.$parent.$parent.content.templateUrl" />
                                                <small style="font-size:100%;">Url</small>
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="form-group"
                                             ng-class="{'has-error': functionFormValidation.$submitted && functionFormValidation.controller.$invalid}">
                                            <label class="col-sm-12 required-field">Controller Name<span class="required-label">({{'Common.Required' | translate }})</span></label>
                                            <input type="text"
                                                   name="controller"
                                                   class="form-control ng-animate-disabled col-sm-6"
                                                   maxlength="300"
                                                   placeholder="SampleController"
                                                   ng-model="$parent.$parent.$parent.$parent.$parent.component.content.app.controller" />
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-12"> Environment </label>
                                            <div ng-repeat="env in environments">
                                                <label class="newinput checkbox-inline" style="margin-bottom: 5px;">
                                                    <input type="checkbox" name="env{{$index}}" ng-model="env.selected" ng-change="environmentChange(env,$index)" ng-disabled="env.disabled" value="{{env.value}}" title="{{env.name}}" />{{env.name}}
                                                    <span></span>
                                                </label>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group"
                                             style="position: relative;"
                                             ng-class="{'has-error': functionFormValidation.$submitted && functionFormValidation.files.$invalid}">
                                            <label class="col-sm-4 required-field">Files </label>
                                            <textarea style="padding-top: 10px;padding-bottom: 10px;min-height: auto !important;margin: 0px;height: 348px;max-height: 348px;width: 641px;"
                                                      name="files"
                                                      placeholder="sampleController.js&#10;sampleService.js"
                                                      class="form-control ng-animate-disabled col-sm-6 ng-pristine ng-untouched ng-valid ng-not-empty"
                                                      ng-model="$parent.$parent.$parent.$parent.$parent.component.content.files"></textarea>
                                        </div>
                                    </div>
                                    <div class="ng-scope" style="position: absolute;top: 20px;right: 10px;display: inline-flex;" ng-if="$parent.$parent.$parent.tabManage.activeTab === 'settings'">
                                        <button ng-click="$parent.$parent.$parent.$parent.$parent.$parent.$parent.save(functionFormValidation);" ladda="saving" class="btn btn-radius btn-blue col-sm-12" style="margin-right: 10px;">
                                            <i class="fas fa-save"></i>{{'Common.Save' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="loading" class="function tab-content">
    <div class="col-sm-12" style="border: none ;">
        <div class="setup-liste-header row">
            <div class="col-sm-12">
                <div class="setup-title">
                    <div style="width: 100px;" class="animated-background"></div>
                </div>
            </div>
        </div>
        <div class="tab-content" style="padding: 20px;position: relative;">
            <div class="tab-content" style="padding: 20px;">
                <div class="markdown" style="padding-bottom: 20px;">
                    <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;padding-right: 20px !important;border-radius: 5;">
                    <code><div class="animated-background"></div></code>
                    </pre>
                </div>
                <div class="markdown" style="padding-bottom: 20px;">
                    <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;padding-right: 20px !important;border-radius: 5;">
                    <code><div class="animated-background"></div></code>
                    </pre>
                </div>
                <div class="markdown" style="padding-bottom: 20px;">
                    <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;padding-right: 20px !important;border-radius: 5;">
                    <code><div class="animated-background"></div></code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>