<div ng-if="!loading" class="function tab-content">
	<div class="col-sm-12" style="border: none ;">
		<div class="setup-liste-header row">
			<div class="col-sm-12">
				<div class="setup-title">
					<h2>
						Component Environment Settings ( {{component.name}} )
					</h2>
				</div>
			</div>
		</div>

		<div class="tab-content" style="padding: 20px;position: relative;">
			<div class="bs-docs-section">
				<div class="bs-example" append-source>
					<ul class="nav nav-tabs">
						<li class="nav-item" ng-class="{'active': $parent.$parent.$parent.tabManage.activeTab === 'development'}">
							<a class="nav-link" ng-click="changeTab('development', content)">Development</a>
						</li>
						<li class="nav-item" ng-class="{'active': $parent.$parent.$parent.tabManage.activeTab === 'test'}">
							<a class="nav-link" ng-click="changeTab('test', content)">Test</a>
						</li>
						<li class="nav-item" ng-class="{'active': $parent.$parent.$parent.tabManage.activeTab === 'production'}">
							<a class="nav-link" ng-click="changeTab('production', content)">Production</a>
						</li>
					</ul>

					<div ng-if="!loading" class="tab-content">
						<ng-include src="'view/app/customcode/components/componentEnvironmentFields.html'"></ng-include>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<div ng-if="loading" class="function tab-content">
	<div class="col-sm-12" style="border: none ;">
		<div class="setup-liste-header row">
			<div class="col-sm-12">
				<div class="setup-title">
					<div style="width: 100px;" class="animated-background"></div>
				</div>
			</div>
		</div>
		<div class="tab-content" style="padding: 20px;position: relative;">
			<div class="tab-content" style="padding: 20px;">
				<div class="markdown" style="padding-bottom: 20px;">
					<pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;padding-right: 20px !important;border-radius: 5;">
					<code><div class="animated-background"></div></code>
                    </pre>
				</div>
				<div class="markdown" style="padding-bottom: 20px;">
					<pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;padding-right: 20px !important;border-radius: 5;">
					<code><div class="animated-background"></div></code>
                    </pre>
				</div>
				<div class="markdown" style="padding-bottom: 20px;">
					<pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;padding-right: 20px !important;border-radius: 5;">
					<code><div class="animated-background"></div></code>
                    </pre>
				</div>
				<div class="markdown" style="padding-bottom: 20px;">
					<pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;padding-right: 20px !important;border-radius: 5;">
					<code><div class="animated-background"></div></code>
                    </pre>
				</div>
			</div>
		</div>
	</div>
</div>