<div class="modal setup-modal modal-900" tabindex="-1" role="dialog">
    <form name="formname" class="form-horizontal form-custom" ng-submit="save(formname);" autocomplete="off" novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">Modal title  </h4>
                <div>
                    <ul class="list-unstyled list-inline">
					<!-- Burası Modalın kaydet vazgeç buttonların bulunduğu yer  -->
                        <li><button type="button" class="btn add-button btn-radius btn-gray"><i class="fas fa-times"></i>{{'Common.Cancel' | translate}}</button></li>
                        <li><button type="submit" class="btn add-button btn-radius btn-blue"><i class="fas fa-save"></i>{{'Common.Save' | translate}}</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog">
            <div class="modal-content view-form">
                <div class="modal-body">
                    <div class="megalist">
                        <div class="modal-menu">
                            <ul class="list-unstyled">
                                <!-- Burası tab item  -->
                                <li><a ng-class="{'active': wizardStep==0}" ng-click="validate(formname) ? wizardStep = 0 : false">...</a></li>
                                <li>...</li>
                            </ul>
                        </div>
                        <div>
                            <div class="section" id="section1" ng-show="wizardStep == 0">  <!-- Burası tab ilgili tabın içeriği    --> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

