<div class="setup">
    <div class="menu" ng-class="{'menu-collapsed':collapsed}">
        <ul class="nav nav-pills nav-stacked" ng-show="!collapsed">
            <li ng-class="menuItemClass(menuItem)" ng-repeat="menuItem in menuItems | filter:{active : true}">
                <a href="{{menuItem.link}}" ng-click="selectMenuItem(menuItem)">{{menuItem.label | translate}}</a>
            </li>
        </ul>
        <a href ng-click="collapsed = !collapsed" style="padding-right: 10px;">
            <i class="fa fa-lg fa-angle-double-right" ng-if="collapsed"></i>
            <i class="fa fa-lg fa-angle-double-left" ng-if="!collapsed"></i>
        </a>
    </div>
    <div class="page" ng-class="{'page-collapsed':collapsed}">
        <div ui-view="app"></div>
    </div>
</div>