<div class="popover">
    <div class="arrow"></div>
    <h3 class="popover-title">{{'Documents.DocumentOwner' | translate}}</h3>
    <div class="popover-content">
        <ul class="list-unstyled">
            <li>
                <label class="ui-radio">
                    <input type="radio" name="createdBy" ng-checked="$parent.filter.CreatedBy == $parent.guidEmpty" ng-click="filterDocuments($parent.guidEmpty); $hide();"><span>{{'Common.Everyone' | translate}}</span>
                </label>
            </li>
            <li ng-repeat="user in users">
                <label class="ui-radio">
                    <input type="radio" name="createdBy" ng-checked="$parent.filter.CreatedBy == user.Id" ng-click="filterDocuments(user.Id); $hide();"><span>{{user.FullName}}</span>
                </label>
            </li>
        </ul>
    </div>
</div>
