<ul class="document-list">
    <li ng-repeat="document in documents | limitTo:(documents.documentLimit || 30)" class="list-unstyled clearfix" ng-class="{editing: document == editedDocument}">
        <span class="icon" ng-if="!(document.Extension=='jpg'|| document.Extension=='jpeg'|| document.Extension=='gif' || document.Extension=='bmp' || document.Extension=='png')"><i class="{{icon(document.Extension)}}"></i></span>
        <img ng-if="document.Extension=='jpg'|| document.Extension=='jpeg'|| document.Extension=='gif' || document.Extension=='bmp' || document.Extension=='png'"
             ng-click="showLightBox(document,$index)" class="image-icon" ng-src="{{document.FileUrl}}"/>
         <span class="document-buttons">
                <i class="action-icon flaticon-pencil124" ng-click="edit(document)" title="{{'Common.Edit' | translate}}" ng-show="hasDocumentsPermission(operations.modify) && !$parent.$parent.record.freeze"></i>
                <i class="action-icon flaticon-bin9" confirm-click action="remove(document, $index)" placement="right" confirm-message="{{'Common.AreYouSure' | translate}}" confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}" title="{{'Common.Delete' | translate}}" ng-show="hasDocumentsPermission(operations.remove) && !$parent.$parent.record.freeze"></i>
        </span>
        <span class="document">
            <a target="_blank" href ng-click="downloadDocument(document)" >{{document.Name}}</a><span ng-show="document.description"> - {{document.Description}}</span><br>
            <span>{{document.CreatedBy.FullName}}, {{document.CreatedTime | relativeTime}}, {{document.FileSize | size}}</span>
            <span ng-if="document.parentEntityID && document.parentEntityID != entityId"> - </span>
        </span>
        <form class="document-form form-inline" ng-submit="update(document)">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{'Documents.DocumentName' | translate}}" focus="document.editing" blur="document.editing=false;" maxlength="255" ng-model="document.NamePlain"/>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <textarea rows="1" class="form-control" placeholder="{{'Documents.Description' | translate}}" maxlength="200" ng-model="document.Description" auto-grow></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-primary" ladda="documentUpdating" ng-disabled="!document.NamePlain"><i class="fa fa-check"></i> {{'Common.Save' | translate}}</button>
            <button type="button" class="btn btn-sm btn-custom" ng-click="cancelEdit(document)">{{'Common.Cancel' | translate}}</button>
        </form>
    </li>
</ul>
<div class="document-list-footer" ng-show="!isAll && documents.length > 0 && !$parent.record.freeze">
    <a ng-href="{{'#/app/documents/'+type+'?id=' +  entityId}}">{{'Documents.ShowAllDocuments' |
        translate}} <i class="fa fa-chevron-right"></i></a>
</div>
<div class="task-list-footer" ng-show="isAll">
    <a href ng-click="documents.documentLimit = documents.length; documents.showAllDocuments = true;" ng-if="!documents.showAllDocuments && documents.length > 30">{{ 'Documents.ShowAllDocuments' | translate }} <i class="fa fa-chevron-right"></i></a>
</div>
<lightbox-directive class="angular-lightbox" ng-class="{ hidden : !lightBox }">
    <article>
        <header>
            <ul class="pager">
                <li class="previous" id="previous" ng-if="Index !=0"
                    ng-click="showLightBox(documents[(Index-1)],(Index-1))"><a>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a></li>
                <li class="next" id="next" ng-if="(documents.length-2)>=Index"
                    ng-click="showLightBox(documents[(Index+1)],(Index+1))"><a>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a></li>
            </ul>
            <a class="close-btn" id="close-lightbox" ng-click="closeLightBox()"><i class="fa fa-times-circle"></i></a>
        </header>
        <content ng-click="closeLightBox()">
            <p>{{ fileData.Name }}</p>
            <img ng-if="fileData.Extension=='jpg'|| fileData.Extension=='jpeg'|| fileData.Extension=='gif' || fileData.Extension=='bmp' || fileData.Extension=='png'"
                 ng-src="{{ fileData.FileUrl }}"/>
            <span class="icon"
                  ng-if="!(fileData.Extension=='jpg'|| fileData.Extension=='jpeg'|| fileData.Extension=='gif' || fileData.Extension=='bmp' || fileData.Extension=='png')"><i
                    class="{{icon(fileData.Extension)}}"></i></span>

        </content>
        <footer>
            <a class="download-btn" href="{{fileData.FileUrl}}" target="_blank"><i class="fa fa-download"></i></a>
        </footer>
    </article>
</lightbox-directive>
