<ul class="setup-nav scroll-style-6" ng-show="!appLoading" xmlns="http://www.w3.org/1999/html">
    <li ng-click="openSubMenu('')"
        ng-class="activeMenuItem ==='overview' ?  'active' :''">
        <a href="/#/org/{{currentOrgId}}/app/{{currentAppId}}/overview" data-trigger="click" data-type="info"
           data-title="Overview" bs-tooltip data-placement="right">
            <i class="fas fa-info-circle"></i>
            <span>Overview</span>
        </a>
    </li>
    <li ng-class="subMenuOpen =='model' ? 'active sub-open':''"
        ng-click="openSubMenu('model');$event.stopPropagation();" ng-show="checkUserProfile('model',null,null)">
        <a href="javascript:;" data-trigger="hover" data-type="info"
           data-title="Model" bs-tooltip data-placement="right">
            <i class="fas fa-th-large"></i>
            <span>Model</span>
        </a>

        <ul class="" ng-click="$event.stopPropagation();">
            <li ng-class="activeMenuItem ==='modules' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId}}/modules" data-trigger="hover" data-type="info"
                   data-title="Modules"
                   bs-tooltip data-placement="right">
                    <i class="fas fa-cubes"></i>
                    <span>Modules</span>
                </a>
            </li>
            <li ng-class="activeMenuItem ==='relations' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId}}/relations" data-trigger="hover" data-type="info"
                   data-title="Relations" bs-tooltip data-placement="right">
                    <i class="fas fa-code-branch"></i>
                    <span>Relations</span>
                </a>
            </li>

            <li ng-class="activeMenuItem ==='picklists' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId}}/picklists " data-trigger="hover" data-type="info"
                   data-title="Picklists " bs-tooltip data-placement="right">
                    <i class="fas fa-list-ul"></i>
                    <span>Picklists</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="subMenuOpen =='customCode' ? 'active sub-open':''"
        ng-click="openSubMenu('customCode') ; $event.stopPropagation();"
        ng-show="checkUserProfile('customCode',null,null)">
        <a href="javascript:;" data-trigger="hover" data-type="info"
           data-title="Custom Code" bs-tooltip data-placement="right">
            <i class="fas fa-code"></i>
            <span>Customization </span>
        </a>
        <ul ng-click="$event.stopPropagation();">
            <li ng-class="activeMenuItem ==='dependencies' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId}}/dependencies" data-trigger="hover" data-type="info"
                   data-title="Dependencies" bs-tooltip data-placement="right">
                    <i class="far fa-object-ungroup"></i>
                    <span>Dependencies</span>
                </a>
            </li>
            <li ng-class="activeMenuItem ==='buttons' ?'active' :''">
                <a href="/#/org/{{currentOrgId}}/app/{{currentAppId}}/actionButtons?id={{module.id}}"
                   data-trigger="hover" data-type="info"
                   data-title="Action Buttons" bs-tooltip data-placement="right">
                    <i class="fas fa-caret-square-right"></i>
                    <span>Action Buttons</span>
                </a>
            </li>
            <li ng-class="activeMenuItem ==='scripts' ? 'active' :''">
                <a href="/#/org/{{currentOrgId}}/app/{{currentAppId}}/scripts" data-trigger="hover" data-type="info"
                   data-title="Scripts" bs-tooltip data-placement="right">
                    <i class="fab fa-js-square"></i>
                    <span>Scripts</span>
                </a>
            </li>
            <li ng-class="activeMenuItem ==='advancedWorkflows' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId}}/advancedWorkflows" data-trigger="hover" data-type="info"
                   data-title="Advanced Workflows" bs-tooltip data-placement="right">
                    <i class="fas fa-project-diagram"></i>
                    <span>Workflows</span>
                </a>
            </li>
            <li ng-class="activeMenuItem ==='functions' ? appLoading ? 'active blocked' : 'active' :''">
                <a href="/#/org/{{currentOrgId}}/app/{{currentAppId}}/functions" data-trigger="hover" data-type="info"
                   data-title="Functions" bs-tooltip data-placement="right">
                    <i class="fas fa-file-code"></i>
                    <span>Functions</span>
                </a>
            </li>

        </ul>
    </li>
    <li ng-class="subMenuOpen =='visualization' ? 'active sub-open':''"
        ng-click="openSubMenu('visualization');$event.stopPropagation();"
        ng-show="checkUserProfile('visualization',null,null)">
        <a href="javascript:;" data-trigger="hover" data-type="info"
           data-title="Visualization" bs-tooltip data-placement="right">
            <i class="fas fa-magic"></i>
            <span>Visualization</span>
        </a>
        <ul ng-click="$event.stopPropagation();">
            <li ng-class="activeMenuItem ==='views' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId}}/views" data-trigger="hover" data-type="info"
                   data-title="Views"
                   bs-tooltip data-placement="right">
                    <i class="fas fa-sliders-h"></i>
                    <span>Views</span>
                </a>
            </li>
            <li ng-class="activeMenuItem ==='reports' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId }}/reports" data-trigger="hover" data-type="info"
                   data-title="Reports" bs-tooltip data-placement="right">
                    <i class="fas fa-chart-pie"></i>
                    <span>Reports</span>
                </a>
            </li>

            <li ng-class="activeMenuItem ==='menus' ?'active' :''">
                <a href="/#/org/{{currentOrgId}}/app/{{currentAppId}}/menus" data-trigger="hover" data-type="info"
                   data-title="Menus" bs-tooltip data-placement="right">
                    <i class="fas fa-stream"></i>
                    <span>Menus</span>
                </a>
            </li>

        </ul>
    </li>
    <li ng-class="subMenuOpen =='templates' ? 'active sub-open':''"
        ng-click="openSubMenu('templates'); $event.stopPropagation();"
        ng-show="checkUserProfile('templates',null,null)">
        <a href="javascript:;" data-trigger="hover" data-type="info"
           data-title="Templates" bs-tooltip data-placement="right">
            <i class="fas fa-file-alt"></i>
            <span>Templates</span>
        </a>
        <ul ng-click="$event.stopPropagation();">
            <li ng-class="activeMenuItem ==='templatesEmail' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId}}/templatesEmail" data-trigger="hover" data-type="info"
                   data-title="Email" bs-tooltip data-placement="right">
                    <i class="fas fa-envelope"></i>
                    <span>E-mail</span>
                </a>
            </li>
         
            <li ng-class="activeMenuItem ==='templatesWord' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId}}/templatesWord" data-trigger="hover" data-type="info"
                   data-title="Word Templates" bs-tooltip data-placement="right">
                    <i class="fas fa-file-word"></i>
                    <span>Document</span>
                </a>
            </li>
            <li ng-class="activeMenuItem ==='templatesExcel' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId}}/templatesExcel" data-trigger="hover" data-type="info"
                   data-title="Excel" bs-tooltip data-placement="right">
                    <i class="fas fa-file-excel"></i>
                    <span>Spreadsheet </span>
                </a>
            </li>

        </ul>
    </li>
    <li ng-click="openSubMenu('');$event.stopPropagation();" ng-class="activeMenuItem ==='components' ? 'active' :''">
        <a href="/#/org/{{currentOrgId}}/app/{{currentAppId}}/components" data-trigger="hover" data-type="info"
           data-title="Components" bs-tooltip data-placement="right">
            <i class="fas fa-shapes"></i>
            <span>Components</span>
        </a>
    </li>
    <li ng-class="subMenuOpen =='accessControl' ? 'active sub-open':''"
        ng-click="openSubMenu('accessControl'); $event.stopPropagation();"
        ng-show="checkUserProfile('accessControl',null,null)">
        <a href="javascript:;" data-trigger="hover" data-type="info"
           data-title="Access Control" bs-tooltip data-placement="right">
            <i class="fas fa-lock"></i>
            <span>Access Control</span>
        </a>
        <ul ng-click="$event.stopPropagation();">
            <li ng-class="activeMenuItem ==='profiles' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId}}/profiles" data-trigger="hover" data-type="info"
                   data-title="Profiles" bs-tooltip data-placement="right">
                    <i class="fas fa-user-shield"></i>
                    <span>Profiles</span>
                </a>
            </li>
            <li ng-class="activeMenuItem ==='roles' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId}}/roles" data-trigger="hover" data-type="info"
                   data-title="Roles" bs-tooltip data-placement="right">
                    <i class="fas fa-users-cog"></i>
                    <span>Roles</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-click="openSubMenu('');$event.stopPropagation();" ng-class="activeMenuItem ==='help' ? 'active' :''"
        ng-show="checkUserProfile('help',null,null)">
        <a href="/#/org/{{currentOrgId}}/app/{{currentAppId}}/help" data-trigger="hover" data-type="info"
           data-title="User Guides" bs-tooltip data-placement="right">
            <i class="fas fa-book"></i>
            <span>User Guides</span>
        </a>
    </li>
    <li ng-class="subMenuOpen =='manage' ? 'active sub-open':''"
        ng-click="openSubMenu('manage');$event.stopPropagation();" ng-show="checkUserProfile('manage',null,null)">
        <a href="javascript:;" data-trigger="hover" data-type="info"
           data-title="Manage" bs-tooltip data-placement="right">
            <i class="fas fa-cogs"></i>
            <span>Manage</span>
        </a>
        <ul ng-click="$event.stopPropagation();">
            <!--<li ng-class="activeMenuItem ==='appDetails' ? 'active' :''">-->
                <!--<a href="/#/org/{{ orgId}}/app/{{ appId}}/appDetails" data-trigger="hover" data-type="info"-->
                   <!--data-title="App Details" bs-tooltip data-placement="right">-->
                    <!--<i class="fas fa-cog"></i>-->
                    <!--<span>App Details</span>-->
                <!--</a>-->
            <!--</li>-->
            <li ng-class="activeMenuItem ==='appCollaborators' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId}}/appCollaborators" data-trigger="hover" data-type="info"
                   data-title="Collaborators" bs-tooltip data-placement="right">
                    <i class="fas fa-users"></i>
                    <span>Collaborators</span>
                </a>
            </li>
            <!--<li ng-class="activeMenuItem ==='tenants' ? 'active' :''">-->
            <!--<a href="/#/org/{{ orgId}}/app/{{ appId}}/tenants" data-trigger="hover" data-type="info"-->
            <!--data-title="Tenants" bs-tooltip data-placement="right">-->
            <!--<i class="fas fa-th-list"></i>-->
            <!--<span>Tenants</span>-->
            <!--</a>-->
            <!--</li>-->
            <li ng-class="activeMenuItem ==='users' ? 'active' :''">
                <a href="/#/org/{{ orgId}}/app/{{ appId}}/users" data-trigger="hover" data-type="info"
                   data-title="Users" bs-tooltip data-placement="right">
                    <i class="fas fa-user"></i>
                    <span>Users</span>
                </a>
            </li>
            <!--<li ng-class="activeMenuItem ==='notifications' ? 'active' :''">-->
            <!--<a href="/#/org/{{ orgId}}/app/{{ appId}}/notifications" data-trigger="hover" data-type="info"-->
            <!--data-title="Notifications" bs-tooltip data-placement="right">-->
            <!--<i class="fas fa-bell"></i>-->
            <!--<span>Notifications</span>-->
            <!--</a>-->
            <!--</li>-->
            <li ng-class="subMenuOpen =='security' ? 'active':''">
                <a href="/#/org/{{currentOrgId}}/app/{{currentAppId}}/auditTrail" data-trigger="hover" data-type="info"
                   data-title="Security" bs-tooltip data-placement="right">
                    <i class="fas fa-shield-alt"></i>
                    <span>Security</span>
                </a>
            </li>
            <li ng-class="subMenuOpen =='identity' ? 'active sub-open':''">
                <a href="/#/org/{{currentOrgId}}/app/{{currentAppId}}/authentication" data-trigger="hover"
                   data-type="info"
                   data-title="Identity" bs-tooltip data-placement="right">
                    <i class="fas fa-key"></i>
                    <span>Identity</span>
                </a>
            </li>
            <!--<li ng-class="activeMenuItem ==='diagnostics' ?  'active' :''">-->
            <!--<a href="/#/org/{{currentOrgId}}/app/{{currentAppId}}/diagnostics" data-trigger="hover" data-type="info"-->
            <!--data-title="Diagnostics" bs-tooltip data-placement="right">-->
            <!--<i class="fas fa-bug"></i>-->
            <!--<span>Diagnostics</span>-->
            <!--</a>-->
            <!--</li>-->
            <li ng-class="activeMenuItem ==='branding' ?  'active' :''">
                <a href="/#/org/{{currentOrgId}}/app/{{currentAppId}}/branding" data-trigger="hover" data-type="info"
                   data-title="Branding" bs-tooltip data-placement="right">
                    <i class="fas fa-star"></i>
                    <span>Branding</span>
                </a>
            </li>
            <li ng-class="activeMenuItem ==='extensions' ?  'active' :''">
                <a href="/#/org/{{currentOrgId}}/app/{{currentAppId}}/extensions" data-trigger="hover" data-type="info"
                   data-title="Extensions" bs-tooltip data-placement="right">
                    <i class="fas fa-plug"></i>
                    <span>Extensions</span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="setup-nav" ng-show="appLoading">
    <li>
        <a>
            <div class="animated-background"></div>
        </a>
    </li>
    <li>
        <a>
            <div class="animated-background"></div>
        </a>
    </li>
    <li>
        <a>
            <div class="animated-background"></div>
        </a>
    </li>
    <li>
        <a>
            <div class="animated-background"></div>
        </a>
    </li>
    <li>
        <a>
            <div class="animated-background"></div>
        </a>
    </li>
    <li>
        <a>
            <div class="animated-background"></div>
        </a>
    </li>
    <li>
        <a>
            <div class="animated-background"></div>
        </a>
    </li>
    <li>
        <a>
            <div class="animated-background"></div>
        </a>
    </li>
    <li>
        <a>
            <div class="animated-background"></div>
        </a>
    </li>
    <li>
        <a>
            <div class="animated-background"></div>
        </a>
    </li>
</ul>
