<div class="modal setup-modal" ng-class="picklist.id ? 'modal-1100':'modal-600'" tabindex="-1" role="dialog">
    <div class="modal-header">
        <div class="flex-between">
            <h4 ng-if="picklist.id" class="modal-title">
                {{'Picklist.PicklistItem' | translate:{name:picklist['label_'+language]} }}
            </h4>
            <h4 ng-if="!picklist.id" class="modal-title">{{'Picklist.AddNew' | translate }} </h4>
            <div>
                <ul class="list-unstyled list-inline">
                    <li>
                        <button type="button" class="btn add-button btn-radius btn-gray"
                                ng-click="cancel();">
                            <i class="fas fa-times"></i>{{$parent.$parent.excelMode ? 'Cancel Import':'Common.Cancel' | translate}}
                        </button>
                    </li>
                    <!--Excel import mode Button START-->
                    <li ng-show="wizardStep !== 0 && $parent.$parent.excelMode">
                        <button type="button"
                                class="btn btn-radius btn-blue "
                                ng-click="importValidStep(wizardStep-1,true);">
                            <i class="fas fa-angle-left"></i> {{'Common.Previous' | translate}}
                        </button>
                    </li>

                    <li ng-show="wizardStep !== 2  && $parent.$parent.excelMode">
                        <button type="button" class="btn btn-radius btn-blue "
                                ng-click="importValidStep(wizardStep+1,false) ? saveMapping():false">
                            {{'Common.Next' | translate}}<i class="fas fa-angle-right"></i>
                        </button>
                    </li>
                    <li ng-show="wizardStep === 2  && $parent.$parent.excelMode">
                        <button type="submit" ng-click="saveImport();"
                                ng-disabled="error"
                                class="btn add-button btn-radius btn-blue" ladda="saving">
                            <i class="fas fa-save"></i>Import Data
                        </button>
                    </li>
                    <!--Excel import mode Button END-->
                    <li ng-show="picklist.id && !$parent.$parent.excelMode">
                        <button type="button" class="btn add-button btn-radius btn-warning"
                                ng-click="$parent.$parent.excelMode = true">
                            <i class="fas fa-file-import"></i>Import
                        </button>
                    </li>
                    <li ng-show="picklist.id && !$parent.$parent.excelMode">
                        <button type="button" ng-click="addMode(true);"
                                class="btn add-button btn-radius btn-blue">
                            <i class="fas fa-plus"></i>{{'Common.Add' | translate}}
                        </button>
                    </li>
                    <li ng-show="!picklist.id && !$parent.$parent.excelMode">
                        <button type="button" ng-click="save($parent.picklistForm);"
                                class="btn add-button btn-radius btn-blue" ladda="saving">
                            <i class="fas fa-save"></i>{{'Common.Save' | translate}}
                        </button>
                    </li>
                    <li ng-show="orderChanged && !$parent.$parent.excelMode">
                        <button type="button" ng-click="orderSave();"
                                class="btn add-button btn-radius btn-blue" ladda="saving">
                            <i class="fas fa-save"></i>{{'Picklist.SaveSortOrder' | translate}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-dialog scroll-style-4" ng-show="!$parent.$parent.excelMode">
        <div ng-show="!picklist.id" class="form-group">
            <form name="picklistForm" class="form-horizontal form-custom">

                <div class="form-group"
                     ng-class="{'has-error': picklistForm.$submitted && picklistForm.labelEn.$invalid}">
                    <label class="col-sm-12 required-field">
                        {{'Picklist.Name' | translate}} <span class="required-label">({{'Common.Required' | translate }})</span>
                    </label>
                    <input name="labelEn" class="form-control" maxlength="100" required
                           ng-model="picklistModel.label_en" />
                </div>
                <div class="form-group"
                     ng-class="{'has-error': picklistForm.$submitted && picklistForm.systemCode.$invalid}">
                    <label class="col-sm-12">
                        {{'Picklist.SystemCode' | translate}}
                    </label>
                    <input name="systemCode" class="form-control" maxlength="50"
                           ng-model-options="{ debounce: 200 }"
                           ng-blur="picklistCodeBlur(picklistModel);"
                           ng-change="checkNameUnique(picklistModel)"
                           ng-model="picklistModel.system_code" />

                    <div ng-if="picklistNameChecking">
                        <i class="fa fa-spinner fa-spin"
                           style="font-size:24px;position: absolute;bottom: 25px;right: 8px;"></i>
                    </div>
                    <div ng-if="picklistNameValid && picklistModel.system_code">
                        <i style="font-size:24px;position: absolute;bottom: 25px;right: 8px;color:green;"
                           class="fa-sidebar-icon fas fa-check"></i>
                    </div>
                    <div ng-if="picklistNameValid === false">
                        <i style="font-size:24px;position: absolute;bottom: 25px;right: 8px;color:red;"
                           class="fas fa-times"></i>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="picklist.id" class="form-group">



            <!--<label class="required-field">{{'Setup.Modules.PicklistOptions' | translate}} <span class="required-label">({{'Common.Required' | translate }})</span></label>-->
            <div id="rightTopBar" class="scrollBar"></div>
            <div id="picklistOptionContainer" class="tab-content tab-content2 table-responsive">

                <table class="table table-striped" ng-show="modalLoading">
                    <thead>
                        <tr>
                            <th width="40"></th>
                            <th>{{'Picklist.Items.Name' | translate}}</th>
                            <th>{{'Picklist.Items.SystemCode' | translate}}</th>
                            <th>{{'Picklist.Items.Value' | translate}}</th>
                            <th>{{'Picklist.Items.Value2' | translate}}</th>
                            <th>{{'Picklist.Items.Value3' | translate}}</th>
                            <th width="120"></th>
                        </tr>
                    </thead>
                    <tbody class="picklist-options">
                        <tr ng-repeat="item in placeholderArray">
                            <td><div class="animated-background"></div></td>
                            <td><div class="animated-background"></div></td>
                            <td><div class="animated-background"></div></td>
                            <td><div class="animated-background"></div></td>
                            <td><div class="animated-background"></div></td>
                            <td><div class="animated-background"></div></td>
                            <td><div class="animated-background"></div></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped" ng-show="picklist.items && !modalLoading">
                    <thead>
                        <tr>
                            <th width="40"></th>
                            <th>{{'Picklist.Items.Name' | translate}}</th>
                            <th>{{'Picklist.Items.SystemCode' | translate}}</th>
                            <th>{{'Picklist.Items.Value' | translate}}</th>
                            <th>{{'Picklist.Items.Value2' | translate}}</th>
                            <th>{{'Picklist.Items.Value3' | translate}}</th>
                            <th width="120"></th>
                        </tr>
                    </thead>
                    <tbody id="picklistContainer" class="picklist-options">
                        <tr ng-if="addItem">
                            <td class="text-center"></td>
                            <td>
                                <input name="name" class="form-control" maxlength="100" ng-model="itemModel.label_tr"
                                       required placeholder="{{'Picklist.Items.Name'| translate}}" />
                            </td>
                            <td>
                                <input name="systemCode" class="form-control" maxlength="50"
                                       required
                                       ng-model="itemModel.system_code"
                                       placeholder="{{'Picklist.Items.SystemCode'| translate}}" />
                            </td>
                            <td>
                                <input name="value" class="form-control" maxlength="100" ng-model="itemModel.value"
                                       placeholder="{{'Picklist.Items.Value'| translate}}" />
                            </td>
                            <td>
                                <input name="value2" class="form-control" maxlength="100" ng-model="itemModel.value2"
                                       placeholder="{{'Picklist.Items.Value2'| translate}}" />
                            </td>
                            <td>
                                <input name="value3" class="form-control" maxlength="100" ng-model="itemModel.value3"
                                       placeholder="{{'Picklist.Items.Value3'| translate}}" />
                            </td>
                            <td class="text-right">
                                <div class="new-actions">
                                    <button title="{{'Common.Save' | translate}}" ladda="itemModel.saving"
                                            ng-click="saveItem();">
                                        <i class="fas fa-check"></i>
                                    </button>
                                    <button class="delete-btn" ng-click="addMode(false)" ladda="itemModel.deleting"
                                            title="{{'Common.Cancel' | translate}}">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="picklistItem in picklist.items track by picklistItem.id"
                            ng-class="{'has-error': picklistForm.$submitted && picklistForm[picklistItem.order].$invalid}">
                            <td ng-class="picklistItem.edit ? 'text-center':'option-dragging option-handle text-center'">
                                <i ng-show="!picklistItem.edit" class="fa fa-arrows option-dragging option-handle"></i>
                            </td>
                            <td ng-show="!picklistItem.edit">
                                {{picklistItem['label_'+language]}}
                            </td>
                            <td ng-if="picklistItem.edit">
                                <input name="name_{{picklistItem.id}}" class="form-control"
                                       placeholder="{{picklistItem['label_'+language]}}"
                                       maxlength="100"
                                       ng-model="picklistItem['label_'+language]" />
                            </td>

                            <td ng-show="!picklistItem.edit">
                                {{picklistItem.system_code ? picklistItem.system_code:'-'}}
                            </td>
                            <td ng-if="picklistItem.edit">
                                <input name="systemCode_{{picklistItem.id}}" class="form-control"
                                       maxlength="50"
                                       placeholder="{{picklistItem.system_code}}" ng-model="picklistItem.system_code" />
                            </td>

                            <td ng-show="!picklistItem.edit">
                                {{picklistItem.value ? picklistItem.value:'-'}}
                            </td>
                            <td ng-if="picklistItem.edit">
                                <input name="value_{{picklistItem.id}}" class="form-control"
                                       placeholder="{{picklistItem.value}}" maxlength="100" ng-model="picklistItem.value" />
                            </td>

                            <td ng-show="!picklistItem.edit">
                                {{picklistItem.value2 ? picklistItem.value2:'-'}}
                            </td>
                            <td ng-if="picklistItem.edit">
                                <input name="value2_{{picklistItem.id}}" class="form-control"
                                       placeholder="{{picklistItem.value2}}" maxlength="100" ng-model="picklistItem.value2" />
                            </td>

                            <td ng-show="!picklistItem.edit">
                                {{picklistItem.value3 ? picklistItem.value3:'-'}}
                            </td>
                            <td ng-if="picklistItem.edit">
                                <input name="value3_{{picklistItem.id}}" class="form-control"
                                       placeholder="{{picklistItem.value3}}" maxlength="100" ng-model="picklistItem.value3" />
                            </td>
                            <td class="text-right">
                                <div class="new-actions" ng-show="!picklistItem.edit">
                                    <button ng-show="picklistItem.id" ng-click="editModeOpen(picklistItem)" class="edit-btn"
                                            title="{{'Common.Edit' | translate}}">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                    <button ng-show="picklistItem.id" ladda="picklistItem.savingItem"
                                            ng-click="picklistItem.inactive=!picklistItem.inactive; updateItem(picklistItem)"
                                            title="{{picklistItem.inactive ? 'Common.Activate':'Common.Deactivate' | translate}}">
                                        <i ng-class="picklistItem.inactive ? 'fas fa-eye-slash':'fas fa-eye'"></i>
                                    </button>

                                    <button ng-show="picklistItem.id" ladda="picklistItem.deletingItem"
                                            ng-click="deleteItem(picklistItem)" class="delete-btn"
                                            title="{{'Common.Delete' | translate}}">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                                <div class="new-actions" ng-show="picklistItem.edit">
                                    <button title="{{'Common.Save' | translate}}" ladda="picklistItem.savingItem" class="check-btn"
                                            ng-click="updateItem(picklistItem); editModeClose(picklistItem);">
                                        <i class="fas fa-check"></i>
                                    </button>
                                    <button title="{{'Common.Cancel' | translate}}" class="delete-btn" ng-click="editModeClose(picklistItem);">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--  <button type="button" class="btn btn-xs btn-w-sm btn-custom" style="margin-left: 5px" ng-click="newOption(picklistForm); fieldForm.$setValidity('picklist', true);"><i class="fa fa-plus pull-left"></i> {{'Setup.Modules.NewOption' | translate}}</button>-->
            </div>
            <div id="rightBottomBar" class="scrollBar"></div>
        </div>
    </div>

    <div class="modal-dialog" ng-show="picklist.id && $parent.$parent.excelMode">
        <div class="modal-content view-form">
            <div class="modal-body">
                <div class="megalist">
                    <div class="modal-menu">
                        <ul class="list-unstyled">
                            <li>
                                <a ng-class="{'active':wizardStep == 0}"
                                   ng-click="importValidStep(0,true);">File Selection</a>
                            </li>
                            <li>
                                <a ng-class="{'active':wizardStep == 1}"
                                   ng-click="importValidStep(1,wizardStep===0 ?false:true );">Mapping</a>
                            </li>
                            <li>
                                <a ng-class="{'active':wizardStep == 2}"
                                   ng-disabled="!fieldMap ||!fieldMap[name] || !fieldMap.system_code"
                                   ng-click="importValidStep(2,false) ? saveMapping():false">Finish</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <form name="$parent.$parent.importForm" class="form-horizontal form-custom" ng-submit="" autocomplete="off" novalidate>
                            <div class="section" id="section2" ng-show="wizardStep === 0">
                                <div class="panel">

                                    <div class="form-group" ng-class="{'has-error': $parent.$parent.importForm.$submitted && !uploader.queue.length}">
                                        <label class="control-label col-sm-12">File Selection</label>

                                        <span class="file-input btn btn-custom btn-sm btn-file" ng-disabled="uploader.queue.length">
                                            {{'Data.Import.ChooseFiles' | translate}} <input type="file" class="form-control" name="excelFile" ng-required="!uploader.queue.length" nv-file-select uploader="uploader">
                                        </span>

                                        <span ng-show="uploader.queue.length">{{uploader.queue[0].file.name}}</span>
                                        <button type="reset" class="btn add-button btn-radius btn-red" ng-show="uploader.queue.length" ng-click="clear()"><i class="fa fa-times-circle"></i></button>

                                    </div>
                                    <div class="form-group" ng-show="sheets" ng-class="{'has-error': $parent.$parent.importForm.$submitted && !selectedSheet}">
                                        <label class="control-label col-sm-12">{{'Data.Import.SelectSheet' | translate}}</label>
                                        <label class="radio-inline newinput" ng-repeat="sheet in sheets">
                                            <input type="radio" name="selectedSheet" ng-value="sheet" ng-required="!selectedSheet" ng-model="selectedSheet" ng-click="selectSheet()">{{sheet}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <div class="callout callout-info">
                                            <p><label class="bold">{{'Data.Import.Info.Title1' | translate}}</label></p>
                                            <p>
                                                <ul>
                                                    <li>{{'Data.Import.Info.Info1' | translate}}</li>
                                                    <li>{{'Data.Import.Info.Info2' | translate}}</li>
                                                    <li>{{'Data.Import.Info.Info3' | translate}}</li>
                                                </ul>
                                            </p>
                                            <p><label class="bold">{{'Data.Import.Info.Title2' | translate}}</label></p>
                                            <p>
                                                <ul>
                                                    <li>{{'Data.Import.Info.Info4' | translate}}</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section" id="section3" ng-show="wizardStep === 1">
                                <div class="panel">
                                    <div class="form-group" ng-repeat="field in fields | orderBy:'order'"
                                         ng-class="{'has-error': $parent.$parent.importForm.$submitted && $parent.$parent.importForm[field.name].$invalid}">
                                        <label class="control-label col-sm-12">
                                            {{field.label}}
                                            <span class="required-label">{{field.required ? '(required)':''}}</span>
                                        </label>
                                        <select class="form-control ng-animate-disabled"
                                                name="{{field.name}}"
                                                tabindex="{{field.order}}"
                                                ng-required="field.required && selectedSheet && wizardStep === 1"
                                                ng-model="$parent.$parent.$parent.fieldMap[field.name]">
                                            <option value="">{{'Common.Select' | translate}}</option>
                                            <option value="{{cell.column}}" ng-repeat="cell in cells track by cell.column" class="free-cell" ng-class="{'used-cell': cell.used}">{{cell.name}}</option>
                                            <option value="fixed" style="background-color: #fbf7dd;">Fixed Value</option>
                                        </select>
                                        <input type="text"
                                               name="{{field.name}}_fixed"
                                               class="form-control ng-animate-disabled"
                                               style="margin-top:5px;"
                                               maxlength="100"
                                               ng-if="$parent.$parent.$parent.fieldMap[field.name] === 'fixed'"
                                               ng-model="fixedField[field.name]"
                                               ng-required="field.required && fieldMap[field.name] === 'fixed'" />
                                    </div>
                                </div>
                            </div>

                            <div class="section" id="section4" ng-show="wizardStep === 2">
                                <div class="subpanel">
                                    <h5 class="subpanel-heading">{{'Data.Import.Step3' | translate}}</h5>
                                    <div class="subpanel-body">
                                        <div ng-show="preparing" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
                                        <div ng-show="!preparing">
                                            <div class="callout callout-success" ng-show="!error && !errorUnique && !trying">{{'Data.Import.ReadyToTransfer' | translate:{count:rows.length} }}</div>
                                            <div ng-show="error">
                                                <p>{{'Data.Import.FixErrorFirst' | translate}}</p>
                                                <div class="callout callout-danger">
                                                    <p><span class="bold">{{'Data.Import.ErrorMessage' | translate}}:</span> {{error.message}}</p>
                                                    <p><span class="bold">{{'Data.Import.Row' | translate}}:</span> {{error.rowNo}}</p>
                                                    <p><span class="bold">{{'Data.Import.Column' | translate}}:</span> {{error.cellName}} ({{error.fieldLabel}})</p>
                                                    <p><span class="bold">{{'Data.Import.Value' | translate}}:</span> {{error.cellValue}}</p>
                                                </div>
                                            </div>
                                            <div class="callout callout-danger" ng-show="errorUnique">
                                                <span ng-if="!errorUnique.field2">{{'Data.Import.Error.Unique1' | translate:{field1:errorUnique.field} }}</span>
                                                <span ng-if="errorUnique.field2">{{'Data.Import.Error.Unique2' | translate:{field1:errorUnique.field, field2:errorUnique.field2} }}</span>
                                            </div>
                                            <div ng-show="error || errorUnique">
                                                <p>{{'Data.Import.TryAgainMessage' | translate}}</p>
                                                <p>
                                                    <button type="button" class="btn btn-custom btn-w-lg" ladda="trying" ng-click="tryAgain()"><i class="fa fa-repeat pull-left"></i> {{'Data.Import.TryAgain' | translate}}</button>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
