<div class="modal setup-modal modal-900" tabindex="-1" role="dialog">
    <div class="modal-header">
        <div class="flex-between">
            <h4 class="modal-title">{{'Picklist.PicklistItem' | translate:{name:picklist['label_'+language]} }} </h4>
            <div>
                <ul class="list-unstyled list-inline">
                    <li>
                        <button type="button" class="btn add-button btn-radius btn-gray"
                                ng-click="cancel();">
                            <i class="fas fa-times"></i>{{'Common.Cancel' | translate}}
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn add-button btn-radius btn-blue">
                            <i class="fas fa-plus"></i>{{'Common.Add' | translate}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-dialog scroll-style-4">
        <div ng-if="modalLoading" class="page-loading2"><i class="fa fa-sm fa-spinner fa-pulse"></i></div> 
        <div class="form-group" ng-class="{'has-error': picklistForm.$submitted && (picklistForm.picklistLabel.$invalid || picklistForm.$error.unique)}">
            <label class="col-sm-4 required-field">* {{'Setup.Modules.PicklistName' | translate}}: </label>
            <input type="text"
                   name="picklistLabel"
                   class="form-control ng-animate-disabled col-sm-8"
                   required
                   maxlength="50"
                   focus="true"
                   ng-change="picklistForm.$setValidity('unique', true)"
                   ng-model="picklist.label_en">
        </div>
        <div class="form-group">
            <label class="col-sm-4 required-field">* {{'Setup.Modules.PicklistOptions' | translate}}:</label>
            <div class="col-sm-12">
                <div id="rightTopBar" class="scrollBar"></div>
                <div id="picklistOptionContainer" class="picklist-options">
                    <ul id="picklistContainer" class="list-unstyled">
                        <li ng-repeat="picklistItem in picklist.items track by picklistItem.order" ng-class="{'has-error': picklistForm.$submitted && picklistForm[picklistItem.order].$invalid}">

                            <span class="option-dragging">{{picklistItem.label_en}}</span>
                            <span class="action-buttons" ng-if="!picklistItem.id">
                                <i class="action-icon fa fa-trash-o" ng-click="deleteOption(picklistItem)" title="{{'Common.Delete' | translate}}"></i>
                            </span>
                            <span class="action-buttons" ng-if="picklistItem.id" ng-show="!picklistItem.inactive">
                                <i class="action-icon fa fa-ban" ng-click="picklistItem.inactive = true" title="{{'Common.Deactivate' | translate}}"></i>
                            </span>
                            <span class="action-buttons" ng-if="picklistItem.id" ng-show="picklistItem.inactive">
                                <i class="action-icon fa fa-undo" ng-click="picklistItem.inactive = false" title="{{'Common.Activate' | translate}}"></i>
                            </span>
                            <span class="option-drag pull-right option-handle"><i class="fa fa-arrows option-handle"></i></span>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-xs btn-w-sm btn-custom" style="margin-left: 5px" ng-click="newOption(picklistForm); fieldForm.$setValidity('picklist', true);"><i class="fa fa-plus pull-left"></i> {{'Setup.Modules.NewOption' | translate}}</button>
                </div>
                <div id="rightBottomBar" class="scrollBar"></div>
            </div>
        </div>
    </div>
</div>