<div class="modal setup-modal modal-900" tabindex="-1" role="dialog">
    <div class="modal-header">
        <div class="flex-between">
            <h4 class="modal-title">{{'Picklist.PicklistItem' | translate:{name:picklist['label_'+language]} }} </h4>
            <div>
                <ul class="list-unstyled list-inline">
                    <li>
                        <button type="button" class="btn add-button btn-radius btn-gray"
                                ng-click="cancel();">
                            <i class="fas fa-times"></i>{{'Common.Cancel' | translate}}
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn add-button btn-radius btn-blue">
                            <i class="fas fa-plus"></i>{{'Common.Add' | translate}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-dialog scroll-style-4">
        <!-- <div ng-if="modalLoading" class="page-loading2"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>-->

        <div class="tab-content table-responsive">
            <table class="table" ng-show="loadingItem">
                <thead>
                    <tr>
                        <th>{{'Picklist.Name' | translate}}</th>
                        <th>{{'Picklist.SystemCode' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <tr ng-repeat="item in placeholderArray">
                        <td>
                            <div class="animated-background"></div>
                        </td>
                        <td>
                            <div class="animated-background"></div>
                        </td>
                        <td>
                            <div class="animated-background"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table ng-show="!loadingItem" class="table">
                <thead>
                    <tr>
                        <th>{{'Picklist.Name' | translate}}</th>
                        <th>{{'Picklist.SystemCode' | translate}}</th>
                        <th>Value</th>
                        <th>Value 1</th>
                        <th>Value 2</th>
                        <th>Order</th>
                        <th>{{'Common.Active' | translate}}</th>
                        <th width="50"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in picklist.items">
                        <td>{{item['label_' + language]}}</td>
                        <td>{{item.value}}</td>
                        <td>{{item.value2}}</td>
                        <td>{{item.value3}}</td>
                        <td>{{item.order}}</td>
                        <td>{{ !item.inactive}}</td>
                        <td class="text-right">
                            <div class="action-buttons-block">
                                <button ng-click="$event.stopPropagation(); deleteItem(item.id);" type="button" class="action-buttons-delete">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-pagination">
                <div>
                    <nav aria-label="Page navigation">
                        <div paging
                             text-first="&laquo;"
                             ul-class="pagination"
                             active-class="active"
                             page="requestModelItem.offset"
                             page-size="requestModelItem.limit"
                             total="pageTotalItems"
                             scroll-top="true"
                             hide-if-empty="true"
                             show-prev-next="true"
                             show-first-last="true"
                             text-next-class="fas fa-chevron-right"
                             text-prev-class="fas fa-chevron-left"
                             text-first-class="fas fa-step-backward"
                             text-last-class="fas fa-step-forward"
                             paging-action="changePageItem(page)">
                        </div>
                    </nav>
                </div>
                <div>
                    Total Picklist Items {{$parent.pageTotalItems}}
                </div>
                <div>
                    <span class="pagination-span">Items per page  </span>
                    <select ng-model="requestModelItem.limit" class="items-per-page-select" ng-change="changeOffsetItem(1)">
                        <option ng-selected="true" value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
</div>