<div class="setup-title">
    <h2>Picklists</h2>
    <ul class="list-unstyled list-inline">
        <li>
            <button class="btn add-button" ng-click="showFormModal(null, false)">
                <i class="fas fa-plus"></i>{{'Picklist.AddNew' | translate}}
            </button>
        </li>
    </ul>
</div>
<div class="tab-content table-responsive">
    <table class="table" ng-show="loading">
        <thead>
            <tr>
                <th>{{'Picklist.Name' | translate}}</th>
                <th>{{'Picklist.SystemCode' | translate}}</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <tr ng-repeat="item in placeholderArray">
                <td>
                    <div class="animated-background"></div>
                </td>
                <td>
                    <div class="animated-background"></div>
                </td>
                <td>
                    <div class="animated-background"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <table ng-show="!loading" class="table">
        <thead>
            <tr>
                <th>{{'Picklist.Name' | translate}}</th>
                <th>{{'Picklist.SystemCode' | translate}}</th>
                <th>Type</th>
                <th width="50"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="picklist in picklists" ng-click="$event.stopPropagation(); showFormModal(picklist, false);">
                <td>{{picklist['label_' + language]}}</td>
                <td>{{picklist.system_code}}</td>
                <td style="text-transform: capitalize;">{{picklist.system_type}}</td>
                <td class="text-right">
                    <div class="action-buttons-block">
                        <button ng-click="$event.stopPropagation();" type="button" data-toggle="dropdown"
                                class="btn btn-xs btn-default list-action-button"
                                placement="bottom-right"
                                data-animation="am-flip-x"
                                bs-dropdown
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="$event.stopPropagation();showFormModal(picklist, true)">
                                    {{'Common.Edit' | translate}}
                                </a>
                            </li>
                            <li>
                                <a ng-click="$event.stopPropagation(); delete(picklist.id)">
                                    {{'Common.Remove' | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--<div class="action-buttons-block">
                        <button ng-click="$event.stopPropagation(); delete(picklist.id);" type="button" class="action-buttons-delete">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>-->
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-pagination">
        <div>
            <nav aria-label="Page navigation">
                <div paging
                     text-first="&laquo;"
                     ul-class="pagination"
                     active-class="active"
                     page="page"
                     page-size="requestModel.limit"
                     total="pageTotal"
                     scroll-top="true"
                     hide-if-empty="true"
                     show-prev-next="true"
                     show-first-last="true"
                     text-next-class="fas fa-chevron-right"
                     text-prev-class="fas fa-chevron-left"
                     text-first-class="fas fa-step-backward"
                     text-last-class="fas fa-step-forward"
                     paging-action="changePage(page)">
                </div>
            </nav>
        </div>
        <div class="total">Total {{pageTotal}}</div>
        <div>
            <span class="pagination-span">Items per page  </span>
            <select ng-model="requestModel.limit" class="items-per-page-select" ng-change="changeOffset(1)">
                <option ng-selected="true" value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
        </div>
    </div>
</div>