<div class="sub-menu">
    <ul class="nav nav-tabs">
        <li><a href="#/app/setup/users">{{'Setup.Nav.Tabs.Users' | translate}}</a></li>
        <li class="active"><a href="#/app/setup/profiles">{{'Setup.Nav.Tabs.Profiles' | translate}}</a></li>
        <li><a href="#/app/setup/roles">{{'Setup.Nav.Tabs.Roles' | translate}}</a></li>
        <li><a href="#/app/setup/usergroups">{{'Setup.Nav.Tabs.UserGroups' | translate}}</a></li>
        <li><a href="#/app/setup/usercustomshares">{{'Setup.UserCustomShares.Title' | translate}}</a></li>
    </ul>
</div>
<div class="panel panel-default setup-panel profiles">
    <div class="panel-body">
        <div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <div ng-show="!loading">
            <div class="subpanel">
                <h5 class="subpanel-heading">{{'Setup.Profiles.Title' | translate}}</h5>
                <div class="subpanel-body">
                    <div class="text-right">
                        <a href="#/app/setup/profile" class="btn btn-custom btn-sm btn-w-lg pull-right"><i class="fa fa-plus pull-left"></i> {{'Setup.Profiles.NewProfile' | translate}}</a>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{'Setup.Profiles.ProfileName' | translate}}</th>
                            <th>{{'Setup.Profiles.ProfileDescription' | translate}}</th>
                            <th class="action-column"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="profile in profiles">
                            <td class="profile-name"><a href="#/app/setup/profile?id={{profile.id}}">{{profile.Name}}</a></td>
                            <td class="profile-description">{{profile.description}}</td>
                            <td class="text-right">
                                <a href="#/app/setup/profile?clone={{profile.id}}" class="btn btn-xs btn-custom">{{'Common.Copy' | translate}}</a>
                                <button type="button" id="deleteButton{{profile.id}}" class="btn btn-xs btn-custom" ng-disabled="profile.is_persistent" ng-click="showDeleteForm(profile)">{{'Common.Remove' | translate}}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>