<div class="setup-title">
    <h2>Branding</h2>
</div>
<div class="tab-content" style="padding: 30px;margin-bottom: 30px;">
    <div class="custom-tabx">
        <div bs-active-pane="tabManage.activeTab" bs-tabs>
            <div data-title="Login Page" name="loginpage" bs-pane>
                <a href="javascript:;" class="b_loginpage">
                    <img class="width100" src="images/primeapps/page_login.svg" alt="">
                    <span ng-click="showEditModal('login','1')" style="left:8%; top: -1%;">1</span>
                    <span style="left:15%; top: 2%;">2</span>
                    <span style="left:21%; top: 35%;">3</span>
                    <span style="left:12%; top: 61%;">4</span>
                    <span style="left:67%; top: 44%;">5</span>
                    <span style="left:35%; top: 86%;">6</span>
                </a>
            </div>
            <div data-title="App Page" name="apppage" bs-pane>
                <a href="javascript:;" class="b_loginpage">
                    <img class="width100" src="images/primeapps/page_app.svg" alt="">
                    <span style="left:8%; top: -1%;">1</span>
                    <span style="left:15%; top: 2%;">2</span>
                    <span style="left:14%; top: 16%;">3</span>
                    <span style="left:14%; top: 50%;">4</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="setup-title">
    <h2>Auth Theme</h2>
    <ul class="list-unstyled list-inline">
        <li>
            <button type="submit" ng-click="saveAuthTheme(authThemeForm);" class="btn btn-radius btn-blue" style=""
                    ladda="savingAuth">
                <i class="fas fa-save "></i>Save
            </button>
        </li>
    </ul>
</div>
<div class="tab-content" style="padding: 30px;margin-bottom: 30px;">
    <form name="authThemeForm" class="form-horizontal form-custom" autocomplete="off" novalidate>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
                <div>
                    <div style="margin: auto;text-align: center;">
                        <div ng-if="uploader.isHTML5" class="file-uploader" style="background: none; padding:0px;">
                            <div nv-file-drop="" nv-file-over="" required="" uploader="uploader" options="{url: '/foo'}"
                                 over-class="uploader-over" nv-file-select class="uploader-area drop-zone">
                                <div class="">
                                    <img ng-src="{{authTheme.banner}}" style="max-width: 100%" ng-show="!authBanner">
                                    <img ng-src="{{authBanner.image}}" ng-show="authBanner" class="resultimg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;padding-top: 10px; padding-bottom: 10px;">
                        <label>Banner</label>
                    </div>
                    <div class="text-center form-group">
                        <label class="newinput">
                            <input id="authBanner"
                                   type="file"
                                   name="authBanner"
                                   tabindex="authBanner"
                                   nv-file-select uploader="uploaderImage('authBanner')"
                                   ng-model='authBanner'/>
                            <span class="btn btn-radius btn-gray"><i class="fas fa-upload"></i> Change image</span>
                        </label>
                    </div>
                </div>
                <div>
                    <div style="margin: auto;text-align: center;">
                        <div ng-if="uploader.isHTML5" class="file-uploader" style="background: none; padding:0px;">
                            <div nv-file-drop="" nv-file-over="" uploader="uploader" options="{url: '/foo'}"
                                 over-class="uploader-over" nv-file-select class="uploader-area drop-zone">
                                <div class="">
                                    <img ng-src="{{authTheme.favicon}}" style="max-width: 100%" ng-show="!authFavicon">
                                    <img ng-src="{{authFavicon.image}}" ng-show="authFavicon" class="resultimg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;padding-top: 10px; padding-bottom: 10px;">
                        <label>Favicon</label>
                    </div>
                    <div class="text-center form-group">
                        <label class="newinput">
                            <input id="authFavicon"
                                   type="file"
                                   name="authFavicon"
                                   tabindex="authFavicon"
                                   nv-file-select uploader="uploaderImage('authFavicon')"
                                   ng-model='authFavicon'/>
                            <span class="btn btn-radius btn-gray"><i class="fas fa-upload"></i> Change image</span>
                        </label>
                    </div>
                </div>
                <div>
                    <div style="margin: auto;text-align: center;">
                        <div ng-if="uploader.isHTML5" class="file-uploader" style="background: none; padding:0px;">
                            <div nv-file-drop="" nv-file-over="" uploader="uploader" options="{url: '/foo'}"
                                 over-class="uploader-over" nv-file-select class="uploader-area drop-zone">
                                <div class="">
                                    <img ng-src="{{authTheme.logo}}" style="max-width: 100%" ng-show="!authLogo">
                                    <img ng-src="{{authLogo.image}}" ng-show="authLogo" class="resultimg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;padding-top: 10px; padding-bottom: 10px;">
                        <label>Logo</label>
                    </div>
                    <div class="text-center form-group">
                        <label class="newinput">
                            <input id="authLogo"
                                   type="file"
                                   name="authLogo"
                                   tabindex="authLogo"
                                   nv-file-select uploader="uploaderImage('authLogo')"
                                   ng-model='authLogo'/>
                            <span class="btn btn-radius btn-gray"><i class="fas fa-upload"></i> Change image</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="required-field" style="padding-bottom: 10px;">Color:</label>
                    <input name="colorpicker" type="color"
                           class="form-control"
                           ng-model="authTheme.color">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="required-field" style="padding-bottom: 10px;">Title:</label>
                    <input type="text"
                           name="name"
                           style="margin-bottom: 20px;"
                           class="form-control ng-animate-disabled col-sm-6"
                           required
                           maxlength="50"
                           ng-trim="false"
                           ng-model="authTheme.title"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="required-field" style="padding-bottom: 10px;">Description Tr:</label>
                    <input type="text"
                           name="descriptionTr"
                           style="margin-bottom: 20px;"
                           class="form-control ng-animate-disabled col-sm-8"
                           required
                           maxlength="50"
                           ng-model="authTheme.descriptionTr">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="required-field" style="padding-bottom: 10px;">Description En:</label>
                    <input type="text"
                           name="descriptionEn"
                           style="margin-bottom: 20px;"
                           class="form-control ng-animate-disabled col-sm-8"
                           required
                           maxlength="50"
                           ng-model="authTheme.descriptionEn">
                </div>
            </div>
        </div>

    </form>
</div>

<div class="setup-title">
    <h2>App Theme</h2>
    <ul class="list-unstyled list-inline">
        <li>
            <button type="submit" ng-click="saveAppTheme();" class="btn btn-radius btn-blue" style="" ladda="savingApp">
                <i class="fas fa-save "></i>Save
            </button>
        </li>
    </ul>
</div>
<div class="tab-content" style="padding: 30px;margin-bottom: 30px;">
    <form name="appThemeForm" class="form-horizontal form-custom" autocomplete="off" novalidate>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
                <div>
                    <div style="margin: auto;text-align: center;">
                        <div ng-if="uploader.isHTML5" class="file-uploader" style="background: none; padding:0px;">
                            <div nv-file-drop="" nv-file-over="" uploader="uploader" options="{url: '/foo'}"
                                 over-class="uploader-over" nv-file-select class="uploader-area drop-zone">
                                <div class="">
                                    <img ng-src="{{appTheme.logo}}" style="max-width: 100%" ng-show="!appThemeLogo">
                                    <img ng-src="{{appThemeLogo.image}}" ng-show="appThemeLogo" class="resultimg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;padding-top: 10px; padding-bottom: 10px;">
                        <label>Logo</label>
                    </div>
                    <div class="text-center form-group">
                        <label class="newinput">
                            <input id="appThemeLogo"
                                   type="file"
                                   name="appThemeLogo"
                                   tabindex="appThemeLogo"
                                   nv-file-select uploader="uploaderImage('appThemeLogo')"
                                   ng-model='appThemeLogo'/>
                            <span class="btn btn-radius btn-gray"><i class="fas fa-upload"></i> Change image</span>
                        </label>
                    </div>
                </div>
                <div>
                    <div style="margin: auto;text-align: center;">
                        <div ng-if="uploader.isHTML5" class="file-uploader" style="background: none; padding: 0px;">
                            <div nv-file-drop="" nv-file-over="" uploader="uploader" options="{url: '/foo'}"
                                 over-class="uploader-over" nv-file-select class="uploader-area drop-zone">
                                <div class="">
                                    <img ng-src="{{appTheme.favicon}}" style="max-width: 100%"
                                         ng-show="!appThemeFavicon">
                                    <img ng-src="{{appThemeFavicon.image}}" ng-show="appThemeFavicon"
                                         class="resultimg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;padding-top: 10px; padding-bottom: 10px;">
                        <label>Favicon</label>
                    </div>
                    <div class="text-center form-group">
                        <label class="newinput">
                            <input id="appThemeFavicon"
                                   type="file"
                                   name="appThemeFavicon"
                                   tabindex="appThemeFavicon"
                                   nv-file-select uploader="uploaderImage('appThemeFavicon')"
                                   ng-model='appThemeFavicon'/>
                            <span class="btn btn-radius btn-gray"><i class="fas fa-upload"></i> Change image</span>
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="required-field" style="padding-bottom: 10px;">Color:</label>
                    <input name="colorpicker" type="color"
                           class="form-control"
                           ng-model="appTheme.color">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="required-field" style="padding-bottom: 10px;">Title:</label>
                    <input type="text"
                           name="name"
                           style="margin-bottom: 20px;"
                           class="form-control ng-animate-disabled col-sm-6"
                           required
                           maxlength="50"
                           ng-trim="false"
                           ng-model="appTheme.title"/>
                </div>
            </div>
        </div>
    </form>
</div>