<div class="sub-menu">
    <ul class="nav nav-tabs">
        <li><a href="#/app/setup/users">{{'Setup.Nav.Tabs.Users' | translate}}</a></li>
        <li><a href="#/app/setup/profiles">{{'Setup.Nav.Tabs.Profiles' | translate}}</a></li>
        <li><a href="#/app/setup/roles">{{'Setup.Nav.Tabs.Roles' | translate}}</a></li>
        <li><a href="#/app/setup/usergroups">{{'Setup.Nav.Tabs.UserGroups' | translate}}</a></li>
        <li class="active"><a href="#/app/setup/usercustomshares">{{'Setup.UserCustomShares.Title' | translate}}</a></li>
    </ul>
</div>
<div class="panel panel-default setup-panel profiles">
    <div class="panel-body">
        <div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <div ng-show="!loading">
            <div class="subpanel">
                <h5 class="subpanel-heading">{{'Setup.UserCustomShares.Title' | translate}}</h5>
                <div class="subpanel-body">
                    <div class="text-right">
                        <a href="#/app/setup/usercustomshare" class="btn btn-custom btn-sm btn-w-lg pull-right"><i class="fa fa-plus pull-left"></i> {{'Setup.UserCustomShares.New' | translate}}</a>
                    </div>
                    <div class="empty-message" ng-if="userowners.length < 1" ng-show="!loading">{{'Common.EmptyMessage' | translate}}</div>
                    <div ng-show="!loading && userowners.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{'Setup.UserCustomShares.UserAtList' | translate}}</th>
                                <th>{{'Setup.UserCustomShares.CreatedDate' | translate}}</th>
                                <th class="action-column"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in userowners">
                                <td class="profile-name"><a href="#/app/setup/usercustomshare?id={{item.id}}">{{item.userName}}</a></td>
                                <td class="profile-description">{{item.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                <td class="text-right">
                                    <a href="#/app/setup/usercustomshare?id={{item.id}}" class="btn btn-xs btn-custom">{{'Common.Edit' | translate}}</a>
                                    <button type="button" class="btn btn-xs btn-custom" confirm-click data-placement="left" action="delete(item.id)" confirm-message="{{'Common.AreYouSure' | translate}}" confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}">{{'Common.Remove' | translate}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>