<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">
    <div ng-if="modalLoading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
    <form ng-if="!modalLoading" name="functionRunValidation" class="form-horizontal form-custom" ng-submit="runFunction(run);" autocomplete="off"
          novalidate>

        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">Run Function</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <!-- Burası Modalın kaydet vazgeç buttonların bulunduğu yer  -->
                        <li>
                            <button type="button" class="btn add-button btn-radius btn-gray" ng-click="$parent.$parent.$parent.run = {}; $parent.$parent.$parent.response = null; runFormModal.hide();" ng-disabled="saving">
                                <i class="fas fa-times margin-right-10"></i>{{'Common.Cancel' | translate}}
                            </button>
                        </li>
                        <li>
                            <button type="submit" class="btn add-button btn-radius btn-blue" ladda="running" style="margin-left: 5px">
                                <i class="fas fa-bolt margin-right-10"></i>Run
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog">
            <div class="modal-content padding-0">
                <div class="modal-body">
                    <div id="field-form-body" class="modal-body">
                        <div class="section" id="section1">
                            <div class="panel">
                                <div class="form-group"
                                     ng-class="{'has-error': functionRunValidation.$submitted && functionRunValidation.type.$invalid}">
                                    <label class="col-sm-4 required-field">Type: </label>
                                    <select
                                            ng-init="run.type = 'get'"
                                            name="type"
                                            class="form-control ng-animate-disabled col-sm-8"
                                            required
                                            ng-model="run.type">
                                        <option value="get">GET</option>
                                        <option value="post">POST</option>
                                    </select>
                                </div>
                                <div class="form-group"
                                     ng-if="run.type === 'post'"
                                     style="position: relative;"
                                     ng-class="{'has-error': functionRunValidation.$submitted && functionRunValidation.body.$invalid}">
                                    <label class="col-sm-4 required-field">Body: </label>
                                    <textarea style="min-height:200px !important;padding-top: 10px;padding-bottom: 10px;resize: none; "
                                              name="body"
                                              placeholder="{'hello':'world'}"
                                              class="form-control ng-animate-disabled col-sm-6"
                                              ng-model="run.body"></textarea>
                                </div>
                                <div class="form-group"
                                     ng-if="response"
                                     style="position: relative;">
                                    <label class="col-sm-4 required-field">Response: </label>
                                    <textarea style="min-height:200px !important;padding-top: 10px;padding-bottom: 10px;resize: none;"
                                              class="form-control ng-animate-disabled col-sm-6"
                                              ng-readonly="true"
                                              ng-model="response"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>