<div ng-if="!loading" class="function" ng-show="$parent.showConsole" id="logger">
    <div style="" id="log-screen">
        <div class="setup-title">
            <h2>Logs</h2>
            <div>
                <ul class="list-unstyled list-inline">
                    <li>
                        <button class="btn add-button" ng-click="getLogs()"><i class="fas fa-refresh" ng-class="refreshLogs ? 'fa-spin' : ''"></i></button>
                    </li>
                    <li>
                        <button class="btn add-button" ng-click="$parent.showConsole = !$parent.showConsole;"><i class="fas fa-times"></i></button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <div class="ui grid">
                <div class="sixteen wide column content" style="padding:0px;">
                    <div class="subpanel-body" style="top:0;left:0;right:0;bottom:0;background-color:black; border-radius: 5px;">
                        <pre id="logArea" data-ng-bind-html="asHtml()" style="color: white !important;padding-left: 10px !important;padding-top: 10px !important;padding-bottom: 10px !important;max-height: 300px !important;min-height: 100px;"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-if="!loading">
    <div class="setup-title">
        <h2>
            {{function.label}}
            <span style="color: black;font-size: 13px;font-style: italic;font-weight: 600;">
                ( {{name}}.{{getFileType()}} )
            </span>
        </h2>
        <div>
            <ul class="list-unstyled list-inline">
                <li>
                    <button class="btn add-button" ng-click="openTerminal()" data-trigger="hover" data-type="info" data-title="{{$parent.deployments.length === 0 ? 'Need deployment for log information.' : ''}}" bs-tooltip data-placement="bottom">
                        <i class="fas fa-terminal"></i> Logs
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="tab-content functionx" style="padding: 20px;position: relative;">
        <div class="bs-docs-section">
            <div class="bs-example" append-source>
                <div bs-active-pane="tabManage.activeTab" bs-tabs>
                    <div data-title="Overview" name="overview" bs-pane>
                        <div ng-if="!loading" class="tab-content" style="padding: 20px;">
                            <div class="setup-title" style="justify-content: normal;">
                                <p style="float: left;padding: 5px;background: #0d6faa;border-radius: 9px;color: white;font-size: 15px;padding-left: 10px;padding-right: 10px;margin-right: 5px;">1</p>
                                <h2 style="padding-bottom: 10px;">Clone</h2>
                            </div>
                            <div class="markdown" style="padding-bottom: 20px;">
                                <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;border-radius: 5;">
                                <code>
git clone {{giteaUrl.slice(0, giteaUrl.indexOf('//')) + '//' + organization.name}}@{{giteaUrl.slice(giteaUrl.indexOf('//') + 2)}}/{{organization.name}}/{{app.name}}.git
Enter your account password</code>
        </pre>
                            </div>
                            <div class="setup-title" style="justify-content: normal;">
                                <p style="float: left;padding: 5px;background: #0d6faa;border-radius: 9px;color: white;font-size: 15px;padding-left: 10px;padding-right: 10px;margin-right: 5px;">2</p>
                                <h2 style="padding-bottom: 10px;">Develop</h2>
                            </div>
                            <div class="markdown" style="padding-bottom: 20px;">
                                <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;border-radius: 5;">
                                <code>
Open project folder in IDE ( We recomended Visual Studio Code )
Make some changes in {{component.name}} file</code>
        </pre>
                            </div>
                            <div class="setup-title" style="justify-content: normal;">
                                <p style="float: left;padding: 5px;background: #0d6faa;border-radius: 9px;color: white;font-size: 15px;padding-left: 10px;padding-right: 10px;margin-right: 5px;">3</p>
                                <h2 style="padding-bottom: 10px;">Push</h2>
                            </div>
                            <div class="markdown" style="padding-bottom: 20px;">
                                <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;border-radius: 5;">
                                <code>
git add .
git commit -m "your commit message"
git push</code>
        </pre>
                            </div>
                        </div>
                    </div>
                    <div data-title="Deployments" name="deployment" bs-pane>
                     
                        <div class="tab-content">
                            <div class="grid-theme grid-theme-center table-responsive" kendo-grid="grid" id="kendo-grid" k-options="mainGridOptions()">
                            </div>
                        </div>
                        <div class="ng-scope" style="position: absolute;top: 20px;right: 10px;display: inline-flex;" ng-if="tabManage.activeTab === 'deployment'">
                            <i class="fas fa-refresh ng-scope pull-right" ng-class="loadingDeployments ? 'fa-spin' : ''" style="font-size: 15px;cursor: pointer;padding: 7px;color: #0d6faa;" ng-click="changePage(1)"></i>

                            <button ng-disabled="loadingDeployments" class="btn btn-radius btn-blue col-sm-12" style="margin-right: 10px;" ng-click="runDeployment()">
                                <i class="fas fa-plus"></i> Create Deployment
                            </button>
                        </div>
                    </div>
                    <div data-title="Test" name="test" disabled="tabManage.disableTest" bs-pane>
                        <form ng-if="!modalLoading" name="functionFormValidation" style="margin-top: 20px;" class="form-horizontal form-custom" autocomplete="off"
                              novalidate>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group"
                                         ng-class="{'has-error': functionRunValidation.$submitted && functionRunValidation.type.$invalid}">
                                        <label class="col-sm-4 required-field">Type: </label>
                                        <select ng-init="$parent.$parent.$parent.$parent.$parent.$parent.run.type = 'get'"
                                                name="type"
                                                class="form-control ng-animate-disabled col-sm-8"
                                                required
                                                ng-model="$parent.$parent.$parent.$parent.$parent.$parent.run.type">
                                            <option value="get">GET</option>
                                            <option value="post">POST</option>
                                        </select>
                                    </div>
                                    <div class="form-group"
                                         ng-if="$parent.$parent.$parent.$parent.$parent.$parent.run.type === 'post'"
                                         style="position: relative;"
                                         ng-class="{'has-error': functionRunValidation.$submitted && functionRunValidation.body.$invalid}">
                                        <label class="col-sm-4 required-field">Body: </label>
                                        <textarea style="min-height:200px !important;padding-top: 10px;padding-bottom: 10px;resize: none; "
                                                  name="body"
                                                  placeholder="{'hello':'world'}"
                                                  class="form-control ng-animate-disabled col-sm-6"
                                                  ng-model="$parent.$parent.$parent.$parent.$parent.$parent.run.body"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group"
                                         ng-if="response"
                                         style="position: relative;">
                                        <label class="col-sm-4 required-field">Response: </label>
                                        <textarea style="min-height:277px !important;padding-top: 10px;padding-bottom: 10px;resize: none;"
                                                  class="form-control ng-animate-disabled col-sm-6"
                                                  ng-readonly="true"
                                                  ng-model="$parent.$parent.$parent.$parent.$parent.$parent.response"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="ng-scope" style="position: absolute;top: 20px;right: 10px;display: inline-flex;" ng-if="tabManage.activeTab === 'test'">
                            <button data-trigger="hover" data-type="info" data-title="{{$parent.$parent.$parent.$parent.$parent.deployments.length == 0 ? 'Need deployment for function test.' : ''}}" bs-tooltip data-placement="bottom" class="btn btn-radius btn-blue col-sm-12" ladda="$parent.$parent.$parent.$parent.$parent.$parent.running" style="margin-right: 10px;" ng-click="runFunction($parent.$parent.$parent.$parent.$parent.$parent.run)">
                                <i class="fas fa-bolt"></i> Run
                            </button>
                        </div>
                    </div>
                    <div data-title="Settings" name="settings" bs-pane>
                        <form ng-if="!modalLoading" name="functionFormValidation" style="margin-top: 20px;" class="form-horizontal form-custom" ng-submit="save(functionFormValidation);" autocomplete="off"
                              novalidate>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group"
                                         style="position: relative;"
                                         ng-class="{'has-error': functionFormValidation.$submitted && functionFormValidation.name.$invalid}">
                                        <label class="col-sm-4 required-field">Identifier <span class="required-label">(required)</span> </label>
                                        <input type="text"
                                               name="name"
                                               class="form-control ng-animate-disabled col-sm-6 text-lowercase"
                                               required
                                               maxlength="100"
                                               ng-blur="functionNameBlur($parent.$parent.function)"
                                               ng-change="checkFunctionName($parent.$parent.function)"
                                               ng-disabled="true"
                                               focus="true"
                                               ng-model="function.name" />
                                    </div>
                                    <div class="form-group"
                                         style="position: relative;"
                                         ng-class="{'has-error': functionFormValidation.$submitted && functionFormValidation.label.$invalid}">
                                        <label class="col-sm-4 required-field">Label <span class="required-label">(required)</span></label>
                                        <input type="text"
                                               name="label"
                                               class="form-control ng-animate-disabled col-sm-6"
                                               required
                                               maxlength="100"
                                               ng-model="function.label" />
                                    </div>
                                    <div class="form-group"
                                         style="position: relative;"
                                         ng-class="{'has-error': functionFormValidation.$submitted && functionFormValidation.handler.$invalid}">
                                        <label class="col-sm-4 required-field">Handler <span class="required-label">(required)</span></label>
                                        <input type="text"
                                               name="handler"
                                               class="form-control ng-animate-disabled col-sm-6 text-lowercase"
                                               required
                                               placeholder="module.handler"
                                               ng-disabled="true"
                                               ng-change="checkFunctionHandler($parent.$parent.function)"
                                               ng-model="function.handler" />
                                    </div>

                                    <div class="form-group"
                                         ng-class="{'has-error': functionFormValidation.$submitted && functionFormValidation.runtime.$invalid}">
                                        <label class="col-sm-4 required-field">Programming Language <span class="required-label">(required)</span></label>
                                        <select name="runtime"
                                                class="form-control ng-animate-disabled col-sm-8"
                                                required
                                                ng-model="function.runtime"
                                                ng-disabled="true"
                                                ng-change="changeRuntime()"
                                                ng-options="o.value as o.name for o in runtimes">
                                            <option value="">Select Programming Language</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12"> Environment </label>
                                        <div ng-repeat="env in environments">
                                            <label class="newinput checkbox-inline" style="margin-bottom: 5px;">
                                                <input type="checkbox" name="env{{$index}}" ng-model="env.selected" ng-change="environmentChange(env,$index)" ng-disabled="env.disabled" value="{{env.value}}" title="{{env.name}}" />{{env.name}}
                                                <span></span>
                                            </label>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group"
                                         style="position: relative;"
                                         ng-class="{'has-error': functionFormValidation.$submitted && functionFormValidation.dependencies.$invalid}">
                                        <label class="col-sm-4 required-field">Dependencies: </label>
                                        <textarea style="padding-top: 10px;padding-bottom: 10px;min-height: auto !important;margin: 0px;height: 271px;max-height: 271px;width: 641px;"
                                                  name="dependencies"
                                                  class="form-control ng-animate-disabled col-sm-6 ng-pristine ng-untouched ng-valid ng-not-empty"
                                                  ng-model="function.dependencies"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="ng-scope" style="position: absolute;top: 20px;right: 10px;display: inline-flex;" ng-if="tabManage.activeTab === 'settings'">
                                <button ng-click="save(functionFormValidation);" ladda="saving" class="btn btn-radius btn-blue col-sm-12" style="margin-right: 10px;">
                                    <i class="fas fa-save"></i>{{'Common.Save' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-if="loading" class="function tab-content">
    <div class="col-sm-12" style="border: none ;">
        <div class="setup-liste-header row">
            <div class="col-sm-12">
                <div class="setup-title">
                    <div style="width: 100px;" class="animated-background"></div>
                </div>
            </div>
        </div>
        <div class="tab-content" style="padding: 20px;position: relative;">
            <div class="tab-content" style="padding: 20px;">
                <div class="markdown" style="padding-bottom: 20px;">
                    <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;padding-right: 20px !important;border-radius: 5;">
                    <code><div class="animated-background"></div></code>
                    </pre>
                </div>
                <div class="markdown" style="padding-bottom: 20px;">
                    <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;padding-right: 20px !important;border-radius: 5;">
                    <code><div class="animated-background"></div></code>
                    </pre>
                </div>
                <div class="markdown" style="padding-bottom: 20px;">
                    <pre style="background-color: #f7f7f7 !important;padding-left: 20px !important;padding-right: 20px !important;border-radius: 5;">
                    <code><div class="animated-background"></div></code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>