<div class="modal message-modal" tabindex="-1" role="dialog" ng-controller="ModuleFormController">
    <div class="modal-dialog">
        <div class="modal-content" style="width:500px;margin:auto;">
            <div>
                <div class="modal-header clearfix" style="background-color:white;border: none">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true" ng-click="$hide()"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body" style="height:100%">
                    <div class="pull-left">
                        <label style="margin-top: 5px;">{{'Module.SelectedRecordsCount' | translate}} {{selected}}</label>
                    </div>
                    <div class="row clearfix modal-footer" style="margin-top:35px;border: none;">
                        <div class="col-md-8 pull-right">
                            <button type="button" class="btn btn-custom" ng-click="$hide()">{{'Common.Cancel' | translate}}</button>
                            <button type="button" class="btn btn-danger" ng-click="deleteSelecteds();$hide()">{{'Common.Remove' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>