<div class="setup-liste-header row">
    <div class="col-sm-6"><h2 class="setup-title">{{selectedTeam ? selectedTeam.name:'Teams'}}</h2>
        <button class="btn add-button">
            <i class="fas fa-users"></i> Members (8)
        </button>
        <button class="btn btn-radius btn-gray">
            <i class="fas fa-users"></i> Apps (8)
        </button>

    </div>
    <br>
    <div class="col-sm-6 list-right-menu" ng-show="!selectedTeam">
        <button class="btn add-button" ng-click="addNewTeam()">
            <i class="fas fa-plus"></i> Add New Team
        </button>
    </div>
    <div class="col-sm-6 list-right-menu" ng-show="selectedTeam">
        <button class="btn   btn-radius btn-red" ng-click="delete(teamId)">
            <i class="fas fa-plus"></i> Delete
        </button>
        <button class="btn btn-radius btn-blue" ng-click="addNewTeam(teamId)">
            <i class="fas fa-plus"></i> Edit
        </button>
    </div>
</div>
<div>
    <div class="tab-content">
        <table class="table table-hover" ng-show="!selectedTeam">
            <thead>
            <tr>
                <th>Name</th>
                <th>Team member</th>
                <th>Organization</th>
                <th style="min-width: 110px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="team in teamArray">
                <td ng-click="selectTeam(team.id)" style="cursor:pointer;"><i class="{{team.icon}}"></i> {{team.name}}
                </td>
                <td>{{team.team_users ? team.team_users.length:0}}</td>
                <td>{{team.organization.name}}</td>
                <td class="text-right">
                    <a href="" ng-click="addNewTeam(team.id)" class="btn btn-xs btn-custom">
                        {{ 'Common.Edit' | translate }}
                    </a>
                    <button type="button" class="btn btn-xs btn-custom" confirm-click data-placement="left"
                            action="delete(team.id)" confirm-message="{{'Common.AreYouSure' | translate}}"
                            confirm-yes="{{'Common.Yes' | translate}}"
                            confirm-no="{{'Common.No' | translate}}">
                        {{'Common.Remove' | translate}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <ui-select ng-show="selectedTeam" ng-model="selectedUser"
                   on-select="selectUserForTeam($select.selected.user_id)" style="margin-bottom: 30px;">
            <ui-select-match allow-clear="true" placeholder="Add collaborators from PrimeApps">
                {{$select.selected.full_name}}
            </ui-select-match>
            <ui-select-choices
                    repeat="item in orgranizationUserArray | filter:{full_name: $select.search} | orderBy:'full_name'">
                <span ng-bind-html="item.full_name | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>

        <!--<select id="users"
                name="users"
                ng-show="selectedTeam"
                class="form-control ng-animate-disabled"
                ng-options="o as o.full_name for o in orgranizationUserArray |  orderBy:'name' track by o.user_id"
                ng-model="selectedUser.id">
            <option value="">{{'Common.Select' | translate}}</option>
        </select>-->
        <table class="table table-hover" ng-show="selectedTeam">
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th style="min-width: 110px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in selectedTeam.team_users">
                <td>
                    {{user.full_name}}
                    <p class="small">{{user.email}}</p>
                </td>
                <td>{{user.role ? user.role:'-'}}</td>
                <td class="text-right">
                    <button type="button" class="btn btn-xs btn-custom" confirm-click data-placement="left"
                            action="deleteUser(user.user_id)" confirm-message="{{'Common.AreYouSure' | translate}}"
                            confirm-yes="{{'Common.Yes' | translate}}"
                            confirm-no="{{'Common.No' | translate}}">
                        {{'Common.Remove' | translate}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row table-pagination">
            <div class="col-sm-10">
                <nav aria-label="Page navigation">
                    <div paging
                         text-first="&laquo;"
                         ul-class="pagination"
                         active-class="active"
                         page="tabelPagination.currentPage"
                         page-size="tabelPagination.pageSize"
                         total="tabelPagination.total"
                         scroll-top="true"
                         hide-if-empty="true"
                         show-prev-next="true"
                         show-first-last="true"
                         text-next-class="fas fa-chevron-right"
                         text-prev-class="fas fa-chevron-left"
                         text-first-class="fas fa-step-backward"
                         text-last-class="fas fa-step-forward"
                         paging-action="changePage(page)">
                    </div>
                </nav>
            </div>
            <div class="col-sm-2">
                <span class="pagination-span">Items per page  </span>
                <select ng-model="requestModel.limit" class="items-per-page-select" ng-change="changeOffset()">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    <option value="200">200</option>
                </select>
            </div>
        </div>

    </div>

</div>
