<div class="setup-title">
    <h2>{{selectedTeam ? selectedTeam.name:'Teams'}}</h2>
    <div>
        <ul class="list-unstyled list-inline">
            <li ng-show="!selectedTeam">
                <button class="btn add-button" ng-click="addNewTeam()">
                    <i class="fas fa-plus"></i> Add New Team
                </button>
            </li>
            <li ng-show="selectedTeam">
                <button class="btn add-button btn-red" ng-click="delete(teamId)">
                    <i class="fas fa-trush"></i> Delete
                </button>
            </li>
            <li ng-show="selectedTeam">
                <button class="btn add-button btn-blue" ng-click="addNewTeam(teamId)">
                    <i class="fas fa-plus"></i> Edit
                </button>
            </li>
        </ul>

    </div>
</div>
<!--<div class="setup-title">
    <ul class="list-unstyled list-inline">
        <li>
            <button class="btn add-button">
                <i class="fas fa-users"></i> Members (8)
            </button>
        </li>
        <li>
            <button class="btn add-button btn-gray">
                <i class="fas fa-users"></i> Apps (8)
            </button>
        </li>
    </ul>
</div>-->


<div>
    <div class="tab-content">
        <table class="table" ng-show="!selectedTeam && loading">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Team member</th>
                    <th>Organization</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in placeholderArray">
                    <td>
                        <div class="animated-background"></div>
                    </td>
                    <td>
                        <div class="animated-background"></div>
                    </td>
                    <td>
                        <div class="animated-background"></div>
                    </td>
                </tr>

            </tbody>
        </table>
        <table class="table table-hover" ng-show="!selectedTeam && !loading">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Team member</th>
                    <th>Organization</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in teamArray">
                    <td ng-click="selectTeam(team.id)" style="cursor:pointer;">
                        <i class="{{team.icon}}"></i> {{team.name}}
                    </td>
                    <td>{{team.team_users ? team.team_users.length:0}}</td>
                    <td>{{team.organizationName}}</td>
                    <td class="text-right">
                        <div class="action-buttons-block">
                            <button ng-click="$event.stopPropagation();" type="button" data-toggle="dropdown"
                                    class="btn btn-xs btn-default list-action-button"
                                    placement="bottom-right"
                                    data-animation="am-flip-x"
                                    bs-dropdown
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a ng-click="addNewTeam(team.id)">{{'Common.Edit' | translate}} </a>
                                </li>
                                <li>
                                    <a ng-click="delete(team.id)">{{'Common.Delete' | translate}} </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <!--<td class="text-right">
                        <a href="" ng-click="addNewTeam(team.id)" class="btn btn-xs btn-custom">
                            {{ 'Common.Edit' | translate }}
                        </a>
                        <button type="button" class="btn btn-xs btn-custom" confirm-click data-placement="left"
                                action="delete(team.id)" confirm-message="{{'Common.AreYouSure' | translate}}"
                                confirm-yes="{{'Common.Yes' | translate}}"
                                confirm-no="{{'Common.No' | translate}}">
                            {{'Common.Remove' | translate}}
                        </button>
                    </td>-->
                </tr>
            </tbody>
        </table>
        <div class="table-pagination" ng-show="!selectedTeam">
            <div>
                <nav aria-label="Page navigation">
                    <div paging
                         text-first="&laquo;"
                         ul-class="pagination"
                         active-class="active"
                         page="requestModel.offset"
                         page-size="requestModel.limit"
                         total="pageTotal"
                         scroll-top="true"
                         hide-if-empty="true"
                         show-prev-next="true"
                         show-first-last="true"
                         text-next-class="fas fa-chevron-right"
                         text-prev-class="fas fa-chevron-left"
                         text-first-class="fas fa-step-backward"
                         text-last-class="fas fa-step-forward"
                         paging-action="changePage(page)">
                    </div>
                </nav>
            </div>
            <div>
                Total Teams {{pageTotal}}
            </div>
            <div>
                <span class="pagination-span">Items per page  </span>
                <select ng-model="requestModel.limit" class="items-per-page-select" ng-change="changeOffset()">
                    <option ng-selected="true" value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    <option value="200">200</option>
                </select>
            </div>
        </div>






        <ui-select ng-show="selectedTeam" ng-model="selectedUser"
                   on-select="selectUserForTeam($select.selected.user_id)">
            <ui-select-match allow-clear="true" placeholder="Add collaborators from {{teamOrganizationName}}">
                {{$select.selected.full_name}}
            </ui-select-match>
            <ui-select-choices repeat="item in orgranizationUserArray | filter:{full_name: $select.search} | orderBy:'full_name'">
                <span ng-bind-html="item.full_name | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>


        <!--<select id="users"
                name="users"
                ng-show="selectedTeam"
                class="form-control ng-animate-disabled"
                ng-options="o as o.full_name for o in orgranizationUserArray |  orderBy:'name' track by o.user_id"
                ng-model="selectedUser.id">
            <option value="">{{'Common.Select' | translate}}</option>
        </select>-->
        <div ng-show="selectedTeam.team_users.length < 1" style="padding:10px"><p>No member available.</p></div>
        <table class="table" ng-show="selectedTeam && loadingMembers && selectedTeam.team_users.length > 0">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in placeholderArray">
                    <td>
                        <div class="animated-background"></div>
                    </td>
                </tr>

            </tbody>
        </table>
        <table class="table table-hover" ng-show="selectedTeam && !loadingMembers && selectedTeam.team_users.length > 0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in selectedTeam.team_users">
                    <td>
                        {{user.full_name}}
                        <p class="small">{{user.email}}</p>
                    </td>
                    <td class="text-right">
                        <div class="action-buttons-block">
                            <button ng-click="$event.stopPropagation();deleteUser(user.user_id)" type="button" class="action-buttons-delete">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                        <!--<button type="button" class="btn btn-xs btn-custom" confirm-click data-placement="left"
                                action="deleteUser(user.user_id)" confirm-message="{{'Common.AreYouSure' | translate}}"
                                confirm-yes="{{'Common.Yes' | translate}}"
                                confirm-no="{{'Common.No' | translate}}">
                            {{'Common.Remove' | translate}}
                        </button>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
