<div class="popover" tabindex="-1" style="width: 300px ; z-index: 999999999">
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
    <div class="popover-content">
        <div class="col-sm-12">
            <table class="table">
                <tr ng-if="currentProduct.purchase_price != undefined"
                    ng-show="hasFieldFullPermission(fields['purchase_price'])">
                    <td>{{'Product.PurchasePrice' | translate}}</td>
                    <td>{{currentProduct.purchase_price != undefined && currentProduct.purchase_price !=
                        null ?
                        (currentProduct.purchase_price | currency:(currentProduct.product.currency.value ||
                        currencySymbol))
                        :
                        ''}}
                    </td>
                </tr>
                <tr ng-if="currentProduct.purchase_price != undefined"
                    ng-show="hasFieldFullPermission(fields['profit_amount'])">
                    <td>{{'Product.ProfitAmount' | translate}}</td>

                    <td>{{currentProduct.profit_amount != undefined && currentProduct.profit_amount != null ?
                        (currentProduct.profit_amount |
                        currency:(currentProduct.product.currency.value || currencySymbol)) : '-'}}
                    </td>
                </tr>
                <tr ng-if="currentProduct.purchase_price != undefined"
                    ng-show="hasFieldFullPermission(fields['profit_percent'])">
                    <td>{{'Product.ProfitPercent' | translate}}</td>
                    <td>{{ '%' + currentProduct.profit_percent }}</td>
                </tr>
                <tr ng-show="hasFieldFullPermission(fields['discount_amount'])">
                    <td>{{'Product.TotalDiscountAmount' | translate}}</td>
                    <td>
                        {{currentProduct.discount_amount != undefined && currentProduct.discount_amount !=
                        null ?
                        (currentProduct.discount_amount |
                        currency:(currentProduct.product.currency.value || currencySymbol)) : '-'}}
                    </td>
                </tr>
                <tr ng-show="hasFieldDisplayPermission(fields['discount_amount'])">
                    <td>{{'Product.DiscountPercent' | translate}}</td>
                    <td>{{ '%' + (currentProduct.discount_percent==null ? '0': currentProduct.discount_percent) }}</td>
                </tr>
            </table>
        </div>

        <div class="form-actions text-center">
            <br>

        </div>

    </div>
</div>
