<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">


    <form name="userForm" class="form-horizontal form-custom" ng-submit="save(userForm);" autocomplete="off" novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">User</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button type="button" class="btn add-button btn-radius btn-gray" ng-click="closeModal()"
                                    ng-disabled="saving">
                                <i class="fas fa-times margin-right-10"></i>{{'Common.Cancel' | translate}}
                            </button>
                        </li>
                        <li>
                            <button type="submit" class="btn add-button btn-radius btn-blue" ladda="saving"
                                    style="margin-left: 5px">
                                <i class="fas fa-save margin-right-10"></i>{{'Common.Save' | translate}}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog">
            <div class="modal-content padding-0">
                <div class="modal-body">
                    <div id="field-form-body" class="modal-body">
                        <div class="section" id="section1">
                            <div class="panel">
                                <div class="form-group"
                                     style="position: relative;"
                                     ng-class="{'has-error': userForm.$submitted && userForm.first_name.$invalid}">
                                    <label class="col-sm-12 required-field">First Name <span class="required-label">(required)</span>
                                    </label>
                                    <input type="text"
                                           name="first_name"
                                           class="form-control ng-animate-disabled col-sm-12"
                                           required
                                           maxlength="100"
                                           focus="true"
                                           ng-model="userModel.first_name"/>
                                </div>
                                <div class="form-group"
                                     style="position: relative;"
                                     ng-class="{'has-error': userForm.$submitted && userForm.last_name.$invalid}">
                                    <label class="col-sm-12 required-field">Last Name <span class="required-label">(required)</span>
                                    </label>
                                    <input type="text"
                                           name="last_name"
                                           class="form-control ng-animate-disabled col-sm-12"
                                           required
                                           maxlength="100"
                                           ng-model="userModel.last_name"/>
                                </div>
                                <div class="form-group"
                                     style="position: relative;"
                                     ng-class="{'has-error': userForm.$submitted && userForm.email.$invalid}">
                                    <label class="col-sm-12 required-field">Email <span class="required-label">(required)</span>
                                    </label>
                                    <input type="text"
                                           name="email"
                                           class="form-control ng-animate-disabled col-sm-12"
                                           required
                                           ng-disabled="editing"
                                           maxlength="100"
                                           ng-change="resultModel.recipient = me.email + ';' + userModel.email + ';'"
                                           ng-model="userModel.email"/>
                                </div>
                                <div class="form-group"
                                     style="position: relative;"
                                     ng-if="!editing"
                                     ng-class="{'has-error': userForm.$submitted && userForm.password.$invalid}">
                                    <label class="col-sm-12 required-field"> Password <span class="required-label">(required)</span>
                                    </label>

                                    <input type="text"
                                           name="password"
                                           class="form-control ng-animate-disabled col-sm-12"
                                           maxlength="100"
                                           minlength="6"
                                           required
                                           ng-change="passwordChange()"
                                           ng-model="userModel.password"/>
                                    <div class="ng-scope" style="padding-right: 140px;">  
                                        <span class="btn add-button btn-gray" ng-click="generatePass()" style="font-size: 12px; position: absolute; bottom: 6px;
                                        right: 8px;    
                                        line-height: 15px;
                                        border-radius: 5px;
                                        text-decoration: none;">Generate Password </span>
                                    </div>
                                </div>


                                <div class="form-group"
                                     ng-class="{'has-error': userForm.$submitted && userForm.profile.$invalid}">
                                    <label class="col-sm-12 required-field">Profile <span class="required-label">(required)</span></label>
                                    <select name="profile"
                                            class="form-control ng-animate-disabled col-sm-12"
                                            required
                                            ng-model="userModel.profile_id"
                                            ng-options="o.id as o.name for o in profiles | filter:{deleted: false}">
                                        <option value="">Select Profile</option>
                                    </select>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': userForm.$submitted && userForm.role.$invalid}">
                                    <label class="col-sm-12 required-field">Role <span
                                            class="required-label">(required)</span></label>
                                    <select name="role"
                                            class="form-control ng-animate-disabled col-sm-12"
                                            required
                                            ng-model="userModel.role_id"
                                            ng-options="o.id as o.label_en for o in roles">
                                        <option value="">Select Role</option>
                                    </select>
                                </div>
                                
                                <div class="form-group" style="position: relative;" ng-if="editing">
                                    <label class="col-sm-12 required-field checkbox-inline newinput">
                                        <input type="checkbox" ng-model="userModel.is_active"/>
                                        Active
                                        <span></span>
                                    </label>
                                </div>

                                <div class="form-group" style="position: relative;" ng-if="!editing">
                                    <label class="col-sm-12 required-field checkbox-inline newinput">
                                        <input type="checkbox" ng-model="resultModel.sendPassword"/>
                                        Email the new password to the following
                                        recipients
                                        <span></span>
                                    </label>
                                    <br>
                                    <input type="text" ng-show="resultModel.sendPassword"
                                           name="recipient"
                                           class="form-control ng-animate-disabled col-sm-12"
                                           required
                                           ng-model="resultModel.recipient"/>
                                </div>


                                <div class="form-group" ng-if="editing">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <label class="radio-inline newinput">
                                                <input type="radio" ng-click="unCheckControl($event)" ng-model="$parent.$parent.$parent.passwordEvent" value="change">
                                                Change Password
                                                <span></span>
                                            </label>
                                            <label class="radio-inline newinput">
                                                <input type="radio" ng-click="unCheckControl($event)" ng-model="$parent.$parent.$parent.passwordEvent" value="reset">
                                                Reset Password
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="$parent.$parent.passwordEvent == 'change'">
                                    <div class="form-group"
                                         style="position: relative;"
                                         ng-class="{'has-error': userForm.$submitted && userForm.password.$invalid}">
                                        <label class="col-sm-12 required-field"> Old Password <span class="required-label">(required)</span>
                                        </label>

                                        <input type="text"
                                               name="password"
                                               class="form-control ng-animate-disabled col-sm-12"
                                               maxlength="100"
                                               minlength="6"
                                               required
                                               ng-model="$parent.$parent.$parent.changePasswordModel.password"/>
                                    </div>

                                    <div class="form-group"
                                         style="position: relative;"
                                         ng-class="{'has-error': userForm.$submitted && userForm.new_password.$invalid}">
                                        <label class="col-sm-12 required-field"> New Password <span class="required-label">(required)</span>
                                        </label>

                                        <input type="text"
                                               name="new_password"
                                               class="form-control ng-animate-disabled col-sm-12"
                                               maxlength="100"
                                               minlength="6"
                                               required
                                               ng-model="$parent.$parent.$parent.changePasswordModel.new_password"/>
                                    </div>
                                    <div class="form-group"
                                         style="position: relative;"
                                         ng-class="{'has-error': userForm.$submitted && userForm.confirm_password.$invalid}">
                                        <label class="col-sm-12 required-field"> Confirm Password<span class="required-label">(required)</span>
                                        </label>

                                        <input type="text"
                                               name="confirm_password"
                                               class="form-control ng-animate-disabled col-sm-12"
                                               maxlength="100"
                                               minlength="6"
                                               required
                                               ng-model="$parent.$parent.$parent.changePasswordModel.confirm_password"/>
                                    </div>
                                </div>

                                <div ng-if="$parent.$parent.passwordEvent == 'reset'">
                                    <div class="form-group"
                                         style="position: relative;"
                                         ng-class="{'has-error': userForm.$submitted && userForm.new_password.$invalid}">
                                        <label class="col-sm-12 required-field"> New Password <span class="required-label">(required)</span>
                                        </label>

                                        <input type="text"
                                               name="new_password"
                                               class="form-control ng-animate-disabled col-sm-12"
                                               maxlength="100"
                                               minlength="6"
                                               required
                                               ng-model="$parent.$parent.$parent.changePasswordModel.new_password"/>
                                    </div>
                                    <div class="form-group"
                                         style="position: relative;"
                                         ng-class="{'has-error': userForm.$submitted && userForm.confirm_password.$invalid}">
                                        <label class="col-sm-12 required-field"> Confirm Password<span class="required-label">(required)</span>
                                        </label>

                                        <input type="text"
                                               name="confirm_password"
                                               class="form-control ng-animate-disabled col-sm-12"
                                               maxlength="100"
                                               minlength="6"
                                               required
                                               ng-model="$parent.$parent.$parent.changePasswordModel.confirm_password"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>