<trial></trial>
<help-page ng-if="!loading" route="currentPath"></help-page>
<div class="dashboard-wrapper" ng-style="trial ? {'margin-top':'0'}: ''">
    <button ng-if="user.profile.has_admin_rights" type="button" ng-click="changeDashletMode()" class="dashlet-edit-btn">
        <i ng-show="!dashletMode" ng-class="{'animation-2':!dashletMode}" class="fa fa-pencil" style="font-size: 20px;"
           aria-hidden="true"></i>
        <i ng-show="dashletMode" ng-class="{'animation':dashletMode}" class="fa fa-check" style="font-size: 20px;"
           aria-hidden="true"></i>

    </button>

    <button type="button" ng-show="dashletMode" ng-class="{'animation-3':dashletMode}" ng-click="openNewDashlet()"
            class="new-dashlet">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <!-- <div class="alert alert-danger" ng-bind-html="'Dashboard.PaymentMessage' | translate" ng-if="licenseStatus.LicenseUsage.IsInNotificationPeriod"></div> -->
    <!--<div class="alert alert-warning campaign" ng-if="licenseStatus.RemainingFreeDays > 0 && !licenseStatus.License.IsSingleWorkgroupLimited"><i class="flaticon-crown37"></i> {{'Common.CampaingMessage' | translate}}</div>-->

    <div class="dashboard clearfix" ng-show="showNewDashboard">
        <div class="row" style="margin-top: 10px" ng-show="dashletMode">
            <div class="col-sm-12" style="padding: 10px;     background: #f6f3f36e;border-radius: 4px;">
                <button ng-show="dashboardprofile.length >0 && user.profile.has_admin_rights" type="button" class="btn"
                        ng-click="dashboardformModal()">
                    {{ 'Dashboard.NewDashboard' | translate}}
                </button>
                <button type="button"
                        ng-if="(activeDashboard.sharing_type=='profile' && activeDashboard.sharing_type !='everybody') && user.profile.has_admin_rights"
                        ng-click="dashboardformModal(activeDashboard)" class="btn">
                    {{ 'Dashboard.EditDashboard' | translate}}
                </button>

                <button type="button" class="btn" ng-if="user.profile.has_admin_rights"
                        ng-click="dashboardOrderChangeModal()">
                    {{ 'Dashboard.DashletOrders' | translate}}
                </button>
                <div class="pull-right">
                    <select class="form-control"
                            id="activeDashboard"
                            ng-model="activeDashboard"
                            name="activeDashboard"
                            ng-options="o as o.name for o in dashboards"
                            ng-change="changeDashboard()">
                    </select>
                </div>
            </div>
        </div>
        <div ng-show="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <div ng-class="{'dashlet-edit':dashletMode}">
            <div ng-repeat="dashlet in dashlets" class="col-md-{{dashlet.y_tile_length}} dashlet"
                 ng-class="{fullScreenChart: fullScreenDashlet === dashlet.id}">
                <div class="tool-bar  text-right"
                     style=" width:{{  dashlet.dashlet_type === 'chart' ? '96.5%' : '93%;'}}; {{'height:'+dashlet.x_tile_height+'px;'}} ;{{ dashletMode ? '' :'display: none'}} ">

                    <span class="dashlet-edit-icon" ng-click="openNewDashlet(dashlet)">
                        <i class="flaticon-pencil124" style="    padding-top: 6px;
    position: absolute;" aria-hidden="true"></i>
                    </span>
                    <span class="dashlet-edit-icon" confirm-click action="dashletDelete(dashlet.id)" placement="bottom"
                          confirm-message="{{'Common.AreYouSure' | translate}}"
                          confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}"
                          title="{{'Common.Delete' | translate}}">
                        <i class="action-icon flaticon-bin9" style="    padding-top: 6px;
    position: absolute;"
                           aria-hidden="true"></i></span>
                </div>
                <div class="chart-container" style="{{'height:'+dashlet.x_tile_height+'px'}}"
                     ng-if="dashlet.dashlet_type === 'chart'">

                    <div class="dashlet-chart">
                        <div class="text-center trasparant-text">
                            <span ng-click="chartDetail(dashlet.chart_item.chart.report_id)">{{dashlet.chart_item.chart.caption}}</span>
                        </div>
                        <fusioncharts width="100%"
                                      height="100%"
                                      type="{{dashlet.chart_item.chart.chart_type}}"
                                      datasource="{{dashlet.chart_item.data}}"
                                      chart="{{dashlet.chart_item.chart}}"
                                      config="{{dashlet.chart_item.config}}">
                        </fusioncharts>
                    </div>
                </div>
                <div class="widget-container" ng-if="dashlet.dashlet_type === 'widget'"
                     ng-click="widgetDetail(dashlet.widget)" style="cursor: pointer">
                    <div ng-style="{'height':dashlet.x_tile_height+'px','background-color':dashlet.widget.color ? dashlet.widget.color: '#555' }">
                        <div class="summary-count-value">{{dashlet.widget.widget_data.value}}
                            <i class="{{dashlet.widget.icon}}"></i>
                        </div>
                        <div class="summary-count-text">{{dashlet.widget.name}}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--TODO: Delete after new dashboard development finished-->
    <!--<div class="page dashboard-old" ng-if="!showNewDashboard">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-body">-->
    <!--<div class="row">-->
    <!--<div class="col-sm-6">-->
    <!--<div class="subpanel">-->
    <!--<div class="subpanel-heading">{{dashboard.table1.title[language] || 'Dashboard.LatestLeads' | translate}}</div>-->
    <!--<div class="subpanel-body">-->
    <!--<div class="table-list-custom table-responsive" ng-show="!isEmpty && !loading">-->
    <!--<table class="table">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th>{{dashboard.table1.field1.label[language] || 'Dashboard.LeadName' | translate}}</th>-->
    <!--<th>{{dashboard.table1.field2.label[language] || 'Dashboard.Company' | translate}}</th>-->
    <!--<th>{{'Dashboard.CreatedAt' | translate}}</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="record in records1">-->
    <!--<td>-->
    <!--<a href="#/app/crm/module/{{dashboard.table1.module}}?id={{record.id}}&back=dashboard">-->
    <!--<span ng-if="!dashboard.table1.field1.is_date">-->
    <!--{{record[dashboard.table1.field1.name || 'full_name']}}-->
    <!--</span>-->
    <!--<span ng-if="dashboard.table1.field1.is_date">-->
    <!--{{record[dashboard.table1.field1.name || 'full_name'] | date:'short'}}-->
    <!--</span>-->
    <!--</a>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span ng-if="!dashboard.table1.field2.is_date">-->
    <!--{{record[dashboard.table1.field2.name || 'company']}}-->
    <!--</span>-->
    <!--<span ng-if="dashboard.table1.field2.is_date">-->
    <!--{{record[dashboard.table1.field2.name || 'company'] | date:'short'}}-->
    <!--</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--{{record.created_at | date:'short'}}-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-6">-->
    <!--<div class="subpanel">-->
    <!--<div class="subpanel-heading">{{dashboard.table2.title[language] || 'Dashboard.LatestOpportunities' | translate}}</div>-->
    <!--<div class="subpanel-body">-->
    <!--<div class="table-list-custom table-responsive" ng-show="!isEmpty && !loading">-->
    <!--<table class="table">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th>{{dashboard.table2.field1.label[language] || 'Dashboard.OpportunityName' | translate}}</th>-->
    <!--<th>{{dashboard.table2.field2.label[language] || 'Dashboard.ClosingDate' | translate}}</th>-->
    <!--<th>{{'Dashboard.CreatedAt' | translate}}</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="record in records2">-->
    <!--<td>-->
    <!--<a href="#/app/crm/module/{{dashboard.table2.module}}?id={{record.id}}&back=dashboard">-->
    <!--<span ng-if="!dashboard.table2.field1.is_date">-->
    <!--{{record[dashboard.table2.field1.name || 'name']}}-->
    <!--</span>-->
    <!--<span ng-if="dashboard.table2.field1.is_date">-->
    <!--{{record[dashboard.table2.field1.name || 'name'] | date:'short'}}-->
    <!--</span>-->
    <!--</a>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span ng-if="!dashboard.table2.field2.is_date">-->
    <!--{{record[dashboard.table2.field2.name || 'closing_date']}}-->
    <!--</span>-->
    <!--<span ng-if="dashboard.table2.field2.is_date">-->
    <!--{{record[dashboard.table2.field2.name || 'closing_date'] | date:'short'}}-->
    <!--</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--{{record.created_at | date:'short'}}-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-sm-6">-->
    <!--<div class="subpanel">-->
    <!--<div class="subpanel-heading">{{dashboard.table3.title[language] || 'Dashboard.LatestAccounts' | translate}}</div>-->
    <!--<div class="subpanel-body">-->
    <!--<div class="table-list-custom table-responsive" ng-show="!isEmpty && !loading">-->
    <!--<table class="table">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th>{{dashboard.table3.field1.label[language] || 'Dashboard.AccountName' | translate}}</th>-->
    <!--<th>{{dashboard.table3.field2.label[language] || 'Dashboard.Phone' | translate}}</th>-->
    <!--<th>{{'Dashboard.CreatedAt' | translate}}</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="record in records3">-->
    <!--<td>-->
    <!--<a href="#/app/crm/module/{{dashboard.table3.module}}?id={{record.id}}&back=dashboard">-->
    <!--<span ng-if="!dashboard.table3.field1.is_date">-->
    <!--{{record[dashboard.table3.field1.name || 'name']}}-->
    <!--</span>-->
    <!--<span ng-if="dashboard.table3.field1.is_date">-->
    <!--{{record[dashboard.table3.field1.name || 'name'] | date:'short'}}-->
    <!--</span>-->
    <!--</a>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span ng-if="!dashboard.table3.field2.is_date">-->
    <!--{{record[dashboard.table3.field2.name || 'phone']}}-->
    <!--</span>-->
    <!--<span ng-if="dashboard.table3.field2.is_date">-->
    <!--{{record[dashboard.table3.field2.name || 'phone'] | date:'short'}}-->
    <!--</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--{{record.created_at | date:'short'}}-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-6">-->
    <!--<div class="subpanel">-->
    <!--<div class="subpanel-heading">{{dashboard.table4.title[language] || 'Dashboard.LatestContacts' | translate}}</div>-->
    <!--<div class="subpanel-body">-->
    <!--<div class="table-list-custom table-responsive" ng-show="!isEmpty && !loading">-->
    <!--<table class="table">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th>{{dashboard.table4.field1.label[language] || 'Dashboard.ContactName' | translate}}</th>-->
    <!--<th>{{dashboard.table4.field2.label[language] || 'Common.EMail' | translate}}</th>-->
    <!--<th>{{'Dashboard.CreatedAt' | translate}}</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="record in records4">-->
    <!--<td>-->
    <!--<a href="#/app/crm/module/{{dashboard.table4.module}}?id={{record.id}}&back=dashboard">-->
    <!--<span ng-if="!dashboard.table4.field1.is_date">-->
    <!--{{record[dashboard.table4.field1.name || 'full_name']}}-->
    <!--</span>-->
    <!--<span ng-if="dashboard.table4.field1.is_date">-->
    <!--{{record[dashboard.table4.field1.name || 'full_name'] | date:'short'}}-->
    <!--</span>-->
    <!--</a>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span ng-if="!dashboard.table4.field2.is_date">-->
    <!--{{record[dashboard.table4.field2.name || 'email']}}-->
    <!--</span>-->
    <!--<span ng-if="dashboard.table4.field2.is_date">-->
    <!--{{record[dashboard.table4.field2.name || 'email'] | date:'short'}}-->
    <!--</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--{{record.created_at | date:'short'}}-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!---->
</div>