<ul class="document-list list-unstyled" ng-show="documents.length > 0">
    <li ng-repeat="document in documents | limitTo:(documents.documentLimit || 30)" ng-class="{editing: document == editedDocument}">
        <form ng-submit="update(document)">
            <div class="d-flex align-items-center justify-content-between bottom10" >
                <span md-truncate>{{document.created_by.full_name}}, {{document.created_time | relativeTime}}</span>
                <div>
                    <div class="edit-buttons">
                        <md-button aria-label="{{'Common.Delete' | translate}}" title="{{'Common.Delete' | translate}}" class="md-icon-button btn btn-sm btn-secondary" ng-click="remove($event, document, $index)" ng-show="hasDocumentsPermission(operations.remove) && !$parent.$parent.record.freeze">
                            <i class="fas fa-trash"></i>
                        </md-button>
                        <md-button aria-label="{{'Common.Edit' | translate}}" class="md-icon-button btn btn-sm btn-secondary" ng-click="edit(document)" title="{{'Common.Edit' | translate}}" ng-show="hasDocumentsPermission(operations.modify) && !$parent.$parent.record.freeze">
                            <i class="fas fa-pen" ></i>
                        </md-button>
                    </div>
                    <div class="save-buttons">
                        <md-button aria-label="{{'Common.Cancel' | translate}}" title="{{'Common.Cancel' | translate}}" type="button" class="md-icon-button btn btn-sm btn-secondary" ng-click="cancelEdit(document)">
                            <i class="fas fa-times"></i>
                            <md-tooltip md-direction="bottom">{{'Common.Cancel' | translate}}</md-tooltip>
                        </md-button>
                        <md-button aria-label="{{'Common.Save' | translate}}" title="{{'Common.Save' | translate}}" type="submit" class="md-icon-button btn btn-sm btn-primary" ng-disabled="!document.name_plain">
                            <i class="fas fa-save"></i>
                            <md-tooltip md-direction="bottom">{{'Common.Save' | translate}}</md-tooltip>
                        </md-button>
                        
                    </div>
                </div>
            </div>
            <div class="document-item">
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        <span class="icon">
                            <i ng-if="!(document.extension=='jpg'|| document.extension=='jpeg'|| document.extension=='gif' || document.extension=='bmp' || document.extension=='png')" class="{{icon(document.extension)}}"></i>
                            <img style="height:100%;" ng-if="document.extension=='jpg'|| document.extension=='jpeg'|| document.extension=='gif' || document.extension=='bmp' || document.extension=='png'"
                                 ng-click="showLightBox($event,document,$index)" ng-src="{{blobUrl+'/'+document.file_url}}"/>
                        </span>
                    </div>
                    <div class="col-12 text-center text-md-left col-md">
                        <div class="document-text">
                            <md-button class="btn btn-secondary" target="_blank" ng-href="{{'/storage/download?fileId='+ document.id}}"><i class="fas fa-download"></i> {{document.name}} <small> ({{document.file_size | size}})</small> </md-button>
                            <span class="mt-2 mt-md-0 ml-2 d-block d-md-inline-block" ng-show="document.description">{{document.description}}</span>
                        </div>
                        <div class="document-edit">
                            <div class="row row10">
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{'Documents.FileName' | translate}}</label>
                                        <input type="text" class="form-control" placeholder="{{'Documents.FileName' | translate}}" focus="document.editing" blur="document.editing=false;" maxlength="255" ng-model="document.name_plain"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{'Documents.Description' | translate}}</label>
                                        <textarea rows="1" class="form-control" placeholder="{{'Documents.Description' | translate}}" maxlength="200" ng-model="document.description" auto-grow></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </li>
</ul>

<div class="document-list-footer" ng-show="isAll && !$parent.record.freeze">
    <a class="btn btn-secondary" ng-href="{{'#/app/record/'+type+'?id=' +  entityId+'&back=att'}}" ng-click="backAttachment()"><i class="fa fa-chevron-left"></i> {{'Common.Back' | translate}} </a>
</div>
<div class="document-list-footer" ng-show="!isAll && documents.length > 0 && !$parent.record.freeze">
    <a class="btn btn-secondary" ng-href="{{'#/app/documents/'+type+'?id=' +  entityId}}">{{'Documents.ShowAllDocuments' | translate}} <i class="fa fa-chevron-right"></i></a>
</div>
<div class="task-list-footer" ng-show="isAll">
    <a class="btn btn-secondary" ng-click="documents.documentLimit = documents.length; documents.showAllDocuments = true;" ng-if="!documents.showAllDocuments && documents.length > 30">{{ 'Documents.ShowAllDocuments' | translate }} <i class="fa fa-chevron-right"></i></a>
</div>


<div style="visibility: hidden">
    <div class="md-dialog-container" id="mdLightbox-doc">
        <md-dialog aria-label="{{ fileData.name }}">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>{{ fileData.name }}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="{{'Common.Close' | translate}}" id="close-lightbox" ng-click="closeLightBox()"><i class="fas fa-times"></i></md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                     <span class="icon" ng-if="!(fileData.extension=='jpg'|| fileData.extension=='jpeg'|| fileData.extension=='gif' || fileData.extension=='bmp' || fileData.extension=='png')">
                         <i class="{{icon(fileData.extension)}}"></i>
                     </span>
                    <img class="width100" ng-if="fileData.extension=='jpg'|| fileData.extension=='jpeg'|| fileData.extension=='gif' || fileData.extension=='bmp' || fileData.extension=='png'" ng-src="{{ blobUrl+'/'+fileData.file_url}}"/>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <a class="btn btn-secondary" href="{{'/storage/download?fileId='+ fileData.id}}" target="_blank"><i class="fas fa-download"></i> {{'Common.Download' | translate}}</a>
                <span flex></span>
                <md-button id="previous" aria-label="previous" class="md-icon-button btn btn-secondary" ng-if="Index !=0" ng-click="showLightBox($event,documents[(Index-1)],(Index-1))"><i class="fas fa-arrow-left" aria-hidden="true"></i></md-button>
                <md-button id="next" aria-label="next" class="md-icon-button btn btn-secondary" ng-if="(documents.length-2)>=Index" ng-click="showLightBox($event,documents[(Index+1)],(Index+1))"><i class="fas fa-arrow-right" aria-hidden="true"></i></md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>
