<div class="popover">
    <div class="arrow"></div>
    <h3 class="popover-title">{{'Documents.SortBy' | translate}}</h3>
    <div class="popover-content">
        <ul class="list-unstyled">
            <li>
                <label class="ui-radio">
                    <input type="radio" name="createdBy" ng-checked="$parent.sortPredicate == 'Timestamp'" ng-click="sortDocuments('Timestamp', true); $hide();"><span>{{'Documents.SortByDate' | translate}}</span>
                </label>
            </li>
            <li>
                <label class="ui-radio">
                    <input type="radio" name="createdBy" ng-checked="$parent.sortPredicate == 'Name'" ng-click="sortDocuments('Name', false); $hide();"><span>{{'Documents.SortByName' | translate}}</span>
                </label>
            </li>
            <li>
                <label class="ui-radio">
                    <input type="radio" name="createdBy" ng-checked="$parent.sortPredicate == 'FileSize'" ng-click="sortDocuments('FileSize', false); $hide();"><span>{{'Documents.SortBySize' | translate}}</span>
                </label>
            </li>
            <li>
                <label class="ui-radio">
                    <input type="radio" name="createdBy" ng-checked="$parent.sortPredicate == 'Extension'" ng-click="sortDocuments('Extension', false); $hide();"><span>{{'Documents.SortByType' | translate}}</span>
                </label>
            </li>
        </ul>
    </div>
</div>