<div class="document-form" ng-if="show">
    <div ng-show="uploader.isHTML5">
        <div class="drop-box" nv-file-drop uploader="uploader">
            <div nv-file-over uploader="uploader" class="drop-box-in">
                <span class="btn btn-primary">{{'Documents.ChooseFiles' | translate}} </span>
                {{'Documents.Drop' | translate}}
                <input type="file" multiple nv-file-select uploader="uploader">
            </div>
            <md-button type="button" class="md-icon-button btn btn-secondary close-button" aria-label="Close"  ng-hide="hideCloseButton" ng-click="close()">
                <span class="fas fa-times"></span>
            </md-button>
        </div>
    </div>
    <div class="file-upload-item-box" ng-show="uploader.getNotUploadedItems().length">
        <div  ng-repeat="item in uploader.queue">
            <div class="d-flex align-items-center">
                <div class="file-icon-wrapper">
                    <div class="file-icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <span class="icon-success" ng-show="item.isSuccess"><i class="fas fa-check"></i></span>
                    <span class="icon-cancel" ng-show="item.isCancel"><i class="fas fa-ban "></i></span>
                    <span class="icon-error" ng-show="item.isError"><i class="fas fa-exclamation-triangle"></i></span>
                </div>
                <div>
                    <small>{{'Documents.FileName' | translate}} :</small> <br />
                    <strong md-truncate>{{ item.file.name }}</strong> <span ng-show="uploader.isHTML5">({{item.file.size | size}})</span>
                </div>
                <div flex></div>
                <div>
                    <md-button aria-label="{{'Documents.Clear' | translate}}" class="md-icon-button btn btn-secondary btn-xs" ng-click="item.remove()">
                        <i class="fas fa-trash"></i> <md-tooltip md-direction="bottom">{{'Documents.Clear' | translate}}</md-tooltip>
                    </md-button>
                    <md-button aria-label="{{'Documents.Cancel' | translate}}" class="md-icon-button btn btn-secondary btn-xs" ng-click="item.cancel()" ng-if="item.isUploading" ng-hide="hideUploadButton">
                        <i class="fas fa-ban"></i> <md-tooltip md-direction="bottom">{{'Documents.Cancel' | translate}}</md-tooltip>
                    </md-button>
                    <md-button aria-label="{{'Documents.Upload' | translate}}" class="md-icon-button btn btn-primary btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" ng-hide="hideUploadButton || !entityId">
                        <i class="fas fa-upload"></i> <md-tooltip md-direction="bottom">{{'Documents.Upload' | translate}}</md-tooltip>
                    </md-button>
                </div>
            </div>
            <div ng-show="uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" ng-style="{'width': item.progress + '%'}"></div>
                </div>
            </div>
        </div>
        <div ng-show="uploader.getNotUploadedItems().length > 1">
            <md-button aria-label="{{'Documents.ClearAll' | translate}}" class="btn btn-secondary"  ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <i class="fas fa-trash"></i> <span>{{'Documents.ClearAll' | translate}}</span>
            </md-button>
            <md-button aria-label="{{'Documents.CancelAll' | translate}}" class="btn btn-secondary" ng-click="uploader.cancelAll()" ng-if="uploader.isUploading">
                <i class="fas fa-ban"></i> <span>{{'Documents.CancelAll' | translate}}</span>
            </md-button>
            <md-button aria-label="{{'Documents.UploadAll' | translate}}" class="btn btn-primary" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" ng-show="entityId">
                <i class="fas fa-upload"></i> <span>{{'Documents.UploadAll' | translate}}</span>
            </md-button>
            <!--<div ng-show="uploader.isHTML5">
                <div class="progress">
                    <div class="progress-bar" ng-style="{'width': uploader.progress + '%'}"></div>
                </div>
            </div>-->
        </div>
        
    </div>
</div>