<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">
    <form name="newAppForm" class="form-horizontal form-custom" ng-submit="save(newAppForm)" autocomplete="off"
          novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">Create New App</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button type="button" class="btn add-button btn-radius btn-gray" ng-click="closeModal()"><i
                                    class="fas fa-times"></i>{{'Common.Cancel' | translate}}
                            </button>
                        </li>
                        <li>
                            <button type="submit" class="btn add-button btn-radius btn-blue" ladda="appSaving"><i
                                    class="fas fa-save"></i>{{'Common.Save' | translate}}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog ">
            <div class="modal-content padding-0">
                <div class="modal-body">
                    <div id="field-form-body" class="modal-body">
                        <div class="section" id="section1">
                            <div class="panel">
                                <div class="form-group"
                                     ng-class="{'has-error': newAppForm.$submitted && newAppForm.label.$invalid}">
                                    <label class="col-sm-4 required-field">Name <span
                                            class="required-label">(required)</span></label>
                                    <input type="text"
                                           name="label"
                                           class="form-control ng-animate-disabled col-sm-8"
                                           focus="true"
                                           required
                                           maxlength="50"
                                           ng-blur="checkNameBlur();"
                                           ng-change="generateAppName()"
                                           ng-model="appModel.label">
                                </div>
                                <div class="form-group" style="position: relative;"
                                     ng-class="{'has-error': newAppForm.$submitted && newAppForm.name.$invalid}">
                                    <label class="col-sm-4 required-field">Identifier <span class="required-label">(required)</span></label>
                                    <input type="text"
                                           name="name"
                                           class="form-control ng-animate-disabled col-sm-6 text-lowercase"
                                           required
                                           maxlength="50"
                                           ng-trim="false"
                                           ng-blur="checkNameBlur();"
                                           ng-change="checkName(appModel.name); $parent.$parent.isAppNameChanged=true;"
                                           ng-model="appModel.name"/>
                                    <div ng-if="nameChecking">
                                        <i class="fa fa-spinner fa-spin"
                                           style="font-size:24px;position: absolute;bottom: 8px;right: 8px;"></i>
                                    </div>
                                    <div ng-if="nameValid">
                                        <i style="font-size:24px;position: absolute;bottom: 8px;right: 8px;color:green;"
                                           class="fa-sidebar-icon fas fa-check"></i>
                                    </div>
                                    <div ng-if="nameValid === false">
                                        <i style="font-size:24px;position: absolute;bottom: 8px;right: 8px;color:red;"
                                           class="fas fa-times"></i>
                                    </div>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': newAppForm.$submitted && newAppForm.description.$invalid}">
                                    <label class="col-sm-4 required-field">Description</label>
                                    <input type="text"
                                           name="description"
                                           class="form-control ng-animate-disabled col-sm-8"
                                           maxlength="50"
                                           ng-model="appModel.description">
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 required-field">Logo <span class="required-label">(required)</span></label>
                                    <div class="newupload" ng-if="uploader.queue.length == 0">
                                        <label class="uploadlink">
                                            <div ng-show="uploader.isHTML5">
                                                <div nv-file-drop="" uploader="uploader">
                                                    <div nv-file-over="" uploader="uploader"
                                                         over-class="another-file-over-class" class="my-drop-zone">
                                                        <input type="file" nv-file-select uploader="uploader" nv-file-over ng-disabled="croppedImage">
                                                        <span>
                                                            <i class="fas fa-cloud-upload-alt"></i>
                                                            <small>Please choose a file or drag it here</small>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                        <span class="col-sm-12" style="font-size: 12px; margin: 0px;padding: 0px;">Image must not exceed 512 px and 1 MB.</span>
                                    </div>
                                    <div ng-show="uploader.queue.length > 0">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6">
                                                <img ng-src="{{uploader.queue[0].image}}" class="resultimg"/>
                                                <div class="action-buttons-block">
                                                    <button type="button" class="action-buttons-delete"
                                                            ng-click="logoRemove();">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!--<div class="col-xs-12" ng-repeat="item in uploader.queue" ng-show="false">-->
                                            <!--<div class="cropArea cropArea2">-->
                                            <!--<label class="">Please crop your image: </label>-->
                                            <!--<img-crop image="item.image" result-image="$parent.croppedImage" area-type="square" result-image-size="250"></img-crop>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </form>
</div>