<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>io.primeapps.minio.pre</string>
        
        <key>RunAtLoad</key>
        <true/>
        
        <key>EnvironmentVariables</key>
        <dict>
            <key>MINIO_ACCESS_KEY</key>
            <string>storage-access-key</string>
            <key>MINIO_SECRET_KEY</key>
            <string>storage-secret-key</string>
        </dict>
        
        <key>ProgramArguments</key>
        <array>
            <string>{{PROGRAMS}}/minio/minio</string>
            <string>server</string>
            <string>--address</string>
            <string>:9004</string>
            <string>{{DATA}}/minio_pre</string>
        </array>
        
    </dict>
</plist>