<div class="self">
    <div class="join-wrapper">
        <div class="page" style="margin-bottom: 20px;">
            <div class="panel panel-default">
                <div class="panel-body info">
                    <i class="fa fa-2x fa-info-circle"></i>
                    <p ng-bind-html="'Join.JoinMessage1' | translate"></p>
                    <p>
                        <button class="btn btn-primary btn-w-lg" ladda="upgrading" ng-click="upgrade()"><i class="fa fa-check-circle pull-left"></i> {{'Join.JoinNow' | translate}}</button>
                    </p>
                    <p ng-bind-html="'Join.JoinMessage2' | translate" ng-if="workgroupsInvited.length"></p>
                    <a href class="pull-right" ng-click="logout()">{{'Auth.Logout' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="page" ng-if="workgroupsInvited.length">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table workgroups-joined">
                        <thead>
                        <tr>
                            <th style="width: 35%">{{'Setup.Workgroups.WorkgroupsInvited' | translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="workgroup in workgroupsInvited">
                            <td>{{workgroup.title}}</td>
                            <td>
                                <button class="btn btn-xs btn-primary" ladda="{{'workgroupJoining' + $index}}" ng-click="join(workgroup.instanceID, $index, workgroup.title)">{{'Setup.Workgroups.Accept' |
                                    translate}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>