<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">
    <div ng-if="modalLoading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
    <form ng-if="!modalLoading" name="scriptForm" class="form-horizontal form-custom" ng-submit="save(scriptForm);" autocomplete="off"
          novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">{{scriptModel.id ? 'Edit Script' : 'New Script'}}</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button type="button" class="btn add-button btn-radius btn-gray" ng-click="cancel();" ng-disabled="saving">
                                <i class="fas fa-times margin-right-10"></i>{{'Common.Cancel' | translate}}
                            </button>
                        </li>
                        <li>
                            <button type="submit" class="btn add-button btn-radius btn-blue" ladda="saving" style="margin-left: 5px">
                                <i class="fas fa-save margin-right-10"></i>{{'Common.Save' | translate}}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog">
            <div class="modal-content padding-0">
                <div class="modal-body">
                    <div id="field-form-body" class="modal-body">
                        <div class="section" id="section1">
                            <div class="panel">
                                <div class="form-group"
                                     style="position: relative;"
                                     ng-class="{'has-error': scriptForm.$submitted && scriptForm.label.$invalid}">
                                    <label class="col-sm-12 required-field">Label <span class="required-label">({{'Common.Required' | translate }})</span></label>
                                    <input type="text"
                                           name="label"
                                           class="form-control ng-animate-disabled col-sm-12"
                                           required
                                           maxlength="100"
                                           focus="true"
                                           ng-model-options="{ debounce: 500 }"
                                           ng-change="createIdentifier();"
                                           ng-model="scriptModel.label" />
                                </div>
                                <div class="form-group"
                                     style="position: relative;"
                                     ng-class="{'has-error': scriptForm.$submitted && scriptForm.name.$invalid}">
                                    <label class="col-sm-12 required-field">Identifier <span class="required-label">({{'Common.Required' | translate }})</span></label>
                                    <input type="text"
                                           name="name"
                                           class="form-control ng-animate-disabled col-sm-12"
                                           required
                                           maxlength="100"
                                           ng-disabled="true"
                                           ng-trim="false"
                                           ng-blur="scriptNameBlur(scriptModel);"
                                           ng-change="checkScriptName(scriptModel)"
                                           ng-model="scriptModel.name" />
                                    <div ng-if="scriptNameChecking">
                                        <i class="fa fa-spinner fa-spin"
                                           style="font-size:24px;position: absolute;bottom: 8px;right: 8px;"></i>
                                    </div>
                                    <div ng-if="scriptNameValid && scriptModel.name">
                                        <i style="font-size:24px;position: absolute;bottom: 8px;right: 8px;color:green;"
                                           class="fa-sidebar-icon fas fa-check"></i>
                                    </div>
                                    <div ng-if="scriptNameValid === false">
                                        <i style="font-size:24px;position: absolute;bottom: 8px;right: 8px;color:red;"
                                           class="fas fa-times"></i>
                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error': scriptForm.$submitted && scriptForm.module_id.$invalid}">
                                    <label class="col-sm-12 required-field">Module <span class="required-label">({{'Common.Required' | translate }})</span></label>
                                    <select name="module_id"
                                            class="form-control ng-animate-disabled col-sm-8"
                                            required
                                            ng-model="scriptModel.module_id"
                                            ng-options="o.id as o['label_' + language + '_singular'] for o in modules">
                                        <option value="">Select Module</option>
                                    </select>
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error': scriptForm.$submitted && scriptForm.place.$invalid}">
                                    <label class="col-sm-12 required-field">Event <span class="required-label">({{'Common.Required' | translate }})</span></label>
                                    <select name="place"
                                            class="form-control ng-animate-disabled col-sm-8"
                                            required
                                            ng-model="scriptModel.place"
                                            ng-options="o.value as o.name for o in componentPlaces">
                                        <option value="">Select Event</option>
                                    </select>
                                </div>
                                <div class="form-group"  
                                     ng-class="{'has-error': scriptForm.$submitted && scriptForm.custom_url.$invalid}">
                                    <label class="col-sm-12">Custom Url</label>
                                    <input type="url"
                                           name="custom_url"
                                           class="form-control ng-animate-disabled col-sm-12"
                                           ng-model="scriptModel.custom_url" />
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12"> Environment </label>
                                    <div ng-repeat="env in environments">
                                        <label class="newinput checkbox-inline">
                                            <input type="checkbox" name="env{{$index}}" ng-model="env.selected" ng-change="environmentChange(env,$index)" ng-disabled="env.disabled" value="{{env.value}}" title="{{env.name}}" />{{env.name}}
                                            <span></span>
                                        </label>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>