<div class="dashboard apps clearfix" >
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 new-app-content">
            <img src="images/primeapps/create-app-sceen-image.png"
                 srcset="images/primeapps/create-app-sceen-image.png@2x.png 2x,
                         images/primeapps/create-app-sceen-image.png@3x.png 3x">
            <div class="">
                <h2 class="apps-first-screen-h1">
                    Welcome Yusuf Çiftçi
                </h2>
                <span class="apps-first-screen-span">
                    Rapidly create and execute cloud based business apps.
                    Turn them into powerful multi-tenant SaaS businesses.
                    No code, no deployment, no hassle.
                </span>
            </div>
            <button class="create-app-btn">
                Create your Application
            </button>

            <div class="need-help-text">Need Help? Please read through the <a href="">tutorials </a></div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>