<div class="sub-menu">
    <ul class="nav nav-tabs">
        <li><a href="#/app/setup/modules">{{'Setup.Nav.Tabs.Modules' | translate}}</a></li>
        <li class="active"><a href="#/app/setup/templates">{{'Setup.Nav.Tabs.Templates' | translate}}</a></li>
    </ul>
</div>

<div class="panel panel-default setup-panel templates">
    <div class="panel-body">
        <div class="subpanel">
            <h5 class="subpanel-heading ">{{'Setup.Templates.SelectTemplateFields' | translate}}</h5>
            <div class="subpanel-body">
                <div class="row form-group">
                    <div class="template-document">
                        <div class="templateCreateForm">
                            <label class="col-sm-3 control-label">
                                <span class="required-field">*</span>
                                {{'Module.TemplateType' | translate }}
                            </label>
                            <div class="col-sm-9">
                                <label class="radio-inline detailWord">
                                    <input name="document_type" required type="radio" style="margin-left: -16px;"
                                           ng-model="document"
                                           value="word">
                                    {{'Module.DetailWord' | translate }}
                                    <!--<span>Liste raporları verilerinizi daha basit şekilde listelemenizi sağlar.</span>-->
                                </label>
                                <label class="radio-inline ListExcel">
                                    <input name="document_type" required type="radio"
                                           ng-model="document"
                                           value="excel"
                                           style="margin-left: -16px;">
                                    {{'Module.ListExcel' | translate }}
                                    <!--<span>enizi sağlar.</span>-->
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="module-select clearfix" style="margin-top: 50px" ng-show="document == 'word'">
                            <select name="selectedModule"
                                    class="ng-animate-disabled col-sm-6 form-control"
                                    ng-model="selectedModule"
                                    ng-change="moduleChanged()"
                                    ng-options="moduleItem['label_' + language + '_plural'] for moduleItem in templateModules | filter:{name:'!users'} | orderBy:'order'">
                                <option value="">{{'Setup.Templates.SelectMainModul' | translate}}</option>
                            </select>
                        </div>
                        <div class="module-select clearfix" style="margin-top: 50px" ng-show="document == 'excel'">
                            <select name="selectedModuleExcel"
                                    class="ng-animate-disabled col-sm-6 form-control"
                                    ng-model="selectedModuleExcel"
                                    ng-change="moduleChanged()"
                                    ng-options="moduleItem['label_' + language + '_plural'] for moduleItem in templateModules | filter:{name:'!users'} | orderBy:'order'">
                                <option value="">{{'Setup.Templates.SelectMainModul' | translate}}</option>
                            </select>
                        </div>
                        <div ng-show="document == 'excel' && selectedModuleExcel">
                            <span class="pull-left" style="margin-left: 5px;margin-top: 6px;">{{'Module.DownloadExcelTemplate' | translate }} :</span>
                            <div class="template-button pull-left" style="margin-left: 5px;" ng-click="getDownloadUrlExcel()">
                            </div>
                        </div>
                        <div class="table-container" ng-if="selectedModule && document == 'word'">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{'Setup.Templates.FieldName' | translate}}</th>
                                        <th>{{'Setup.Templates.TagName' | translate}}</th>
                                        <th style="width: 30px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="field in selectedModule.fields | filter:{deleted:'!true'} | filter:filterUsers | orderBy:'order'">
                                        <td> {{field['label_' + language]}}</td>
                                        <td>
                                            <span><code>{{'{\{' + (field.multiline_type_use_html ? 'html__' : field.data_type == 'image' ? 'img__' : '') + field.name + '}\}'}}</code></span>
                                        </td>
                                        <td>
                                            <span class="copy-button" title="{{'Common.Copy' | translate}}" ngclipboard data-clipboard-text="{{'{\{' + (field.multiline_type_use_html ? 'html__' : field.data_type == 'image' ? 'img__' : '') + field.name + '}\}'}}"><i class="copy-icon fa fa-clipboard"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table" ng-repeat="lookupModule in selectedModule.lookupModules">
                                <thead>
                                    <tr>
                                        <th colspan="2">{{lookupModule.parent_field['label_' + language]}} ({{lookupModule['label_' + language + '_singular']}})</th>
                                        <th style="width: 30px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="field in lookupModule.fields | filter:{deleted:'!true'} | orderBy:'order'">
                                        <td> {{field['label_'+language]}}</td>
                                        <td>
                                            <span><code>{{'{\{' + getRelatedFieldName(field, lookupModule) + '}\}'}}</code></span>
                                        </td>
                                        <td>
                                            <span class="copy-button" title="{{'Common.Copy' | translate}}" ngclipboard data-clipboard-text="{{'{\{' + getRelatedFieldName(field, lookupModule) + '}\}'}}"><i class="copy-icon fa fa-clipboard"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="module-select clearfix" ng-show="selectedModule && selectedModule.relatedModules && selectedModule.relatedModules.length && document == 'word'">
                            <select name="selectedSubModule"
                                    class="ng-animate-disabled col-sm-6 form-control"
                                    ng-model="selectedSubModule"
                                    ng-options="moduleItem['label_' + language + '_plural'] for moduleItem in selectedModule.relatedModules | filter:{name:'!users'} | orderBy:'order'">
                                <option value="">{{'Setup.Templates.SelectSubModul' | translate}}</option>
                            </select>
                        </div>
                        <div class="table-container" ng-if="selectedSubModule && document == 'word'">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{'Setup.Templates.FieldName' | translate}}</th>
                                        <th>{{'Setup.Templates.TagName' | translate}}</th>
                                        <th style="width: 30px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="field in selectedSubModule.fields | filter:{deleted:'!true'} | filter:filterUsers | orderBy:'order'">
                                        <td> {{field['label_'+language]}}</td>
                                        <td>
                                            <span><code>{{'{\{' + (field.multiline_type_use_html ? 'html__' : field.data_type == 'image' ? 'img__' : '') + field.name + '}\}'}}</code></span>
                                        </td>
                                        <td>
                                            <span class="copy-button" title="{{'Common.Copy' | translate}}" ngclipboard data-clipboard-text="{{'{\{' + (field.multiline_type_use_html ? 'html__' : field.data_type == 'image' ? 'img__' : '') + field.name + '}\}'}}"><i class="copy-icon fa fa-clipboard"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table" ng-repeat="lookupModule in selectedSubModule.lookupModules">
                                <thead>
                                    <tr>
                                        <th colspan="2">{{lookupModule.parent_field['label_' + language]}} ({{lookupModule['label_' + language + '_singular']}})</th>
                                        <th style="width: 30px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="field in lookupModule.fields | filter:{deleted:'!true'} | orderBy:'order'">
                                        <td>{{field['label_'+language]}}</td>
                                        <td>
                                            <span><code>{{'{\{' + getRelatedFieldName(field, lookupModule) + '}\}'}}</code></span>
                                        </td>
                                        <td>
                                            <span class="copy-button" title="{{'Common.Copy' | translate}}" ngclipboard data-clipboard-text="{{'{\{' + getRelatedFieldName(field, lookupModule) + '}\}'}}"><i class="copy-icon fa fa-clipboard"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <ul class="instructions-list" style="margin-top: 50px">
                            <li ng-if="document == 'word' || document == 'excel'">{{'Setup.Templates.TemplateGuide1' | translate}}</li>
                            <li ng-if="selectedModuleExcel && document == 'excel'">
                                {{'Module.DownloadExcelButton' | translate }}
                            </li>
                            <li ng-if="selectedModuleExcel && document == 'excel'">
                           <span ng-bind-html="'Module.OtherReport' | translate">
                            </li>
                            <li ng-if="selectedModule && document == 'word'">{{'Setup.Templates.TemplateGuide2' | translate}} <span class="foreach-label"><code>{{ "{{#foreach " + selectedModule.name + "}\}" }}</code><span
                                    class="copy-button" title="{{'Common.Copy' | translate}}" ngclipboard
                                    data-clipboard-text="{{ '{{#foreach ' + selectedModule.name + '}\}' }}"><i class="copy-icon fa fa-clipboard"></i></span></span>{{'Setup.Templates.TemplateGuide3' | translate}}
                                <span ng-bind-html="'Setup.Templates.TemplateGuide4' | translate"></span>
                            </li>
                            <li ng-if="selectedModule && document == 'word'">{{'Setup.Templates.TemplateGuide5' | translate}}
                            </li>
                            <li ng-if="selectedModule && document == 'word'">
                                {{'Setup.Templates.TemplateGuide6' | translate}}

                                <label style="background-color:#f9f2f4;color:#ca2594;font-family:Consolas"><label>{{/ </label>{{'Setup.Templates.TemplateFieldName' | translate}}<label>}}</label></label> {{'Setup.Templates.TemplateGuide7' | translate}}

                            </li>
                            <li ng-if="selectedModule && document == 'word'">{{'Setup.Templates.TemplateGuide8' | translate}}<span class="foreach-label"><code>{{ "{{/foreach " + selectedModule.name + "}\}" }}</code><span
                                    class="copy-button" title="{{'Common.Copy' | translate}}" ngclipboard
                                    data-clipboard-text="{{ '{{/foreach ' + selectedModule.name + '}\}' }}"><i
                                    class="copy-icon fa fa-clipboard"></i></span></span> <span ng-bind-html="'Setup.Templates.TemplateGuide9' | translate"></span>
                            </li>
                            <li ng-if="selectedModule && selectedModule.relatedModules && selectedModule.relatedModules.length && document == 'word'">
                                {{'Setup.Templates.TemplateGuide10' | translate}}
                            </li>
                            <li ng-if="selectedSubModule && document == 'word'">{{'Setup.Templates.TemplateGuide11' | translate}}<span class="foreach-label"><code>{{ "{{#foreach " + selectedSubModule.name + "}\}" }}</code><span
                                    class="copy-button" title="{{'Common.Copy' | translate}}" ngclipboard
                                    data-clipboard-text="{{ '{{#foreach ' + selectedSubModule.name + '}\}' }}"><i
                                    class="copy-icon fa fa-clipboard"></i></span></span> {{'Setup.Templates.TemplateGuide12' | translate}}
                            </li>
                            <li ng-if="selectedSubModule && document == 'word'">
                                {{'Setup.Templates.TemplateGuide13' | translate}}
                            </li>
                            <li ng-if="selectedSubModule && document == 'word'"> {{'Setup.Templates.TemplateGuide14' | translate}}<span
                                    class="foreach-label"><code>{{ "{{/foreach " + selectedSubModule.name + "}\}" }}</code><span
                                    class="copy-button" title="{{'Common.Copy' | translate}}" ngclipboard
                                    data-clipboard-text="{{ '{{/foreach ' + selectedSubModule.name + '}\}' }}"><i
                                    class="copy-icon fa fa-clipboard"></i></span></span><span ng-bind-html="'Setup.Templates.TemplateGuide15' | translate"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a href="#/app/setup/templates" class="btn btn-custom"><i class="fa fa-chevron-left"></i> {{'Common.Back' | translate}}</a>
    </div>
</div>