<div class="setup-layout">
    <div class="row">

        <div class="menu col-sm-3" ng-class="{'menu-collapsed':collapsed}">
            <h2 class="setup-title">XBrand CRM</h2>
            <ul class="nav nav-pills nav-stacked setup-nav" ng-show="!collapsed">
                <li ng-class="menuItemClass(menuItem)" ng-repeat="menuItem in menuItems | filter:{active : true}">
                     <a href="{{menuItem.link}}" ng-click="selectMenuItem(menuItem)">
                         <i class="fas fa-user"></i>{{menuItem.label | translate}}

                     </a>
                    <span class="costume-bage">42</span>
                </li>
            </ul>
            <a href ng-click="collapsed = !collapsed" style="padding-right: 10px;">
                <i class="fa fa-lg fa-angle-double-right" ng-if="collapsed"></i>
                <i class="fa fa-lg fa-angle-double-left" ng-if="!collapsed"></i>
            </a>
        </div>
        <div   class="col-sm-9" style="border: none ;" ng-class="{'page-collapsed':collapsed}">

            <div class="setup-liste-header row">
                <div class="col-sm-6"> <h2 class="setup-title">Modules</h2></div>
                <div class="col-sm-6 list-right-menu"> <button class="btn add-button"> <i class="fas fa-plus"></i> Add New Module</button></div>

            </div>

            <div ui-view="app"></div>
        </div>
    </div>
</div>
