@mixin hoverEffect() {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.wrt:before,
.wrt:after {
  content: ' ';
  display: table;
  margin-left: -15px;
  margin-right: -15px;
  float: none;
  clear: both;
}
 
//Reset
button, select {
  @include hoverEffect;

  &:focus {
    outline: none !important;

  }
}

$primeapps-color: #0D6FAA;
.primeapps {

  //ModuleDesigner scss

  .add-new-section {
    padding: 15px;
    border: 1px dashed rgba(0, 0, 0, 0.28);
    border-radius: 5px;
    cursor: pointer;
    @include hoverEffect();
    &:hover{
      border: 1px dashed rgba(0, 0, 0, 0.50);
    }
    span {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.5);
      font-size: 14px;

    }
  }

  .subpanel-draggable {
    box-shadow: none !important;
  }

  .module-section {
    .cell-container {
      .form-group {

        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px dashed transparent;

        .required-field {
          color: #ce0404 !important;
          position: relative;
        }

        .field-area {
          display: flex;
          justify-content: space-between;
          padding: 10px 20px;
          background: rgba(0, 0, 0, 0.05);
          color: rgba(0, 0, 0, 0.25);
        }

        .action-buttons {
          padding: 0;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translate(0%, -50%);

          .action-icon {
            color:rgba(6, 6, 6, 0.75) !important;
          }
        }

        .control-label {
          text-align: left;
          padding-bottom: 0;
        }

        &:hover {
          box-shadow: none;
          background-color: rgba(13, 111, 170, 0.25);
          border-color: rgba(0, 0, 0, 0.25);
        }

      }
    }

    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    border: none !important;
    border-radius: 5px;
    margin-bottom: 30px;
    min-height: 180px;

    .action-buttons {
      display: none;
      width: auto !important;

    }

    .section-header {
      border: none !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
      padding: 10px !important;

      span {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.75);
        font-size: 16px;

        i {
          color: rgba(0, 0, 0, 0.5) !important;
          margin-right: 15px;
        }
      }

      &:hover {
        background: rgba(13, 111, 170, 0.1);
        border: none !important;

        .action-buttons {
          display: block;
        }
      }

    }

    .section-container {
      min-height: 180px;

    }

    .section-header {
      padding: 10px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
      cursor: move;

      h4 {
        i {
          margin-right: 15px;
          color: rgba(0, 0, 0, 0.5);

        }

        font-size: 16px;
        font-weight: bold;
        padding: 0;
        margin: 0;
      }
    }
  }

  .template-field {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;

    .template-field-box {
      border: 1px dotted #fff;
      cursor: move;
      width: calc(50% - 10px);
      float: left;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.05);
      padding: 10px;
      margin: 5px;

      &:hover {
        border: 1px dotted #0d6faa;
        background: #fff !important;
      }

      .template-field-icon {
        span {
          font-size: 22px;
          color: rgba(0, 0, 0, 0.5);
        }

        h4 {
          font-size: 15px !important;
        }

        .template-field-text {
          h4 {
            font-size: 15px !important;
          }
        }

      }
    }
  }

  .module-designer {
    .new-field {
      border: 1px dashed rgba(0, 0, 0, 0.28);
      cursor: pointer;
      padding: 15px !important;
      background: none;
      &:hover{
        border: 1px dashed rgba(0, 0, 0, 0.50);
      }

      span {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;

        i {
          margin-right: 5px;
        }

      }
    }

    .panel-body {
      padding-top: 0;
    }
  }

  //mix

  //Global
  .margin-0 {
    margin: 0px;
  }

  .margin-5 {
    margin: 5px;
  }

  .margin-10 {
    margin: 10px;
  }

  .margin-15 {
    margin: 15px;
  }

  .padding-5 {
    padding: 5px;
  }

  .padding-0 {
    padding: 0px !important;
  }

  .padding-10 {
    padding: 10px;
  }

  .padding-20 {
    padding: 20px;
  }

  //DropDown input
  .dropdown {
    .dropdown-input {
      cursor: pointer;
      border: solid 1px #cecece;
      padding-left: 10px;
      padding-right: 10px;

      .dropdown-text {
        display: flex;
        align-items: center;

        h4 {
          width: 95%;
        }
      }

    }

    .dropdown-menu {
      width: 95%;
      margin: 0 !important;

      li {
        cursor: pointer;
      }

    }
  }

  //collaborators Left Menu
  .collaborators-left-menu {
    ul {
      .active {
        .user-image {
          background: #0d6faa !important;
        }

        h2 {
          color: #0d6faa !important;
        }

        h3 {
          color: #0d6faa !important;
        }
      }

      li {
        cursor: pointer;

      }
    }

  }

  .collaborator-info {
    .user-info {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.5);

      h2 {
        font-size: 16px;

      }

      h3 {
        font-size: 12px;
      }
    }
  }
  .user-info {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;

    .user-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      h2 {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.75);
        font-weight: bold;
        line-height: 18px;
        margin: 0;
        padding: 0;
        font-weight: 400;
      }

      h3 {
        font-size: 12px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5);
        margin: 0;
        font-weight: 400;
      }
    }

    .user-image {
      background-color: rgba(0, 0, 0, 0.25);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 14px;
      margin-right: 10px;

    }
  }

  .page-loading {
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    align-self: center;
    width: 100vw;
    color: #FFF;
    height: 100vh;
    background: #2DABE1;

    i {
      font-size: 50px;
    }
  }

  body {
    background-color: #f6f5f2 !important;
  }

  .sidebar-nav a.active i {
    color: #FFF;
  }

  .sidebar-nav a:hover:not(.sidebar-brand-logo) {
    background-color: #121212;
    border-radius: 0;
  }

  .ring {
    div {
      border-color: $primeapps-color transparent;
    }
  }

  .help-link, .launcher-link {
    &:hover,
    &:focus {
      color: $primeapps-color !important;
    }
  }

  .btn-auth {
    background-color: $primeapps-color !important;
    border-bottom-color: $primeapps-color !important;
  }

  .input-group-focus {
    border-bottom-color: $primeapps-color;

    .input-group-addon {
      color: $primeapps-color;
    }
  }

  .inner-addon {
    i {
      color: $primeapps-color;
    }
  }

  .modal-header {
    background-color: $primeapps-color;
    color: white;
  }

  .sidebar-nav {
    margin-left: 0;
    width: 100%;
  }

  #sidebar-wrapper {
    .panel-body {
      a {
        background: none;
        font-weight: 400;
        font-size: 10px !important;
        height: 36px;
      }

      .fa-sidebar-icon-background {
        background: none !important;
      }
    }

    ul {
      @include hoverEffect();
    }

  }

  .sidebar-nav a.active {
    background-color: #121212 !important;
    border-radius: inherit;
  }

  .collapse-menu {
    .collapse.am-collapse {
      background-color: #121212;
    }

    a {
      line-height: 55px !important;
      font-family: Nunito;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;

      .fa-sidebar-icon {
        color: #fff;
        font-size: 16px;
        position: absolute;
      }
    }

  }

  .fa-sidebar-icon-background {
    height: 30px;
    width: 30px;
    float: left;
    position: absolute;
    background: #64c70f;
    border-radius: 50%;
    margin-top: 15px;
    padding-top: 6px;
    padding-left: 5px;
  }

  .rigth-oval-toolbar-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;

    i {
      font-size: 12px;
      color: #fff;
    }

    &:hover {
      background-color: #0d6faa;
    }
  }

  .navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    height: 80px;
  }

  .navbar {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05) !important;
    background-color: #ffffff !important;
    height: 80px !important;
  }

  .apps-first-screen-h1 {
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }

  .dashboard {
    padding-top: 150px;
  }

  .apps-first-screen-span {
    font-family: Nunito;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }

  .create-app-btn {
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 260px;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(13, 111, 170, 0.75);
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .new-app-content {
    display: flex;
    flex-direction: row;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .need-help-text {
    color: rgba(0, 0, 0, 0.5);
    font-family: Nunito;
    font-size: 15px;
  }

  .tab-content {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
  }

  .table {
    border: none;

    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background: transparent;

    thead:first-child > tr:first-child > th {
      line-height: 15px !important;
      font-size: 12px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
      font-weight: 400 !important;
      color: rgba(0, 0, 0, 0.5) !important;
      padding: 20px !important;
      text-align: inherit;
      background: transparent;
    }

    tbody {

      tr {
        td {
          line-height: 15px;
          vertical-align: middle;
          padding: 10px 20px  !important;
          color: rgba(0, 0, 0, 0.75) !important;
          font-weight: 400 !important;
          border-top: 1px solid rgba(0, 0, 0, 0.05);
          border-right: 1px solid rgba(0, 0, 0, 0.05);
          background: transparent;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.03);
          cursor: pointer;

        }

        .action-buttons-block {
          display: inline-block;
          button {
            background: transparent;
            width: 30px;
            font-size: 12px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border: none;
            color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            &.action-buttons-edit
            {
              background: rgba(0,0,0,0.05);
            }
            &.action-buttons-delete
            {
              background: rgba(206,4,4,0.5);
              color: #FFF;
            }
            &:hover{
              background: rgba(0,0,0,0.15);
              color:rgba(0, 0, 0, 0.75);
            }
            
            
          }
        }
      }
    }

  }

  .table-pagination {
    height: 60px;
    padding: 0px 20px;
    background: transparent;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .pagination-span {
      color: rgba(0, 0, 0, 0.5);
      font-size: 12px;
    }

    .items-per-page-select {
      width: 55px;
      background-color: rgba(0, 0, 0, 0.05);
      border: none;
      text-align: center;
      border-radius: 5px;
      height: 30px;
      font-size: 14px;
      font-weight: bold;
      text-align-last: center;
    }

    nav {
      //.pagination > .active > a, .pagination > .active > a:hover {
      //  background-color: rgba(17, 87, 163, 0.75) !important;
      //  border-radius: 50%;
      //  color: #fff !important;
      //}
      //.pagination {
      //
      //  li {
      //    margin: 5px;
      //    a {
      //      border: none;
      //      margin: 5px;
      //      color: rgba(0, 0, 0, 0.5) !important;
      //      &:hover {
      //        background-color: rgba(17, 87, 163, 0.75) !important;
      //        border-radius: 50%;
      //        color: #fff !important;
      //      }
      //    }
      //
      //  }
      //}
    }
  }

  .modal-header {
    background-color: #fff;
    color: #000;
  }

  .modal {
    left: auto;
  }

  .setup-modal, .module-modal {
    background-color: #fff !important;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;

    .modal-dialog {
      height: 100%;
      overflow-x: auto;
      margin: 0;
      line-height: 33px !important;

      input[type="radio"]:checked + span:after {
        width: 10px;
        height: 10px;
        top: 12px;
        left: -16px;
      }

      .form-group {
        label {
          text-align: left !important;
        }
      }

      .fa.pull-left {
        margin-top: .15em;
        margin-right: 5px;
      }
    }

    .modal-body {
      max-height: 100% !important;
      margin: 0 auto !important;
      overflow-y: unset !important;
      padding-top: 5px;

    }

    .modal-content {
      padding-left: 40px;
      padding-right: 40px;
      border: none;
      height: 80vh;

      .form-custom {
        margin-bottom: 100px;

        .field-form-body {
          padding-top: 7px;
        }
      }

      .modal-left-menu {

        padding: 0px;
        margin: 0px;

        ul {
          border-right: 2px solid rgba(0, 0, 0, 0.05);
          width: 150px;
          position: fixed;

          li {
            a {
              font-size: 14px;
              color: rgba(0, 0, 0, 0.75);
              font-weight: 400;

              &:hover {
                background: none;
                color: #0d6faa !important;
                font-weight: bold !important;
              }

            }

            .active {
              background: none;
              color: #0d6faa !important;
              font-weight: bold !important;
            }
          }
        }
      }

      .section {
        h4 {
          color: #0d6faa;
          padding-bottom: 10px;
          font-weight: bold;
        }

        .panel {
          box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);

          border: 1px solid rgba(0, 0, 0, 0.05);
          padding: 26px;
        }
      }

    }

    .modal-header {
      margin-bottom: 25px;
      padding-left: 0;
      margin-right: 40px;
      margin-left: 40px;
      display: flex;
      padding-right: 0px;
      border-bottom: 5px solid rgba(0, 0, 0, 0.05);

      .col-sm-6 {
        display: flex;
      }

      .col-sm-rigth {
        justify-content: flex-end;
        padding: 0px;
      }

      h4 {
        font-size: 20px;
        font-weight: bold;
        color: #0d6faa;
      }
    }

    .modal-400 {
      width: 400px !important;
    }

    .modal-500 {
      width: 500px !important;
    }

    .modal-600 {
      width: 600px !important;
    }

    .modal-700 {
      width: 700px !important;
    }

    .modal-800 {
      width: 800px !important;
    }

    .modal-900 {
      width: 900px !important;
    }
  }

  .user-dropdown {
    padding: 20px;

    a {
      padding: 0px 10px;
      line-height: 15px;

      i {
        width: 20px;
        text-align: center;
        display: inline-block;
      }
    }

    .user_divider {

      height: 1px;
      display: block;
      background: rgba(0, 0, 0, 0.1);
      margin: 10px 0px;
    }

    .user-info {
      display: flex;
      flex-direction: row;
      align-items: center;

      .user-text {
        h2 {
          font-size: 16px;
          color: #0d6faa;
          font-weight: bold;
          line-height: 15px;
          margin: 0;
          padding-bottom: 7px;
        }

        h3 {
          font-size: 12px;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.5);
          margin: 0;
        }
      }

      .user-image {
        background-color: rgba(0, 0, 0, 0.25);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 23px;
        margin-right: 10px;

      }
    }

    .btn-logout {
      width: 100%;
      height: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .top-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
  }

  .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    border-radius: inherit;
    background-color: inherit;
    padding-left: 30px;
    color: rgba(0, 0, 0, 0.5);

    li {
      font-size: 16px !important;
      color: rgba(0, 0, 0, 0.5) !important;
      font-weight: bold !important;

      a {
        color: rgba(0, 0, 0, 0.5) !important;
        font-size: 14px !important;
        font-weight: 400 !important;

        &:hover {
          color: #0d6faa;
        }
      }
    }

  }

  //Pages
  .scratch-page {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

    .scratch-page-text {
      h1 {
        color: rgba(0, 0, 0, 0.75);
        font-size: 30px;
        font-weight: 400;
      }

      span {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-weight: 400;
      }
    }

    .scratch-box {
      @include hoverEffect();
      padding: 50px 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
      background-color: #ffffff;
      margin: 20px;
      font-size: 70px;
      line-height: 70px;
      color: rgba(0, 0, 0, 0.25);

      &:hover {
        cursor: pointer;
        box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.05);
      }
    }
  }

  //Button
  .btn-bold {
    font-weight: bold;
  }

  .btn-radius {
    border-radius: 30px;
  }

  .btn-red {
    background-color: rgba(206, 4, 4, 0.5);
    color: #fff
  }

  .btn-blue {
    background-color: rgba(13, 111, 170, 0.75);
    color: #fff
  }

  .btn-gray {
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff
  }

  //Input
  .form-group {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px !important;

    label {
      padding: 0;
      color: rgba(0, 0, 0, 0.75);
      font-size: 14px;
      font-weight: bold !important;
    }

    .form-control {
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.05);
      border: none;
      padding-left: 10px;
      font-size: 16px;
      font-weight: 400;
      height: 40px !important;
      max-width: none !important;

      &[disabled] {
        color: rgba(0, 0, 0, 0.25);
      }
    }

  }

  .checkbox-inline input[type="checkbox"] {
    position: relative !important;
    margin-left: 0px !important;
  }

  .radio-inline input[type="radio"] {
    position: relative !important;
    margin-left: 0px !important;
  }

  //End Input
  .callout {
    font-size: 12px;
    padding: 10px;
  }

  .page-container {
    margin-top: 160px !important;
    margin-left: 20px !important;
    margin-right: 20px;

    .search-select {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      i {
        position: absolute;
        display: flex;
        font-size: 23px;
        justify-content: flex-start;
        padding-right: 20px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
      }

      .select-status {
        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        background: #FFF;
        height: 60px;
        width: 100%;
        border: none !important;
        padding-left: 20px;
        color: rgba(0, 0, 0, 0.5);
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
      }

    }

    .app-layout-box {
      cursor: pointer;
      margin-top: 5px;
      margin-bottom: 30px;

      .tooltip.tooltip-success .tooltip-inner {
        background-color: rgba(0, 0, 0, 0.75);
        border-color: rgba(0, 0, 0, 0.75);
        color: #fff;
      }

      .tooltip.tooltip-success.top .tooltip-arrow {
        border-top-color: rgba(0, 0, 0, 0.75);
      }

      .app-box {
        @include hoverEffect();
        height: 200px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        display: flex;
        flex-direction: column;

        .image {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 200px;
            max-width: 100%;
          }
        }

        .oval {
          display: flex;
          justify-content: flex-end;

          span {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
            margin: 15px;

          }

          .oval-green {
            background-color: #92c549;
          }

          .oval-orange {
            background-color: #e08340;
          }

          .oval-gray {
            background-color: #bfbfbf;
          }
        }

        .icon-image {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            font-size: 67px;
            color: rgba(0, 0, 0, 0.25);
          }
        }
      }

      .app-info {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 23px;

        h3 {
          line-height: 20px;
          font-size: 20px;
          color: rgba(0, 0, 0, 0.5);
          font-weight: bold;
          margin: 0px;
          padding: 0px;
        }

        h4 {
          margin: 0px;
          padding: 0px;
          font-size: 14px;
          font-weight: 400;
          line-height: 25px;
          color: rgba(0, 0, 0, 0.5);
        }
      }

      &:hover {
        .app-box {
          box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.05);
        }

        .app-info {
          h4, h3 {
            color: #0d6faa;
          }
        }
      }
    }

  }

  .page-container.padding0 {
    margin-top: 0px !important;
  }

  .search-input {
    display: flex;
    align-items: center;

    .search-input-icon {
      position: absolute;
      padding-left: 20px;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.1);
    }

    input {
      padding-left: 50px !important;
      color: rgba(0, 0, 0, 0.75);

      ::placeholder {
        color: rgba(0, 0, 0, 0.25);
      }

      :-ms-input-placeholder, ::-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.25);
      }
    }

    .app-search-input {
      height: 60px;
      box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      border: none;
      font-size: 16px;
    }
  }

  .scrollspy {

  }

  //titles
  .h4-title {
    font-size: 20px;
  }

  .blue-color {
    color: #0d6faa;
  }

  .font-bold {
    font-weight: bold;
  }

  #sidebar-wrapper {
    .sidebar-brand {
      a {
        &:hover {
          background: none;
        }
      }

    }

    ul {
      width: 250px;

      .open {
        background-color: #121212;
        @include hoverEffect();
        ul {
          display: block;
        }
      }

      li {
        cursor: pointer;

        ul {
          display: none;
          list-style: none;

          .active {
            color: #fff;
          }

          li {
            line-height: 20px;

            a {
              color: rgba(255, 255, 255, 0.5);
              font-size: 12px;

              i {
                font-size: 14px;
                background: none;
              }

              &:hover {
                background: none;
                color: #fff;
              }
            }
          }
        }

        a {
          font-weight: bold;
          font-size: 14px;
          padding-top: 5px;
          padding-bottom: 5px;
          display: flex;
          align-items: center;

          i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            font-size: 14px;
            padding: 10px;
            background: #9e005d;
            border-radius: 50%;
            margin-right: 10px;
          }
        }

      }
    }

    .color-blue {
      color: #0d6faa
    }

    .background-white {
      background: #ffffff;
    }

  }

  .dropdown-menu {
    border: none;
    min-width: 50px;
    top: 100%;
    margin-top: 20px !important;
    box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: auto !important;

    &:before {
      bottom: 100%;
      left: 10px;
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #FFF transparent;
      pointer-events: none;
    }

    &.bottom-right {
      &:before {
        left: auto;
        right: 10px;

      }
    }

    li {

      a {
        line-height: 40px;

        &:hover {
          background-color: rgba(17, 87, 163, 0.1);
          color: #000
        }

        i {

        }
      }
    }
  }

  .file-uploader {
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .uploader-area {
      width: 100%;
      border: 2px dashed #c2c2c2;
      padding: 20px;
    }

    .uploader-over {

      border: 2px dashed #000 !important;
    }

    .drop-zone {
      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
          font-size: 50px;
          color: rgba(0, 0, 0, 0.2);
        }

        span {
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .has-error {
    input {
      background-color: rgba(206, 4, 4, 0.15) !important;
    }
  }

  .pagination {
    li {
      font-size: 14px;

      a {
        margin: 0px;
        border-radius: 50%;
        border: none;
        background: transparent;

        &:hover {
          color: #000;
        }
      }
    }

    .active {
      a {
        color: #fff;
        background-color: rgba(17, 87, 163, 0.75);

        &:hover {
          color: #fff;
        }
      }

      .disabled {
        a {
          &:hover {
            background-color: #fff !important;
            color: #eaeaea;
          }
        }
      }
    }

  }

  #wrapper {
    padding-left: 270px;
    padding-right: 20px;

    #navbar-wrapper {

      left: 250px;
    }

    #page-content-wrapper {
      position: relative;
    }

    #sidebar-wrapper {

      width: 250px;
      left: 0px;
      margin-left: 0px;
      overflow-x: inherit; //scroll kapalı halı
      overflow-y: inherit;
      z-index: 2000;
      background: url("../images/primeapps/menu_background.png") !important;
      background-repeat: repeat !important;

      .sidebar-nav {
        position: relative;

        .sidebar-brand {
          padding: 20px 10px !important;
          height: 80px !important;
        }

        .tooltip {
          display: none !important;
        }

      }

      ul {
        @include hoverEffect();
      }

      .logo {
        height: 40px;
        padding: 0px;
        position: relative;

        svg {
          height: 100%;

          .st0 {
            fill: #FFF;
          }

          .st1 {
            fill: rgba(255, 255, 255, 0.75);
          }

          .st2 {
            fill: #FCAD2D;
          }

          .st3 {
            fill: #F06933;
          }

          .st4 {
            fill: #E89728;
          }

          .st5 {
            fill: #0D6FAA;
          }
        }

        .logo-icon {
          position: absolute;
          height: 100%;
          left: 11%;
        }
      }

      .sidebar-li {
        line-height: 30px;
        position: relative;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        ul {

          padding-left: 10px;

          li {
            a {
              padding: 5px 10px;

              i {
                margin-right: 0px;
              }
            }

            &:last-child {
              margin-bottom: 10px;
            }
          }
        }

        a {
          padding: 10px;
        }
      }

      .footer {
        .menu-togle {
          display: flex;
          align-items: center;

          i {
            font-size: 20px;
            color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
            width: 30px;
            text-align: center;
            margin-left: 0px;
          }

          .fa-long-arrow-alt-right {
            display: none;
          }
        }
      }
    }

    &.toggled {
      padding-left: 70px;
      padding-right: 20px;

      .sidebar-brand {
        a {
          justify-content: center;
        }
      }

      #navbar-wrapper {
        left: 50px;
        padding-left: 0px;
      }

      #page-content-wrapper {
        margin-right: 0px;
      }

      #sidebar-wrapper {
        width: 50px !important;

        .logo {
          .full-logo {
            display: none;
          }
        }

        .sidebar-nav {
          .sidebar-brand {
            padding: 20px 0px !important;
            height: 80px !important;
          }
        }

        .tooltip {
          display: block !important;
        }
        
        ul {
          padding-left: 0px;
          width: 50px;
        }

        .sidebar-li {
          &:hover {
            position: relative;
          }

          a {
            span {
              display: none;
            }
          }
        }

        .footer {
          .menu-togle {
            .fa-long-arrow-alt-right {
              display: block;
            }

            .fa-long-arrow-alt-left {
              display: none;
            }
          }
        }
      }
    }

    .setup-layout {
      padding-top: 100px;
      margin-bottom: 50px;

      .app-menu2 {
        @include hoverEffect();
        float: left;
        width: 250px;
        padding-left: 15px;
        padding-right: 15px;

        .setup-nav {
          background: #fff;
          padding: 20px 10px;
          box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
          border-radius: 5px;

          .tooltip {
            display: none !important;
          }
          li {
            border-bottom: solid 1px rgba(0, 0, 0, 0.05);
            display: flex;
            align-items: center;
            margin:0;
            a {
              font-family: Nunito;
              font-size: 14px !important;
              font-weight: bold;
              width: 90%;
              color: rgba(0, 0, 0, 0.5);
              line-height: 20px;
              padding: 10px 0px;
              display: block;
              align-items: center;
              width: 100%;

              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              span {
                margin-left: 10px;
              }

              i {
                font-size: 18px;
                width: 30px;
                text-align: center;

              }
            }

            .costume-bage {
              height: 25px;
              width: 25px;
              line-height: 15px;
              padding: 5px;
              background: rgba(0, 0, 0, 0.25);
              color: #fff;
              border-radius: 50%;
              font-size: 12px;
              font-weight: bold;
              position: absolute;
              right: 0px;
              top: 50%;
              display: block;
              text-align: center;
              transform: translate(0%, -50%);
              
            }

            &:last-child {
              border-color: transparent;
            }

            &.active {
              position: relative;
              a {
                color: $primeapps-color;
              }
              &:before {
                margin-top: 0px;
                right: -20px;
                top: 50%;
                content: " ";
                position: absolute;
                pointer-events: none;
                transform: translate(0%, -50%);
                left: auto;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 0 10px 10px;
                border-color: transparent transparent transparent #ffffff;
              }
            }
          }
          

        }

        .submenu-togle {
          width: 50px;
          padding: 20px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          .fa-long-arrow-alt-right {
            display: none;
          }
        }
      }

      .content-in2 {
        float: left;
        width: calc(100% - 250px);
        padding-left: 15px;
        padding-right: 15px;
        @include hoverEffect();
      }

      .setup-title {
        
        font-weight: bold;
        color: #0d6faa;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        h2{
          font-size: 16px;
          margin: 0px;
          font-weight: bold;
        }
        

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &.full-toggled2 {
        .content-in2 {
          width: calc(100% - 80px);
        }
        

        .app-menu2 {
          width: 80px;

          .tooltip {
            display: block !important;
          }

        }

        .setup-nav {
          li {

            .user-text,.costume-bage
            {
              display: none;
            }

            a {
              justify-content: center;
              i {

              }

              span {
                display: none;
                margin-left: 0px;
              }
            }
          }
        }

        .submenu-togle {
          .fa-long-arrow-alt-right {
            display: block;
          }

          .fa-long-arrow-alt-left {
            display: none;
          }
        }

        .sidemenu {
          button{
            width:100%;
          }
          span, h2 {
            display: none;
          }
        }
      }

    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
      background: initial !important;
      color: #0d6faa !important;
    }

    .nav > li > a:hover, .nav > li > a:focus {
      background: initial !important;
      color: #0d6faa !important;
    }

    .add-button {
      @include hoverEffect;
      border-radius: 30px;
      background-color: rgba(13, 111, 170, 0.75);
      font-weight: bold;
      color: #fff !important;
      padding: 5px 10px;
      font-size: 12px;

      &:hover {

        background-color: rgba(13, 111, 170, 1);
      }
    }

    .list-right-menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 42px;
    } 
    
  }
  .flex-between
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn
  {
    padding: 3px 10px;
    font-weight: bold;
    i
    {
      padding: 0px 5px;
    }
  }
  .list-inline
  {
    margin-bottom: 0px;
  }
  .tooltip {
    &.tooltip-info {
      .tooltip-inner {
        background: #0f1015 !important;
        color: #FFF;
        padding: 5px 10px !important;
        font-size: 12px !important;
        font-weight: bold !important;
        white-space: nowrap;

      }

      &.right {
        .tooltip-arrow {
          border-color: transparent !important;
          border-right-color: #0f1015 !important;
        }
      }

      &.top {
        .tooltip-arrow {
          border-color: transparent !important;
          border-top-color: #0f1015 !important;
        }
      }
    }
  }
}

