<md-toolbar md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="closeSide('sideModal')" aria-label="Close"><i class="fas fa-angle-left"></i></md-button>
        <h3 flex md-truncate>{{ 'Dashboard.DashletOrders' | translate}} </h3>
        <md-button ng-disabled="disableSaveBtn" ng-click="mdSidenavScope.dashletOrderSave()" class="md-icon-button btn btn-primary btn-save"><i class="fas fa-save"></i> <md-tooltip md-autohide="true" md-direction="bottom">{{'Common.Save' | translate}}</md-tooltip></md-button>
    </div>
</md-toolbar>
<md-content flex>
    <div ng-show="loadingchanges" id="inside-loader" ><div class=" spin"><div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div></div></div>
    <div ng-show="!loadingchanges" class="container-fluid paddingua20">
        <ul class="sortable-list" kendo-sortable options="sortableOptions" k-on-end="mdSidenavScope.endHandler(kendoEvent)" style="user-select: none;">
            <li ng-repeat="dashlet in mdSidenavScope.dashlets" class="sortable">
                <span>{{ dashlet.dashlet_type === 'widget' ? dashlet.widget['name_'+user.language] : dashlet.chart_item.chart['caption_'+user.language] }}</span>
            </li>
        </ul>
    </div>                
</md-content>