<md-dialog flex="33">
    <form ng-cloak class="disable-validation-msg" name="dashboardForm" kendo-validator="validator" ng-submit="saveDashboard(dashboardForm,$event)" autocomplete="off" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>{{ currentDashboard.id ? 'Dashboard.EditDashboard' : 'Dashboard.NewDashboard' | translate }}</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"><i class="fas fa-times"></i><md-tooltip md-direction="bottom">{{'Common.Cancel' | translate}}</md-tooltip></md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="form-group">
                    <label for="name" class="required"> {{'Dashboard.Name' | translate}} </label>
                    <input type="text" id="name" name="name" validationMessage="Zorunlu Alan" ng-model="currentDashboard['name_'+user.language]" class="k-textbox" placeholder=" {{'Dashboard.Name' | translate}}" required />
                </div>
                <div class="form-group">
                    <label for="description"> {{'Dashboard.Description' |  translate}} </label>
                    <input type="text" id="description" name="description" ng-model="currentDashboard['description_'+user.language]" class="k-textbox"  placeholder=" {{'Dashboard.Description' | translate}}"/>
                </div>
                <div class="form-group"   ng-if="user.profile.has_admin_rights && !currentDashboard.id">
                    <label for="description" class="required">{{'Dashboard.Profile' | translate}} </label>
                    <ul class="list-unstyled">
                        <li ng-repeat="profile in dashboardprofile" ng-if="!currentDashboard.id">
                            <input type="radio" id="profile-{{profile.id}}" class="k-radio"
                                   name="dash" required
                                   ng-model="currentDashboard.profile_id" ng-value="profile.id">
                            <label class="k-radio-label" for="profile-{{profile.id}}"> {{profile.name}} </label>
                        </li>
                    </ul>
                </div>   
                <div class="form-group"   ng-if="user.profile.has_admin_rights && currentDashboard.id && currentDashboard.profile">
                    <label for="description" class="required">{{'Dashboard.Profile' | translate}} </label>
                    <ul class="list-unstyled">
                        <li>
                            <input type="radio" id="profile-{{currentDashboard.profile_id" class="k-radio"
                                   name="dash" required
                                   disabled
                                   ng-model="currentDashboard.profile_id" ng-value="currentDashboard.profile_id">
                            <label class="k-radio-label" for="profile-{{currentDashboard.profile_id}}"> {{currentDashboard.profile['name_'+language]}} </label>
                        </li>
                    </ul>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> {{'Common.Save' | translate}}</md-button>
            <span flex></span>
        </md-dialog-actions>
    </form>
</md-dialog>