<div class="panel panel-default setup-panel menu-setup">
    <div class="panel-body">
        <div ng-show="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <div ng-show="!loading">
            <form name="menuForm" class="menuCreateForm" style="margin-top: 15px;" autocomplete="off" novalidate>
                <div class="stepwizard">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step" ng-click="step1() ? wizardStep = 0 : false">
                            <span class="btn btn-primary btn-circle">
                                <i class="fa fa-check" ng-show="wizardStep>0"></i>
                                <span ng-show="wizardStep<=0">1</span>
                            </span>
                            <p>{{'Menu.MenuInformation'|translate}}</p>
                        </div>
                        <div class="stepwizard-step" ng-click="step1() ? wizardStep = 1 : false">
                            <span class="btn btn-primary btn-circle">
                                <i class="fa fa-check" ng-show="wizardStep>1"></i>
                                <span ng-show="wizardStep<=1">2</span>
                            </span>
                            <p>{{'Menu.MenuSummary'|translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="step1" ng-show="wizardStep == 0">
                    <div class="subpanel">
                        <h5 class="subpanel-heading">1- {{'Menu.MenuInformation'|translate}}</h5>
                        <div class="subpanel-body">

                            <div class="row form-group" ng-class="{'has-error': menuForm.$submitted && menuForm.name_menu.$invalid}">
                                <label class="col-sm-3  control-label"><span class="required-field">*</span>
                                    {{'Menu.MenuName'|translate}}:</label>
                                <div class="col-sm-9">
                                    <input name="name_menu" class="form-control" maxlength="50" required ng-model="menuName" />
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-sm-3 control-label">{{'Menu.MenuDescription'|translate}}:</label>
                                <div class="col-sm-9">
                                    <textarea rows="2" name="menu_description" class="form-control" maxlength="200" auto-grow ng-model="description"></textarea>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-sm-3 control-label">{{'Menu.DefaultMenu'|translate}}:</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" name="defaultMenu" ng-model="defaultMenu" ng-click="selectRow($event,record)" ng-checked="isRowSelected(record.id) || isAllSelected" />
                                </div>
                            </div>

                            <div ng-show="!defaultMenu" class="row form-group" ng-class="{'has-error': menuForm.$submitted && menuForm.profile_name.$invalid}">
                                <label class="col-sm-3   control-label"><span class="required-field">*</span>{{'Setup.Nav.Tabs.Profiles'|translate}}:</label>
                                <div class="col-sm-9">
                                    <select class="form-control pull-left"
                                            name="profile_name"
                                            ng-model="profileItem"
                                            ng-required="!defaultMenu"
                                            ng-options="o as o['name'] for o in newProfiles | filter:{deleted:'!true'}">
                                        <option value="">{{'Common.Select' | translate}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" ng-show="menuForm.$submitted && (menuForm.profile_name.$error.required || menuForm.name_menu.$error.required)">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="callout callout-danger">
                                        <p ng-if="(menuForm.name_menu.$error.required && menuForm.profile_name.$error.required)">{{'Menu.RequiredError' | translate}}</p>
                                        <p ng-if="!menuForm.name_menu.$error.required && menuForm.profile_name.$error.required">{{'Menu.ProfileRequiredError' | translate}}</p>
                                        <p ng-if="!menuForm.profile_name.$error.required && menuForm.name_menu.$error.required">{{'Menu.MenuNameRequiredError' | translate}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wizard-buttons text-right" style="margin: 10px;">
                            <a href="#/app/setup/menu_list" class="btn btn-custom">{{'Common.Cancel' | translate}}</a>
                            <button type="button" class="btn btn-primary btn-w-sm" ng-click="step1();">{{'Common.Next' | translate}} <i class="fa fa-angle-right pull-right" style="margin-top: 3px;"></i></button>
                        </div>
                    </div>
                </div>

                <div class="step2" ng-show="wizardStep == 1">
                    <div class="subpanel">
                        <h5 class="subpanel-heading">2- {{'Menu.MenuSummary'|translate}} </h5>
                        <div ng-show="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
                        <div ng-show="!loading">
                            <div class="subpanel-body">
                                <div class="row form-group">
                                    <label class="control-label col-sm-3 ">{{'Menu.MenuElementType'|translate}}:</label>
                                    <div class="col-sm-5">
                                        <label class="radio-inline">
                                            <input type="radio" ng-change="radioChange()" ng-checked="true" ng-model="module.display" ng-value="false"> {{'Menu.EnterLabel'|translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-change="radioChange()" ng-model="module.display" ng-value="true"> {{'Menu.CurrentMenu'|translate}}
                                        </label>
                                    </div>
                                </div>

                                <div ng-show="module.display" class="row form-group">
                                    <label class="control-label col-sm-3">{{'Menu.Modules'|translate}}:</label>
                                    <div class="col-sm-5">
                                        <select
                                                class="form-control ng-animate-disabled"
                                                name="module_name"
                                                ng-model="moduleItem"
                                                ng-options="o as o['label_' + language + '_plural'] for o in newModuleList | filter:{display:'!false'} | orderNotZero | orderBy:'order'">
                                            <option value="">{{'Common.Select' | translate}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div ng-show="!module.display" class="row form-group">
                                    <label class="control-label col-sm-3">{{'Menu.CategoryName' | translate}}:</label>
                                    <div class="col-sm-5">
                                        <input name="name" class="form-control" maxlength="50" ng-model="menuItem" />
                                    </div>
                                </div>

                                <div ng-show="!module.display" class="row form-group">
                                    <label class="control-label col-sm-3">{{'Menu.Icon' | translate}}:</label>
                                    <div class="col-sm-5">
                                        <button type="button" data-container="form" class="form-control btn btn-default" name="icon"
                                                data-placeholder="{{'Menu.Icon' | translate}}-" ng-model="menu_icon"
                                                data-html="1" data-toggle="true" bs-options="icon.value as icon.label for icon in icons"
                                                bs-select><span class="caret"></span></button>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" ng-click="addItem()" ng-disabled=" !menuItem && !moduleItem " class="btn btn-primary btn-w-md"><i class="fa fa-plus pull-left"></i> {{'Common.Add' | translate}}</button>
                                    </div>
                                </div>
                                <legend />
                                <div ng-if="!menuLists.length >= 1 && deleteArray.length <= 1 && id" clas="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i>
                                </div>
                                <div ng-show="menuLists.length >0">
                                    <ol ng-model="menuLists" class="custom-menu">
                                        <li style="margin-top: 10px; list-style-type: none;" ng-repeat="menuList in menuLists">
                                            <!--<div class="tree-node tree-node-content">-->
                                            <div class="row form-group menu-list">
                                                <span class="action-buttons arrow">
                                                    <span ng-if="!$first" class="" ng-click="up($index,menuList.no)"> <i class="fa fa-angle-up" aria-hidden="true"></i></span>
                                                    <span ng-if="!$last" class="" ng-click="down($index,menuList.no)"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                                </span>

                                                <span class="menu-label">{{menuList.no+'. '+(!menuList.isEdit ? (menuList.name ) : "")}}</span>
                                                <span ng-show="menuList.isEdit">
                                                    <input class="form-control ng-animate-disabled" maxlength="50" ng-model="menuList.name" />
                                                    <button style="width:170px;" type="button" data-container="form" class="form-control btn btn-default ng-animate-disabled" name="icon"
                                                            data-placeholder="{{'Common.Icon' | translate}}-" ng-model="menuList.icon"
                                                            data-html="1" data-toggle="true" bs-options="icon.value as icon.label for icon in icons"
                                                            bs-select><span class="caret"></span></button>
                                                    <div class="editable-buttons" ng-class="{'col-sm-3': section.column_count === 2, 'col-sm-1':section.column_count === 1}" style="padding: 0; text-align: right;">
                                                        <button type="button" class="btn btn-primary" ng-click="update(menuList.no,menuList.icon)"><i class="fa fa-check"></i></button>
                                                    </div>
                                                </span>
                                                <span class="action-buttons">
                                                    <a style="color:#a3be8c; font-size: 10px !important; line-height: 14px !important;" href="#/app/setup/menu?id={{id}}" ng-if="menuList.menuModuleType === 'Tanım Giriş' && !menuList.isEdit" ng-click="addModule(menuList.no)" class="action-icon add-role-button" data-nodrag>
                                                        {{'Common.Add' | translate}}
                                                    </a>
                                                    <span ng-if="menuList.menuModuleType === 'Tanım Giriş' && !menuList.isEdit"> | </span>
                                                    <a style="color:#8FA5C7; cursor: pointer; font-size: 10px !important; line-height: 14px !important;" ng-if="!menuList.isEdit" ng-click="edit(menuList.no)" class="action-icon edit-role-button" data-nodrag>
                                                        {{'Common.Edit' | translate}}
                                                    </a>
                                                    <span ng-if=" !menuList.isEdit"> | </span>
                                                    <a style="color:#c78389; font-size: 10px !important; line-height: 14px !important; " ng-show="!menuList.isEdit" href class="action-icon delete-role-button" ng-click="remove_(menuList.menuId, menu.no, $index, menuList.menuModuleType)" data-nodrag>
                                                        {{'Common.Delete' | translate}}
                                                    </a>
                                                 </span>
                                            </div>
                                            <ol class="fa-ul" ng-model="menuList.items" class="custom-menu">
                                                <li style="font-size: 13px;" ng-repeat="menu in menuList.items">
                                                    <div class="row form-group menu-list">
                                                        <span class="action-buttons arrow">
                                                            <span ng-if="!$first && menu.name" class="" ng-click="up($index,menuList.no,menu.no)"><i class="fa fa-angle-up" aria-hidden="true"></i> </span>
                                                            <span ng-if="!$last && menu.name" class="" ng-click="down($index,menuList.no,menu.no)"> <i class=" fa fa-angle-down" aria-hidden="true"></i> </span>
                                                        </span>
                                                        <span class="menu-label" ng-show="!menu.isEdit && menu.name">{{ menu.menuId + '.' + menu.no+'. '+ menu.name}}</span>
                                                        <span ng-show="menu.isEdit">
                                                            <input class="form-control" maxlength="50" ng-model="menu.name" />
                                                            <button style="width: 170px;" type="button" data-container="form" class="form-control btn btn-default" name="icon"
                                                                    data-placeholder="{{'Common.Icon' | translate}}-" ng-model="menu.icon"
                                                                    data-html="1" data-toggle="true" bs-options="icon.value as icon.label for icon in icons"
                                                                    bs-select><span class="caret"></span></button>
                                                            <div class="editable-buttons" ng-class="{'col-sm-3': section.column_count === 2, 'col-sm-1':section.column_count === 1}" style="padding: 0; text-align: right;">
                                                                <button type="button" class="btn btn-primary" ng-click="update(menuList.no,menu.icon,menu.no)"><i class="fa fa-check"></i></button>
                                                            </div>
                                                        </span>
                                                        <span class="action-buttons">
                                                                <a style="color:#8FA5C7; cursor: pointer; font-size: 10px !important; line-height: 14px !important;" ng-if="!menu.isEdit && menu.name" ng-click="edit(menuList.no,menu.no)" class="action-icon edit-role-button" data-nodrag>
                                                                     {{'Common.Edit' | translate}}
                                                                </a>
                                                                <span ng-if=" !menu.isEdit && menu.name"> | </span>
                                                                <a style="color:#c78389; font-size: 10px !important; line-height: 12px !important;" ng-show="!menu.isEdit && menu.name" href class="action-icon delete-role-button" ng-click="remove_(menu.menuId, menu.no, $index, menu.menuModuleType)" data-nodrag>
                                                                    {{'Common.Delete' | translate}}
                                                                </a>
                                                            </span>
                                                        <select
                                                                class="form-control ng-animate-disabled"
                                                                name="name"
                                                                ng-model="menuModuleList"
                                                                ng-change="selectModule(menu.menuId, menu.no, menuModuleList)"
                                                                ng-show="!menu.isEdit && !menu.name"
                                                                ng-options="o as o['label_' + language + '_plural'] for o in newModuleList | filter:{display:'!false'} | orderNotZero | orderBy:'order'">
                                                            <option value="">{{'Common.Select' | translate}}</option>
                                                        </select>
                                                        <a style="color:#c78389; font-size: 10px !important; line-height: 14px !important; " ng-show="!menu.isEdit && !menu.name" href class="action-icon delete-role-button" ng-click="remove_(menu.menuId, menu.no, $index, menu.menuModuleType)" data-nodrag>
                                                            {{'Common.Delete' | translate}}
                                                        </a>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                        <div class="wizard-buttons text-right" style="margin:10px;">
                            <a href="#/app/setup/menu_list" class="btn btn-custom">{{'Common.Cancel' | translate}}</a>
                            <button type="button" class="btn btn-primary btn-w-sm" ng-click="wizardStep = 0">{{'Common.Previous' | translate}} <i class="fa fa-angle-left pull-left" style="margin-top: 3px;"></i></button>
                            <button type="submit" ng-click="save(menuLists,profileItem.id)" ng-disabled="menuLists.length < 1 " class="btn btn-primary btn-w-md"><i class="fa fa-check-circle pull-left"></i> {{'Common.Save' | translate}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>