<div class="panel panel-default setup-panel profiles">
    <div class="panel-body">
        <div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <div ng-show="!loading">
            <div class="subpanel">
                <h5 class="subpanel-heading">{{'Menu.MenuSettings'|translate}}</h5>
                <div class="subpanel-body">
                    <div class="text-right">
                        <a href="#/app/setup/menu" class="btn btn-custom btn-sm btn-w-lg pull-right"><i class="fa fa-plus pull-left"></i> {{'Menu.NewMenu'|translate}}</a>
                    </div>
                    <div class="empty-message" ng-show="!loading && menuList.length <= 0">{{'Common.EmptyMessage' | translate}}</div>
                    <div ng-show="!loading && menuList.length > 0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{'Menu.MenuName'|translate}}</th>
                                    <th>{{'Menu.ProfileName'|translate}}</th>
                                    <th>{{'Menu.DefaultMenu'|translate}}</th>
                                    <th class="action-column"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in menuList | orderBy:'!default'">
                                    <td class="profile-name"><a href="#/app/setup/menu?id={{item.id}}">{{item.name}}</a></td>
                                    <td><p>{{item.profile_name}}</p></td>
                                    <td><p ng-show="item.default">{{'Menu.DefaultValurTrue'|translate}} </p>
                                        <p ng-show="!item.default">{{'Menu.DefaultValurFalse'|translate}}</p>
                                    </td>
                                    <td class="text-right">
                                        <button id="actionButton-{{item.name}}" ng-disabled="user.isDemo" class="btn btn-xs btn-default list-action-button" ng-click="openDropdown(item)"><i class="fa fa-caret-down"></i></button>
                                    </td>
                                    <!--<td class="text-right">-->
                                    <!--<a href="#/app/setup/menu?id={{item.id}}" class="btn btn-xs btn-custom">{{'Common.Edit' | translate}}</a>-->
                                    <!--<a href="#/app/setup/menu?id={{item.id}}&clone=true" class="btn btn-xs btn-custom">{{'Common.Copy' | translate}}</a>-->
                                    <!--<button ng-show="!item.default" type="button" class="btn btn-xs btn-custom" confirm-click data-placement="left" action="delete(item.id)" confirm-message="{{'Common.AreYouSure' | translate}}" confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}">{{'Common.Remove' | translate}}</button>-->
                                    <!--</td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


