<div class="directory">
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-show="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
            <div class="row" ng-show="!loading">
                <div class="subpanel-left">
                    <div class="subpanel">
                        <div class="subpanel-body">
                            <div ng-click="goto()" ng-class="{'active-profile': !id}">
                                <div class="profile-picture">
                                    <div class="profile-picture-img" ng-style="{'background-image': 'url(' + (record.fotograf ? ($root.config.imageUrl + record.fotograf) : 'images/user-image.png') + ')'}">
                                    </div>
                                </div>
                                <div class="title-name">
                                    {{record.ad_soyad}}
                                </div>
                                <div class="title-job-title">
                                    {{record.unvan}}
                                </div>
                            </div>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>{{getFieldLabel('departman')}}</b><span class="pull-right">{{record.departman}}</span>
                                </li>
                                <li class="list-group-item">
                                    <b>{{getFieldLabel('cep_telefonu')}}</b><span class="pull-right"> <a
                                        href="tel:{{record.cep_telefonu}}">{{record.cep_telefonu}}</a> </span>
                                </li>
                                <li class="list-group-item" ng-if="getField('ozel_cep_telefonu')">
                                    <b>{{getFieldLabel('ozel_cep_telefonu')}}</b><span class="pull-right"><a
                                        href="tel:{{record.ozel_cep_telefonu}}"> </a></span>
                                </li>
                                <li class="list-group-item" ng-if="getField('is_telefonu')">
                                    <b>{{getFieldLabel('is_telefonu')}}</b><span class="pull-right"><a
                                        href="tel:{{record.is_telefonu}}"> </a></span>
                                </li>
                                <li class="list-group-item">
                                    <b>{{getFieldLabel('e_posta')}}</b><span class="pull-right"><a
                                        href="mailto:{{record.e_posta}}">{{record.e_posta}}</a> </span>
                                </li>
                                <li class="list-group-item">
                                    <b>{{getFieldLabel('lokasyon')}}</b><span class="pull-right">{{record.lokasyon}}</span>
                                </li>
                                <li class="list-group-item">
                                    <b>{{getFieldLabel('sube')}}</b><span class="pull-right">{{record.sube}}</span>
                                </li>
                            </ul>
                            <a ng-if="record.calisan_id" href="#/app/crm/module/calisanlar?id={{record.calisan_id}}"
                               class="all-info" ng-show="showInfo">{{'Directory.ShowAllMyInfo' | translate}}</a>
                        </div>
                    </div>
                    <a href onclick="window.history.go(-1); return false;" class="btn btn-sm btn-custom" ng-show="showBack"><i class="fa fa-chevron-left"></i> {{'Common.Back' | translate}}</a>
                </div>
                <div class="subpanel subpanel-right" ng-show="managerFirst">
                    <div class="subpanel-heading">{{id ? ('Directory.Manager' | translate) : ('Directory.MyManager' | translate)}}</div>
                    <div class="subpanel-body">
                        <div class="teammate clearfix" ng-click="goto(managerFirst.id)">
                            <span class="teammate-img" ng-style="{'background-image': 'url(' + (managerFirst.fotograf ? ($root.config.imageUrl + managerFirst.fotograf) : 'images/user-image.png') + ')'}"></span>
                            <span class="teammate-name">{{managerFirst.ad_soyad}}</span>
                            <span class="temamate-job-title">{{managerFirst.unvan}}&nbsp;</span>
                        </div>
                    </div>
                </div>
                <div class="subpanel subpanel-right" ng-show="peers.length">
                    <div class="subpanel-heading">{{id ? ('Directory.Peers' | translate) : (directReports.length ? ('Directory.Peers' | translate) : ('Directory.MyTeammate' | translate))}}</div>
                    <div class="subpanel-body">
                        <div class="teammate clearfix" ng-click="goto(peer.id)" ng-repeat="peer in peers">
                            <span class="teammate-img" ng-style="{'background-image': 'url(' + (peer.fotograf ? ($root.config.imageUrl + peer.fotograf) : 'images/user-image.png') + ')'}"></span>
                            <span class="teammate-name">{{peer.ad_soyad}}</span>
                            <span class="temamate-job-title">{{peer.unvan}}</span>
                        </div>
                        <!--<div>-->
                        <!--<a href="#" class="all-info">{{'Directory.ShowAll' | translate}}</a>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="subpanel subpanel-right" ng-show="directReports.length">
                    <div class="subpanel-heading">{{id ? ('Directory.DirectReports' | translate) : ('Directory.DirectReportsToMe' | translate) }}</div>
                    <div class="subpanel-body">
                        <div class="teammate clearfix" ng-click="goto(directReport.id)" ng-repeat="directReport in directReports">
                            <span class="teammate-img" ng-style="{'background-image': 'url(' + (directReport.fotograf ? ($root.config.imageUrl + directReport.fotograf) : 'images/user-image.png') + ')'}"></span>
                            <span class="teammate-name">{{directReport.ad_soyad}}</span>
                            <span class="temamate-job-title">{{directReport.unvan}}</span>
                        </div>
                        <!--<div>-->
                        <!--<a href="#" class="all-info">{{'Directory.ShowAll' | translate}}</a>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>