<div class="modal setup-modal" tabindex="-1" role="dialog">
    <form name="profileForm" class="form-horizontal form-custom" ng-submit="submit(profileForm);" autocomplete="off" novalidate>
        <div class="modal-header">
            <div class="col-sm-8">
                <h4 class="modal-title">Profil Bilgileri</h4>
            </div>
            <div class="col-sm-6 col-sm-rigth">
                <button type="button" class="btn btn-radius btn-gray " ng-disabled="saving" ng-click="profileFormModal.hide();">
                    <i class="fas fa-times margin-right-10"></i>{{'Common.Cancel' | translate}}
                </button>
                <button type="submit" class="btn btn-radius btn-blue " style="margin-left: 5px" ladda="saving">
                    <i class="fas fa-save margin-right-10"></i>{{'Common.Save' | translate}}
                </button>
            </div>
        </div>
        <!--<div ng-class=" id ? 'modal-dialog modal-900' : 'modal-dialog modal-600'">-->
        <div class="modal-dialog modal-800">
            <div class="modal-content">
                <div class="modal-contanier">
                    <div id="field-form-body" class="modal-body">
                        <div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
                            <div class="panel">
                                <div class="form-group" ng-class="{'has-error': roleForm.$submitted && roleForm.name.$invalid}">
                                    <label class="col-sm-12 control-label">*{{'Setup.Profiles.ProfileName' | translate}}:</label>
                                    <input type="text" name="name" class="form-control col-sm-8" maxlength="50" required ng-model="profile.name" ng-change="profileForm['name'].$setValidity('unique', true)" ng-disabled="profile.is_persistent" />
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">{{'Setup.Profiles.ProfileDescription' | translate}}</label>
                                    <textarea rows="2" name="description" class="form-control col-sm-8" maxlength="255" auto-grow ng-model="profile.description" ng-disabled="profile.is_persistent"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">{{'Setup.Profiles.Permissions' | translate}} :</label>
                                    <div class="col-sm-12">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>{{'Setup.Profiles.Module' | translate}}</th>
                                                        <th class="text-center">{{'Setup.Profiles.PermissionRead' | translate}}</th>
                                                        <th class="text-center">{{'Setup.Profiles.PermissionModify' | translate}}</th>
                                                        <th class="text-center">{{'Setup.Profiles.PermissionWrite' | translate}}</th>
                                                        <th class="text-center">{{'Setup.Profiles.PermissionRemove' | translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="permission in profile.permissions">
                                                        <td class="text-uppercase">{{permission.EntityTypeName}}</td>
                                                        <td class="text-center user-not-select"><label class="ui-checkbox"><input type="checkbox" ng-model="permission.read" ng-disabled="profile.is_persistent" ng-click="!permission.read ? permission.modify = false : ''; !permission.read ? permission.write = false : ''; !permission.read ? permission.remove = false : '';" /><span></span></label></td>
                                                        <td class="text-center user-not-select"><label class="ui-checkbox"><input type="checkbox" ng-model="permission.modify" ng-disabled="profile.is_persistent || permission.type === 3" ng-click="permission.modify ? permission.read = true : '';" /><span></span></label></td>
                                                        <td class="text-center user-not-select"><label class="ui-checkbox"><input type="checkbox" ng-model="permission.write" ng-disabled="profile.is_persistent" ng-click="permission.write ? permission.read = true : '';" /><span></span></label></td>
                                                        <td class="text-center user-not-select"><label class="ui-checkbox"><input type="checkbox" ng-model="permission.remove" ng-disabled="profile.is_persistent || permission.type === 3" ng-click="permission.remove ? permission.read = true : '';" /><span></span></label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">{{'Setup.Profiles.PermissionsOther' | translate}}</label>
                                    <div class="col-sm-12">
                                        <label class="ui-checkbox"><input type="checkbox" ng-model="profile.has_admin_rights" ng-disabled="profile.is_persistent" /><span>{{'Setup.Profiles.PermissionSystem' | translate}}</span></label>
                                        <label class="ui-checkbox"><input type="checkbox" ng-model="profile.send_email" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.PermissionEmail' | translate}}</span></label>
                                        <label class="ui-checkbox"><input type="checkbox" ng-model="profile.send_sms" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.PermissionSMS' | translate}}</span></label>
                                        <label class="ui-checkbox"><input type="checkbox" ng-model="profile.export_data" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.PermissionExportData' | translate}}</span></label>
                                        <label class="ui-checkbox"><input type="checkbox" ng-model="profile.import_data" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.PermissionImportData' | translate}}</span></label>
                                        <label class="ui-checkbox"><input type="checkbox" ng-model="profile.word_pdf_download" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.WordPdfDownload' | translate}}</span></label>
                                        <label class="ui-checkbox"><input type="checkbox" ng-model="profile.document_search" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.DocumentSearch' | translate}}</span></label>
                                        <label class="ui-checkbox" ng-if="moduleLead"><input type="checkbox" ng-model="profile.lead_convert" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.LeadConvert' | translate}}</span></label>
                                        <label class="ui-checkbox">
                                            <input type="checkbox" ng-model="profile.tasks"
                                                   ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.Tasks' | translate}}</span>
                                        </label>
                                        <label class="ui-checkbox">
                                            <input type="checkbox" ng-model="profile.calendar"
                                                   ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.Calendar' | translate}}</span>
                                        </label>
                                        <!--<label class="ui-checkbox"><input type="checkbox" ng-model="profile.newsfeed"
                                                                          ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.Newsfeed' | translate}}</span></label>-->
                                        <label class="ui-checkbox"><input type="checkbox" ng-model="profile.dashboard" ng-disabled="profile.has_admin_rights" /><span>Pano</span></label>
                                        <label class="ui-checkbox" ng-if="moduleRehber">
                                            <input type="checkbox"
                                                   ng-model="profile.home"
                                                   ng-disabled="profile.has_admin_rights" /><span>{{'Common.Homepage' | translate}}</span>
                                        </label>

                                        <label class="ui-checkbox" ng-if="moduleIzinler">
                                            <input type="checkbox"
                                                   ng-model="profile.collective_annual_leave"
                                                   ng-disabled="profile.has_admin_rights" /><span>{{'Leave.CollectiveAnnualLeave' | translate}}</span>
                                        </label>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': roleForm.$submitted && roleForm.name.$invalid}">
                                        <label class="col-sm-5 control-label">*{{'Setup.Profiles.StarPage' | translate}}:</label>
                                        <select class="form-control"
                                                ng-model="profile.PageStart"
                                                ng-change="SetStartPage()"
                                                ng-options="item.name for item in startPageList">
                                            <option value="">{{'Common.Select' | translate}}</option>
                                        </select>

                                        <div class="form-group" ng-show="roleForm.$submitted && roleForm.$invalid">
                                            <div class="col-sm-12">
                                                <div class="callout callout-danger">
                                                    <p ng-if="roleForm.$error.required">{{'Module.RequiredError' | translate}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
