@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layout" ui-view></div>
<div id="loader" style="display: none;">
    <div  class="page-loading">
        <img width="500" height="500" src="images/primeapps/loading-animation.gif" />
    </div>
</div>
<toast></toast>