[Unit]
Description=Gitea-PDE
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{USER}}
ExecStart={{PROGRAMS}}/gitea/gitea web --config {{PROGRAMS}}/gitea/app.ini

[Install]
WantedBy=multi-user.target