<div class="setup-title">
    <h2>
        {{
selectedCollaborator ?
    selectedCollaborator.full_name:'Collaborators'
        }}
    </h2>
    <div>
        <ul class="list-unstyled list-inline">
            <li ng-show="!selectedCollaborator">
                <button class="btn add-button" ng-click="addNewCollaborator()">
                    <i class="fas fa-plus"></i> Add New Collaborator
                </button>
            </li>
            <li ng-show="selectedCollaborator">
                <button class="btn add-button btn-red" ng-click="delete(teamId)">
                    <i class="fas fa-trush"></i> Delete
                </button>
            </li>
            <li ng-show="selectedCollaborator">
                <button class="btn add-button btn-blue" ng-click="addNewTeam(teamId)">
                    <i class="fas fa-plus"></i> Edit
                </button>
            </li>
        </ul>

    </div>
</div>
<!--<form ng-submit="save()" ng-show="!selectedCollaborator">
    <div class="search-input">
        <div class="search-input-icon">
            <i class="fas fa-user-plus"></i>
        </div>
        <input ng-model="newUserEmail" placeholder="Invite collaborators by email"
               class="form-control form-control-lg form-control-borderless app-search-input ng-pristine ng-valid ng-empty ng-touched required-field"
               type="email" style="" required>
    </div>
    <br />
</form>-->
<div class="tab-content" ng-show="!selectedCollaborator">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th style="min-width: 110px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in collaboratorArray" ng-click="selectCollaborators(user.id)">
                <td>
                    <div class="user-info">
                        <div class="user-image">
                            <!--<image src="" />-->
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="user-text">
                            <h2 class="ng-binding">{{user.full_name}}</h2>
                            <h3 class="ng-binding">{{user.email}}</h3>
                        </div>
                    </div>
                </td>
                <td>{{user.role ? user.role:'-'}}</td>
                <td class="text-right">
                    <div class="action-buttons-block">
                    <button ng-click="$event.stopPropagation();" type="button" class="action-buttons-delete" confirm-click data-placement="left"
                            action="delete(user.id)" confirm-message="{{'Common.AreYouSure' | translate}}"
                            confirm-yes="{{'Common.Yes' | translate}}"
                            confirm-no="{{'Common.No' | translate}}">
                        <i class="fas fa-trash"></i>
                    </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-pagination">
        <div>
            <nav aria-label="Page navigation">
                <div paging
                     text-first="&laquo;"
                     ul-class="pagination"
                     active-class="active"
                     page="tabelPagination.currentPage"
                     page-size="tabelPagination.pageSize"
                     total="tabelPagination.total"
                     disabled="true"
                     scroll-top="true"
                     hide-if-empty="true"
                     show-prev-next="true"
                     show-first-last="true"
                     text-next-class="fas fa-step-backward"
                     text-prev-class="glyphicon glyphicon-chevron-left"
                     text-first-class="fas fa-step-backward"
                     text-last-class="glyphicon glyphicon-forward"
                     paging-action="foo('bar', page)">
                </div>
            </nav>
        </div>
        <div>
            <span class="pagination-span">Items per page  </span>
            <select ng-model="requestModel.limit" class="items-per-page-select" ng-change="changeOffset()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
        </div>
    </div>
</div>


<div ng-show="selectedCollaborator" class="col-sm-5 collaborator-info" style="background: #fff;
padding: 100px;">
    <div class="tab-content" ng-show="selectedCollaborator">
        <div class="row">
            <div class="col-sm-12 image-upload text-center">
                <i class="fas fa-user-circle fa-9x"></i>
            </div>
            <div class="col-sm-12 user-info text-center">
                <h2> {{selectedCollaborator.email}}</h2>
                <h3>Joined :{{selectedCollaborator.created_at}}</h3>
            </div>

            <div class="dropdown col-sm-12">
                <div class="dropdown-input" data-animation="am-flip-x" bs-dropdown
                     aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-text ">
                        <h4>Administrator</h4>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <ul class="dropdown-menu" style="width:  calc(100% - 2em);   margin-top: 0;" role="menu">
                    <li><a ng-click="$alert('Holy guacamole')">Administrator</a></li>
                    <li>
                        <a ng-click="$alert('Holy guacamole')">Collaborator</a>
                    </li>

                </ul>
            </div>

        </div>

        <div class="col-sm-12 text-center">
            <br>
            <button class="btn btn-red btn-radius">Remove from organization</button>
        </div>
    </div>

</div>
