<div class="setup-title">
    <h2>{{'Menu.MenuSettings'|translate}}</h2>
    <button class="btn add-button" ng-click="showFormModal()"><i class="fas fa-plus"></i> {{'Menu.NewMenu'|translate}}</button>
</div>

<div class="tab-content">
    <table class="table">
        <thead>
            <tr>
                <th>{{'Menu.MenuName'|translate}}</th>
                <th>{{'Menu.ProfileName'|translate}}</th>
                <th>{{'Menu.DefaultMenu'|translate}}</th>
                <th class="action-column"></th>
            </tr>
        </thead>
        <div ng-show="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <tbody ng-show="!loading">
            <tr ng-repeat="item in menuList | orderBy:'!default'">
                <td class="profile-name"><a ng-click="showFormModal(item.id)">{{item.name}}</a></td>
                <td><p>{{item.profile_name}}</p></td>
                <td><p ng-show="item.default">{{'Menu.DefaultValueTrue'|translate}} </p>
                    <p ng-show="!item.default">{{'Menu.DefaultValueFalse'|translate}}</p>
                </td>
                <td class="text-right">
                    <div class="action-buttons-block">
                        <button ng-click="$event.stopPropagation();" type="button" data-toggle="dropdown"
                                class="btn btn-xs btn-default list-action-button"
                                placement="bottom-right"
                                data-animation="am-flip-x"
                                bs-dropdown
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="showFormModal(item.id)">{{'Common.Edit' | translate}} </a>
                            </li>
                            <li>
                                <a ng-click="showFormModal(item.id, true)">{{'Common.Copy' | translate}}</a>
                            </li>
                            <li>
                                <a href="#" confirm-click ng-click="delete(item.id)" placement="left"
                                   confirm-message="{{'Common.AreYouSure' | translate}}"
                                   confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}">
                                    {{'Common.Remove' | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-pagination">
        <div>
            <nav aria-label="Page navigation">
                <div paging
                     text-first="&laquo;"
                     ul-class="pagination"
                     active-class="active"
                     page="requestModel.offset"
                     page-size="requestModel.limit"
                     total="pageTotal"
                     scroll-top="true"
                     hide-if-empty="true"
                     show-prev-next="true"
                     show-first-last="true"
                     text-next-class="fas fa-chevron-right"
                     text-prev-class="fas fa-chevron-left"
                     text-first-class="fas fa-step-backward"
                     text-last-class="fas fa-step-forward"
                     paging-action="changePage(page)">
                </div>
            </nav>
        </div>
        <div>
            Total Menus {{pageTotal}}
        </div>
        <div>
            <span class="pagination-span">Items per page  </span>
            <select ng-model="requestModel.limit" class="items-per-page-select" ng-change="changeOffset()">
                <option ng-selected="true" value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
        </div>
    </div>
