<div class="page document-search-list">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h4 class="pull-left">{{'Documents.AdvancedDocumentSearch' | translate}}</h4>
        </div>
        <div class="panel-body">
            <div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
            <div class="col-md-8 document-search-area">
                <i ng-show="!searched || documents.length < 1" class="fa fa-search document-search-icon"></i>
                <div ng-show="!loading" class="col-md-12">
                    <div class="list-group table-list-custom box-shadow" ng-show="documents.length > 0">
                        <div class="list-group-item clearfix" ng-repeat="document in documents | orderBy:'-score' track by $index">
                            <h4 class="list-group-item-heading">{{document.meta.viewfilename}}</h4>
                            <p class="list-group-item-text">
                            <pre ng-repeat="highlight in document.highlights track by $index" ng-bind-html="highlight"></pre>
                            </p>
                            <span class="pull-right">
                                <span class="label label-xs label-info-alt">{{'Documents.Score' | translate}}: {{document.score}}</span>
                                <span class="label label-xs label-info">{{'Common.Module' | translate}}: {{(modulesList | filter:{name:document.meta.module})[0]["label_" + language + "_plural"]}}</span>
                                <button ng-click="downloadDocument(document.meta.fullfilename,document.meta.viewfilename,document.meta.module,document.meta.recordid)" class="btn btn-xs btn-warning"><i class="fa fa-download"></i> {{'Common.Download' | translate}}</button>
                                <a href="#/app/crm/module/{{document.meta.module}}?id={{document.meta.recordid}}" target="_blank" class="btn btn-xs btn-info"><i class="fa fa-external-link"></i> {{'Documents.OpenRecord' | translate}}</a>
                            </span>
                        </div>
                    </div>
                    <div class="text-center" ng-show="documents.length >=50">
                        <i class="fa fa-sm fa-spinner fa-pulse" ng-if="bottomloading"></i>
                        <a ng-show="!bottomloading" href class="btn btn-sm btn-default" ng-click="applyFilter(50, documents.length,false,true)">{{'Filter.ShowMore' | translate}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-custom">
                <div class="search-result-header">
                    <span ng-if="!searched">{{'Filter.NoSearchStarted' | translate}}</span>
                    <span ng-if="searched" ng-bind-html="searchResult"></span>
                </div>
                <div class="search-result-header">
                    <select class="form-control"
                            name="searchModule"
                            tabindex="1"
                            required
                            ng-model="searchModule"
                            ng-options="o as o['label_' + language + '_singular'] for o in modulesList | filter:{display:'!false'}:true | orderNotZero | orderBy:'order'">
                        <option value="">{{'Filter.SearchModule' | translate}}</option>
                    </select>
                </div>
                <table class="table table-custom table-document-filter">
                    <thead>
                        <tr>
                            <th>{{'Filter.SearchText' | translate}}</th>
                            <th>{{'Filter.Query' | translate}}</th>
                            <th>{{'Filter.Operator' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="parameter in searchParameters">
                            <td>
                                <input type="text" class="form-control" required ng-model="parameter.searchText" tabindex="2" maxlength="500" />
                            </td>
                            <td>
                                <select class="form-control"
                                        name="selectedQuery"
                                        tabindex="1"
                                        required
                                        ng-model="parameter.selectedQueryOperator">
                                    <option value="">{{'Filter.Select' | translate}}</option>
                                    <option value="startsWith">{{'Filter.StartsWith' | translate}}</option>
                                    <option value="equals">{{'Filter.Equals' | translate}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control"
                                        name="selectedOperator"
                                        tabindex="1"
                                        required
                                        ng-model="parameter.selectedOperator">
                                    <option value="">{{'Filter.None' | translate}}</option>
                                    <option value="or">{{'Filter.Or' | translate}}</option>
                                    <option value="and">{{'Filter.And' | translate}}</option>
                                </select>
                            </td>
                            <td>
                                <a href ng-show="searchParameters.length > 1" ng-click="searchParameterRemove(parameter)"><i class="fa fa-minus-square"></i></a>
                                <a href ng-show="$last" ng-click="searchParameterAdd(parameter)"><i class="fa fa-plus-square"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="filter-warning-area">
                    <span class="validation-error">
                        {{errorAddingFilter}}
                    </span>
                </div>
                <div class="search-form-buttons">
                    <button name="filterApply" ng-click="applyFilter(50,0,true,false)" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> {{'Filter.Apply'| translate}}</button>
                    <button name="filterClear" ng-click="resetSearchParameters();" class="btn btn-default btn-sm">{{'Filter.Reset'| translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>