<div class="modal setup-modal" tabindex="-1" role="dialog">
    <div class="modal-header">
        <div class="col-sm-6"><h4 class="modal-title">{{'Setup.Modules.EditField' | translate}}</h4></div>
        <div class="col-sm-6 col-sm-rigth">
            <button type="button" class="btn btn-radius btn-gray"
                    ng-click="cancel(); $parent.showAdvancedOptions = false;">
                {{
'Common.Cancel' |
                translate
                }}
            </button>
            <button type="button" class="btn btn-radius btn-blue" ng-click="save();">
                <i class="fa fa-check-circle pull-left"></i> {{'Common.Save' | translate}}
            </button>
        </div>

    </div>
    <div class="modal-dialog modal-900">
        <div class="modal-content">
            <div class="col-sm-2 modal-left-menu">
                <ul class="nav bs-sidenav" bs-scrollspy-list>
                    <li><a ng-class="{'active':wizardStep==0}" ng-click="validate(workflowForm) ? wizardStep = 0 : false">{{'Setup.Workflow.ApprovelProcess.RuleInformation' | translate}}</a></li>
                    <li><a ng-class="{'active':wizardStep==1}" ng-click="validate(workflowForm) ? wizardStep = 1 : false">{{'Setup.Workflow.FilterCriteria' | translate}}</a></li>
                    <li><a ng-class="{'active':wizardStep==2}" ng-click="validate(workflowForm) ? wizardStep = 2 : false">{{'Setup.Workflow.ApprovelProcess.Approvers' | translate}}</a></li>
                    <li><a ng-class="{'active':wizardStep==3}" ng-click="(lastStepClicked && workflowForm.$valid && validate(workflowForm) ? wizardStep = 3 : false); getSummary();">{{'Setup.Workflow.ApprovelProcess.SummaryAndConfirmation' | translate}}</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                <form name="workflowForm" ng-submit="save()" class="form-horizontal form-custom" autocomplete="off" novalidate>
                    <div id="field-form-body" class="modal-body">
                    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
