<md-dialog flex="45" aria-label="{{'EMail.Title' | translate}}" ng-controller="BulkEMailController">
    <form kendo-validator="emailModalForm" ng-submit="submitEMail()" autocomplete="off" novalidate ng-cloak class="disable-validation-msg">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-show="formType === 'email'">{{'EMail.Title' | translate}}</h2>
                <h2 ng-show="formType === 'template'">{{template ? 'Template.EditTemplate':'Template.Title' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()"><i class="fas fa-times"></i></md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-show="loadingModal" class="spin">
                    <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
                </div>
                <div ng-show="!loadingModal && formType === 'email'">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="form-group">
                                <label for="senderAlias" class="required">
                                    <span> {{'EMail.From' | translate}}</span>
                                    <span class="label-right">
                                        <span class="required-label">{{'Common.Required' | translate}}</span>
                                    </span>
                                </label>
                                <select kendo-drop-down-list
                                        id="senderAlias" name="senderAlias"
                                        k-ng-model="senderAlias"
                                        k-options="senderOptions"
                                        ng-required="formType === 'email'"
                                        k-option-label="'{{'Common.Select' | translate}}'"
                                        data-required-msg="{{'Module.Required' | translate}}"></select>
                                <span class="k-invalid-msg" data-for="senderAlias"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="shares">{{'EMail.ToMultiple' | translate}} </label>
                                <select id="shares" kendo-multi-select k-ng-model="selectedRecords" class="form-control"
                                        disabled ng-show="!isAllSelected && !singleEMail"
                                        k-option-label="'{{'Common.Select' | translate}}'"
                                        k-options="selectedRecordOpstions"></select>
                                <input ng-show="isAllSelected" class="form-control" ng-disabled="true" value="{{selectedRows.length}} {{'Common.Record' | translate}}" />

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Cc">Cc</label>
                                <input type="text" ng-blur="checkEmails(Cc, true)" id="Cc" name="Cc" ng-model="Cc" class="k-textbox" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Bcc">Bcc</label>
                                <input type="text" ng-blur="checkEmails(Bcc)" id="Bcc" name="Bcc" ng-model="Bcc" class="k-textbox" />
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="form-group" ng-show="emailField">
                                <label for="emailField" class="required">
                                    <span> {{'EMail.EMailField' | translate}}</span>
                                    <span class="label-right">
                                        <span class="required-label">{{'Common.Required' | translate}}</span>
                                    </span>
                                </label>

                                <select id="emailField" name="emailField" k-ng-model="emailField"
                                        k-option-label="'{{'Common.Select' | translate}}'"
                                        kendo-drop-down-list k-options="emailFieldOptions"
                                        ng-required="formType === 'email'"
                                        data-required-msg="{{'Module.Required' | translate}}"></select>
                            </div>
                            <div class="form-group" ng-show="!emailField">
                                <label for="emailField" class="required">
                                    <span> {{'EMail.EMailField' | translate}}</span>
                                    <span class="label-right">
                                        <span class="required-label">{{'Common.Required' | translate}}</span>
                                    </span>
                                </label>

                                <label class="form-control subject" style="color:#990000;padding-top:8px">
                                    {{'EMail.EMailFieldNotAvailable' | translate}}
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="template" class="required">
                                    <span> {{'Common.EmailTemplate' | translate}}</span>
                                    <span class="label-right">
                                        <span class="required-label">{{'Common.Required' | translate}}</span>
                                    </span>
                                </label>
                                <div class="row row0">
                                    <div class="col">
                                        <select id="template" name="template"
                                                kendo-drop-down-list
                                                k-options="templateOptions"
                                                k-ng-model="template"
                                                k-on-change="setContent(template);"
                                                k-auto-bind="false"
                                                required
                                                k-option-label="'{{'Common.Select' | translate}}'"></select>
                                    </div>
                                    <div class="col-auto">
                                        <md-button class="md-icon-button btn btn-sm btn-secondary" type="button" ng-show="template && template.id" ng-click="formType = 'template';setTemplate()" ng-disabled="submittingModal"><i class="fas fa-pen"></i><md-tooltip md-autohide="true" md-direction="bottom">{{'Template.EditTemplate' | translate}}</md-tooltip></md-button>
                                        <md-button class="md-icon-button btn btn-sm btn-secondary" type="button" ng-show="!template || (template && !template.id)" ng-click="formType = 'template';setTemplate()" ng-disabled="saving"><i class="fas fa-plus"></i><md-tooltip md-autohide="true" md-direction="bottom">{{'Template.NewTemplate' | translate}}</md-tooltip></md-button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="!loadingModal && formType === 'template'">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="templateName" class="required">
                                    <span> {{'Template.TemplateName' | translate}}</span>
                                    <span class="label-right">
                                        <span class="required-label">{{'Common.Required' | translate}}</span>
                                    </span>
                                </label>
                                <input type="text" id="templateName" name="templateName" class="k-textbox" ng-class="{'k-invalid' : clicked && !newtemplate.template_name}"
                                       ng-model="newtemplate.template_name" ng-required="formType === 'template'"
                                       data-required-msg="{{'Module.Required' | translate}}" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="templateSubject" class="required">
                                    <span> {{'Template.Subject' | translate}}</span>
                                    <span class="label-right">
                                        <span class="required-label">{{'Common.Required' | translate}}</span>
                                    </span>
                                </label>
                                <input type="text" id="templateSubject" name="templateSubject" class="k-textbox" ng-class="{'k-invalid' : clicked && !newtemplate.template_subject}"
                                       ng-model="newtemplate.template_subject" ng-required="formType === 'template'"
                                       data-required-msg="{{'Module.Required' | translate}}" />
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="language" class="required">
                                    <span>{{'Setup.Settings.Language' | translate}}</span>
                                    <span class="label-right">
                                        <span class="required-label">{{'Common.Required' | translate}}</span>
                                    </span>
                                </label>
                                <input kendo-drop-down-list
                                       id="language" name="language"
                                       ng-required="formType === 'template'"
                                       k-options="languageOptions"
                                       ng-model="newtemplate.language" />
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <textarea mentio-id="'tinyMceTextArea2'"
                                          mentio mentio-typed-text="typedTerm"
                                          mentio-require-leading-space="true"
                                          name="tinymceModel" ui-tinymce="tinymceTemplateEdit"
                                          ng-required="formType === 'template'"
                                          mentio-iframe-element="iframeElement['tinymceTemplateEdit']"
                                          ng-model="newtemplate.tinymce_content"></textarea>
                                <div class="hide" plupload="imgUpload">
                                    <input id="uploadImage" type="file" add-file="add-file" />
                                </div>
                                <div class="hide" plupload="fileUpload">
                                    <input id="uploadFile" type="file" add-file="add-file" />
                                </div>
                                <script type="text/ng-template" id="tag-mentions.tpl">
                                    <ul class="ment-tags" style="max-height: 250px;overflow: auto;">
                                        <li mentio-menu-item="tag" ng-repeat="tag in items"
                                            class=" item list-group-item clearfix"
                                            ng-class="{'item':!field.seperator,'seperator':tag.seperator, 'seperator-main':tag.name === 'seperator-main'}">
                                            {{tag.label}}
                                        </li>
                                    </ul>
                                </script>
                                <mentio-menu class="mention-scrollbar" id="hastmenu2"
                                             mentio-for="'tinyMceTextArea2'" mentio-trigger-char="'#'"
                                             mentio-items="tags" mentio-template-url="tag-mentions.tpl"
                                             mentio-search="searchTags(term)"
                                             mentio-select="getTagTextRaw(item)"></mentio-menu>

                            </div>
                            <p>{{'Common.ParameterMessage' | translate}}</p>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>{{'Template.Sharing' | translate}}</label>
                                <ul class="list-unstyled">
                                    <li>
                                        <input type="radio" name="sharingType" id="me" class="k-radio" checked="checked" ng-click="newtemplate.shares = []; newtemplate.profile = []"
                                               ng-model="newtemplate.sharing_type" value="me">
                                        <label class="k-radio-label" for="me">{{'View.ShareMe' | translate}}</label>
                                    </li>
                                    <li ng-if="user.profile.has_admin_rights">
                                        <input type="radio" name="sharingType" ng-click="newtemplate.shares = []; newtemplate.profile = []"
                                               id="everybody" class="k-radio"
                                               ng-model="newtemplate.sharing_type" value="everybody">
                                        <label class="k-radio-label" for="everybody"> {{'View.ShareEveryone' | translate}}</label>
                                    </li>
                                    <li ng-if="user.profile.has_admin_rights && !preview">
                                        <input type="radio" name="sharingType" ng-click="newtemplate.profile = []"
                                               id="custom" class="k-radio"
                                               ng-model="newtemplate.sharing_type" value="custom">
                                        <label class="k-radio-label" for="custom"> {{'View.ShareCustom' | translate}}</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="profile" id="profile" ng-click="newtemplate.shares = []"
                                               class="k-radio"
                                               ng-model="newtemplate.sharing_type" value="profile">
                                        <label class="k-radio-label" for="profile"> {{'View.Profiles' | translate}}</label>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-12" ng-show="newtemplate.sharing_type === 'custom'">
                            <div class="form-group">
                                <label for="shares2">{{'Template.Sharing' | translate}}</label>
                                <select id="shares2" kendo-multi-select k-ng-model="newtemplate.shares"
                                        k-options="sharesOptions"
                                        data-placeholder="'{{'Common.MultiselectPlaceholder' | translate}}'"></select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" ng-show="newtemplate.sharing_type === 'profile'">
                                <label for="profiles">{{'Setup.Modules.Profile' | translate}}</label>
                                <select id="profiles" kendo-multi-select k-ng-model="newtemplate.profile"
                                        k-options="profilesOptions"
                                        data-placeholder="'{{'Common.MultiselectPlaceholder' | translate}}'"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-show="formType === 'email'">
            <md-button class="btn btn-primary" type="submit" ng-disabled="submittingModal" md-autofocus>
                <i class="fas fa-paper-plane"></i>
                {{'Common.Send' | translate}}
            </md-button>
            <span flex></span>
        </md-dialog-actions>

        <md-dialog-actions layout="row" ng-show="formType === 'template'">
            <md-button class="btn btn-primary" type="button" ng-show="!template || (template && !template.id)" ng-click="templateSave()" ng-disabled="saving"><i class="fas fa-save"></i> {{'Template.TemplateSave' | translate}}</md-button>
            <md-button class="btn btn-primary" type="button" ng-show="template && template.id" ng-click="templateSave()" ng-disabled="saving"><i class="fas fa-save"></i> {{'Template.UpdateTemplate' | translate}}</md-button>
            <md-button class="btn btn-danger" type="button" ng-show="template && template.id" ng-click="deleteTemplate()"><i class="fas fa-trash"></i>{{'Template.TemplateDelete' | translate}}</md-button>
            <span flex></span>
            <md-button class="btn btn-secondary" type="button" ng-click="formType = 'email';backTemplate()" ng-disabled=""><i class="fas fa-angle-left"></i> {{'Template.Back' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
