<div class="modal message-modal" tabindex="-1" role="dialog" ng-controller="SingleEMailController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div ng-show="formType === 'email'">
                <form name="emailModalForm" class="form-horizontal form-custom" ng-submit="submitEMail(emailModal)" autocomplete="off" novalidate>
                    <div class="modal-header clearfix">
                        <h4 class="modal-title pull-left">{{'EMail.Title' | translate}}</h4>
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true"
                                ng-click="$hide()">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div ng-show="loadingModal" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
                        <div ng-show="!loadingModal">
                            <div class="row"
                                 ng-class="{'has-error': emailModalForm.$submitted && emailModalForm.senderAlias.$invalid}">
                                <label name="senderLabel" class="col-sm-2 control-label">
                                    {{'EMail.From' |translate }}
                                </label>
                                <div class="col-sm-10"
                                     ng-class="{'has-error': emailModalForm.$submitted && emailModalForm.senderAlias.$invalid}">
                                    <select class="form-control sender-label ng-animate-disabled" name="senderAlias"
                                            ng-model="senderAlias" ng-required="true"
                                            ng-options="sender as sender.alias+' <'+sender.email+'> - '+addressType(sender.type) for sender in senders">
                                        <option value="">{{'Common.Select' | translate}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label">Cc </label>
                                <div class="col-md-10">
                                    <input class="form-control subject" name="Cc" type="text" ng-model="Cc" />
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 control-label">Bcc</label>
                                <div class="col-md-10">
                                    <input class="form-control subject" name="Bcc" type="text" ng-model="Bcc" />
                                </div>
                            </div>
                            <div class="row" ng-show="emailField"
                                 ng-class="{'has-error': emailModalForm.$submitted && emailModalForm.emailField.$invalid}">
                                <label name="senderLabel" class="col-sm-2 control-label">
                                    {{
'EMail.EMailField' |
                                    translate
                                    }}
                                </label>
                                <div class="col-sm-10"
                                     ng-class="{'has-error': emailModalForm.$submitted && emailModalForm.emailField.$invalid}">
                                    <select name="emailField" class="form-control sender-label" ng-required="true"
                                            ng-options="field.label + ' ' + field.labelExt for field in emailFields | filter:{data_type:'email', deleted:'!true'}"
                                            ng-model="emailField"></select>
                                </div>
                            </div>
                            <div class="row" ng-show="!emailField"
                                 ng-class="{'has-error': emailModalForm.$submitted && emailModalForm.emailField.$invalid}">
                                <label name="senderLabel2" class="col-sm-2 control-label">
                                    {{
'EMail.EMailField' |
                                    translate
                                    }}
                                </label>
                                <div class="col-sm-10"
                                     ng-class="{'has-error': emailModalForm.$submitted && emailModalForm.emailField.$invalid}">
                                    <label class="form-control subject" style="color:#990000;padding-top:8px">
                                        {{
'EMail.EMailFieldNotAvailable' |
                                        translate
                                        }}
                                    </label>
                                </div>
                            </div>
                            <div class="row"
                                 ng-class="{'has-error': emailModalForm.$submitted && emailModalForm.subject.$invalid}">
                                <label class="col-sm-2 control-label">{{'EMail.Subject' | translate}} </label>
                                <div class="col-sm-10"
                                     ng-class="{'has-error': emailModalForm.$submitted && emailModalForm.subject.$invalid}">
                                    <input class="form-control sender-label" name="subject" ng-required="true" type="text"
                                           ng-model="subject" />
                                </div>

                            </div>
                            <div class="row templa-space" ng-class="{'templa-space-small': attachmentName}">
                                <label class="col-sm-2 control-label">{{'Common.EmailTemplate' | translate}} </label>
                                <div class="col-md-10">
                                    <select class="form-control ng-animate-disabled sender-alias" name="template"
                                            ng-model="template" ng-change="setContent(template)"
                                            ng-options="temp.id as temp.name for temp in templates">
                                        <option value="">{{'Common.Select' | translate}}</option>
                                    </select>

                                </div>
                            </div>
                            <!--<div class="row">-->
                            <!--<div class="col-sm-12">-->
                            <!--<label>{{'EMail.ToSingle' | translate}} *</label>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                            <!--<div class="col-sm-12" ng-class="{'has-error': emailModalForm.$submitted}">-->
                            <!--<span>{{primaryField.valueFormatted}}</span>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="row templa-space-small" ng-if="attachmentName">
                                <label class="col-sm-2 control-label">{{'EMail.Attachment' | translate}}</label>
                                <div class="col-sm-10">
                                    <a href="{{attachmentLink}}" target="_blank" class="attachment-link">
                                        <i class="fa fa-lg fa-file-pdf-o"></i> {{attachmentName + quoteTemplateName}}
                                    </a>
                                </div>
                                <br>
                            </div>
                            <div class="row"
                                 ng-class="{'has-error': emailModalForm.$submitted && emailModalForm.tinymceModel.$invalid}">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10 tinymce-container" ng-class="{'has-error': emailModalForm.$submitted && emailModalForm.tinymceModel.$invalid}">
                                    <pre name="tinymceModel"
                                         class="form-control ng-animate-disabled"
                                         style="padding-top: 5px; padding-left: 1px; border: 1px;height: 100%"
                                         ng-bind-html="tinymceModel"></pre>
                                    <!--<textarea mentio-id="'tinyMceTextArea1'"
                                              mentio mentio-typed-text="typedTerm"
                                              mentio-require-leading-space="true"
                                              name="tinymceModel" ui-tinymce="tinymceOptions" ng-required="true"
                                              mentio-iframe-element="iframeElement"
                                              ng-model="tinymceModel"></textarea>
                                    <script type="text/ng-template" id="tag-mentions.tpl">
                                        <ul class="ment-tags">
                                            <li class="item" mentio-menu-item="tag" ng-repeat="tag in items"
                                                class="list-group-item clearfix"
                                                ng-class="{'item':!field.seperator,'seperator':tag.seperator, 'seperator-main':tag.name === 'seperator-main'}">
                                                {{tag.label}}
                                            </li>
                                        </ul>
                                    </script>
                                    <mentio-menu class="mention-scrollbar" id="hastmenu1"
                                                 mentio-for="'tinyMceTextArea1'" mentio-trigger-char="'#'"
                                                 mentio-items="tags" mentio-template-url="tag-mentions.tpl"
                                                 mentio-search="searchTags(term)"
                                                 mentio-select="getTagTextRaw(item)"></mentio-menu>

                                    <div class="hidden" plupload="imgUpload">
                                        <input id="uploadImage" type="file" add-file="add-file" />
                                    </div>
                                    <div class="hidden" plupload="fileUpload">
                                        <input id="uploadFile" type="file" add-file="add-file" />
                                    </div>-->
                                </div>
                            </div>
                            <div class="form-group" ng-show="emailModalForm.$submitted && emailModalForm.$invalid">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <div class="callout callout-danger">
                                        <p ng-if="emailModalForm.$error.required || emailModalForm.$error['autocomplete-required']">{{'Module.RequiredError' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix mail-footer">
                                <div class="col-sm-5">
                                    <p class="pull-left" ng-if="!template" style="margin-top:6px">{{'Template.ChooseTemplate' | translate}}</p>
                                </div>
                                <div class="col-sm-7 text-right">
                                    <button type="button" class="btn btn-custom" ng-show="template && editPermission" ng-click="formType = 'template';setTemplate()" ng-disabled="saving">{{'Template.EditTemplate' | translate}}</button>
                                    <button type="button" class="btn btn-custom" ng-show="!template" ng-click="formType = 'template';setTemplate()" ng-disabled="saving">{{'Template.NewTemplate' | translate}}</button>
                                    <button type="submit" class="btn btn-w-md btn-primary" ng-disabled="!emailField || !template" ladda="submittingModal"><i class="fa fa-check-circle pull-left pull-right"></i> {{'Common.Send' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="formType === 'template'">
                <form name="emailModalFormTemplateEdit" class="form-horizontal form-custom" autocomplete="off" novalidate>
                    <div class="modal-header clearfix">
                        <h4 class="modal-title pull-left" ng-show="!template">{{'Template.Title' | translate}}</h4>
                        <h4 class="modal-title pull-left" ng-show="template">{{'Template.EditTemplate' | translate}}</h4>
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true" ng-click="$hide()"><i class="fa fa-close"></i></button>
                    </div>
                    <div class="modal-body">
                        <div ng-show="loadingModal" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
                        <div ng-show="!loadingModal">
                            <div class="row" ng-class="{'has-error': emailModalFormTemplateEdit.$submitted && emailModalFormTemplateEdit.templateName.$invalid}">
                                <label class="col-sm-2 control-label">{{'Template.TemplateName' | translate}}</label>
                                <div class="col-md-10" ng-class="{'has-error': emailModalFormTemplateEdit.$submitted && emailModalFormTemplateEdit.templateName.$invalid}">
                                    <input class="form-control template-name" name="templateName" type="text" ng-model="template_name" ng-required="true" />
                                </div>
                            </div>
                            <div class="row" ng-class="{'has-error': emailModalFormTemplateEdit.$submitted && emailModalFormTemplateEdit.templateSubject.$invalid}">
                                <label class="col-sm-2 control-label">{{'Template.Subject' | translate}} </label>
                                <div class="col-md-10" ng-class="{'has-error': emailModalFormTemplateEdit.$submitted && emailModalFormTemplateEdit.templateSubject.$invalid}">
                                    <input class="form-control template-subject" name="templateSubject" type="text" ng-model="template_subject" ng-required="true" />
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label">{{'Template.Sharing' | translate}}</label>
                                <div class="col-sm-10 sharing">
                                    <label>
                                        <input type="radio" ng-model="newtemplate.sharing_type" value="me">
                                        {{'View.ShareMe' | translate}}
                                    </label><br />
                                    <label ng-if="user.profile.has_admin_rights">
                                        <input type="radio" ng-model="newtemplate.sharing_type" value="everybody">
                                        {{'View.ShareEveryone' | translate}}
                                    </label><br ng-if="user.profile.has_admin_rights" />
                                    <label>
                                        <input type="radio" ng-model="newtemplate.sharing_type" value="custom">
                                        {{'View.ShareCustom' | translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-if="newtemplate.sharing_type === 'custom'">
                                    <label class="col-sm-2 control-label">{{'Template.SharedUsers' | translate}}</label>
                                    <div class="col-sm-10">
                                        <tags-input name="shares"
                                                    class="shared-users-input shared-users"
                                                    ng-model="newtemplate.shares"
                                                    display-property="full_name"
                                                    key-property="id"
                                                    placeholder="{{'Common.MultiselectPlaceholder' | translate}}"
                                                    replace-spaces-with-dashes="false"
                                                    add-from-autocomplete-only="true">
                                            <auto-complete source="lookupUser($query)"
                                                           min-length="0"
                                                           load-on-focus="true"
                                                           load-on-empty="true"
                                                           max-results-to-show="9999"></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 tinymce-container" ng-class="{'has-error': emailModalFormTemplateEdit.$submitted && tinymce_content.$invalid}">
                                <textarea mentio-id="'tinyMceTextArea2'" mentio mentio-typed-text="typedTerm"
                                          mentio-require-leading-space="true" ui-tinymce="tinymceTemplateEdit"
                                          ng-model="tinymce_content" ng-required="true"
                                          mentio-iframe-element="iframeElement['tinymceTemplateEdit']"></textarea>
                                <script type="text/ng-template" id="tag-mentions.tpl">
                                    <ul class="ment-tags">
                                        <li class="item" mentio-menu-item="tag" ng-repeat="tag in items"
                                            class="list-group-item clearfix"
                                            ng-class="{'item':!field.seperator,'seperator':tag.seperator, 'seperator-main':tag.name === 'seperator-main'}">
                                            {{tag.label}}
                                        </li>
                                    </ul>
                                </script>
                                <mentio-menu class="mention-scrollbar" id="hastmenu2" mentio-for="'tinyMceTextArea2'"
                                             mentio-trigger-char="'#'" mentio-items="tags"
                                             mentio-template-url="tag-mentions.tpl" mentio-search="searchTags(term)"
                                             mentio-select="getTagTextRaw(item)"></mentio-menu>

                                <div class="hidden" plupload="imgUpload">
                                    <input id="uploadImage" type="file" add-file="add-file" />
                                </div>
                                <div class="hidden" plupload="fileUpload">
                                    <input id="uploadFile" type="file" add-file="add-file" />
                                </div>
                            </div>
                            <div class="form-group tinymce-content" ng-show="emailModalFormTemplateEdit.$submitted && emailModalFormTemplateEdit.$invalid">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <div class="callout callout-danger">
                                        <p ng-if="emailModalFormTemplateEdit.$error.required || emailModalFormTemplateEdit.$error['autocomplete-required']">{{'Module.RequiredError' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix row template-footer">
                            <div class="col-sm-4">
                                <p class="pull-left" style="margin-top:6px">{{'Common.ParameterMessage' | translate}}</p>
                            </div>
                            <div class="col-sm-8 text-right">
                                <button type="button" class="btn btn-custom" ng-click="formType = 'email';backTemplate()" ng-disabled="saving">{{'Template.Back' | translate}}</button>
                                <button type="button" class="btn btn-danger" ng-show="template" action="templateDelete();formType = 'email';" confirm-click placement="top" confirm-message="{{'Common.AreYouSure' | translate}}" confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}" title="{{'Common.Delete' | translate}}" ladda="emailUpdating">{{'Template.TemplateDelete' | translate}}</button>
                                <button type="submit" class="btn btn-w-md btn-primary" ng-click="templateSave()" ng-show="!template" ladda="submittingModal" ng-disabled="submitting">{{'Template.TemplateSave' | translate}}</button>
                                <button type="submit" class="btn btn-w-md btn-primary" ng-click="templateSave()" ng-show="template" ladda="submittingModal" ng-disabled="submitting">{{'Template.UpdateTemplate' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>