<div class="sub-menu">
    <ul class="nav nav-tabs">
        <li><a href="#/app/setup/general">{{'Setup.Nav.Tabs.General' | translate}}</a></li>
        <li><a href="#/app/setup/messaging">{{'Setup.Nav.Tabs.Messaging' | translate}}</a></li>
        <li ng-show="phoneSettings.sipLicenseCount"><a href="#/app/setup/phone">{{'Setup.Nav.Tabs.Phone' | translate}}</a></li>
        <li ng-if="hasAdminRight"><a href="#/app/setup/office">{{'Setup.Nav.Tabs.Office' | translate}}</a></li>

    </ul>
</div>
<div class="tab-content">
    <div class="panel panel-default setup-panel settings">
        <div class="panel-body">
            <div class="subpanel">
                <h5 class="subpanel-heading">{{'Setup.Outlook.ContactModuleSettings' | translate}}</h5>
                <div class="subpanel-body">
                    <form name="outlookSettingsForm" ng-submit="save()" class="form-horizontal" novalidate>
                        <div class="form-group" ng-class="{'has-error': outlookSettingsForm.$submitted && outlookSettingsForm.outlookModule.$invalid}">
                            <label class="col-sm-3 control-label">{{'Setup.Outlook.ModulName' | translate}}</label>
                            <div class="col-sm-9" ng-class="{'has-error': outlookSettingsForm.$submitted && outlookSettingsForm.outlookModule.$invalid}">
                                <select name="outlookModule"
                                        class="form-control"
                                        ng-model="outlookSetting.module"
                                        ng-options="o as o['label_' + language + '_singular'] for o in modulesHasEmail | filter:{display:'!false', name: '!users'}:true | orderNotZero | orderBy:'order'"
                                        ng-required="true">
                                    <option value="">{{'Common.Select' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': outlookSettingsForm.$submitted && outlookSettingsForm.outlookEmailField.$invalid}">
                            <label class="col-sm-3 control-label">{{'Setup.Outlook.EmailField' | translate}}</label>
                            <div class="col-sm-9" ng-class="{'has-error': outlookSettingsForm.$submitted && outlookSettingsForm.outlookEmailField.$invalid}">
                                <select name="outlookEmailField"
                                        class="form-control"
                                        ng-model="outlookSetting.emailField"
                                        ng-options="o as o['label_' + language] for o in outlookSetting.module.fields | filter:{deleted:'!true', data_type:'email'} | orderBy:'order' track by o.id"
                                        ng-required="true">
                                    <option value="">{{'Common.Select' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="outlookSettingsForm.$submitted && outlookSettingsForm.$invalid">
                            <div class="col-sm-offset-3">
                                <div class="callout callout-danger">
                                    <p ng-if="outlookSettingsForm.$error.required || outlookSettingsForm.$error['autocomplete-required']">{{'Module.RequiredError' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3">
                                <button type="submit" class="btn btn-w-md btn-primary" style="margin-left:15px;" ladda="saving">{{'Setup.Outlook.Save' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>