<div class="note-form-container" style="background: white !important;" ng-show="show">
    <form class="note-form form-inline" ng-submit="create(note)">
        <div class="form-group">
            <div class="input-group">
                <textarea placeholder="{{'Note.NotePlaceholder' | translate }}" id="exampleTextarea" ui-tinymce="tinymceTemplate" class="form-control" ng-model="note.text" focus="show"
                          ng-required="true"></textarea>
                <div style="margin-left: 388px; margin-top:5px">
                    <button type="submit" class="btn btn-sm btn-primary" ng-disabled="!note.text" ladda="noteCreating"><i class="fa fa-check"></i> {{'Note.Submit' | translate}}</button>
                    <button type="button" class="btn btn-sm btn-custom" ng-click="note = null; show = false;">{{'Common.Cancel' | translate}}</button>
                </div>
                <div class="hidden" plupload="imgUploadForm">
                    <input id="uploadImage" type="file" add-file="add-file" />
                </div>
                <div class="hidden" plupload="fileUploadForm">
                    <input id="uploadFile" type="file" add-file="add-file" />
                </div>
            </div>
        </div>
    </form>
</div>