<div class="note-list">
    <form class="note-form bottom20" ng-show="newsfeed && !$parent.loadingNotes && $root.permissionsNewsfeed.write" ng-submit="addNote(note)">
        <div class="form-group"><textarea placeholder="{{'Note.ShareNote' | translate}}" ui-tinymce="tinymceTemplate" class="form-control" ng-model="note.text" focus="newNoteForm" ng-required="true"></textarea></div>
        <md-button type="submit" class="btn btn-primary" ng-disabled="!note.text" ><i class="fas fa-save"></i> {{'Note.Submit' | translate}}</md-button>
        <div class="d-none" plupload="imgUpload"><input id="uploadImage" type="file" add-file="add-file" /></div>
        <div class="d-none" plupload="fileUpload"><input id="uploadFile" type="file" add-file="add-file" /></div>
    </form>

    <div class="note row row5" ng-repeat="note in $parent.notes | filter: {deleted:'!true'}">
        <div class="col-auto"><span class="note-profile-img"><img src="images/no-profile-image.png" ng-src="{{note.created_by.picture ? note.created_by.picture : 'images/no-profile-image.png'}}" /></span></div>
        <div class="col">
            <div class="note-head d-flex justify-content-between align-items-center">
                <h5>{{note.created_by.full_name}} <small class="note-time">{{note.created_at | relativeTime}}</small></h5>
                <div class="action-buttons" ng-show="!$parent.$parent.$parent.record.freeze">
                    <md-button aria-label="{{'Common.Edit' | translate}}" title="{{'Common.Edit' | translate}}" class="md-icon-button btn btn-sm btn-secondary"
                               ng-if="note.created_by.id === user.id" ng-click="note.textCurrent = note.text; note.showFormEdit = true; note.showForm = false;">
                        <i class="fas fa-pen"></i><md-tooltip md-direction="bottom">{{'Common.Edit' | translate}}</md-tooltip>
                    </md-button>
                    <md-button aria-label="{{'Common.Delete' | translate}}" title="{{'Common.Delete' | translate}}" class="md-icon-button btn btn-sm btn-secondary"
                               ng-if="note.created_by.id === user.id || user.profile.has_admin_rights === true" ng-click="deleteNote($event, note)">
                        <i class="fas fa-trash"></i><md-tooltip md-direction="bottom">{{'Common.Delete' | translate}}</md-tooltip>
                    </md-button>
                </div>
            </div>
            <div class="note-text">
                <pre class="note-pre" ng-if="!note.showFormEdit" compile="note.text"></pre>
                <div class="action-buttons">
                    <md-button aria-label="{{'Note.Like' | translate}}" title="{{'Note.Like' | translate}}" ng-show="(note.likes | filter: {id:user.id}).length < 1"  ng-click="like(note, 'main')"><i class="fas fa-thumbs-up"></i> <span class="note-action-buttons">{{'Note.Like' | translate}}</span></md-button>
                    <md-button aria-label="{{'Note.Unlike' | translate}}" title="{{'Note.Unlike' | translate}}" ng-show="(note.likes | filter: {id:user.id}).length > 0"  ng-click="like(note, 'main')"><i class="fas fa-thumbs-down"></i> <span class="note-action-buttons">{{'Note.Unlike' | translate}}</span></md-button>

                    <md-button aria-label="{{'Note.You' | translate}}" ng-click="noteLikesList($event, note.likes)" ng-show="(note.likes | filter: {id:user.id}).length > 0 && note.likes.length>0"><i style="color: rgba(255, 0, 0, 0.68)" class="fas fa-heart"></i> {{'Note.You' | translate}} <span ng-if="note.likes.length == 2"> {{'Note.And' | translate}} {{note.likes[0].full_name}}</span><span ng-if="note.likes.length > 2"> {{'Note.And' | translate}} {{note.likes.length - 1}} {{'Note.Other' | translate}}</span></md-button>
                    <md-button aria-label="{{'Note.You' | translate}}" ng-click="noteLikesList($event, note.likes)" ng-show="(note.likes | filter: {id:user.id}).length < 1 && note.likes.length>0"><i style="color: rgba(255, 0, 0, 0.68)" class="fas fa-heart"></i><span ng-if="note.likes.length < 3"> {{note.likes[0].full_name}} </span><span ng-if="note.likes.length == 2"> {{'Note.And' | translate}} {{note.likes[1].full_name}}</span><span ng-if="note.likes.length > 2"> {{note.likes.length}}</span></md-button>

                    <md-button aria-label="{{'Note.Comment' | translate}}" title="{{'Note.Comment' | translate}}" ng-click="note.subNote = {}; note.showForm = !note.showForm; note.showFormEdit = false" ng-if="note.notes ? note.notes.length < 20 : true" ng-show="!$parent.$parent.$parent.record.freeze"><i class="fas fa-comments"></i> <span class="note-action-buttons">{{'Note.Comment' | translate}}</span></md-button>
                </div>

                <form class="note-form bottom20" ng-if="note.showFormEdit" ng-submit="updateNote(note)">
                    <div class="form-group"> <textarea ui-tinymce="tinymceTemplate" class="form-control" ng-model="note.text" focus="note.showFormEdit" ng-required="true"></textarea> </div>
                    <md-button aria-label="{{'Common.Update' | translate}}" title="{{'Common.Update' | translate}}" type="submit" class="btn btn-primary" ng-disabled="!note.text"><i class="fas fa-save"></i> {{'Common.Update' | translate}}</md-button>
                    <md-button aria-label="{{'Common.Cancel' | translate}}" title="{{'Common.Cancel' | translate}}" type="button" class="btn btn-secondary" ng-click="note.text = note.textCurrent; note.showFormEdit = false;">{{'Common.Cancel' | translate}}</md-button>
                    <div class="d-none" plupload="imgUpload"><input id="uploadImage" type="file" add-file="add-file" /></div>
                    <div class="d-none" plupload="fileUpload"><input id="uploadFile" type="file" add-file="add-file" /></div>
                </form>
            </div>
            <form class="note-form bottom20" ng-if="note.showForm" ng-submit="addComment(note)">
                <div class="form-group"> <textarea ui-tinymce="tinymceTemplate" class="form-control" ng-model="note.subNote.text" focus="note.showForm" ng-required="true"></textarea> </div>
                <md-button aria-label="{{'Note.Submit' | translate}}" title="{{'Note.Submit' | translate}}" type="submit" class="btn btn-primary" ng-disabled="!note.subNote.text"><i class="fas fa-save"></i> {{'Note.Submit' | translate}}</md-button>
                <md-button aria-label="{{'Common.Cancel' | translate}}" title="{{'Common.Cancel' | translate}}" type="button" class="btn btn-secondary" ng-click="note.subNote = null; note.showForm = false;">{{'Common.Cancel' | translate}}</md-button>
                <div class="d-none" plupload="imgUpload"><input id="uploadImage" type="file" add-file="add-file" /></div>
                <div class="d-none" plupload="fileUpload"><input id="uploadFile" type="file" add-file="add-file" /></div>
            </form>

            <div class="note row row5" ng-repeat="subNote in note.notes | filter: {deleted:'!true'} | orderBy:'created_at':true | limitTo:(note.subNoteLimit || 2)" ng-show="note.notes">
                <div class="col-auto"><span class="note-profile-img"><img src="images/no-profile-image.png" ng-src="{{subNote.created_by.picture ? subNote.created_by.picture : 'images/no-profile-image.png'}}" /></span></div>
                <div class="col">
                    <div class="note-head d-flex justify-content-between align-items-center">
                        <h5>{{subNote.created_by.full_name}} <small class="note-time">{{subNote.created_at | relativeTime}}</small></h5>
                        <div class="action-buttons" ng-if="subNote.created_by.id === user.id" ng-show="!$parent.$parent.$parent.record.freeze">
                            <md-button aria-label="{{'Common.Edit' | translate}}" title="{{'Common.Edit' | translate}}" class="md-icon-button btn btn-sm btn-secondary"
                                       ng-click="subNote.textCurrent = subNote.text; subNote.showFormEdit = true">
                                <i class="fas fa-pen"></i><md-tooltip md-direction="bottom">{{'Common.Edit' | translate}}</md-tooltip>
                            </md-button>
                            <md-button aria-label="{{'Common.Delete' | translate}}" title="{{'Common.Delete' | translate}}" class="md-icon-button btn btn-sm btn-secondary"
                                       ng-click="deleteNote($event, subNote, note)">
                                <i class="fas fa-trash"></i><md-tooltip md-direction="bottom">{{'Common.Delete' | translate}}</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                    <div class="note-text">
                        <pre class="note-pre" ng-if="!subNote.showFormEdit" ng-bind-html="subNote.text"></pre>
                        <div class="action-buttons">
                            <md-button aria-label="{{'Note.Like' | translate}}" title="{{'Note.Like' | translate}}" ng-show="(subNote.likes | filter: {id:user.id}).length < 1"  ng-click="like(subNote, 'sub')"><i class="fas fa-thumbs-up"></i> <span class="note-action-buttons">{{'Note.Like' | translate}}</span></md-button>
                            <md-button aria-label="{{'Note.Unlike' | translate}}" title="{{'Note.Unlike' | translate}}" ng-show="(subNote.likes | filter: {id:user.id}).length > 0"  ng-click="like(subNote, 'sub')"><i class="fas fa-thumbs-down"></i> <span class="note-action-buttons">{{'Note.Unlike' | translate}}</span></md-button>
                            <md-button aria-label="{{'Note.You' | translate}}" ng-click="noteLikesList($event, subNote.likes)" ng-show="(subNote.likes | filter: {id:user.id}).length > 0 && subNote.likes.length>0"><i style="color: rgba(255, 0, 0, 0.68)" class="fas fa-heart"></i> {{'Note.You' | translate}} <span ng-if="note.likes.length == 2"> {{'Note.And' | translate}} {{note.likes[0].full_name}}</span><span ng-if="note.likes.length > 2"> {{'Note.And' | translate}} {{note.likes.length - 1}} {{'Note.Other' | translate}}</span></md-button>
                            <md-button aria-label="{{'Note.You' | translate}}" ng-click="noteLikesList($event, subNote.likes)" ng-show="(subNote.likes | filter: {id:user.id}).length < 1 && subNote.likes.length>0"><i style="color: rgba(255, 0, 0, 0.68)" class="fas fa-heart"></i><span ng-if="subNote.likes.length < 3"> {{subNote.likes[0].full_name}} </span><span ng-if="subNote.likes.length == 2"> {{'Note.And' | translate}} {{subNote.likes[1].full_name}}</span><span ng-if="subNote.likes.length > 2"> {{subNote.likes.length}}</span></md-button>
                        </div>
                        <form class="note-form bottom20" ng-submit="updateNote(subNote)" ng-if="subNote.showFormEdit">
                            <div class="form-group"> <textarea ui-tinymce="tinymceTemplate" class="form-control" ng-model="subNote.text" focus="subNote.showFormEdit" ng-required="true"></textarea> </div>
                            <md-button aria-label="{{'Common.Update' | translate}}" title="{{'Common.Update' | translate}}" type="submit" class="btn btn-primary" ng-disabled="!subNote.text"><i class="fas fa-save"></i> {{'Common.Update' | translate}}</md-button>
                            <md-button aria-label="{{'Common.Cancel' | translate}}" title="{{'Common.Cancel' | translate}}" type="button" class="btn btn-secondary" ng-click="subNote.text = subNote.textCurrent; subNote.showFormEdit = false;">{{'Common.Cancel' | translate}}</md-button>
                            <div class="d-none" plupload="imgUpload"><input id="uploadImage" type="file" add-file="add-file" /></div>
                            <div class="d-none" plupload="fileUpload"><input id="uploadFile" type="file" add-file="add-file" /></div>
                        </form>
                    </div>
                </div>
            </div>
            <div ng-if="note.notes.length > 2" class="showAllNotes">
                <md-button aria-label="{{'Common.ShowAllComments' | translate}}" ng-click="note.showAllNotes = !note.showAllNotes; note.subNoteLimit = note.showAllNotes ? note.notes.length : 2;">{{!note.showAllNotes ? ('Note.ShowAllComments' | translate) : ('Note.HideComments' | translate)}}</md-button>
            </div>
        </div>
        <hr>
    </div>
    <div class="paging" ng-hide="$parent.hidePaging || $parent.loadingNotes">
        <a href ng-click="loadMore()" ng-if="!$parent.allNotesLoaded">
            <span>{{'Note.ShowMore' | translate}}</span>
            <i class="fa {{pagingIcon}} ng-animate-disabled" ng-if="!$parent.allNotesLoaded"></i>
        </a>
        <span ng-if="$parent.allNotesLoaded">{{'Note.AllNotesLoaded' | translate}}</span>
    </div>
</div>