<md-dialog flex="45">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                {{'Note.Likes' | translate}}
            </h2>
            <span flex></span>
            <md-button aria-label="{{'Common.Close' | translate}}" class="md-icon-button" ng-disabled="isDownLoad" ng-click="close()"><i
                    class="fas fa-times"></i></md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="note-list note-list-sm">
                <div class="note row row5 align-items-center" ng-repeat="user in likes">
                    <div class="col-auto"><span class="note-profile-img whitebg100"><img src="images/no-profile-image.png" ng-src="{{user.picture ? userPicture : 'images/no-profile-image.png'}}" /></span></div>
                    <div class="col">{{user.full_name}}</div>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>