<ul class="nav nav-pills nav-stacked setup-nav">
    <li ng-class="activeMenuItem ==='profile' ? 'active' :''">
        <a href="/#/settings/profile" data-trigger="hover" data-type="info" data-title="Profile"
           bs-tooltip data-placement="right">
            <i class="fas fa-user-cog"></i>
            <span>Profile </span>
        </a>
    </li>
    <li ng-class="activeMenuItem ==='password' ? 'active' :''">
        <a href="/#/settings/password" data-trigger="hover" data-type="info" data-title="Password"
           bs-tooltip data-placement="right">
            <i class="fas fa-unlock-alt"></i>
            <span>Password </span>
        </a>
    </li>
    <li>
        <a style="cursor: pointer;" ng-click="logout()" data-trigger="hover" data-type="info" bs-tooltip data-placement="right" data-title="Log out">
            <i class="fas fa-sign-out-alt">
            </i><span>Log Out</span>
        </a>
    </li>
</ul>
