<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">
    <div ng-if="modalLoading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
    <form ng-if="!modalLoading" name="componentFormValidation" class="form-horizontal form-custom" ng-submit="save(componentFormValidation);" autocomplete="off"
          novalidate>

        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">{{component.id ? 'Edit Component' : 'New Component'}}</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <!-- Burası Modalın kaydet vazgeç buttonların bulunduğu yer  -->
                        <li>
                            <button type="button" class="btn add-button btn-radius btn-gray" ng-click="!editing ? $parent.$parent.$parent.component = {} : null; createFormModal.hide();" ng-disabled="saving">
                                <i class="fas fa-times margin-right-10"></i>{{'Common.Cancel' | translate}}
                            </button>
                        </li>
                        <li>
                            <button type="submit" class="btn add-button btn-radius btn-blue" ladda="saving" style="margin-left: 5px">
                                <i class="fas fa-save margin-right-10"></i>{{'Common.Save' | translate}}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog">
            <div class="modal-content padding-0">
                <div class="modal-body">
                    <div id="field-form-body" class="modal-body">
                        <div class="section" id="section1">
                            <div class="panel">
                                <div class="form-group"
                                     style="position: relative;"
                                     ng-class="{'has-error': componentFormValidation.$submitted && componentFormValidation.name.$invalid}">
                                    <label class="col-sm-4 required-field">* Name: </label>
                                    <input type="text"
                                           name="name"
                                           class="form-control ng-animate-disabled col-sm-6"
                                           required
                                           maxlength="15"
                                           ng-disabled="editing"
                                           focus="true"
                                           ng-model="component.name" />
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': componentFormValidation.$submitted && componentFormValidation.type.$invalid}">
                                    <label class="col-sm-4 required-field">* Type: </label>
                                    <select
                                            name="type"
                                            class="form-control ng-animate-disabled col-sm-8"
                                            required
                                            ng-model="component.type"
                                            ng-disabled="editing"
                                            ng-options="o.value as o.name for o in componentTypes">
                                        <option value="">Select Type</option>
                                    </select>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': componentFormValidation.$submitted && componentFormValidation.module_id.$invalid}">
                                    <label class="col-sm-4 required-field">* Module: </label>
                                    <select
                                            name="module_id"
                                            class="form-control ng-animate-disabled col-sm-8"
                                            required
                                            ng-model="component.module_id"
                                            ng-options="o.id as o['label_' + language + '_singular'] for o in modules">
                                        <option value="">Select Module</option>
                                    </select>
                                </div>

                                <div class="form-group"
                                     ng-if="component.type === 1"
                                     ng-class="{'has-error': componentFormValidation.$submitted && componentFormValidation.place.$invalid}">
                                    <label class="col-sm-4 required-field">* Place: </label>
                                    <select
                                            name="place"
                                            class="form-control ng-animate-disabled col-sm-8"
                                            required
                                            ng-model="component.place"
                                            ng-options="o.value as o.name for o in componentPlaces">
                                        <option value="">Select Place</option>
                                    </select>
                                </div>

                                <div class="form-group"
                                     ng-if="component.type === 1"
                                     ng-class="{'has-error': componentFormValidation.$submitted && componentFormValidation.order.$invalid}">
                                    <label class="col-sm-4 required-field">* Order: </label>
                                    <input type="number"
                                           name="order"
                                           class="form-control ng-animate-disabled col-sm-8"
                                           ng-model="component.order">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </form>
</div>