.document-list {
  padding-left: 0;

  li {
    position: relative;
    padding: 5px;
    margin-bottom: 5px;

    .icon {
      width: 36px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;

      .fa {
        font-size: 2.5em;
      }
    }

    .image-icon {
      width: 36px;
      height: 36px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      z-index: 1000;
    }

    .document-buttons {
      width: 40px;
      margin-left: 2px;
      display: inline-block;
      vertical-align: middle;

      .action-icon {
        display: none;
        width: 16px;
        height: 16px;
        font-size: 11px;
        color: #6e879f;
        cursor: pointer;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;

        &:hover {
          -webkit-transform: scale(1.3);
          -moz-transform: scale(1.3);
          -ms-transform: scale(1.3);
          -o-transform: scale(1.3);
          transform: scale(1.3);
        }
      }
    }

    .document {
      position: relative;
      display: inline-block;
      vertical-align: middle;

      label {
        position: absolute;
        top: 0;
        left: 164px;
      }

      .spinner {
        position: absolute;
        top: 0;
      }

      .assigned-to {
        font-weight: 500;
        color: #337ab7;
      }

      .created-by {
        padding-left: 2px;
        color: #ccc;
      }

      .btn-group {
        min-width: 105px;
      }
    }

    .document-form {
      display: none;
    }

    &:hover {
      background-color: #f2f6fa;
      border-radius: 2px;

      .document-buttons .action-icon {
        display: inline-block;
      }
    }
  }

  li.editing {
    background-color: #f2f6fa;

    .document {
      display: none;
    }

    .document-form {
      display: inline-block;
    }
  }

  .fa-file-word-o {
    color: #2b579a;
  }

  .fa-file-excel-o {
    color: #5da635;
  }

  .fa-file-powerpoint-o {
    color: #d14424;
  }

  .fa-file-pdf-o {
    color: #b70808;
  }

  .fa-file-text-o {
    color: #666;
  }

  .fa-file-image-o {
    color: #44c0dc;
  }
}

.document-list-footer {
  margin-top: 10px;

  a {
    i {
      color: #8cb2d2;
      font-size: 12px;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;

      i {
        color: #6691b6;
      }
    }
  }
}

.document-form {
  max-width: 800px;
  padding: 5px;

  .close-button {
    margin: -15px -15px 0 0;
    color: #555 !important;
    background-color: #f6f9fc;
    border: solid 1px #d6d9de;
    border-bottom: solid 2px #d6d9de;
    border-radius: 20px;
  }

  .table {
    margin: 15px 0;
  }
}

.drop-box {
  width: 100%;
  height: 60px;
  line-height: 55px;
  background: #F8F8F8;
  border: 2px dashed #DDD;
  text-align: center;
  border-radius: 2px
}

.drop-box-over {
  border-color: #00A000;
}

.angular-lightbox {
  &.hidden {
    display: none;
  }

  section {
    position: fixed;
    z-index: 100065;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);

    > article {
      color: white;

      > header {
        a.close-btn {
          position: absolute;
          top: 20px;
          right: 30px;
          font-size: 2em;
          cursor: pointer;
          color: #DDD;
          z-index: 9999;
          &:hover, &:focus {
            color: white;
          }
        }
      }

      > content {
        margin: 0 auto;
        height: 100%;
        position: absolute;
        top: 10%;
        text-align: center;
        width: 100%; 
        > iframe {
          max-width: $maxLightBoxContent;
          margin: 0 auto;
        }

        img {
          max-height: 84%;
        }
        span {
          top: 34%;
          position: absolute;
        }
      }
      > footer {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 2%;
        a.download-btn {
          font-size: 2em;
          cursor: pointer;
          color: #DDD;

          &:hover, &:focus {
            color: white;
          }
        }
      }

    }
  }

  .pager {
    width: 100%;
    position: absolute;
    z-index: 9999;
    bottom: 50%;
    li {
      cursor: pointer;
      a {
        border-radius: 0px;
      }
    }
  }
}

.document-search {
  padding: 5px;
  min-width: 200px;
  width: 30%;
  margin-left: auto;

  input {
    height: 28px;
    font-size: 13px;
  }
}

.document-search-list {
  pre {
    overflow: hidden;

    mark {
      background-color: #ff0 !important;
    }
  }
}