.tasks {
  .task-list {
    padding-left: 0;

    li {
      padding: 5px;

      .task {
        position: relative;
        padding-left: 160px;
        padding-right: 50px;
        display: inline-block;

        .label {
          position: absolute;
          top: 0;
          left: 0;
          width: 120px;
          padding: 4px 0;
          display: inline-block;
        }

        .task-buttons {
          position: absolute;
          top: 0;
          right: 0;
          width: 40px;
          padding-left: 3px;
          display: inline-block;

          .action-icon {
            display: none;
            width: 16px;
            height: 16px;
            font-size: 11px;
            color: #6e879f;
            cursor: pointer;
            -webkit-transition: all .1s ease-in-out;
            -moz-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;

            &:hover {
              -webkit-transform: scale(1.5);
              -moz-transform: scale(1.5);
              -ms-transform: scale(1.5);
              -o-transform: scale(1.5);
              transform: scale(1.5);
            }
          }
        }

        label {
          position: absolute;
          top: 0;
          left: 134px;
        }

        .spinner {
          position: absolute;
          top: 0;
        }

        .assigned-to {
          font-weight: 500;
          color: #337ab7;
        }

        .info {
          padding-left: 2px;
          color: #ccc;
        }

        .btn-group {
          min-width: 105px;
        }

        .task-text {
          color: #444 !important;
        }
      }

      .task-form {
        display: none;
      }

      &:hover {
        background-color: #f2f6fa;
        border-radius: 2px;

        .task-buttons .action-icon {
          display: inline-block;
        }
      }
    }

    li.editing {
      padding: 0 5px;
      background-color: #f2f6fa;

      .task {
        display: none;
      }

      .task-form {
        display: block;

        .form-group {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }

    .ui-checkbox {
      margin-top: 0;
      margin-bottom: 0;

      input[type=checkbox] {
        &:checked + {
          span:after {
            font-family: Flaticon;
            content: "\f101";
            color: #ccc;
            background: none;
            font-size: 22px;
            position: absolute;
            top: -7px;
            left: -18px;
            display: block;
          }

          span:before {
            border-color: #ccc;
          }

          span:hover:after {
            color: #ccc;
          }
        }

        + span:hover {
          &:after {
            font-family: Flaticon;
            content: "\f101";
            color: #6e879f;
            background: none;
            font-size: 22px;
            position: absolute;
            top: -7px;
            left: -18px;
            display: block;
          }

          &:before {
            border-color: #6e879f;
          }
        }
      }

      input[type="checkbox"]:disabled + span:before {
        cursor: default !important;
      }

      input[type="checkbox"]:disabled + span:after {
        cursor: default !important;
      }
    }

    .paging {
      margin-top: 10px;

      a {
        i {
          color: #8cb2d2;
          font-size: 12px;
        }

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;

          i {
            color: #6691b6;
          }
        }
      }
    }
  }

  .ui-select-placeholder {
    display: inline-block;
    vertical-align: middle;
  }

  .ui-select-container {
    width: 180px;
    display: inline-block;
    vertical-align: middle;

    .ui-select-match {
      outline: 0 !important;

      .ui-select-toggle {
        width: 100% !important;
        margin-left: 0 !important;
      }

      .ui-select-match-text {
        color: #767676;
      }
    }

    .ui-select-choices-row-inner {
      padding: 3px 10px !important;
    }

    .dropdown-menu {
      border-radius: 0 !important;
      width: 100%;
    }

    .form-control {
      width: 100%;

      &:hover {
        background-color: #fff !important;
      }
    }

    li {
      &:hover {
        background-color: #fff !important;
      }
    }
  }

  .label {
    font-size: 85%;
  }
}

.task-form-container {
  margin-bottom: 20px;
  padding: 0 5px;
  background-color: #f2f6fa;

  .form-group {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.task-form {
  .task-date {
    cursor: pointer;
    margin-right: 1px;
    min-width: 120px;
    display: inline-block;
    border-radius: 0 !important;
  }

  .task-text {
    min-width: 350px;
  }

  .ui-select-container {
    width: 180px;
    display: inline-block;
    vertical-align: middle;

    .ui-select-match {
      outline: 0 !important;

      .ui-select-toggle {
        width: 100% !important;
        margin-left: 0 !important;
      }

      .ui-select-match-text {
        color: #767676;
      }
    }

    .dropdown-menu {
      border-radius: 0 !important;
      width: 100%;
    }

    .form-control {
      width: 100%;

      &:hover {
        background-color: #fff !important;
      }
    }

    li {
      &:hover {
        background-color: #fff !important;
      }
    }
  }
}