.view-form {
  .fields-header {
    max-width: 500px;
    padding-bottom: 30px;
    clear: both;
    font-weight: 500;

    .title-left {
      width: 45%;
      margin-right: 5%;
      float: left;
    }

    .title-right {
      width: 45%;
      margin-left: 5%;
      float: right;
    }
  }

  .fields {
    max-width: 500px;
    margin-bottom: 10px;

    .container-left {
      width: 45%;
      height: 400px;
      padding-bottom: 25px;
      float: left;
      background-color: #fbfbfb;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    .container-right {
      width: 45%;
      height: 400px;
      padding-bottom: 25px;
      float: right;
      background-color: #fbfbfb;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    .container-middle {
      width: 10%;
      padding-top: 180px;
      float: left;
      text-align: center;

      i {
        color: #ccc;
      }
    }

    .dragable {
      padding: 6px;
      background-color: #fbfbfb;
      border: solid 1px #fbfbfb;
      cursor: move;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;

      i {
        display: none;
        float: right;
        color: #ccc;
      }

      &:hover {
        -webkit-box-shadow: inset -1px -1px 0 0 #ccc;
        -moz-box-shadow: inset -1px -1px 0 0 #ccc;
        box-shadow: inset -1px -1px 0 0 #ccc;
        background-color: #fff;

        i {
          display: inline-block;
        }
      }
    }

    .seperator {
      padding-left: 8px;
      line-height: 26px;
      background-color: #ececec;
      font-weight: 500;
      border-top: solid 15px #fff;

      i {
        display: none;
      }
    }

    .seperator-main {
      border-top: none;
    }
  }

  .control-label {
    text-align: left;
  }

  .form-control {
    width: 180px;
  }

  .filter-table {
    th {
      padding-left: 10px;
      font-weight: 500;
    }

    td {
      padding: 5px;
    }

    .filter-no {
      padding-right: 10px;
      font-size: 13px;
    }

    .datetime-pick {
      float: left;
    }
  }

  .filter-logic {
    margin-top: 10px;

    label {
      padding-left: 20px;
      padding-bottom: 10px;
    }

    input {
      margin-left: 5px;
    }

    .filter-logic-example {
      margin-left: 10px;
      font-style: italic;
      font-size: 13px;

      .filter-logic-example-higlight {
        font-weight: bold;
      }
    }
  }

  .sharing {
    padding-bottom: 10px;

    label {
      font-weight: normal;
    }
  }

  .shared-users {
    .shared-users-label {
      margin-left: 3px;
      margin-bottom: 6px;
      display: block;
      font-weight: 500;
    }

    .shared-users-input {
      max-width: 400px;
    }
  }

  .datepicker, .timepicker {
    thead > tr > th {
      background-color: #fff;
      padding: 0 !important;
    }

    td {
      padding: 0 !important;
    }
  }
}

.gu-mirror-view {
  width: z-index 9999 !important;
  position: fixed !important;
  margin: 0 !important;
  padding: 6px !important;
  opacity: 0.8;
  background-color: #fbfbfb !important;
  -webkit-box-shadow: inset -1px -1px 0 0 #ccc;
  -moz-box-shadow: inset -1px -1px 0 0 #ccc;
  box-shadow: inset -1px -1px 0 0 #ccc;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;

  i {
    display: none;
  }
}

.gu-transit-view {
  opacity: 0.2;
  border: dashed 1px #000 !important;
}

.image-type {
  cursor: pointer;
}