<div class="aside" tabindex="-1" style="overflow: auto;" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-body" style="height: 100%">
                <div style="height:65px;border-bottom: 1px solid lightgrey;cursor: pointer" ng-show="modalButtonShow" ng-click="showHelpModal()">
                    <a href ng-click="showHelpModal()" class="pull-left" style="padding-top: 22px;padding-left: 45px;color: gray;text-decoration: none;">Tanıtım Penceresini Görüntüle</a>
                    <i class="fa fa-external-link pull-right" style="font-size: 25px;padding-top: 20px;padding-right: 50px;color:gray"></i>
                </div>
                <div ng-bind-html="helpTemplateSideModal" ng-show="!noneHelpTemplate"></div>
                <div ng-show="noneHelpTemplate">
                    <img src="../../../images/helpcoming.png" height="400" width="390" />
                </div>
                <!--<iframe src="{{getHelpUrl() | trustUrl}}" frameborder="0"></iframe>-->
            </div>
        </div>
    </div>
</div>