<tr>
    <th class="th-custom" style="min-width: inherit; text-align: left; padding-left: 8px !important;"
        ng-show="params.isSelectable && !isManyToMany">
        <input ng-if="!isManyToManyModal" type="checkbox" ng-click="selectAll($event, $data)" ng-checked="isAllSelected"
               ng-show="!params.disableSelectAll" />
        <input ng-if="isManyToManyModal" type="checkbox" ng-click="selectAllModal($event, $data)"
               ng-checked="isAllSelectedModal" />
    </th>
    <th class="filter-button" style="min-width: 1px !important;"></th>
    <th class="sortable th-custom"
        ng-repeat="field in fields | orderBy:'order'"
        ng-class="{'sort-asc': params.isSortBy(field.fieldName, 'asc'),'sort-desc': params.isSortBy(field.fieldName, 'desc')}"
        ng-click="params.reloading = true; desc[field.fieldName]='desc'; asc[field.fieldName]='asc'; params.sorting(params.isSortBy(field.fieldName, 'desc') ? asc : desc); params.sortClicked = true; params.reload();">
        <div>{{field['label_' + language]}} <span ng-if="field.parentField">({{field.parentField['label_' + language]}})</span></div>
    </th>
    <th class="filter-button">
        <a href ng-click="params.showFilter = true;" ng-show="!params.showFilter"><i class="fa fa-search"></i></a>
        <a href ng-click="params.showFilter = false" ng-show="params.showFilter"><i class="fa fa-close"></i></a>
    </th>
</tr>
<tr ng-show="params.showFilter">
    <th class="operators" style="min-width: inherit" ng-show="params.isSelectable"></th>
    <th class="operators">
        <button type="button" class="btn btn-xs btn-w-xs btn-custom" ng-click="params.reloading = true; params.renew = true; params.reload()" id="FilterSubmitButton"><i class="fa fa-search pull-left"></i>{{'Common.Find' | translate}}</button>
    </th>
    <th ng-repeat="field in fields | orderBy:'order'" class="operators">
        <select
                class="form-control"
                ng-init="(params.filters && params.filters[field.fieldName] && params.filters[field.fieldName].operator) ? null : params.filters[field.fieldName].operator = (field.operators | orderBy:'order')[0];"
                ng-model="params.filters[field.fieldName].operator"
                ng-change="operatorChanged(field)"
                ng-options="o as o.label[language] for o in field.operators | orderBy:'order' track by o.order"
                ng-if="!field.lookupModulePrimaryField || field.lookup_type ==='users'">
            <option value="" ng-if="false"></option>
        </select>
        <select
                class="form-control"
                ng-init="(params.filters && params.filters[field.fieldName] && params.filters[field.fieldName].operator) ? null : params.filters[field.fieldName].operator = (field.lookupModulePrimaryField.operators | orderBy:'order')[0];"
                ng-model="params.filters[field.fieldName].operator"
                ng-change="operatorChanged(field)"
                ng-options="o as o.label[language] for o in field.lookupModulePrimaryField.operators | orderBy:'order' track by o.order"
                ng-if="field.lookupModulePrimaryField && field.lookup_type !='users' ">
            <option value="" ng-if="false"></option>
        </select>
    </th>
    <th class="operators">
        <button type="button" class="btn btn-xs btn-w-xs btn-custom" ng-click="params.reloading = true; params.renew = true; params.reload()" id="FilterSubmitButton"><i class="fa fa-search pull-left"></i>{{'Common.Find' | translate}}</button>
    </th>
</tr>
<tr ng-show="params.showFilter">
    <th class="th-custom filters" style="min-width: inherit" ng-show="params.isSelectable"></th>
    <th class="filter-button filters">
        <button type="button" class="btn btn-xs btn-w-xs btn-custom" ng-click="refresh(true)">{{'Common.Clear' | translate}}</button>
    </th>
    <th ng-repeat="field in fields | orderBy:'order'" class="th-custom filters">
        <input
                type="text"
                class="form-control"
                ng-model="params.filters[field.fieldName].value"
                ng-disabled="params.filters[field.fieldName].disabled || field.data_type === 'image'"
                maxlength="100"
                ng-enter="params.reloading = true; params.renew = true; params.reload();"
                ng-if="!field.lookupModulePrimaryField ? (field.data_type === 'text_single' || field.data_type === 'text_multi' || field.data_type === 'email' || field.data_type === 'document' || field.data_type === 'url' || field.data_type === 'location' || field.data_type === 'image') : (field.lookupModulePrimaryField.data_type === 'text_single' || field.lookupModulePrimaryField.data_type === 'text_multi' || field.lookupModulePrimaryField.data_type === 'email' || field.lookupModulePrimaryField.data_type === 'document') && field.lookup_type !='users'" />

        <input
                type="text"
                class="form-control"
                ng-model="params.filters[field.fieldName].value"
                ng-disabled="params.filters[field.fieldName].disabled"
                maxlength="50"
                numeric
                ng-enter="params.reloading = true; params.renew = true; params.reload();"
                ng-if="!field.lookupModulePrimaryField ? (field.data_type === 'number' || field.data_type === 'number_auto') : (field.lookupModulePrimaryField.data_type === 'number' || field.lookupModulePrimaryField.data_type === 'number_auto')" />

        <input
                type="text"
                class="form-control"
                ng-model="params.filters[field.fieldName].value"
                ng-disabled="params.filters[field.fieldName].disabled"
                maxlength="50"
                places="field.decimal_places || 2"
                number-decimal
                ng-enter="params.reloading = true; params.renew = true; params.reload();"
                ng-if="!field.lookupModulePrimaryField ? field.data_type === 'number_decimal' : field.lookupModulePrimaryField.data_type === 'number_decimal'" />

        <input
                type="text"
                class="form-control"
                ng-model="params.filters[field.fieldName].value"
                ng-disabled="params.filters[field.fieldName].disabled"
                maxlength="50"
                places="field.decimal_places || 2"
                currency-symbol="field.currency_symbol"
                number-currency
                ng-enter="params.reloading = true; params.renew = true; params.reload();"
                ng-if="!field.lookupModulePrimaryField ? field.data_type === 'currency' : field.lookupModulePrimaryField.data_type === 'currency'" />

        <input
                type="text"
                class="form-control"
                ng-model="params.filters[field.fieldName].value"
                ng-disabled="params.filters[field.fieldName].disabled"
                data-autoclose="1"
                data-date-type="date"
                data-timezone=""
                data-min-date="{{(field.validation.min ? (field.validation.min === 'today' ? currentDayMin : field.validation.min) : undefined)}}"
                data-max-date="{{(field.validation.max ? (field.validation.max === 'today' ? currentDayMax : field.validation.max) : undefined)}}"
                data-icon-left="fa fa-chevron-left"
                data-icon-right="fa fa-chevron-right"
                data-placement="bottom-right"
                bs-datepicker
                ng-if="!field.lookupModulePrimaryField ? field.data_type === 'date' : field.lookupModulePrimaryField.data_type === 'date'">

        <input-stars
                ng-if="field.data_type === 'rating'"
                max="{{field.validation.min_length}}"
                allow-half
                icon-base="fa fa-fw"
                icon-empty="fa-star-o"
                icon-half="fa-star-half-o"
                icon-full="fa-star"
                icon-hover-full="fa-star"
                ng-model="params.filters[field.fieldName].value"
        ></input-stars>

        <div class="clearfix datetime-pick" ng-if="!field.lookupModulePrimaryField ? field.data_type === 'date_time' : field.lookupModulePrimaryField.data_type === 'date_time'">
            <input
                    type="text"
                    class="form-control date-pick"
                    ng-model="params.filters[field.fieldName].value"
                    ng-disabled="params.filters[field.fieldName].disabled"
                    placeholder="{{'Common.Date' | translate}}"
                    data-autoclose="1"
                    data-date-type="iso"
                    data-min-date="{{(field.validation.min ? (field.validation.min === 'today' ? currentDayMin : field.validation.min) : undefined)}}"
                    data-max-date="{{(field.validation.max ? (field.validation.max === 'today' ? currentDayMax : field.validation.max) : undefined)}}"
                    data-icon-left="fa fa-chevron-left"
                    data-icon-right="fa fa-chevron-right"
                    bs-datepicker
                    ng-change="dateTimeChanged(field)"
                    ng-enter="params.reloading = true; params.renew = true; params.reload();">
            <input
                    type="text"
                    class="form-control time-pick"
                    ng-model="params.filters[field.fieldName].value"
                    ng-disabled="params.filters[field.fieldName].disabled"
                    placeholder="{{'Common.Time' | translate}}"
                    data-autoclose="1"
                    data-time-type="iso"
                    data-icon-up="fa fa-chevron-up"
                    data-icon-down="fa fa-chevron-down"
                    data-length="1"
                    data-minute-step="10"
                    data-arrow-behavior="picker"
                    bs-timepicker
                    ng-enter="params.reloading = true; params.renew = true; params.reload();">
        </div>

        <input
                type="text"
                class="form-control"
                ng-model="params.filters[field.fieldName].value"
                ng-disabled="params.filters[field.fieldName].disabled"
                placeholder="{{'Common.Time' | translate}}"
                data-autoclose="1"
                data-time-type="iso"
                data-icon-up="fa fa-chevron-up"
                data-icon-down="fa fa-chevron-down"
                data-length="1"
                data-minute-step="10"
                data-arrow-behavior="picker"
                bs-timepicker
                ng-if="!field.lookupModulePrimaryField ? field.data_type === 'time' : field.lookupModulePrimaryField.data_type === 'time'"
                ng-enter="params.reloading = true; params.renew = true; params.reload();">

        <select
                class="form-control"
                ng-model="params.filters[field.fieldName].value"
                ng-disabled="params.filters[field.fieldName].disabled"
                ng-options="o as o.label[language] for o in params.picklists[!field.lookupModulePrimaryField ? field.picklist_id : field.lookupModulePrimaryField.picklist_id] | filter:{hidden:'!true'} track by o.id"
                ng-enter="params.reloading = true; params.renew = true; params.reload();"
                ng-change="setDependency(field);"
                ng-if="!field.lookupModulePrimaryField ? field.data_type === 'picklist' : field.lookupModulePrimaryField.data_type === 'picklist'">
            <option value="">{{'Common.Select' | translate}}</option>
        </select>

        <tags-input ng-model="params.filters[field.fieldName].value"
                    display-property="labelStr"
                    key-property="id"
                    placeholder="{{'Common.MultiselectPlaceholder' | translate}}"
                    replace-spaces-with-dashes="false"
                    add-from-autocomplete-only="true"
                    ng-if="!field.lookupModulePrimaryField ? field.data_type === 'multiselect' : field.lookupModulePrimaryField.data_type === 'multiselect'">
            <auto-complete source="multiselect($query, field)"
                           min-length="0"
                           load-on-focus="true"
                           load-on-empty="true"
                           max-results-to-show="9999"></auto-complete>
        </tags-input>

        <tags-input ng-model="params.filters[field.fieldName].value"
                    display-property="text"
                    placeholder="{{'Common.TagPlaceholder' | translate}}"
                    replace-spaces-with-dashes="false"
                    ng-if="!field.lookupModulePrimaryField ? field.data_type === 'tag' : field.lookupModulePrimaryField.data_type === 'tag'">
            <auto-complete source="tags($query, field)"
                           load-on-focus="true"
                           load-on-empty="true"
                           max-results-to-show="9999"></auto-complete>
        </tags-input>

        <tags-input ng-model="params.filters[field.fieldName].value"
                    display-property="full_name"
                    key-property="id"
                    max-tags="1"
                    placeholder="{{'Common.Search' | translate}}"
                    replace-spaces-with-dashes="false"
                    add-from-autocomplete-only="true"
                    ng-if="!field.lookupModulePrimaryField ? (field.data_type === 'lookup' && field.lookup_type === 'users') :  field.lookup_type === 'users'">
            <auto-complete source="lookupUser($query,null,true)"
                           min-length="0"
                           load-on-focus="true"
                           load-on-empty="true"
                           max-results-to-show="9999"></auto-complete>
        </tags-input>

        <input
                type="text"
                class="form-control"
                ng-model="params.filters[field.fieldName].value"
                ng-disabled="params.filters[field.fieldName].disabled"
                maxlength="100"
                ng-enter="params.reloading = true; params.renew = true; params.reload();"
                ng-if="!field.lookupModulePrimaryField ? (field.data_type === 'lookup' && field.lookup_type != 'users') : (field.lookupModulePrimaryField.data_type === 'lookup' && field.lookupModulePrimaryField.lookup_type != 'users')" />

        <select
                class="form-control"
                ng-model="params.filters[field.fieldName].value"
                ng-options="o as o.label[language] for o in params.picklists['yes_no'] track by o.id"
                ng-enter="params.reloading = true; params.renew = true; params.reload();"
                ng-if="!field.lookupModulePrimaryField ? field.data_type === 'checkbox' : field.lookupModulePrimaryField.data_type === 'checkbox'">
            <option value="">{{'Common.Select' | translate}}</option>
        </select>
    </th>
    <th class="filter-button filters">
        <button type="button" class="btn btn-xs btn-w-xs btn-custom" ng-click="refresh(true)">{{'Common.Clear' | translate}}</button>
    </th>
</tr>