<div class="modal module-modal module-form-modal" tabindex="-1" role="dialog" ng-controller="timesheetModalController"
     style="z-index: 9999">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="moduleModalForm" class="form-horizontal form-custom" ng-submit="submitModal(recordModal)"
                  autocomplete="off" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title" ng-if="headerTitleCase=='create'">{{'Module.New' | translate:{title:
                        moduleModal['label_' + language +
                        '_singular']} }}</h4>
                    <h4 class="modal-title" ng-if="headerTitleCase=='edit'">{{editChargeType}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="editModuleLoading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i>
                    </div>
                    <div ng-show="loadingModal" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
                    <div ng-show="!loadingModal && !editModuleLoading">
                        <div ng-show="(isTurkeyHoliday && !recordModal.selected_project && !specifyCountry) || (isTurkeyHoliday && isManagement && !specifyCountry) || isProjectHoliday || (isManagementHoliday && isManagement)">
                            <div class="callout callout-danger">Selected date is holiday all day!</div><br>
                        </div>
                        <div ng-show="(isTurkeyHalfHoliday && !recordModal.selected_project && !specifyCountry && recordModal.entry_type.system_code !== 'morning_only') || (isTurkeyHalfHoliday && isManagement && !specifyCountry && recordModal.entry_type.system_code !== 'morning_only') || (isProjectHalfHoliday && recordModal.entry_type.system_code !== 'morning_only') || (isManagementHalfHoliday && isManagement && recordModal.entry_type.system_code !== 'morning_only')">
                            <div class="callout callout-danger">Selected date is holiday half a day!</div><br>
                        </div>
                        <div ng-show="!forbidden">
                            <div class="form-group"
                                 ng-class="{'has-error': moduleModalForm.$submitted && moduleModalForm[field.name].$invalid}"
                                 ng-repeat="field in timesheetArr | filter:{display_form:true, deleted: false}:true | orderBy:'order'"
                                 ng-if="!field.hidden && field.data_type != 'number_auto' && (field.show_only_edit ? id : true) && hasFieldFullPermission(field)">
                                <label for="name={{field.name}}" class="control-label col-sm-4"
                                       ng-class="{'required-field':field.validation.required}"><span
                                        ng-if="field.validation.required">*</span> {{field['label_' +
                                    language]}}:</label>
                                <div class="col-sm-8"
                                     ng-class="{'checkbox':field.data_type === 'checkbox', 'multiselect-container':field.data_type === 'multiselect'}">

                                    <input type="text"
                                           name="{{field.name}}"
                                           class="form-control ng-animate-disabled"
                                           tabindex="{{field.order}}"
                                           placeholder="{{field.placeholder}}"
                                           ng-model="recordModal[field.name]"
                                           ng-change="fieldValueChange(field);"
                                           ng-required="{{field.validation.required}}"
                                           ng-minlength="field.validation.min_length || 0"
                                           maxlength="{{field.validation.max_length || 400}}"
                                           pattern="{{field.validation.pattern}}"
                                           ng-if="field.data_type === 'text_single' && field.data_type != 'number_auto' && !field.combination"/>

                                    <textarea name="{{field.name}}"
                                              class="form-control ng-animate-disabled"
                                              tabindex="{{field.order}}"
                                              placeholder="{{field.placeholder}}"
                                              ng-model="recordModal[field.name]"
                                              ng-change="fieldValueChange(field);"
                                              ng-required="{{field.validation.required}}"
                                              ng-minlength="field.validation.min_length || 0"
                                              maxlength="{{field.validation.max_length || 500}}"
                                              pattern="{{field.validation.pattern}}"
                                              auto-grow
                                              ng-if="field.data_type === 'text_multi'"></textarea>

                                    <input type="text"
                                           name="{{field.name}}"
                                           class="form-control ng-animate-disabled"
                                           tabindex="{{field.order}}"
                                           placeholder="{{field.placeholder}}"
                                           ng-model="recordModal[field.name]"
                                           ng-change="fieldValueChange(field); calculate(field);"
                                           ng-required="field.validation.required"
                                           ng-readonly="field.validation.readonly"
                                           ng-trim="false"
                                           ng-minlength="field.validation.min_length || 0"
                                           maxlength="{{field.validation.max_length || 18}}"
                                           min="field.validation.min"
                                           max="field.validation.max"
                                           numeric
                                           ng-if="field.data_type === 'number'"/>

                                    <input type="text"
                                           name="{{field.name}}"
                                           class="form-control ng-animate-disabled"
                                           tabindex="{{field.order}}"
                                           placeholder="{{field.placeholder}}"
                                           ng-model="recordModal[field.name]"
                                           ng-change="fieldValueChange(field); calculate(field);"
                                           ng-required="field.validation.required"
                                           ng-readonly="field.validation.readonly"
                                           maxlength="{{field.validation.max_length || 19}}"
                                           min="field.validation.min"
                                           max="field.validation.max"
                                           places="field.decimal_places || 2"
                                           rounding="field.rounding"
                                           number-decimal
                                           ng-if="field.data_type === 'number_decimal'"/>

                                    <input type="text"
                                           name="{{field.name}}"
                                           class="form-control ng-animate-disabled"
                                           tabindex="{{field.order}}"
                                           placeholder="{{field.placeholder}}"
                                           ng-model="recordModal[field.name]"
                                           ng-change="fieldValueChange(field); calculate(field);"
                                           ng-required="field.validation.required"
                                           ng-readonly="field.validation.readonly"
                                           maxlength="{{field.validation.max_length || 21}}"
                                           min="field.validation.min"
                                           max="field.validation.max"
                                           places="field.decimal_places || 2"
                                           rounding="field.rounding"
                                           currency-symbol="field.currency_symbol"
                                           number-currency
                                           ng-if="field.data_type === 'currency'"/>

                                    <input type="email"
                                           name="{{field.name}}"
                                           class="form-control ng-animate-disabled"
                                           tabindex="{{field.order}}"
                                           placeholder="{{field.placeholder}}"
                                           ng-model="recordModal[field.name]"
                                           ng-change="fieldValueChange(field);"
                                           ng-required="{{field.validation.required}}"
                                           ng-minlength="field.validation.min_length || 0"
                                           maxlength="{{field.validation.max_length || 100}}"
                                           ng-if="field.data_type === 'email'"/>

                                    <input type="text"
                                           name="{{field.name}}"
                                           class="form-control ng-animate-disabled"
                                           tabindex="{{field.order}}"
                                           ng-model="recordModal[field.name]"
                                           ng-change="fieldValueChange(field);"
                                           ng-required="{{field.validation.required}}"
                                           data-autoclose="1"
                                           data-date-type="iso"
                                           data-min-date="{{(field.validation.min ? (field.validation.min === 'today' ? currentDayMin : field.validation.min) : undefined)}}"
                                           data-max-date="{{(field.validation.max ? (field.validation.max === 'today' ? currentDayMax : field.validation.max) : undefined)}}"
                                           data-icon-left="fa fa-chevron-left"
                                           data-icon-right="fa fa-chevron-right"
                                           bs-datepicker
                                           ng-if="field.data_type === 'date'">

                                    <div class="clearfix datetime-container" ng-if="field.data_type === 'date_time'">
                                        <input type="text"
                                               name="{{field.name}}"
                                               class="form-control ng-animate-disabled pull-left datetime-date"
                                               tabindex="{{field.order}}"
                                               ng-model="recordModal[field.name]"
                                               ng-change="fieldValueChange(field);"
                                               ng-required="{{field.validation.required}}"
                                               placeholder="{{'Common.Date' | translate}}"
                                               data-autoclose="1"
                                               data-date-type="iso"
                                               data-min-date="{{(field.validation.min ? (field.validation.min === 'today' ? currentDayMin : field.validation.min) : undefined)}}"
                                               data-max-date="{{(field.validation.max ? (field.validation.max === 'today' ? currentDayMax : field.validation.max) : undefined)}}"
                                               data-icon-left="fa fa-chevron-left"
                                               data-icon-right="fa fa-chevron-right"
                                               bs-datepicker>
                                        <input type="text"
                                               class="form-control datetime-time"
                                               tabindex="{{field.order}}"
                                               ng-model="recordModal[field.name]"
                                               ng-change="fieldValueChange(field);"
                                               ng-disabled="!recordModal[field.name] && !moduleModalForm[field.name].$dirty"
                                               placeholder="{{'Common.Time' | translate}}"
                                               data-autoclose="1"
                                               data-time-type="iso"
                                               data-icon-up="fa fa-chevron-up"
                                               data-icon-down="fa fa-chevron-down"
                                               data-length="1"
                                               data-minute-step="10"
                                               data-arrow-behavior="picker"
                                               bs-timepicker>
                                    </div>

                                    <input type="text"
                                           name="{{field.name}}"
                                           class="form-control"
                                           tabindex="{{field.order}}"
                                           ng-model="recordModal[field.name]"
                                           ng-change="fieldValueChange(field);"
                                           ng-required="{{field.validation.required}}"
                                           data-autoclose="1"
                                           data-time-type="iso"
                                           data-icon-up="fa fa-chevron-up"
                                           data-icon-down="fa fa-chevron-down"
                                           data-length="1"
                                           data-minute-step="10"
                                           data-arrow-behavior="picker"
                                           placeholder="{{'Common.Time' | translate}}"
                                           bs-timepicker
                                           ng-if="field.data_type === 'time'">

                                    <select class="form-control ng-animate-disabled"
                                            name="{{field.name}}"
                                            tabindex="{{field.order}}"
                                            ng-model="recordModal[field.name]"
                                            ng-change="fieldValueChange(field, recordModal[field.name]);"
                                            ng-required="{{field.validation.required}}"
                                            ng-disabled="field.name === 'activity_type' || ($parent.$parent.$parent.requestType == 'edit' && field.name === 'charge_type' && $parent.$parent.$parent.currentTimesheet.statusValue.indexOf('rejected') > -1)"
                                            ng-options="o as o.label[language] for o in picklistsModuleModal[field.picklist_id] | filter:{inactive:'!true',hidden:'!true'} track by o.id"
                                            ng-if="field.data_type === 'picklist'">
                                        <option value="">{{'Common.Select' | translate}}</option>
                                    </select>

                                    <input type="checkbox"
                                           ng-disabled="recordModal.entry_type.id==perDiemEntryTypeId"
                                           ng-checked="recordModal.entry_type.id==perDiemEntryTypeId"
                                           name="{{field.name}}"
                                           class="ng-animate-disabled"
                                           tabindex="{{field.order}}"
                                           ng-model="recordModal[field.name]"
                                           ng-change="fieldValueChange(field);"
                                           ng-if="field.data_type === 'checkbox'">

                                    <input type="text"
                                           name="{{field.name}}"
                                           class="form-control ng-animate-disabled"
                                           tabindex="{{field.order}}"
                                           ng-value="recordModal[field.combination.field_1] && recordModal[field.combination.field_2] ? recordModal[field.combination.field_1] + ' ' + recordModal[field.combination.field_2] : null"
                                           ng-readonly="true"
                                           ng-if="field.data_type === 'text_single' && field.combination"/>

                                    <tags-input name="{{field.name}}"
                                                tabindex="{{field.order}}"
                                                ng-model="recordModal[field.name]"
                                                display-property="labelStr"
                                                key-property="id"
                                                placeholder="{{'Common.MultiselectPlaceholder' | translate}}"
                                                replace-spaces-with-dashes="false"
                                                add-from-autocomplete-only="true"
                                                ng-if="field.data_type === 'multiselect'">
                                        <auto-complete source="multiselectModal($query, field)"
                                                       min-length="0"
                                                       load-on-focus="true"
                                                       load-on-empty="true"
                                                       max-results-to-show="9999"></auto-complete>
                                    </tags-input>

                                    <ui-select name="{{field.name}}" ng-change="fieldValueChange(field, recordModal[field.name]);"  ng-required="{{field.validation.required}}" ng-click="setDropdownData(field)" ng-model="recordModal[field.name]" ng-if="field.data_type === 'lookup' && field.show_as_dropdown">
                                        <ui-select-match placeholder="{{('Common.Select' | translate)}}">{{$select.selected.primary_value}}</ui-select-match>
                                        <ui-select-choices repeat="user in dropdownFieldDatas[field.name] | filter:{primary_value: $select.search} | orderBy:'primary_value'">
                                            <div ng-bind-html="user.primary_value | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                    <!--Create new input here. angucomplete-alt must be at the bottom of the form-->

                                    <angucomplete-alt input-name="{{field.name}}"
													  id="{{field.name}}"
                                                      input-class="form-control ng-animate-disabled"
                                                      match-class="highlight-angucomplete"
                                                      field-tabindex="{{field.order}}"
                                                      field-required="field.validation.required"
                                                      pause="200"
                                                      selected-object="recordModal[field.name]"
                                                      initial-value="recordModal[field.name]"
                                                      remote-api-handler="lookupModal"
                                                      search-fields="name"
                                                      title-field="primary_value"
                                                      minlength="2"
                                                      disable-input="$parent.$parent.$parent.requestType == 'edit' && field.name === 'selected_project' && $parent.$parent.$parent.currentTimesheet.statusValue.indexOf('rejected') > -1"
                                                      template-url="view/common/angucomplete.html"
                                                      focus-in="setCurrentLookupFieldModal(field)"
                                                      text-searching="{{'Common.Searching' | translate}}"
                                                      text-no-results="{{'Common.NoResults' | translate}}"
                                                      use-original-object="true"
                                                      value-changed="fieldValueChange(field, recordModal[field.name]);"
                                                      ng-if="field.data_type === 'lookup' && !field.show_as_dropdown"/>
                                    <!--Don't add new input below angucomplete-alt. Add above angucomplete-alt-->
                                </div>
                            </div>
                            <div class="form-group" ng-show="moduleModalForm.$submitted && moduleModalForm.$invalid">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <div class="callout callout-danger">
                                        <p ng-if="moduleModalForm.$error.required || moduleModalForm.$error['autocomplete-required']">
                                            {{'Module.RequiredError' | translate}}</p>
                                        <p ng-if="moduleModalForm.$error['autocomplete-required']">
                                            {{'Module.RequiredAutoCompleteError' | translate}}</p>
                                        <p ng-if="moduleModalForm.$error.email">{{'Module.EmailError'|translate}}</p>
                                        <p ng-if="moduleModalForm.$error.min">{{'Module.MinError'|translate}}</p>
                                        <p ng-if="moduleModalForm.$error.max">{{'Module.MaxError'|translate}}</p>
                                        <p ng-if="moduleModalForm.$error.minlength">
                                            {{'Module.MinLengthError'|translate}}</p>
                                        <p ng-if="moduleModalForm.$error.pattern">
                                            {{'Module.PatternError'|translate}}</p>
                                        <p ng-if="moduleModalForm.$error.date && moduleModalForm.$error.parse">
                                            {{'Module.DateError'|translate}}</p>
                                        <p ng-if="moduleModalForm.$error.unique">{{'Module.UniqueError'|translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-warning" ng-show="forbidden">
                            {{'Common.Forbidden' | translate}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" ng-disabled="submittingModal" ng-click="$hide()">
                        {{'Common.Cancel' | translate}}
                    </button>
                    <button type="submit" class="btn btn-w-md btn-primary" ladda="submittingModal" ng-show="!forbidden">
                        <i class="fa fa-check-circle pull-left"></i> {{'Common.Save' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>