<div class="cal-year-box">
  <div ng-repeat="rowOffset in [0, 4, 8] track by rowOffset">
    <div class="row cal-before-eventlist">
      <div
        class="span3 col-md-3 col-xs-6 cal-cell {{ day.cssClass }}"
        ng-repeat="month in vm.view | calendarLimitTo:4:rowOffset track by $index"
        ng-init="monthIndex = vm.view.indexOf(month)"
        ng-click="vm.calendarCtrl.dateClicked(month.date)"
        ng-class="{'cal-day-today': month.isToday}"
        mwl-droppable
        on-drop="vm.handleEventDrop(dropData.event, month.date)">

        <span
          class="pull-right"
          data-cal-date
          ng-click="vm.calendarCtrl.dateClicked(month.date)"
          ng-bind="month.label">
        </span>

          <div class="counts">
              <span ng-repeat="(type, group) in month.groups track by type" data-title="{{group.module}}" data-trigger="hover" data-placement="top" bs-tooltip>
                <span class="label" ng-style="{'background-color': group.color}">
                  {{ group.events.length }}
                </span>&nbsp;
              </span>
          </div>

        <div
          class="cal-day-tick"
          ng-show="monthIndex === vm.openMonthIndex && (vm.cellAutoOpenDisabled || vm.view[vm.openMonthIndex].events.length > 0) && !vm.slideBoxDisabled">
          <i class="glyphicon glyphicon-chevron-up"></i>
          <i class="fa fa-chevron-up"></i>
        </div>

      </div>
    </div>

  </div>

</div>
