@{
    var token = ViewBag.Token;
    var previewUrl = ViewBag.PreviewUrl;
    var giteaUrl = ViewBag.GiteaUrl;
    var blobUrl = !string.IsNullOrWhiteSpace(ViewBag.BlobUrl) ? ViewBag.BlobUrl : "";
}

<!DOCTYPE html>
<html lang="{{language}}" ng-app="primeapps">
<head>
    <title>PrimeApps Studio</title>
    <link rel="icon" href="~/images/favicon/primeapps.ico" type="image/x-icon"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="robots" content="noindex"/>
    <meta name="googlebot" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script>
        //        var version = '0.8';
//        if ('serviceWorker' in navigator) {
//
//            window.addEventListener('load',
//                function() {
//                    navigator.serviceWorker.register('sw.js?version=' + version).then(function(registration) {
//                        registration.update();
//                    });
//                });
//        }


    </script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
    <environment include="Development">
        <link rel="stylesheet" href="~/styles/bpm/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/styles/bpm/BPMN.css"/>
        <link rel="stylesheet" href="~/styles/bpm/jquery-ui.min.css"/>
        <link rel="stylesheet" href="~/styles/bpm/spectrum.css"/>
        <link rel="stylesheet" href="/styles/vendor/angular-block-ui.css"/>
        <link rel="stylesheet" href="/styles/vendor/angular-bootstrap-calendar.css"/>
        <link rel="stylesheet" href="/styles/vendor/angular-motion.css"/>
        <link rel="stylesheet" href="/styles/vendor/angular-resizable.css"/>
        <link rel="stylesheet" href="/styles/vendor/angular-ui-tree.css"/>
        <link rel="stylesheet" href="/styles/vendor/bootstrap-additions.css"/>
        <link rel="stylesheet" href="/styles/vendor/dragular.css"/>
        <link rel="stylesheet" href="/styles/vendor/flaticon.css"/>
        <link rel="stylesheet" href="/styles/vendor/font-awesome.css"/>
        <link rel="stylesheet" href="/styles/vendor/ladda-themeless.css"/>
        <link rel="stylesheet" href="/styles/vendor/ng-table.css"/>
        <link rel="stylesheet" href="/styles/vendor/ng-tags-input.bootstrap.css"/>
        <link rel="stylesheet" href="/styles/vendor/ng-tags-input.css"/>
        <link rel="stylesheet" href="/styles/vendor/select.css"/>
        <link rel="stylesheet" href="/styles/vendor/xeditable.css"/>
        <link rel="stylesheet" href="/styles/vendor/editor-fonts.css"/>
        <link rel="stylesheet" href="~/styles/vendor/toastr.css"/>
        <link rel="stylesheet" href="/styles/ui.css"/>
        <link rel="stylesheet" href="/styles/app.css"/>
        <link rel="stylesheet" href="/styles/theme.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/styles/bundles-css/vendor.css"/>
        <link rel="stylesheet" href="/styles/bundles-css/app.css"/>
    </environment>
</head>
<body custom-background=custom-background language-class=language-class app-class=app-class ng-class="theme">
@RenderBody()
<script>

    var version = '@typeof(ControllerContext).Assembly.GetName().Version';
    var cdnUrl = '@ViewBag.CdnUrlDynamic';
    var token = '@token';
    var blobUrl = '@blobUrl';
    var functionUrl = '';
    var tenantId = '0';
    var components = '';
    var previewUrl = '@previewUrl';
    var giteaUrl = '@giteaUrl';

    document.body.className = 'primeapps';
    window.localStorage.setItem('theme', 'primeapps');

    var loaderDiv = document.getElementById('loader');
    loaderDiv.style.display = 'block';
    "use strict";

// a few helper functions...

// for creating the inner elements of an SVG, https://developer.mozilla.org/en-US/docs/Web/API/Document/createElementNS
    var createSVGElement = function createSVGElement(s) {
        return document.createElementNS("http://www.w3.org/2000/svg", s);
    };

// alias the querySelector
    var $ = function $(s) {
        return document.querySelector(s);
    };


    var randomRange = function randomRange(min, max) {
        return Math.random() * (max - min) + min;
    };

    var createCircle = function createCircle() {
        var $circle = createSVGElement("circle");
        $circle.setAttribute("r", randomRange(0.5, 2));
        $circle.setAttribute("fill", "#AAB7C4");
        $circle.setAttribute("cx", randomRange(0, 75));
        $circle.setAttribute("cy", randomRange(0, 75));
        return $circle;
    };


    var $rocket = $("#rocket-icon");
    var $top = $rocket.querySelector("*");
    var $flame = $(".flame");

    var flicker = Array.from({ length: 20 }).map(function() {
        return {
            transform: "scale(" + randomRange(0.9, 1.52) + ", " + randomRange(0.9, 1.2) + ")"
        };
    });
    $flame.animate(flicker, { duration: 750, iterations: Infinity });

    var $stars = Array.from({ length: 10 }).map(function() {
        return createCircle();
    });
    $stars.forEach(function($star) {
        return $rocket.insertBefore($star, $top);
    });


    var across = [{ cx: "75px", fillOpacity: 0 }, { fillOpacity: 1 }, { cx: "0", fillOpacity: 0 }];
    $stars.forEach(function($star) {
        var duration = randomRange(50, 1000);
        $star.animate(across, { duration: duration, iterations: Infinity });
    });

</script>
<environment include="Development">
    <script src="/scripts/vendor/tinymce/tinymce.min.js"></script>
    <script src="/scripts/vendor/xlsx.core.min.js"></script>
    <script src="/scripts/vendor/angular.js"></script>
    <script src="/scripts/vendor/angular-filter.js"></script>
    <script src="/scripts/vendor/angular-ui-router.js"></script>
    <script src="/scripts/vendor/ocLazyLoad.js"></script>
    <script src="/scripts/vendor/angular-cookies.js"></script>
    <script src="/scripts/vendor/angular-translate.js"></script>
    <script src="/scripts/vendor/angular-animate.js"></script>
    <script src="/scripts/vendor/angular-sanitize.js"></script>
    <script src="/scripts/vendor/angular-strap.js"></script>
    <script src="/scripts/vendor/angular-strap.tpl.js"></script>
    <script src="/scripts/vendor/angular-ui-bootstrap-custom.js"></script>
    <script src="/scripts/vendor/angular-ui-bootstrap-custom-tpls.js"></script>
    <script src="/scripts/vendor/angular-xeditable.js"></script>
    <script src="/scripts/vendor/angular-ladda.js"></script>
    <script src="/scripts/vendor/angular-ui-utils.js"></script>
    <script src="/scripts/vendor/angular-ui-tinymce.js"></script>
    <script src="/scripts/vendor/mentio/mentio.js"></script>
    <script src="/scripts/vendor/ng-table.js"></script>
    <script src="/scripts/vendor/spin.js"></script>
    <script src="/scripts/vendor/ladda.js"></script>
    <script src="/scripts/vendor/moment.js"></script>
    <script src="/scripts/vendor/es5-shim.js"></script>
    <script src="/scripts/vendor/es5-sham.js"></script>
    <script src="/scripts/vendor/angular-file-upload.js"></script>
    <script src="/scripts/vendor/angular-bootstrap-show-errors.js"></script>
    <script src="/scripts/vendor/angular-block-ui.js"></script>
    <script src="/scripts/vendor/angular-touch.js"></script>
    <script src="/scripts/vendor/ng-sortable.js"></script>
    <script src="/scripts/vendor/file-saver.js"></script>
    <script src="/scripts/vendor/ng-img-crop.js"></script>
    <script src="/scripts/vendor/angular-images-resizer.js"></script>
    <script src="/scripts/vendor/angular-ui-tree.js"></script>
    <script src="/scripts/vendor/plupload.full.js"></script>
    <script src="/scripts/vendor/angular-plupload.js"></script>
    <script src="/scripts/vendor/ng-tags-input.js"></script>
    <script src="/scripts/vendor/angular-ui-mask.js"></script>
    <script src="/scripts/vendor/ace/ace.js"></script>
    <script src="/scripts/vendor/angular-ui-ace.js"></script>
    <script src="/scripts/vendor/ace/ext-language_tools.js"></script>
    <script src="/scripts/vendor/angular-ui-select.js"></script>
    <script src="/scripts/vendor/angular-resizable.js"></script>
    <script src="/scripts/vendor/clipboard.js"></script>
    <script src="/scripts/vendor/angular-translate-extentions.js"></script>
    <script src="/scripts/vendor/angular-dynamic-locale.js"></script>
    <script src="/scripts/vendor/locales/moment-locales.js"></script>
    <script src="/scripts/vendor/angular-slider.js"></script>
    <script src="/scripts/vendor/angular-bootstrap-calendar-tpls.js"></script>
    <script src="/scripts/vendor/dragular.js"></script>
    <script src="/scripts/vendor/angucomplete-alt-custom.js"></script>
    <script src="/scripts/vendor/ngclipboard.js"></script>
    <script src="/scripts/vendor/moment-business-days.js"></script>
    <script src="/scripts/vendor/angular-filter.js"></script>
    <script src="/scripts/vendor/moment-weekdaysin.js"></script>
    <script src="/scripts/vendor/paging.min.js"></script>
    <script src="/scripts/vendor/sweetalert.js"></script>
    <script src="/scripts/vendor/angular-drag-and-drop-lists.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/interceptors.js"></script>
    <script src="/scripts/routes.js"></script>
    <script src="/scripts/config.js"></script>
    <script src="/scripts/constants.js"></script>
    <script src="/scripts/utils.js"></script>
    <script src="/scripts/directives.js"></script>
    <script src="/scripts/filters.js"></script>
    <script src="/view/authService.js"></script>
    <script src="/view/layoutService.js"></script>
    <script src="/view/layoutController.js"></script>
    <script src="/view/app/appController.js"></script>
    <script src="/view/organization/organizationController.js"></script>
    <script src="~/scripts/vendor/bpm/jquery.min.js"></script>
    <script src="~/scripts/vendor/bpm/jquery-ui.min.js"></script>
    <script src="~/scripts/vendor/bpm/bootstrap.min.js"></script>
    <script src="~/scripts/vendor/bpm/go.js"></script>
    <script src="~/scripts/vendor/bpm/DrawCommandHandler.js"></script>
    <script src="~/scripts/vendor/bpm/highlight.js"></script>
    <script src="~/scripts/vendor/toastr.js"></script>


</environment>
<environment exclude="Development">
    <script src="/scripts/vendor/tinymce/tinymce.min.js"></script>
    <script src="/scripts/vendor/xlsx.core.min.js"></script>
    <script src="/scripts/bundles-js/vendor.js"></script>
    <script src="/scripts/bundles-js/app.js"></script>
</environment>
@RenderSection("scripts", required: false)
</body>
</html>