@using System.Globalization
@using System.Threading
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{

    ViewBag.Title = "Error";
    var language = ViewContext.HttpContext.Request.Cookies["_lang"];
    var lang = language == "tr" ? language : "en";
    Thread.CurrentThread.CurrentUICulture = lang == "tr" ? new CultureInfo("tr-TR") : new CultureInfo("en-GB");
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&amp;subset=latin-ext" rel="stylesheet">
    <title>Error</title>
</head>
<style>
    html, body {
        width: 100%;
        height: 100%;
        background-color: #F6F5F2;
        color: rgba(0,0,0,0.5);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Nunito', sans-serif;
        padding: 0px;
        margin: 0px;
    }

    .wrapper {
        width: 600px;
        max-width: 100%;
        padding: 20px;
    }

    img {
        width: 100%;
    }

    .add-button {
        border-radius: 30px;
        background-color: rgba(13, 111, 170, 0.75);
        font-weight: bold;
        color: #fff !important;
        padding: 10px 20px;
        font-size: 14px;
        display: inline-block;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        text-decoration: none;
    }

        .add-button:hover {
            background-color: rgba(13, 111, 170, 1);
        }

    h1 {
        font-size: 22px;
        padding-top: 20px;
    }
</style>
<body>
    <div class="wrapper">
        <img src="../../wwwroot/images/primeapps/404.svg" />
        <div>
            <h1>Sorry, the page you were looking for was not found.</h1>
            <a href="/" title="" class="add-button">Return Home</a>
        </div>
    </div>
</body>
</html>

