@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}
<div class="layout" ui-view></div>
<div id="loader" style="display: none;">
    <div class="spin">
        <div style="width: 100%; height: 100%" class="ring">
            <div></div>
        </div>
    </div>
</div>
<toast></toast>