.import {
  .stepwizard {
    .stepwizard-step {
      width: 33%;
    }

    .btn {
      cursor: default;

      &:hover,
      &:focus {
        background-color: #1f8dc1;
        border-bottom: solid 2px #1b71a5;
      }
    }
  }

  .subpanel-body {
    padding-right: 30px;
  }

  .sheets {
    margin-top: 20px;

    .select-sheet {
      display: block;
      margin-left: 10px;
      margin-bottom: 10px;
      font-weight: 500;
    }

    .radio-inline {
      margin-left: 10px;
      margin-bottom: 8px;
      font-weight: 400 !important;
    }
  }

  .free-cell {
    background-color: #fff;
  }

  .used-cell {
    background-color: #e4fbf8;
  }

  .fixed-cell {
    background-color: #fbf7dd;
  }

  .fixed-settings {
    position: absolute;
    right: -5px;
    top: 6px;
    z-index: 999;

    &:hover,
    &:focus {
      text-decoration: none !important;
    }
  }

  .advanced-options-link {
    margin-top: 10px;
    margin-left: 10px;
    display: block;

    &:hover,
    &:focus {
      text-decoration: none !important;
      color: #337ab7 !important;
    }
  }

  .advanced-options {
    padding-top: 20px;
    padding-left: 10px;

    .form-group {
      margin-bottom: 10px;
    }

    .control-label {
      width: 140px;
      padding-top: 3px;
      text-align: left;
    }

    .form-control {
      max-width: 160px;
      height: 26px;
      padding: 0 4px;
    }

    .sample-date {
      padding-left: 5px;
      color: #777;
    }
  }

  .callout {
    ul {
      li {
        margin-left: -20px;
        padding: 3px 0;
      }
    }

    .bold {
      font-weight: 500;
    }
  }

  .long-message {
    display: block;
    font-size: 13px;
    color: #3b709e;
    text-align: center;
  }
}

.fixed-value-modal {
  background-color: rgba(0, 0, 0, .3);

  .modal-dialog {
    width: 420px !important;

    .modal-content {
      border-radius: 0 !important;
      -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    }
  }
}