.workgroups {
  table {
    form {
      margin-bottom: 0;
    }

    .editable {
      &:hover {
        box-shadow: 0 0 0 0;
      }
    }
  }
}

.workgroupDetails {
  table {
    a {
      color: #428bca;
    }
  }
}

.workgroupModuleForm {
  .sub-title {
    font-weight: 500;
  }

  .form-inline {
    margin-bottom: 20px;

    .form-control {
      width: 180px;
    }
  }

  .fields-table {
    form {
      margin-bottom: 0;
    }

    .form-control {
      width: 160px;
    }

    .editable-click:hover,
    .editable:hover {
      box-shadow: none;
    }
  }
}

.as-sortable-item {
  -ms-touch-action: none;
  touch-action: none;
}

.as-sortable-item-handle {
  cursor: move;
}

.as-sortable-placeholder {
}

.as-sortable-drag {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.as-sortable-hidden {
  display: none !important;
}

.as-sortable-drag {
  opacity: .8;
}

.move-drag {
  margin-right: 10px;
  text-align: right;

  i {
    color: #e1e1e1;
  }
}