<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">
    <form name="uploadForm" class="form-horizontal form-custom" ng-submit="templateSave(uploadForm);" autocomplete="off" novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">{{template.isNew ?('Template.Title' | translate) :('Template.UpdateTemplate' | translate)}}</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button type="button" class="btn add-button btn-radius btn-gray " ng-disabled="saving" ng-click="addNewEmailTemplateFormModal.hide();">
                                <i class="fas fa-times margin-right-10"></i>{{'Common.Cancel' | translate}}
                            </button>
                        </li>
                        <li>
                            <button type="submit" class="btn add-button btn-radius btn-blue " style="margin-left: 5px" ladda="saving" ng-disabled="saving">
                                <i class="fas fa-save margin-right-10"></i>{{'Common.Save' | translate}}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog scroll-style-4">
            <div class="modal-content padding-0">
                <div class="modal-body">
                    <div id="field-form-body" class="modal-body">
                        <div class="section" id="section1">
                            <div class="panel">
                                <!--ng-class="{'has-error': uploadForm.$submitted && uploadForm.templateName.$invalid}"-->
                                <div class="form-group">
                                    <label>{{'Template.TemplateName' | translate}}</label>
                                    <input type="text" name="templateName" class="form-control" ng-required="true" ng-model="template.template_name" />
                                </div>
                                <div class="form-group">
                                    <label>{{'Template.Subject' | translate}}</label>
                                    <input type="text" name="templateSubject" class="form-control" ng-required="true" ng-model="template.template_subject" />
                                </div>

                                <div class="form-group" ng-class="{'has-error': uploadForm.$submitted && uploadForm.templateStatus.$invalid}">
                                    <label class="col-sm-12 required-field">{{'Setup.Templates.TemplateStatus' | translate}}</label>
                                    <div ng-init="template.isNew ? template.active = true : template.active = template.active">
                                        <label class="radio-inline newinput">
                                            <input type="radio" name="templateStatus" ng-value="true" ng-model="template.active" />
                                            {{'Setup.Templates.TemplateActive' | translate}}<span></span>
                                        </label>

                                        <label class="radio-inline newinput">
                                            <input type="radio" name="templateStatus" ng-value="false" ng-model="template.active" />
                                            {{'Setup.Templates.TemplateDeactive' | translate}}<span></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': uploadForm.$submitted && uploadForm.language.$invalid}">
                                    <label class="col-sm-12 required-field">{{'Setup.Settings.Language' | translate}}</label>
                                    <div ng-init="template.isNew ? template.language = 'tr' : template.language = template.language">
                                        <label class="radio-inline newinput">
                                            <input name="language" type="radio" ng-model="template.language" value="tr">{{'Setup.Settings.Turkish' | translate}}<span></span>
                                        </label>
                                        <label class="radio-inline newinput">
                                            <input name="language" type="radio" ng-model="template.language" value="en">
                                            {{'Setup.Settings.English' | translate}}<span></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': uploadForm.$submitted && uploadForm.mail_sender_name.$invalid}">
                                    <label>{{'Setup.Messaging.EMail.Alias' | translate}} <span class="required-label">({{'Common.Required' | translate }})</span></label>
                                    <input name="mail_sender_name" class="form-control" placeholder="{{'Setup.Messaging.EMail.Alias' | translate}}" type="text" ng-maxlength="25" ng-model="template.mail_sender_name" required />
                                </div>

                                <div class="form-group" ng-class="{'has-error': uploadForm.$submitted && uploadForm.mail_sender_email.$invalid}">
                                    <label>{{'Setup.Messaging.EMail.Address' | translate}} <span class="required-label">({{'Common.Required' | translate }})</span></label>
                                    <input name="mail_sender_email" class="form-control" placeholder="{{'Setup.Messaging.EMail.Address' | translate}}" type="email" ng-maxlength="255" ng-model="template.mail_sender_email" required />
                                </div>

                                <div class="form-group" style="padding-top: 20px" ng-class="{'has-error': uploadForm.$submitted && uploadForm.tinymceModel.$invalid}">
                                    <div class="row" ng-class="{'has-error': uploadForm.$submitted && tinymceModel.$invalid}">
                                        <textarea name="tinymceModel" ui-tinymce="tinymceOptions" ng-required="true" ng-model="template.tinymce_content"></textarea>
                                        <div class="hidden" plupload="imgUpload">
                                            <input id="uploadImage" type="file" add-file="add-file" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
