a:hover {
  color: #4D5C66; }

.btn-primary {
  background-color: #4D5C66;
  border-color: #4D5C66; }

md-content.scroll-primary::-webkit-scrollbar-track {
  background-color: #4D5C66; }

md-content.scroll-primary::-webkit-scrollbar {
  background-color: #4D5C66; }

.btn.k-primary, .k-button.k-primary {
  background-color: #4D5C66;
  border-color: #4D5C66; }
  .btn.k-primary:hover, .btn.k-primary:visited, .btn.k-primary:focus, .btn.k-primary.md-focused, .k-button.k-primary:hover, .k-button.k-primary:visited, .k-button.k-primary:focus, .k-button.k-primary.md-focused {
    background-color: #4D5C66 !important;
    border-color: #4D5C66; }

.btn.md-button, .k-button.md-button {
  background-color: #4D5C66; }
  .btn.md-button:hover, .btn.md-button:visited, .btn.md-button:focus, .btn.md-button.md-focused, .k-button.md-button:hover, .k-button.md-button:visited, .k-button.md-button:focus, .k-button.md-button.md-focused {
    background-color: #4D5C66 !important; }
  .btn.md-button.btn-white, .k-button.md-button.btn-white {
    color: #4D5C66; }
    .btn.md-button.btn-white:hover, .btn.md-button.btn-white:visited, .btn.md-button.btn-white:focus, .btn.md-button.btn-white.md-focused, .k-button.md-button.btn-white:hover, .k-button.md-button.btn-white:visited, .k-button.md-button.btn-white:focus, .k-button.md-button.btn-white.md-focused {
      background-color: #4D5C66 !important; }

.btn-white {
  color: #4D5C66; }
  .btn-white:active, .btn-white:focus, .btn-white:hover {
    background: #4D5C66; }
  .btn-white.active {
    background: #4D5C66; }

.btn-circle-icon {
  color: #4D5C66; }
  .btn-circle-icon:active, .btn-circle-icon:focus, .btn-circle-icon:hover {
    background: #4D5C66; }

.btn-primary:hover {
  background: #4D5C66; }

.active .btn-white {
  background: #4D5C66; }

.whitebox.primarybox-outline {
  border: 1px solid #dbdee0; }

header .helpbar li a {
  color: #4D5C66; }

header .accountbar > md-menu > button {
  background: #4D5C66 !important; }
  header .accountbar > md-menu > button span:first-child {
    color: #4D5C66; }

.accountbar-in .account-link:hover {
  color: #4D5C66; }

.appcolor span:after {
  border: 2px solid #4D5C66; }

.wrapper > section > .main-menu-wrapper {
  background: #4D5C66; }
  .wrapper > section > .main-menu-wrapper .main-menu li.active {
    background: #4D5C66; }

.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3, .md-toolbar-tools h4, .md-toolbar-tools h5 {
  color: #4D5C66; }

.own-tab .md-tab .tab-container .tab-icons a {
  color: #bfc4c8; }
  .own-tab .md-tab .tab-container .tab-icons a:hover {
    color: #4D5C66; }

.own-tab .md-tab.md-active .tab-container .badge {
  background: #949da3; }

.own-tab md-ink-bar {
  background: #4D5C66 !important; }

.own-tab md-prev-button md-icon, .own-tab md-next-button md-icon {
  color: #4D5C66;
  fill: #4D5C66; }

.mobile-menu ul li.active button, .mobile-menu ul li.active a {
  color: #4D5C66; }

.breadcrumb a:hover {
  color: #4D5C66; }

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
  color: #4D5C66; }

.k-checkbox:checked ~ .k-checkbox-label:before {
  border-color: #637683; }

.k-checkbox:focus ~ .k-checkbox-label::before {
  box-shadow: 0 0 0 2px rgba(77, 92, 102, 0.25);
  border-color: #637683; }

.k-checkbox:focus:not(:checked) ~ .k-checkbox-label::before {
  border-color: #4D5C66; }

.k-radio:checked ~ .k-radio-label:before {
  border-color: #637683; }

.k-radio:focus ~ .k-radio-label::before {
  box-shadow: 0 0 0 2px rgba(77, 92, 102, 0.25);
  border-color: #637683; }

.k-radio:focus:not(:checked) ~ .k-radio-label::before {
  border-color: #4D5C66; }

.form-control:hover, .form-control:focus, .k-textbox:hover, .k-textbox:focus, .custom-file-label:hover, .custom-file-label:focus, .k-autocomplete:hover, .k-autocomplete:focus {
  border-color: #8b9ca7; }

.k-widget .k-numeric-wrap:hover, .k-widget .k-numeric-wrap:focus, .k-widget .k-numeric-wrap.k-state-hover, .k-widget .k-numeric-wrap.k-state-focused, .k-widget .k-picker-wrap:hover, .k-widget .k-picker-wrap:focus, .k-widget .k-picker-wrap.k-state-hover, .k-widget .k-picker-wrap.k-state-focused, .k-widget .k-multiselect-wrap:hover, .k-widget .k-multiselect-wrap:focus, .k-widget .k-multiselect-wrap.k-state-hover, .k-widget .k-multiselect-wrap.k-state-focused, .k-widget .k-dropdown-wrap:hover, .k-widget .k-dropdown-wrap:focus, .k-widget .k-dropdown-wrap.k-state-hover, .k-widget .k-dropdown-wrap.k-state-focused {
  border-color: #8b9ca7; }

.custom-file-input:focus ~ .custom-file-label {
  border-color: #8b9ca7; }

.whitebox .form-control:hover, .whitebox .form-control:focus, .whitebox .k-textbox:hover, .whitebox .k-textbox:focus, .whitebox .custom-file-label:hover, .whitebox .custom-file-label:focus, .whitebox .k-autocomplete:hover, .whitebox .k-autocomplete:focus, .md-subheader .form-control:hover, .md-subheader .form-control:focus, .md-subheader .k-textbox:hover, .md-subheader .k-textbox:focus, .md-subheader .custom-file-label:hover, .md-subheader .custom-file-label:focus, .md-subheader .k-autocomplete:hover, .md-subheader .k-autocomplete:focus, .k-popup .form-control:hover, .k-popup .form-control:focus, .k-popup .k-textbox:hover, .k-popup .k-textbox:focus, .k-popup .custom-file-label:hover, .k-popup .custom-file-label:focus, .k-popup .k-autocomplete:hover, .k-popup .k-autocomplete:focus {
  border-color: #8b9ca7; }

.dropdown-menu li, .k-popup li {
  border-bottom: 1px solid #f8f8f9; }
  .dropdown-menu li a:hover, .dropdown-menu li a.active, .k-popup li a:hover, .k-popup li a.active {
    background: #f8f8f9;
    color: #4D5C66; }
  .dropdown-menu li.active a, .k-popup li.active a {
    color: #4D5C66;
    background: #f8f8f9; }

.dropdown-menu > .btn, .k-popup > .btn {
  border-bottom: 1px solid #f8f8f9; }
  .dropdown-menu > .btn:hover, .k-popup > .btn:hover {
    background: #f8f8f9; }

.ng-submitted .image-preview.required .image-holder {
  background: #fef7f8 !important; }

.kanban-view .board > .k-listview-content .list-wrapper .list-header {
  background: #dbdee0; }

.kanban-view .board > .k-listview-content .list-wrapper .k-listview .k-listview-content .kanban-card:hover {
  border-color: #eaebed; }

.kanban-card {
  background: #f8f8f9; }
  .kanban-card .primary {
    color: #4D5C66; }
  .kanban-card:hover .others span.label-data {
    background: #f8f8f9; }

body > .kanban-card {
  background: #dbdee0;
  border-color: #dbdee0; }

.grid-buttons2 .md-fab-toolbar-wrapper .md-fab-toolbar-content .md-toolbar-tools {
  background: #f8f8f9; }

.grid-buttons3 {
  background: #f8f8f9; }

li.sortable-list-hint {
  background: #4D5C66; }
  li.sortable-list-hint:after {
    border-right: 6px solid #4D5C66; }

.filter-button .filter-badge {
  background: #4D5C66; }

.filter-button:hover .filter-badge {
  color: #4D5C66; }

.report-list md-content section .md-subheader {
  color: #4D5C66; }

.report-list md-content section md-list md-list-item:after {
  background: #4D5C66; }

.report-list md-content section md-list md-list-item.active a {
  color: #4D5C66; }

.file-upload-item-box .file-icon-wrapper > span {
  background: #4D5C66; }

.dockside.active i {
  color: #4D5C66; }

.view-type a .view-img-holder i {
  color: #4D5C66; }

.view-type a:hover {
  color: #4D5C66; }
  .view-type a:hover .view-img-holder {
    background: #69767e; }

.view-type a.active {
  color: #4D5C66; }
  .view-type a.active .view-img-holder {
    background: #69767e; }

.collapsible .collapsible-head {
  background: #f8f8f9; }

.filter-list:before {
  background: #dbdee0; }

.filter-list .filter-list-buttons:before {
  background: #dbdee0; }

.filter-list .group-conditions .condition:before {
  background: #dbdee0; }

.filter-list .group-conditions .condition .filter-list:before {
  background: #bfc4c8; }

.filter-list .group-conditions .condition .filter-list .filter-list-buttons:before {
  background: #bfc4c8; }

.filter-list .group-conditions .condition .filter-list .filter-list-buttons:after {
  background: #bfc4c8; }

.filter-list .group-conditions .condition .filter-list .group-conditions .condition:before {
  background: #bfc4c8; }

.filter-list .group-conditions .condition .filter-list .group-conditions .filter-list:before {
  background: #a2aaaf; }

.filter-list .group-conditions .condition .filter-list .group-conditions .filter-list .filter-list-buttons:before {
  background: #a2aaaf; }

.filter-list .group-conditions .condition .filter-list .group-conditions .filter-list .filter-list-buttons:after {
  background: #a2aaaf; }

.filter-list .group-conditions .condition .filter-list .group-conditions .filter-list .group-conditions .condition:before {
  background: #a2aaaf; }

.uploadedfilename .clear-button {
  background: #4D5C66; }

@media (min-width: 768px) {
  md-toolbar .k-widget .k-numeric-wrap:hover, md-toolbar .k-widget .k-numeric-wrap:focus, md-toolbar .k-widget .k-numeric-wrap.k-state-hover, md-toolbar .k-widget .k-numeric-wrap.k-state-focused, md-toolbar .k-widget .k-picker-wrap:hover, md-toolbar .k-widget .k-picker-wrap:focus, md-toolbar .k-widget .k-picker-wrap.k-state-hover, md-toolbar .k-widget .k-picker-wrap.k-state-focused, md-toolbar .k-widget .k-multiselect-wrap:hover, md-toolbar .k-widget .k-multiselect-wrap:focus, md-toolbar .k-widget .k-multiselect-wrap.k-state-hover, md-toolbar .k-widget .k-multiselect-wrap.k-state-focused, md-toolbar .k-widget .k-dropdown-wrap:hover, md-toolbar .k-widget .k-dropdown-wrap:focus, md-toolbar .k-widget .k-dropdown-wrap.k-state-hover, md-toolbar .k-widget .k-dropdown-wrap.k-state-focused {
    border-color: #8b9ca7; } }

.progress-big .progress-value {
  background: #4D5C66; }

@media (max-width: 767.98px) {
  .wrapper > section > .main-menu-wrapper .main-menu li {
    border-bottom: 1px solid #f8f8f9; }
    .wrapper > section > .main-menu-wrapper .main-menu li.active {
      background: #f8f8f9; }
      .wrapper > section > .main-menu-wrapper .main-menu li.active > a {
        color: #4D5C66; }
  md-toolbar .md-toolbar-tools .btn.md-button:hover, md-toolbar .md-toolbar-tools .btn.md-button:visited, md-toolbar .md-toolbar-tools .btn.md-button:focus, md-toolbar .md-toolbar-tools .btn.md-button.md-focused {
    background-color: #4D5C66 !important; }
  .md-subheader .btn.md-button:hover, .md-subheader .btn.md-button:visited, .md-subheader .btn.md-button:focus, .md-subheader .btn.md-button.md-focused {
    background-color: #4D5C66 !important; }
  .own-tab md-ink-bar {
    background: white !important; }
  .grid-buttons2 .md-fab-toolbar-wrapper .md-fab-toolbar-content .md-toolbar-tools {
    background: #4D5C66; }
  .grid-buttons3 {
    background: #4D5C66; }
  .filter-button .filter-badge {
    color: #4D5C66; }
  .md-subheader {
    background: #4D5C66 !important; } }

.k-rating-item.k-state-selected, .k-rating-item:hover, .k-rating-item.k-state-hover {
  color: #4D5C66; }

.k-checkbox:checked {
  border-color: #4D5C66;
  background-color: #4D5C66; }

.k-calendar .k-state-selected .k-link {
  border-color: #4D5C66;
  background-color: #4D5C66; }

.k-list .k-item.k-state-selected, .k-list-optionlabel.k-state-selected, .k-list-container .k-button:active, .k-list-container .k-button.k-state-active, .k-column-menu .k-menu:not(.k-context-menu) .k-item.k-state-selected, .k-spreadsheet-popup .k-button:active, .k-spreadsheet-popup .k-button.k-state-active, .k-spreadsheet-popup .k-button.k-state-selected, .k-menu-group .k-item.k-state-selected, .k-menu.k-context-menu .k-item.k-state-selected {
  background-color: #4D5C66; }

.k-calendar .k-footer .k-nav-today, .k-calendar .k-calendar-header .k-today {
  color: #4D5C66; }

.k-calendar .k-content .k-today .k-link {
  box-shadow: inset 0 0 0 1px #4D5C66; }

.k-calendar .k-state-selected.k-state-focused .k-link {
  box-shadow: inset 0 0 0 1px #414d56; }

.btn-link {
  color: #4D5C66; }
  .btn-link:hover {
    color: #4D5C66; }

.k-item.k-drag-clue {
  background: #4D5C66; }

.k-listbox .k-drop-hint {
  border-top-color: #4D5C66; }

.text-primary {
  color: #4D5C66 !important; }

.k-pager-wrap .k-link, .k-pager-wrap .k-pager-nav {
  color: #4D5C66; }
  .k-pager-wrap .k-link:hover, .k-pager-wrap .k-pager-nav:hover {
    color: #4D5C66; }

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #4D5C66;
  background-color: #4D5C66; }

.k-switch-on .k-switch-container {
  background-color: #4D5C66; }
  .k-switch-on .k-switch-container:hover {
    background-color: #414d56; }

.k-slider .k-slider-selection {
  background-color: #4D5C66; }

.k-tabstrip-items .k-item {
  color: #4D5C66; }
  .k-tabstrip-items .k-item:hover, .k-tabstrip-items .k-item.k-state-active {
    color: #4D5C66; }

.k-slider .k-draghandle {
  background-color: #4D5C66;
  border-color: #4D5C66; }

.k-radio:checked {
  background-color: #4D5C66;
  border-color: #4D5C66; }

.k-radio:checked:focus {
  border-color: #4D5C66; }

.k-dropdown .k-dropdown-wrap.k-state-hover, .k-dropdown .k-dropdown-wrap.k-state-focused, .k-dropdowntree .k-dropdown-wrap.k-state-hover, .k-dropdowntree .k-dropdown-wrap.k-state-focused, .k-multiselect .k-dropdown-wrap.k-state-hover, .k-multiselect .k-dropdown-wrap.k-state-focused {
  border-color: #a2aaaf; }

.k-pager-numbers .k-link.k-state-selected,
.k-button-group .k-button:active, .k-button-group .k-button.k-state-active, .k-button-group .k-button.k-state-selected, .k-button-group > input[type="radio"]:checked + .k-button, .k-button-group > input[type="checkbox"]:checked + .k-button {
  border-color: #4D5C66;
  background-color: #4D5C66; }

.k-pager-numbers .k-link.k-state-selected:hover, .k-treeview .k-in.k-state-selected {
  border-color: #4D5C66;
  background-color: #4D5C66;
  color: white; }

.k-list .k-item:hover.k-state-selected, .k-list .k-item.k-state-hover.k-state-selected, .k-list-optionlabel:hover.k-state-selected, .k-list-optionlabel.k-state-hover.k-state-selected {
  background-color: #4D5C66; }

.k-checkbox:focus {
  border-color: #414d56; }

.k-checkbox:checked:focus {
  border-color: #47555e; }

.k-event {
  background-color: #dbdee0; }
