<div class="panel panel-default setup-panel">
    <div class="panel-body">
        <div ng-if="loading" class="page-loading"><i class="ion ion-load-c fa-spinner fa-pulse"></i></div>
        <div class="text-left" ng-if="!loading">
            <a href class="btn btn-custom btn-sm btn-w-xlg" ng-click="showFormModal()"><i
                    class="fa fa-plus pull-left"></i> {{'Setup.Modules.NewActionButton' | translate}}</a>
        </div>
        <div class="modules-setup slide" ng-show="!loading">
            <div class="subpanel">
                <div class="subpanel-body">
                    <div class="empty-message" ng-if="actionButtons.length < 1" ng-show="!loading">
                        {{'Setup.Modules.NoActionButton' | translate}}
                    </div>
                    <table class="table" ng-show="actionButtons.length > 0 ">
                        <thead>
                            <tr>
                                <th>{{'Setup.Modules.Name' | translate}}</th>
                                <th>{{'Setup.Modules.ActionButtonLabel' | translate}}</th>
                                <th>{{'Setup.Modules.ActionType' | translate}}</th>
                                <th>URL</th>
                                <th>{{'Setup.Modules.DisplayPage' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="actionButton in actionButtons | filter:{hidden:'!true'} | orderBy:'created_at'">
                                <td>{{actionButton.parent_module['label_' + language + '_plural']}}</td>
                                <td>{{actionButton.name}}</td>
                                <td ng-if="actionButton.action_type == 'ModalFrame'">Modal</td>
                                <td ng-if="actionButton.action_type == 'Webhook'">Webhook</td>
                                <td>{{actionButton.url}}</td>
                                <td ng-if="actionButton.trigger == 'Detail'">{{'Setup.Modules.Detail' | translate}}</td>
                                <td ng-if="actionButton.trigger == 'Form'">Form</td>
                                <td ng-if="actionButton.trigger == 'All'">{{'Setup.Modules.All' | translate}}</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-xs btn-custom"
                                            ng-click="showFormModal(actionButton)">{{'Common.Edit' | translate}}
                                    </button>
                                    <button type="button" class="btn btn-xs btn-custom" confirm-click
                                            action="delete(actionButton)" placement="left"
                                            confirm-message="{{'Common.AreYouSure' | translate}}"
                                            confirm-yes="{{'Common.Yes' | translate}}"
                                            confirm-no="{{'Common.No' | translate}}">{{'Common.Remove' | translate}}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>