<md-content flex style="height: 100%;">
    <form class="disable-validation-msg" kendo-validator="companyForm" ng-submit="editCompany()" layout="column" style="height: 100%; overflow-y: hidden;" ng-cloak>
        <div ng-show="loading"><div class="spin"><div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div></div></div>
        <section ng-show="!loading" layout="column" style="height: 100%; overflow-y: hidden;" ng-cloak>
            <md-toolbar md-scroll-shrink ng-if="true">
                <div class="md-toolbar-tools">
                    <h1 md-truncate>{{'Setup.Nav.OrganizationSettings' | translate}}</h1>
                    <div class="helpbuttons hide-on-m">
                        <!--<md-button class="md-icon-button enlarge d-none d-lg-inline-block" ng-click="toggleFullLeftMenu()"
                                   aria-label="{{'Common.FullScreen' | translate}}">
                            <svg class="enlarge_icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36"
                                 style="enable-background:new 0 0 36 36;" xml:space="preserve">
                            <path d="M19.4,12.8c-0.8,0.8-0.8,2.1,0,2.9c0.8,0.8,2.1,0.8,2.9,0l5.1-5.1l3.2,3.2c0.8,0.8,1.4,0.5,1.4-0.6V5c0-1.1-0.9-2-2-2h-8.1 c-1.1,0-1.4,0.6-0.6,1.4l3.2,3.2L19.4,12.8z" />

                            <path d="M16.6,21.2c0.8-0.8,0.8-2.1,0-2.9c-0.8-0.8-2.1-0.8-2.9,0l-5.1,5.1l-3.2-3.2C4.6,19.5,4,19.8,4,20.9V29c0,1.1,0.9,2,2,2h8.1 c1.1,0,1.4-0.6,0.6-1.4l-3.2-3.2L16.6,21.2z" />

                            <path d="M31.4,6.5c0.8-0.8,0.8-2.1,0-2.9s-2.1-0.8-2.9,0l-5.1,5.1l-3.2-3.2c-0.8-0.8-1.4-0.5-1.4,0.6v8.1c0,1.1,0.9,2,2,2h8.1 c1.1,0,1.4-0.6,0.6-1.4l-3.2-3.2L31.4,6.5z" />

                            <path d="M4.6,27.5c-0.8,0.8-0.8,2.1,0,2.9c0.8,0.8,2.1,0.8,2.9,0l5.1-5.1l3.2,3.2c0.8,0.8,1.4,0.5,1.4-0.6v-8.1c0-1.1-0.9-2-2-2H7.1 c-1.1,0-1.4,0.6-0.6,1.4l3.2,3.2L4.6,27.5z" />  </svg>
                            <md-tooltip md-autohide="true" ng-if="!showTooltip" md-direction="bottom">{{'Common.FullScreen' | translate}}</md-tooltip>
                            <md-tooltip md-autohide="true" ng-if="showTooltip" md-direction="bottom">{{'Common.ExitFullScreen' | translate}}</md-tooltip>
                        </md-button>-->
                    </div>
                    <span flex></span>
                    <md-button type="submit" class="md-icon-button btn btn-primary" aria-label="{{'Common.Save' | translate}}">
                        <i class="fas fa-save"></i>
                        <md-tooltip md-autohide="true" md-direction="bottom" ng-disabled="user.isDemo">{{'Common.Save' | translate}}</md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content flex>
                <div class="container-fluid paddingua20">
                    <section class="whitebox collapsible">
                        <div class="collapsible-head">
                            <h5>{{'Setup.Organization.Title1' | translate}} </h5>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col-md-auto">
                                    <div class="form-group">
                                        <label>{{'Setup.Organization.NewLogo' | translate}}</label>
                                        <div class="image-preview image-preview2">
                                            <div class="image-holder">
                                                <img src="images/no-company-image.png" ng-src="{{logo ? logo : 'images/no-company-image.png'}}" user-image="{{logo}}" alt="" ng-if="!logo && !imagePreview" />
                                                <img ng-src="{{logo}}" ng-if="logo" />
                                                <img ng-src="{{imagePreview}}" ng-if="imagePreview" />
                                            </div>
                                            <md-button class="upload-btn btn btn-primary md-icon-button btn-sm" ng-if="!imagePreview && !logo">
                                                <i class="fas fa-upload"></i><md-tooltip md-autohide="true" md-direction="bottom">{{'Setup.Organization.NewLogo' | translate}}</md-tooltip>
                                                <input ng-if="uploader" type="file" nv-file-select uploader="uploader" />
                                            </md-button>
                                            <md-button class="delete-btn btn btn-danger md-icon-button btn-sm" ng-if="logo || imagePreview" ng-click="removeLogo()"><i class="fas fa-trash"></i><md-tooltip md-autohide="true" md-direction="bottom">{{'Common.Delete' | translate}}</md-tooltip></md-button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="companyname">
                                                    <span>{{'Setup.Organization.CompanyName' | translate}}</span>
                                                    <span class="label-right">
                                                        <span class="required-label">{{'Common.Required' | translate}}</span>
                                                    </span>
                                                </label>
                                                <input type="text" id="companyName" name="companyName" class="form-control k-textbox" ng-minlength="2" maxlength="20" required ng-model="company.title" validationMessage="{{'Module.Required' | translate}}" />
                                                <span class="k-invalid-msg" data-for="companyName"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="companyname">
                                                    <span>{{'Setup.Organization.Culture' | translate}}</span>
                                                    <span class="label-right">
                                                        <span class="required-label">{{'Common.Required' | translate}}</span>
                                                    </span>
                                                </label>
                                                <select id="culture" name="culture"
                                                        kendo-drop-down-list k-options="cultureOptions" k-ng-model="company.culture" required validationMessage="{{'Module.Required' | translate}}"></select>
                                                <span class="k-invalid-msg" data-for="culture"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="companyname">
                                                    <span>{{'Setup.Organization.Currency' | translate}}</span>
                                                    <span class="label-right">
                                                        <span class="required-label">{{'Common.Required' | translate}}</span>
                                                    </span>
                                                </label>
                                                <select id="currency" name="currency"
                                                        kendo-drop-down-list k-options="currencyOptions" k-ng-model="company.currency" required validationMessage="{{'Module.Required' | translate}}"></select>
                                                <span class="k-invalid-msg" data-for="currency"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="file-upload-item-box" ng-show="uploader.queue.length > 0">
                                        <div ng-repeat="item in uploader.queue">
                                            <div class="d-flex align-items-center">
                                                <div class="file-icon-wrapper">
                                                    <div class="image-preview image-preview2">
                                                        <div class="image-holder">
                                                            <img ng-src="{{imagePreview}}" />
                                                        </div>
                                                    </div>
                                                    <span class="icon-success" ng-show="item.isSuccess"><i class="fas fa-check"></i></span>
                                                    <span class="icon-cancel" ng-show="item.isCancel"><i class="fas fa-ban "></i></span>
                                                    <span class="icon-error" ng-show="item.isError"><i class="fas fa-exclamation-triangle"></i></span>
                                                </div>
                                                <div>
                                                    <small>{{'Documents.FileName' | translate}} :</small> <br />
                                                    <strong md-truncate>{{ item.file.name }}</strong> <span ng-show="uploader.isHTML5">({{item.file.size | size}})</span>
                                                </div>
                                                <div flex></div>
                                                <div>
                                                    <md-button class="md-icon-button btn btn-secondary btn-xs" ng-click="item.remove(); item.image=null; $parent.imagePreview = null;">
                                                        <i class="fas fa-trash"></i> <md-tooltip md-autohide="true" md-direction="bottom">{{'Documents.Clear' | translate}}</md-tooltip>
                                                    </md-button>
                                                    <md-button class="md-icon-button btn btn-secondary btn-xs" ng-click="item.cancel()" ng-if="uploader.isUploading">
                                                        <i class="fas fa-ban"></i> <md-tooltip md-autohide="true" md-direction="bottom">{{'Documents.Cancel' | translate}}</md-tooltip>
                                                    </md-button>
                                                    <md-button class="md-icon-button btn btn-primary btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                        <i class="fas fa-upload"></i> <md-tooltip md-autohide="true" md-direction="bottom">{{'Documents.Upload' | translate}}</md-tooltip>
                                                    </md-button>
                                                </div>
                                            </div>
                                            <div ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" ng-style="{'width': item.progress + '%'}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </md-content>
        </section>
    </form>
</md-content>

<md-sidenav ng-show="sideinclude" id="sideModal" class="md-sidenav-right md-whiteframe-2dp" md-component-id="sideModal" md-is-locked-open="isDocked &&  $mdMedia('gt-lg')">
    <div data-ng-if="sideLoad" data-ng-include="url" layout="column" style="height: 100%;" ng-cloak></div>
</md-sidenav>
