<div class="popover sip-phone" ng-controller="SipPhoneController">
    <div class="arrow  "></div>
    <div class="popover-content ">
        <div class="readyScreen" ng-if="sipUser.activePhoneScreen==='readyScreen'">

            <div class="readyScreenContainer">
                <div class="manualRegisterUnregister">
                    <a href ng-click="registerUnregister()">
                        <i ng-if="!sipUser.userAgent.isRegistered()" class="fa fa-power-off offlineColor"></i>
                        <i ng-if="sipUser.userAgent.isRegistered()" class="fa fa-power-off onlineColor"></i>
                    </a>
                </div>
                <div>
                    <span class="statusSpan">
                        <a href ng-click="changePhoneScreen('connectingScreen')" ng-if="sipUser.lineInfo.State ==='IncomingCall' || sipUser.lineInfo.State ==='Ringing' || sipUser.lineInfo.State ==='Dialing'">
                            {{sipUser.lineInfo.PhoneStatus}}
                        </a>
                        <a href ng-click="changePhoneScreen('connectingScreen')" ng-if="sipUser.lineInfo.State ==='Active'">
                            {{sipUser.lineInfo.PhoneStatus}}
                        </a>
                        <div class="readyScreenTimer" ng-if="sipUser.lineInfo.TalkingTimer != 0 && sipUser.lineInfo.State ==='Active'">
                            {{sipUser.lineInfo.TalkingTimer | formatToMinuteAndSecond}}
                        </div>

                    </span>
                    <span class="extensionNumber">
                        {{sipUser.Extension}}
                    </span>
                    <span class="onlineOfflineSpan">
                        <span ng-if="sipUser.lineInfo.State ==='Ready'" class="onlineColor">{{ 'Setup.Phone.Online' | translate }}</span>
                    </span>
                    <span ng-if="sipUser.lineInfo.State !='Ready'" style="color:#c1c1c1">
                           {{ 'Setup.Phone.Offline' | translate }}
                        </span>

                    <div class="dialpadDiv">
                        <a href ng-click="changePhoneScreen('dialpadScreen')">
                            <i class="fa fa-th"></i>
                        </a>
                        <span class="dialpadName">{{  'Setup.Phone.DialPad' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="sipUser.activePhoneScreen !='readyScreen'" class="phone-call">
        <div class="pad">
            <div class="pad-hide">

            </div>

            <div class="dial-pad" ng-if="sipUser.activePhoneScreen==='dialpadScreen'">
                <div class="contact">

                    <div class="contact-info" ng-if="sipUser.lineInfo.TalkingRecordInfo !=null">
                        <div class="talkingRecord" ng-show="sipUser.lineInfo.RecordId">
                            <a href="#/app/crm/module/{{sipUser.lineInfo.ModuleName}}?id={{sipUser.lineInfo.RecordId}}">
                                {{sipUser.lineInfo.TalkingRecordInfo}}
                            </a>
                        </div>
                        <div class="talkingRecord" ng-show="!sipUser.lineInfo.RecordId">
                            <a href="#/app/crm/moduleForm/{{sipUser.lineInfo.ModuleName}}?field={{sipUser.lineInfo.Field}}&value={{sipUser.lineInfo.Value}}">
                                {{sipUser.lineInfo.TalkingRecordInfo}}
                            </a>
                        </div>
                    </div>

                </div>
                <div class="phoneString">
                    <input type="text" ng-model="sipUser.numberToDial" numeric autocomplete="off"
                           ng-keyup="findRecord(sipUser.numberToDial,$event)" class="phoneDialInput" id="phoneDialInput"
                           maxlength="17" placeholder="_"/>
                    <i class="fa fa-angle-left" ng-click="clearPhoneInput($event)"  data-placement="top" data-type="info" data-trigger="hover" bs-tooltip="{ 'title': ('Common.Remove' | translate)}"></i>
                </div>
                <div class="digits">
                    <div class="dig pound number-dig" ng-mousedown="putDialNumber(1,697.0, 1209.0,$event)"
                         ng-mouseup="stopDialNumber()">1
                    </div>
                    <div class="dig number-dig" ng-mousedown="putDialNumber(2,697.0, 1336.0,$event)"
                         ng-mouseup="stopDialNumber()">2
                        <div class="sub-dig">ABC</div>
                    </div>
                    <div class="dig number-dig" ng-mousedown="putDialNumber(3,697.0, 1477.0,$event)"
                         ng-mouseup="stopDialNumber()">3
                        <div class="sub-dig">DEF</div>
                    </div>
                    <div class="dig number-dig" ng-mousedown="putDialNumber(4,770.0, 1209.0,$event)"
                         ng-mouseup="stopDialNumber()">4
                        <div class="sub-dig">GHI</div>
                    </div>
                    <div class="dig number-dig" ng-mousedown="putDialNumber(5,770.0, 1336.0,$event)"
                         ng-mouseup="stopDialNumber()">5
                        <div class="sub-dig">JKL</div>
                    </div>
                    <div class="dig number-dig" ng-mousedown="putDialNumber(6,770.0, 1477.0,$event)"
                         ng-mouseup="stopDialNumber()">6
                        <div class="sub-dig">MNO</div>
                    </div>
                    <div class="dig number-dig" ng-mousedown="putDialNumber(7,852.0, 1209.0,$event)"
                         ng-mouseup="stopDialNumber()">7
                        <div class="sub-dig">PQRS</div>
                    </div>
                    <div class="dig number-dig" ng-mousedown="putDialNumber(8,852.0, 1336.0,$event)"
                         ng-mouseup="stopDialNumber()">8
                        <div class="sub-dig">TUV</div>
                    </div>
                    <div class="dig number-dig" ng-mousedown="putDialNumber(9,852.0, 1477.0,$event)"
                         ng-mouseup="stopDialNumber()">9
                        <div class="sub-dig">WXYZ</div>
                    </div>
                    <div class="dig number-dig astrisk" ng-mousedown="putDialNumber('*',941.0, 1209.0,$event)"
                         ng-mouseup="stopDialNumber()">*
                    </div>
                    <div class="dig number-dig pound" ng-mousedown="putDialNumber(0,941.0, 1336.0,$event)"
                         ng-mouseup="stopDialNumber()">0
                    </div>
                    <div class="dig number-dig pound" ng-mousedown="putDialNumber('#',941.0, 1477.0,$event)"
                         ng-mouseup="stopDialNumber()">#
                    </div>
                </div>
                <div class="digits">
                    <a data-placement="top" data-type="info" data-trigger="hover" bs-tooltip="{ 'title': ('Setup.Phone.NewRecord' | translate)}"
                       href="{{ sipUser.numberToDial.length >=11 ? '#/app/crm/moduleForm/'+sipUser.lineInfo.ModuleName+'?field='+sipUser.lineInfo.Field +'&value='+sipUser.lineInfo.Value:'#'+currentPath }} "
                       class="dig addPerson action-dig">
                        <i class="fa fa-user-plus" aria-hidden="true"
                           style=" font-size: 21px; margin-top: 3px; margin-left: 4px;"></i>
                    </a>
                    <div class="dig-spacer"></div>
                    <div class="dig goBack action-dig" ng-click="changePhoneScreen('readyScreen')" data-placement="top" data-type="info" data-trigger="hover" bs-tooltip="{ 'title': ('Common.Back' | translate)}">
                        <i class="fa fa-arrow-left" aria-hidden="true"
                           style="font-size: 22px;margin-top: 5px;margin-left: -3px;"></i>
                    </div>
                </div>
                <div class="call action-dig" ng-click="dialOrAnswer()"
                     ng-if="sipUser.userAgent.isRegistered() && sipUser.lineInfo.State == 'Ready'"
                     data-type="info" data-trigger="hover" bs-tooltip="{ 'title':  ('Setup.Phone.Call' | translate) }">
                    <div class="call-change"><span></span></div>
                    <div class="call-icon incoming-call-icon">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="call-pad " ng-class="{'in-call':sipUser.activePhoneScreen==='connectingScreen'}">
                <div class="transferlist text-center" ng-show="isTransfer && transferShow">

                    <div class="input-group">
                        <input numeric type="text" placeholder="{{  'Setup.Phone.Internal' | translate}}"
                               ng-model="transferNumber" name="transferNumber"
                               class="form-control text-center">
                        <span ng-click="transfer(transferNumber)" class="input-group-addon" id="basic-addon1">
                            <i class="fa fa-share" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="contact showContact" ng-repeat="sipUser in phoneSettings.sipUsers">
                        <div class="contact-info">
                            <div class="contact-name">{{ sipUser.name }} ({{
                                sipUser.extension }})
                            </div>
                        </div>
                        <div class="contact-buttons" ng-click="transfer(sipUser.extension)">
                            <button class="icon-message" style="color:#fff">
                                <i class="fa fa-share" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class='pulsate active-call'>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="ca-avatar" ng-class="{'in-call':sipUser.activePhoneScreen==='connectingScreen'}"
                     style="background-image: url(web/images/user-image.png);"></div>
                <div class="ca-name">
                    <div class="talkingRecord" ng-show="sipUser.lineInfo.RecordId">
                        <a href="#/app/crm/module/{{sipUser.lineInfo.ModuleName}}?id={{sipUser.lineInfo.RecordId}}">
                            {{sipUser.lineInfo.TalkingRecordInfo}}
                        </a>
                    </div>
                    <div class="talkingRecord" ng-show="!sipUser.lineInfo.RecordId">
                        <a href="#/app/crm/moduleForm/{{sipUser.lineInfo.ModuleName}}?field={{sipUser.lineInfo.Field}}&value={{sipUser.lineInfo.Value}}">
                            {{sipUser.lineInfo.TalkingRecordInfo}}
                        </a>
                    </div>
                </div>
                <div class="ca-number"> {{sipUser.lineInfo.TalkingNumber}} {{sipUser.lineInfo.TalkingTimer |
                    formatToMinuteAndSecond}}
                </div>
                <div class="ca-status">{{sipUser.lineInfo.PhoneStatus}}</div>
                <div class="ca-buttons">
                    <div class="callActiveButtons">
                        <div class="hangupOrRejectButton">
                            <div class="call action-dig  clicked"
                                 ng-style="sipUser.lineInfo.State == 'IncomingCall' ? {'margin-left':'47px'} : {'margin':'-15px 3px'}"
                                 ng-click="hangup()"
                                 data-type="info" data-trigger="hover"
                                 bs-tooltip="{ 'title': ('Setup.Phone.EndCall' | translate) }">
                                <div class="call-change in-call"><span></span></div>
                                <div class="call-icon in-call">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ca-b-single muteButton"
                             ng-style="{ 'background-color': sipUser.lineInfo.IsMuted ? '#9E9E9E':'none' ,'margin-left': transferShow && sipUser.lineInfo.State == 'Active' ? '17px':'32px'  }"
                             ng-click="sipUser.lineInfo.IsMuted?unmute():mute()"
                             style="padding-top: 7%;  padding-left: 8%;"
                             ng-if="sipUser.lineInfo.State == 'Active'"
                             data-type="info" data-trigger="hover"
                             bs-tooltip="{ 'title': !sipUser.lineInfo.IsMuted ? ('Setup.Phone.Takemute' | translate) : '' }">
                            <i class="fa fa-microphone-slash" aria-hidden="true"></i>
                        </div>

                        <div class="ca-b-single muteButton" style="padding-top: 7%;  padding-left: 8%;"
                             ng-style="{ 'background-color': sipUser.lineInfo.IsHold ? '#9E9E9E':'none', 'margin-left': transferShow && sipUser.lineInfo.State == 'Active' ? '17px':'32px' }"
                             ng-click="sipUser.lineInfo.IsHold?unhold():hold()"
                             ng-if="sipUser.lineInfo.State == 'Active'"
                             data-type="info" data-trigger="hover"
                             bs-tooltip="{ 'title': !sipUser.lineInfo.IsHold ? ('Setup.Phone.Takehold' | translate) :''}">
                            <i class="fa fa-pause" aria-hidden="true"></i>

                        </div>
                        <div class="ca-b-single muteButton" style="padding-top: 6%;  padding-left: 7%;"
                             ng-style="{ 'background-color': isTransfer ? '#9E9E9E':'none'  }"
                             ng-click="isTransfer?isTransferChange(false):isTransferChange(true)"
                             ng-if="transferShow && sipUser.lineInfo.State == 'Active'"
                             data-type="info" data-trigger="hover"
                             bs-tooltip="{ 'title': !isTransfer ? ('Setup.Phone.Redirect' | translate) : ''}">
                            <i class="fa fa-exchange" aria-hidden="true"></i>

                        </div>
                    </div>

                </div>

                <div class="call action-dig " ng-click="!callAccepting?dialOrAnswer():false"
                     ng-if="sipUser.userAgent.isRegistered() && sipUser.lineInfo.State == 'IncomingCall'"
                     style="margin-left: -47px"
                     data-type="info" data-trigger="hover" bs-tooltip="{ 'title':  ('Setup.Phone.Answer' | translate) }"
                >

                    <div class="call-icon incoming-call-icon" ng-class="{'in-call':callAccepting}">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="digits">
                    <a href="#/app/crm/moduleForm/{{sipUser.lineInfo.ModuleName}}?field={{sipUser.lineInfo.Field}}&value={{sipUser.lineInfo.Value}}"
                       class="dig addPerson action-dig">
                        <i class="fa fa-address-book-o" aria-hidden="true"></i>
                    </a>
                    <div class="dig-spacer"></div>
                    <div class="dig goBack action-dig" ng-click="clearPhoneInput($event)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
