<div class="page-container">
    <div class="row" ng-hide="!appsFilter && apps.length < 1">
        <div class="col-sm-10">
            <div class="search-input shadowh">
                <div class="search-input-icon">
                    <i class="fas fa-search"></i>
                </div>
                <input ng-model="appSearch" ng-change="appFilter(appSearch, appStatus)" ng-model-options='{ debounce: 500 }' class="form-control form-control-lg form-control-borderless app-search-input" type="search" placeholder="Search">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="shadowh search-select">
                <i class="fas fa-angle-down"></i>
                <select ng-change="appFilter('', appStatus)" class="select-status" ng-model="appStatus">
                    <option value="">All Apps</option>
                    <option value="1">Draft</option>
                    <option value="2">Published</option>
                    <option value="3">Unpublished</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px" ng-hide="!appsFilter && apps.length < 1">
        <div>
            <div class="col-sm-12">
                <h4 class="h4-title blue-color font-bold">All Apps</h4>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 app-layout-box" ng-show="loading">
            <div class="app-box animated-background"></div>
            <div class="app-info animated-background"></div>
        </div>

        <div ng-show="!loading">
            <div class="col-sm-6 col-md-3 app-layout-box am-fade" ng-if="defaultorganization.role ==='administrator'" ui-sref="studio.appsForm({orgId:defaultorganization.id})">
                <div class="app-box">
                    <span class="applogo"><i class="fas fa-layer-group"></i></span>
                </div>
                <div class="app-info">
                    <button class="btn btn-blue btn-radius btn-bold shadowh">
                        <i class="fas fa-plus"></i> Create New App
                    </button>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 app-layout-box" ng-repeat="app in apps" ui-sref="studio.app.overview({appId:app.id, orgId:app.organization_id})">
                <div class="app-box">
                    <div class="oval">
                        <span data-trigger="hover" data-type="success"
                              data-title="{{app.status.charAt(0).toUpperCase() + app.status.slice(1)}}" bs-tooltip
                              class="oval-{{app.status === 'published' ? 'green' : app.status === 'draft' ? 'orange' : 'gray' }}"></span>
                    </div>
                    <img class="applogo" ng-src="{{app.logo}}" alt="" />
                </div>
                <div class="app-info">
                    <div>
                        <h3>{{app.label}}</h3>
                        <h4>{{app.description}} </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="apps.length < 1 && !loading  && !appsFilter">
        <div>
            <div class="dashboard apps clearfix" style="padding: 0px !important;">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 new-app-content">
                        <img src="images/primeapps/create-app-sceen-image.png"
                             srcset="images/primeapps/create-app-sceen-image@2x.png 2x,
                         images/primeapps/create-app-sceen-image@3x.png 3x">
                        <button class="create-app-btn" ng-click="gotoAppForm()">
                            Create your first app
                        </button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
