<div class="setup-title">
    <h2>Spreadsheet</h2>
    <div class="pull-right" style="padding-left: 10px;">
        <ul class="list-unstyled list-inline">
            <li>
                <button class="btn add-button" ng-click="showTemplateGuideModal()"><i class="pull-left fa fa-book"></i>{{'Setup.Templates.SelectTemplateFields' | translate}}</button>
            </li>
            <li>
                <button class="btn add-button" ng-click="showFormModal()"><i class="fas fa-plus"></i>{{'Setup.Templates.AddNewExcelTemplate' | translate}}</button>
            </li>
        </ul>
    </div>
</div> 
<div class="tab-content">
    <kendo-grid class="grid-theme grid-theme-center table-responsive" k-scope-field="grid" id="kendo-grid" k-options="mainGridOptions">
    </kendo-grid>
</div>
