<div class="modal fixed-value-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="fixedValueForm" class="form-horizontal form-custom" ng-submit="modalSubmit(fixedValueForm)" autocomplete="off" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">{{'Setup.Modules.ModuleSettings' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-class="{'has-error': fixedValueForm.$submitted && fixedValueForm.$invalid}">
                        <label class="col-sm-4 control-label">{{fixedField['label_' + language]}}</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   name="{{fixedField.name}}"
                                   class="form-control ng-animate-disabled"
                                   placeholder="{{fixedField.placeholder}}"
                                   ng-model="fixedValue[fixedField.name]"
                                   ng-required="{{fixedField.validation.required}}"
                                   ng-minlength="fixedField.validation.min_length || 0"
                                   maxlength="{{fixedField.validation.max_length || 50}}"
                                   pattern="{{fixedField.validation.pattern}}"
                                   ui-mask="{{fixedField.mask}}"
                                   ng-if="fixedField.data_type === 'text_single' && fixedField.data_type != 'number_auto' && !fixedField.combination" />

                            <textarea name="{{fixedField.name}}"
                                      class="form-control ng-animate-disabled"
                                      placeholder="{{fixedField.placeholder}}"
                                      ng-model="fixedValue[fixedField.name]"
                                      ng-required="{{fixedField.validation.required}}"
                                      ng-minlength="fixedField.validation.min_length || 0"
                                      maxlength="500"
                                      pattern="{{fixedField.validation.pattern}}"
                                      auto-grow
                                      ng-if="fixedField.data_type === 'text_multi'"></textarea>

                            <input type="text"
                                   name="{{fixedField.name}}"
                                   class="form-control ng-animate-disabled"
                                   placeholder="{{fixedField.placeholder}}"
                                   ng-model="fixedValue[fixedField.name]"
                                   ng-required="fixedField.validation.required"
                                   ng-trim="false"
                                   ng-minlength="fixedField.validation.min_length || 0"
                                   maxlength="{{fixedField.validation.max_length || 15}}"
                                   min-value="fixedField.validation.min || 0"
                                   max-value="fixedField.validation.max || Number.MAX_VALUE"
                                   numeric
                                   ng-if="fixedField.data_type === 'number'" />

                            <input type="text"
                                   name="{{fixedField.name}}"
                                   class="form-control ng-animate-disabled"
                                   placeholder="{{fixedField.placeholder}}"
                                   ng-model="fixedValue[fixedField.name]"
                                   ng-required="fixedField.validation.required"
                                   maxlength="{{fixedField.validation.max_length || 19}}"
                                   min-value="fixedField.validation.min || 0"
                                   max-value="fixedField.validation.max || Number.MAX_VALUE"
                                   places="fixedField.decimal_places || 2"
                                   rounding="fixedField.rounding"
                                   number-decimal
                                   ng-if="fixedField.data_type === 'number_decimal'" />

                            <input type="text"
                                   name="{{fixedField.name}}"
                                   class="form-control ng-animate-disabled"
                                   placeholder="{{fixedField.placeholder}}"
                                   ng-model="fixedValue[fixedField.name]"
                                   ng-required="fixedField.validation.required"
                                   maxlength="{{fixedField.validation.max_length || 21}}"
                                   min-value="fixedField.validation.min || 0"
                                   max-value="fixedField.validation.max || Number.MAX_VALUE"
                                   places="fixedField.decimal_places || 2"
                                   rounding="fixedField.rounding"
                                   currency-symbol="fixedField.currency_symbol"
                                   number-currency
                                   ng-if="fixedField.data_type === 'currency'" />

                            <input type="email"
                                   name="{{fixedField.name}}"
                                   class="form-control ng-animate-disabled"
                                   placeholder="{{fixedField.placeholder}}"
                                   ng-model="fixedValue[fixedField.name]"
                                   ng-required="{{fixedField.validation.required}}"
                                   ng-minlength="fixedField.validation.min_length || 0"
                                   maxlength="{{fixedField.validation.max_length || 100}}"
                                   ng-if="fixedField.data_type === 'email'" />

                            <input type="text"
                                   name="{{fixedField.name}}"
                                   class="form-control ng-animate-disabled"
                                   ng-model="fixedValue[fixedField.name]"
                                   ng-required="{{fixedField.validation.required}}"
                                   data-autoclose="1"
                                   data-date-type="iso"
                                   data-min-date="{{(fixedField.validation.min ? (fixedField.validation.min === 'today' ? currentDayMin : fixedField.validation.min) : undefined)}}"
                                   data-max-date="{{(fixedField.validation.max ? (fixedField.validation.max === 'today' ? currentDayMax : fixedField.validation.max) : undefined)}}"
                                   data-icon-left="fa fa-chevron-left"
                                   data-icon-right="fa fa-chevron-right"
                                   bs-datepicker
                                   ng-if="fixedField.data_type === 'date'">


                            <div class="clearfix" ng-if="fixedField.data_type === 'date_time'">
                                <input type="text"
                                       name="{{fixedField.name}}"
                                       class="form-control ng-animate-disabled pull-left datetime-date"
                                       ng-model="fixedValue[fixedField.name]"
                                       ng-required="{{fixedField.validation.required}}"
                                       placeholder="{{'Common.Date' | translate}}"
                                       data-autoclose="1"
                                       data-date-type="iso"
                                       data-min-date="{{(fixedField.validation.min ? (fixedField.validation.min === 'today' ? currentDayMin : fixedField.validation.min) : undefined)}}"
                                       data-max-date="{{(fixedField.validation.max ? (fixedField.validation.max === 'today' ? currentDayMax : fixedField.validation.max) : undefined)}}"
                                       data-icon-left="fa fa-chevron-left"
                                       data-icon-right="fa fa-chevron-right"
                                       bs-datepicker>
                                <input type="text"
                                       class="form-control datetime-time"
                                       ng-model="fixedValue[fixedField.name]"
                                       ng-disabled="!fixedValue[fixedField.name] && !fixedValueForm[fixedField.name].$dirty"
                                       placeholder="{{'Common.Time' | translate}}"
                                       data-autoclose="1"
                                       data-time-type="iso"
                                       data-icon-up="fa fa-chevron-up"
                                       data-icon-down="fa fa-chevron-down"
                                       data-length="1"
                                       data-minute-step="10"
                                       data-arrow-behavior="picker"
                                       bs-timepicker>
                            </div>

                            <input type="text"
                                   name="{{fixedField.name}}"
                                   class="form-control"
                                   ng-model="fixedValue[fixedField.name]"
                                   ng-required="{{fixedField.validation.required}}"
                                   data-autoclose="1"
                                   data-time-type="iso"
                                   data-icon-up="fa fa-chevron-up"
                                   data-icon-down="fa fa-chevron-down"
                                   data-length="1"
                                   data-minute-step="10"
                                   data-arrow-behavior="picker"
                                   placeholder="{{'Common.Time' | translate}}"
                                   bs-timepicker
                                   ng-if="fixedField.data_type === 'time'">

                            <select class="form-control ng-animate-disabled"
                                    name="{{fixedField.name}}"
                                    ng-model="fixedValue[fixedField.name]"
                                    ng-required="{{fixedField.validation.required}}"
                                    ng-options="o as o.label[language] for o in picklistsModule[fixedField.picklist_id] | filter:{inactive:'!true', hidden:'!true'} track by o.id"
                                    ng-change="fixedValueChanged(fixedField)"
                                    ng-if="fixedField.data_type === 'picklist'">
                                <option value="">{{'Common.Select' | translate}}</option>
                            </select>

                            <input type="checkbox"
                                   name="{{fixedField.name}}"
                                   class="ng-animate-disabled"
                                   ng-model="fixedValue[fixedField.name]"
                                   ng-if="fixedField.data_type === 'checkbox'">

                            <tags-input name="{{fixedField.name}}"
                                        ng-model="fixedValue[fixedField.name]"
                                        display-property="labelStr"
                                        key-property="id"
                                        placeholder="{{'Common.MultiselectPlaceholder' | translate}}"
                                        replace-spaces-with-dashes="false"
                                        add-from-autocomplete-only="true"
                                        ng-if="fixedField.data_type === 'multiselect'">
                                <auto-complete source="multiselect($query, fixedField)"
                                               min-length="0"
                                               load-on-focus="true"
                                               load-on-empty="true"
                                               max-results-to-show="9999"></auto-complete>
                            </tags-input>

                            <!--Create new input above. angucomplete-alt must be at the bottom of the form-->
                            <angucomplete-alt input-name="{{fixedField.name}}"
                                              id="{{fixedField.name}}"
                                              input-class="form-control ng-animate-disabled"
                                              match-class="highlight-angucomplete"
                                              field-required="fixedField.validation.required"
                                              pause="200"
                                              selected-object="fixedValue[fixedField.name]"
                                              initial-value="fixedValue[fixedField.name]"
                                              remote-api-handler="lookup"
                                              search-fields="name"
                                              title-field="primary_value"
                                              minlength="1"
                                              template-url="view/common/angucomplete.html"
                                              focus-in="setCurrentLookupfixedField(fixedField)"
                                              text-searching="{{'Common.Searching' | translate}}"
                                              text-no-results="{{'Common.NoResults' | translate}}"
                                              use-original-object="true"
                                              hide-create-new="true"
                                              ng-if="fixedField.data_type === 'lookup'" />
                            <!--Don't add new input below angucomplete-alt. Add above angucomplete-alt-->
                        </div>
                    </div>
                    <div class="form-group" ng-show="fixedValueForm.$submitted && fixedValueForm.$invalid">
                        <div class="col-sm-offset-2 col-sm-8">
                            <div class="callout callout-danger">
                                <p ng-if="fixedValueForm.$error.required || fixedValueForm.$error['autocomplete-required']">{{'Module.RequiredError' | translate}}</p>
                                <p ng-if="fixedValueForm.$error['autocomplete-required'] || fixedValueForm.$error.leftoverText">{{'Module.RequiredAutoCompleteError' | translate}}</p>
                                <p ng-if="fixedValueForm.$error.email">{{'Module.EmailError' | translate}}</p>
                                <p ng-if="fixedValueForm.$error.min">{{'Module.MinError' | translate}}</p>
                                <p ng-if="fixedValueForm.$error.max">{{'Module.MaxError' | translate}}</p>
                                <p ng-if="fixedValueForm.$error.minlength">{{'Module.MinLengthError' | translate}}</p>
                                <p ng-if="fixedValueForm.$error.pattern">{{'Module.PatternError' | translate}}</p>
                                <p ng-if="fixedValueForm.$error.date && fixedValueForm.$error.parse">{{'Module.DateError' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" ng-disabled="saving" ng-click="modalCancel(); $hide()">{{'Common.Cancel' | translate}}</button>
                    <button type="submit" class="btn btn-w-md btn-primary" ladda="saving"><i class="fa fa-check-circle pull-left"></i> {{'Common.Save' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>