<md-dialog flex="33" aria-label="{{'Setup.Modules.ModuleSettings' | translate}}">
    <form kendo-validator="fixedValueForm" class="disable-validation-msg" autocomplete="off" novalidate ng-submit="modalSubmit(fixedValueForm)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'Setup.Modules.ModuleSettings' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"><i class="fas fa-times"></i></md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="form-group">
                    <label>{{fixedField.languages[globalization.Label]['label']}}</label>
                    <input type="text"
                           name="{{fixedField.name}}"
                           id="{{fixedField.name}}"
                           class="form-control k-textbox"
                           placeholder="{{fixedField.placeholder}}"
                           ng-model="fixedValue[fixedField.name]"
                           ng-required="{{fixedField.validation.required}}"
                           ng-minlength="fixedField.validation.min_length || 0"
                           maxlength="{{fixedField.validation.max_length || 50}}"
                           pattern="{{fixedField.validation.pattern}}"
                           ui-mask="{{fixedField.mask}}"
                           ng-if="fixedField.data_type === 'text_single' && fixedField.data_type != 'number_auto' && !fixedField.combination" />

                    <textarea name="{{fixedField.name}}"
                              id="{{fixedField.name}}"
                              class="form-control k-textbox"
                              placeholder="{{fixedField.placeholder}}"
                              ng-model="fixedValue[fixedField.name]"
                              ng-required="{{fixedField.validation.required}}"
                              ng-minlength="fixedField.validation.min_length || 0"
                              maxlength="500"
                              pattern="{{fixedField.validation.pattern}}"
                              auto-grow
                              ng-if="fixedField.data_type === 'text_multi'"></textarea>

                    <input type="text"
                           name="{{fixedField.name}}"
                           id="{{fixedField.name}}"
                           class="form-control k-textbox"
                           placeholder="{{fixedField.placeholder}}"
                           ng-model="fixedValue[fixedField.name]"
                           ng-required="fixedField.validation.required"
                           ng-trim="false"
                           ng-minlength="fixedField.validation.min_length || 0"
                           maxlength="{{fixedField.validation.max_length || 15}}"
                           min-value="fixedField.validation.min || 0"
                           max-value="fixedField.validation.max || Number.MAX_VALUE"
                           numeric
                           ng-if="fixedField.data_type === 'number'" />

                    <input type="text"
                           name="{{fixedField.name}}"
                           id="{{fixedField.name}}"
                           class="form-control k-textbox"
                           placeholder="{{fixedField.placeholder}}"
                           ng-model="fixedValue[fixedField.name]"
                           ng-required="fixedField.validation.required"
                           maxlength="{{fixedField.validation.max_length || 19}}"
                           min-value="fixedField.validation.min || 0"
                           max-value="fixedField.validation.max || Number.MAX_VALUE"
                           places="fixedField.decimal_places || 2"
                           rounding="fixedField.rounding"
                           number-decimal
                           ng-if="fixedField.data_type === 'number_decimal'" />

                    <input type="text"
                           name="{{fixedField.name}}"
                           id="{{fixedField.name}}"
                           class="form-control k-textbox"
                           placeholder="{{fixedField.placeholder}}"
                           ng-model="fixedValue[fixedField.name]"
                           ng-required="fixedField.validation.required"
                           maxlength="{{fixedField.validation.max_length || 21}}"
                           min-value="fixedField.validation.min || 0"
                           max-value="fixedField.validation.max || Number.MAX_VALUE"
                           places="fixedField.decimal_places || 2"
                           rounding="fixedField.rounding"
                           currency-symbol="fixedField.currency_symbol"
                           number-currency
                           ng-if="fixedField.data_type === 'currency'" />

                    <input type="email"
                           name="{{fixedField.name}}"
                           id="{{fixedField.name}}"
                           class="form-control k-textbox"
                           placeholder="{{fixedField.placeholder}}"
                           ng-model="fixedValue[fixedField.name]"
                           ng-required="{{fixedField.validation.required}}"
                           ng-minlength="fixedField.validation.min_length || 0"
                           maxlength="{{fixedField.validation.max_length || 100}}"
                           ng-if="fixedField.data_type === 'email'" />

                    <input kendo-date-picker
                           name="{{fixedField.name}}"
                           id="{{fixedField.name}}"
                           ng-model="fixedValue[fixedField.name]"
                           ng-required="{{fixedField.validation.required}}"
                           k-min="dateMinValidationControl(fixedField)"
                           k-max="dateMaxValidationControl(fixedField)"
                           k-interval="10"
                           ng-if="fixedField.data_type === 'date'" />

                    <input kendo-date-time-picker
                           name="{{fixedField.name}}"
                           id="{{fixedField.name}}"
                           ng-model="fixedValue[fixedField.name]"
                           ng-required="{{fixedField.validation.required}}"
                           placeholder="{{'Common.Date' | translate}}"
                           k-min="dateMinValidationControl(fixedField)"
                           k-max="dateMaxValidationControl(fixedField)"
                           k-interval="10"
                           ng-if="fixedField.data_type === 'date_time'" />

                    <input kendo-time-picker
                           name="{{fixedField.name}}"
                           id="{{fixedField.name}}"
                           ng-model="fixedValue[fixedField.name]"
                           ng-required="{{fixedField.validation.required}}"
                           placeholder="{{'Common.Time' | translate}}"
                           k-interval="10"
                           ng-if="fixedField.data_type === 'time'" />

                    <select kendo-drop-down-list
                            name="{{fixedField.name}}"
                            id="{{fixedField.name}}"
                            k-ng-model="fixedValue[fixedField.name]"
                            ng-required="{{fixedField.validation.required}}"
                            k-on-change="fixedValueChanged(fixedField)"
                            k-options="fixedSelectListOption(fixedField)"
                            k-option-label="'{{'Common.Select' | translate}}'"
                            ng-if="fixedField.data_type === 'picklist'"></select>

                    <div class="custom-control custom-checkbox custom-control-inline" ng-if="fixedField.data_type === 'checkbox'">
                        <input type="checkbox"
                               id="checkbox"
                               class="custom-control-input"
                               ng-required="{{fixedField.validation.required}}"
                               ng-model="fixedValue[fixedField.name]">
                        <label class="custom-control-label" for="checkbox"></label>
                    </div>

                    <select kendo-multi-select
                            name="{{fixedField.name}}"
                            id="{{fixedField.name}}"
                            k-options="fixedMultiSelect(fixedField)"
                            k-ng-model="fixedValue[fixedField.name]"
                            ng-required="{{fixedField.validation.required}}"
                            ng-if="fixedField.data_type === 'multiselect'"></select>

                    <input kendo-auto-complete
                           name="{{fixedField.name}}"
                           id="{{fixedField.name}}"
                           k-options="fixedLookupOptions(fixedField)"
                           k-ng-model="fixedValue[fixedField.name]"
                           ng-required="{{fixedField.validation.required}}"
                           ng-if="fixedField.data_type === 'lookup'" />

                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="btn btn-primary" type="submit" md-autofocus>
                <i class="fas fa-save"></i>
                {{'Common.Save' | translate}}
            </md-button>
            <span flex></span>
        </md-dialog-actions>
    </form>
</md-dialog>