<md-content flex style="height: 100%;">
    <div layout="column" style="height: 100%; overflow-y: hidden;" ng-cloak>
        <md-toolbar md-scroll-shrink ng-if="true" class="with-subheader">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button show-on-m" aria-label="{{'Common.Back' | translate}}" ng-click="goBack()"> <i class="fas fa-angle-left"></i> <md-tooltip md-direction="right">{{'Common.Back' | translate}}</md-tooltip> </md-button>
                <h2 md-truncate>{{'Import.Title' | translate}}</h2>
                <span class="show-on-m" flex></span>
                <div flex id="action-btn" kendo-toolbar k-options="toolbarOptions"></div>
            </div>
        </md-toolbar>
        <md-content flex>
            <md-subheader class="own-tab">
                <md-tabs md-dynamic-height md-swipe-content>
                    <md-tab ng-click="wizardStep=0" md-active="wizardStep === 0">
                        <md-tab-label id="tab1" aria-controls="Tab1">
                            <div class="tab-container">
                                <span>{{'Data.Import.Step1' | translate}}</span>
                            </div>
                        </md-tab-label>
                    </md-tab>
                    <md-tab ng-click="wizardStep=1" ng-disabled="wizardStep === 0" md-active="wizardStep === 1">
                        <md-tab-label id="tab2" aria-controls="Tab2">
                            <div class="tab-container">
                                <span>{{'Data.Import.Step2' | translate}}</span>
                            </div>
                        </md-tab-label>
                    </md-tab>
                    <md-tab ng-click="submit()" ng-disabled="wizardStep < 2" md-active="wizardStep === 2">
                        <md-tab-label id="tab3" aria-controls="Tab3">
                            <div class="tab-container">
                                <span>{{'Data.Import.Step3' | translate}}</span>
                            </div>
                        </md-tab-label>
                    </md-tab>

                </md-tabs>
            </md-subheader>

            <div class="container-fluid paddingua20">
                <div class="row">
                    <div class="col-12">
                        <div ng-show="wizardStep === 0">
                            <div class="whitebox">

                                <div class="form-group">
                                    <label for="excelFile">
                                        <span class="select-sheet bold">{{'Import.File' | translate}}</span>
                                    </label>
                                    <div class="custom-file" ng-show="!uploader.queue.length">
                                        <input type="file" id="excelFile" name="excelFile" class="custom-file-input" nv-file-select="" uploader="uploader" ng-disabled="uploader.queue.length">
                                        <label class="custom-file-label" for="excelFile">{{'Data.Import.ChooseFiles' | translate}}</label>
                                    </div>
                                    <div ng-show="uploader.queue.length">
                                        <div class="greybox d-flex align-items-center justify-content-between">
                                            <span>{{uploader.queue[0].file.name}}</span>
                                            <button class="btn" style="padding:0;" type="reset" ng-click="clear()"><i class="fas fa-times"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="sheets">
                                    <label for="sheet{{$index}}">
                                        <span class="select-sheet bold">{{'Data.Import.SelectSheet' | translate}}</span>
                                    </label>
                                    <div class="greybox">
                                        <div class="custom-control custom-radio custom-control-inline paddingua5" ng-repeat="sheet in sheets">
                                            <input type="radio" id="sheet{{$index}}" name="sheet" class="custom-control-input"
                                                   ng-value="sheet" ng-model="selectedSheet" ng-click="selectSheet()">
                                            <label class="custom-control-label" style="padding-bottom:0;" for="sheet{{$index}}">{{sheet}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="mappingArray.length > 0">
                                    <label for="selectedMapping">
                                        <span class="select-sheet bold">{{'Data.Import.SelectMapping' | translate}}</span>
                                    </label>
                                    <select ng-show="mappingArray.length"
                                            id="selectedMapping"
                                            name="selectedMapping"
                                            k-ng-model="selectedMapping"
                                            k-auto-bind="false"
                                            kendo-drop-down-list="mappingDropDown"
                                            k-options="mappingOptions"
                                            k-on-change="mappingSelectedChange()"
                                            k-option-label="'{{'Common.Select' | translate}}'"></select>
                                </div>
                                <div class="form-group">
                                    <md-button type="button" class="btn btn-secondary btn-sm" ng-click="showAdvancedOptions = !showAdvancedOptions" ng-show="sheets">
                                        {{'Data.Import.AdvancedOptions' | translate}}
                                        <i class="fa fa-caret-right" ng-if="!showAdvancedOptions"></i>
                                        <i class="fa fa-caret-down" ng-if="showAdvancedOptions"></i>
                                    </md-button>
                                </div>
                                <div class="row" ng-show="showAdvancedOptions">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="dataOrder">
                                                <span class="select-sheet bold">{{'Data.Import.DateOrder' | translate}}</span>
                                            </label>
                                            <select id="dataOrder" class="form-control" ng-model="dateOrder" ng-change="getSampleDate()">
                                                <option value="{{locale === 'en' ? 'D/M/YYYY':'DD/MM/YYYY'}}">{{'Data.Import.DateOrders.DayMonthYear' | translate}}</option>
                                                <option value="{{locale === 'en' ? 'M/D/YYYY':'MM/DD/YYYY'}}">{{'Data.Import.DateOrders.MonthDayYear' | translate}}</option>
                                                <option value="{{locale === 'en' ? 'YYYY/M/D':'YYYY/MM/DD'}}">{{'Data.Import.DateOrders.YearMonthDay' | translate}}</option>
                                                <option value="{{locale === 'en' ? 'YYYY/D/M':'YYYY/DD/MM'}}">{{'Data.Import.DateOrders.YearDayMonth' | translate}}</option>
                                                <option value="{{locale === 'en' ? 'D/YYYY/M':'DD/YYYY/MM'}}">{{'Data.Import.DateOrders.DayYearMonth' | translate}}</option>
                                                <option value="{{locale === 'en' ? 'M/YYYY/D':'MM/YYYY/DD'}}">{{'Data.Import.DateOrders.MonthYearDay' | translate}}</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="dateDelimiter">
                                                <span class="select-sheet bold">{{'Data.Import.DateDelimiter' | translate}}</span>
                                            </label>
                                            <select id="dateDelimiter" class="form-control" ng-model="dateDelimiter" ng-change="getSampleDate()">
                                                <option value=".">.</option>
                                                <option value="/">/</option>
                                                <option value="-">-</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 ">
                                        <div class="form-group">
                                            <label for="timeFormat">
                                                <span class="select-sheet bold">{{'Data.Import.TimeFormat' | translate}}</span>
                                            </label>
                                            <select id="timeFormat" class="form-control" ng-model="timeFormat" ng-change="getSampleDate()">
                                                <option value="{{locale === 'en' ? 'HH:mm a':'HH:mm'}}">{{'Data.Import.TimeFormat1' | translate}}</option>
                                                <option value="{{locale === 'en' ? 'HH:mm:ss a':'HH:mm:ss'}}">{{'Data.Import.TimeFormat2' | translate}}</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="sampleDate">
                                                <span class="select-sheet bold">{{'Data.Import.SampleDate' | translate}}</span>
                                            </label>
                                            <span id="sampleDate" class="sample-date">{{sampleDate}}</span>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="form-group d-flex">
                                <div>
                                    <a class="btn btn-secondary" href="#/app/modules/{{type}}">
                                        <i class="fas fa-angle-left"></i> {{'Common.Cancel' | translate}}
                                    </a>
                                </div>
                                <span flex></span>
                                <md-button class="btn btn-primary" type="button" ng-click="checkWizard()" ng-disabled="!sheets || !rows || rows.length > 3000" md-autofocus>
                                    {{'Common.Next' | translate}} <i class="fas fa-angle-right"></i>
                                </md-button>
                            </div>
                            <div class="alert alert-secondary shadow-sm" role="alert">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="row justify-content-center">
                                            <div class="col-auto"><span class="warn-icon"><i class="fas fa-question"></i></span></div>
                                            <div class="col-12 col-sm text-center text-sm-left">
                                                <div class="paddingua10">
                                                    <p><span class="bold">{{'Data.Import.Info.Title1' | translate}}</span></p>
                                                    <p>
                                                        <ul>
                                                            <li>{{'Data.Import.Info.Info1' | translate}}</li>
                                                            <li>{{'Data.Import.Info.Info2' | translate}}</li>
                                                            <li>{{'Data.Import.Info.Info3' | translate}}</li>
                                                        </ul>
                                                    </p>
                                                    <p><span class="bold">{{'Data.Import.Info.Title2' | translate}}</span></p>
                                                    <p>
                                                        <ul>
                                                            <li>{{'Data.Import.Info.Info4' | translate}}</li>
                                                            <li>{{'Data.Import.Info.Info5' | translate}}</li>
                                                            <li>{{'Data.Import.Info.Info6' | translate}}</li>
                                                            <li>{{'Data.Import.Info.Info7' | translate}}</li>
                                                            <li>{{'Data.Import.Info.Info8' | translate}}</li>
                                                        </ul>
                                                    </p>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="wizardStep === 1">
                            <form class="disable-validation-msg" ng-submit="submit()" autocomplete="off" kendo-validator="$parent.importForm" novalidate>
                                <div class="row align-items-center bottom20">
                                    <div class="col-12">
                                        <div class="row row5 align-items-center">
                                            <div class="col-12 col-md-auto bottom5">
                                                <span class="select-sheet bold">{{'Data.Import.SelectMapping' | translate}}: </span>
                                            </div>
                                            <div class="col bottom5">
                                                <select ng-show="mappingArray.length" name="selectedMapping2" k-ng-model="$parent.selectedMapping" kendo-drop-down-list="$parent.mappingDropDown2" k-options="mappingOptions" k-on-change="mappingSelectedChange($parent.selectedMapping)" k-option-label="'{{'Common.Select' | translate}}'"></select>
                                            </div>
                                            <div class="col-auto bottom5" ng-if="!selectedMapping.id">
                                                <md-button type="submit" class="md-icon-button btn btn-primary" ng-show="user.profile.has_admin_rights" ng-click="openMappingModal()"><i class="fas fa-plus"></i> <md-tooltip md-direction="left">{{'Data.Import.AddMapping' | translate}}</md-tooltip></md-button>
                                            </div>
                                            <div class="col-auto bottom5" ng-if="selectedMapping.id">
                                                <md-button type="submit" class="md-icon-button btn btn-primary" ng-show="user.profile.has_admin_rights" ng-click="openMappingModal()"><i class="fas fa-sync-alt"></i> <md-tooltip md-direction="left"> {{ 'Data.Import.UpdateMapping' | translate}}</md-tooltip> </md-button>
                                                <md-button type="button" class="md-icon-button btn btn-danger" ng-show="user.profile.has_admin_rights && selectedMapping.id>0" ng-click="showConfirm(selectedMapping)"><i class="fas fa-trash"></i> <md-tooltip md-direction="left"> {{ 'Data.Import.DeleteMapping' | translate}} </md-tooltip></md-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <section class="whitebox collapsible" ng-repeat="section in module.sections | filter:{deleted: false}:true | orderBy:'order'">
                                    <div class="collapsible-head" id="heading{{$index}}">
                                        <h5>{{section['label_' + language]}}</h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}">
                                            <i class="fas fa-plus"></i>
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <div id="collapse{{$index}}" class="collapsible-body collapse show" aria-labelledby="heading{{$index}}">
                                        <div class="row">
                                            <div ng-class="{'col-sm-6': section.column_count === 2, 'col-sm-12': section.column_count === 1}"
                                                 ng-repeat="column in section.columns track by $index">
                                                <div class="form-group text-center" ng-repeat="field in module.fields | filter:{section: section.name, section_column: column.no, deleted: false, data_type: '!number_auto'}: true | filter:combinationFilter | orderBy:'order'">
                                                    <label for="{{field.name}}" style="{{field.style_label}}">
                                                        <span>{{field['label_' + language]}}  {{field.validation.required ? '*':''}}</span>
                                                        <md-button type="button" class="md-icon-button btn btn-sm" ng-click="openFixedValueModal(field,$event)" ng-if="getColumnName(field.name) === 'fixed'"><i class="fas fa-cog"></i></md-button>
                                                    </label>

                                                    <select id="{{field.name}}" name="{{field.name}}"
                                                            kendo-drop-down-list
                                                            tabindex="{{field.order}}"
                                                            k-ng-model="fieldMap[field.name]"
                                                            k-option-label="'{{'Common.Select' | translate}}'"
                                                            k-on-change="cellChanged(field,$event)"
                                                            ng-required="field.validation.required"
                                                            k-options="excelCellOptions(field)"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <div class="form-group d-flex">
                                    <button type="button" class="btn btn-primary btn-w-sm" ng-click="$parent.wizardStep = 0"><i class="fas fa-angle-left"></i> {{'Common.Previous' | translate}} </button>
                                    <span flex></span>
                                    <button type="submit" class="btn btn-primary btn-w-sm" ng-disabled="!sheets || !rows || rows.length > 3000">{{'Common.Next' | translate}} <i class="fas fa-angle-right"></i></button>

                                </div>
                            </form>
                        </div>
                        <div ng-if="wizardStep === 2">
                            <div ng-show="preparing" class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
                            <div ng-show="!preparing">
                                <div class="alert alert-success shadow-sm" ng-show="!error && !errorUnique && !trying">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            {{'Data.Import.ReadyToTransfer' | translate:{count:rows.length} }}
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="error">
                                    <div class="form-group">
                                        <div class="alert alert-danger shadow-sm" role="alert">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <div class="row align-items-center justify-content-center">
                                                        <div class="col-auto"><span class="warn-icon"><i class="fa fa-times"></i></span></div>
                                                        <div class="col-12 col-sm text-center text-sm-left">
                                                            <div class="paddingua10" style="font-weight: bolder">{{error.message}}
                                                                <br>        
                                                                <span style="font-size: 12px;">{{'Data.Import.Column' | translate}} {{error.cellName}} ({{error.fieldLabel}})  [{{'Data.Import.Row' | translate}} {{error.rowNo}}]  {{error.cellValue === undefined ? ('Data.Import.EmptyValue' | translate):error.cellValue}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-danger shadow-sm" ng-show="errorUnique">
                                    <span ng-if="!errorUnique.field2">{{'Data.Import.Error.Unique1' | translate:{field1:errorUnique.field} }}</span>
                                    <span ng-if="errorUnique.field2">{{'Data.Import.Error.Unique2' | translate:{field1:errorUnique.field, field2:errorUnique.field2} }}</span>
                                </div>
                                <div ng-show="error || errorUnique">
                                    <div class="whitebox">
                                        <div class="form-group">
                                            <label for="excelFile">
                                                <span class="select-sheet bold" style="font-weight: bold; margin-bottom: 5px;">{{'Data.Import.AgainUploadFileMessage' | translate}}</span>
                                            </label>
                                            <div class="custom-file" ng-show="!uploader.queue.length" >
                                                <input type="file" id="excelFile2" name="excelFile" class="custom-file-input" nv-file-select="" uploader="uploader" ng-disabled="uploader.queue.length">
                                                <label class="custom-file-label" for="excelFile2" >{{'Data.Import.ChooseFiles' | translate}}</label>
                                            </div>
                                            <div ng-show="uploader.queue.length">
                                                <div class="greybox d-flex align-items-center justify-content-between">
                                                    <span>{{uploader.queue[0].file.name}}</span>
                                                    <button class="btn" style="padding:0;" type="reset" ng-click="clear()"><i class="fas fa-times"></i></button>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    
                                </div>
                                <div class="form-group d-flex">
                                    <md-button type="button" class="btn btn-secondary" ng-click="$parent.wizardStep = 1"><i class="fas fa-angle-left"></i> {{'Common.Previous' | translate}} </md-button>
                                    <span flex></span>
                                    <md-button type="button" class="btn btn-primary " ng-click="save()" ng-show="!error"><i class="fas fa-save"></i> {{'Common.Save' | translate}}</md-button>
                                    <button type="button" ng-disabled="uploader.queue.length === 0" ng-show="error" class="btn btn-primary btn-w-lg" ng-click="tryAgain()"><i class="fa fa-repeat pull-left"></i> {{'Data.Import.TryAgain' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </div>
</md-content>