[Unit]
Description=PrimeApps Auth

[Service]
WorkingDirectory={{DIRECTORYPATH}}/Auth
ExecStart=/usr/bin/dotnet {{DIRECTORYPATH}}/Auth/PrimeApps.Auth.dll --urls="http://localhost:{{AUTHPORT}}"
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=primeapps-auth
User={{USER}}
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=AppSettings__AuthenticationServerURL="http://localhost:{{AUTHPORT}}"

    
[Install]
WantedBy=multi-user.target