[Unit]
Description=PrimeApps App

[Service]
WorkingDirectory={{PRE_ROOT}}/App
ExecStart=/usr/bin/dotnet {{PRE_ROOT}}/App/PrimeApps.App.dll --urls="http://localhost:{{PORT_APP}}"
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=primeapps-app
User={{USER}}
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_ENVIRONMENT="Development"
Environment=ConnectionStrings__TenantDBConnection="server=localhost;port=5436;username=postgres;password={{PASSWORD_DATABASE}};database=dev;command timeout=0;keepalive=30;maximum pool size=1000;"
Environment=ConnectionStrings__PlatformDBConnection="server=localhost;port=5436;username=postgres;password={{PASSWORD_DATABASE}};database=platform;command timeout=0;keepalive=30;maximum pool size=1000;"
Environment=ConnectionStrings__RedisConnection="localhost:6384,password={{PASSWORD_CACHE}},defaultDatabase=1,syncTimeout=30000"
Environment=AppSettings__AuthenticationServerURL="{{DOMAIN_AUTH}}"
Environment=AppSettings__StorageUrl="{{DOMAIN_STORAGE}}"
Environment=AppSettings__StorageAccessKey="{{STORAGE_ACCESSKEY}}"
Environment=AppSettings__StorageSecretKey="{{STORAGE_SECRETKEY}}"
Environment=AppSettings__EnableJobs="{{ENABLE_JOBS_APP}}"
Environment=AppSettings__EnableRequestLogging="{{ENABLE_REQUESTLOGGING}}"
Environment=AppSettings__EmailSMTPEnableSsl="{{SMTP_ENABLESSL}}"
Environment=AppSettings__EmailSMTPHost="{{SMTP_HOST}}"
Environment=AppSettings__EmailSMTPPort="{{SMTP_PORT}}"
Environment=AppSettings__EmailSMTPUser="{{SMTP_USER}}"
Environment=AppSettings__EmailSMTPPassword="{{SMTP_PASSWORD}}"
Environment=AppSettings__ClientId="{{CLIENT_ID_APP}}"
Environment=AppSettings__ClientSecret="{{CLIENT_SECRET_APP}}"
Environment=AppSettings__ForwardHeaders="true"
Environment=AppSettings__HttpsRedirection="{{HTTPS_REDIRECTION}}"
Environment=AppSettings__GoogleMapsApiKey="{{GOOGLEMAPS_APIKEY}}"
Environment=AppSettings__AsposeLicence="{{ASPOSE_LICENCE}}"
Environment=AppSettings__SentryDsn="{{SENTRY_DSN_APP}}"

[Install]
WantedBy=multi-user.target