.roles {
  .tree-node {
    padding: 5px;
    display: inline-block;

    .action-buttons {
      margin-left: 5px;
      display: none;
      font-size: 11px !important;
      line-height: 14px !important;

      .add-role-button {
        color: #a3be8c;

        &:hover,
        &:focus,
        &:active {
          color: #879d74;
        }
      }

      .delete-role-button {
        color: #c78389;

        &:hover,
        &:focus,
        &:active {
          color: #a94442;
        }
      }
    }

    &:hover {
      .action-buttons {
        display: inline-block;
      }
    }
  }

  a {
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}

.role-form {
  .empty-message {
    padding: 20px !important;
  }
}