.license {
  .license-info {
    margin-bottom: 30px;

    td {
      padding: 5px 15px 5px 5px;
    }

    tr {
      td:first-child {
        font-weight: 500;
      }
    }

    .annualPromo {
      margin-left: 10px;
      color: #f7c227;
    }
  }

  .change-license {
    margin-bottom: 20px;
  }

  .license-table {
    margin: 40px 0;

    .stable {
      color: #89ac6b;
      font-weight: 500;
    }

    .warning {
      color: #f7c227;
      font-weight: 500;
    }

    .danger {
      color: #bf616a;
      font-weight: 500;
    }
  }

  .slider {
    width: 200px;
    height: 8px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    span {
      white-space: nowrap;
      position: absolute;
      display: inline-block;
    }

    span.base {
      width: 100%;
      height: 100%;
      padding: 0;
    }

    span.bar {
      height: 100%;
      z-index: 0;
      -webkit-border-radius: 1em/1em;
      border-radius: 1em/1em;
      background-color: #e4eaec;
    }

    span.bar.selection {
      width: 0;
      z-index: 1;
      background-color: #f7c227;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    span.pointer {
      cursor: pointer;
      width: 20px;
      height: 20px;
      top: -6px;
      background-color: #fff;
      border: 1px solid #dee5e7;
      z-index: 2;
      -webkit-border-radius: 1em/1em;
      border-radius: 1em/1em;

      &:hover {
        background-color: #f7c227;
      }
    }

    span.pointer:after {
      content: '';
      background-color: #dee5e7;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 5px;
      left: 5px;
      -webkit-border-radius: 1em/1em;
      border-radius: 1em/1em;
    }

    span.pointer:hover:after {
      background-color: #000;
    }

    span.pointer.active:after {
      background-color: #f7c227;
    }

    span.bubble {
      cursor: default;
      top: -22px;
      padding: 1px 3px 1px 3px;
      font-size: 0.7em;
    }

    span.bubble.selection {
      top: 15px;
    }

    span.bubble.limit {
      color: #808080;
      display: none !important;
    }
  }

  .slider-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
  }

  input[type="range"] {
    cursor: pointer;
  }



  .amount {
    margin-left: 15px;
    color: #6498c7;
    font-weight: 500;

    i {
      font-size: 12px;
    }
  }

  .total {
    padding-top: 7px;
    color: #6498c7;
    font-weight: 500;

    i {
      font-size: 12px;
    }
  }

  .addon-button-container {
    margin-top: 30px;
  }
}