<div class="panel panel-default setup-panel lead-convert-map">
    <div class="panel-body">
        <div class="subpanel">
            <h5 class="subpanel-heading">{{'Setup.Conversion.LeadConversionMapping' | translate}}</h5>
            <div class="subpanel-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th class="col-sm-3">{{leadModule['label_' + language+'_plural']}}</th>
                            <th class="col-sm-3" ng-show="accountModule != null">{{accountModule['label_' + language+'_plural']}}</th>
                            <th class="col-sm-3" ng-show="contactModule != null">{{contactModule['label_' + language+'_plural']}}</th>
                            <th class="col-sm-3" ng-show="opportunityModule != null">{{opportunityModule['label_' + language+'_plural']}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="leadField in leadModule.fields | filter:{deleted:'!true',validation:{readonly: '!true'}} | orderBy:'order'">
                        <td>
                            {{leadField['label_' + language]}}
                        </td>
                        <td ng-show="accountModule != null">
                            <select class="form-control ng-animate-disabled"
                                    ng-style="accountModule.selectedFields[leadField.id]?{'background-color':'#e4fbf8'}:null"
                                    ng-click="lastSelection = accountModule.selectedFields[leadField.id]"
                                    ng-change="mappingModuleFieldChanged(accountModule,leadField,lastSelection)";
                                    ng-model="accountModule.selectedFields[leadField.id]"
                                    ng-options="o as o['label_' + language] for o in accountModule.fields | filter:lookupFilter(leadField) | filter:picklistFilter(leadField) | filter:{deleted:'!true',validation:{readonly: '!true'},data_type:leadField['data_type']} track by o.id">
                                <option value="">{{'Common.Select' | translate}}</option>
                            </select>
							<span ng-show="accountModule.selectedFields[leadField.id] && showSuccessIcon[leadField.id][accountModule.id] == true;" class="fa fa-check" style="color: #00A000">{{'Setup.Conversion.HasBeenRecorded' | translate}}</span>
                        </td>
                        <td ng-show="contactModule != null">
                            <select class="form-control ng-animate-disabled"
                                    ng-style="contactModule.selectedFields[leadField.id]?{'background-color':'#e4fbf8'}:null"
                                    ng-click="lastSelection = contactModule.selectedFields[leadField.id]"
                                    ng-change="mappingModuleFieldChanged(contactModule,leadField,lastSelection);"
                                    ng-model="contactModule.selectedFields[leadField.id]"
                                    ng-options="o as o['label_' + language] for o in contactModule.fields | filter:lookupFilter(leadField) | filter:picklistFilter(leadField) | filter:{deleted:'!true',validation:{readonly: '!true'},data_type:leadField['data_type']} track by o.id">
                                <option value="">{{'Common.Select' | translate}}</option>
                            </select>
							<span ng-show="contactModule.selectedFields[leadField.id] && showSuccessIcon[leadField.id][contactModule.id] == true;" class="fa fa-check" style="color: #00A000">{{'Setup.Conversion.HasBeenRecorded' | translate}}</span>
                        </td>
                        <td ng-show="opportunityModule != null">
                            <select class="form-control ng-animate-disabled"
                                    ng-style="opportunityModule.selectedFields[leadField.id]?{'background-color':'#e4fbf8'}:null"
                                    ng-click="lastSelection = opportunityModule.selectedFields[leadField.id]"
                                    ng-change="mappingModuleFieldChanged(opportunityModule,leadField,lastSelection);"
                                    ng-model="opportunityModule.selectedFields[leadField.id]"
                                    ng-options="o as o['label_' + language] for o in opportunityModule.fields | filter:lookupFilter(leadField) | filter:picklistFilter(leadField) | filter:{deleted:'!true',validation:{readonly: '!true'},data_type:leadField['data_type']} track by o.id">
                                <option value="">{{'Common.Select' | translate}}</option>
                            </select>
							<span ng-show="opportunityModule.selectedFields[leadField.id] && showSuccessIcon[leadField.id][opportunityModule.id] == true;" class="fa fa-check" style="color: #00A000">{{'Setup.Conversion.HasBeenRecorded' | translate}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>