<div class="modal setup-modal" tabindex="-1" role="dialog">
    <form name="editForm" class="form-horizontal form-custom" ng-submit="delete(transferRoleId);" autocomplete="off" novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">{{'Setup.Roles.RoleDelete' | translate}}</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button ladda="roleDeleting" ng-click="addNewRoleFormModal.hide();" type="submit" class="btn add-button btn-radius btn-blue"><i class="fa fa-exclamation-circle pull-left"></i>{{'Setup.Roles.TransferAndDelete' | translate}}</button>
                        </li>
                        <li>
                            <button type="button" ng-click="$hide()" ng-disabled="roleDeleting" class="btn add-button btn-radius btn-gray"><i class="fas fa-save"></i>{{'Common.Save' | translate}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal-dialog">
            <div class="modal-content padding-0">
                <div class="modal-contanier">
                    <div class="modal-body">
                        <div id="field-form-body" class="modal-body">
                            <div class="section" id="section1">
                                <div class="panel">
                                    <div class="form-group">
                                        <label class="control-label col-sm-8" style="margin-bottom: 10px; font-weight: 600;">{{'Setup.Roles.RoleDeleteLabel' | translate}}:</label>
                                        <select
                                                class="form-control ng-animate-disabled col-sm-8"
                                                name="transferRoleId"
                                                ng-model="transferRoleId"
                                                required
                                                ng-options="o.id as o['label_'+language] for o in transferRoles"
                                                ng-init="transferRoleId = transferRoles[0].id">
                                            <option value="" ng-if="false"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>