<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">
    <form name="roleForm" class="form-horizontal form-custom" ng-submit="save(roleForm);" autocomplete="off" novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">{{'Setup.Roles.Title2' | translate}}</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button ng-disabled="saving" ng-click="addNewRoleFormModal.hide();" type="button" class="btn add-button btn-radius btn-gray"><i class="fas fa-times"></i>{{'Common.Cancel' | translate}}</button>
                        </li>
                        <li>
                            <button type="submit" ladda="saving" class="btn add-button btn-radius btn-blue"><i class="fas fa-save"></i>{{'Common.Save' | translate}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal-dialog scroll-style-4">
            <div class="modal-content padding-0">
                <div class="modal-contanier">
                    <div class="modal-body">
                        <div id="field-form-body" class="modal-body">
                            <div class="section" id="section1">
                                <h4>{{'Setup.Roles.Title2' | translate}}</h4>
                                <div class="panel">
                                    <div class="form-group" ng-class="{'has-error': roleForm.$submitted && roleForm.name.$invalid}">
                                        <label class="col-sm-12 control-label">*{{'Setup.Roles.RoleName' | translate}}:</label>
                                        <input name="name" class="form-control col-sm-12" maxlength="200" required ng-model="role.label" />
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">{{'Setup.Roles.RoleDescription' | translate}}</label>
                                        <textarea rows="3" name="description" class="form-control col-sm-12" maxlength="200" auto-grow ng-model="role.description"></textarea>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': roleForm.$submitted && roleForm.reportsTo.$invalid}">
                                        <label class="col-sm-12 control-label">{{'Setup.Roles.ReportsTo' | translate}}</label>
                                        <ui-select name="reportsTo" class="ng-animate-disabled"
                                                   on-select="roleUpdateChange()"
                                                   ng-model="role.reports_to"
                                                   ng-required="!role.master">
                                            <ui-select-match>{{$select.selected[('label_'+language)]}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in roles | filter:{[('label_'+language)]:$select.search} | orderBy:('label_'+language)" value="{{$select.selected.id}}">
                                                <div ng-bind-html="item[('label_'+language)] | highlight: $select.search" ng-attr-data-id="item.id"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': roleForm.$submitted && roleForm.share_data.$invalid}">
                                        <label class="col-sm-12 control-label">{{'Setup.Roles.ShareData' | translate}}</label>
                                        <div class="form-control ng-animate-disabled col-sm-12" style="padding-left: 0; background-color:white;">
                                            <label class="radio-inline newinput"><input type="radio" name="shareData" ng-value="true" ng-model="role.share_data">{{'Setup.Roles.ShareDataYes' | translate}}<span></span></label>
                                            <label class="radio-inline newinput"><input type="radio" name="shareData" ng-value="false" ng-model="role.share_data">{{'Setup.Roles.ShareDataNo' | translate}}<span></span></label>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="roleForm.$submitted && roleForm.$invalid">
                                        <div class="col-sm-12">
                                            <div class="callout callout-danger">
                                                <p ng-if="roleForm.$error.required">{{'Module.RequiredError' | translate}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
