@import "vendor/ladda-themeless";
@import "../styles/vendor/flaticon.css";

@import "variables";
@font-face {font-family: 'Nunito'; src: url('#{$font-path}/Nunito-BoldItalic.woff2') format('woff2'), url('#{$font-path}/Nunito-BoldItalic.woff') format('woff'); font-weight: bold; font-style: italic; font-display: swap;  }
@font-face {font-family: 'Nunito'; src: url('#{$font-path}/Nunito-Bold.woff2') format('woff2'), url('#{$font-path}/Nunito-Bold.woff') format('woff');  font-weight: bold;  font-style: normal;  font-display: swap;  }
@font-face {font-family: 'Nunito'; src: url('#{$font-path}/Nunito-Italic.woff2') format('woff2'), url('#{$font-path}/Nunito-Italic.woff') format('woff');font-weight: normal;font-style: italic;font-display: swap;}
@font-face {font-family: 'Nunito'; src: url('#{$font-path}/Nunito-Regular.woff2') format('woff2'), url('#{$font-path}/Nunito-Regular.woff') format('woff'); font-weight: normal;font-style: normal;font-display: swap;}
@font-face {font-family: "operators"; src:url("#{$font-path}/operators.eot"); src:url("#{$font-path}/operators.eot?#iefix") format("embedded-opentype"), url("#{$font-path}/operators.woff") format("woff"), url("#{$font-path}/operators.ttf") format("truetype"), url("#{$font-path}/operators.svg#operators") format("svg"); font-weight: normal; font-style: normal; }
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "operators"; 

@import "../../node_modules/bootstrap/scss/bootstrap";

//////////////////////////Bootstrap Requried//////////////////////////
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins"; 

////////////////////////// Reset //////////////////////////
* {outline: none;}
.blackc{color: $black75;h1, h2, h3, h4, h5, h6 {color: $black75;}}
.whitec{color: $white;h1, h2, h3, h4, h5, h6 {color: $white;}}
.circle{@include radius(50%);}
.height100{ height: 100%; }
.width100{width: 100%;}
svg{width: 100%;}
dl, ol, ul {margin-bottom: 0px;}
p{line-height: 1.5em;}

////////////////////////// Basics //////////////////////////
.auth-page{
  text-rendering: optimizeLegibility;
  height: 100%;

  body{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: 400;
    height: 100%;
  }
  a {
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
  h1{font-size: $font-size-base * 3}
  h2{font-size: $font-size-base * 3}
  h3{font-size: $font-size-base * 2}
  h4{font-size: $font-size-base * 1.5}
  h5{font-size: $font-size-base}
  .container-fluid{
    padding-left: 60px;
    padding-right: 60px;
  }


  .auth-box{
    min-height: 100%;
    height: 100%;
    @include flexbox();
    @include flex-wrap(wrap);
    > div{
      @include flexbox();
      @include align-items(center);
      @include flex(1 1 auto);
      &.img-box{
        color: $white;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .container-fluid{
          position: relative;
        }
        .description_new{
          width: 100%;
          position: relative;
          > span{
            position: relative;
            padding: 40px 20px 10px 20px;
            display: block;
            font-size: 20px;
          }
          &:before{
            content:'';
            width: 100%;
            height: 100%;
            left: 0;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
            position: absolute;
            
        }
          
        }
      }
      &.white-box{
        background: $white95;
        text-align: center;
      }
    }

    .logo-img{  
      display: block;
      text-align: center;
      img{
        width: 200px;
        max-width: 100%;
      }
    }
    .login-form{
      width: 100%;
    }
  }



  ////////////////////////// Button //////////////////////////

  .btn{
    border-radius: $rounded-pill;
    padding: $input-padding-y $input-padding-x*2;
    font-weight: bold;
    opacity: .8;
    &:hover,&:focus{
      opacity: 1;
      box-shadow: $box-shadow;
    }
  }



  ////////////////////////// Form Elements //////////////////////////

  .form-control,.custom-file-label,.input-group-text{
    border: none;
    background:$body-bg2;

    &:hover,&:focus{
      background:$body-bg2;
      transition: none;
    }
  }
  .form-control{
    &.disabled,
    &:disabled {
      opacity: $btn-disabled-opacity;
      pointer-events: none;
    }
  }
  .input-group{
    border-bottom: $input-border-width solid $body-bg2;
    border-bottom-left-radius: $input-border-width;
    border-bottom-right-radius: $input-border-width;
    .form-control{
      border-left: 1px solid $black5 !important;
    }
    &:hover,&.input-focus{
      box-shadow: $box-shadow-sm;
    }
  }


  .input-validation-error{
    background: theme-color-level(danger, -12) !important;
    border-color: theme-color-level(danger, -3) !important;
    color: theme-color-level(danger, -3) !important;
    border-radius: $border-radius;
  }
}


.login-page{
  input{
    caret-color:rgba(255, 255, 255, 0.5);
  }
  body {
    font-family: 'Nunito', sans-serif;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    background-image: url("../images/custom/studio-background.png");
  }
  button, input, optgroup, select, textarea{
    font-family: 'Nunito', sans-serif;
  }
  .width100 {
    width: 100%;
  }
  .logo {
    width: 250px;
    max-width: 100%;
    padding: 0px 20px;
    position: relative;
    display: inline-block;
    svg {
      height: 100%;

      .prime{fill:rgba(255,255,255,1);}
      .icon1{fill:#FAAC2C;}
      .icon2{fill:#EF6A33;}
      .icon3{fill:transparent;}
      .icon4{fill:transparent;}
      .apps{fill:rgba(255,255,255,.5);}
    }

  }
  .buttonx{
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    padding: 5px 0px;
    @include move(.3s);
    text-decoration: none;
    &:before{
      content: '';
      position: absolute;
      width: 0%;
      height: 1px;
      background: #FFFFFF;
      bottom: 0;
      left: 0px;
      @include move(.3s);
    }
    &:hover{
      color: rgba(255, 255, 255, 1);
      &:before{
        width: 100%;
      }
    }

  }
  .infotext {
    padding: 0px 0px 20px 0px;
  }
  .login-form{
    position: relative;
  }
  .error{
    position: absolute;
    left:0px;
    bottom:10px;
    width: 100%;
    text-align: right;
    display: block !important;
    color: red;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    &.error-all,&.error2{
      text-align: center;
      bottom: 0px;
    }
  }
  .studio-banner {
    object-fit: contain;
    position: absolute;
    top: 0;
    right: 0;
  }
  .form-group{
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 30px;
    .form-control {
      border-radius: 0.35em !important;
      outline: none;
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
    label{
      &.labelx {
        width: 100%;
        position: relative;
        ont-size: 14px;
        text-align: left;
        margin-bottom: 0px;
        span {
          color: rgba(255,255,255,0.5);
          font-size: 14px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
        }
        &:before,&:after{
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background: rgba(255,255,255,0.25);
          bottom: 0;
          left: 0;
          @include move(.3s);
        }
        &:after{
          width: 0;
          background: rgba(255,255,255,0.75);
        }
        &:hover{
          &:after{
            width: 100%;
          }
          span{
            color:rgba(255,255,255,0.75);
          }
        }
        .form-control{
          background-color: transparent !important;
          border: none;
          border-radius: 100px;
          background-image: none;
          //transition: background-color 10000000s ease-out 0s;
          -webkit-text-fill-color: #fff !important;
          padding-left: 0;
          padding-right: 0;
          border-radius: 0 !important;

        }
      }
    }
    &.error{
      margin-bottom: 0px;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }

  .login-sec{
    form{
      padding: 20px 0px;
    }
  }
  .helpbutton{
    padding-top: 20px;
  }
  .login-sec{
    > div{
      &:first-child{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: calc(100vh - 100px);
        > div{
          max-width: 100%;
          width: 500px;
        }
      }
    }
  }
  .btn-login {
    color: #fff;
    cursor: pointer;
    border: none !important;
    font-size: 16px;
    height: 40px;
    border-radius: 30px;
    min-width: 200px;
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(101deg, #0d6faa, #009fff);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    padding: 0px 40px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
    &:hover{
      -webkit-box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.2);
      box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.2);
    }
  }
  .banner-sec{
    padding: 0px;
  }
  .paddingb20{
    padding-bottom: 20px;
  }
  .free-info{
    padding-bottom: 10px;
    a{
      color: rgba(255, 255, 255, 0.5);
      position: relative;
      padding: 5px 0px;
      display: inline-block;
      @include move(.3s);
      text-decoration: none;
      &:before{
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        background: #FFFFFF;
        bottom: 0;
        left: 0px;
        @include move(.3s);
      }
      &:hover{
        color: rgba(255, 255, 255, 1);
        &:before{
          width: 100%;
        }
      }

    }
  }
  #login-form,#forgot-form,#reset-form{
    width: 400px;
    max-width: 100%;
    display: inline-block;
  }
}


////////////////////////// Responsiveness //////////////////////////

@include media-breakpoint-down(lg) {
  .auth-page{
    .container-fluid{
      padding-left: 40px;
      padding-right: 40px;
    }
    h1{font-size: $font-size-base * 2.5}
    h2{font-size: $font-size-base * 2.5}
    h3{font-size: $font-size-base * 1.5}
    h4{font-size: $font-size-base * 1.2}
    h5{font-size: $font-size-base}
  }
}
@include media-breakpoint-down(md) {
  .auth-page{
    .auth-box{
      > div.img-box{
        min-height: 250px;
      }
    }
     .container-fluid{
       padding-left: 30px;
       padding-right: 30px;
     }
    h1{font-size: $font-size-base * 2}
    h2{font-size: $font-size-base * 2}
    h3{font-size: $font-size-base * 1.5}
    h4{font-size: $font-size-base * 1.2}
    h5{font-size: $font-size-base}
  }
 }
@include media-breakpoint-down(sm) {
  .auth-page{
    .container-fluid{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}


