@mixin moveEffect() {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.login-page{
  input{
    caret-color:rgba(255, 255, 255, 0.5);
  }
  body {
    font-family: 'Nunito', sans-serif;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    background-image: url("../images/custom/studio-background.png");
  }
  button, input, optgroup, select, textarea{
    font-family: 'Nunito', sans-serif;
  }
  .width100 {
    width: 100%;
  }
  .logo {
    width: 250px;
    max-width: 100%;
    padding: 0px 20px;
    position: relative;
    display: inline-block;
    svg {
      height: 100%;

      .st0 {
        fill: #FFF;
      }

      .st1 {
        fill: rgba(255, 255, 255, 0.75);
      }

      .st2 {
        fill: #FCAD2D;
      }

      .st3 {
        fill: #F06933;
      }

      .st4 {
        fill: #E89728;
      }

      .st5 {
        fill: #0D6FAA;
      }
    }

  }
  .buttonx{
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    padding: 5px 0px;
    @include moveEffect();
    text-decoration: none;
    &:before{
      content: '';
      position: absolute;
      width: 0%;
      height: 1px;
      background: #FFFFFF;
      bottom: 0;
      left: 0px;
      @include moveEffect();
    }
    &:hover{
      color: rgba(255, 255, 255, 1);
      &:before{
        width: 100%;
      }
    }
    
  }
  .infotext {
    padding: 0px 0px 20px 0px; 
  }
  .login-form{
    position: relative;
  }
  .error{
    position: absolute;
    left:0px;
    bottom:10px;
    width: 100%;
    text-align: right;
    display: block !important;
    color: red;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    &.error-all,&.error2{
      text-align: center;
      bottom: 0px;
    }
  }
  .studio-banner {
    object-fit: contain;
    position: absolute;
    top: 0;
    right: 0;
  }
  .form-group{
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 30px;
    .form-control {
      border-radius: 0.35em !important;
      outline: none;
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
    label{
      &.labelx {
        width: 100%;
        position: relative;
        ont-size: 14px;
        text-align: left;
        margin-bottom: 0px;
        span {
          color: rgba(255,255,255,0.5);
          font-size: 14px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
        }
        &:before,&:after{
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background: rgba(255,255,255,0.25);
          bottom: 0;
          left: 0;
          @include moveEffect();
        }
        &:after{
          width: 0;
          background: rgba(255,255,255,0.75);
        }
        &:hover{
          &:after{
            width: 100%;
          }
          span{
            color:rgba(255,255,255,0.75);
          }
        }
        .form-control{
          background: transparent;
          border: none;
          border-radius: 100px;
          transition: background-color 10000000s ease-out 0s;
          -webkit-text-fill-color: #fff !important;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    &.error{
      margin-bottom: 0px;
    }
    
    
  }
  
  
  .login-sec{
    form{
      padding: 20px 0px;
    }
  }
  .helpbutton{
    padding-top: 20px;
  }
  .login-sec{
    > div{
      &:first-child{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: calc(100vh - 100px);
        > div{
          max-width: 100%;
          width: 500px;
        }
      }
    }
  }
  .btn-login {
    color: #fff;
    cursor: pointer;
    border: none !important;
    font-size: 16px;
    height: 40px;
    border-radius: 30px;
    min-width: 200px;
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(101deg, #0d6faa, #009fff);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    padding: 0px 40px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
    &:hover{
      -webkit-box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.2);
      box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.2);
    }
  }
  .banner-sec{
    padding: 0px;
  }
  .paddingb20{
    padding-bottom: 20px;
  }
  .free-info{
    padding-bottom: 10px;
    a{
      color: rgba(255, 255, 255, 0.5);
      position: relative;
      padding: 5px 0px;
      display: inline-block;
      @include moveEffect();
      text-decoration: none;
      &:before{
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        background: #FFFFFF;
        bottom: 0;
        left: 0px;
        @include moveEffect();
      }
      &:hover{
        color: rgba(255, 255, 255, 1);
        &:before{
          width: 100%;
        }
      }

    }
  }
  #login-form,#forgot-form,#reset-form{
    width: 400px;
    max-width: 100%;
    display: inline-block;
  }
}
