@import "variables-from-app";
   
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/_functions.scss";
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/_variables.scss";
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/_mixins.scss";
       
// Dependencies
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/common/_all.scss";
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/ripple.scss";
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/popup.scss";

// Data management
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/pager.scss";
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/grid.scss";
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/spreadsheet.scss";
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/listview.scss";
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/pivotgrid.scss";
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/treelist.scss";
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/scrollview.scss";
@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/filter.scss";

@import "../../node_modules/@progress/kendo-theme-bootstrap/scss/datetime.scss";
 
.grid-theme{
  @include radius(5px);
  border-color: transparent;
  width: 100%; 
  margin-bottom: 30px;
  thead{
    th,td{
      border-color: $black5;
      font-weight: bold;
      color: $black50;
    }
  }
  tbody{
    th,td{
      border-color: $black5;
      padding: .5rem 2rem;
    }
  }
  .k-grid-norecords-template{
    border-color: transparent;
  }
  .k-pager-wrap .k-link, .k-pager-wrap .k-pager-nav,.k-pager-wrap .k-dropdown .k-dropdown-wrap{
    color: $black50;
    border-color: $black10;
  }
  .k-pager-wrap.k-pager-lg .k-pager-numbers, .k-pager-wrap.k-pager-md .k-pager-numbers, .k-pager-wrap.k-pager-sm .k-pager-numbers{
    border-color: $black10;
  }
  &.grid-theme-center{
    th,td{
      text-align: center;
      &.text-left{
        text-align: left;
      }
    }
    .k-grid-pager{
      border-color: $black5;
      color: $black50;
      padding: 2rem;
    }
  }
  .k-grouping-header{
    background-color: transparent;
    color: $black50;
    padding: $input-btn-padding-y $input-btn-padding-x;
  }

  .k-grid-pager{
    background-color: transparent;
    padding: $input-btn-padding-x;
  }
  .k-grid-header {
    background-color: $white;
    border-bottom: 1px solid $secondary;
  }
  .k-pager-sizes{
    margin-left: auto;
    margin-right: 0;
    font-size: $font-size-base *.9;
    > .k-dropdown{
      order: 2;
      margin: 0px 0px 0px 10px;
    }
  }
  .k-loading-mask{
    display: none;
    ~ table td{
      position: relative;
      &:before {
        content: '';
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: placeHolderShimmer;
        -webkit-animation-timing-function: linear;
        background: #f6f7f9;
        background-image: linear-gradient(to right, #f6f7f9 0%, #e9ebee 20%, #f6f7f9 40%, #f6f7f9 100%);
        background-repeat: no-repeat;
        background-size: 1000px 200px;
        height:calc(100% - 10px);
        width: calc(100% - 10px);
        position: absolute;
        color: rgba(0,0,0,0);
        border-radius: 5px;
        display: block;
        top: 5px;
        left: 5px;
        z-index: 1;
      }
    }
  }
  .k-grid-pager{
    @include flexbox();
    >*{
      order: 1;
      &.k-pager-info{
        order:3;
        justify-content: center;
      }
      &.k-pager-sizes{
        order:4;
      }
      &.k-pager-refresh{
        order:2;
        margin-left: 20px;
      }
    }
  }
  tr[ng-click]{
    cursor: pointer;
    td[ng-click]{
      cursor: default;
      position: relative;
    }
  }
  .k-checkbox{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: inherit;
    -webkit-appearance: inherit;
    clip: inherit;
    cursor: pointer;
  }
  
  .list-action-button{
    background: transparent;
    border: none;
  }
  
} 
.k-textbox,.k-dropdown-wrap{
  border-radius: 2px;
  background-color: rgba(0,0,0,0.05);
  border: none;
  max-width: 100% !important;
  padding: $input-padding-y $input-padding-x;
  &:hover,&:focus{
    background-color: $secondary;
    outline: none;
  }  
}
.k-widget .k-picker-wrap{
  border-radius: 2px;
  background-color: rgba(0,0,0,0.05);
  border: none;
  max-width: 100% !important;
  &:hover,&:focus{
    background-color: $secondary;
    outline: none;
  }
}


.k-filter-menu-container {
  label{
    padding-left: 23px !important;
    padding-right: 20px !important;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
  
      ~ span {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 50%;
  
        &:after {
          content: "";
          position: absolute;
          display: none;
          top: 7px !important;
          left: 7px !important;
          width: 6px !important;
          height: 6px !important;
          border-radius: 50%;
          background: white;
        }
      }
  
      &:checked {
        ~ span {
          background-color: $primary;
  
          &:after {
            display: block;
          }
        }
      }
  
      &:disabled {
        ~ span {
          opacity: .5;
          cursor: not-allowed;
        }
      }
    }
  
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
  
      ~ span {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 2px;
  
        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 7px !important;
          top: 3px !important;
          width: 6px !important;
          height: 12px !important;
          border: solid white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
  
      &:checked {
        ~ span {
          background-color: $primary;
  
          &:after {
            display: block;
          }
        }
      }
  
      &:disabled {
        cursor: not-allowed;
  
        ~ span {
          opacity: .5;
          cursor: not-allowed;
        }
  
      }
    }
  
    input[type="file"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
  
      ~ span {
        position: relative;
      }
  
    }
  
    input[disabled="disabled"] {
      cursor: not-allowed;
  
      ~ span {
        opacity: .5;
        cursor: not-allowed;
      }
    }
  
    &:hover {
      input[type="radio"] {
        ~ span {
          background-color: rgba(13, 111, 170, 0.5);
  
          &:after {
            display: block;
          }
        }
  
        &:checked {
          ~ span {
            background-color: $primary;
          }
        }
      }
  
      input[type="checkbox"] {
        ~ span {
          background-color: rgba(13, 111, 170, 0.5);
  
          &:after {
            display: block;
          }
        }
  
        &:checked {
          ~ span {
            background-color: $primary;
          }
        }
      }
    }
  }
}