<div class="setup-title">
    <h2>Overview</h2>
    <button class="btn add-button" ng-click="gotoAppDetails()"><i class="fas fa-cog"></i> Settings</button>
</div>
<div class="tab-content">
    <table class="table">
        <div class="col-sm-12" style="margin-top: 100px; margin-bottom: 100px; display: flex;justify-content: center;">
            <div class="row">
                <div class="col-sm-12" style="padding-bottom: 30px">
                    <img class="padding-10" src="images/primeapps/overview.png"
                         srcset="images/primeapps/overview@2x.png 2x,
                              images/primeapps/overview@3x.png 3x"
                         class="logo">
                </div>
                <h2 style="font-size: 20px; color: #0d6faa;">Welcome to XBrand CRM SaaS App</h2>
            </div>
        </div>
    </table>
</div>
