<ul class="nav nav-pills nav-stacked setup-nav">
    <li ng-repeat="item in collaboratorArray" ng-class="item.id === collaboratorId ? 'active' :''" ng-click="selectCollaborators(item.id)" data-trigger="hover" data-type="info" data-title="{{item.full_name}}" bs-tooltip data-placement="right">
        <div class="user-info">
            <div class="user-image">
                <!--<image src="" />-->
                <i class="fas fa-user"></i>
            </div>
            <div class="user-text">
                <h2 class="ng-binding">{{item.full_name}}</h2>
                <h3 class="ng-binding">{{item.email}}</h3>
            </div>
        </div>


    </li>

</ul>
