<div class="popover">
    <div class="arrow"></div>
    <h3 class="popover-title">{{'Setup.Profiles.ProfileDelete' | translate}}</h3>
    <div class="popover-content">
        <form name="editForm" ng-submit="delete(transferProfileId)" class="form-horizontal" novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label" style="margin-bottom: 10px">{{'Setup.Profiles.ProfileDeleteLabel' | translate}}:</label>
                    <select
                            class="form-control"
                            name="transferProfileId"
                            ng-model="transferProfileId"
                            required
                            ng-options="o.id as o.name for o in transferProfiles"
                            ng-init="transferProfileId = transferProfiles[0].id">
                        <option value="" ng-if="false"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit"
                            class="btn btn-primary btn-w-lg"
                            ladda="profileDeleting">
                        <i class="fa fa-exclamation-circle pull-left"></i> {{'Setup.Profiles.TransferAndDelete' | translate}}
                    </button>
                    <button type="button" class="btn btn-custom" ng-click="$hide()" ng-disabled="profileDeleting"> {{'Common.Cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>