<div class="sub-menu">
    <ul class="nav nav-tabs">
        <li><a href="#/app/setup/users">{{'Setup.Nav.Tabs.Users' | translate}}</a></li>
        <li class="active"><a href="#/app/setup/profiles">{{'Setup.Nav.Tabs.Profiles' | translate}}</a></li>
        <li ng-if="!branchAvailable"><a href="#/app/setup/roles">{{'Setup.Nav.Tabs.Roles' | translate}}</a></li>
        <li><a href="#/app/setup/usergroups">{{'Setup.Nav.Tabs.UserGroups' | translate}}</a></li>
        <li><a href="#/app/setup/usercustomshares">{{'Setup.UserCustomShares.Title' | translate}}</a></li>
    </ul>
</div>
<div class="panel panel-default setup-panel">
    <div class="panel-body">
        <div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <div class="profiles" ng-show="!loading">
            <div class="subpanel">
                <h5 class="subpanel-heading" ng-if="!profile.id"> {{'Setup.Profiles.NewProfile' | translate}}</h5>
                <h5 class="subpanel-heading" ng-if="profile.id"> {{'Setup.Profiles.EditProfile' | translate}}</h5>
                <div class="subpanel-body">
                    <form name="profileForm" ng-submit="submit()" novalidate>
                        <div class="form-group" ng-class="{'has-error': profileForm.$submitted && profileForm['name'].$invalid}">
                            <input type="text" name="name" class="form-control" placeholder="{{'Setup.Profiles.ProfileName' | translate}}" maxlength="50" required ng-model="profile.name" ng-change="profileForm['name'].$setValidity('unique', true)" ng-disabled="profile.is_persistent" />
                        </div>
                        <div class="form-group">
                            <textarea rows="2" name="description" class="form-control" maxlength="255" placeholder="{{'Setup.Profiles.ProfileDescription' | translate}}" auto-grow ng-model="profile.description" ng-disabled="profile.is_persistent"></textarea>
                        </div>
                        <h5>{{'Setup.Profiles.Permissions' | translate}}:</h5>
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{'Setup.Profiles.Module' | translate}}</th>
                                        <th class="text-center">{{'Setup.Profiles.PermissionRead' | translate}}</th>
                                        <th class="text-center">{{'Setup.Profiles.PermissionModify' | translate}}</th>
                                        <th class="text-center">{{'Setup.Profiles.PermissionWrite' | translate}}</th>
                                        <th class="text-center">{{'Setup.Profiles.PermissionRemove' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="permission in profile.permissions">
                                        <td class="text-uppercase">{{permission.EntityTypeName}}</td>
                                        <td class="text-center user-not-select"><label class="ui-checkbox"><input type="checkbox" ng-model="permission.read" ng-disabled="profile.is_persistent" ng-click="!permission.read ? permission.modify = false : ''; !permission.read ? permission.write = false : ''; !permission.read ? permission.remove = false : '';" /><span></span></label></td>
                                        <td class="text-center user-not-select"><label class="ui-checkbox"><input type="checkbox" ng-model="permission.modify" ng-disabled="profile.is_persistent || permission.type === 3" ng-click="permission.modify ? permission.read = true : '';" /><span></span></label></td>
                                        <td class="text-center user-not-select"><label class="ui-checkbox"><input type="checkbox" ng-model="permission.write" ng-disabled="profile.is_persistent" ng-click="permission.write ? permission.read = true : '';" /><span></span></label></td>
                                        <td class="text-center user-not-select"><label class="ui-checkbox"><input type="checkbox" ng-model="permission.remove" ng-disabled="profile.is_persistent || permission.type === 3" ng-click="permission.remove ? permission.read = true : '';" /><span></span></label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h5>{{'Setup.Profiles.PermissionsOther' | translate}}:</h5>
                        <div class="form-group">
                            <label class="ui-checkbox"><input type="checkbox" ng-model="profile.has_admin_rights" ng-disabled="profile.is_persistent" /><span>{{'Setup.Profiles.PermissionSystem' | translate}}</span></label>
                            <label class="ui-checkbox"><input type="checkbox" ng-model="profile.send_email" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.PermissionEmail' | translate}}</span></label>
                            <label class="ui-checkbox"><input type="checkbox" ng-model="profile.send_sms" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.PermissionSMS' | translate}}</span></label>
                            <label class="ui-checkbox"><input type="checkbox" ng-model="profile.export_data" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.PermissionExportData' | translate}}</span></label>
                            <label class="ui-checkbox"><input type="checkbox" ng-model="profile.import_data" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.PermissionImportData' | translate}}</span></label>
                            <label class="ui-checkbox"><input type="checkbox" ng-model="profile.word_pdf_download" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.WordPdfDownload' | translate}}</span></label>
                            <label class="ui-checkbox"><input type="checkbox" ng-model="profile.document_search" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.DocumentSearch' | translate}}</span></label>
                            <label class="ui-checkbox" ng-if="moduleLead"><input type="checkbox" ng-model="profile.lead_convert" ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.LeadConvert' | translate}}</span></label>
                            <label class="ui-checkbox">
                                <input type="checkbox" ng-model="profile.tasks"
                                       ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.Tasks' | translate}}</span>
                            </label>
                            <label class="ui-checkbox">
                                <input type="checkbox" ng-model="profile.calendar"
                                       ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.Calendar' | translate}}</span>
                            </label>
                            <!--<label class="ui-checkbox"><input type="checkbox" ng-model="profile.newsfeed"
                                                              ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.Newsfeed' | translate}}</span></label>-->
                            <label class="ui-checkbox"><input type="checkbox" ng-model="profile.dashboard" ng-disabled="profile.has_admin_rights" /><span>Pano</span></label>
                            <label class="ui-checkbox" ng-if="moduleRehber">
                                <input type="checkbox"
                                       ng-model="profile.home"
                                       ng-disabled="profile.has_admin_rights" /><span>{{'Common.Homepage' | translate}}</span>
                            </label>

                            <label class="ui-checkbox" ng-if="moduleIzinler">
                                <input type="checkbox"
                                       ng-model="profile.collective_annual_leave"
                                       ng-disabled="profile.has_admin_rights" /><span>{{'Leave.CollectiveAnnualLeave' | translate}}</span>
                            </label>
                        </div>
                        <h5 ng-show="!profile || !(profile.has_admin_rights && profile.is_persistent)">
                            {{'Setup.Profiles.StarPage' | translate}} :
                        </h5>
                        <div class="form-group" ng-show="!profile || !(profile.has_admin_rights && profile.is_persistent)">
                            <select class="form-control"
                                    ng-model="profile.PageStart"
                                    ng-change="SetStartPage()"
                                    ng-options="item.name for item in startPageList">
                                <option value="">{{'Common.Select' | translate}}</option>
                            </select>
                        </div>
                        <div class="form-group" ng-show="profileForm.$submitted && profileForm.$invalid">
                            <div class="col-sm-12">
                                <div class="callout callout-danger">
                                    <p ng-if="profileForm.$error.required">{{'Module.RequiredError' | translate}}</p>
                                    <p ng-if="profileForm.$error.unique">{{'Setup.Profiles.DuplicateName' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="#/app/setup/profiles" class="btn btn-custom">{{'Common.Cancel' | translate}}</a>
                            <button type="submit" class="btn btn-primary btn-w-lg" ladda="profileSubmit" ng-disabled="profile.has_admin_rights && profile.is_persistent"><i class="fa fa-check-circle pull-left"></i> {{'Common.Save' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>