<trial></trial>
<help-page module-id="module.id"></help-page>
<div class="page" ng-style="trial ? {'margin-top':'17px'}: ''">
    <div class="panel panel-default" block-ui="tableBlockUI">
        <div class="panel-heading clearfix">
            <div class="view-panel pull-left" ng-show="!loading">
                <div class="pull-left">
                    <select class="form-control"
                            ng-model="$parent.view"
                            ng-change="changeView()"
                            ng-options="o as o.label for o in views track by o.id">
                        <option value="" ng-if="false"></option>
                    </select>
                </div>
                <div class="view-action-buttons pull-right">
                    <a href="#app/crm/viewForm/{{type}}?id={{view.id}}" ng-if="view.created_by === user.ID || user.profile.HasAdminRights">{{'Common.Edit' | translate}}</a>
                    <span ng-if="view.created_by == user.ID || user.profile.HasAdminRights"> |</span>
                    <a href confirm-click action="deleteView(view.id)" placement="bottom" confirm-message="{{'Common.AreYouSure' | translate}}"  confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}" title="{{'Common.Delete' | translate}}" ng-if="view.system_type === 'custom' && (view.created_by === user.ID || user.profile.HasAdminRights)">{{'Common.Delete' | translate}}</a>
                    <span ng-if="view.system_type === 'custom' && (view.created_by === user.ID || user.profile.HasAdminRights)"> |</span>
                    <a href="#app/crm/viewForm/{{type}}">{{'Common.Create' | translate}}</a>
                </div>
            </div>
            <div class="pull-right" ng-if="isAvailableForSmallDevice()">
                <div class="dropdown action-dropdown-menu">
                    <button id="dropdownMenu1" type="button" class="btn btn-custom dropdown-toggle" bs-dropdown data-placement="bottom-right">{{'Module.DropdownButtons' | translate}} <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li><a href ng-click="refresh();dropdownHide();" title="{{'Common.Refresh' | translate}}" ng-disabled="loading"><i class="fa fa-refresh"></i> {{'Common.Refresh' | translate}} </a></li>
                        <li>
                            <a href ng-click="tableParams.showFilter = !tableParams.showFilter;dropdownHide();" ng-disabled="loading" id="FilterButton">
                                <i class="fa fa-filter"></i> {{'Common.Filter' | translate}}
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>

                        <li ng-if="user.profile.ExportData || user.profile.ImportData">
                            <a href id="dataTransferButtons" ng-click="showDataTransferButtons();"
                               ng-disabled="loading"><i class="fa fa-database"></i> {{'Module.DataTransfer' |
                                translate}} </a>
                        </li>
                        <li ng-if="user.profile.SendSMS" ng-show="hasPermission(type, operations.read)">
                            <a href ng-click="showSMSModal();dropdownHide();" data-spinner-color="#666" ng-disabled="loading">
                                <i class="fa fa-share-square"></i>{{'Module.SendSMS' | translate }}
                            </a>
                        </li>
                        <li ng-if="user.profile.SendEmail" ng-show="hasPermission(type, operations.read)">
                            <a href ng-click="showEMailModal();dropdownHide();" data-spinner-color="#666" ng-disabled="loading">
                                <i class="fa fa-envelope-o"></i>{{'Module.SendEMail' | translate }}
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li ng-show="hasPermission(type, operations.write)"
                            ng-if="module.name != 'activities' && module.name != 'current_accounts'">
                            <a href="#/app/crm/moduleForm/{{type}}">
                                <i class="fa fa-plus"></i>{{'Module.New' | translate:{title:module['label_' + language + '_singular']} }}
                            </a>
                        </li>
                        <li ng-show="hasPermission(type, operations.write)"
                            ng-if="module.name === 'activities'">
                            <a href="#/app/crm/moduleForm/{{type}}?stype={{activityType.value}}"
                               ng-show="hasPermission(type, operations.write)"
                               ng-repeat="activityType in activityTypes | filter:{hidden:'!true'}">
                                <i class="fa fa-plus"></i> {{'Module.New' |
                                translate:{title:activityType.label[language]} }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pull-right" ng-if="!isAvailableForSmallDevice()">
                <a href ng-click="refresh()" class="btn btn-sm btn-custom" title="{{'Common.Refresh' | translate}}" ng-disabled="loading">
                    <i class="fa fa-refresh"></i>
                </a>
                <a href ng-click="tableParams.showFilter = !tableParams.showFilter" class="btn btn-sm btn-custom" ng-disabled="loading" id="FilterButton2">
                    <i class="fa fa-filter"></i> {{'Common.Filter' | translate}}
                </a>
                <a ng-if="user.profile.ExportData || user.profile.ImportData" href id="dataTransferButtons" class="btn btn-sm btn-custom" ng-click="showDataTransferButtons()" ng-disabled="loading"><i class="fa fa-database"></i> {{'Module.DataTransfer' | translate}}</a>

                <a ng-click="collectiveLeave()" class="btn btn-sm btn-custom"
                   ng-show="hasPermission(type, operations.write)"
                   ng-if="module.name === 'izinler' && user.profile.CollectiveAnnualLeave">
                    <i class="fa fa-plus"></i> {{'Leave.CollectiveAnnualLeave' | translate }}
                </a>

                <a href="#/app/crm/moduleForm/{{type}}" class="btn btn-sm btn-custom"
                   ng-show="hasPermission(type, operations.write)"
                   ng-if="module.name != 'activities' && module.name != 'current_accounts'">
                    <i class="fa fa-plus"></i> {{'Module.New' | translate:{title:module['label_' + language + '_singular']} }}
                </a>

                <a href id="activityButtons" class="btn btn-sm btn-custom" ng-click="showActivityButtons()" ng-if="module.name === 'activities' && !activityTypeActive">
                    <i class="fa fa-plus"></i> {{'Module.New' | translate:{title:module['label_' + language + '_singular']} }}
                </a>
                <a href="#/app/crm/moduleForm/{{type}}?stype={{activityTypeActive.value}}" id="activityButton" class="btn btn-sm btn-custom" ng-if="activityTypeActive">
                    <i class="fa fa-plus"></i> {{'Module.New' | translate:{title:activityTypeActive.label[language]} }}
                </a>
                <a href id="transactionButtons" class="btn btn-sm btn-custom" ng-click="showTransactionButtons()"
                   ng-if="module.name === 'current_accounts'">
                    <i class="fa fa-plus"></i> {{'Module.NewTransaction' | translate }}
                </a>

                <span class="dropdown list-dropdown-menu"
                      ng-show="hasPermission(type, operations.remove) || user.profile.SendEmail || user.profile.SendSMS">
                    <button id="moreButton" type="button" class="btn btn-sm btn-custom dropdown-toggle" bs-dropdown data-placement="bottom-right" ng-disabled="loading"><i class="fa fa-ellipsis-h"></i></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="moreButton">
                       <li ng-show="hasPermission(type, operations.remove)">
                           <a href ng-click="showDeleteModal()">
                                <i class="fa fa-trash pull-left"></i> {{'Module.DeleteSelecteds' | translate }}
                            </a>
                        </li>
                        <li ng-show="hasPermission(type, operations.modify)">
                            <a href ng-click="showUpdateModal()">
                                <i class="fa fa-pencil-square-o pull-left"></i> {{'Module.UpdateSelecteds' | translate }}
                            </a>
                        </li>
                        <li ng-if="user.profile.SendEmail" ng-show="hasPermission(type, operations.read)">
                             <a href ng-click="showEMailModal()">
                                <i class="fa fa-envelope-o pull-left"></i> {{'Module.SendEMail' | translate }}
                            </a>
                        </li>
                        <li ng-if="user.profile.SendSMS" ng-show="hasPermission(type, operations.read)">
                            <a href ng-click="showSMSModal()">
                                <i class="fa fa-mobile pull-left"></i> {{'Module.SendSMS' | translate }}
                            </a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <div ng-show="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
            <div class="empty-message" ng-if="isEmpty && !loading">{{'Module.Message' | translate:{title:module['label_' + language + '_singular']} }}</div>
            <div class="table-list-custom table-responsive" ng-show="!isEmpty && !loading">
                <table template-header="views/common/tableheader.html" template-pagination="views/common/pagination.html" ng-table="tableParams" class="table table-hover">
                    <tbody>
                        <tr ng-repeat="record in $data">
                            <td>
                                <input type="checkbox" ng-click="selectRow($event,record)" ng-checked="isRowSelected(record.id) || isAllSelected" />
                            </td>
                            <td></td>
                            <td ng-repeat="(key, field) in record.fields | orderBy:'order' track by $index">
                                <ng-include src="'views/common/tablebody.html'"></ng-include>
                            </td>
                            <td class="text-right">
                                <span style="display:block; width: 40px"></span>
                                <span class="action-buttons" ng-show="!record.isProcessItem || isAdmin">
                                    <a href="#/app/crm/moduleForm/{{type}}{{'?id=' + record.id + '&back=' + type}}" class="action-icon" title="{{'Common.Edit' | translate}}" ng-show="hasPermission(type, operations.modify)"><i class="flaticon-pencil124"></i></a>
                                    <i class="action-icon flaticon-bin9" confirm-click action="delete(record.id)" placement="left" confirm-message="{{'Common.AreYouSure' | translate}}" confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}" title="{{'Common.Delete' | translate}}" ng-show="hasPermission(type, operations.remove)"></i>
                                </span>
                                <span ng-show="record.isProcessItem && !isAdmin">
                                    <i ng-if="record['process.process_requests.process_status'] == 1" class="fa fa-hourglass-half" aria-hidden="true" style="color:darkorange" data-placement="left" bs-tooltip data-title="{{'Setup.Workflow.ApprovelProcess.Waiting' | translate}}"></i>
                                    <i ng-if="record['process.process_requests.process_status'] == 2" class="fa fa-check-circle-o" aria-hidden="true" style="color:green" data-placement="left" bs-tooltip data-title="{{'Setup.Workflow.ApprovelProcess.Approved' | translate}}"></i>
                                    <i ng-if="record['process.process_requests.process_status'] == 3" class="fa fa-times-circle-o" aria-hidden="true" style="color:red" data-placement="left" bs-tooltip data-title="{{'Setup.Workflow.ApprovelProcess.Rejected' | translate}}"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<lightbox-directive class="angular-lightbox" ng-class="{ hidden : !lightBox }">
    <article>
        <header>
            <a class="close-btn" id="close-lightbox" ng-click="closeLightBox()"><i class="fa fa-times-circle"></i></a>
            <a class="close-btn" id="close-lightbox" ng-click="closeLightBox()"><i class="fa fa-times-circle"></i></a>
        </header>
        <content ng-click="closeLightBox()">
            <img ng-if="recordData.value"
                 ng-src="{{ config.imageUrl+recordData.value }}"/>
        </content>
        <footer>
            <a class="download-btn"
               href="{{ config.imageUrl+recordData.value }}"
               target="_blank"><i class="fa fa-download"></i></a>
        </footer>
    </article>
</lightbox-directive>