<div class="menu col-sm-3">
    <h2 class="setup-title">{{ menuTopTitle }}</h2>
    <ul class="nav nav-pills nav-stacked setup-nav">
        <li ng-class="activeMenuItem ==='overview' ? 'active' :''">
            <a href="/#/app/5/overview">
                <i class="fas fa-info-circle"></i>
                Overview
            </a>
        </li>
        <li>
            <a href="/#/app/5/modules">
                <i class="fas fa-th-large"></i>
                Model
            </a>
        </li>
        <li>
            <a href="/#/app/5/templatesEmail">
                <i class="fas fa-file-alt"></i>
                Templates
            </a>
        </li>
        <li>
            <a href="/#/app/5/workflows">
                <i class="fas fa-magic"></i>
                Automation
            </a>
        </li>

        <li>
            <a href="/#/app/5/reports">
                <i class="fas fa-chart-area"></i>
                Analytics
            </a>
        </li>
        <li ng-class="activeMenuItem ==='functions' ? 'active' :''">
            <a href="/#/app/5/functions">
                <i class="fas fa-code"></i>
                Functions
            </a>
        </li>
        <li ng-class="activeMenuItem ==='components' ? 'active' :''">
            <a href="/#/app/5/components">
                <i class="fas fa-shapes"></i>
                Components
            </a>
        </li>
        <li>
            <a href="/#/app/5/profiles">
                <i class="fas fa-random"></i>
                Authorization
            </a>
        </li>
        <li ng-class="activeMenuItem ==='menus' ? 'active' :''">
            <a href="/#/app/5/menus">
                <i class="fas fa-bars"></i>
                Menus
            </a>
        </li>
        <li ng-class="activeMenuItem ==='help' ? 'active' :''">
            <a href="/#/app/5/help">
                <i class="fas fa-medkit"></i>
                Help &amp; Guides
            </a>
        </li>
        <li ng-class="activeMenuItem ==='deployment' ? 'active' :''">
            <a href="/#/app/5/deployment">
                <i class="fas fa-play"></i>
                Deployment
            </a>
        </li>
        <li>
            <a href="">
                <i class="fas fa-ribbon"></i>
                Identity
            </a>
        </li>
        <li>
            <a href="">
                <i class="fas fa-shield-alt"></i>
                Security
            </a>
        </li>
        <li ng-class="activeMenuItem ==='extensions' ? 'active' :''">
            <a href="/#/app/5/extensions">
                <i class="fas fa-plug"></i>
                Extensions
            </a>
        </li>
        <li ng-class="activeMenuItem ==='diagnostics' ? 'active' :''">
            <a href="/#/app/5/diagnostics">
                <i class="fas fa-diagnoses"></i>
                Diagnostics
            </a>
        </li>
        <li>
            <a href="">
                <i class="fas fa-cog"></i>
                Settings
            </a>
        </li>
    </ul>
</div>
