<div class="menu col-sm-2">
    <h2 class="setup-title">{{ menuTopTitle }}</h2>
    <ul class="nav nav-pills nav-stacked setup-nav">
        <li ng-class="activeMenuItem ==='profiles' ? 'active' :''">
            <a href="/#/app/5/profiles">
                <i class="fas fa-th-large"></i>
                Profiles
            </a>
        </li>
        <li ng-class="activeMenuItem ==='roles' ? 'active' :''">
            <a href="/#/app/5/roles">
                <i class="fas fa-code-branch"></i>
               Roles
            </a>
        </li>
   </ul>
</div>
