<h2 class="setup-title">{{ menuTopTitle }}</h2>
<ul class="nav nav-pills nav-stacked setup-nav">
    <li ng-class="activeMenuItem ==='certificates' ? 'active' :''">
        <a href="/#/app/5/certificates" data-trigger="hover" data-type="info" data-title="Certificates" bs-tooltip data-placement="right">
            <i class="fas fa-th-large"></i>
            <span>Certificates</span>
        </a>
    </li>

    <li ng-class="activeMenuItem ==='passwordPolicies' ? 'active' :''">
        <a href="/#/app/5/passwordPolicies" data-trigger="hover" data-type="info" data-title="Password Policies" bs-tooltip data-placement="right">
            <i class="fas fa-code-branch"></i>
            <span>Password Policies</span>
        </a>
    </li>

    <li ng-class="activeMenuItem ==='networkAccess' ? 'active' :''">
        <a href="/#/app/5/networkAccess" data-trigger="hover" data-type="info" data-title="Network Access" bs-tooltip data-placement="right">
            <i class="fas fa-network-wired"></i>
            <span>Network Access</span>
        </a>
    </li>

    <li ng-class="activeMenuItem ==='cors' ? 'active' :''">
        <a href="/#/app/5/cors" data-trigger="hover" data-type="info" data-title="Cors" bs-tooltip data-placement="right">
            <i class="fas fa-sliders-h"></i>
            <span>Cors</span>
        </a>
    </li>

    <li ng-class="activeMenuItem ==='auditTrail' ? 'active' :''">
        <a href="/#/app/5/auditTrail" data-trigger="hover" data-type="info" data-title="Audit Trail" bs-tooltip data-placement="right">
            <i class="fas fa-sliders-h"></i>
            <span>Audit Trail</span>
        </a>
    </li>

</ul>
