<h2 class="setup-title">{{ menuTopTitle }}</h2>
<ul class="nav nav-pills nav-stacked setup-nav">
    <li ng-class="activeMenuItem ==='appDetails' ? 'active' :''">
        <a href="/#/app/5/appDetails" data-trigger="hover" data-type="info" data-title="App Details" bs-tooltip data-placement="right">
            <i class="fas fa-th-large"></i>
            <span>App Details</span>
        </a>
    </li>
    <li ng-class="activeMenuItem ==='appCollaborators' ? 'active' :''">
        <a href="/#/app/5/appCollaborators" data-trigger="hover" data-type="info" data-title="Collaborators" bs-tooltip data-placement="right">
            <i class="fas fa-code-branch"></i>
            <span>Collaborators</span>
        </a>
    </li>

    <li ng-class="activeMenuItem ==='notifications' ? 'active' :''">
        <a href="/#/app/5/notifications" data-trigger="hover" data-type="info" data-title="Notifications" bs-tooltip data-placement="right">
            <i class="fas fa-sliders-h"></i>
            <span>Notifications</span>
        </a>
    </li>
</ul>
