<div class="menu col-sm-2">
    <h2 class="setup-title">{{ menuTopTitle }}</h2>
    <ul class="nav nav-pills nav-stacked setup-nav">
        <li ng-class="activeMenuItem ==='templatesEmail' ? 'active' :''">
            <a href="/#/app/5/templatesEmail">
                <i class="fas fa-th-large"></i>
              Email Templates
            </a>
        </li>
        <li ng-class="activeMenuItem ==='templatesWord' ? 'active' :''">
            <a href="/#/app/5/templatesWord">
                <i class="fas fa-code-branch"></i>
            Word Templates
            </a>
        </li>
        <li ng-class="activeMenuItem ==='templatesExcel' ? 'active' :''">
            <a href="/#/app/5/templatesExcel">
                <i class="fas fa-network-wired"></i>
                	Excel Templates
            </a>
        </li>

    </ul>
</div>
