
<div class="page-container">

   <div class="row">
      <div class="col-sm-12">
         <h4 class="h4-title blue-color font-bold">Highlights</h4>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <div class="templatebox">
            <span class="imgfix imgy">
               <img class="imgin" src="images/primeapps/templatex.jpg" alt="" />
               <img class="blank" src="images/primeapps/blank_y.png" alt="" />
            </span>
            <span class="centerx hover-buttons">
               <a href="#" title="More Info"> More Info</a>
               <span>or</span>
               <a href="#" title="Install Application"> Install Application</a>
            </span>
            <span class="centerx">
               <span>
                  <i class="fas fa-shopping-cart"></i>
                  <h3>Sales Management</h3>
                  <p>Deals at your desk</p>
               </span>
            </span>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="row colourfullx">
            <div class="col-xs-6">
               <div class="templatebox">
                  <span class="imgfix imgy">
                     <img class="imgin" src="images/primeapps/templatex.jpg" alt="" />
                     <img class="blank" src="images/primeapps/blank_y.png" alt="" />
                  </span>
                  <span class="centerx hover-buttons">
                     <a href="#" title="More Info"> More Info</a>
                     <span>or</span>
                     <a href="#" title="Install Application"> Install Application</a>
                  </span>
                  <span class="centerx">
                     <span>
                        <i class="fas fa-shopping-cart"></i>
                        <h3>Sales Management</h3>
                        <p>Deals at your desk</p>
                     </span>
                  </span>
               </div>
            </div>
            <div class="col-xs-6">
               <div class="templatebox">
                  <span class="imgfix imgy">
                     <img class="imgin" src="images/primeapps/templatex.jpg" alt="" />
                     <img class="blank" src="images/primeapps/blank_y.png" alt="" />
                  </span>
                  <span class="centerx hover-buttons">
                     <a href="#" title="More Info"> More Info</a>
                     <span>or</span>
                     <a href="#" title="Install Application"> Install Application</a>
                  </span>
                  <span class="centerx">
                     <span>
                        <i class="fas fa-shopping-cart"></i>
                        <h3>Sales Management</h3>
                        <p>Deals at your desk</p>
                     </span>
                  </span>
               </div>
            </div>
            <div class="col-xs-6">
               <div class="templatebox">
                  <span class="imgfix imgy">
                     <img class="imgin" src="images/primeapps/templatex.jpg" alt="" />
                     <img class="blank" src="images/primeapps/blank_y.png" alt="" />
                  </span>
                  <span class="centerx hover-buttons">
                     <a href="#" title="More Info"> More Info</a>
                     <span>or</span>
                     <a href="#" title="Install Application"> Install Application</a>
                  </span>
                  <span class="centerx">
                     <span>
                        <i class="fas fa-shopping-cart"></i>
                        <h3>Sales Management</h3>
                        <p>Deals at your desk</p>
                     </span>
                  </span>
               </div>
            </div>
            <div class="col-xs-6">
               <div class="templatebox">
                  <span class="imgfix imgy">
                     <img class="imgin" src="images/primeapps/templatex.jpg" alt="" />
                     <img class="blank" src="images/primeapps/blank_y.png" alt="" />
                  </span>
                  <span class="centerx hover-buttons">
                     <a href="#" title="More Info"> More Info</a>
                     <span>or</span>
                     <a href="#" title="Install Application"> Install Application</a>
                  </span>
                  <span class="centerx">
                     <span>
                        <i class="fas fa-shopping-cart"></i>
                        <h3>Sales Management</h3>
                        <p>Deals at your desk</p>
                     </span>
                  </span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <h4 class="h4-title blue-color font-bold">All Templates</h4>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
         <div class="templatebox">
            <span class="imgfix imgy">
               <img class="imgin" src="images/primeapps/templatex.jpg" alt="" />
               <img class="blank" src="images/primeapps/blank_half.png" alt="" />
            </span>
            <span class="centerx hover-buttons">
               <a href="#" title="More Info"> More Info</a>
               <span>or</span>
               <a href="#" title="Install Application"> Install Application</a>
            </span>
            <span class="template-icon-top-right"><i class="fas fa-shopping-cart"></i></span>
            <span class="bottomx">
               <h3>Sales Management</h3>
               <p>Deals at your desk</p>
            </span>
         </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
         <div class="templatebox">
            <span class="imgfix imgy">
               <img class="imgin" src="images/primeapps/templatex.jpg" alt="" />
               <img class="blank" src="images/primeapps/blank_half.png" alt="" />
            </span>
            <span class="centerx hover-buttons">
               <a href="#" title="More Info"> More Info</a>
               <span>or</span>
               <a href="#" title="Install Application"> Install Application</a>
            </span>
            <span class="template-icon-top-right"><i class="fas fa-shopping-cart"></i></span>
            <span class="bottomx">
               <h3>Sales Management</h3>
               <p>Deals at your desk</p>
            </span>
         </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
         <div class="templatebox">
            <span class="imgfix imgy">
               <img class="imgin" src="images/primeapps/templatex.jpg" alt="" />
               <img class="blank" src="images/primeapps/blank_half.png" alt="" />
            </span>
            <span class="centerx hover-buttons">
               <a href="#" title="More Info"> More Info</a>
               <span>or</span>
               <a href="#" title="Install Application"> Install Application</a>
            </span>
            <span class="template-icon-top-right"><i class="fas fa-shopping-cart"></i></span>
            <span class="bottomx">
               <h3>Sales Management</h3>
               <p>Deals at your desk</p>
            </span>
         </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
         <div class="templatebox">
            <span class="imgfix imgy">
               <img class="imgin" src="images/primeapps/templatex.jpg" alt="" />
               <img class="blank" src="images/primeapps/blank_half.png" alt="" />
            </span>
            <span class="centerx hover-buttons">
               <a href="#" title="More Info"> More Info</a>
               <span>or</span>
               <a href="#" title="Install Application"> Install Application</a>
            </span>
            <span class="template-icon-top-right"><i class="fas fa-shopping-cart"></i></span>
            <span class="bottomx">
               <h3>Sales Management</h3>
               <p>Deals at your desk</p>
            </span>
         </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
         <div class="templatebox">
            <span class="imgfix imgy">
               <img class="imgin" src="images/primeapps/templatex.jpg" alt="" />
               <img class="blank" src="images/primeapps/blank_half.png" alt="" />
            </span>
            <span class="centerx hover-buttons">
               <a href="#" title="More Info"> More Info</a>
               <span>or</span>
               <a href="#" title="Install Application"> Install Application</a>
            </span>
            <span class="template-icon-top-right"><i class="fas fa-shopping-cart"></i></span>
            <span class="bottomx">
               <h3>Sales Management</h3>
               <p>Deals at your desk</p>
            </span>
         </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
         <div class="templatebox">
            <span class="imgfix imgy">
               <img class="imgin" src="images/primeapps/templatex.jpg" alt="" />
               <img class="blank" src="images/primeapps/blank_half.png" alt="" />
            </span>
            <span class="centerx hover-buttons">
               <a href="#" title="More Info"> More Info</a>
               <span>or</span>
               <a href="#" title="Install Application"> Install Application</a>
            </span>
            <span class="template-icon-top-right"><i class="fas fa-shopping-cart"></i></span>
            <span class="bottomx">
               <h3>Sales Management</h3>
               <p>Deals at your desk</p>
            </span>
         </div>
      </div>
   </div>

</div>
