
<div class="page-container padding0">

    <div class="row scratch-page">
        <div class="col-md-8 col-lg-6 text-center">
            <div class="scratch-page-text" style="margin-bottom: 30px;">
                <h1>How would you like to create your shiny new app?</h1>
                <!--<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</span>-->
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10">
                    <div class="row scratch-page-box" >
                        <div class="col-sm-6 scratch-box-content" ng-click="openModal()">
                            <div class="scratch-box">
                                <i class="fas fa-file"></i>
                            </div>
                            <button class="btn btn-radius btn-blue">
                                <i class="fas fa-plus"></i> Create from scratch
                            </button>
                        </div>
                        <div class="col-sm-6 scratch-box-content" >
                            <div class="disabled"  data-trigger="hover" data-type="info" data-title="Coming soon..." bs-tooltip data-placement="bottom">
                                <div class="scratch-box" style="cursor: not-allowed;">
                                    <i class="fas fa-copy"></i>
                                </div>
                                <button class="btn btn-radius btn-blue" style="cursor: not-allowed;">
                                    <i class="fas fa-plus"></i> Create from template
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
