<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">
    <form name="newAppForm" class="form-horizontal form-custom" ng-submit="save(newAppForm)" autocomplete="off"
          novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">{{ !appModel.id ? 'Create New App' : 'Edit Form'   }}</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button type="button" ng-disabled="appSaving" class="btn add-button btn-radius btn-gray" ng-click="closeModal()">
                                <i class="fas fa-times"></i>{{'Common.Cancel' | translate}}
                            </button>
                        </li>
                        <li>
                            <button type="submit" class="btn add-button btn-radius btn-blue" ladda="appSaving">
                                <i class="fas fa-save"></i>{{'Common.Save' | translate}}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog ">
            <div class="modal-content padding-0">
                <div class="modal-body">
                    <div id="field-form-body" class="modal-body">
                        <div class="section" id="section1">
                            <div class="panel">
                                <div class="form-group"
                                     ng-class="{'has-error': newAppForm.$submitted && newAppForm.label.$invalid}">
                                    <label class="col-sm-4 required-field">
                                        Name <span class="required-label">(required)</span>
                                    </label>
                                    <input type="text"
                                           name="label"
                                           class="form-control ng-animate-disabled col-sm-8"
                                           focus="true"
                                           required
                                           maxlength="50"
                                           ng-blur="!appModel.id  ? checkNameBlur():'';"
                                           ng-change="!appModel.id ? generateAppName():''"
                                           ng-model="appModel.label">
                                </div>
                                <div class="form-group" style="position: relative;"
                                     ng-disabled="appModel.id"
                                     ng-class="{'has-error': newAppForm.$submitted && newAppForm.name.$invalid}">
                                    <label class="col-sm-4 required-field">Identifier <span class="required-label">({{'Common.Required' | translate }})</span></label>
                                    <input type="text"
                                           name="name"
                                           ng-disabled="appModel.id"
                                           class="form-control ng-animate-disabled col-sm-6 text-lowercase"
                                           required
                                           maxlength="50"
                                           ng-trim="false"
                                           ng-blur="checkNameBlur();"
                                           ng-change="checkNameUnique(appModel.name)"
                                           ng-model="appModel.name"
                                           id="subdomain" />
                                    <span style="right: 10px;" id="subdomaintwo">
                                        .primeapps.app
                                    </span>
                                    <!--<input type="text" id="subdomaintwo" value="" disabled />-->

                                    <div ng-if="nameChecking">
                                        <i class="fa fa-spinner fa-spin"
                                           style="font-size:16px;position: absolute;bottom: 12px;right: 125px;"></i>
                                    </div>
                                    <div ng-if="nameValid && appModel.name">
                                        <i style="font-size:16px;position: absolute;bottom: 12px;right: 125px;color:green;"
                                           class="fa-sidebar-icon fas fa-check"></i>
                                    </div>
                                    <div ng-if="nameValid === false">
                                        <i style="font-size:16px;position: absolute;bottom: 12px;right: 125px;color:red;"
                                           class="fas fa-times"
                                           data-trigger="hover" data-type="info" data-title="This app identifier already used by another user." bs-tooltip data-placement="bottom"></i>
                                    </div>
                                </div>
                                <!--<div style="margin-top:-20px">-->
                                <!--<span style="font-weight:200;font-size:small" ng-show="appModel.name">{{appModel.name}}.primeapps.app</span>-->
                                <!--</div>-->
                                <div class="form-group"
                                     ng-class="{'has-error': newAppForm.$submitted && newAppForm.description.$invalid}">
                                    <label class="col-sm-4 required-field">Description</label>
                                    <input type="text"
                                           name="description"
                                           class="form-control ng-animate-disabled col-sm-8"
                                           maxlength="50"
                                           ng-model="appModel.description">
                                </div>
                                <div class="form-group">
                                    <label class="required-field">Change App Icon and Color</label>
                                    <div class="iconandcolor">
                                        <div class="flex-evenly">
                                            <div>
                                                <div ng-style="{background:appModel.color}" class="appicon" title="">
                                                    <i ng-class=" appModel.icon.value ?  appModel.icon.value :appModel.icon" class="fas fa-box-open"></i>
                                                    <div class="icon-search-list">
                                                        <ui-select ng-model="appModel.icon" ng-disabled="ctrl.disabled">
                                                            <ui-select-match placeholder="Select an icon">
                                                                <div>
                                                                    <span ng-if="$select.selected.value" class="{{$select.selected.value}}"> {{ $select.selected.value }}</span>
                                                                    <span ng-if="!$select.selected.value" class="{{$select.selected}}"> {{ $select.selected }}</span>
                                                                </div>
                                                            </ui-select-match>
                                                            <ui-select-choices repeat="icon in icons | filter:{ label:$select.search }">
                                                                <div ng-bind-html="icon.label"></div>
                                                            </ui-select-choices>
                                                        </ui-select>

                                                    </div>

                                                </div>
                                            </div>
                                            <div>
                                                <div class="appcolor">
                                                    <span ng-click="appModel.color='#D24D57'" ng-class="appModel.color =='#D24D57' ? 'active':''" style="background: #D24D57;"></span>
                                                    <span ng-click="appModel.color='#BE90D4'" ng-class="appModel.color =='#BE90D4' ? 'active':'' " style="background: #BE90D4;"></span>
                                                    <span ng-click="appModel.color='#5AABE3'" ng-class="appModel.color =='#5AABE3' ? 'active':'' " style="background: #5AABE3;"></span>
                                                    <span ng-click="appModel.color='#87D37C'" ng-class="appModel.color =='#87D37C' ? 'active':'' " style="background: #87D37C;"></span>
                                                    <span ng-click="appModel.color='#F4D03E'" ng-class="appModel.color =='#F4D03E' ? 'active':'' " style="background: #F4D03E;"></span>
                                                    <span ng-click="appModel.color='#B8BEC2'" ng-class="appModel.color =='#B8BEC2' ? 'active':'' " style="background: #B8BEC2;"></span>
                                                </div>
                                                <div class="appcolor">
                                                    <span ng-click="appModel.color='#DC3023'" ng-class="appModel.color =='#DC3023' ? 'active':''" style="background: #DC3023;"></span>
                                                    <span ng-click="appModel.color='#8E44AD'" ng-class="appModel.color =='#8E44AD' ? 'active':''" style="background: #8E44AD;"></span>
                                                    <span ng-click="appModel.color='#19B5FE'" ng-class="appModel.color =='#19B5FE' ? 'active':''" style="background: #19B5FE;"></span>
                                                    <span ng-click="appModel.color='#25A65B'" ng-class="appModel.color =='#25A65B' ? 'active':''" style="background: #25A65B;"></span>
                                                    <span ng-click="appModel.color='#FFB61E'" ng-class="appModel.color =='#FFB61E' ? 'active':''" style="background: #FFB61E;"></span>
                                                    <span ng-click="appModel.color='#959EA4'" ng-class="appModel.color =='#959EA4' ? 'active':''" style="background: #959EA4;"></span>
                                                </div>
                                                <div class="appcolor">
                                                    <span ng-click="appModel.color='#C3272B'" ng-class="appModel.color =='#C3272B' ? 'active':''" style="background: #C3272B;"></span>
                                                    <span ng-click="appModel.color='#763668'" ng-class="appModel.color =='#763668' ? 'active':''" style="background: #763668;"></span>
                                                    <span ng-click="appModel.color='#1F4688'" ng-class="appModel.color =='#1F4688' ? 'active':''" style="background: #1F4688;"></span>
                                                    <span ng-click="appModel.color='#006442'" ng-class="appModel.color =='#006442' ? 'active':''" style="background: #006442;"></span>
                                                    <span ng-click="appModel.color='#CA6924'" ng-class="appModel.color =='#CA6924' ? 'active':''" style="background: #CA6924;"></span>
                                                    <span ng-click="appModel.color='#4D5C66'" ng-class="appModel.color =='#4D5C66' ? 'active':''" style="background: #4D5C66;"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>