<div class="modal message-modal" tabindex="-1" role="dialog" ng-controller="ExportDataController">
    <div class="modal-dialog">
        <div class="modal-content" style="width:500px;margin:auto;">
            <div>
                <form name="exportModalForm" class="form-horizontal form-custom" autocomplete="off" novalidate>
                    <div class="modal-header clearfix">
                        <h4 class="modal-title pull-left">{{view.label}} {{'Module.Export' | translate }}</h4>
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true" ng-click="$hide()"><i class="fa fa-close"></i></button>
                    </div>
                    <div class="modal-body" style="margin-top:25px">
                        <div class="row" style="height:120px">
                            <div class="col-md-12" style="height: 70px;">
                                <input type="checkbox" id="check" name="moduleAllColumn" ng-model="export.moduleAllColumn" />
                                <label for="check" style="cursor: pointer" class="control-label">{{'Module.ExcelExportModuleAllColumn'|translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <div class="pull-right" style="height: 50px;">
                                    <button type="button" class="btn btn-primary" style="margin-right: 10px;" ng-click="getDownloadViewUrlExcel();$hide()">{{'Module.Export' | translate }}</button>
                                    <button type="button" class="btn btn-custom" ng-click="$hide()">{{'Common.Cancel' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



