<md-dialog flex="30" aria-label="{{view.label}} {{'Module.Export' | translate }}" ng-controller="ExportDataController">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{view.label}} {{'Module.Export' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"><i class="fas fa-times"></i></md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="checkbox" id="check" name="check" class="k-checkbox" ng-model="export.moduleAllColumn" />
                            <label class="k-checkbox-label" for="check">{{'Module.ExcelExportModuleAllColumn'|translate}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="btn btn-primary" type="button" ng-click="getDownloadViewUrlExcel();cancel();" md-autofocus>
                <i class="fas fa-save"></i>
                {{'Module.Export' | translate}}
            </md-button>
            <span flex></span>
        </md-dialog-actions>
    </form>
</md-dialog>