<md-toolbar class="add-view" md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="closeSide('sideModal')" aria-label="{{'Common.Close' | translate}}"><i
                class="fas fa-angle-left"></i>
            <md-tooltip md-autohide="true" md-direction="bottom" >{{'Common.Close' | translate}}</md-tooltip>
        </md-button>
        <h3 md-truncate> {{ activeView.languages[globalization.Label]['label'] || activeView.languages[globalization.Label]['name'] }}</h3>
        <md-button class="md-icon-button dockside" ng-class="isDocked ? 'active': ''" ng-class="isDocked ? 'active': ''" ng-click="sideModaldock()" aria-label="Close"><i
                class="fas fa-thumbtack"></i></md-button>
        <span flex></span>
        <md-button class="md-icon-button btn btn-secondary" aria-label="Revert" ng-click="revertFilter()">
            <i class="fas fa-undo"></i>
            <md-tooltip md-autohide="true" md-directtion="bottom"> {{'Common.Revert' | translate}}</md-tooltip>
        </md-button>
        <md-button
                ng-if="activeView.system_type !='system'"
                ng-show="views.length > 1  && viewPermissions.remove && (activeView.created_by_id === user.id || user.profile.has_admin_rights)"
                class="md-icon-button btn btn-secondary" aria-label="Delete" ng-click="deleteView($event)"><i class="fas fa-trash"></i>
            <md-tooltip md-autohide="true" md-directtion="bottom"> {{'Common.Delete' | translate}}</md-tooltip>
        </md-button>
        <md-button ng-if="(viewPermissions.write || viewPermissions.modify)" class="md-icon-button btn " ng-class="viewChangeStatus ? 'btn-primary' :'btn-secondary'" ng-disabled="isDirty" ng-click="saveModal(filterForm)" aria-label="Save"><i
                class="fas fa-save"></i>
            <md-tooltip md-autohide="true" md-directtion="bottom">{{'Common.Save' | translate}} </md-tooltip>
        </md-button>
    </div>
</md-toolbar>

<md-content flex>
    <form class="container-fluid paddingua20 disable-validation-msg" kendo-validator="filterForm"
          autocomplete="off"
          novalidate>
        <div class="title">
            <h5>{{'View.ViewType' | translate}}</h5>
        </div>
        <div class="whitebox padding20">
            <div class="row row5 view-type">
<!--                <div class="col-4 col-md-3 col-lg-3 col-xl-2" ng-click="changeViewType('list');">-->
<!--                    <a href ng-class="activeView.view_type ==='list'  ? 'active':''" title="{{'View.List' | translate}}">-->
<!--                        <span class="view-img-holder"><img src="images/views/calendar.svg" alt="{{'View.List' | translate}}"/><i-->
<!--                                class="fas fa-check"></i></span>-->
<!--                        <small>{{'View.List' | translate}}</small>-->
<!--                    </a>-->
<!--                </div>-->
                <div class="col-4 col-md-3 col-lg-3 col-xl-2" ng-click="changeViewType('grid');">
                    <a ng-class="activeView.view_type ==='grid'  ? 'active':''" href
                       title="{{'View.GridView' | translate}}">
                        <span class="view-img-holder"><img src="images/views/grid.svg" alt="{{'View.GridView' | translate}}"/><i
                                class="fas fa-check"></i></span>
                        <small>{{'View.Grid' | translate}}</small>
                    </a>
                </div>
                <div class="col-4 col-md-3 col-lg-3 col-xl-2" ng-click="changeViewType('calendar');">
                    <a href ng-class="activeView.view_type ==='calendar'  ? 'active':''" title="{{'View.CalendarView' | translate}}">
                        <span class="view-img-holder"><img src="images/views/calendar.svg" alt="{{'View.CalendarView' | translate}}"/><i
                                class="fas fa-check"></i></span>
                        <small>{{'View.CalendarView' | translate}}</small>
                    </a>
                </div>
                <!--
                <div class="col-4 col-md-3 col-lg-3 col-xl-2">
                    <a href ng-class="activeView.viewType ==='gallery' ? 'active':''" title="Gallery View">
                        <span class="view-img-holder"><img src="images/views/gallery.svg" alt="Gallery View"/><i
                                class="fas fa-check"></i></span>
                        <small>Gallery</small>
                    </a>
                </div>
                <div class="col-4 col-md-3 col-lg-3 col-xl-2">
                    <a href ng-class="activeView.viewType ==='kanban' ? 'active':''" title="Kanban View">
                        <span class="view-img-holder"><img src="images/views/kanban.svg" alt="Kanban View"/><i
                                class="fas fa-check"></i></span>
                        <small>Kanban</small>
                    </a>
                </div>-->
                <div class="col-4 col-md-3 col-lg-3 col-xl-2" ng-click="changeViewType('report');">
                    <a href ng-class="activeView.view_type ==='report' ? 'active':''"
                       title="{{'View.ReportView' | translate}}">
                        <span class="view-img-holder"><img src="images/views/report.svg" alt="{{'View.ReportView' | translate}}"/><i
                                class="fas fa-check"></i></span>
                        <small> {{'View.Report' | translate}}</small>
                    </a>
                </div>
                <!--<div class="col-4 col-md-3 col-lg-3 col-xl-2">
                    <a href ng-class="activeView.viewType ==='maps' ? 'active':''" title="Maps View">
                        <span class="view-img-holder"><img src="images/views/maps.svg" alt="Maps View"/><i
                                class="fas fa-check"></i></span>
                        <small>Maps</small>
                    </a>
                </div>-->
            </div>
        </div>


        <div class="title" ng-if="activeView.view_type=='report'">
            <h5>{{'View.ReportSettings' | translate}}</h5>
        </div>

        <section ng-if="activeView.view_type=='report'" class="whitebox padding20">
                <div class="form-group">
                    <label for="reporttype">
                        <span>   {{'Report.ReportType' | translate}} </span>
                    </label>
                    <select id="reporttype"
                            k-options="reportTypeOptions"
                            ng-model="activeView.report_type"
                            ng-change="reportTypeChange()"
                            kendo-drop-down-list>
                    </select>
                </div>

                <!--Report Group By Field Selection -->
                <div class="form-group" ng-if="activeView.view_type=='report' && activeView.report_type ==='summary'">
                    <label >
                        <span>   {{'Report.GroupArea' | translate}} </span>
                        <span class="label-right">
                            <span class="required-label">{{'Common.Required' | translate}}</span>
                        </span>
                    </label>
                    <select
                            k-option-label="'{{'Module.SelectField' | translate}}'"
                            k-data-text-field="'languages.{{globalization.Label}}.label'"
                            k-data-value-field="'name'"
                            k-data-source="module.fields"
                            ng-required="true"
                            k-on-change="chartFilter('groupField')"
                            kendo-drop-down-list ng-model="activeView.group_field"></select>
                </div>

            <!--Report Ordering Field E -->
                <div class="form-group" ng-if="activeView.view_type=='report' && activeView.report_type ==='summary'">
                    <label for="report-order-field">
                        <span>   {{'Report.OrderArea' | translate}} </span>
                    </label>

                    <select
                            id="report-order-field"
                            k-option-label="'{{'Module.SelectField' | translate}}'"
                            k-data-text-field="'languages.{{globalization.Label}}.label'"
                            k-data-value-field="'name'"
                            k-data-source="module.fields"
                            kendo-drop-down-list ng-model="reportModel.sort_field"></select>
                </div>

        </section>

        <!--  Calculation Fields-->
        <div class="title" ng-show="activeView.view_type ==='report' && activeView.report_type !=='tabular'" >
            <h5>{{ 'Report.CalculationFields' | translate}}</h5>
            <span> {{'View.TotalCount' | translate}} <kendo-switch id="total-count" k-on-change="changeTotalCount(totalCount)"  k-ng-model="totalCount"></kendo-switch></span>
        </div>

        <!--    Calculation Fields-->
        <div ng-if="(activeView.report_type==='summary' || activeView.report_type==='single')"
             ng-class="totalCount ? 'k-state-disabled' :''"
             class="whitebox padding20">
            <section class="row">
                <div class="col-12 col-sm-6">
                    <select id="calculationfields"
                            k-option-label="'{{'Module.SelectField' | translate}}'"
                            k-data-text-field="'languages.{{globalization.Label}}.label'"
                            k-data-value-field="'name'"
                            k-data-source="numberFields"
                            ng-model="activeView.aggregation.field"
                            k-on-change="activeView.report_type==='single' ?   widgetFilter():chartFilter()"
                            kendo-drop-down-list></select>

                </div>
                <div class="col-12 col-sm-6"  ng-class="!numberFields || numberFields.length <1 ? 'k-state-disabled' :''">
                    <select id="aggregation_type"
                            k-option-label="'{{'Module.AggregationType' | translate}}'"
                            k-data-text-field="'label'"
                            k-data-value-field="'value'"
                            k-data-source="aggregationTypes"
                            k-on-change="activeView.report_type==='single' ?   widgetFilter():chartFilter('aggregationType')"
                            ng-model="activeView.aggregation.aggregation_type"
                            kendo-drop-down-list></select>

                </div>


            </section>

        </div>

        <!--  Chart Settings -->
        <div class="title" ng-if="activeView.report_type ==='summary'">
            <h5> {{'View.ChartSettings' | translate}}  </h5>
        </div>

        <section class="whitebox padding20"  ng-if="activeView.report_type ==='summary'">
            <div class="form-group">
                <label>
                    <span>   {{'Report.Chart.Type' | translate}} </span>
                    <span class="label-right">
                         <span class="required-label">{{'Common.Required' | translate}}</span>
                    </span>
                </label>
                <select
                        id="chart-type"
                        k-option-label="'{{'Module.SelectField' | translate}}'"
                        k-data-text-field="'label'"
                        k-data-value-field="'name'"
                        k-data-source="chartTypes"
                        ng-required="true"
                        kendo-drop-down-list ng-model="reportSummary.chart.chart_type"></select>
            </div>
            <div class="form-group">
                <label>
                    <span>  {{ 'Report.Chart.XaxisName' | translate }} </span>
                    <span class="label-right">
                         <span class="required-label">{{'Common.Required' | translate}}</span>
                    </span>
                </label>
                <input type="text" id="xaxis_name" name="xaxis_name" ng-required="true" ng-model="reportSummary.chart['xaxisname']" class="k-textbox"/>
            </div>
            <div class="form-group">
                <label>
                    <span>    {{ 'Report.Chart.YaxisName' | translate }} </span>
                    <span class="label-right">
                         <span class="required-label">{{'Common.Required' | translate}}</span>
                    </span>
                </label>
                <input type="text" id="yaxisname" name="yaxisname" ng-required="true" ng-model="reportSummary.chart['yaxisname']" class="k-textbox"/>
            </div>
        </section>

        <!--  Calendar Settings -->
        <div class="title" ng-if="activeView.view_type ==='calendar'">
            <h5> {{'View.CalendarSettings' | translate}}  </h5>
        </div>
        <section class="whitebox padding20"  ng-if="activeView.view_type ==='calendar'">
<!--            <div class="form-group">-->
<!--                <label>-->
<!--                    <span>   {{'View.VisibleField' | translate}} </span>-->
<!--                    <span class="label-right">-->
<!--                         <span class="required-label">{{'Common.Required' | translate}}</span>-->
<!--                    </span>-->
<!--                </label>-->
<!--                <select-->
<!--                        id="visiblefield"-->
<!--                        k-option-label="'{{'Module.SelectField' | translate}}'"-->
<!--                        k-data-text-field="'label'"-->
<!--                        k-data-value-field="'name'"-->
<!--                        k-data-source="module.fields"-->
<!--                        ng-required="true"-->
<!--                        k-on-change="setViewCalendar()"-->
<!--                        kendo-drop-down-list ng-model="activeView.settings.visiblefield"></select>-->
<!--            </div>-->
            <ul class="list-unstyled list-inline bottom10" ng-init="dateRangeSelect='date'">
                <li>
                    <input type="radio" name="dateRangeSelect" ng-model="dateRangeSelect" value="date" id="date" class="k-radio">
                    <label class="k-radio-label" for="date">{{'View.DateField' | translate}}</label>
                </li>
                <li>
                    <input type="radio" name="dateRangeSelect" ng-model="dateRangeSelect" value="dateRange" id="dateRange" ng-change="activeView.settings.enddatefield= ''" class="k-radio">
                    <label class="k-radio-label" for="dateRange">{{'View.DateRange' | translate}}</label>
                </li>
            </ul>

            <div class="form-group">
                <label>
                    <span ng-if="dateRangeSelect === 'date'">{{'View.DateField' | translate}}</span>
                    <span ng-if="dateRangeSelect === 'dateRange'">{{'View.StartDateField' | translate}}</span>
                    <span class="label-right">
                         <span class="required-label">{{'Common.Required' | translate}}</span>
                    </span>
                </label>
                <select
                        id="startdatefield"
                        k-option-label="'{{'Module.SelectField' | translate}}'"
                        k-data-text-field="'label'"
                        k-data-value-field="'name'"
                        k-data-source="dateFields"
                        ng-required="true"
                        k-on-change="setViewCalendar()"
                        kendo-drop-down-list ng-model="activeView.settings.startdatefield"></select>
             </div>
            <div class="form-group" ng-if="dateRangeSelect === 'dateRange'">
                <label>
                    <span>   {{'View.EndDateField' | translate}} </span>
                </label>
                <select
                        id="enddatefield"
                        k-option-label="'{{'Module.SelectField' | translate}}'"
                        k-data-text-field="'label'"
                        k-data-value-field="'name'"
                        k-data-source="dateFields"
                        k-on-change="setViewCalendar()"
                        kendo-drop-down-list ng-model="activeView.settings.enddatefield"></select>
             </div>

        </section>

        <!--  Widget Settings -->
        <div class="title" ng-if="activeView.report_type ==='single'">
            <h5> {{'Report.Widget.Name' | translate}} </h5>
        </div>
        <section class="whitebox padding20" ng-if="activeView.view_type==='report' && activeView.report_type ==='single'">

            <div class="form-group">
                <label>
                    <span>   {{'Report.Widget.Icon' | translate}} </span>
                    <span class="label-right">
                         <span class="required-label">{{'Common.Required' | translate}}</span>
                    </span>
                </label>
                <select id="icon"
                        ng-model="activeView.icon"
                        kendo-drop-down-list
                        k-options="selectIconOptions"
                        ng-required="true"
                >
                    <option value="">{{'Common.Select' | translate}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>
                    <span>    {{ 'Report.Widget.Color' | translate }} </span>
                </label>
                <input  class="form-control"
                        kendo-color-picker
                        k-options="colorPaletOptions"
                        ng-model="activeView.color"
                       name="colorpicker"/>
            </div>
        </section>
        <div class="title">
            <h5> {{'View.ChooseYourCriterion' | translate}}   </h5>
            <small class="modified">{{activeView.filter_logic}}</small>
        </div>
        <section class="whitebox padding20">
            <query-builder viewfilter="viewFilter" fieldskey="fieldskey" module="module"  group="filtera.group"></query-builder>
        </section>

        <!--{{filtera}}-->

        <!--  Groups Fields -->
        <div class="title" ng-if="activeView.view_type==='grid'">
            <h5>{{ 'Report.GroupArea' | translate}}</h5>
        </div>
        <!--    Groups Fields -->
        <section ng-if="activeView.view_type==='grid'" class="whitebox padding20">
            <div class="row row0 align-items-center" ng-repeat="group in gridGroupBy">
                <div class="col-auto">
                    <button class="md-icon-button md-button" type="button" ng-click="gridGroupDelete($index, gridGroupBy)" > <i class="fas fa-trash"></i></button>
                </div>
                <div class="col">
                    <div class="row row5 align-items-center">
                        <div class="col-auto d-none d-md-block">
                            <div class="form-group">
                                <span class="form-control" ng-show="$index === 0">{{'View.Group' | translate}}</span>
                                <span class="form-control" ng-show="$index > 0">{{'View.After' | translate}}</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                            <select k-data-text-field="'label'" 
                                k-data-value-field="'name'"
                                k-data-source="viewFields.selectedFields"
                                k-on-change="changeGridGroupField(group)"
                                ng-model="group.fieldArea"
                                kendo-drop-down-list></select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="md-icon-button md-button group-asc" type="button" ng-click="changeGridGroupSort(group)" >
                                <i ng-show="group.dir === 'asc'" class="op-increasing"></i>
                                <i ng-show="group.dir === 'desc'" class="op-decreasing"></i>
                                <md-tooltip md-autohide="true" md-direction="bottom" ng-show="group.data_type === 'number' || group.data_type === 'number_decimal' || group.data_type === 'currency' || group.data_type === 'number_auto' || group.data_type === 'checkbox'" >
                                    <span ng-show="group.dir === 'asc'">{{'View.From1to9' | translate}}</span>
                                    <span ng-show="group.dir === 'desc'">{{'View.From9to1' | translate}}</span>
                                </md-tooltip>
                                <md-tooltip md-autohide="true" md-direction="bottom" ng-show="group.data_type === 'text_single' || group.data_type === 'text_multi' || group.data_type === 'email' || group.data_type === 'date' 
                                    || group.data_type === 'url' || group.data_type === 'tag' || group.data_type === 'date_time' || group.data_type === 'time' 
                                    || group.data_type === 'picklist' || group.data_type === 'rating' || group.data_type === 'lookup' ">
                                    <span ng-show="group.dir === 'asc'">{{'View.FromAtoZ' | translate}}</span>
                                    <span ng-show="group.dir === 'desc'">{{'View.FromZtoA' | translate}}</span>
                                </md-tooltip>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <md-button  class="btn btn-secondary newGroupButton" ng-show="gridGroupBy.length < 2" ng-click="addGridGroup()" aria-label="{{ 'Setup.UserGroups.NewUserGroup' | translate}}">
                <i class="fas fa-plus"></i> {{ 'Setup.UserGroups.NewUserGroup' | translate}}
            </md-button>
        </section>
        
        <div class="title" ng-if="activeView.view_type==='grid' ||  activeView.report_type==='tabular'">
            <h5> {{'View.Columns' | translate}}  </h5>
        </div>
        <div class="whitebox padding20" ng-if="activeView.view_type==='grid' || activeView.report_type==='tabular'">
            <div class="form-group">
                <div class="row draglistbox">
                    <div class="col-6">
                        <label for="available-fields">{{'Setup.Modules.AvailableFields' | translate}}</label>
                        <select kendo-list-box k-options="availableFieldsOptions" id="available-fields"
                                k-scope-field name="available-fields"></select>
                    </div>
                    <div class="col-6">
                        <label for="selected-fields">{{'Setup.Modules.ViewFields' | translate}}</label>
                        <select kendo-list-box k-options="selectedFieldsOptions"
                                id="selected-fields"
                                ng-required="true"
                                name="selected-fields"
                        ></select>
                    </div>
                </div>
            </div>
            <div class="alert alert-secondary padding10 shadow-sm" role="alert" ng-if="isMobile()">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-auto"><span class="warn-icon" style="width: 40px;height: 40px; font-size: 20px;"><i class="fas fa-info"></i></span></div>
                            <div class="col"><div>{{'View.SelectedFieldsMobileInfo' | translate}}</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  Calculation Fields -->

        <div class="title" ng-if="activeView.view_type==='grid' && activeView.aggregations.length > 0 && gridGroupBy.length > 0 || activeView.view_type==='report' &&  activeView.report_type==='tabular' && activeView.aggregations.length > 0">
            <h5>{{ 'Report.CalculationFields' | translate}}</h5>
        </div>

        <!--    Calculation Fields Grid -->
        <section ng-if="activeView.view_type==='grid' && activeView.aggregations.length > 0 && gridGroupBy.length > 0" class="whitebox padding20">
            <div class="row row5 align-items-center" ng-repeat="aggregation in activeView.aggregations">
                <div class="col-auto">
                    <kendo-switch name="aggregation.name" ng-change="switchChange(aggregation)" ng-model="aggregation.active"></kendo-switch>
                </div>
                <div class="col">
                    <div class="row row5" ng-class="aggregation.active === true ? '' : 'k-state-disabled'">
                        <div class="col" ng-if="aggregation.aggregation_type === 'count'">
                            <div class="form-group">
                                <span class="form-control text-truncate">  {{aggregation.label}} </span>
                            </div>
                        </div>
                        <div class="col" ng-if="aggregation.aggregation_type !== 'count'" >
                            <div class="form-group">
                                <span class="form-control text-truncate">  {{aggregation.label}} </span>
                            </div>
                        </div>
                        <div class="col" ng-if="aggregation.aggregation_type !== 'count'">
                            <div class="form-group">
                                <select
                                        k-option-label="'{{'Module.AggregationType' | translate}}'"
                                        k-data-text-field="'label'"
                                        k-data-value-field="'value'"
                                        k-data-source="aggregationTypes"
                                        k-on-change="switchChange(aggregation)"
                                        ng-disabled="!aggregation.active"
                                        ng-model="aggregation.aggregation_type"
                                        kendo-drop-down-list></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--    Calculation Fields Tabular -->
        <div ng-if="activeView.view_type==='report' && activeView.report_type==='tabular' && activeView.aggregations.length > 0" class="whitebox padding20 gridByGroup">
            <section class="row marginBottom10" ng-repeat="aggregation in activeView.aggregations">
                <div class="col-12 col-sm-6">
                    <input type="text" ng-disabled="true" value="{{fieldskey[aggregation.field].label }}"
                           class="k-textbox"/>
                </div>
                <div class="col-12 col-sm-6">
                    <select
                            k-option-label="'{{'Module.AggregationType' | translate}}'"
                            k-data-text-field="'label'"
                            k-data-value-field="'value'"
                            k-data-source="aggregationTypes"
                            k-on-change="changeAggregationType(aggregation)"
                            ng-model="aggregation.aggregation_type"
                            kendo-drop-down-list></select>
                </div>
            </section>
        </div>
        
    </form>
</md-content>
