<md-dialog flex="30" aria-label="{{'Module.ChooseTemplate' | translate:{module:module['label_'+language+'_singular']} }}" ng-controller="ExportDataController">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'Module.ChooseTemplate' | translate:{module:module['label_'+language+'_singular']} }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"><i class="fas fa-times"></i></md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="checkbox" id="check" name="check" class="k-checkbox" ng-model="export.moduleAllColumn" />
                            <label class="k-checkbox-label" for="check">{{'Module.ExcelExportModuleAllColumn'|translate}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="btn btn-secondary ripple-effect" type="button" ng-click="cancel()">{{'Common.Cancel' | translate}}</md-button>
            <md-button class="btn btn-primary" ng-disabled="isShownWarning" type="button" ng-click="excelData();" 
            ng-class="{'btn-w-md':language==='tr', 'btn-w-lg':language==='en'}" md-autofocus  target="_blank">
                <i class="fa fa-file-excel-o"></i>
                {{'Module.SourceDataExcluded' | translate}}
            </md-button>
            <md-button class="btn btn-primary" ng-disabled="isShownWarning" type="button" ng-click="excelNoData();"
                       ng-class="{'btn-w-md':language==='tr', 'btn-w-lg':language==='en'}" md-autofocus target="_blank">
                <i class="fa fa-file-excel-o"></i>
                {{'Module.SourceDataIncluded' | translate}}
            </md-button>
            <span flex></span>
        </md-dialog-actions>
    </form>
</md-dialog>