<md-content flex style="height: 100%;" class="all-content">
    <div layout="column" style="height: 100%; overflow-y: hidden;" ng-cloak>
        <md-toolbar md-scroll-shrink ng-class="views.length >0 ?  'with-subheader' :''">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button show-on-m" ng-click="goBack()" aria-label="{{'Common.Back' | translate}}"><i class="fas fa-angle-left"></i>
                    <md-tooltip md-direction="right">{{'Common.Back' | translate}}</md-tooltip>
                </md-button>
                <h2 md-truncate>{{module['label_' + language + '_plural']}}</h2>
                <div class="helpbuttons">
                    <md-button class="md-icon-button" aria-label="{{'Common.Help' | translate}}" ng-if="showHelp" ng-click="helpSide()"><i
                            class="fas fa-question-circle"></i>
                        <md-tooltip md-direction="bottom">{{'Common.Help' | translate}}</md-tooltip>
                    </md-button>
                    <!--<md-button class="md-icon-button enlarge d-none d-lg-inline-block hide-on-m" ng-click="toggleFullLeftMenu()"
                               aria-label="{{'Common.FullScreen' | translate}}">
                        <svg class="enlarge_icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36"
                             style="enable-background:new 0 0 36 36;" xml:space="preserve">
                            <path d="M19.4,12.8c-0.8,0.8-0.8,2.1,0,2.9c0.8,0.8,2.1,0.8,2.9,0l5.1-5.1l3.2,3.2c0.8,0.8,1.4,0.5,1.4-0.6V5c0-1.1-0.9-2-2-2h-8.1 c-1.1,0-1.4,0.6-0.6,1.4l3.2,3.2L19.4,12.8z"/>
                            <path d="M16.6,21.2c0.8-0.8,0.8-2.1,0-2.9c-0.8-0.8-2.1-0.8-2.9,0l-5.1,5.1l-3.2-3.2C4.6,19.5,4,19.8,4,20.9V29c0,1.1,0.9,2,2,2h8.1 c1.1,0,1.4-0.6,0.6-1.4l-3.2-3.2L16.6,21.2z"/>
                            <path d="M31.4,6.5c0.8-0.8,0.8-2.1,0-2.9s-2.1-0.8-2.9,0l-5.1,5.1l-3.2-3.2c-0.8-0.8-1.4-0.5-1.4,0.6v8.1c0,1.1,0.9,2,2,2h8.1 c1.1,0,1.4-0.6,0.6-1.4l-3.2-3.2L31.4,6.5z"/>
                            <path d="M4.6,27.5c-0.8,0.8-0.8,2.1,0,2.9c0.8,0.8,2.1,0.8,2.9,0l5.1-5.1l3.2,3.2c0.8,0.8,1.4,0.5,1.4-0.6v-8.1c0-1.1-0.9-2-2-2H7.1 c-1.1,0-1.4,0.6-0.6,1.4l3.2,3.2L4.6,27.5z"/>
                        </svg>
                        <md-tooltip ng-if="!showTooltip" md-direction="bottom">{{'Common.FullScreen' | translate}}</md-tooltip>
                        <md-tooltip ng-if="showTooltip" md-direction="bottom">{{'Common.ExitFullScreen' | translate}}</md-tooltip>
                    </md-button>-->
                </div>
                <span class="show-on-m" flex></span>
                <div ng-if="toolbarOptions.items.length > 0" flex class="action-btn" kendo-toolbar
                     k-options="toolbarOptions"></div>
                <div class="ml-auto d-inline-flex">
                    <md-menu md-position-mode="target-right target"  ng-if="(user.profile.export_data && hasPermission(type, operations.read) ) || (hasPermission(type, operations.write) && user.profile.import_data )">
                        <md-button class="md-icon-button btn btn-secondary"
                                   aria-label="{{'Module.Export' | translate }} - {{'Module.Import' | translate }}"
                                   ng-click="$mdMenu.open()">
                            <i class="fas fa-database"></i>
                            <md-tooltip md-direction="bottom"> {{'Module.DataTransfer' | translate }}</md-tooltip>
                        </md-button>
                        <md-menu-content width="2" class="md-dense">
                            <md-menu-item ng-if="user.profile.export_data" ng-disabled="$parent.$parent.$parent.isEmpty"
                                          ng-show="hasPermission(type, operations.read)">
                                <md-button ng-click="showExportDataModal()">
                                    <i class="fas fa-upload"></i> <span>{{'Module.Export' | translate }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="user.profile.import_data" ng-show="hasPermission(type, operations.write)">
                                <md-button href="#/app/import/{{type}}">
                                    <i class="fas fa-download"></i> <span>{{'Module.Import' | translate }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="user.profile.export_data" ng-show="hasPermission(type, operations.read)">
                                <md-button ng-click="openExcelTemplate()">
                                    <i class="fas fa-upload"></i> <span>{{'Module.ExportExcel' | translate }}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <md-button ng-mouseover="filterModalOpen()" ng-if="activeView && views.length>0" class="show-on-m md-icon-button btn btn-secondary filter-button" aria-label="Filter">
                        <i class="fas fa-sliders-h"></i>
                        <span class="filter-badge" ng-if="activeView.filters.length>0">{{activeView.filters.length}}</span>
                        <md-tooltip md-direction="bottom"> {{'View.ViewSettings' | translate }}</md-tooltip>
                    </md-button>

                    <md-button ng-click="goUrl('#/app/record/'+module.name)" class="md-icon-button btn btn-primary"
                               aria-label="{{'Module.New' | translate:{title:module['label_' + language + '_singular']} }}"
                               ng-show="hasPermission(type, operations.write)">
                        <i class="fas fa-plus"></i>
                        <md-tooltip md-direction="bottom">{{'Common.AddNew' | translate }}</md-tooltip>
                    </md-button>
                </div>
            </div>
        </md-toolbar>

        <md-content flex>
            <md-subheader class="own-tab" ng-show="views.length>0">
                <md-tabs md-dynamic-height md-swipe-content md-no-select-click="true">
                    <md-tab ng-repeat='item in views track by $index' ng-click="setView(item)" md-active="activeView.id === item.id">
                        <md-tab-label aria-controls="{{item['label_' + language]}}">
                            <div class="tab-container">
                                <span>{{item['label_' + language]}}</span>
                            </div>
                        </md-tab-label>
                    </md-tab>

                </md-tabs>
            </md-subheader>
            <div ng-if="loading" id="inside-loader" ><div class="spin"><div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div></div></div>
            <div ng-show="!loading" class="container-fluid paddingua20 position-relative pr-view-settings">
                <help-page module-id="module.id"></help-page>
                <div class="help-page align-items-center" ng-if="show">
                    <div class="alert alert-secondary" role="alert" ng-bind-html="helpTemplatesModal.template"></div>
                    <md-button type="button"
                               ng-click="selectedClose = !selectedClose; closeDialog(currentPath, module.id, showModalCheck);"
                               class="md-icon-button help-page-close"><i class="fas fa-times"></i>
                        <md-tooltip md-diretion="bottom">{{'Common.Close' | translate}}</md-tooltip>
                    </md-button>
                    <div>
                        <input type="checkbox" class="k-checkbox" ng-model="showModalCheck" ng-click="showModal()"
                               id="showCheck">
                        <label class="k-checkbox-label" for="showCheck">{{'Setup.HelpGuide.DontShowAgain' |
                            translate}}</label>
                    </div>
                </div>

                <div class="col-12 text-center" ng-if="views.length<1">
                    <img style="width:100%; max-width: 500px;" src="images/dashboard.svg">
                    <h1 class="paddingua20"></h1>
                    <md-button ng-if="viewPermissions.write" class="btn btn-white" ng-click="openNewDashlet($event)"   title=" New Views"><i class="fas fa-plus"></i>
                        <span>New Views</span></md-button>
                </div>
                <div class="alert alert-warning shadow-sm" role="alert" ng-if="views.length<1 && !viewPermissions.write">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto"><span class="warn-icon"><i class="fas fa-info"></i></span></div>
                                <div class="col-12 col-sm text-center text-sm-left"><div class="paddingua10">
                                    {{'Common.Forbidden' | translate}}
                                </div></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="whitebox table-view" ng-if="activeView.view_type ==='grid' || activeView.report_type==='tabular'">
                    <!--<div class="grid-top">
                        <div class="search-box">

                                <div class="search-box-input">
                                    <input type="text" id="grid-search{{relatedModule.id}}" class="form-control" placeholder="Search..."
                                           aria-label="Search" aria-describedby="grid-search">
                                    <i class="fas fa-search"></i>
                                </div>
                                <i class="info-icon fas fa-info-circle"><md-tooltip md-direction="right">You can search in these fields:  First Name, Company Name</md-tooltip></i>

                        </div>
                        <div>
                            <md-button class="btn btn-secondary md-icon-button" ng-click="refreshGrid()"><i
                                    class="fas fa-sync-alt"></i>
                                <md-tooltip md-direction="bottom">Refresh</md-tooltip>
                            </md-button>
                        </div>
                    </div>-->

                    <kendo-grid class="grid-theme table-responsive" k-scope-field="grid"
                                id="kendo-grid" k-rebind="mainGridOptions"
                                k-options="mainGridOptions">
                    </kendo-grid>

                </div>
                <div ng-if="activeView.view_type==='report'&& activeView.report_type==='summary' || activeView.report_type==='single'">
                    <div ng-if="activeView.report_type==='summary'" >
                        <div class="whitebox p-2">
                            <div class="chart-wrapper">
                                <div ng-if="reportSummary.chart" class="fusion-chart">
                                    <fusioncharts id="chart-{{activeView.id}}"
                                                  width="100%"
                                                  height="300px"
                                                  type="{{reportSummary.chart.chart_type}}"
                                                  datasource="{{reportSummary}}"
                                                  chart="{{reportSummary.chart}}"
                                                  config="{{reportSummary.config}}">
                                    </fusioncharts>
                                </div>
                            </div>
                        </div>
                        <div class="whitebox table-view top20 bottom20" ng-if="reportSummary.chart && reportSummary.data.length >0">
                            <table class="table table-theme">
                                <thead>
                                <tr class="table-head ">
                                    <th class="table-th sortable "
                                        ng-click="shortChange('label',reportSummary.reverse==false ? true:false)"
                                        ng-class="reportSummary.field =='label' && reportSummary.reverse==true ? 'sort-asc':''  + reportSummary.field =='label' && reportSummary.reverse==false ? 'sort-desc':'' ">
                                        <div>{{   reportSummary.chart.xaxisname }}</div>
                                    </th>
                                    <th
                                            class="table-th sortable"
                                            ng-click="shortChange('value',reportSummary.reverse==false ? true:false)"
                                            ng-class="reportSummary.field =='value' && reportSummary.reverse==true ? 'sort-asc':''  + reportSummary.field =='value' && reportSummary.reverse==false ? 'sort-desc':'' ">
                                        <div>
                                            <span>{{ reportSummary.chart.yaxisname }}</span>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in reportSummary.data">
                                <tr ng-repeat="item in reportSummary.data">
                                    <td style="text-align: left;" ng-bind-html="item.label"></td>
                                    <td style="text-align: right;">
                                        {{activeView.aggregations[0].field===activeView.group_field ? item.value :
                                        item.valueFormatted }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="new-widgets" ng-if="activeView.view_type ==='report' && activeView.report_type==='single'">
                        <div class="widget ">
                            <div class="dashlet">
                                <div class="widget-container"
                                     style="height: 300px;"
                                     ng-style="{'background-color':activeView.color ? activeView.color: '#555' }"
                                     tabindex="0">
                                    <div>
                                        <i class="{{activeView.icon}}"></i>
                                        <div class="description">{{activeView.value}}
                                            <small>{{activeView['name_'+user.language]}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <md-button ng-mouseover="filterModalOpen()" ng-if="activeView && views.length>0" class="btn btn-primary filter-button filter-button2 hide-on-m" aria-label="Filter">
                    <i class="fas fa-sliders-h"></i>
                    <span>{{'View.ViewSettings' | translate }} <span ng-if="activeView.filters.length>0"> ({{activeView.filters.length}})</span></span>
                </md-button>
                <div  ng-if="activeView.view_type==='calendar'">
                    <div class="row">
                        <div kendo-scheduler k-options="calendarOptions" k-rebind="calendarOptions" id="viewCalendar">
                            <span k-event-template class='custom-event'>{{dataItem[primaryField]}}</span>
                            <div k-all-day-event-template class='custom-all-day-event'>{{dataItem[primaryField]}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
        <md-fab-speed-dial class="md-fab-bottom-right" ng-show="selectedRows.length > 0" md-direction="up">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-primary"><strong>{{selectedRows.length}}</strong>
                </md-button>
                <md-tooltip md-direction="left">{{selectedRows.length}} {{'Common.SelectedRow'| translate}}</md-tooltip>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button ng-if="user.profile.send_email" ng-show="hasPermission(type, operations.read)"
                           class="md-fab md-raised md-mini" aria-label="{{'Module.SendEMail' | translate }}"
                           ng-click="showEMailModal();"><i class="fas fa-envelope"></i>
                    <md-tooltip md-direction="left">{{'Module.SendEMail' | translate }}</md-tooltip>
                </md-button>
                <md-button ng-if="user.profile.send_sms" ng-show="hasPermission(type, operations.read)"
                           class="md-fab md-raised md-mini" aria-label="{{'Module.SendSMS' | translate }}"
                           ng-click="showSMSModal()"><i class="fas fa-sms"></i>
                    <md-tooltip md-direction="left">{{'Module.SendSMS' | translate }}</md-tooltip>
                </md-button>
                <md-button ng-if="hasPermission(type, operations.modify) || hasBulkUpdatePermission" ng-click="showUpdateModal($event)"
                           class="md-fab md-raised md-mini"
                           aria-label=" {{'Module.UpdateSelecteds' | translate }}"><i
                        class="fas fa-pen"></i>
                    <md-tooltip md-direction="left"> {{'Module.UpdateSelecteds' | translate }}</md-tooltip>
                </md-button>
                <md-button ng-if="hasPermission(type, operations.remove)" ng-click="deleteSelecteds($event);"
                           class="md-fab md-raised md-mini"
                           aria-label="{{'Module.DeleteSelecteds' | translate}}"><i class="fas fa-trash"></i>
                    <md-tooltip md-direction="left">{{'Module.DeleteSelecteds' | translate}}</md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>

</md-content>


<md-sidenav ng-show="sideinclude" class="md-sidenav-right md-whiteframe-2dp" md-component-id="sideModal"
            md-is-locked-open="isDocked &&  $mdMedia('gt-lg')">
    <ng-include src="url" layout="column" style="height: 100%; overflow-y: hidden;" ng-cloak></ng-include>
</md-sidenav>
<div style="visibility: hidden">
    <div class="md-dialog-container" id="mdLightbox">
        <md-dialog aria-label="{{ showImageData.title ? showImageData.title  : multiSelectAndTagDatas.title }}">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>{{ showImageData.title ? showImageData.title  : multiSelectAndTagDatas.title }}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="{{'Common.Close' | translate}}"
                               ng-click="closeLightBox()"><i class="fas fa-times"></i></md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div ng-if="showImageData.url" class="md-dialog-content">
                    <img class="width100" style="max-width: 500px;" ng-src="{{ showImageData.url }}"/>
                </div>
                <ul class="top20 bottom20" ng-if="multiSelectAndTagDatas && multiSelectAndTagDatas.array.length > 0">
                    <li ng-repeat="item in multiSelectAndTagDatas.array">{{item}}</li>
                </ul>
            </md-dialog-content>
            <md-dialog-actions layout="row" ng-if="showImageData.url">
                <span flex></span>
                <a ng-if="showImageData.type ==='location'" class="btn btn-secondary" href="{{showImageData.map_url}}" target="_blank">
                    <i ng-class="'fas fa-external-link-alt'"></i> {{('Common.ViewOnMap' | translate)}}
                </a>
                <a ng-if="showImageData.type === 'image'" class="btn btn-secondary" ng-click="downloadImg(showImageData.url)">
                    <i ng-class="'fas fa-download'"></i> {{('Common.Download'| translate)}}
                </a>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>


