<md-dialog flex="50" aria-label="{{'Module.Add' | translate:{title: manyToManyModule['label_' + language + '_singular']} }}">
    <form ng-cloak>
        <md-toolbar class="with-subheader">
            <div class="md-toolbar-tools">
                <h2>{{'Module.Add' | translate:{title: manyToManyModule['label_' + language + '_singular']} }}</h2>
                <span flex></span>
                <md-button href="#/app/record/{{currentRelateModule.related_module}}?ptype={{currentRelateModule.relation_field}}&pid={{ record.id }}&rtab={{ currentRelateModule.detail_view_type != 'flat' ?  currentRelateModule.id :''}}"
                           ng-if=" relatedModule.related_module != 'mails' && !relatedModule.readonly  && !record.freeze && !hiddenNewButton"
                           ng-show="hasPermission(currentRelateModule.related_module, operations.write)" class="btn btn-secondary" aria-label="{{'Common.New' | translate}}">
                     <i class="fas fa-plus"></i>  {{'Common.New' | translate}}
                  
                </md-button>
                <md-button class="md-icon-button" ng-click="closeLightBox()"><i class="fas fa-times"></i></md-button>
            </div>
         
        </md-toolbar>
        <md-dialog-content>         
            <div class="md-dialog-content">              
                <kendo-grid class="grid-theme table-responsive"
                            k-scope-field="grid[manyToManyModule.gridName]"
                            k-options="manyToManyGridOptions">
                </kendo-grid>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="btn btn-primary" ng-click="addRecords()" md-autofocus>
                <i class="fas fa-plus"></i> 
                {{'Common.Add' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>