.payment-wrapper {
  max-width: 980px;
  margin: 20px auto;

  .help {
    color: #f3f3f3;
    font-size: 14px;
  }
}

.payment {
  form {
    h4 {
      margin-top: 50px;
    }

    h4:first-child {
      margin-top: 0;
    }

    select {
      width: 148px !important;
    }

    input[name="cvv"] {
      width: 150px !important;
    }

    .form-control {
      width: 300px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .cards {
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      width: 51px;
      height: 32px;
      float: left;
      background: url(#{$images-url}/card-logos.png?v=2) 0 0;
      margin-right: 8px;
      text-indent: -9999px;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;

      &:last-child {
        margin-right: 0;
      }
    }

    .visa.off {
      background-position: 0 32px;
    }

    .amex.off {
      background-position: 204px 32px;
    }

    .amex {
      background-position: 204px 0;
    }

    .mastercard.off {
      background-position: 153px 32px;
    }

    .mastercard {
      background-position: 153px 0;
    }
    .maestro.off {
      background-position: 102px 32px;
    }
    .maestro {
      background-position: 102px 0;
    }

    .discover.off {
      background-position: 51px 32px;
    }

    .discover {
      background-position: 51px 0;
    }
  }
}