.workflow-form {
  .wizard-buttons {
    margin: 20px;
  }

  .step-info {
    padding: 10px;
    color: #777;
  }

  .sub-tabs {
    padding: 15px 0 0 15px;
    border-bottom: solid 1px #ddd;

    .nav-tabs {
      border-bottom: none;

      li.active > a,
      li.active > a:hover,
      li.active > a:focus {
        background-color: #fff;
      }

      .fa-check {
        color: #a3be8c;
      }
    }
  }

  .sub-tab-body {
    padding: 15px;
  }

  .control-label {
    text-align: right;
    line-height: 26px;
  }

  .required-field {
    color: #990000;
  }

  tags-input {
    max-width: 300px !important;
  }

  .operation-highlight {
    color: #5b90bf;
  }

  .fields-header {
    max-width: 500px;
    padding-bottom: 30px;
    clear: both;
    font-weight: 500;

    .title-left {
      width: 45%;
      margin-right: 5%;
      float: left;
    }

    .title-right {
      width: 45%;
      margin-left: 5%;
      float: right;
    }
  }

  .fields {
    max-width: 500px;
    margin-bottom: 10px;

    .container-left {
      width: 45%;
      height: 200px;
      padding-bottom: 25px;
      float: left;
      background-color: #fbfbfb;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    .container-right {
      width: 45%;
      height: 200px;
      padding-bottom: 25px;
      float: right;
      background-color: #fbfbfb;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    .container-middle {
      width: 10%;
      padding-top: 90px;
      float: left;
      text-align: center;

      i {
        color: #ccc;
      }
    }

    .dragable {
      padding: 6px;
      background-color: #fbfbfb;
      border: solid 1px #fbfbfb;
      cursor: move;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;

      i {
        display: none;
        float: right;
        color: #ccc;
      }

      &:hover {
        -webkit-box-shadow: inset -1px -1px 0 0 #ccc;
        -moz-box-shadow: inset -1px -1px 0 0 #ccc;
        box-shadow: inset -1px -1px 0 0 #ccc;
        background-color: #fff;

        i {
          display: inline-block;
        }
      }
    }

    .seperator {
      padding-left: 8px;
      line-height: 26px;
      background-color: #ececec;
      font-weight: 500;

      i {
        display: none;
      }
    }
  }

  .filter-table {
    th {
      padding-left: 10px;
      font-weight: 500;
    }

    td {
      padding: 5px;
    }

    .datetime-pick {
      float: left;
    }

    .form-control {
      width: 200px !important;
    }

    tags-input {
      max-width: 200px !important;
    }

    @media (max-width: 1220px) {
      .form-control {
        width: 140px !important;
      }

      tags-input {
        max-width: 140px !important;
      }
    }
  }

  .summary-header {
    font-weight: 500;
  }

  .summary-label {
    display: block;
    font-weight: 500;
  }

  .summary-content {
    margin: 5px 0 25px 0;
  }

  tags-input.ng-invalid .tags {
    border-color: #cbd5dd;
  }

  .has-error tags-input .tags {
    border-color: #a94442;
  }

  .datepicker, .timepicker {
    thead > tr > th {
      background-color: #fff;
      padding: 0 !important;
    }

    td {
      padding: 0 !important;
    }
  }

  .angucomplete-holder .fa-search {
    right: inherit;
    left: 280px;
  }

  .filter-table .angucomplete-holder .fa-search {
    right: inherit !important;
    left: 180px !important;
  }

  @media (max-width: 1220px) {
    .filter-table .angucomplete-holder .fa-search {
      left: 120px !important;
    }
  }
}