<div class="subpanel" ng-controller="QuoteProductsController">
    <h5 class="subpanel-heading">{{productModule['label_' + language + '_plural']}}</h5>
    <div class="subpanel-body" style="padding-right: 5px;">
        <div ng-if="$parent.$parent.quoteProductsLoading" class="page-loading"><i
                class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <div class="empty-message"
             ng-if="!$parent.$parent.quoteProducts.length && !$parent.$parent.quoteProductsLoading && readonly">
            {{'Common.EmptyMessage' | translate}}
        </div>

        <div class="quote-products"
             ng-if="(readonly ? $parent.$parent.quoteProducts.length : true) && !$parent.$parent.quoteProductsLoading">
            <table class="product-list" ng-class="{'product-list-readonly':readonly}"
                   ng-show="$parent.$parent.quoteProducts.length" ng-if="readonly || !isMobile">
                <thead>
                <tr>
                    <th style="width: 20px"></th>
                    <th class="product-name">{{productModule['label_' + language + '_singular']}}</th>
                    <th class="product-quantity">{{'Product.Quantity' | translate}}</th>
                    <th class="product-unit">{{'Product.Unit' | translate}}</th>
                    <th class="product-currency">{{'Product.Currency' | translate}}</th>
                    <th class="product-price">{{'Product.ListPrice' | translate}}</th>
                    <th class="product-vat">{{'Product.Vat' | translate}}</th>
                    <th class="product-discount">{{'Product.Discount' | translate}}</th>
                    <th class="product-total">{{'Product.Amount' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="product "
                    ng-repeat="quoteProduct in $parent.$parent.quoteProducts | filter:{deleted:'!true'} | orderBy:'order'">
                    <td class="form-group up-down">
                        <span ng-show="!readonly" ng-if="!$first" class="" ng-click="up($index,quoteProduct.order)">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                          </span>
                        <span ng-show="!readonly" ng-if="!$last" class="" ng-click="down($index,quoteProduct.order)"
                              ng-if="$parent.$parent.quoteProducts.length >1 && !$last">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </span>
                    </td>
                    <td colspan="8" ng-if="quoteProduct.separator != undefined" style="padding-right: 20px"
                        class="quoteProduct separator">
                        <input ng-if="!readonly"
                               ng-model="quoteProduct.separator"
                               class="form-control col-sm-12" name="separator"/>
                        <span ng-if="readonly">{{ quoteProduct.separator }}</span>
                        <span class="delete-button"
                              ng-show="$parent.$parent.quoteProducts.length > 1 && !readonly"
                              ng-click="delete(quoteProduct)">
                               <i class="action-icon flaticon-bin9" title="{{'Common.Delete' | translate}}"></i>
                        </span>
                    </td>
                    <td ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null" class="form-group product-name">
                        <span class="label-readonly" ng-if="readonly">{{quoteProduct.product.name}}</span>
                        <span class="product-info" ng-if="!readonly && quoteProduct.product"
                              ng-click="productInfo(quoteProduct)">
                            <i class="fa fa-info-circle" aria-hidden="true" id="quoteProduct.order"

                               data-title="{{quoteProduct.product.name}}"
                               data-template-url="views/app/crm/product/productInfo.html"
                               data-animation="am-flip-x"
                               data-auto-close="1"
                               data-placement="bottom"
                               bs-popover></i>
                        </span>
                        <angucomplete-alt input-name="{{quoteProduct.id}}"
                                          id="{{quoteProduct.id}}"
                                          input-class="form-control ng-animate-disabled quoteProduct-name"
                                          match-class="highlight-angucomplete"
                                          field-tabindex="{{$index + 1 }}000"
                                          pause="200"
                                          selected-object="quoteProduct.product"
                                          initial-value="quoteProduct.product"
                                          remote-api-handler="lookup"
                                          search-fields="primary_value"
                                          title-field="primary_value"
                                          focus-in="setCurrentLookupProduct(quoteProduct,productField)"
                                          minlength="0"
                                          template-url="views/app/common/angucomplete.html"
                                          text-searching="{{'Common.Searching' | translate}}"
                                          text-no-results="{{'Common.NoResults' | translate}}"
                                          use-original-object="true"
                                          value-changed="selectProduct(quoteProduct);"
                                          placeholder="{{productModule['label_' + language + '_singular']}}"
                                          create-new="openFormModal"
                                          hide-create-new="false"
                                          ng-if="!readonly"/>
                    </td>
                    <td ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null" class="form-group product-quantity">
                        <span class="label-readonly" ng-if="readonly">{{quoteProduct.quantity != undefined && quoteProduct.quantity != null ? (quoteProduct.quantity | number:(fields['quantity'].decimal_places || 2)) : ''}}</span>
                        <input type="text"
                               class="form-control"
                               ng-class="{'text-right':quoteProduct.quantity != undefined && quoteProduct.quantity != null}"
                               ng-model="quoteProduct.quantity"
                               ng-readonly="!quoteProduct.product"
                               ng-change="calculate(quoteProduct)"
                               placeholder="{{'Product.Quantity' | translate}}"
                               tabindex="{{$index + 1 }}001"
                               places="fields['quantity'].decimal_places || 2"
                               rounding="fields['quantity'].rounding || 2"
                               number-decimal
                               ng-if="!readonly"/>
                    </td>
                    <td ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null" class="form-group product-unit">
                        <select name="selectedUnit"
                                ng-if="!readonly"
                                class="ng-animate-disabled col-sm-6 form-control"
                                ng-model="quoteProduct.product.usage_unit"
                                ng-change="selectProduct(quoteProduct)"
                                ng-options="unit as unit['label_' + language]  for unit in usageUnitList | filter:{inactive:'!true', hidden:'!true'} track by unit.id">
                        </select>
                        <span ng-if="readonly" ng-class="{'readonly':!readonly, 'form-control':!readonly, 'label-readonly':readonly}">{{ quoteProduct.usage_unit }}</span>
                    </td>
                    <td ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null" class="form-group product-currency">
                        <select name="selectedCurrency" ng-if="!readonly"
                                class="ng-animate-disabled col-sm-6 form-control"
                                ng-change="selectProduct(quoteProduct)"
                                ng-model="quoteProduct.product.currency"
                                ng-options="currency as currency['label_' + language]  for currency in currencyList | filter:{inactive:'!true', hidden:'!true'} track by currency.id">
                        </select>
                        <span ng-if="readonly" ng-class="{'readonly':!readonly, 'form-control':!readonly, 'label-readonly':readonly}">{{ quoteProduct.currency ? quoteProduct.currency['label_' + language] : defaultCurrency['label_' + language]  }}</span>
                    </td>
                    <td ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null" class="form-group product-price">
                        <span class="label-readonly" ng-if="readonly">{{quoteProduct.unit_price != undefined && quoteProduct.unit_price != null ? (quoteProduct.unit_price | currency:(quoteProduct.product.currency.value || currencySymbol):(fields['unit_price'].decimal_places || 2) ) : ''}}</span>
                        <input
                                type="text"
                                class="form-control"
                                ng-class="{'text-right':quoteProduct.unit_price != undefined && quoteProduct.unit_price != null}"
                                ng-model="quoteProduct.unit_price"
                                ng-readonly="!quoteProduct.product"
                                ng-change="calculate(quoteProduct)"
                                placeholder="{{'Product.UnitPrice' | translate}}"
                                tabindex="{{$index + 1 }}002"
                                places="fields['unit_price'].decimal_places || 2"
                                rounding="fields['unit_price'].rounding || 2"
                                currency-symbol="quoteProduct.product.currency.value || currencySymbol"
                                number-currency
                                ng-if="!readonly"/>
                    </td>
                    <td ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null" class="form-group product-quantity">
                        <span class="label-readonly" ng-if="readonly">{{quoteProduct.vat_percent != undefined && quoteProduct.vat_percent != null ? (quoteProduct.vat_percent | number:(fields['vat_percent'].decimal_places || 2)) +' %' : ''}}</span>
                        <input type="text"
                               class="form-control"
                               ng-class="{'text-right':quoteProduct.vat != undefined && quoteProduct.vat != null}"
                               ng-model="quoteProduct.product.vat_percent"
                               ng-readonly="!quoteProduct.product"
                               ng-change="calculate(quoteProduct);setVat(quoteProduct);"
                               placeholder="{{'Product.Vat' | translate}}"
                               tabindex="{{$index + 1 }}001"
                               places="fields['vat_percent'].decimal_places || 2"
                               rounding="fields['vat_percent'].rounding || 2"
                               currency-symbol="%"
                               number-decimal
                               ng-if="!readonly"/>
                    </td>
                    <td ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null" class="form-group product-discount">
                        <span class="label-readonly" ng-if="quoteProduct.discount_type === 'percent' && readonly">{{quoteProduct.discount_percent != undefined && quoteProduct.discount_percent != null ? (quoteProduct.discount_percent | number:(fields['discount_percent'].decimal_places || 2)) + ' %' : ''}}</span>
                        <input
                                type="text"
                                class="form-control ng-animate-disabled"
                                ng-class="{'text-right':quoteProduct.discount_percent != undefined && quoteProduct.discount_percent != null}"
                                style="width: 74%; margin-right: 1%; float: left;"
                                ng-model="quoteProduct.discount_percent"
                                ng-readonly="!quoteProduct.product"
                                ng-change="calculate(quoteProduct)"
                                ng-if="quoteProduct.discount_type === 'percent' && !readonly"
                                placeholder="{{'Product.Discount' | translate}}"
                                tabindex="{{$index + 1 }}003"
                                places="fields['discount_percent'].decimal_places || 2"
                                rounding="fields['discount_percent'].rounding || 2"
                                number-decimal/>
                        <span class="label-readonly" ng-if="quoteProduct.discount_type === 'amount' && readonly">{{quoteProduct.discount_amount != undefined && quoteProduct.discount_amount != null ? (quoteProduct.discount_amount | currency:(quoteProduct.product.currency.value || currencySymbol):(fields['discount_amount'].decimal_places || 2) ) : ''}}</span>
                        <input
                                type="text"
                                class="form-control ng-animate-disabled"
                                ng-class="{'text-right':quoteProduct.discount_amount != undefined && quoteProduct.discount_amount != null}"
                                style="width: 74%; margin-right: 1%; float: left;"
                                ng-model="quoteProduct.discount_amount"
                                ng-readonly="!quoteProduct.product"
                                ng-change="calculate(quoteProduct)"
                                ng-if="quoteProduct.discount_type === 'amount' && !readonly"
                                placeholder="{{'Product.Discount' | translate}}"
                                tabindex="{{$index + 1 }}004"
                                places="fields['discount_amount'].decimal_places || 2"
                                rounding="fields['discount_amount'].rounding || 2"
                                currency-symbol="quoteProduct.product.currency.value || currencySymbol"
                                number-currency/>
                        <select
                                class="form-control"
                                style="width: 25%"
                                ng-model="quoteProduct.discount_type"
                                ng-change="quoteProduct.discount_percent =null; quoteProduct.discount_amount =null;calculate(quoteProduct)"
                                ng-if="!readonly">
                            <option value="percent" selected>%</option>
                            <option value="amount">{{quoteProduct.product.currency.value || currencySymbol}}
                            </option>
                        </select>
                    </td>
                    <td ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null" class="form-group product-total">
                        <span ng-class="{'text-right':(quoteProduct.amount != undefined && quoteProduct.amount != null), 'readonly':(quoteProduct.product ? false : (!quoteProduct['product.products.id'])), 'form-control':!readonly, 'label-readonly':readonly}">{{quoteProduct.amount != undefined && quoteProduct.amount != null ? (quoteProduct.amount | currency:(quoteProduct.product.currency.value || currencySymbol):(fields['amount'].decimal_places || 2) ) : ('Product.Amount' | translate)}}</span>
                        <span class="delete-button" ng-show="$parent.$parent.quoteProducts.length > 0 && !readonly" ng-click="delete(quoteProduct)">
                                    <i class="action-icon flaticon-bin9" title="{{'Common.Delete' | translate}}"></i>
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-if="!readonly && isMobile" class="mobile-products" ng-repeat="quoteProduct in $parent.$parent.quoteProducts | filter:{deleted:'!true'} | orderBy:'order'">
                <div class="mobile-row product-name" ng-if="quoteProduct.separator != undefined">
                    <input ng-if="!readonly"
                           ng-model="quoteProduct.separator"
                           class="form-control col-sm-12" name="separator"/>
                    <span ng-if="readonly">{{ quoteProduct.separator }}</span>
                </div>
                <div class="mobile-row product-name"
                     ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null">
                    <span class="label-readonly" ng-if="readonly">{{quoteProduct.product.name}}</span>
                    <span class="product-name">{{'Product.ProductName' | translate}}</span>
                    <angucomplete-alt input-name="{{quoteProduct.id}}"
                                      id="{{quoteProduct.id}}"
                                      input-class="form-control ng-animate-disabled quoteProduct-name"
                                      match-class="highlight-angucomplete"
                                      field-tabindex="{{$index + 1 }}000"
                                      pause="200"
                                      selected-object="quoteProduct.product"
                                      initial-value="quoteProduct.product"
                                      remote-api-handler="lookup"
                                      search-fields="primary_value"
                                      title-field="primary_value"
                                      focus-in="setCurrentLookupProduct(quoteProduct)"
                                      minlength="2"
                                      template-url="views/app/common/angucomplete.html"
                                      text-searching="{{'Common.Searching' | translate}}"
                                      text-no-results="{{'Common.NoResults' | translate}}"
                                      use-original-object="true"
                                      value-changed="selectProduct(quoteProduct);"
                                      placeholder="{{'Product.ProductName' | translate}}"
                                      hide-create-new="true"
                                      ng-if="!readonly"/>
                </div>
                <div class="mobile-row product-quantity"
                     ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null">
                    <span class="label-readonly" ng-if="readonly">{{quoteProduct.quantity != undefined && quoteProduct.quantity != null ? (quoteProduct.quantity | number:2) : ''}}</span>
                    <span class="product-quantity">{{'Product.Quantity' | translate}}</span>
                    <input type="text"
                           class="form-control"
                           ng-class="{'text-right':quoteProduct.quantity != undefined && quoteProduct.quantity != null}"
                           ng-model="quoteProduct.quantity"
                           ng-readonly="!quoteProduct.product"
                           ng-change="calculate(quoteProduct)"
                           placeholder="{{'Product.Quantity' | translate}}"
                           tabindex="{{$index + 1 }}001"
                           places="fields['quantity'].decimal_places || 2"
                           rounding="fields['quantity'].quantity || 2"
                           number-decimal
                           ng-if="!readonly"/>
                </div>
                <div class="mobile-row product-unit"
                     ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null">
                    <span class="product-unit">{{'Product.Unit' | translate}}</span>
                    <span ng-class="{'readonly':!readonly, 'form-control':!readonly, 'label-readonly':readonly}">{{quoteProduct.usage_unit}}</span>
                </div>
                <div class="mobile-row product-price"
                     ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null">
                    <span class="label-readonly" ng-if="readonly">{{quoteProduct.unit_price != undefined && quoteProduct.unit_price != null ? (quoteProduct.unit_price | currency:(quoteProduct.product.currency.value || currencySymbol)) : ''}}</span>
                    <span class="product-price">{{'Product.ListPrice' | translate}}</span>
                    <input
                            type="text"
                            class="form-control"
                            ng-class="{'text-right':quoteProduct.unit_price != undefined && quoteProduct.unit_price != null}"
                            ng-model="quoteProduct.unit_price"
                            ng-readonly="!quoteProduct.product"
                            ng-change="calculate(quoteProduct)"
                            placeholder="{{'Product.UnitPrice' | translate}}"
                            tabindex="{{$index + 1 }}002"
                            places="fields['unit_price'].decimal_places || 2"
                            rounding="fields['unit_price'].rounding || 2"
                            currency-symbol="quoteProduct.product.currency.value || currencySymbol"
                            number-currency
                            ng-if="!readonly"/>
                </div>
                <div class="mobile-row product-discount"
                     ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null">
                    <span class="product-discount">{{'Product.Discount' | translate}}</span>
                    <span class="label-readonly" ng-if="quoteProduct.discount_type === 'percent' && readonly">{{quoteProduct.discount_percent != undefined && quoteProduct.discount_percent != null ? (quoteProduct.discount_percent | number:2) + ' %' : ''}}</span>
                    <div>
                        <input
                                type="text"
                                class="form-control ng-animate-disabled"
                                ng-class="{'text-right':quoteProduct.discount_percent != undefined && quoteProduct.discount_percent != null}"
                                style="width: 74%; margin-right: 1%; float: left;"
                                ng-model="quoteProduct.discount_percent"
                                ng-readonly="!quoteProduct.product"
                                ng-change="calculate(quoteProduct)"
                                ng-if="quoteProduct.discount_type === 'percent' && !readonly"
                                placeholder="{{'Product.Discount' | translate}}"
                                tabindex="{{$index + 1 }}003"
                                places="2"
                                rounding="2"
                                number-decimal/>
                        <span class="label-readonly" ng-if="quoteProduct.discount_type === 'amount' && readonly">{{quoteProduct.discount_amount != undefined && quoteProduct.discount_amount != null ? (quoteProduct.discount_amount | currency:(quoteProduct.product.currency.value || currencySymbol)) : ''}}</span>
                        <input
                                type="text"
                                class="form-control ng-animate-disabled"
                                ng-class="{'text-right':quoteProduct.discount_amount != undefined && quoteProduct.discount_amount != null}"
                                style="width: 74%; margin-right: 1%; float: left;"
                                ng-model="quoteProduct.discount_amount"
                                ng-readonly="!quoteProduct.product"
                                ng-change="calculate(quoteProduct)"
                                ng-if="quoteProduct.discount_type === 'amount' && !readonly"
                                placeholder="{{'Product.Discount' | translate}}"
                                tabindex="{{$index + 1 }}004"
                                places="2"
                                rounding="2"
                                currency-symbol="quoteProduct.product.currency.value || currencySymbol"
                                number-currency/>
                        <select
                                class="form-control"
                                style="width: 25%"
                                ng-model="quoteProduct.discount_type"
                                ng-change="calculate(quoteProduct)"
                                ng-if="!readonly">
                            <option value="percent" selected>%</option>
                            <option value="amount">{{quoteProduct.product.currency.value || currencySymbol}}</option>
                        </select>
                    </div>
                </div>
                <div class="product-total" ng-if="quoteProduct.separator===undefined || quoteProduct.separator===null">
                    <span class="product-total">{{'Product.Amount' | translate}}</span>
                    <span class="{{$parent.$parent.quoteProducts.length > 1 && !readonly ? 'product-amount mobile' : ''}}"
                          ng-class="{'text-right':(quoteProduct.amount != undefined && quoteProduct.amount != null), 'readonly':(quoteProduct.product ? false : (!quoteProduct['product.products.id'])), 'form-control':!readonly, 'label-readonly':readonly}">{{quoteProduct.amount != undefined && quoteProduct.amount != null ? (quoteProduct.amount | currency:(quoteProduct.product.currency.value || currencySymbol)) : ('Product.Amount' | translate)}}</span>
                    <span class="delete-button {{!readonly &&isMobile ? 'mobile' : ''}}" ng-show="$parent.$parent.quoteProducts.length > 1 && !readonly"
                          ng-click="delete(quoteProduct)">
                        <i class="action-icon flaticon-bin9" title="{{'Common.Delete' | translate}}"></i>
                    </span>
                </div>
                <div class="product-total" ng-if="quoteProduct.separator != undefined">
                    <span class="delete-button {{!readonly &&isMobile ? 'mobile' : ''}}"
                          ng-show="$parent.$parent.quoteProducts.length > 1 && !readonly"
                          ng-click="delete(quoteProduct)">
                        <i class="action-icon flaticon-bin9" title="{{'Common.Delete' | translate}}"></i>
                    </span>
                </div>
            </div>
            <div class="totals clearfix" ng-class="{'totals-readonly':readonly}" ng-show="$parent.$parent.quoteProducts.length">
                <div class="add-product {{!readonly && isMobile ? 'mobile' : ''}}">
                    <a href class="add-button" ng-mouseup="addQuoteProduct()" ng-if="!readonly">{{'Product.AddLine' |
                        translate}}</a> <span ng-if="!readonly &&   fields.separator">|</span>
                    <a href class="add-button" ng-mouseup="addQuoteProduct(true)"
                       ng-if="!readonly &&  fields.separator">{{'Product.AddSeparator' | translate}}</a>
                    <span>&nbsp;</span>

                </div>
                <div class="total-labels {{!readonly &&isMobile ? 'mobile' : ''}}">
                    <span>{{'Product.Total' | translate}}:</span>
                    <span>{{'Product.Discount' | translate}}:</span>
                    <span ng-show="$parent.$parent.record.discounted_total">{{'Product.DiscountedTotal' | translate}}:</span>
                    <span ng-repeat="vat in $parent.$parent.vatList | orderBy:'percent'">
                        {{'Product.VatPercent' | translate:{percent:vat.percent + '%'} }}:
                    </span>
                    <!--<span ng-show="$parent.$parent.vatList.length > 1">{{'Product.VatTotal' | translate}}:</span>-->
                    <span>{{'Product.GrandTotal' | translate}}:</span>
                </div>
                <div class="total-amounts {{!readonly &&isMobile ? 'mobile' : ''}}">
                    <span class="ng-animate-disabled" ng-class="{'form-control':!readonly, 'label-readonly':readonly}">{{$parent.$parent.record.total | currency:currencySymbol:(quoteFields['total'].decimal_places || 2)}}</span>
                    <div class="clearfix">
                        <span class="label-readonly" ng-if="$parent.$parent.record.discount_type === 'percent' && readonly">{{$parent.$parent.record.discount_percent ? ($parent.$parent.record.discount_percent | number:(quoteFields['discount_percent'].decimal_places || 2)) + ' %' : '&nbsp;'}}</span>
                        <input
                                type="text"
                                class="form-control ng-animate-disabled"
                                ng-class="{'text-right':$parent.$parent.record.discount_percent != undefined && $parent.$parent.record.discount_percent != null}"
                                style="width: 70%; margin-right: 1%; float: left;"
                                ng-model="$parent.$parent.record.discount_percent"
                                ng-change="calculateAll()"
                                ng-if="$parent.$parent.record.discount_type === 'percent' && !readonly"
                                tabindex="9000"
                                places="quoteFields['discount_percent'].decimal_places || 2"
                                rounding="quoteFields['discount_percent'].rounding || 2"
                                number-decimal/>
                        <span class="label-readonly" ng-if="$parent.$parent.record.discount_type === 'amount' && readonly">{{$parent.$parent.record.discount_amount ? ($parent.$parent.record.discount_amount | currency:currencySymbol:(quoteFields['discount_amount'].decimal_places || 2)) : '&nbsp;'}}</span>
                        <input
                                type="text"
                                class="form-control ng-animate-disabled"
                                ng-class="{'text-right':$parent.$parent.record.discount_amount != undefined && $parent.$parent.record.discount_amount != null}"
                                style="width: 70%; margin-right: 1%; float: left;"
                                ng-model="$parent.$parent.record.discount_amount"
                                ng-change="calculateAll()"
                                ng-if="$parent.$parent.record.discount_type === 'amount' && !readonly"
                                tabindex="9000"
                                places="quoteFields['discount_amount'].decimal_places || 2"
                                rounding="quoteFields['discount_amount'].rounding || 2"
                                currency-symbol="currencySymbol"
                                number-currency/>
                        <select
                                class="form-control ng-animate-disabled"
                                style="width: 29%"
                                ng-model="$parent.$parent.record.discount_type"
                                ng-change="calculateAll()"
                                ng-if="!readonly">
                            <option value="percent" selected>%</option>
                            <option value="amount">{{currencySymbol}}</option>
                        </select>
                    </div>
                    <span class="ng-animate-disabled" ng-class="{'form-control':!readonly, 'label-readonly':readonly}" ng-show="$parent.$parent.record.discounted_total">{{$parent.$parent.record.discounted_total ? ($parent.$parent.record.discounted_total | currency:currencySymbol:(quoteFields['discounted_total'].decimal_places || 2) ) : '&nbsp;'}}</span>
                    <span class="ng-animate-disabled" ng-class="{'form-control':!readonly, 'label-readonly':readonly}"
                          ng-repeat="vat in $parent.$parent.vatList | orderBy:'percent'">
                        {{vat.total | currency:currencySymbol:(quoteFields['vat_total'].decimal_places || 2)}}
                    </span>
                    <!--<span class="ng-animate-disabled" ng-class="{'form-control':!readonly, 'label-readonly':readonly}" ng-show="$parent.$parent.vatList.length > 1">{{$parent.$parent.record.vat_total | currency:currencySymbol}}</span>-->
                    <span class="ng-animate-disabled" ng-class="{'form-control':!readonly, 'label-readonly':readonly}">{{$parent.$parent.record.grand_total | currency:currencySymbol:(quoteFields['grand_total'].decimal_places || 2) }}</span>

                </div>
            </div>
            <div class="add-product" ng-show="!$parent.$parent.quoteProducts.length && !readonly">
                <a href class="add-button" ng-mouseup="addQuoteProduct()">{{'Product.AddLine' | translate}}</a>
                <span ng-show="!$parent.$parent.quoteProducts.length && !readonly">&nbsp;| </span>

                <a href class="add-button" ng-show="!$parent.$parent.quoteProducts.length && !readonly"
                   ng-mouseup="addQuoteProduct(true)" ng-if="!readonly">{{'Product.AddSeparator'
                    | translate}}</a>
            </div>
        </div>
    </div>
</div>

