<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="RedisConnection" connectionString="ofisim-dev.redis.cache.windows.net:6380,password=UD/BBrEYs+PKKATy87kGASIwnHKz/lFc0WdMvlO18o4=,ssl=True,abortConnect=False"/>
    <add name="PostgreSqlConnection" connectionString="server=pg-dev.ofisim.com;port=5433;username=postgres;password=0f!s!mCRMDev;database=dev;command timeout=0;keepalive=30;" providerName="Npgsql"/>
    <add name="HangfireConnection" connectionString="server=pg-dev.ofisim.com;port=5433;username=postgres;password=0f!s!mCRMDev;database=platform;command timeout=0;keepalive=30;" providerName="Npgsql"/>
    <add name="WarehouseConnection" connectionString="Server=tcp:ofisim-dwh-dev.database.windows.net,1433;Database=master;User ID=ofisim;Password=0f!s!mDev;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="ElmahPostgreSqlConnection" connectionString="server=pg-dev.ofisim.com;port=5433;username=postgres;password=0f!s!mCRMDev;database=ofisim;command timeout=0;keepalive=30;"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Microsoft.WindowsAzure.Plugins.Storage.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ofisimcomdev;AccountKey=uFQDgZlv6UVtP9Lbq3zOjiXC5pm8riBL3BVum1nHojQPL8AI+iYCj9x2HBypqXJ0yXhy0rAqNLjIZxydQblRwA==;"/>
    <add key="Microsoft.Azure.Search.Storage" value="ofisimdev"/>
    <add key="Microsoft.Azure.Search.AdminKey" value="044D958A74716C3622C6977E47AA3FEE"/>
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://ofisim-dev.servicebus.windows.net/;SharedAccessKeyName=RootSendListen;SharedAccessKey=2HYNQU5N+IWRsDploGMVCeBl58bSc+SGdCWHuz4sbcI="/>
    <add key="OfisimCRM.WebClient.PayU.SignatureKey" value="TEST"/>
    <add key="OfisimCRM.Entity.Database.SchemaUpdateAuthentication" value=")(GN)#)392=230kf03kK@!_(j3r-"/>
    <add key="TestMode" value="true"/>
    <add key="AllowInsecureHttp" value="true"/>
    <add key="BlobUrl" value="http://file-dev.ofisim.com"/>
    <add key="PowerbiAccessKey" value="n+3uhoGPMk7fCEB7J+ThW1vVE+1XJDQsHzkUbn0KJZ+tcqVmobO0XmIhKvis4tkOlwhfWALsI6o4dPGzYN+nIA=="/>
    <add key="PowerbiWorkspaceCollection" value="OfisimDev"/>
    <add key="OfisimTenantEmail" value="serdar.turan@ofisim.com"/>
    <add key="OfisimIntegrationUserId" value="2"/>
    <add key="OfisimAzureFunctionFTPHost" value="waws-prod-am2-071.ftp.azurewebsites.windows.net"/>
    <add key="OfisimAzureFunctionFTPUser" value="ofisimsync\ofisimfunctions"/>
    <add key="OfisimAzureFunctionFTPPass" value="11325766ofisim"/>
    <add key="WarehouseServer" value="ofisim-dwh-dev.database.windows.net"/>
    <add key="WarehouseMasterUser" value="ofisim"/>
    <add key="WarehouseMasterPassword" value="0f!s!mDev"/>
    <add key="DemoAccountRemovalCheckInterval" value="5"/>
    <add key="HangfireQueues" value="messaging2,activity2,email2,warehouse2,common2"/>
    <add key="HangfireMessagingQueue" value="messaging2"/>
    <add key="HangfireActivityQueue" value="activity2"/>
    <add key="HangfireEmailQueue" value="email2"/>
    <add key="HangfireWarehouseQueue" value="warehouse2"/>
    <add key="HangfireCommonQueue" value="common2"/>
    <add key="EmailSMTPEnableSsl" value="true"/>
    <add key="EmailSMTPHost" value="smtp.elasticemail.com"/>
    <add key="EmailSMTPPort" value="2525"/>
    <add key="EmailSMTPUser" value="user"/>
    <add key="EmailSMTPPassword" value="password"/>
    <add key="EmailSMTPHostTest" value="debugmail.io"/>
    <add key="EmailSMTPPortTest" value="9025"/>
    <add key="EmailSMTPUserTest" value="admin@primeapps.io"/>
    <add key="EmailSMTPPasswordTest" value="374292d0-da78-11e7-a84d-afd26e8d1401"/>
    <add key="PrimeAppsTenantId" value="1719"/>
    <add key="PrimeAppsPreviewPassword" value="123456"/>
    <add key="as:AudienceId" value="00000000000000000000000000000000"/>
    <add key="as:AudienceSecret" value="hODA6vqpWjTCk/J4rFLkXOU3urXnUqAOaVmhOuEDtlo="/>
    <add key="ida:ClientID" value="7697cae4-0291-4449-8046-7b1cae642982"/>
    <add key="ida:Password" value="J2YHu8tqkM8YJh8zgSj8XP0eJpZlFKgshTehIe5ITvU="/>
    <add key="UseCdn" value="false"/>
    <add key="CdnUrl" value="https://ofisimtest.azureedge.net"/>
    <add key="EnableBundle" value="false"/>
  </appSettings>
</configuration>