<div class="row">
    <div class="col-sm-9" style="border: none ;">
        <div class="setup-title">
            <h2>Advanced Workflows</h2>
            <div>
                <ul class="list-unstyled list-inline">
                    <li>

                        <label class="checkbox-inline newinput" style="margin-top: 5px;">
                            <input name="gridValue" type="checkbox" ng-change="gridChange(gridValue)" ng-model="gridValue"><small style="font-size:100%;">Grid</small>
                            <span></span>
                        </label>

                    </li>
                    <li>
                        <label class="checkbox-inline newinput" style="margin-top: 5px;">
                            <input name="snapValue" type="checkbox" ng-change="snapeGridChange(snapValue)" ng-model="snapValue"><small style="font-size:100%;">Snape Grid</small>
                            <span></span>
                        </label><br>
                    </li>

                    <li>
                        <button ui-sref="studio.app.advancedWorkflows" class="btn  btn-radius btn-gray" ng-disabled="saving">
                            <i class="fas fa-angle-left"></i>
                            {{'Common.Cancel' | translate}}
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-radius btn-blue" ng-click="" ng-disabled="saving">
                            <i class="fas fa-cog"></i>{{'Common.Settings' | translate}}
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-radius btn-blue" ng-click="save();" ladda="saving">
                            <i class="fas fa-save"></i>{{'Common.Save' | translate}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="setup-title">
            <h2 class="">All Fields</h2>
        </div>
    </div>
</div>


<div class="row" id="WorkflowEditorController">
    <div class="col-sm-9">
        <div style="display: none;">
            <div id="currentFile">(Unsaved File)</div>
            <!--START menu bar -->
            <ul id="menuui">
                <!--Add Bpm Top Menu-->
            </ul>
            <!--END menu bar -->
        </div>
        <div class="tab-content"><div id="myDiagramDiv"></div></div>
    </div>
    <div class="col-sm-3">
        <div class="tab-content">
            <div id="accordion" class="scroll-style-4" >
                <h4 style="display:none;" ></h4>
                <div class="scroll-style-4">
                    <div id="myPaletteLevel1" class="myPaletteDiv scroll-style-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="display:none;">
        <div id="myOverviewDiv"></div>
    </div>
</div>
<div id="openDocument" style="display:none;" class="draggable">
    <div id="openDraggableHandle" class="handle">Open File</div>
    <div id="openText" class="elementText">Choose file to open...</div>
    <select id="mySavedFiles" class="mySavedFiles"></select>
    <br />
    <button id="openBtn" class="elementBtn" type="button" onclick="loadFile()" style="margin-left: 70px">Open</button>
    <button id="cancelBtn" class="elementBtn" type="button" onclick="closeElement('openDocument')">Cancel</button>
</div>


