<div class="modal setup-modal modal-600" tabindex="-1" role="dialog" id="WorkflowEditorController">
    <div class="modal-header">
        <div class="flex-between">
            <h4 class="modal-title">Settings</h4>
            <div>
                <ul class="list-unstyled list-inline">
                    <li><button type="button" class="btn add-button btn-radius btn-gray" tabindex="5" ng-disabled="saving" ng-click="settingCancel();"><i class="fas fa-times"></i>{{'Common.Cancel' | translate}}</button></li>
                    <li><button type="submit" class="btn add-button btn-radius btn-blue" tabindex="4" ng-click="saveSetting(settingForm);" ladda="saving"><i class="fas fa-save"></i>{{'Common.Save' | translate}}</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-dialog scroll-style-4">
        <div ng-if="modalLoading" class="page-loading2"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <div class="modal-content view-form" style="height:unset !important;">
            <form name="settingForm" ng-submit="saveSetting()" class="form-horizontal form-custom" autocomplete="off" novalidate>
                <div class="panel">
                    <div class="form-group" ng-class="{'has-error': settingForm.$submitted && settingForm.workflowName.$invalid}">
                        <label class="col-sm-12">{{'Setup.BpmWorkflow.Name' | translate}} <span class="required-label">({{'Common.Required' | translate }})</span></label>
                        <input name="workflowName" class="form-control" maxlength="100" tabindex="1" autofocus required ng-change="workflowCodeGenerate();" ng-model="workflowModel.name" />
                    </div>
                    <div class="form-group" ng-class="{'has-error': settingForm.$submitted && settingForm.workflowCode.$invalid}">
                        <label class="col-sm-12">{{'Setup.BpmWorkflow.Code' | translate}} </label>
                        <input name="workflowCode" class="form-control" maxlength="200" required ng-model="workflowModel.code" ng-disabled="true" />
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Description </label>
                        <textarea name="description" class="form-control" ng-model="workflowModel.description" tabindex="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Status</label>
                        <label class="checkbox-inline newinput">
                            <input type="checkbox" ng-model="workflowModel.active" value="true" tabindex="3"> {{'Common.Active' | translate}}
                            <span></span>
                        </label>
                    </div> 
                </div>
            </form>
        </div>
    </div>



</div>