<div class="sub-menu">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#/app/setup/users">{{'Setup.Nav.Tabs.Users' | translate}}</a></li>
        <li><a href="#/app/setup/profiles">{{'Setup.Nav.Tabs.Profiles' | translate}}</a></li>
        <li><a href="#/app/setup/roles">{{'Setup.Nav.Tabs.Roles' | translate}}</a></li>
        <li><a href="#/app/setup/usergroups">{{'Setup.Nav.Tabs.UserGroups' | translate}}</a></li>
        <li><a href="#/app/setup/usercustomshares">{{'Setup.UserCustomShares.Title' | translate}}</a></li>
    </ul>
</div>
<div class="panel panel-default setup-panel">
    <div class="panel-body">
        <div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <div ng-show="!loading">
            <div class="subpanel">
                <h5 class="subpanel-heading ">{{'Setup.Users.Title' | translate}}
                </h5>
                <div class="subpanel-body">
                    <div>
                        <div class="pull-left" style="margin-left:8px;"><b>{{'Setup.Users.LicensesBought' | translate}} :</b> {{ licensesBought }}</div>
                        <div class="pull-left" style="margin-left:40px;"><b>{{'Setup.Users.LicensesUsed' | translate}} :</b> {{ licensesUsed }}</div>
                        <div class="pull-left" style="margin-left:40px;"><b>{{'Setup.Users.LicensesLeft' | translate}} :</b> {{ licenseAvailable }}</div>
                    </div>
                    <div class="text-right" ng-disabled="licenseAvailable <= 0">
                        <div ng-hide="!isOfficeConnected" style="display: inline-block;" data-title="{{'Setup.Office.AddUserInfo' | translate}}" data-trigger="hover" data-placement="bottom" bs-tooltip="officeUserReady ? null : '{{'Setup.Office.AddUserInfo' | translate}}'">
                            <button ng-disabled="!officeUserReady" type="button" id="officeCreateButton" class="btn btn-custom btn-sm btn-w-lg office-add-user" ng-click="showOfficeUserCreateForm()">{{'Setup.Users.NewUserFromOffice' | translate}}</button>
                        </div>
                        <button type="button" id="createButton" class="btn btn-custom btn-sm btn-w-lg " ng-click="showCreateForm()"><i class="fa fa-plus pull-left"></i> {{'Setup.Users.NewUser' | translate}}</button>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{'Setup.Users.UserEmail' | translate}}</th>
                                <th>{{'Setup.Users.UserFullName' | translate}}</th>
                                <th>{{'Setup.Users.UserStatus' | translate}}</th>
                                <th>{{'Setup.Users.Profile' | translate}}</th>
                                <th>{{'Setup.Users.Role' | translate}}</th>
                                <th style="min-width: 110px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="userItem in users">
                                <td>{{userItem.email}}</td>
                                <td><span ng-if="userItem.has_account">{{userItem.user_name}}</span></td>
                                <td>
                                    <span ng-if="userItem.is_admin">{{'Setup.Users.GroupOwner' | translate}}</span>
                                    <span ng-if="userItem.has_account && !userItem.is_admin">{{'Setup.Users.UserStatus1' | translate}}</span>
                                    <span ng-if="!userItem.has_account && !userItem.is_admin">{{'Setup.Users.UserStatus2' | translate}}</span>
                                </td>
                                <td>{{userItem.profile.name}}</td>
                                <td>{{userItem.role['label_'+language]}}</td>
                                <td class="text-right">
                                    <button type="button" id="editButton{{userItem.id}}" class="btn btn-xs btn-custom" ng-if="!userItem.isAdmin && userItem.has_account" ng-hide="helper.hasAdminRights() && userItem.id === user.id" ng-click="showEditForm(userItem)">{{'Common.Edit' | translate}}</button>
                                    <button type="button" class="btn btn-xs btn-custom" ng-if="!userItem.is_admin"
                                            ng-hide="userItem.profile.has_admin_rights && userItem.id === user.id"
                                            data-template-url="views/setup/users/userDelete.html"
                                            data-auto-close="true" data-placement="left" bs-popover>{{'Common.Remove' |
                                        translate}}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix">
            </div>

        </div>
    </div>
</div>