<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">
    <form name="uploadForm" class="form-horizontal form-custom" ng-submit="templateSave(uploadForm);" autocomplete="off"
          novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">{{currentTemplate.id ? 'Edit E-mail' : 'New E-mail'}}</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button type="button" class="btn add-button btn-radius btn-gray " ng-disabled="saving"
                                    ng-click="addNewEmailTemplateFormModal.hide();">
                                <i class="fas fa-times margin-right-10"></i>{{'Common.Cancel' | translate}}
                            </button>
                        </li>
                        <li>
                            <button type="submit" ladda="saving" ng-disabled="saving"
                                    class="btn add-button btn-radius btn-blue">
                                <i class="fas fa-save"></i>{{
'Common.Save'
                                | translate
                                }}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog scroll-style-4">
            <div class="modal-content padding-0">
                <div class="modal-body">
                    <div id="field-form-body" class="modal-body">
                        <div class="section" id="section1">
                            <div class="panel">
                                <div class="form-group"
                                     ng-class="{'has-error': uploadForm.$submitted && uploadForm.module.$invalid}">
                                    <label>
                                        {{'Setup.Templates.Module' | translate}} <span style="color: #999"
                                                                                       class="required-label">({{'Common.Required' | translate }})</span>
                                    </label>
                                    <select class="form-control pull-left"
                                            ng-change="changeModule();"
                                            ng-required="true"
                                            name="module"
                                            ng-disabled="moduleDisabled"
                                            ng-model="newtemplate.moduleName"
                                            ng-options="o as o['label_' + language + '_singular'] for o in templateModules | filter:{display:'!false'}:true | orderNotZero | orderBy:'order'">
                                        <option value="">{{'Common.Select' | translate}}</option>
                                    </select>
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error': uploadForm.$submitted && uploadForm.templateName.$invalid}">
                                    <label>
                                        {{'Template.TemplateName' | translate}} <span style="color: #999"
                                                                                      class="required-label">({{'Common.Required' | translate }})</span>
                                    </label>
                                    <input type="text" name="templateName" class="form-control" ng-required="true"
                                           maxlength="50" ng-model="newtemplate.template_name" />
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error': uploadForm.$submitted && uploadForm.templateSubject.$invalid}">
                                    <label>
                                        {{'Template.Subject' | translate}} <span style="color: #999"
                                                                                 class="required-label">({{'Common.Required' | translate }})</span>
                                    </label>
                                    <input type="text" name="templateSubject" class="form-control" ng-required="true"
                                           maxlength="200" ng-model="newtemplate.template_subject" />
                                </div>
                                <!--<div class="form-group"
                                     ng-class="{'has-error': uploadForm.$submitted && uploadForm.templateName.$invalid}">
                                    <div><label>{{'Template.Sharing' | translate}} </label></div>
                                    <label class="checkbox-inline newinput">
                                    <input type="radio" ng-model="newtemplate.sharing_type" value="me">
                                    {{'View.ShareMe' | translate}}
                                    <span></span>
                                    </label><br/>
                                    <label class="checkbox-inline newinput">
                                    <input type="radio" ng-model="newtemplate.sharing_type" value="everybody">
                                    {{'View.ShareEveryone' | translate}}
                                    <span></span>
                                    </label><br>
                                    <label class="checkbox-inline newinput">
                                    <input type="radio" ng-model="newtemplate.sharing_type" value="custom">
                                    {{'View.ShareCustom' | translate}}
                                    <span></span>
                                    </label>
                                </div>-->
                                <div class="form-group"
                                     ng-class="{'has-error': uploadForm.$submitted && uploadForm.templateName.$invalid}">
                                    <div ng-if="newtemplate.sharing_type === 'custom'">
                                        {{'Template.SharedUsers' | translate}}
                                    </div>
                                    <div ng-if="newtemplate.sharing_type === 'custom'">
                                        <tags-input name="shares"
                                                    class="shared-users-input shared-users"
                                                    ng-model="newtemplate.shares"
                                                    display-property="full_name"
                                                    key-property="id"
                                                    placeholder="{{'Common.MultiselectPlaceholder' | translate}}"
                                                    replace-spaces-with-dashes="false"
                                                    add-from-autocomplete-only="true">
                                            <auto-complete source="lookupUser($query, 'record_owner')"
                                                           min-length="0"
                                                           load-on-focus="true"
                                                           load-on-empty="true"
                                                           max-results-to-show="9999"></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error': uploadForm.$submitted && uploadForm.tinymce.$invalid}">
                                    <textarea mentio-id="'tinyMceTextArea2'" mentio mentio-typed-text="typedTerm"
                                              mentio-require-leading-space="true" ui-tinymce="tinymceTemplateEdit"
                                              name="tinymce"
                                              ng-model="newtemplate.tinymce_content" ng-required="true"
                                              mentio-iframe-element="iframeElement['tinymceTemplateEdit']"></textarea>
                                    <script type="text/ng-template" id="tag-mentions.tpl">
                                        <ul class="ment-tags">
                                            <li class="item" mentio-menu-item="tag" ng-repeat="tag in items"
                                                class="list-group-item clearfix"
                                                ng-class="{'item':!field.seperator,'seperator':tag.seperator, 'seperator-main':tag.name === 'seperator-main'}">
                                                {{tag.label}}
                                            </li>
                                        </ul>
                                    </script>
                                    <mentio-menu class="mention-scrollbar" id="hastmenu2"
                                                 mentio-for="'tinyMceTextArea2'"
                                                 mentio-trigger-char="'#'" mentio-items="tags"
                                                 mentio-template-url="tag-mentions.tpl" mentio-search="searchTags(term)"
                                                 mentio-select="getTagTextRaw(item)"></mentio-menu>

                                    <!--<div class="hidden" plupload="imgUpload">-->
                                    <!--<input id="uploadImage" type="file" add-file="add-file" />-->
                                    <!--</div>-->
                                    <!--<div class="hidden" plupload="fileUpload">-->
                                    <!--<input id="uploadFile" type="file" add-file="add-file" />-->
                                    <!--</div>-->
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error': uploadForm.$submitted && uploadForm.profiles.$invalid}">
                                    <label class="control-label">
                                        {{'Setup.Nav.Tabs.Profiles'|translate}} <span class="required-label">({{'Common.Required' | translate }})</span>
                                    </label>
                                    <tags-input name="profiles"
                                                tabindex="999"
                                                class="form-control"
                                                ng-model="newtemplate.permissions"
                                                display-property="name"
                                                key-property="id"
                                                placeholder="{{'Common.MultiselectPlaceholder' | translate}}"
                                                replace-spaces-with-dashes="false"
                                                add-from-autocomplete-only="true"
                                                min-length="1"
                                                ng-required="true">
                                        <auto-complete source="profiles"
                                                       min-length="0"
                                                       load-on-focus="true"
                                                       load-on-empty="true"
                                                       max-results-to-show="9999"></auto-complete>
                                    </tags-input>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
