<form name="roleForm" class="disable-validation-msg" ng-submit="save()" autocomplete="off" style="height:100%;" kendo-validator="validator" ng-cloak ng-controller="RoleFormController">
    <div ng-show="loading" class="spin">
        <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
    </div>
    <section ng-show="!loading" layout="column" style="height: 100%; overflow-y: hidden;" ng-cloak>
        <md-toolbar md-scroll-shrink ng-if="true">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="closeSide('sideModal')" aria-label="{{'Common.Close' | translate}}"><i class="fas fa-angle-left"></i></md-button>
                <h3 ng-if="role.id" md-truncate>{{'Setup.Roles.Title2' | translate}}</h3>
                <h3 ng-if="!role.id" md-truncate>{{'Setup.Roles.NewRole' | translate}}</h3>
                <md-button class="md-icon-button dockside" ng-class="isDocked ? 'active': ''" ng-click="sideModaldock()" aria-label="Dock"><i class="fas fa-thumbtack"></i></md-button>
                <span flex></span>
                <md-button class="md-icon-button btn btn-primary" type="submit" ng-disabled="role.system_type === 'system'"><i class="fas fa-save"></i> <md-tooltip md-direction="bottom">{{'Common.Save' | translate}}</md-tooltip></md-button>
            </div>
        </md-toolbar>
        <md-content flex>
            <div class="container-fluid paddingua20">
                <div class="title">
                    <h5>{{'Setup.Roles.Title2' | translate}}</h5>
                </div>
                <div class="whitebox">
                    <div class="form-group">
                        <label for="label" class="required">
                            <span> {{'Setup.Roles.RoleName' | translate}}</span>
                            <span class="label-right">
                                <span class="required-label">{{'Common.Required' | translate}}</span>
                            </span>
                        </label>
                        <input type="text" id="label" name="label" class="k-textbox"
                               placeholder="{{'Setup.Roles.RoleName' | translate}}"
                               required validationMessage="{{'Module.Required' | translate}}" maxlength="200"
                               ng-model="role.label" 
                               ng-disabled="role.system_type === 'system'"/>
                        <span class="k-invalid-msg" data-for="label"></span>
                    </div>
                    <div class="form-group">
                        <label for="description">
                            {{'Setup.Roles.RoleDescription' | translate}}
                        </label>
                        <textarea rows="2" name="description" class="form-control" maxlength="250" id="description"
                                  placeholder="{{'Setup.Roles.RoleDescription' | translate}}" auto-grow ng-model="role.description" ng-disabled="role.system_type === 'system'"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="reportsTo" class="required">
                            {{'Setup.Roles.ReportsTo' | translate}} {{role.master ? '':'*'}}
                        </label>
                        <select kendo-drop-down-tree
                                class="form-control"
                                id="reportsTo"
                                name="reportsTo"
                                k-options="reportToOptions"
                                k-ng-model="role.reports_to" 
                                ng-required="!role.master"
                                ng-disabled="role.system_type === 'system'"></select>
                        <span class="k-invalid-msg" data-for="reportsTo"></span>
                    </div>
                    <ul class="form-group">
                        <li class="d-flex justify-content-between align-items-center">
                            <span>{{'Setup.Roles.ShareData'  | translate}}</span>
                            <kendo-switch id="shareData1" name="shareData1" ng-model="role.share_data" ng-disabled="role.system_type === 'system'"></kendo-switch>

                        </li>
                    </ul>
                </div>
                <div class="title" ng-if="roleUsers.length>0 && id">
                    <h5>{{'Setup.Roles.Title3' | translate}}</h5>
                </div>
                <div class="whitebox table-view" ng-if="roleUsers.length>0 && id">
                    <div kendo-grid="grid" class="grid-theme" id="kendo-grid" k-options="usersGridOptions"></div>
                </div>
            </div>
        </md-content>
    </section>
</form>