<md-dialog flex="33" aria-label="{{'SMS.Title' | translate}}">
    <form name="editForm" ng-submit="delete(transferRole.id)" autocomplete="off" novalidate ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    {{'Setup.Roles.RoleDelete' | translate}}
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-disabled="submittingModal" ng-click="close()"><i class="fas fa-times"></i></md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="form-group">
                    <label for="transferRole">
                        <span>{{'Setup.Roles.RoleDeleteLabel' | translate}}</span>
                    </label>
                    <select id="transferRole" name="transferRole" required k-ng-model="transferRole"
                            kendo-drop-down-tree k-options="transferRolesOptions" ng-disabled="selectedRoleIsSystem"></select>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button type="submit" ladda="roleDeleting" class="btn btn-danger" ng-disabled="selectedRoleIsSystem">
                <i class="fa fa-trash"></i> {{'Setup.Roles.TransferAndDelete' | translate}}
            </md-button>
            <span flex></span>
        </md-dialog-actions>
    </form>
</md-dialog>
