<div class="popover">
    <div class="arrow"></div>
    <h3 class="popover-title">{{'Setup.Phone.CreateUserAccount' | translate}}</h3>

    <div class="popover-content">
        <form name="sipUserForm" ng-submit="addSipAccount(sipAccount)" class="form-horizontal" novalidate ng-if="sipLicenseAvailable">
            <div class="form-group" ng-class="{'has-error': sipUserForm.$submitted && sipUserForm['Extension'].$invalid}">
                <div class="col-sm-12">
                    <input type="text" name="extension" class="form-control" autocomplete="off"
                           placeholder="{{'Setup.Phone.Extension' | translate}}" required
                           ng-model="sipAccount.Extension" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sipUserForm.$submitted && sipUserForm['Password'].$invalid}">
                <div class="col-sm-12">
                    <input type="text" name="password" class="form-control" autocomplete="off"
                           placeholder="{{'Setup.Phone.Password' | translate}}" required
                           ng-model="sipAccount.Password" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sipUserForm.$submitted && sipUserForm['UserId'].$invalid}">
                <div class="col-sm-12">
                    <select
                            class="form-control"
                            name="userId"
                            ng-model="sipAccount.UserId"
                            required
                            ng-options="o.id as o.FullName for o in users | filter:sipAccountFilter ">
                        <option selected value="">{{'Setup.Phone.SipAccountCrmUser' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="isAutoRegister"><input type="checkbox" name="isAutoRegister" ng-model="sipAccount.IsAutoRegister" id="isAutoRegister" /> {{'Setup.Phone.IsAutoRegister' | translate}}</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="isAutoRecordDetail"><input type="checkbox" name="isAutoRecordDetail" ng-model="sipAccount.IsAutoRecordDetail" id="isAutoRecordDetail" /> {{'Setup.Phone.IsAutoRecordDetail' | translate}}</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label>{{'Setup.Phone.RelatedModuleAutoOpen' | translate}}</label>
                    <select
                            class="form-control"
                            name="recordDetailModuleName"
                            required
                            ng-model="sipAccount.RecordDetailModuleName"
                            ng-options="o as o['label_' + language + '_plural'] for o in modules | filter:{deleted:'false'}">
                        <option value="">{{'Common.Select' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-if="sipAccount.RecordDetailModuleName">
                <div class="col-sm-12">
                    <label>{{'Setup.Phone.PhoneField' | translate}}</label>
                    <select
                            class="form-control"
                            name="recordDetailPhoneFieldName"
                            required
                            ng-model="sipAccount.RecordDetailPhoneFieldName"
                            ng-options="o as o['label_' + language] for o in sipAccount.RecordDetailModuleName.fields | filter:recordDetailPhoneFieldNameFilter | orderBy:'order' track by o.id">

                        <option value="">{{'Common.Select' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-custom" ng-click="$hide()" ng-disabled="userInviting">{{'Common.Cancel' | translate}}</button>
                    <button type="submit" class="btn btn-primary btn-w-lg" ladda="userInviting"><i class="fa fa-check-circle pull-left"></i> {{'Common.Save' | translate}}</button>
                </div>
            </div>
        </form>
        <div ng-if="!sipLicenseAvailable" class="not-allowed">
            <i class="fa fa-2x fa-exclamation-circle"></i>
            <p ng-bind-html="'Setup.Users.AddonLicenseRequired' | translate"></p>
            <a href ng-click="gotoLicencePage()" style="margin-left: 40px;">{{'Setup.Users.AddonPageGoto' | translate}}</a>
            <button type="button" class="btn btn-custom" style="margin: 20px 0 0 40px;" ng-click="$hide()">{{'Common.Cancel' | translate}}</button>
        </div>
    </div>
</div>