<div class="popover">
    <div class="arrow"></div>
    <h3 class="popover-title">{{'Setup.Settings.DeleteTitle' | translate}}</h3>
    <div class="popover-content">
        <form name="deleteForm" ng-submit="deleteAccount(confirmPassword);" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" name="password" class="form-control" required placeholder="{{'Setup.Settings.Password' | translate}}" ng-model="confirmPassword"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-danger btn-w-lg" ladda="accountDeleting" ng-disabled="deleteForm.$invalid"><i class="fa fa-exclamation-circle pull-left"></i>
                        {{'Common.Confirm' | translate}}
                    </button>
                    <button type="button" class="btn btn-custom" ng-click="$hide()"> {{'Common.Cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
