<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="settingsForm" class="form" ng-submit="$parent.submitSettings()" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">{{'Timetracker.TimetrackerSettings'|translate}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-group" ng-class="{'has-error': settingsForm.$submitted && settingsForm.dayStandartHour.$invalid}">
                        <label class="col-sm-6 control-label">{{'Timetracker.DailyStandart'|translate}}</label>
                        <div class="col-sm-3">
                            <input name="dayStandartHour" class="form-control" maxlength="2" required ng-model="settings.dayStandartHour" numeric/>
                        </div>
                    </div>
                    <div class="row form-group" ng-class="{'has-error': settingsForm.$submitted && settingsForm.dayMaxHour.$invalid}">
                        <label class="col-sm-6 control-label">{{'Timetracker.DailyMax'|translate}}</label>
                        <div class="col-sm-3">
                            <input name="dayMaxHour" class="form-control" maxlength="2" required ng-model="settings.dayMaxHour" numeric/>
                        </div>
                    </div>
                    <div class="row form-group" ng-class="{'has-error': settingsForm.$submitted && settingsForm.dayMinHour.$invalid}">
                        <label class="col-sm-6 control-label">{{'Timetracker.DailyMin'|translate}}</label>
                        <div class="col-sm-3">
                            <input name="dayMinHour" class="form-control" maxlength="2" required ng-model="settings.dayMinHour" numeric/>
                        </div>
                    </div>
                    <div class="row form-group" ng-class="{'has-error': settingsForm.$submitted && settingsForm.weekHour.$invalid}">
                        <label class="col-sm-6 control-label">{{'Timetracker.WeeklyDuration'|translate}}</label>
                        <div class="col-sm-3">
                            <input name="weekHour" class="form-control" maxlength="2" required ng-model="settings.weekHour" numeric/>
                        </div>
                    </div>
                    <div class="row form-group" ng-class="{'has-error': settingsForm.$submitted && settingsForm.includeWeekend.$invalid}">
                        <label class="col-sm-6 control-label">{{'Timetracker.WeekendPermission'|translate}}</label>
                        <div class="col-sm-3">
                            <input type="checkbox" name="includeWeekend" class="form-control" ng-model="settings.includeWeekend"/>
                        </div>
                    </div>
                    <!--<div class="row form-group" ng-class="{'has-error': settingsForm.$submitted && settingsForm.includeLeaves.$invalid}">-->
                        <!--<label class="col-sm-6 control-label">{{'Timetracker.PersonalHolidayPermission'|translate}}</label>-->
                        <!--<div class="col-sm-3">-->
                            <!--<input type="checkbox" name="includeLeaves" class="form-control" ng-model="settings.includeLeaves"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="row form-group" ng-class="{'has-error': settingsForm.$submitted && settingsForm.includeHoliday.$invalid}">
                        <label class="col-sm-6 control-label">{{'Timetracker.HolidayPermission'|translate}}</label>
                        <div class="col-sm-3">
                            <input type="checkbox" name="includeHoliday" class="form-control" ng-model="settings.includeHoliday"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" ng-click="$hide()">{{'Common.Cancel' | translate}}</button>
                    <button type="submit" class="btn btn-primary btn-w-lg" ladda="$parent.settingsApproving"><i class="fa fa-check-circle pull-left"></i> {{'Common.Save' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>