<div class="panel panel-default setup-panel">
    <div class="panel-body">
        <div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <div ng-show="!loading">
            <div class="subpanel">
                <h5 class="subpanel-heading ">{{'Setup.Workflow.Title' | translate}}
                </h5>
                <div class="subpanel-body">
                    <div class="text-right">
                        <a href="#/app/setup/workflow" class="btn btn-custom btn-sm btn-w-lg"><i class="fa fa-plus pull-left"></i> {{'Setup.Workflow.NewRule' | translate}}</a>
                    </div>
                    <div class="empty-message" ng-if="workflows.length < 1" ng-show="!loading">{{'Common.EmptyMessage' | translate}}</div>
                    <div ng-show="!loading && workflows.length > 0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{'Setup.Workflow.Name' | translate}}</th>
                                    <th>{{'Setup.Workflow.Module' | translate}}</th>
                                    <th>{{'Setup.Workflow.RuleTrigger' | translate}}</th>
                                    <th>{{'Common.Active' | translate}}</th>
                                    <th style="min-width: 110px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="workflow in workflows">
                                    <td>{{workflow.name}}</td>
                                    <td>{{workflow.moduleStr}}</td>
                                    <td>{{workflow.operationsStr}}</td>
                                    <td>{{workflow.statusStr}}</td>
                                    <td class="text-right">
                                        <a href="#/app/setup/workflow?id={{workflow.id}}" class="btn btn-xs btn-custom">{{'Common.Edit' | translate}}</a>
                                        <button type="button" class="btn btn-xs btn-custom" confirm-click data-placement="left" action="delete(workflow.id)" confirm-message="{{'Common.AreYouSure' | translate}}" confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}">{{'Common.Remove' | translate}}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>