<div class="alert alert-warning analytics-demo-info" ng-show="!workgroup.hasAnalytics"><i class="fa fa-lg fa-info-circle"></i> {{'Analytics.DemoMessage' | translate}}</div>
<div class="page analytics" ng-class="{'page-demo':(!workgroup.hasAnalytics)}">
    <div class="clearfix" style="padding-top: 20px;">
        <div class="view-panel clearfix">
            <div class="pull-left">
                <div class="pull-left">
                    <select ng-show="analyticsCurrentReport" class="form-control"
                            ng-model="analyticsCurrentReport"
                            ng-change="embedReport(analyticsCurrentReport)"
                            ng-options="report.label for report in analyticsReports">
                    </select>
                </div>
                <div class="view-action-buttons pull-right" ng-show="workgroup.hasAnalytics">
                    <a href="#/app/analyticsForm?id={{analyticsCurrentReport.id}}">{{'Common.Edit' | translate}}</a>
                    <span ng-if="view.created_by == user.id || user.profile.has_admin_rights"> |</span>
                    <a href confirm-click action="delete(analyticsCurrentReport.id)" data-dismiss="modal" aria-hidden="true" ng-click="$hide()" placement="bottom" confirm-message="{{'Common.AreYouSure' | translate}}" confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}" title="{{'Common.Delete' | translate}}" ng-if="(view.created_by === user.id || user.profile.has_admin_rights)">{{'Common.Delete' | translate}}</a>
                    <span>|</span>
                    <span ng-if="view.system_type === 'custom' && (view.created_by === user.id || user.profile.has_admin_rights)"> |</span>
                    <a href="#/app/analyticsForm">{{'Common.Create' | translate}}</a>
                </div>
            </div>
            <div class="pull-right" ng-show="analyticsReports && !analyticsLoading">
                <button class="btn btn-sm btn-default" style="right: 80px;" ng-click="print()" ng-disabled="loading" data-placement="bottom" data-title="{{'Common.Print' | translate}}" bs-tooltip><i class="fa fa-print"></i></button>
                <button class="btn btn-sm btn-default" style="right: 40px;" ng-click="fullScreen()" ng-disabled="loading" data-placement="bottom" data-title="{{'Common.FullScreen' | translate}}" bs-tooltip><i class="fa fa-arrows-alt"></i></button>
                <button class="btn btn-sm btn-default" ng-click="enableFilterPane(!filterPaneEnabled)" ng-disabled="loading" data-placement="bottom" data-title="{{'Common.Filter' | translate}}" bs-tooltip><i class="fa fa-filter"></i></button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-show="analyticsLoading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
            <div ng-if="!analyticsReports && !analyticsLoading" ng-bind-html="'Analytics.NewReport' | translate"></div>
            <div ng-show="analyticsReports && !analyticsLoading">
                <div class="nav-bar">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active':currentPage === page}" ng-repeat="page in pages track by page.name">
                            <a href ng-click="changePage(page)">{{language === 'tr' ? page.displayName.toUpperCaseTurkish() : page.displayName.toUpperCase()}}</a>
                        </li>
                    </ul>
                </div>
                <div r-directions="['right']" resizable>
                    <div id="report" style="height:75vh"></div>
                </div>
            </div>
        </div>
    </div>
</div>
