<div class="modal action-frame-modal frame-modal" tabindex="-1" role="dialog" ng-controller="ActionButtonFrameController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <iframe ng-src="{{url}}" frameborder="0"></iframe>
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-custom" ng-disabled="submittingModal" ng-click="cancel(); $hide();">{{'Common.Close' | translate}}</button>
            </div>
        </div>
    </div>
</div>