<div class="modal setup-modal" tabindex="-1" role="dialog">
    <form name="newOrganizationForm" class="form-horizontal form-custom" ng-submit="organizationSave(newOrganizationForm);" autocomplete="off"
          novalidate>

        <div class="modal-header">
            <div class="col-sm-6"><h4 class="modal-title">New Organization</h4></div>
            <div class="col-sm-6 col-sm-rigth">
                <button type="button" class="btn btn-radius btn-gray "
                        ng-click="addNewOrganizatioModal.hide();">
                    <i class="fas fa-times"></i>{{'Common.Cancel' | translate}}
                </button>
                <button type="submit" class="btn btn-radius btn-blue " style="margin-left: 5px"
                        ng-click="MinMaxValue()"><i
                        class="fas fa-save"></i>
                    {{'Common.Save' | translate}}
                </button>
            </div>

        </div>
        <div class="modal-dialog modal-600">
            <div class="modal-content padding-0">

                <div class="modal-body">
                    <div id="field-form-body" class="modal-body">
                        <div class="section" id="section1">
                            <div class="panel">
                                <div class="form-group"
                                     ng-class="{'has-error': newOrganizationForm.$submitted && newOrganizationForm.Name.$invalid}">
                                    <label class="col-sm-4 required-field">*Organization Name: </label>
                                    <input type="text"
                                           name="name"
                                           class="form-control ng-animate-disabled col-sm-8"
                                           required
                                           maxlength="50"
                                           focus="true"
                                           ng-model="appModel.Name">
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error': newOrganizationForm.$submitted && newOrganizationForm.icon.$invalid}">
                                    <label class="col-sm-4 required-field">*Organization Icon: </label>
                                    <input class="form-control ng-animate-disabled col-sm-8" type="file" name="icon" required nv-file-select="" uploader="uploader" />

                                </div>


                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </form>
</div>