<div class="setup-layout" ng-class="subtoggleClass">
    <div class="row clearfix">
        <div class="menu collaborators-left-menu app-menu2">
            <ng-include ng-class="activeMenu==='organization' ?  'am-fade-and-slide-right':''" ng-if="activeMenu==='organization'" src="'view/organization/common/organizationMenu.html'"></ng-include>
            <ng-include ng-class="activeMenu==='teams' ?  'am-fade-and-slide-right':''" ng-if="activeMenu==='teams'" src="'view/organization/common/teamsMenu.html'"></ng-include>
            <ng-include ng-class="activeMenu==='collaborator' ?  'am-fade-and-slide-right':''" ng-if="activeMenu==='collaborator'" src="'view/organization/common/collaboratorsMenu.html'"></ng-include>
        </div>
        <div class="content-in2">
            <div ui-view="app"></div>
        </div>
    </div>
</div>
