<div class="setup-layout">
    <div class="row ">
        <ng-include ng-class="activeMenu==='organization' ?  'am-fade-and-slide-right':''" ng-if="activeMenu==='organization'" src="'view/organization/common/organizationMenu.html'"></ng-include>
        <ng-include ng-class="activeMenu==='teams' ?  'am-fade-and-slide-right':''" ng-if="activeMenu==='teams'" src="'view/organization/common/teamsMenu.html'"></ng-include>
        <ng-include ng-class="activeMenu==='collaborator' ?  'am-fade-and-slide-right':''" ng-if="activeMenu==='collaborator'" src="'view/organization/common/collaboratorsMenu.html'"></ng-include>

        <div class="col-sm-9 am-fade-and-scale " style="border: none ;">
            <div ui-view="app"></div>
        </div>
    </div>
</div>
