<div class="setup-layout" ng-class="subtoggleClass">
    <div class="row clearfix">
        <div class="menu app-menu2">
            <div class="sidemenu setup-title">
                <h2><span>{{ menuTopTitle }}</span></h2>
                <button class="btn add-button" ng-click="preview()"><i class="fas fa-eye"></i> <span>Preview</span></button>
            </div>
            <ng-include   src="'view/settings/common/settingsMenu.html'"></ng-include>
            <div class="submenu-togle" ng-click="toggledSubMenu()">
                <i class="fas fa-long-arrow-alt-left" data-trigger="hover" data-type="info" data-title="Close" bs-tooltip data-placement="top"></i>
                <i class="fas fa-long-arrow-alt-right" data-trigger="hover" data-type="info" data-title="Open" bs-tooltip data-placement="top"></i>
            </div>
        </div>

        <div class="content-in2">
            <div ui-view="app"></div>
        </div>
    </div>
</div>
