<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">
	<form name="packageForm" class="form-horizontal form-custom" ng-submit="create();" autocomplete="off" novalidate>

		<div class="modal-header">
			<div class="flex-between">
				<h4 class="modal-title">Create New Package!</h4>
				<div>
					<ul class="list-unstyled list-inline">
						<li>
							<button type="button" ng-click="packagePopup.hide();" class="btn add-button btn-radius btn-gray"><i class="fas fa-times"></i>{{'Common.Cancel' | translate}}</button>
						</li>
						<li>
							<button type="submit" style="margin-left: 5px" ladda="" class="btn add-button btn-radius btn-blue"><i class="fas fa-save"></i>Create</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="modal-dialog scroll-style-4">
			<div class="modal-content padding-0">
				<div class="modal-container">
					<div class="modal-body" id="field-form-body">
						<div class="section" id="section1">
							<div class="panel">
								<p>We'll create a release package for you. You can publish your app using this package. Packaging process and logs will be shown in the list.</p>
								<div ng-if="grid.dataSource.data().length < 1">
									<h4 style="margin: 20px 0px 0px 0px; font-size: 16px;">Trasfer Module's Records</h4>
									<div class="form-group">
										<label class="radio-inline newinput">
											<input ng-model="package.protectModules" name="protectModules" type="radio" value="DontTransfer">Don't Transfer<span></span>
										</label>
										<label class="radio-inline newinput">
											<input ng-model="package.protectModules" name="protectModules" type="radio" value="AllModules">Include All Modules<span></span>
										</label>
										<label class="radio-inline newinput">
											<input ng-model="package.protectModules" name="protectModules" type="radio" value="SelectedModules">Selected Modules<span></span>
										</label>
										<div style="padding-top: 10px;" ng-show="package.protectModules === 'SelectedModules'" class="col-sm-12 multiselect-container">
											<button type="button"
													class="form-control ng-animate-disabled multiselect"
													name="modules"
													ng-model="package.selectedModules"
													ng-change="checkModules(package.selectedModules)"
													data-icon-checkmark="fa fa-check"
													data-placeholder="{{'Common.Multiselect' | translate}}"
													data-html="1"
													data-multiple="1"
													data-max-length="2"
													data-max-length-html="{{'Common.Multiselected' | translate}}"
													bs-options="o as o['label_'+language+'_plural'] for o in packageModules track by id"
													bs-select></button>
										</div>
									</div>
									<div ng-if="package.protectModules === 'SelectedModules' && errorList.length > 0">
										<strong>Information</strong>
										<div class="alert alert-info" style="line-height:2; font-size: 12px;font-weight: bold; padding: 10px; border-left-width: 10px;">
											<p ng-bind-html="getErrorText()"/>
											<p>This package will cause all lookup fields empty!</p>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>