@media (max-width: 1450px) {
    .summary-count-value {
        font-size: 20px;
        padding-left: 10px;
    }

    .summary-count-text {
        font-size: 20px;
        margin-left: 10px;
    }
}

@media (max-width: 1024px) {
    .navbar-header {
        float: left;
    }

    #navbar-wrapper {
        left: 0px;
    }

    .widget-container {

        .summary-count-text {
            font-size: 1vw;
        }
    }

    .note-form textarea {
        min-width: 270px;
    }

    .subpanel .btn-custom {
        font-size: 11px;
        display: inline;
    }

    .summary-count-value {
        font-size: 21px;
        padding-left: 6px;
    }


    .summary-count-text {
        font-size: 14px;
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }

    .widget-container {

        .summary-count-text {
            font-size: 3vw;
        }
    }

    .note-form textarea {
        min-width: 270px;
    }

    .subpanel .btn-custom {
        font-size: 11px;
        display: inline;
    }

    .reports {
        .reports-sidebar {
            margin-left: 18px;
            margin-right: 4px;
            position: relative;

            .reports-sidebar-header {
                .input-group-sm {
                    display: none;
                }
            }
        }

        .report-list {
            width: 100%;
            margin-left: 0px;

            .table-column {
                overflow-x: scroll;
            }

            .pagination-tr {
                .ng-table-counts {
                    margin-top: 10px;
                    float: left !important;
                }

                .pagination {
                    li {
                        float: left;
                    }

                    .form-control {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-toggle {
        display: block;
    }

    .sidebar-nav {
        ul {
            li {
                a {
                    font-size: 15px;
                }
            }
        }
    }

    .toggled {
        #sidebar-wrapper {
            width: 250px !important;
        }
    }
}
