<div class="setup-layout">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="setup-title">
                <h2>Settings</h2>
                <ul class="list-unstyled list-inline">
                    <li ng-class="orgDeleteDisabled ? 'disabled': '' ">
                        <button ng-disabled="orgDeleteDisabled" class="btn btn-radius btn-yellow btn-logout">
                            <i class="fas fa-exchange-alt margin-right-10"></i>Transfer
                        </button>
                    </li>
                    <li ng-class="orgDeleteDisabled ? 'disabled': '' ">
                        <button type="submit" ng-click="delete(orgModel.id)" ng-disabled="orgDeleteDisabled"
                                class="btn btn-radius btn-red btn-logout" style="" ladda="savinga">
                            <i class="fas fa-trash margin-right-10"></i>Delete
                        </button>
                    </li>
                    <li>
                        <button type="submit" ng-click="save();" class="btn btn-radius btn-blue btn-logout" ladda="saving">
                            <i class="fas fa-save margin-right-10"></i>Save
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tab-content" style="padding: 50px;">
                <form name="appDetails" class="form-horizontal form-custom" autocomplete="off" novalidate>
                    <div class="text-center">
                        <div class="file-uploader" style="background: none;">
                            <div class="organization-icon" style="background-color: {{orgModel.color}}">
                                <i class="{{orgModel.icon}}"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div ng-class="{'has-error': organizationForm.$submitted && organizationForm.name.$invalid}">
                            <div class="colorpickx" style="text-align:center;background:unset;margin-bottom:unset;">
                                <div style="display:inline-block;">
                                    <span ng-repeat="color in colors" ng-click="orgModel.color=color.value" ng-class="{'active':orgModel.color==color.value}" style="background: {{color.value}}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group icon-search-list">
                        <label class="required-field">Organization Icon</label>
                        <ui-select ng-model="orgModel.icon" ng-disabled="ctrl.disabled" ng-change="changeIcon();">
                            <ui-select-match placeholder="Select an icon">
                                <div>
                                    <span ng-if="$select.selected.value" class="{{$select.selected.value}}"> {{ $select.selected.value }}</span>
                                    <span ng-ifcolorpicker="!$select.selected.value" class="{{$select.selected}}"> {{ $select.selected }}</span>
                                </div>
                            </ui-select-match>
                            <ui-select-choices repeat="icon in icons | filter:{ label:$select.search }">
                                <div ng-bind-html="icon.label"></div>
                            </ui-select-choices>

                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label class="required-field">Organization Name</label>
                        <div>
                            <input type="text" name="description" class="form-control ng-animate-disabled" required maxlength="50" ng-model="orgModel.label">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
