<html>
<head>
    <title></title>
</head>
<body>
    <div style="border: 1px solid #343E49; font-family: Calibri,Helvetica,sans-serif;
        background-color: #343E49; color: #FFFFFF; width: 900px; padding: 8px; font-size: x-large;">
        Ofisim<span style="font-size: medium; color: #808080;">&middot;com</span>
    </div>
    <div style="border: 1px solid #343E49; padding: 8px; font-family: Calibri,Helvetica,sans-serif;
        width: 900px; font-size: medium;">
            {Greetings}
            <br />
            <br />
            {InvoicePaid}
                        <br />
        <br />
        {Footer}
        </div>
</body>
</html>