<div class="modal setup-modal modal-800" tabindex="-1" role="dialog">
    <form name="profileForm" class="form-horizontal form-custom" ng-submit="submit(profileForm);" autocomplete="off" novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title"> {{profile.id ? 'Edit Profile' : 'New Profile'}}</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <!-- Burası Modalın kaydet vazgeç buttonların bulunduğu yer  -->
                        <li>
                            <button type="button" class="btn add-button btn-radius btn-gray " ng-disabled="saving" ng-click="profileFormModal.hide();">
                                <i class="fas fa-times margin-right-10"></i>{{'Common.Cancel' | translate}}
                            </button>
                        </li>
                        <li>
                            <button type="submit" class="btn add-button btn-radius btn-blue " style="margin-left: 5px" ladda="saving">
                                <i class="fas fa-save margin-right-10"></i>{{'Common.Save' | translate}}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-contanier">
                    <div id="field-form-body" class="modal-body">
                        <div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
                        <div class="panel">
                            <div class="form-group" ng-class="{'has-error': profileForm.$submitted && profileForm.name.$invalid}">
                                <label class="col-sm-12 control-label">{{'Setup.Profiles.ProfileName' | translate}} <span style="color: #999" class="required-label">({{'Common.Required' | translate }})</span></label>
                                <input type="text" name="name" class="form-control col-sm-8" maxlength="50" ng-required="true" ng-model="profile.name_en" ng-change="profileForm['name'].$setValidity('unique', true)" ng-disabled="profile.is_persistent" />
                            </div>
                            <div class="form-group" ng-class="{'has-error': profileForm.$submitted && profileForm.description.$invalid}">
                                <label class="col-sm-12 control-label">{{'Setup.Profiles.ProfileDescription' | translate}} <span style="color: #999" class="required-label">({{'Common.Required' | translate }})</span></label>
                                <textarea rows="2" name="description" ng-required="true" ng-change="descriptionChange()" style="{{requiredColor}}" class="form-control col-sm-8" maxlength="255" auto-grow ng-model="profile.description_en" ng-disabled="profile.is_persistent"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Module Permissions</label>
                                <div class="col-sm-12 table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>{{'Setup.Profiles.Module' | translate}}</th>
                                                <th class="text-center">{{'Setup.Profiles.PermissionRead' | translate}}</th>
                                                <th class="text-center">{{'Setup.Profiles.PermissionModify' | translate}}</th>
                                                <th class="text-center">{{'Setup.Profiles.PermissionWrite' | translate}}</th>
                                                <th class="text-center">{{'Setup.Profiles.PermissionRemove' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="permission in profile.permissions">
                                                <td class="text-uppercase">{{permission.EntityTypeName}}</td>
                                                <td class="text-center user-not-select"><label class="checkbox-inline newinput"><input type="checkbox" ng-model="permission.read" ng-click="!permission.read ? permission.modify = false : ''; !permission.read ? permission.write = false : ''; !permission.read ? permission.remove = false : '';" /><span></span></label></td>
                                                <td class="text-center user-not-select"><label class="checkbox-inline newinput"><input type="checkbox" ng-model="permission.modify" ng-click="permission.modify ? permission.read = true : '';" /><span></span></label></td>
                                                <td class="text-center user-not-select"><label class="checkbox-inline newinput"><input type="checkbox" ng-model="permission.write" ng-click="permission.write ? permission.read = true : '';" /><span></span></label></td>
                                                <td class="text-center user-not-select"><label class="checkbox-inline newinput"><input type="checkbox" ng-model="permission.remove" ng-click="permission.remove ? permission.read = true : '';" /><span></span></label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">{{'Setup.Profiles.PermissionsOther' | translate}}</label>
                                <div class="col-sm-12">
                                    <label class="ui-checkbox newinput">
                                        <input type="checkbox" ng-model="profile.has_admin_rights" ng-disabled="profile.is_persistent" />
                                        <small style="font-size:100%;">{{'Setup.Profiles.PermissionSystem' | translate}}</small>
                                        <span></span>
                                    </label>
                                    <label class="ui-checkbox newinput">
                                        <input type="checkbox" ng-model="profile.send_email" ng-disabled="profile.has_admin_rights" />
                                        <small style="font-size:100%;">Send E-Mail</small>
                                        <span></span>
                                    </label>
                                    <!--<label class="ui-checkbox newinput"><input type="checkbox" ng-model="profile.send_sms" ng-disabled="profile.has_admin_rights" />-->
                                    <!--<small style="font-size:100%;">{{'Setup.Profiles.PermissionSMS' | translate}}</small>-->
                                    <!--<span></span></label>-->
                                    <label class="ui-checkbox newinput">
                                        <input type="checkbox" ng-model="profile.export_data" ng-disabled="profile.has_admin_rights" />
                                        <small style="font-size:100%;">{{'Setup.Profiles.PermissionExportData' | translate}}</small>
                                        <span></span>
                                    </label>
                                    <label class="ui-checkbox newinput">
                                        <input type="checkbox" ng-model="profile.import_data" ng-disabled="profile.has_admin_rights" />
                                        <small style="font-size:100%;">{{'Setup.Profiles.PermissionImportData' | translate}}</small>
                                        <span></span>
                                    </label>
                                    <label class="ui-checkbox newinput">
                                        <input type="checkbox" ng-model="profile.word_pdf_download" ng-disabled="profile.has_admin_rights" />
                                        <small style="font-size:100%;">Apply Templates</small>
                                        <span></span>
                                    </label>
                                    <!--<label class="ui-checkbox newinput"><input type="checkbox" ng-model="profile.document_search" ng-disabled="profile.has_admin_rights" />-->
                                    <!--<small style="font-size:100%;">{{'Setup.Profiles.DocumentSearch' | translate}}</small>-->
                                    <!--<span></span></label>-->
                                    <!--<label class="ui-checkbox newinput" ng-if="moduleLead"><input type="checkbox" ng-model="profile.lead_convert" ng-disabled="profile.has_admin_rights" />-->
                                    <!--<small style="font-size:100%;">{{'Setup.Profiles.LeadConvert' | translate}}</small>-->
                                    <!--<span></span></label>-->
                                    <!--<label class="ui-checkbox newinput">-->
                                    <!--<input type="checkbox" ng-model="profile.tasks"-->
                                    <!--ng-disabled="profile.has_admin_rights" />-->
                                    <!--<small style="font-size:100%;">{{'Setup.Profiles.Tasks' | translate}}</small>-->
                                    <!--<span></span>-->
                                    <!--</label>-->
                                    <!--<label class="ui-checkbox newinput">-->
                                    <!--<input type="checkbox" ng-model="profile.calendar"-->
                                    <!--ng-disabled="profile.has_admin_rights" />-->
                                    <!--<small style="font-size:100%;">{{'Setup.Profiles.Calendar' | translate}}</small>-->
                                    <!--<span></span>-->
                                    <!--</label>-->
                                    <!--<label class="ui-checkbox"><input type="checkbox" ng-model="profile.newsfeed"
                                      ng-disabled="profile.has_admin_rights" /><span>{{'Setup.Profiles.Newsfeed' | translate}}</span></label>-->
                                    <label class="ui-checkbox newinput">
                                        <input type="checkbox" ng-model="profile.dashboard" ng-disabled="profile.has_admin_rights" />
                                        <small style="font-size:100%;">Dashboard</small>
                                        <span></span>
                                    </label>
                                    <label class="ui-checkbox newinput">
                                        <input type="checkbox" ng-model="profile.close_smtp_settings" ng-disabled="profile.has_admin_rights" />
                                        <small style="font-size:100%;">Disable SMTP Settings</small>
                                        <span></span>
                                    </label>
                                    <label class="ui-checkbox newinput" ng-if="moduleRehber">
                                        <input type="checkbox"
                                               ng-model="profile.home"
                                               ng-disabled="profile.has_admin_rights" />
                                        <small style="font-size:100%;">{{'Common.Homepage' | translate}}</small>
                                        <span></span>
                                    </label>

                                    <label class="ui-checkbox newinput" ng-if="moduleIzinler">
                                        <input type="checkbox"
                                               ng-model="profile.collective_annual_leave"
                                               ng-disabled="profile.has_admin_rights" />
                                        <small style="font-size:100%;">{{'Leave.CollectiveAnnualLeave' | translate}}</small>
                                        <span></span>
                                    </label>
                                </div>
                                <div class="form-group" ng-class="{'has-error': roleForm.$submitted && roleForm.name.$invalid}">
                                    <label class="col-sm-12">{{'Setup.Profiles.StarPage' | translate}}</label>
                                    <select class="form-control"
                                            ng-model="profile.start_page"
                                            ng-change="SetStartPage()"
                                            ng-options="item.name for item in startPageList">
                                        <option value="">{{'Common.Select' | translate}}</option>
                                    </select>

                                    <!-- <div class="form-group" ng-show="profileForm.$submitted && profileForm.$invalid" style="padding-top: 20px;">
                                        <div class="col-sm-12">
                                            <div class="callout callout-danger">
                                                <p ng-if="profileForm.$error.required">{{'Module.RequiredError' | translate}}</p>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                                <div class=" form-group"> 
                                    <label class="control-label newinput">
                                        {{'Setup.Modules.Editable' | translate}} <span data-toggle="tooltip" title="If you activate it, this record can be edited or deleted on your application from by users."><i class="fas fa-info-circle"></i></span>
                                        <input type="checkbox" name="editable" ng-model="profile.editable" ng-change="changeProfileType(profile.editable)" ng-checked="profile.system_type === 'custom'" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
