<!--<div class="dashboard apps clearfix">-->
<!--<div class="row">-->
<!--<div class="col-sm-4"></div>-->
<!--<div class="col-sm-4 new-app-content">-->
<!--<img src="images/primeapps/create-app-sceen-image.png"-->
<!--srcset="images/primeapps/create-app-sceen-image.png@2x.png 2x,-->
<!--images/primeapps/create-app-sceen-image.png@3x.png 3x"-->
<!--&gt;-->
<!--<div class="">-->
<!--<h2 class="apps-first-screen-h1">-->
<!--Welcome Yusuf Çiftçi-->
<!--</h2>-->
<!--<span class="apps-first-screen-span">-->
<!--Rapidly create and execute cloud based business apps.-->
<!--Turn them into powerful multi-tenant SaaS businesses.-->
<!--No code, no deployment, no hassle.-->
<!--</span>-->
<!--</div>-->
<!--<button class="create-app-btn">-->
<!--Create your Application-->
<!--</button>-->

<!--<div class="need-help-text">Need Help? Please read through the <a href="">tutorials </a> </div>-->
<!--</div>-->
<!--<div class="col-sm-4"></div>-->
<!--</div>-->
<!--</div>-->


<div class="page-container">
    <div class="row">
        <div class="col-sm-10">
            <div class="search-input">
                <div class="search-input-icon">
                    <i class="fas fa-search"></i>
                </div>
                <input class="form-control form-control-lg form-control-borderless app-search-input" type="search"
                       placeholder="Search for a project">

            </div>

        </div>
        <div class="col-sm-2 search-select">
            <i class="fas fa-angle-down"></i>
            <select class="select-status">
                <option value="All Apps">All Apps</option>
                <option value="Draft">Draft</option>
                <option value="Unpublished">Unpublished</option>
            </select>
        </div>

    </div>
    <div class="row" style="margin-top: 50px">
        <div class="col-sm-12">
            <h4 class="h4-title blue-color font-bold">All Apps</h4>
        </div>
        <div class="col-sm-6 col-md-3 app-layout-box">
            <div class="app-box">
                <div class="oval">

                </div>
                <div class="icon-image">
                    <i class="fas fa-layer-group"></i>
                </div>
            </div>
            <div class="app-info">
                <button class="btn btn-blue btn-radius btn-bold">
                    <i class="fas fa-plus"></i> Create New App
                </button>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 app-layout-box">
            <div class="app-box">
                <div class="oval">
                    <span data-trigger="hover" data-type="success" data-title="Published" bs-tooltip
                          class="oval-green"></span>
                </div>
                <div class="image">
                    <img src="https://ofisimcomprod.blob.core.windows.net/app-logo/08409435-9bff-4e49-a9ee-a82900c3f2ee_21afb109-0627-4f70-9e5a-e27eccd5f103.PNG"/>
                </div>
            </div>
            <div class="app-info">
                <h3>Ofisim İK</h3>
                <h4>Ofisim Apps </h4>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 app-layout-box">
            <div class="app-box">
                <div class="oval">
                    <span class="oval-orange" data-trigger="click" data-type="success" data-title="Published"
                          bs-tooltip></span>
                </div>
                <div class="image">
                    <img src="https://ofisimcomprod.blob.core.windows.net/app-logo/08409435-9bff-4e49-a9ee-a82900c3f2ee_21afb109-0627-4f70-9e5a-e27eccd5f103.PNG"/>
                </div>
            </div>
            <div class="app-info">
                <h3>Ofisim İK</h3>
                <h4>Ofisim Apps </h4>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 app-layout-box">
            <div class="app-box">
                <div class="oval">
                    <span class="oval-green"></span>
                </div>
                <div class="image">
                    <img src="https://ofisimcomprod.blob.core.windows.net/app-logo/08409435-9bff-4e49-a9ee-a82900c3f2ee_21afb109-0627-4f70-9e5a-e27eccd5f103.PNG"/>
                </div>
            </div>
            <div class="app-info">
                <h3>Ofisim İK</h3>
                <h4>Ofisim Apps </h4>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 app-layout-box">
            <div class="app-box">
                <div class="oval">
                    <span class="oval-green"></span>
                </div>
                <div class="image">
                    <img src="https://ofisimcomprod.blob.core.windows.net/app-logo/08409435-9bff-4e49-a9ee-a82900c3f2ee_21afb109-0627-4f70-9e5a-e27eccd5f103.PNG"/>
                </div>
            </div>
            <div class="app-info">
                <h3>Ofisim İK</h3>
                <h4>Ofisim Apps </h4>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 app-layout-box">
            <div class="app-box">
                <div class="oval">
                    <span class="oval-orange"></span>
                </div>
                <div class="image">
                    <img src="https://ofisimcomprod.blob.core.windows.net/app-logo/08409435-9bff-4e49-a9ee-a82900c3f2ee_21afb109-0627-4f70-9e5a-e27eccd5f103.PNG"/>
                </div>
            </div>
            <div class="app-info">
                <h3>Ofisim İK</h3>
                <h4>Ofisim Apps </h4>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 app-layout-box">
            <div class="app-box">
                <div class="oval">
                    <span class="oval-green"></span>
                </div>
                <div class="image">
                    <img src="https://ofisimcomprod.blob.core.windows.net/app-logo/08409435-9bff-4e49-a9ee-a82900c3f2ee_21afb109-0627-4f70-9e5a-e27eccd5f103.PNG"/>
                </div>
            </div>
            <div class="app-info">
                <h3>Ofisim İK</h3>
                <h4>Ofisim Apps </h4>
            </div>
        </div>

    </div>

</div>
