<div class="setup-layout" ng-class="subtoggleClass">
    <div class="row clearfix">
        <div class="menu app-menu2">
            <div class="sidemenu setup-title">
                <h2><span>{{$parent.$parent.me.full_name}}</span></h2>
                <button class="btn btn-radius btn-gray backclose" ng-click="toggledSubMenu()" data-trigger="hover" data-type="info"
                        data-title="Collapse" bs-tooltip data-placement="right"><i class="fas fa-long-arrow-alt-left"></i></button>
                <button class="btn btn-radius btn-gray backopen" ng-click="toggledSubMenu()" data-trigger="hover" data-type="info"
                        data-title="Expand" bs-tooltip data-placement="right"><i class="fas fa-long-arrow-alt-right"></i></button>
            </div>
            <ng-include  src="'view/settings/common/settingsMenu.html'"></ng-include>
            <!--<div class="submenu-togle" ng-click="toggledSubMenu()">-->
                <!--<i class="fas fa-long-arrow-alt-left" data-trigger="hover" data-type="info" data-title="Close" bs-tooltip data-placement="top"></i>-->
                <!--<i class="fas fa-long-arrow-alt-right" data-trigger="hover" data-type="info" data-title="Open" bs-tooltip data-placement="top"></i>-->
            <!--</div>-->
        </div>

        <div class="content-in2">
            <div ui-view="app">
            </div>
        </div>
    </div>
</div>
