<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="settingsForm" class="form" ng-submit="$parent.expenseSubmitSettings()" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">{{'Expenses.ExpenseSheetSettings' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <label class="col-sm-6 control-label">{{'Expenses.ExpensePeriodYear' | translate}}</label>
                        <div class="col-sm-3">
                            <ui-select ng-model="settings.expenseYear" ng-disabled="true">
                                <ui-select-match placeholder="{{'Expenses.Years' | translate}}">{{$select.selected.label_tr}}</ui-select-match>
                                <ui-select-choices repeat="item in yearList | filter:{label_tr: $select.search}">
                                    <div ng-bind-html="item.label_tr | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-6 control-label">{{'Expenses.ExpensePeriodMonth' | translate}}</label>
                        <div class="col-sm-3">
                            <ui-select ng-model="settings.expenseMonth" ng-disabled="true">
                                <ui-select-match placeholder="{{'Expenses.Months' | translate}}">{{$select.selected.label_tr}}</ui-select-match>
                                <ui-select-choices repeat="item in monthList | filter:{label_tr: $select.search}">
                                    <div ng-bind-html="item.label_tr | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row form-group" ng-class="{'has-error': settingsForm.$submitted && settingsForm.expenseEntryEndDate.$invalid}">
                        <label class="col-sm-6 control-label">{{'Expenses.ExpenseEntryEndDate' | translate}}</label>
                        <div class="col-sm-3">
                            <input type="text"
                                   style="width: 100% !important;"
                                   name="expenseEntryEndDate"
                                   autocomplete="off"
                                   class="form-control ng-animate-disabled pull-left datetime-date"
                                   ng-model="settings.expenseEntryEndDate"
                                   placeholder="{{'Common.Date' | translate}}"
                                   data-autoclose="1"
                                   data-date-type="iso"
                                   data-icon-left="fa fa-chevron-left"
                                   data-icon-right="fa fa-chevron-right"
                                   bs-datepicker>
                        </div>
                    </div>
                    <div class="row form-group" ng-class="{'has-error': settingsForm.$submitted && settingsForm.processDate.$invalid}">
                        <label class="col-sm-6 control-label">{{'Expenses.ProcessApprovalDate' | translate}}</label>
                        <div class="col-sm-3">
                            <input type="text"
                                   style="width: 100% !important;"
                                   name="processDate"
                                   autocomplete="off"
                                   class="form-control ng-animate-disabled pull-left datetime-date"
                                   ng-model="settings.expenseProcessDate"
                                   placeholder="{{'Common.Date' | translate}}"
                                   data-autoclose="1"
                                   data-date-type="iso"
                                   data-icon-left="fa fa-chevron-left"
                                   data-icon-right="fa fa-chevron-right"
                                   bs-datepicker>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-6 control-label">{{'Expenses.ExpensePeriodDescription' | translate}}</label>
                        <div class="col-sm-3">
                            <textarea name="expenseDescription" class="form-control" rows="3" maxlength="4000" ng-model="settings.expenseDescription"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-custom" ng-click="$hide()">{{'Common.Cancel' | translate}}</button>
                        <button type="submit" class="btn btn-primary btn-w-lg" ladda="saving"><i class="fa fa-check-circle pull-left"></i> {{'Common.Save' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>