<div class="setup-title">
    <h2> {{ selectedCollaborator ? selectedCollaborator.full_name:'Collaborators' }} </h2>
    <div>
        <ul class="list-unstyled list-inline">
            <li ng-show="!selectedCollaborator">
                <button class="btn add-button" ng-click="addNewCollaborator()">
                    <i class="fas fa-plus"></i> Add New Collaborator
                </button>
            </li>
        </ul>

    </div>
</div>
<!--<form ng-submit="save()" ng-show="!selectedCollaborator">
    <div class="search-input">
        <div class="search-input-icon">
            <i class="fas fa-user-plus"></i>
        </div>
        <input ng-model="newUserEmail" placeholder="Invite collaborators by email"
               class="form-control form-control-lg form-control-borderless app-search-input ng-pristine ng-valid ng-empty ng-touched required-field"
               type="email" style="" required>
    </div>
    <br />
</form>-->
<div class="tab-content table-responsive" ng-show="!selectedCollaborator">
    <table class="table" ng-show="loading">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in placeholderArray">
                <td class="text-center">
                    <div>
                        <div class="animated-background"></div>
                    </div>
                </td>
                <td>
                    <div class="animated-background"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table" ng-show="!loading">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in collaboratorArray" ng-click="selectCollaborators(user.id)">
                <td>
                    <div class="user-info">
                        <div class="user-image">
                            <!--<image src="" />-->
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="user-text">
                            <h2 class="ng-binding">{{user.full_name}}</h2>
                            <h3 class="ng-binding">{{user.email}}</h3>
                        </div>
                    </div>
                </td>
                <td>{{user.role ? user.role:'-'}}</td>
            </tr>
        </tbody>
    </table>
    <div class="table-pagination">
        <div>
            <nav aria-label="Page navigation">
                <div paging
                     text-first="&laquo;"
                     ul-class="pagination"
                     active-class="active"
                     page="requestModel.offset"
                     page-size="requestModel.limit"
                     total="pageTotal"
                     scroll-top="true"
                     hide-if-empty="true"
                     show-prev-next="true"
                     show-first-last="true"
                     text-next-class="fas fa-chevron-right"
                     text-prev-class="fas fa-chevron-left"
                     text-first-class="fas fa-step-backward"
                     text-last-class="fas fa-step-forward"
                     paging-action="changePage(page)">
                </div>
            </nav>
        </div>
        <div class="total">Total {{pageTotal}}</div>
        <div>
            <span class="pagination-span">{{'Common.ItemPerPage' | translate}} </span>
            <select ng-model="requestModel.limit" class="items-per-page-select" ng-change="changeOffset()">
                <option ng-selected="true" value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-lg-6">
        <div class="tab-content collaborator-detail" ng-show="selectedCollaborator" >
            <div ng-show="updatingRole" class="page-loading2"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
            <div class="">
                <i class="fas fa-user-circle fa-9x"></i>
            </div>
            <div>
                <h2> {{selectedCollaborator.email}}</h2>
                <small>Joined :{{selectedCollaborator.created_at | date:'medium'}}</small>
            </div>
            <div>
                <div class="form-group">
                    <select ng-disabled="removing" required ng-model="collaboratorModel.role" name="role" class="form-control ng-animate-disabled" ng-options="role.name for role in roles" ng-change="update(collaboratorModel); updatingRole = true;"></select>
                </div>
            </div>

            <div>
                <button ladda="removing" ng-disabled="updatingRole || (selectedCollaborator.role === 'administrator' && selectedCollaborator.id == me.id) " ng-click="delete(selectedCollaborator.id)" class="btn btn-red btn-radius">Remove from organization</button>
            </div>
        </div>
    </div>

</div>