<!--<div class="setup-title">
    <h2> Collaborators </h2>
    <div>
        <ul class="list-unstyled list-inline">
            <li>
                <button class="btn add-button" ng-click="addNewCollaborator()">
                    <i class="fas fa-plus"></i> New Collaborator
                </button>
            </li>
        </ul>
    </div>
</div>-->
<div class="setup-title ng-scope">
    <h2>Collaborators</h2>
</div>

<div class="form-group">
    <input type="text"
           name="label"
           class="form-control ng-animate-disabled col-sm-8"
           style="height: 60px;line-height: 60px;box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);background: #FFF;"
           ng-keypress="enterKeyPress($event)"
           placeholder="Write email and press enter to add collaborator"
           ng-model="email">
</div>

<div class="tab-content table-responsive col-sm-12" style="margin-top: 30px;float: left;">
    <table class="table" ng-show="loading">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th width="70"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in placeholderArray">
                <td class="text-center">
                    <div>
                        <div class="animated-background"></div>
                    </div>
                </td>
                <td>
                    <div class="animated-background"></div>
                </td>
                <td>
                    <div class="animated-background"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table" ng-show="!loading">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th style="width: 50px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in collaboratorArray" style="cursor:inherit;">
                <td>
                    <div class="user-info">
                        <div class="user-image">
                            <!--<image src="" />-->
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="user-text">
                            <h2 class="ng-binding">{{user.full_name}}</h2>
                            <h3 class="ng-binding">{{user.email}}</h3>
                        </div>
                    </div>
                </td>
                <td>
                    <div style="position:relative;">
                        <select name="profile" ng-disabled="user.updating || (user.role === 'administrator' && user.id == me.id)"
                                class="form-control ng-animate-disabled"
                                ng-model="user.role"
                                ng-change="update(user)"
                                ng-options="o.value as o.name for o in roles"></select>

                        <span style="position:absolute;z-index:1;left:50%;top:50%;margin-left:-12px;margin-top:-12px;"><img src="../../../../images/loading.gif" ng-show="user.updating" /></span>
                    </div>
                </td>
                <td class="text-right">
                    <div class="action-buttons-block">
                        <button ng-click="$event.stopPropagation(); delete(user)" ladda="user.deleting" type="button" class="action-buttons-delete" ng-disabled="user.id === me.id">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-pagination">
        <div>
            <nav aria-label="Page navigation">
                <div paging
                     text-first="&laquo;"
                     ul-class="pagination"
                     active-class="active"
                     page="page"
                     page-size="requestModel.limit"
                     total="pageTotal"
                     scroll-top="true"
                     hide-if-empty="true"
                     show-prev-next="true"
                     show-first-last="true"
                     text-next-class="fas fa-chevron-right"
                     text-prev-class="fas fa-chevron-left"
                     text-first-class="fas fa-step-backward"
                     text-last-class="fas fa-step-forward"
                     paging-action="changePage(page)">
                </div>
            </nav>
        </div>
        <div class="total">Total {{pageTotal}}</div>
        <div>
            <span class="pagination-span">{{'Common.ItemPerPage' | translate}} </span>
            <select ng-model="requestModel.limit" class="items-per-page-select" ng-change="changeOffset()">
                <option ng-selected="true" value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
        </div>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-8 col-lg-6">
        <div class="tab-content collaborator-detail" ng-show="selectedCollaborator">
            <div ng-show="updatingRole" class="page-loading2"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
            <div class="">
                <i class="fas fa-user-circle fa-9x"></i>
            </div>
            <div>
                <h2> {{selectedCollaborator.email}}</h2>
                <small>Joined :{{selectedCollaborator.created_at | date:'medium'}}</small>
            </div>
            <div>
                <div class="form-group">
                    <select ng-disabled="removing || (selectedCollaborator.role === 'administrator' && selectedCollaborator.id == me.id)" required ng-model="collaboratorModel.role" name="role" class="form-control ng-animate-disabled" ng-options="role.name for role in roles" ng-change="update(collaboratorModel); updatingRole = true;"></select>
                </div>
            </div>

            <div>
                <button ladda="removing" ng-disabled="updatingRole || (selectedCollaborator.role === 'administrator' && selectedCollaborator.id == me.id) " ng-click="delete(selectedCollaborator.id,$event)" class="btn btn-red btn-radius">Remove from organization</button>
            </div>
        </div>
    </div>

</div>-->
