<div id="wrapper">
    <div id="navbar-wrapper">
        <nav class="navbar navbar-upper">
            <div class="navbar-header">
                <a class="navbar-brand" ng-href="{{app === 'crm' ? '#/app/dashboard' : '#/app/analytics/report'}}">
                    <img ng-src="{{workgroup.logo_url ? workgroup.logo_url : 'images/logo-header-'+ appLogo +'.jpg'}}"
                         border="0" class="logo" ng-class="{'ofisim-logo':!workgroup.logo_url}">
                </a>
                <button type="button" class="navbar-toggle ng-scope" ng-click="toggleFullLeftMenu()">
                    <span class="fa fa-bars fa-2x"></span>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!--<li>-->
                <!--<form class="navbar-form navbar-left search-form" data-toggle="dropdown">-->
                <!--<div class="form-group">-->
                <!--<input-->
                <!--type="text"-->
                <!--class="form-control"-->
                <!--placeholder="{{'Layout.Search' | translate}}"-->
                <!--ng-model="searchValue">-->
                <!--<i class="flaticon-search74"></i>-->
                <!--</div>-->
                <!--</form>-->
                <!--</li>-->
                <!--<li>-->
                <li>
                    <a href ng-click="removeSampleData()" class="remove-sample-data" ng-if="workgroup.has_sample_data" ladda="sampleRemoving"><i class="fa-sidebar-icon fa fa-trash"></i> {{'Layout.RemoveSampleData' | translate}}</a>
                </li>
                <li ng-if="preview">
                    <a href ng-click="reload()" data-title="{{'Common.Reload' | translate}}" data-trigger="hover" data-placement="bottom" bs-tooltip>
                        <i class="fa fa-refresh fa-2x" ng-class="{'fa-spin fa-fw':reloading}"></i>
                    </a>
                </li>
                <li data-title="{{'Common.Help' | translate}}" ng-hide="helpIconHide || preview || isCustomDomain" data-trigger="hover" data-placement="bottom" bs-tooltip>
                    <a href class="help-link" data-template-url="view/common/help.html" ng-click="helpSide()" data-placement="right"
                       data-animation="am-slide-right" data-container="body" bs-aside>
                        <i class="fa fa-question-circle"></i>
                    </a>
                </li>

				<li class="sip-phone-container" ng-if="sipAccessRights && sipUser">
					<a id="sipPhoneBtn" ng-click="showSipPhone()"
					   href class="nav-link">
						<i ng-if="!sipUser.events.IsRegistered" class="fa fa-phone-square fa-2x offlineColor"></i>
						<i ng-if="sipUser.events.IsRegistered"
						   ng-class="sipPhone[app].$isShown ? 'sip-registered-open fa-times-circle' : 'sip-registered fa-phone-square' "
						   class="fa  fa-2x "></i>
					</a>
					<div ng-hide="sipPhone[app].$isShown" ng-if="sipUser.events.IsRegistered && sipUser.lineInfo.State === 'Active'" class="sip-phone-active-timer box-shadow">
						{{sipUser.lineInfo.TalkingTimer | formatToMinuteAndSecond}}
					</div>
					<!--<div ng-hide="sipPhone[app].$isShown" ng-if="sipUser.events.IsRegistered && sipUser.lineInfo.State != 'Active' && sipUser.lineInfo.State != 'Ready'" class="sip-phone-state-info box-shadow">-->
					<!--{{sipUser.lineInfo.PhoneStatus}}-->
					<!--</div>-->
					<video style="display: none" autoplay>Video Disabled or Unavailable</video>
					<audio id="IncomingSound" style="display: none" preload="metadata">
						<source src="http://file.ofisim.com/static/ring.wav"
								type="audio/mpeg">
					</audio>
					<audio id="DialSound" style="display: none" preload="metadata">
						<source src="http://file.ofisim.com/static/call.mp3" type="audio/mpeg">
					</audio>
					<audio id="BusySound" style="display: none" preload="metadata">
						<source src="http://file.ofisim.com/static/busy.mp3" type="audio/mpeg">
					</audio>
				</li>
				<li ng-hide="preview || multiTenant.length <= 1" class="app-launcher-container">
					<a href class="launcher-link" data-template-url="view/common/app-launcher.html" data-auto-close="1" data-placement="bottom" bs-popover><i class="fa fa-th fa-2x"></i></a>
				</li>
				<li>
					<span class="nav-link nav-profile">
						<img src="images/user-image.png" ng-src="{{user.picture ? user.picture : 'images/user-image.png'}}" class="img-circle" />
						<span>{{user.first_name}} {{user.last_name}}</span>
					</span>
				</li>
				<li ng-show="!preview">
					<a href class="nav-link ng-scope"
					   ng-click="gotoSetup(app === 'crm' ? '#/app/setup/settings' : (user.profile.has_admin_rights ? '#/app/reports' : '#/app/analytics/report'))"
					   data-title="{{'Layout.SettingsTooltip' | translate}}" data-trigger="hover"
					   data-placement="bottom" bs-tooltip=""><span class="flaticon-cogwheel22"></span></a>
				</li>
				<li>
					<a href ng-click="logout()" class="nav-link" data-title="{{'Layout.LogoutTooltip' | translate}}" data-trigger="hover" data-placement="bottom" bs-tooltip><span class="flaticon-logout10"></span></a>
				</li>
			</ul>
		</nav>
	</div>
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a class="sidebar-brand-logo" href ng-click="toggleLeftMenu()">
					<i class="fa fa-bars fa-2x"></i>
				</a>
			</li>
			<div ng-show="customMenu" class="panel-group collapse-menu" ng-model="multiplePanels.activePanels" bs-collapse>
				<div class="panel-group">
					<div class="panel panel-default" ng-repeat="item in menu">
						<div ng-hide="item.hide" ng-if="!item.route" class="panel-heading">
							<h4 class="panel-title">
								<a class="menu-category clearfix" style="text-decoration: none !important;" bs-collapse-toggle>
									<div data-container="body" data-delay="300" data-placement="right" data-title="{{item['label_' + language]}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon {{item.menu_icon}}"></i></div>
									<div><span class="sidebar-menu-label">{{item['label_' + language]}}</span> <i class="pull-right glyphicon" style="margin-top:14px;padding-right: 20px;font-size:13px" ng-class="{'glyphicon-chevron-down': panels.activePanel === $index, 'glyphicon-chevron-right': panels.activePanel !== $index}"></i></div>
								</a>
							</h4>
						</div>
						<div ng-if="item.route" class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a ng-if="item.is_dynamic" href="#/app/modules/{{item.route}}" ng-click="routingPrism('#/app/modules/{{item.route}}')" ng-show="item.display" ng-class="{'active': currentPath === '/app/modules/{{item.route}}'}" style="text-decoration: none !important;">
									<div data-container="body" data-delay="300" data-placement="right" data-title="{{item['label_' + language]}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon {{item.menu_icon}}"></i></div>
									<span ng-model="collapsed" ng-click="isCollapsed=!isCollapsed" class="sidebar-menu-label">{{item['label_' + language]}}</span>
								</a>
								<a ng-if="!item.is_dynamic" href="#/app/{{item.route}}" ng-click="routingPrism('#/app/{{item.route}}')" ng-show="item.display" ng-class="{'active': currentPath === '/app/{{item.route}}'}">
									<div data-container="body" data-delay="300" data-placement="right" data-title="{{item['label_' + language]}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon {{item.menu_icon}}"></i></div>
									<span ng-model="collapsed" ng-click="isCollapsed=!isCollapsed" class="sidebar-menu-label">{{item['label_' + language]}}</span>
								</a>
							</h4>
						</div>
						<div ng-if="!item.route" style="position: relative;" class="panel-collapse" role="tabpanel" bs-collapse-target>
							<div class="panel-body" ng-class="{'toggled-menu':toggled}">
								<li ng-repeat="subMenu in menu[$index].menu_items | orderBy:'order'">
									<a ng-hide="subMenu.hide || subMenu.deleted" ng-if="subMenu.is_dynamic" href="#/app/modules/{{subMenu.route}}" ng-click="routingPrism('#/app/modules/{{subMenu.route}}')" ng-show="item.display" ng-class="{'active': currentPath === '/app/modules/{{subMenu.route}}'}">
										<div data-container="body" data-delay="300" data-placement="right" data-title="{{subMenu['label_' + language]}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon {{subMenu.menu_icon}}"></i></div>
										<span class="sidebar-menu-label">{{subMenu['label_' + language]}}</span>
									</a>
									<a ng-hide="subMenu.hide || subMenu.deleted" ng-if="!subMenu.is_dynamic" href="#/app/{{subMenu.route}}" ng-click="routingPrism('#/app/{{subMenu.route}}')" ng-show="item.display" ng-class="{'active': currentPath === '/app/{{subMenu.route}}'}">
										<div data-container="body" data-delay="300" data-placement="right" data-title="{{subMenu['label_' + language]}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon {{subMenu.menu_icon}}"></i></div>
										<span class="sidebar-menu-label">{{subMenu['label_' + language]}}</span>
									</a>
								</li>
							</div>
						</div>
					</div>
					<li ng-if="isAvailableForSmallDevice()">
						<a href ng-click="logout()">
							<div data-container="body" data-delay="300" data-placement="right" data-title="{{'Auth.Logout' | translate}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon fa fa-sign-out"></i></div>
							<span class="sidebar-menu-label">{{'Auth.Logout' | translate}}</span>
						</a>
					</li>
				</div>
			</div>
            <div ng-show="!customMenu">
                <li ng-if="user.profile.home">
                    <a href="#/app/home" ng-click="routingPrism('#/app/home')"
                       ng-class="{'active': currentPath === '/app/home'}">
                        <div data-delay="300" data-placement="right" data-container="body" data-title="{{'Layout.Menu.Homepage' | translate}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon fa fa-home"></i></div>
                        <span class="sidebar-menu-label">{{'Layout.Menu.Homepage' | translate}}</span>
                    </a>
                </li>
                <li ng-if="user.profile.dashboard">
                    <a href="#/app/dashboard" ng-click="routingPrism('#/app/dashboard')"
                       ng-class="{'active': currentPath === '/app/dashboard'}">
                        <div data-delay="300" data-placement="right" data-container="body" data-title="{{'Layout.Menu.Dashboard' | translate}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon fa fa-pie-chart"></i></div>
                        <span class="sidebar-menu-label">{{'Layout.Menu.Dashboard' | translate}}</span>
                    </a>
                </li>
                <li ng-if="user.profile.newsfeed">
                    <a href="#/app/newsfeed" ng-click="routingPrism('#/app/newsfeed')"
                       ng-class="{'active': currentPath === '/app/newsfeed'}">
                        <div data-delay="300" data-placement="right" data-container="body" data-title="{{'Layout.Menu.Newsfeed' | translate}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon fa fa-comments"></i></div>
                        <span class="sidebar-menu-label">{{'Layout.Menu.Newsfeed' | translate}}</span>
                    </a>
                </li>
                <li ng-repeat="module in modules | orderBy:['-system_type','order']" class="text-uppercase" ng-show="hasPermission(module.name, operations.read) && module.display && module.system_type != 'component'">
                    <a href="#/app/modules/{{module.name}}" ng-click="routingPrism('#/app/modules/' + module.name)" ng-class="{'active': ((currentPath.indexOf('modules/' + module.name) > -1 || currentPath.indexOf('module/' + module.name) > -1 || module.name.indexOf(activeModuleName) > -1) && currentPath.indexOf('/setup') <= -1)}">
                        <div data-container="body" data-delay="300" data-placement="right" data-title="{{module['label_' + language + '_plural']}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon {{module.menu_icon}}"></i></div>
                        <span class="sidebar-menu-label">{{module['label_' + language + '_plural']}}</span>
                    </a>
                </li>
                <li ng-repeat="component in componentModules | orderBy:['-system_type','order']" class="text-uppercase" ng-show="hasPermission(component.name, operations.read) && component.display && (component.components | filter: {name:component.name}).length > 0">
                    <a href="#/app/{{component.name}}" ng-click="routingPrism('#/app/' + component.name, true)"
                       ng-class="{'active': (currentPath=='/app/' + component.name  && currentPath.indexOf('/setup') < 0)}">
                        <div data-container="body" data-delay="300" data-placement="right" data-title="{{component['label_' + language + '_plural']}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon {{component.menu_icon}}"></i></div>
                        <span class="sidebar-menu-label">{{component['label_' + language + '_plural']}}</span>
                    </a>
                </li>
                <li ng-show="showTimesheetMenu">
                    <a href="#/app/timesheet" ng-click="routingPrism('#/app/timesheet')"
                       ng-class="{'active': currentPath === '/app/timesheet'}">
                        <div data-container="body" data-delay="300" data-placement="right"
                             data-title="{{'Layout.Menu.Timesheet' | translate}}" bs-tooltip class="fa-sidebar-icon-background">
                            <i class="fa-sidebar-icon fa fa-calendar-o"></i>
                        </div>
                        <span class="sidebar-menu-label">{{'Layout.Menu.Timesheet' | translate}}</span>
                    </a>
                </li>
                <li ng-show="isTimetrackerExist && hasPermission('timetrackers', operations.read)">
                    <a href="#/app/timetracker" ng-click="routingPrism('#/app/timetracker')"
                       ng-class="{'active': currentPath === '/app/timetracker'}">
                        <div data-container="body" data-delay="300" data-placement="right"
                             data-title="{{'Layout.Menu.Timetracker' | translate}}" bs-tooltip class="fa-sidebar-icon-background">
                            <i class="fa-sidebar-icon fa fa-calendar-o"></i>
                        </div>
                        <span class="sidebar-menu-label">{{'Layout.Menu.Timetracker' | translate}}</span>
                    </a>
                </li>
                <li ng-if="advancedDocumentSearch">
                    <a href="#/app/documentSearch" ng-click="routingPrism('#/app/documentSearch')"
                       ng-class="{'active': currentPath === '/app/documentSearch'}">
                        <div data-container="body" data-delay="300" data-placement="right" data-title="{{'Layout.Menu.AdvancedDocumentSearch' | translate}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon fa fa-search"></i></div>
                        <span class="sidebar-menu-label">{{'Layout.Menu.AdvancedDocumentSearch' | translate}}</span>
                    </a>
                </li>
                <li ng-if="permissionsReport.read">
                    <a href="#/app/reports" ng-click="routingPrism('#/app/reports')" class="text-uppercase"
                       ng-class="{'active': currentPath === '/app/reports'}">
                        <div data-container="body" data-delay="300" data-placement="right"
                             data-title="{{'Layout.Menu.Reports' | translate}}" bs-tooltip
                             class="fa-sidebar-icon-background ng-scope">
                            <i class="fa-sidebar-icon fa fa-bar-chart"></i>
                        </div>
                        <span class="sidebar-menu-label">{{'Layout.Menu.Reports' | translate}}</span>
                    </a>
                </li>
                <li ng-if="workgroup.has_analytics && user.has_analytics">
                    <a href="#/app/analytics" ng-click="routingPrism('#/app/analytics')" class="text-uppercase"
                       ng-class="{'active': currentPath === '/app/analytics'}">
                        <div data-container="body" data-delay="300" data-placement="right"
                             data-title="{{'Layout.Menu.Analytics' | translate}}" bs-tooltip
                             class="fa-sidebar-icon-background ng-scope">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                        </div>
                        <span class="sidebar-menu-label">{{'Layout.Menu.Analytics' | translate}}</span>
                    </a>
                </li>
                <li ng-if="user.profile.tasks">
                    <a href="#/app/tasks" ng-click="routingPrism('#/app/tasks')" class="text-uppercase"
                       ng-class="{'active': currentPath === '/app/tasks'}">
                        <div data-container="body" data-delay="300" data-placement="right" data-title="{{'Layout.Menu.Tasks' | translate}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon fa fa-check-square-o"></i></div>
                        <span class="sidebar-menu-label">{{tasksNamePlural ? tasksNamePlural.value : ('Layout.Menu.Tasks' | translate)}}</span>
                    </a>
                </li>
                <li ng-if="user.profile.calendar">
                    <a href="#/app/calendar" ng-click="routingPrism('#/app/calendar')"
                       ng-class="{'active': currentPath === '/app/calendar'}">
                        <div data-container="body" data-delay="300" data-placement="right" data-title="{{'Layout.Menu.Calendar' | translate}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon fa fa-calendar"></i></div>
                        <span class="sidebar-menu-label">{{'Layout.Menu.Calendar' | translate}}</span>
                    </a>
                </li>
                <li ng-if="isAvailableForSmallDevice()">
                    <a href ng-click="logout()">
                        <div data-container="body" data-delay="300" data-placement="right" data-title="{{'Auth.Logout' | translate}}" bs-tooltip class="fa-sidebar-icon-background"><i class="fa-sidebar-icon fa fa-sign-out"></i></div>
                        <span class="sidebar-menu-label">{{'Auth.Logout' | translate}}</span>
                    </a>
                </li>
            </div>
		</ul>
	</div>
	<div id="page-content-wrapper" class="container">
		<div class="row clearfix">
			<div ui-view="app"></div>
		</div>
	</div>
</div>
