<div class="setup-title">
    <h2>Profile</h2>
</div>
<div class="tab-content" style="padding: 30px;">
    <form name="userForm" ng-submit="editUser(userModel)" class="form-horizontal" novalidate>

        <div class="row" style="display: flex;align-items: center;">
            <div class="col-sm-4">
                <div style="margin: auto;text-align: center;">
                    <div class="file-uploader" style="background: none;">
                        <div ng-show="!me.picture || uploader.queue.length === 0" class="organization-icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <div ng-show="uploader.queue.length > 0 || me.picture" style="width: 100px;border-radius: 50px;overflow: hidden">
                            <span class="imgfix imgy">
                               <img class="imgin" ng-src="{{uploader.queue[0].image}}" alt="" />
                               <img class="blank" src="images/primeapps/blank_k.png" alt="" />
                            </span>
                        </div>
                    </div>
                </div>
                <div style="text-align: center">
                    <label>Image must not exceed</label>
                    <label>512 px and 1 MB</label>
                </div>
                <div class="text-center">
                    <label class="newinput">
                        <input type="file" nv-file-select="" uploader="uploader" ng-disabled="croppedImage">
                        <span class="btn btn-radius btn-gray"><i class="fas fa-upload"></i> Change image</span>
                    </label>
                </div>
            </div>
            <div class="col-sm-8" style="border-left: solid 2px #dfdfdf;">
                <div class="form-group" show-errors>
                    <label>{{'Setup.Settings.Email' | translate}}</label>
                    <input type="email" name="email" class="form-control" maxlength="50" ng-minlength="3" required ng-model-options="{ updateOn: 'blur' }" ng-model="userModel.email" disabled />
                </div>

                <div class="form-group" show-errors>
                    <label>{{'Setup.Settings.FirstName' | translate}} <span style="color: #999" class="required-label">({{'Common.Required' | translate }})</span></label>
                    <input type="text" name="firstName" class="form-control" ng-minlength="2" maxlength="40" required ng-model="userModel.firstName" />
                </div>

                <div class="form-group" show-errors>
                    <label>{{'Setup.Settings.LastName' | translate}} <span style="color: #999" class="required-label">({{'Common.Required' | translate }})</span></label>
                    <input type="text" name="lastName" class="form-control" ng-minlength="2" maxlength="40" required ng-model="userModel.lastName" />
                </div>

                <div class="form-group am-fade-and-slide-top" ng-show="userForm.$submitted && userForm.$invalid">
                    <div class="col-sm-offset-3 col-sm-8">
                        <div class="callout callout-danger">
                            <p ng-if="userForm.$error.required">{{'Setup.Settings.ErrorEmpty' | translate}}</p>
                            <p ng-if="userForm.$error.minlength">{{'Setup.Settings.NameMinimum' | translate}}</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" ladda="userUpdating" class="btn add-button btn-radius btn-blue"><i class="fas fa-save"></i> {{'Common.Save' | translate}}</button>
                </div>
            </div>
        </div>
    </form>
</div>


