<div class="popover">
    <div class="arrow"></div>
    <div class="popover-content">
        <div ng-if="!licenseInfo.IsFrequencyChangeAllowed" class="not-allowed">
            <i class="fa fa-2x fa-exclamation-circle"></i>
            <p ng-bind-html="'Setup.License.ChangeNotAllowed' | translate:notAllowedParams"></p>
            <div class="clearfix">
                <button type="button" class="btn btn-custom pull-right" ng-click="$hide()"> {{'Common.Close' | translate}}</button>
            </div>
        </div>
        <div ng-if="licenseInfo.IsFrequencyChangeAllowed">
            <p ng-bind-html="'Setup.License.ChangeMessage' | translate:changeParams"></p>
            <button type="button" class="btn btn-custom" ng-click="$hide()" ng-disabled="licenseChanging"> {{'Common.Cancel' | translate}}</button>
            <button type="button" class="btn btn-primary btn-w-lg" ladda="licenseChanging" ng-click="change()"><i class="fa fa-check-circle pull-left"></i>{{'Common.Confirm' | translate}}</button>
        </div>
    </div>
</div>
    