<md-dialog flex="33">
    <form ng-cloak class="disable-validation-msg" kendo-validator="emailChangeForm"
          ng-submit="changeEmail(emailChangeForm)" autocomplete="off" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools"><h3>{{'Setup.Settings.ChangeEmail' | translate}}</h3><span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"><i class="fas fa-times"></i>
                    <md-tooltip md-direction="bottom">{{'Common.Cancel' | translate}}</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="form-group">
                    <input maxlength="100" required placeholder="e.g. myname@example.net" type="email" id="email"
                        name="email" ng-model="newUserEmail" class="k-textbox"/>
                    <span class="k-invalid-msg" data-for="email"></span></div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> {{'Common.Save' | translate}}</md-button>
            <span flex></span></md-dialog-actions>
    </form>
</md-dialog>