<div class="self">
    <div class="payment-wrapper">
        <div class="payment" ui-view="payment">
            <div class="page" style="margin-bottom: 20px;">
                <div class="panel panel-default">
                    <div class="panel-body info">
                        <i class="fa fa-2x fa-exclamation-circle"></i>
                        <p ng-bind-html="'Setup.Payment.PaymentRequired' | translate"></p>
                        <div class="promotion-form" style="background: none !important;">
                            <form name="promotionForm" class="form-horizontal form-custom" ng-submit="sendEmail(promotionForm)"
                                  autocomplete="off" novalidate style="padding-top: 20px">
                                <div class="form-group"
                                     ng-class="{'has-error': promotionForm.$submitted && promotionForm.fullName.$invalid}">
                                    <label class="col-sm-3 control-label" for="name">{{ 'Trial.Name' | translate }}:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" ng-required="true" ng-model="promotion.fullName" name="fullName"
                                               type="text" id="name">
                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error': promotionForm.$submitted && promotionForm.phoneNumber.$invalid}">
                                    <label class="col-sm-3 control-label " for="phoneNumber">{{ 'Trial.Phone' | translate}}:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" ng-required="true" ng-model="promotion.phoneNumber"
                                               name="phoneNumber" type="tel"
                                               id="phoneNumber">
                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error': promotionForm.$submitted && promotionForm.email.$invalid}">
                                    <label class="col-sm-3 control-label" for="email">{{ 'Trial.Email' | translate }}:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" ng-required="true" ng-model="promotion.email" name="email"
                                               type="email" id="email">
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                            <span style="color: black">
                                                <p ng-bind-html="'Setup.Payment.Adress' | translate"></p>
                                            </span>
                                </div>
                                <div class="form-group text-center" style="width: 120%">
                                    <button type="submit" class="btn btn-default submit-button" ladda="submitting">{{ 'Trial.Submit' | translate }}
                                    </button>
                                </div>
                            </form>
                        </div>

                        <a href class="pull-right" style="margin-left: 10px;" ng-click="logout()">{{'Auth.Logout' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>