<div class="setup-title">
    <h2>Functions</h2>
    <div>
        <ul class="list-unstyled list-inline">
            <li></li>
            <li>
                <button class="btn add-button" ng-click="createModal()"><i class="fas fa-plus"></i> Add New Function</button>
            </li>
        </ul>
    </div>
</div>

<div class="tab-content table-responsive" ng-if="!loading && functions.length === 0">
    <table class="table">
        <div class="col-sm-12" style="margin-top: 100px; margin-bottom: 100px; display: flex;justify-content: center;">
            <div class="row">
                <div class="col-sm-12" style="padding-bottom: 30px">
                    <img class="padding-10" src="images/primeapps/overview.png"
                         srcset="images/primeapps/overview@2x.png 2x,
                              images/primeapps/overview@3x.png 3x"
                         class="logo">

                    <div class="padding-10" ng-click="createModal()">
                        <button class="btn btn-radius btn-blue col-sm-12">
                            <i class="fas fa-plus"></i> Create your first Function
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </table>
</div>

<div class="tab-content table-responsive">
    <table class="table" ng-show="loading">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Module Id</th>
            <th>Place</th>
            <th>Order</th>
            <th width="50"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr ng-repeat="item in placeholderArray">
            <td>
                <div class="animated-background"></div>
            </td>
            <td>
                <div class="animated-background"></div>
            </td>
            <td>
                <div class="animated-background"></div>
            </td>
            <td>
                <div class="animated-background"></div>
            </td>
            <td>
                <div class="animated-background"></div>
            </td>
            <td class="text-center">
                <div class="animated-background"></div>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table" ng-if="!loading && functions.length !== 0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Runtime</th>
            <th>Handler</th>
            <th>Creation Time</th>
            <th width="50"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="function in functions" ui-sref="studio.app.functionDetail({id:function.id})">
            <td>{{function.name}}</td>
            <td>{{function.runtime}}</td>
            <td>{{function.handler}}</td>
            <td>{{getTime(function.created_at)}}</td>
            <td class="text-center">
                <div class="action-buttons-block">
                    <button ng-click="$event.stopPropagation();" type="button" data-toggle="dropdown"
                            class="btn btn-xs btn-default list-action-button"
                            placement="bottom-right"
                            data-animation="am-flip-x"
                            bs-dropdown
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ui-sref="studio.app.functionDetail({id:function.id})"
                               ng-click="$event.stopPropagation()">{{'Common.Edit' | translate}} </a>
                        </li>
                        <li>
                            <a ng-click="$event.stopPropagation();delete(function.id)">{{'Common.Remove' | translate}} </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="table-pagination" ng-if="!loading && functions.length !== 0">
        <div>
            <nav aria-label="Page navigation">
                <div paging
                     text-first="&laquo;"
                     ul-class="pagination"
                     active-class="active"
                     page="requestModel.offset"
                     page-size="requestModel.limit"
                     total="pageTotal"
                     scroll-top="true"
                     hide-if-empty="true"
                     show-prev-next="true"
                     show-first-last="true"
                     text-next-class="fas fa-chevron-right"
                     text-prev-class="fas fa-chevron-left"
                     text-first-class="fas fa-step-backward"
                     text-last-class="fas fa-step-forward"
                     paging-action="changePage(page)">
                </div>
            </nav>
        </div>
        <div>
            Total Function {{pageTotal}}
        </div>
        <div>
            <span class="pagination-span">Items per page  </span>
            <select ng-model="requestModel.limit" class="items-per-page-select" ng-change="changeOffset()">
                <option ng-selected="true" value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
        </div>
    </div>
</div>
