<ul class="nav nav-pills nav-stacked setup-nav">

    <li ng-class="activeMenuItem ==='collaborators' ? 'active' :''">
        <a href="/#/organization/1/collaborators">
            <i class="fas fa-info-circle"></i>
            <span>Collaborators</span>
        </a>
        <span ng-show="collaboratorCount" class="costume-bage">{{collaboratorCount}}</span>
    </li>
    <li ng-class="activeMenuItem ==='teams' ? 'active' :''">
        <a href="/#/organization/1/teams">
            <i class="fas fa-th-large"></i>
            <span>Teams</span>
        </a>
        <span class="costume-bage">42</span>
    </li>
    <li ng-class="activeMenuItem ==='distribution-groups' ? 'active' :''">
        <a href="">
            <i class="fas fa-file-alt"></i>
            <span>Distribution groups</span>
        </a>
    </li>
</ul>

