<ul class="nav nav-pills nav-stacked setup-nav">
    <li ng-repeat="team in teamArray" ng-class="team.id === teamId ? 'active' :''" ng-click="selectTeam(team.id)" data-trigger="hover" data-type="info" data-title="{{team.name}}" bs-tooltip data-placement="right">

        <div class="user-info">
            <div class="user-image">
                <!--<image src="" />-->
                <i ng-class="team.icon"></i>
            </div>
            <div class="user-text">
                <h2 class="ng-binding">{{team.name}}</h2>
                <h3 class="ng-binding">Member:{{team.team_users.length}}</h3>
            </div>
        </div>
    </li>
</ul>
