<div class="modal setup-modal modal-600" tabindex="-1" role="dialog">
    <form name="uploadForm" class="form-horizontal form-custom" ng-submit="save(uploadForm);" autocomplete="off" novalidate>
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">{{'Setup.Templates.UploadTemplate' | translate}}</h4>
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button type="button" ng-disabled="saving" ng-click="addNewWordTemplateFormModal.hide(); template.content = currentContent;" class="btn add-button btn-radius btn-gray"><i class="fas fa-times"></i>{{'Common.Cancel' | translate}}</button>
                        </li>
                        <li>
                            <button type="submit" ladda="saving" ng-disabled="saving" class="btn add-button btn-radius btn-blue"><i class="fas fa-save"></i>{{'Common.Save' | translate}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog scroll-style-4">
            <div class="section">
                <div class="form-group" ng-class="{'has-error': uploadForm.$submitted && uploadForm.module.$invalid}">
                    <label class="col-sm-12 control-label">{{'Setup.Templates.Module' | translate}}</label>
                    <select name="module"
                            class="ng-animate-disabled form-control"
                            ng-model="template.templateModule"
                            ng-required="true"
                            ng-options="moduleItem['label_'+language+'_plural'] for moduleItem in appModules | filter:{name:'!users'} | orderBy:['-system_type','order']">
                        <option value="">{{'Common.Select' | translate}}</option>
                    </select>
                </div>

                <div class="form-group" ng-class="{'has-error': uploadForm.$submitted && uploadForm.templateName.$invalid}">
                    <label class="col-sm-12 control-label">{{'Setup.Templates.TemplateName' | translate}}</label>
                    <input type="text" name="templateName" class="form-control" ng-required="true" ng-model="template.templateName" />
                </div>

                <div class="form-group">
                    <label class="control-label">{{'Setup.Templates.TemplateStatus' | translate}}</label>
                    <div ng-init="template.active = true">
                        <label class="radio-inline newinput">
                            <input type="radio" name="templateStatus" ng-value="true" ng-model="template.active" />
                            {{'Setup.Templates.TemplateActive' | translate}}<span></span>
                        </label>

                        <label class="radio-inline newinput">
                            <input type="radio" name="templateStatus" ng-value="false" ng-model="template.active" />
                            {{'Setup.Templates.TemplateDeactive' | translate}}<span></span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-12 control-label">{{'Setup.Templates.TemplateFile' | translate}}</label>
                    <div>
                        <div class="uploadedfilename">
                            <span class="uploadedfilenamein" ng-hide="!fileUpload.uploader.files.length && template.id">{{fileUpload.uploader.files[0].name}}</span>
                            <a class="uploadedfilenamein" href="{{getDownloadUrl(template)}}" target="_blank" ng-show="!fileUpload.uploader.files.length && template.id">{{template.content}}</a>
                            <a class="clear-button" ng-show="fileUpload.uploader.files.length || (!templateFileCleared && template.id)" ng-disabled="saving" ng-click="clearTemplateFile()"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="newupload" ng-hide="fileUpload.uploader.files.length || (template.id && !templateFileCleared) || saving">
                            <label class="uploadlink" plupload="fileUpload" ng-disabled="fileUpload.uploader.files.length || (template.id && !templateFileCleared) || saving">
                                <input id="uploadFile" type="file" name="fileUpload" accept=".docx,.doc" add-file="add-file">
                                <span>
                                    <i class="fas fa-cloud-upload-alt"></i>
                                    <small>Please choose a file or drag it here  </small>
                                </span>
                            </label>
                        </div>
                        
                    </div>
                </div>

                <div class="form-group" ng-show="uploadForm.$submitted && uploadForm.$invalid">
                    <div class="callout callout-danger">
                        <p ng-if="uploadForm.$error.required">{{'Module.RequiredError' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
