<div class="modal setup-modal modal-900" tabindex="-1" role="dialog">
    
        <div class="modal-header">
            <div class="flex-between">
                <h4 class="modal-title">{{'Setup.Nav.ApprovelProcess' | translate}}</h4>
                <div>
                    <ul class="list-unstyled list-inline"> 
                        <li><button type="button" class="btn add-button btn-radius btn-gray"><i class="fas fa-times"></i>{{'Common.Cancel' | translate}}</button></li>
                        <li><button type="submit" class="btn add-button btn-radius btn-blue"><i class="fas fa-save"></i>{{'Common.Save' | translate}}</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-dialog">
            <div class="modal-content view-form">
                <div class="modal-body">
                    <div class="megalist">
                        <div class="modal-menu">
                            <ul class="list-unstyled">
                                <li><a ng-class="{'active':wizardStep==0}" ng-click="validate(workflowForm) ? wizardStep = 0 : false">{{'Setup.Workflow.ApprovelProcess.RuleInformation' | translate}}</a></li>
                                <li><a ng-class="{'active':wizardStep==1}" ng-click="validate(workflowForm) ? wizardStep = 1 : false">{{'Setup.Workflow.FilterCriteria' | translate}}</a></li>
                                <li><a ng-class="{'active':wizardStep==2}" ng-click="validate(workflowForm) ? wizardStep = 2 : false">{{'Setup.Workflow.ApprovelProcess.Approvers' | translate}}</a></li>
                                <li><a ng-class="{'active':wizardStep==3}" ng-click="(lastStepClicked && workflowForm.$valid && validate(workflowForm) ? wizardStep = 3 : false); getSummary();">{{'Setup.Workflow.ApprovelProcess.SummaryAndConfirmation' | translate}}</a></li>
                            </ul>
                        </div>
                        <div>
                            <div class="section" id="section1" ng-show="wizardStep == 0">  <!-- Burası tab ilgili tabın içeriği    --> </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

