<div class="popover">
    <div class="arrow"></div>
    <h3 class="popover-title">{{'Setup.Users.NewUserAdd' | translate}}</h3>

    <div ng-if="addUserForm" class="popover-content">
        <form name="userForm" ng-submit="addUser(addUserModel)" class="form-horizontal" novalidate ng-if="licenseAvailable">
            <div class="form-group" ng-class="{'has-error': userForm.$submitted && userForm['firstName'].$invalid}">
                <div class="col-sm-12">
                    <input type="text" name="firstName" class="form-control"
                           placeholder="{{'Setup.Users.NewUserName' | translate}}" required
                           ng-model="addUserModel.firstName" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': userForm.$submitted && userForm['lastName'].$invalid}">
                <div class="col-sm-12">
                    <input type="text" name="lastName" class="form-control"
                           placeholder="{{'Setup.Users.NewUserLastName' | translate}}" required
                           ng-model="addUserModel.lastName" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': userForm.$submitted && userForm['email'].$invalid}">
                <div class="col-sm-12">
                    <input type="email" name="email" class="form-control"
                           placeholder="{{'Setup.Users.NewUserEmail' | translate}}" required
                           ng-model="addUserModel.email" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': userForm.$submitted && userForm['profile'].$invalid}">
                <div class="col-sm-12">
                    <select
                            class="form-control"
                            name="profile"
                            ng-model="addUserModel.profile"
                            required
                            ng-options="o.id as o.name for o in profiles | orderBy:'name'">
                        <option value="">{{'Setup.Users.NewUserProfile' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': userForm.$submitted && userForm['role'].$invalid}">
                <div class="col-sm-12">
                    <ui-select ng-model="addUserModel.role">
                        <ui-select-match placeholder="{{'Setup.Users.NewUserRole' | translate}}">{{$select.selected[('label_'+language)] }}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in roles | filter:{[('label_'+language)]: $select.search} | orderBy:('label_'+language)" value="{{$select.selected.id}}">
                            <div ng-bind-html="item[('label_'+language)] | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group" ng-show="userForm.$submitted && userForm.$invalid">
                <div class="col-sm-12">
                    <div class="callout callout-danger">
                        <p ng-if="userForm.$error.required">{{'Module.RequiredError' | translate}}</p>

                        <p ng-if="userForm.$error.email">{{'Setup.Settings.ErrorEmail' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-custom" ng-click="$hide()" ng-disabled="userInviting">{{'Common.Cancel' | translate}}</button>
                    <button type="submit" class="btn btn-primary btn-w-lg" ladda="userInviting"><i class="fa fa-check-circle pull-left"></i> {{'Common.Add' | translate}}</button>
                </div>
            </div>
        </form>
        <div ng-if="!licenseAvailable" class="not-allowed">
            <i class="fa fa-2x fa-exclamation-circle"></i>
            <p ng-bind-html="'Setup.Users.AddonLicenseRequired' | translate"></p>
            <a href ng-click="gotoLicencePage()" style="margin-left: 40px;">{{'Setup.Users.AddonPageGoto' | translate}}</a>
            <button type="button" class="btn btn-custom" style="margin: 20px 0 0 40px;" ng-click="$hide()">{{'Common.Cancel' | translate}}</button>
        </div>
    </div>
    <div ng-if="!addUserForm" class="popover-content">
        <form name="userForm" ng-submit="sendOfficeUserPassword()" class="form-horizontal" novalidate>
            <label>Şifre</label>
            <div class="form-group" ng-class="{'has-error': userForm.$submitted && userForm['email'].$invalid}">
                <div class="col-sm-12">
                    <input type="text" name="pass" class="form-control"
                           required
                           ng-model="userPassword"
                           ng-disabled="true"/>
                </div>
            </div>
            <label>{{'Setup.Office.PasswordInfo' | translate}}</label>
            <div class="form-group" ng-show="userForm.$submitted && userForm.$invalid">
                <div class="col-sm-12">
                    <div class="callout callout-danger">
                        <p ng-if="userForm.$error.required">{{'Module.RequiredError' | translate}}</p>

                        <p ng-if="userForm.$error.email">{{'Setup.Settings.ErrorEmail' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-custom" ng-click="closeUserInfoPopover()" ng-disabled="userInviting">{{'Common.Close' | translate}}</button>
                    <button type="submit" class="btn btn-primary btn-w-lg" ng-disabled="hideSendEmailToUser" ladda="submitting"><i class="fa fa-check-circle pull-left"></i>{{'Setup.Office.SendEmail' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>