<form class="disable-validation-msg" name="templateForm" ng-submit="save(templateForm)" autocomplete="off" style="height:100%;" kendo-validator="validator" ng-disabled="current.system_type == 'system'" ng-cloak>
    <div ng-show="loadingModal" class="spin">
        <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
    </div>
    <section ng-show="!loadingModal" layout="column" style="height: 100%; overflow-y: hidden;" ng-cloak>
        <md-toolbar md-scroll-shrink ng-if="true">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="closeSide('sideModal')" aria-label="{{'Common.Close' | translate}}"><i class="fas fa-angle-left"></i></md-button>

                <h3 md-truncate ng-show="templateActiveTab ==='email'">{{'Setup.Nav.Tabs.EmailTemplate' | translate}}</h3>
                <h3 md-truncate ng-show="templateActiveTab ==='excel'">{{'Setup.Nav.Tabs.ExcelTemplate' | translate}}</h3>
                <h3 md-truncate ng-show="templateActiveTab ==='document'">{{'Setup.Nav.Tabs.DocumentTemplate' | translate}}</h3>
                <h3 md-truncate ng-show="templateActiveTab ==='sms'">{{'Setup.Nav.Tabs.SmsTemplate' | translate}}</h3>
                
                <md-button class="md-icon-button dockside" ng-class="isDocked ? 'active': ''" ng-class="isDocked ? 'active': ''" ng-click="sideModaldock()" aria-label="Close"><i class="fas fa-thumbtack"></i></md-button>
                <span flex></span>

                <md-button type="submit" ng-if="templateForm" class="md-icon-button btn btn-primary" ng-disabled="current.system_type == 'system'"><i class="fas fa-save"></i> <md-tooltip md-direction="bottom">{{'Common.Save' | translate}}</md-tooltip></md-button>

            </div>
        </md-toolbar>
        <md-content flex>
            <div class="container-fluid paddingua20">
                <div>

                    <div class="whitebox">
                        <div class="form-group">
                            <label>
                                <span>{{'Setup.Templates.TemplateName'  | translate}}</span>
                                <span class="required-label label-right">{{'Common.Required' | translate}}</span>
                            </label>
                            <input type="text" name="name" class="k-textbox" placeholder="{{'Setup.Templates.TemplateName'  | translate}}" required ng-model="current.name" ng-disabled="current.system_type == 'system'"/>
                        
                        </div>
                        
                        <div class="form-group">
                            <label for="module">
                                <span>{{'Module' | translate}} </span>
                                <span class="required-label label-right">{{'Common.Required' | translate}}</span>
                            </label>
                            </label>
                            <select kendo-drop-down-list
                                    class="form-control"
                                    id="module"
                                    name="module"
                                    k-options="moduleOptions"
                                    ng-model="current.module",
                                    ng-change="currentChangeModule()"
                                    k-option-label="'{{'Common.Select' | translate}}'"
                                    required
                                    ng-disabled="current.system_type == 'system'"></select>
                            <span class="k-invalid-msg" data-for="role"></span>
                        </div>
                        
                        <ul class="form-group">
                            <li class="d-flex justify-content-between align-items-center">
                                <span>{{'Status'  | translate}}</span>
                                <kendo-switch name="shareData1" ng-model="current.active" ng-disabled="current.system_type == 'system'"></kendo-switch>
                            </li>
                        </ul>

                        <div class="form-group" ng-if="templateActiveTab !='document' && templateActiveTab !='excel' && templateActiveTab !='sms' ">
                            <label>
                                <span>{{'Subject ' | translate}}</span>
                                <span class="required-label label-right">{{'Common.Required' | translate}}</span>
                            </label>
                            <input type="text" name="subject" class="k-textbox" placeholder="{{'Subject' | translate}}" required ng-model="current.subject" ng-disabled="current.system_type == 'system'"/>

                        </div>

                        <div class="form-group" ng-if="templateActiveTab !='document' && templateActiveTab !='excel' && templateActiveTab !='email'">
                            <label>
                                <span>{{'Content ' | translate}}</span>
                                <span class="required-label label-right">{{'Common.Required' | translate}}</span>
                            </label>
                            <label>
                                <textarea class="form-control" required ng-model="current.content" rows="7" ng-disabled="current.system_type == 'system'"></textarea>
                            </label>
                        </div>

                        <div class="form-group" ng-if="templateActiveTab !='document' && templateActiveTab !='excel' && templateActiveTab !='sms'"  >
                            <label>
                                <span>{{'Content ' | translate}}</span>
                                <span class="required-label label-right">{{'Common.Required' | translate}}</span>
                            </label>
                            <textarea mentio-id="'tinyMceTextArea2'"
                                      mentio mentio-typed-text="typedTerm"
                                      mentio-require-leading-space="true"   
                                      name="tinymceModel" ui-tinymce="tinymceTemplate" ng-required="formType === 'template'"
                                      mentio-iframe-element="iframeElement['tinymceTemplate']"
                                      ng-model="current.content"></textarea>
                            <div class="hide" plupload="imgUpload">
                                <input id="uploadImage" type="file" add-file="add-file" />
                            </div>
                            <div class="hide" plupload="fileUpload">
                                <input id="uploadFile" type="file" add-file="add-file" />
                            </div>
                            <script type="text/ng-template" id="tag-mentions.tpl">
                                <ul class="ment-tags" style="max-height: 250px;overflow: auto;">
                                    <li mentio-menu-item="tag" ng-repeat="tag in items"
                                        class=" item list-group-item clearfix"
                                        ng-class="{'item':!field.seperator,'seperator':tag.seperator, 'seperator-main':tag.name === 'seperator-main'}">
                                        {{tag.label}}
                                    </li>
                                </ul>
                            </script>
                            <mentio-menu class="mention-scrollbar" id="hastmenu2"
                                         mentio-for="'tinyMceTextArea2'" mentio-trigger-char="'#'"
                                         mentio-items="tags" mentio-template-url="tag-mentions.tpl"
                                         mentio-search="searchTags(term)"
                                         mentio-select="getTagTextRaw(item)"></mentio-menu>

                        </div>

                        <div class="form-group" ng-if="templateActiveTab==='document' || templateActiveTab==='excel'">
                            <label>
                                <span>{{'Setup.Templates.UploadTemplate' | translate}}</span>
                                <span class="label-right">
                                        <md-button class="btn btn-secondary label-btn" target="_blank" ng-if="current.content"  ng-click="wordDownload(current)">  
                                            <i class="fas fa-download"> </i>  
                                            <md-tooltip md-direction="bottom">{{'Common.Download' | translate}}</md-tooltip>  
                                        </md-button>
                                     <md-button class="btn btn-secondary label-btn" ng-if="current.content"  ng-click="remove()">
                                        <i class="fas fa-minus-circle"></i>
                                        <md-tooltip md-direction="bottom">{{'Common.Clear' | translate}}</md-tooltip>
                                    </md-button>
                                  <span class="required-label">{{'Common.Required' | translate}}</span>
                                    </span>
                            </label>
                            <input type="text" class="k-textbox" value="{{current.content}}" ng-disabled="current.system_type == 'system'" ng-show="fileUpload.queue.length > 0 || current.content"/>
                            <div class="newupload" ng-if="fileUpload.queue.length == 0 && !current.content">
                                <label class="uploadlink">
                                    <div ng-show="fileUpload.isHTML5" style="{{requiredColor}}">
                                        <div nv-file-drop="" uploader="fileUpload">
                                            <div nv-file-over="" uploader="fileUpload"
                                                 over-class="another-file-over-class" class="my-drop-zone">
                                                <input type="file" nv-file-select uploader="fileUpload" ng-disabled="current.system_type == 'system'" nv-file-over>
                                                <span>
                                                        <i class="fas fa-cloud-upload-alt"></i>
                                                        <small>Please choose a file or drag it here</small>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                                <span class="col-sm-12" style="font-size: 12px; margin: 0px;padding: 0px;">Template file must not exceed 10 MB.</span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="required">
                                {{'Permissions' | translate}}
                            </label>
                            <select class="form-control"
                                    kendo-multi-select
                                    k-options="profileOptions"
                                    k-ng-model="current.permissions"
                                    ng-disabled="current.system_type == 'system'"></select>
                        </div>
                        
                    </div>

                </div>
            </div>
        </md-content>
    </section>
</form>