<form class="disable-validation-msg" name="templateForm" ng-submit="save(templateForm)" autocomplete="off" style="height:100%;" kendo-validator="validator" ng-cloak>
    <div ng-show="loadingModal" class="spin">
        <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
    </div>
    <section ng-show="!loadingModal" layout="column" style="height: 100%; overflow-y: hidden;" ng-cloak>
        <md-toolbar md-scroll-shrink ng-if="true">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="closeSide('sideModal')" aria-label="{{'Common.Close' | translate}}"><i class="fas fa-angle-left"></i></md-button>

                <h3 md-truncate ng-show="templateActiveTab ==='email'">{{'Setup.Nav.Tabs.EmailTemplate' | translate}}</h3>
                <h3 md-truncate ng-show="templateActiveTab ==='excel'">{{'Setup.Nav.Tabs.ExcelTemplate' | translate}}</h3>
                <h3 md-truncate ng-show="templateActiveTab ==='document'">{{'Setup.Nav.Tabs.DocumentTemplate' | translate}}</h3>
                <h3 md-truncate ng-show="templateActiveTab ==='sms'">{{'Setup.Nav.Tabs.SmsTemplate' | translate}}</h3>

                <md-button class="md-icon-button dockside" ng-class="isDocked ? 'active': ''" ng-class="isDocked ? 'active': ''" ng-click="sideModaldock()" aria-label="Close"><i class="fas fa-thumbtack"></i></md-button>
                <span flex></span>

                <md-button type="submit" ng-if="templateForm" class="md-icon-button btn btn-primary"><i class="fas fa-save"></i> <md-tooltip md-direction="bottom">{{'Common.Save' | translate}}</md-tooltip></md-button>

            </div>
        </md-toolbar>
        <md-content flex>
            <div class="container-fluid paddingua20">
                <div>

                    <div class="whitebox">
                        <div class="form-group">
                            <label class="required">
                                {{'Setup.Templates.TemplateName'  | translate}} *
                            </label>
                            <input type="text" name="name" class="k-textbox" placeholder="{{'Setup.Templates.TemplateName'  | translate}}" required ng-model="current.name" />
                        </div>
                        <div class="form-group">
                            <label for="module" class="required">
                                {{'Module' | translate}} *
                            </label>
                            <select kendo-drop-down-list
                                    class="form-control"
                                    id="module"
                                    name="module"
                                    k-options="moduleOptions"
                                    ng-model="current.module",
                                    ng-change="currentChangeModule()"
                                    k-option-label="'{{'Common.Select' | translate}}'"
                                    required></select>
                            <span class="k-invalid-msg" data-for="role"></span>
                        </div>
                        <ul class="form-group">
                            <li class="d-flex justify-content-between align-items-center">
                                <span>{{'Status'  | translate}}</span>
                                <kendo-switch name="shareData1" ng-model="current.active"></kendo-switch>
                            </li>
                        </ul>

                        <div class="form-group" ng-if="templateActiveTab !='document' && templateActiveTab !='excel' && templateActiveTab !='sms' ">
                            <label class="required">
                                {{'Subject ' | translate}} *
                            </label>
                            <input type="text" name="subject" class="k-textbox" placeholder="{{'Subject' | translate}}" required ng-model="current.subject" />

                        </div>

                        <div class="form-group" ng-if="templateActiveTab !='document' && templateActiveTab !='excel' && templateActiveTab !='email'">
                            <label class="required">
                                {{'Content ' | translate}} *
                            </label>

                            <label>
                                <textarea class="form-control" required ng-model="current.content" rows="7"></textarea>
                            </label>
                        </div>

                        <div class="form-group" ng-if="templateActiveTab !='document' && templateActiveTab !='excel' && templateActiveTab !='sms'">
                            <label class="required">
                                {{'Content ' | translate}} *
                            </label>
                            <textarea mentio-id="'tinyMceTextArea2'"
                                      mentio mentio-typed-text="typedTerm"
                                      mentio-require-leading-space="true"
                                      name="tinymceModel" ui-tinymce="tinymceTemplateEdit" ng-required="formType === 'template'"
                                      mentio-iframe-element="iframeElement['tinymceTemplateEdit']"
                                      ng-model="current.content"></textarea>
                            <script type="text/ng-template" id="tag-mentions.tpl">
                                <ul class="ment-tags" style="max-height: 250px;overflow: auto;">
                                    <li mentio-menu-item="tag" ng-repeat="tag in items"
                                        class=" item list-group-item clearfix"
                                        ng-class="{'item':!field.seperator,'seperator':tag.seperator, 'seperator-main':tag.name === 'seperator-main'}">
                                        {{tag.label}}
                                    </li>
                                </ul>
                            </script>
                            <mentio-menu class="mention-scrollbar" id="hastmenu2"
                                         mentio-for="'tinyMceTextArea2'" mentio-trigger-char="'#'"
                                         mentio-items="tags" mentio-template-url="tag-mentions.tpl"
                                         mentio-search="searchTags(term)"
                                         mentio-select="getTagTextRaw(item)"></mentio-menu>

                        </div>

                        <div class="form-group" ng-if="templateActiveTab==='document' || templateActiveTab==='excel'">
                            <label>{{'Setup.Templates.TemplateFile' | translate}}  </label>
                            <div>
                                <div class="newupload" ng-if="fileUpload.queue.length == 0 && !current.content">
                                    <label class="uploadlink">
                                        <div ng-show="fileUpload.isHTML5" style="{{requiredColor}}">
                                            <div nv-file-drop="" uploader="fileUpload">
                                                <div nv-file-over="" uploader="fileUpload"
                                                     over-class="another-file-over-class" class="my-drop-zone">
                                                    <input type="file" nv-file-select uploader="fileUpload" nv-file-over>
                                                    <span>
                                                        <i class="fas fa-cloud-upload-alt"></i>
                                                        <small>Please choose a file or drag it here</small>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <span class="col-sm-12" style="font-size: 12px; margin: 0px;padding: 0px;">Template file must not exceed 10 MB.</span>
                                </div>
                                <div class="greybox d-flex align-items-center justify-content-between" ng-show="fileUpload.queue.length > 0 || current.content">
                                    <span ng-if="!current.content">{{fileUpload.queue[0]._file["name"]}}</span>
                                    <a ng-click="wordDownload(template)" target="_blank">{{current.content}}</a>
                                    <button class="btn" style="padding:0;" ng-disabled="saving" ng-click="remove()"><i class="fas fa-times"></i><md-tooltip md-direction="bottom">{{'Common.Clear' | translate}}</md-tooltip></button>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="required">
                                {{'Permissions' | translate}}
                            </label>
                            <select class="form-control"
                                    kendo-multi-select
                                    k-options="profileOptions"
                                    k-ng-model="current.permissions"></select>
                        </div>


                    </div>

                </div>
            </div>
        </md-content>
    </section>
</form>