 <md-content flex style="height: 100%;">
     <div ng-show="loading"><div class="spin"><div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div></div></div>
     <section ng-show="!loading" layout="column" style="height: 100%; overflow-y: hidden;" ng-cloak>
        <md-toolbar md-scroll-shrink ng-if="true" class="with-subheader">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button show-on-m" aria-label="{{'Common.Back' | translate}}" ng-click="goBack()"> <i class="fas fa-angle-left"></i> <md-tooltip md-direction="right">{{'Common.Back' | translate}}</md-tooltip> </md-button>
                <h2 md-truncate>{{'Setup.Nav.Templates' | translate}}</h2>
                <div class="helpbuttons">
                    <md-button ng-if="templateActiveTab ==='document' || templateActiveTab ==='excel'" class="md-icon-button" aria-label="{{'Setup.Templates.SelectTemplateFields' | translate}}"   ng-click="showTemplateGuideModal()"><i
                            class="fas fa-question-circle"></i>
                        <md-tooltip md-direction="bottom">{{'Common.Help' | translate}}</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button enlarge d-none d-lg-inline-block" ng-click="toggleFullLeftMenu()" aria-label="{{'Common.FullScreen' | translate}}">
                        <svg class="enlarge_icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" style="enable-background:new 0 0 36 36;" xml:space="preserve">
						<path d="M19.4,12.8c-0.8,0.8-0.8,2.1,0,2.9c0.8,0.8,2.1,0.8,2.9,0l5.1-5.1l3.2,3.2c0.8,0.8,1.4,0.5,1.4-0.6V5c0-1.1-0.9-2-2-2h-8.1 c-1.1,0-1.4,0.6-0.6,1.4l3.2,3.2L19.4,12.8z" />
                            <path d="M16.6,21.2c0.8-0.8,0.8-2.1,0-2.9c-0.8-0.8-2.1-0.8-2.9,0l-5.1,5.1l-3.2-3.2C4.6,19.5,4,19.8,4,20.9V29c0,1.1,0.9,2,2,2h8.1 c1.1,0,1.4-0.6,0.6-1.4l-3.2-3.2L16.6,21.2z" />
                            <path d="M31.4,6.5c0.8-0.8,0.8-2.1,0-2.9s-2.1-0.8-2.9,0l-5.1,5.1l-3.2-3.2c-0.8-0.8-1.4-0.5-1.4,0.6v8.1c0,1.1,0.9,2,2,2h8.1 c1.1,0,1.4-0.6,0.6-1.4l-3.2-3.2L31.4,6.5z" />
                            <path d="M4.6,27.5c-0.8,0.8-0.8,2.1,0,2.9c0.8,0.8,2.1,0.8,2.9,0l5.1-5.1l3.2,3.2c0.8,0.8,1.4,0.5,1.4-0.6v-8.1c0-1.1-0.9-2-2-2H7.1 c-1.1,0-1.4,0.6-0.6,1.4l3.2,3.2L4.6,27.5z" />
                        </svg>
                        <md-tooltip ng-if="!showTooltip" md-direction="bottom">{{'Common.FullScreen' | translate}}</md-tooltip>
                        <md-tooltip ng-if="showTooltip" md-direction="bottom">{{'Common.ExitFullScreen' | translate}}</md-tooltip>
                    </md-button>
                </div>
                <span flex></span>
                <md-button class="md-icon-button btn btn-primary" ng-click="openFormModal('new')" aria-label="{{'Setup.Templates.NewTemplate' | translate}}">
                    <i class="fas fa-plus"></i>
                    <md-tooltip md-direction="bottom"> {{'Setup.Templates.NewTemplate' | translate}}</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex>
            <md-subheader class="own-tab">
                <md-tabs md-dynamic-height md-swipe-content>
                    <md-tab ng-if="hasEmailPermission" md-active="templateActiveTab ==='email'" ng-click="changeTemplateActiveTab('email');goUrl('email')">
                        <md-tab-label id="email-template" aria-controls="{{'Setup.Nav.Tabs.EmailTemplate' | translate}}">
                            <div class="tab-container">
                                <span>{{'Setup.Nav.Tabs.EmailTemplate' | translate}}</span>
                            </div>
                        </md-tab-label>
                    </md-tab>
                    <md-tab  ng-if="hasDocumentPermission" md-active="templateActiveTab ==='document'" ng-click="changeTemplateActiveTab('document');goUrl('document')">
                        <md-tab-label id="document-template" aria-controls="{{'Setup.Nav.Tabs.Document' | translate}}">
                            <div class="tab-container">
                                <span>{{'Setup.Nav.Tabs.DocumentTemplate'  | translate}}</span>
                            </div>
                        </md-tab-label>
                    </md-tab>          
                    <md-tab ng-if="hasExcelPermission" md-active="templateActiveTab ==='excel'" ng-click="changeTemplateActiveTab('excel');goUrl('excel')">
                        <md-tab-label id="excel-template" aria-controls="{{'Setup.Nav.Tabs.ExcelTemplate' | translate}}">
                            <div class="tab-container">
                                <span>{{'Setup.Nav.Tabs.ExcelTemplate'  | translate}}</span>
                            </div>
                        </md-tab-label>
                    </md-tab>               
                    <md-tab ng-if="hasSMSPermission" md-active="templateActiveTab ==='sms'" ng-click="changeTemplateActiveTab('sms');goUrl('sms')">
                        <md-tab-label id="sms-template" aria-controls="{{'Setup.Nav.Tabs.SmsTemplate' | translate}}">
                            <div class="tab-container">
                                <span>{{'Setup.Nav.Tabs.SmsTemplate'  | translate}}</span>
                            </div>
                        </md-tab-label>
                    </md-tab>
                </md-tabs>
            </md-subheader>
            <div class="container-fluid paddingua20">
                <div class="whitebox table-view">
                    <div kendo-grid="grid"  class="grid-theme" id="kendo-grid" k-options="gridOptions"></div>
                    <!--<div kendo-grid="documentGrid"  ng-if="templateActiveTab ==='document'" class="grid-theme" id="document-kendo-grid" k-options="documentGridOptions"></div>
                    <div kendo-grid="excelGrid"  ng-if="templateActiveTab ==='excel'" class="grid-theme" id="excel-kendo-grid" k-options="excelGridOptions"></div>
                    <div kendo-grid="smsGrid"  ng-if="templateActiveTab ==='sms'" class="grid-theme" id="sms-kendo-grid" k-options="smsGridOptions"></div>-->
                </div>
            </div>
        </md-content>
    </section>
</md-content>

<md-sidenav ng-show="sideinclude" id="sideModal" class="md-sidenav-right md-whiteframe-2dp" md-component-id="sideModal" md-is-locked-open="isDocked &&  $mdMedia('gt-lg')">
    <div data-ng-if="sideLoad" data-ng-include="url" layout="column" style="height: 100%;" ng-cloak></div>
</md-sidenav>


