<div class="sub-menu">
    <ul class="nav nav-tabs">
        <li><a href="#/app/setup/modules">{{'Setup.Nav.Tabs.Modules' | translate}}</a></li>
        <li class="active"><a href="#/app/setup/templates">{{'Setup.Nav.Tabs.Templates' | translate}}</a></li>
    </ul>
</div>

<div class="panel panel-default setup-panel settings">
    <div class="panel-body">
        <div ng-show="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <div class="subpanel" ng-show="!loading">
            <h5 class="subpanel-heading ">{{'Setup.Templates.Title' | translate}}</h5>
            <div class="subpanel-body">
                <div class="text-right">
                    <a href="#/app/setup/templateguide" class="btn btn-custom btn-sm btn-w-xxlg "><i class="pull-left fa fa-book"></i> <i class="pull-left"></i> {{'Setup.Templates.SelectTemplateFields' | translate}}</a>
                    <a href="#/app/setup/template" class="btn btn-custom btn-sm btn-w-lg "><i class="pull-left fa fa-file-word-o"></i> {{'Setup.Templates.UploadTemplate' | translate}}</a>
                </div>
                <div class="empty-message" ng-if="templates.length < 1" ng-show="!loading">{{'Common.EmptyMessage' | translate}}</div>
                <div ng-show="!loading && templates.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{'Setup.Templates.TemplateName' | translate}}</th>
                                <th>{{'Setup.Templates.Module' | translate}}</th>
                                <th> {{'Module.ExcelType' | translate }}</th>
                                <th>{{'Setup.Templates.Status' | translate}}</th>
                                <th>{{'Setup.Templates.TemplateFile' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="template in templates">
                                <td>{{template.name}}</td>
                                <td>{{template.module['label_'+language+'_plural']}}</td>
                                <td>{{template.subject}}</td>
                                <td>{{template.active ? ('Setup.Modules.Active' | translate) : ('Setup.Modules.Passive' | translate)}}</td>
                                <td><a href="{{getDownloadUrl(template)}}" target="_blank">{{'Common.Download' | translate}}</a></td>
                                <td class="text-right">
                                    <a href="#/app/setup/template?id={{template.id}}" class="btn btn-xs btn-custom">{{'Common.Edit' | translate}}</a>
                                    <button type="button" class="btn btn-xs btn-custom" href confirm-click action="delete(template)" placement="left" confirm-message="{{'Common.AreYouSure' | translate}}" confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}">{{'Common.Delete' | translate}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>