<section layout="column" style="height: 100%; overflow-y: hidden;" ng-cloak>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="closeSide('sideModal')" aria-label="{{'Common.Close' | translate}}">
                <i class="fas fa-angle-left"></i>
            </md-button>
            <h3 md-truncate>{{'Setup.Templates.SelectTemplateFields' | translate }}</h3>
            <md-button class="md-icon-button dockside" ng-class="isDocked ? 'active': ''" ng-click="sideModaldock()" aria-label="Close">
                <i class="fas fa-thumbtack"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex>
        <div class="container-fluid paddingua20">
            <p ng-show="templateActiveTab ==='excel'">
                {{'Setup.Templates.TemplateGuide1Excel' | translate}}
            </p>
            <div class="form-group">
                <select kendo-drop-down-list
                        id="module"
                        name="module"
                        k-options="moduleOptions"
                        ng-model="templateModule"
                        k-on-change="moduleChanged(templateModule)"
                        k-option-label="'{{'Setup.Templates.SelectMainModul' | translate}}'"></select>
            </div>
            <div class="row" ng-if="templateActiveTab ==='excel'">
                <div class="col-sm-12">
                    <div ng-show="selectedModule" class="" style="">
                        <button class="btn btn-secondary " ng-click="getDownloadUrlExcel()" type="button"><i class="fas fa-download"></i> Download Excel Template</button>
                    </div>
                </div>
            </div>

            <div ng-if="templateActiveTab ==='document'">
                <div class="row" ng-if="selectedModule">
                    <div class="col-sm-12">
                        <div class="alert alert-secondary" role="alert">
                            <small>
                                <ol style="padding-left: 10px;">
                                    <li>
                                        {{'Setup.Templates.TemplateGuide2' | translate}} <span class="foreach-label">
                                            <code>{{ "{{#foreach " + selectedModule.name + "}\}" }}</code><span class="copy-button" title="{{'Common.Copy' | translate}}" ng-click="copyToClipboard('{{#foreach ' + selectedModule.name + '}\}')"
                                    ><i class="copy-icon fa fa-clipboard"></i></span></span>{{'Setup.Templates.TemplateGuide3' | translate}}
                                        <span ng-bind-html="'Setup.Templates.TemplateGuide4' | translate"></span>
                                    </li>
                                    <li>
                                        {{'Setup.Templates.TemplateGuide5' | translate}}
                                    </li>
                                    <li>
                                        {{'Setup.Templates.TemplateGuide6' | translate}}
                                        <span class="foreach-label">
                                            <code>{{ "{{"+tempalteFieldName+"}\}" }}</code><span class="copy-button" title="{{'Common.Copy' | translate}}
                                                                                                 ng-click="ng-click=" copyToClipboard('{{ ' + tempalteFieldName + '}\}')"
                                        ><i class="copy-icon fa fa-clipboard"></i></span></span>
                                        <!--<label style="background-color:#f9f2f4;color:#ca2594;font-family:Consolas"><label>{{/ </label>{{'Setup.Templates.TemplateFieldName' | translate}}<label>}}</label></label>-->
                                        {{'Setup.Templates.TemplateGuide7' | translate}}

                                    </li>
                                    <li>
                                        {{'Setup.Templates.TemplateGuide8' | translate}}<span class="foreach-label">
                                            <code>{{ "{{/foreach " + selectedModule.name + "}\}" }}</code><span class="copy-button" title="{{'Common.Copy' | translate}}"
                                                                                                                ng-click="copyToClipboard('{{/foreach ' + selectedModule.name + '}\}')"><i
                                            class="copy-icon fa fa-clipboard"></i></span></span> <span ng-bind-html="'Setup.Templates.TemplateGuide9' | translate"></span>
                                    </li>
                                    <li ng-if="selectedModule.relatedModules && selectedModule.relatedModules.length">
                                        {{'Setup.Templates.TemplateGuide10' | translate}}
                                    </li>
                                </ol>
                            </small>

                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{'Setup.Templates.FieldName' | translate}}</th>
                                    <th>{{'Setup.Templates.TagName' | translate}}</th>
                                    <th style="width: 30px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="field in selectedModule.fields | filter:{deleted:'!true'} | filter:filterUsers | orderBy:'order'">
                                    <td> {{field.languages[globalization.Label]['label']}}</td>
                                    <td>
                                        <span><code>{{'{\{' + (field.multiline_type_use_html ? 'html__' : field.data_type == 'image' ? 'img__' : '') + field.name + '}\}'}}</code></span>
                                    </td>
                                    <td>
                                        <span class="copy-button" title="{{'Common.Copy' | translate}}" ng-click="copyToClipboard( '{\{' + (field.multiline_type_use_html ? 'html__' : field.data_type == 'image' ? 'img__' : '') + field.name + '}\}')"><i class="copy-icon fa fa-clipboard"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table" ng-repeat="lookupModule in selectedModule.lookupModules">
                            <thead>
                                <tr>
                                    <th colspan="2">{{lookupModule.parent_field.languages[globalization.Label]['label']}} ({{lookupModule.languages[globalization.Label]['label']['singular']}})</th>
                                    <th style="width: 30px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="field in lookupModule.fields | filter:{deleted:'!true'} | orderBy:'order'">
                                    <td> {{field.languages[globalization.Label]['label']}}</td>
                                    <td>
                                        <span><code>{{'{\{' + getRelatedFieldName(field, lookupModule) + '}\}'}}</code></span>
                                    </td>
                                    <td>
                                        <span class="copy-button" title="{{'Common.Copy' | translate}}" ng-click="copyToClipboard('{\{' + getRelatedFieldName(field, lookupModule) + '}\}')"><i class="copy-icon fa fa-clipboard"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="form-group" ng-if="selectedModule">

                    <select kendo-drop-down-list
                            name="selectedSubModule"
                            k-options="subModuleOptions"
                            ng-model="subTemplateModule"
                            k-data-source="selectedModule.relatedModules"
                            k-on-change="subModuleChanged(subTemplateModule)"></select>
                </div>
                <div class="row" ng-if="selectedSubModule">
                    <div class="col-sm-12">
                        <div class="alert alert-secondary" role="alert">
                            <small>
                                <ol>
                                    <li ng-if="selectedSubModule">
                                        {{'Setup.Templates.TemplateGuide11' | translate}}<span class="foreach-label">
                                            <code>{{ "{{#foreach " + selectedSubModule.name + "}\}" }}</code><span class="copy-button" title="{{'Common.Copy' | translate}}" ng-click="copyToClipboard( '{{#foreach ' + selectedSubModule.name + '}\}')"><i
                                            class="copy-icon fa fa-clipboard"></i></span></span> {{'Setup.Templates.TemplateGuide12' | translate}}
                                    </li>
                                    <li ng-if="selectedSubModule ">
                                        {{'Setup.Templates.TemplateGuide13' | translate}}
                                    </li>
                                    <li ng-if="selectedSubModule ">
                                        {{'Setup.Templates.TemplateGuide14' | translate}}<span class="foreach-label">
                                            <code>{{ "{{/foreach " + selectedSubModule.name + "}\}" }}</code><span class="copy-button" title="{{'Common.Copy' | translate}}" ng-click="copyToClipboard('{{/foreach ' + selectedSubModule.name + '}\}')"><i
                                            class="copy-icon fa fa-clipboard"></i></span></span><span ng-bind-html="'Setup.Templates.TemplateGuide15' | translate"></span>
                                    </li>
                                </ol>
                            </small>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{'Setup.Templates.FieldName' | translate}}</th>
                                <th>{{'Setup.Templates.TagName' | translate}}</th>
                                <th style="width: 30px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="field in selectedSubModule.fields | filter:{deleted:'!true'} | filter:filterUsers | orderBy:'order'">
                                <td> {{field.languages[globalization.Label]['label']}}</td>
                                <td>
                                    <span><code>{{'{\{' + (field.multiline_type_use_html ? 'html__' : field.data_type == 'image' ? 'img__' : '') + field.name + '}\}'}}</code></span>
                                </td>
                                <td>
                                    <span class="copy-button" title="{{'Common.Copy' | translate}}"  ng-click="copyToClipboard( '{\{' + (field.multiline_type_use_html ? 'html__' : field.data_type == 'image' ? 'img__' : '') + field.name + '}\}')"><i class="copy-icon fa fa-clipboard"></i></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table" ng-repeat="lookupModule in selectedSubModule.lookupModules">
                            <thead>
                            <tr>
                                <th colspan="2">{{lookupModule.parent_field.languages[globalization.Label]['label']}} ({{lookupModule.languages[globalization.Label]['label']['singular']}})</th>
                                <th style="width: 30px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="field in lookupModule.fields | filter:{deleted:'!true'} | orderBy:'order'">
                                <td>{{field.languages[globalization.Label]['label']}}</td>
                                <td>
                                    <span><code>{{'{\{' + getRelatedFieldName(field, lookupModule) + '}\}'}}</code></span>
                                </td>
                                <td>
                                    <span class="copy-button" title="{{'Common.Copy' | translate}}"   ng-click="copyToClipboard('{\{' + getRelatedFieldName(field, lookupModule) + '}\}')"><i class="copy-icon fa fa-clipboard"></i></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>

                    </div>
                </div>

            </div>
    </md-content>
</section>