<div class="sub-menu">
    <ul class="nav nav-tabs">
        <li><a href="#/app/setup/users">{{'Setup.Nav.Tabs.Users' | translate}}</a></li>
        <li><a href="#/app/setup/profiles">{{'Setup.Nav.Tabs.Profiles' | translate}}</a></li>
        <li><a href="#/app/setup/roles">{{'Setup.Nav.Tabs.Roles' | translate}}</a></li>
        <li class="active"><a href="#/app/setup/usergroups">{{'Setup.Nav.Tabs.UserGroups' | translate}}</a></li>
        <li><a href="#/app/setup/usercustomshares">{{'Setup.UserCustomShares.Title' | translate}}</a></li>
    </ul>
</div>
<div class="panel panel-default setup-panel usergroups">
    <div class="panel-body">
        <div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
        <div ng-show="!loading">
            <div class="subpanel">
                <h5 class="subpanel-heading">{{'Setup.UserGroups.Title' | translate}}</h5>
                <div class="subpanel-body">
                    <div class="text-right">
                        <a href="#/app/setup/usergroup" class="btn btn-custom btn-sm btn-w-lg pull-right"><i class="fa fa-plus pull-left"></i> {{'Setup.UserGroups.NewUserGroup' | translate}}</a>
                    </div>
                    <div class="empty-message" ng-if="userGroups.length < 1" ng-show="!loading">{{'Common.EmptyMessage' | translate}}</div>
                    <div ng-show="!loading && userGroups.length > 0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{'Setup.UserGroups.GroupName' | translate}}</th>
                                    <th>{{'Setup.UserGroups.GroupDescription' | translate}}</th>
                                    <th class="action-column"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="userGroup in userGroups">
                                    <td class="group-name"><a href="#/app/setup/usergroup?id={{userGroup.id}}">{{userGroup.name}}</a></td>
                                    <td class="group-description">{{userGroup.description}}</td>
                                    <td class="text-right">
                                        <a href="#/app/setup/usergroup?clone={{userGroup.id}}" class="btn btn-xs btn-custom">{{'Common.Copy' | translate}}</a>
                                        <button type="button" class="btn btn-xs btn-custom" action="delete(userGroup.id)" placement="left" confirm-message="{{'Common.AreYouSure' | translate}}" confirm-yes="{{'Common.Yes' | translate}}" confirm-no="{{'Common.No' | translate}}" title="{{'Common.Delete' | translate}}" confirm-click>{{'Common.Remove' | translate}}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>