<form class="disable-validation-msg"  name="userGroupForm" ng-submit="submit()" autocomplete="off" style="height:100%;" kendo-validator="validator" ng-cloak ng-controller="UserGroupFormController">
    <div ng-show="loadingModal" class="spin">
        <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
    </div>
    <section ng-show="!loadingModal" layout="column" style="height: 100%; overflow-y: hidden;" ng-cloak>
        <md-toolbar md-scroll-shrink ng-if="true">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="closeSide('sideModal')" aria-label="{{'Common.Close' | translate}}"><i class="fas fa-angle-left"></i></md-button>
                <h3 md-truncate ng-if="!userGroup.id">{{'Setup.UserGroups.NewUserGroup' | translate}}</h3>
                <h3 md-truncate ng-if="userGroup.id">{{'Setup.UserGroups.EditUserGroup' | translate}}</h3>
                <md-button class="md-icon-button dockside" ng-class="isDocked ? 'active': ''" ng-click="sideModaldock()" aria-label="Close"><i class="fas fa-thumbtack"></i></md-button>
                <span flex></span>

                <md-button type="submit" class="md-icon-button btn btn-primary"><i class="fas fa-save"></i> <md-tooltip md-autohide="true" md-direction="bottom">{{'Common.Save' | translate}}</md-tooltip></md-button>
            </div>
        </md-toolbar>
        <md-content flex>
            <div class="container-fluid paddingua20">
                <div>
                    <div class="title">
                        <h5>{{'Setup.UserGroups.Info' | translate}}</h5>
                    </div>
                    <div class="whitebox">
                        <div class="form-group">
                            <label for="name" class="required">
                                <span>{{'Setup.UserGroups.GroupName' | translate}}</span>
                                <span class="label-right">
                                    <span class="required-label">{{'Common.Required' | translate}}</span>
                                </span>
                            </label>
                            <input id="name" name="name" class="k-textbox" maxlength="100"
                                   required ng-model="userGroup.languages[globalization.Label]['name']" validationMessage="{{'Module.Required' | translate}}" />
                            <span class="k-invalid-msg" data-for="name"></span>
                        </div>
                        <div class="form-group">
                            <label for="description">
                                {{'Setup.UserGroups.GroupDescription' | translate}}
                            </label>
                            <textarea rows="2" name="description" class="form-control" maxlength="500" id="description"
                                      auto-grow ng-model="userGroup.languages[globalization.Label]['description']"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="users">
                                <span>{{'Setup.UserGroups.GroupUsers' | translate}}</span>
                                <span class="label-right">
                                    <span class="required-label">{{'Common.Required' | translate}}</span>
                                </span>
                            </label>
                            <select id="users" 
                                    name="users" 
                                    kendo-multi-select 
                                    k-ng-model="userGroup.users"
                                    required
                                    k-options="usersOptions" 
                                    validationMessage="{{'Module.Required' | translate}}"
                                    data-placeholder="'{{'Common.MultiselectPlaceholder' | translate}}'"></select>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </section>
</form>
