@using System.Globalization
@using System.Threading
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PRIMEAPPS</title>
    <link rel="stylesheet" href="/styles/bundles-css/auth.css" asp-append-version="true" />
</head>
<style>
    body {
        background-image: url(/images/authentication_home.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #fof {
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -70%);
    }

        #fof .hgroup h1, #fof .hgroup h2 {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-family: sans-serif;
        }

        #fof h1 {
            font-family: Montserrat,sans-serif,Arial;
            font-weight: 700;
            font-size: 55px;
            color: white;
            line-height: 1em;
            letter-spacing: 7px;
        }

        #fof p:first-child {
            margin-top: 0;
        }
</style>
<body>
    <div class="wrapper row2">
        <div id="container" class="clear">

            <div id="fof" class="clear">
                <h1>PRIMEAPPS</h1>
                <h1>AUTHENTICATION SERVER</h1>
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="/scripts/bundles-js/auth.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
