<div class="sub-menu">
    <ul class="nav nav-tabs">
        <li><a href="#/app/setup/general">{{'Setup.Nav.Tabs.General' | translate}}</a></li>
        <li><a href="#/app/setup/messaging">{{'Setup.Nav.Tabs.Messaging' | translate}}</a></li>
        <li><a href="#/app/setup/outlook">Outlook</a></li>
        <li class="active" ng-show="phoneSettings.sipLicenseCount"><a href="#/app/setup/phone">{{'Setup.Nav.Tabs.Phone' | translate}}</a></li>
        <li ng-if="hasAdminRight"><a href="#/app/setup/office">{{'Setup.Nav.Tabs.Office' | translate}}</a></li>

    </ul>
</div>
<div class="tab-content">
    <div class="panel panel-default setup-panel settings">
        <div class="panel-body">
            <div class="subpanel">
                <h5 class="subpanel-heading">{{'Setup.Phone.Settings' | translate}}</h5>
                <div class="subpanel-body">
                    <form name="sipProviderForm" ng-submit="editSipProvider()" class="form-horizontal" novalidate>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label ng-if="!sipProvider">{{'Setup.Phone.NoProvider' | translate}}</label>
                                <label ng-if="sipProvider">{{'Setup.Phone.ProviderTitle' | translate}}</label>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label class="col-sm-3 control-label">{{'Setup.Phone.Provider' | translate}}</label>
                            <div class="col-sm-9">
                                <select name="sipProvider" class="form-control" required ng-model="sipProvider">
                                    <option value="">{{'Common.Select' | translate}}</option>
                                    <option value="verimor">Verimor</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="sipProvider" show-errors>
                            <label class="col-sm-3 control-label">{{'Setup.Phone.CompanyKey' | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" name="text" class="form-control" autocomplete="off" required ng-model="sipCompanyKey" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3">
                                <button type="submit" class="btn btn-primary btn-w-lg" ladda="sipProviderUpdating" style="margin-left:15px;">
                                    <i class="fa fa-check-circle pull-left"></i>
                                    <span>{{'Common.Save' | translate}}</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="subpanel" ng-show="sipSettings && sipProvider">
                <h5 class="subpanel-heading">{{'Setup.Phone.Users' | translate}}</h5>
                <div class="subpanel-body">
                    <div class="form-group">
                        <div class="col-sm-12" style="padding:0">
                            <label class="pull-left" ng-if="sipUsers.length < 1">{{'Setup.Phone.NoUser' | translate}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="padding:0">
                            <div class="pull-left"><b>{{'Setup.Phone.LicensesBought' | translate}} :</b> {{ licensesBought }}</div>
                            <div class="pull-left" style="margin-left:40px;"><b>{{'Setup.Phone.LicensesUsed' | translate}} :</b> {{ licensesUsed }}</div>
                            <div class="pull-left" style="margin-left:40px;"><b>{{'Setup.Phone.LicensesLeft' | translate}} :</b> {{ licenseAvailable }}</div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button ng-if="licensesBought > licensesUsed" type="button" id="createButton" class="btn btn-custom btn-sm btn-w-lg " ng-click="showCreateAccountForm()"><i class="fa fa-plus pull-left"></i> {{'Setup.Phone.CreateUserAccount' | translate}}</button>
                    </div>
                    <table class="table" ng-if="sipUsers.length > 0">
                        <thead>
                            <tr>
                                <th>{{'Setup.Phone.User' | translate}}</th>
                                <th>{{'Setup.Phone.Extension' | translate}}</th>
                                <th>{{'Setup.Phone.Server' | translate}}</th>
                                <th style="min-width: 110px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sipUser in sipUsers">
                                <td>
                                    <i ng-if="sipUser.isActive === 'true'" class="fa fa-circle" style="color:greenyellow"></i>
                                    <i ng-if="sipUser.isActive === 'false'" class="fa fa-circle-o" style="color:gray"></i>
                                    {{sipUser.name}}
                                </td>
                                <td>{{sipUser.extension}}</td>
                                <td>{{sipUser.server}}</td>
                                <td class="text-right">
                                    <button type="button" id="editButton{{sipUser.userId}}"
                                            class="btn btn-xs btn-custom"
                                            ng-click="showEditAccountForm(sipUser)">{{'Common.Edit' | translate}}
                                    </button>
                                    <button type="button" class="btn btn-xs btn-custom" ng-if="!userItem.isAdmin" ng-hide="userItem.profile.has_admin_rights && userItem.id === user.id"
                                            data-template-url="view/setup/phone/sipAccountDelete.html" data-auto-close="true"
                                            data-placement="left" bs-popover>{{'Common.Remove' |
                                        translate}}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>