<div class="popover">
    <div class="arrow"></div>
    <div class="popover-content">
        <p ng-bind-html="'Setup.Users.UserDeleteMessage' | translate"></p>
        <button type="button" class="btn btn-danger btn-w-lg" ladda="userDeleting" ng-click="dismiss($parent.userItem, $parent.$index)"><i class="fa fa-exclamation-circle pull-left"></i>
            {{'Common.Confirm' | translate}}
        </button>
        <button type="button" class="btn btn-custom" ng-click="$hide()" ng-disabled="userDeleting"> {{'Common.Cancel' | translate}}</button>
    </div>
</div>
