<div class="panel panel-default setup-panel">
    <div class="panel-body">
        <div ng-if="!licenseStatus.License.IsSingleWorkgroupLimited">
            <div ng-if="loading" class="page-loading"><i class="fa fa-sm fa-spinner fa-pulse"></i></div>
            <div class="license" ng-if="!loading">
                <div class="subpanel">
                    <h5 class="subpanel-heading">{{'Setup.License.Title1' | translate}}</h5>
                    <div class="subpanel-body">
                        <table class="license-info">
                            <tr>
                                <td>{{'Setup.License.LicenseType' | translate}}:</td>
                                <td>
                                    <span ng-if="licenseInfo.CurrentPaymentFrequency == 1">{{'Setup.License.LicenseTypeMountly' | translate}}</span>
                                    <span ng-if="licenseInfo.CurrentPaymentFrequency == 1" class="annualPromo" ng-show="!payment.HasAdjustment">({{'Setup.License.LicenseTypeMountlyPromo' | translate}})</span>
                                    <span ng-if="licenseInfo.CurrentPaymentFrequency == 12">{{'Setup.License.LicenseTypeAnnual' | translate}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Setup.License.Date' | translate}}:</td>
                                <td>{{licenseStatus.NextInvoiceDate | msDate | date:'dd MMMM yyyy'}}</td>
                            </tr>
                            <tr ng-if="licenseStatus.Campaign && !payment.HasAdjustment">
                                <td>{{'Setup.License.Campaign' | translate}}:</td>
                                <td>{{licenseStatus.Campaign.Name}}</td>
                            </tr>
                            <tr ng-if="licenseStatus.RemainingFreeDays > 0">
                                <td>{{'Setup.License.RemainingFreeDays' | translate}}</td>
                                <td>{{licenseStatus.RemainingFreeDays}}</td>
                            </tr>
                        </table>

                        <div class="change-license" ng-show="!payment.HasAdjustment">
                            <button type="button" id="changeButton" class="btn btn-primary btn-w-xlg" ng-click="showChangePopover()">
                                <span ng-if="licenseInfo.CurrentPaymentFrequency == 1"><i class="fa fa-exchange pull-left"></i> {{'Setup.License.ChangeAnnual' | translate}}</span>
                                <span ng-if="licenseInfo.CurrentPaymentFrequency == 12"><i class="fa fa-exchange pull-left"></i> {{'Setup.License.ChangeMountly' | translate}}</span>
                            </button>
                        </div>

                        <table class="table license-table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{{'Setup.License.Total' | translate}}</th>
                                <th>{{'Setup.License.Limit' | translate}}</th>
                                <th>{{'Setup.License.Extra' | translate}}</th>
                                <th ng-show="!payment.HasAdjustment"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><b>{{'Setup.License.User' | translate}}</b></td>
                                <td>{{licenseStatus.LicenseUsage.UserCount}}</td>
                                <td>1</td>
                                <td>{{licenseStatus.AddonUsers}}</td>
                                <td ng-show="!payment.HasAdjustment">
                                    <button type="button" id="removeButtonUser" class="btn btn-xs btn-danger" ng-click="showRemovePopover('user')" ng-disabled="licenseStatus.AddonUsers < licenseStatus.LicenseUsage.UserCount">{{'Setup.License.Reduce' | translate}}</button>
                                </td>
                            </tr>
                            <tr>
                                <td><b>{{'Setup.License.Storage' | translate}}</b></td>
                                <td ng-init="percent = ((licenseStatus.License.StorageSize + licenseStatus.AddonStorageSize + licenseStatus.RewardStorageSize) | storagePercent:(licenseStatus.LicenseUsage.FileStorageSize + licenseStatus.LicenseUsage.OtherStorageSize))">
                                    <span ng-class="percent > 90 ? (percent < 100 ? 'warning' : 'danger') : 'stable'">{{(licenseStatus.LicenseUsage.FileStorageSize + licenseStatus.LicenseUsage.OtherStorageSize) | size}} (%{{percent}})</span>
                                    <span>{{'Setup.License.Document' | translate}}: {{licenseStatus.LicenseUsage.FileStorageSize == 0 ? '0 B' : (licenseStatus.LicenseUsage.FileStorageSize | size)}} +</span>
                                    <span>{{'Setup.License.Other' | translate}}: {{licenseStatus.LicenseUsage.OtherStorageSize == 0 ? '0 B' : (licenseStatus.LicenseUsage.OtherStorageSize | size)}}</span>
                                </td>
                                <td>{{licenseStatus.License.StorageSize | size}}</td>
                                <td>{{licenseStatus.AddonStorageSize}} GB</td>
                                <td ng-show="!payment.HasAdjustment">
                                    <button type="button" id="removeButtonStorage" class="btn btn-xs btn-danger" ng-click="showRemovePopover('storage')" ng-disabled="licenseStatus.AddonStorageSize < 1">{{'Setup.License.Reduce' | translate}}</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

                <div class="subpanel" ng-show="!payment.HasAdjustment">
                    <h5 class="subpanel-heading">{{'Setup.License.Title2' | translate}}</h5>
                    <div class="subpanel-body">
                        <h5>{{'Setup.License.SubTitle1' | translate}}</h5>

                        <form name="addonForm" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'Setup.License.User' | translate}}</label>
                                <div class="col-sm-10 slider-container">
                                    <slider
                                            class="slider"
                                            ng-model="addonModel.user"
                                            floor="0"
                                            ceiling="20"
                                            step="1">
                                    </slider>
                                    <span class="amount" ng-show="addonModel.user">{{addonModel.user * addonPrice}} <i class="fa fa-{{user.currency.toLowerCase()}}"></i></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'Setup.License.Storage' | translate}}</label>
                                <div class="col-sm-10 slider-container">
                                    <slider
                                            class="slider"
                                            ng-model="addonModel.disk"
                                            floor="0"
                                            ceiling="20"
                                            step="1">
                                    </slider>
                                    <span class="amount" ng-show="addonModel.disk">{{addonModel.disk * addonStoragePrice}} <i class="fa fa-{{user.currency.toLowerCase()}}"></i></span>
                                </div>
                            </div>

                            <div class="form-group" ng-show="addonModel.user || addonModel.disk">
                                <label class="col-sm-2 control-label total">{{'Setup.License.Total' | translate}}</label>
                                <div class="col-sm-10 total">
                                    <span>{{(addonModel.user * addonPrice) + (addonModel.disk * addonStoragePrice)}} <i class="fa fa-{{user.currency.toLowerCase()}}"></i></span>
                                </div>
                            </div>

                            <div class="form-group addon-button-container">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" id="addAddonButton" class="btn btn-primary btn-w-lg" ng-click="showAddonPopover()" ng-disabled="!addonModel.user && !addonModel.disk"><i class="fa fa-plus pull-left"></i> {{'Setup.License.AddToAccount' | translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="join-offer" ng-if="licenseStatus.License.IsSingleWorkgroupLimited">
            <i class="flaticon-crown37"></i>
            <p ng-bind-html="'Setup.License.JoinMessage' | translate"></p>
            <p>
                <button class="btn btn-primary btn-w-lg" ladda="upgrading" ng-click="upgrade()"><i class="fa fa-check-circle pull-left"></i> {{'Join.JoinNow' | translate}}</button>
            </p>
        </div>
    </div>
</div>