<div class="feed-form-container" ng-show="show">
    <form class="feed-form form-inline" ng-submit="create(feed)">
        <div class="form-group">
            <div class="input-group">
                <textarea rows="1" class="form-control" ng-model="feed.text" maxlength="500" focus="show" auto-grow></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-sm btn-primary" ng-disabled="!feed.text" ladda="feedCreating"><i class="fa fa-check"></i> {{'Feed.AddNote' | translate}}</button>
        <button type="button" class="btn btn-sm btn-custom" ng-click="cancelCreate(feed)">{{'Common.Cancel' | translate}}</button>
    </form>
</div>